.link-login {
    font: 14px/18px $helvetica !important;
    color: #7f848c !important;
    text-transform: uppercase;
    margin-right: 17px;

    &:hover {
        color: lighten(#7f848c, 10%) !important;
    }
}