.course-outline {
    position: relative;
    overflow: hidden;
    transition: height .1s;
    height: auto;
    box-sizing: border-box;
    padding-bottom: 21px;
    margin-bottom: 20px;

    &_link {
        color: #2968aa;

        &:hover {
            cursor: pointer;
        }
    }
    &_more {
        display: inline-block;
    }
    &_hide {
        display: none;
    }
    &__height {
        height: 0;
    }
    .course-outline__open & {
        &_more {
            display: none;
        }
        &_hide {
            display: inline-block;
        }
    }
}