.footer {
    &_list {
        margin: 0;
        padding: 0;
        text-align: center;
        li {
            display: inline-block;
            vertical-align: middle;
            margin-left: 10px;
            &:first-child {
                margin-left: 0;
            }
        }
    }
    &_icons {
        display: inline-block;
        background-image: url(../images/icons.png);
        background-repeat: no-repeat;
        width: 35px;
        height: 35px;
        &__fb {
            background-position: -44px -3px;
        }
        &__youtube {
            background-position: -126px -3px;
        }
        &__music {
            background-position: -85px -3px;
        }
        &__crown {
            background-position: -3px -3px;
        }
    }
}