body a.help-link {
    margin: 12px 15px;
    float: right;
    font-size: 14px;
    font-weight: bold;
    color: #3c3c3c;
    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
        color: #3c3c3c;
    }
}