.discussion-body {
    max-width: 1180px;
    margin: 0 auto;
    .comments {
        .comment-form {
            .wmd-input {
                overflow: hidden;
            }
        }
    }
}
.discussion .icon-fallback-img .icon-angle-down {
    background: transparent;
}