.icon-fallback-img .icon-angle-down,
.header-global .wrapper-header .course-header {
    display: none;
}
.main-header_wrapper {
    background: #30363a;
}

.header-global .wrapper-header .logo {
    margin-top: 12px;
}

.header-global .wrapper-header .wrapper-user-menu {
    margin-top: 0;
}
.dropdown-menu-container .menu-title,
.header-global .nav-global .tab-nav-item .tab-nav-link,
.header-global .nav-global .tab-nav-item .tab-nav-link {
    &:hover,
    &:focus,
    &:active {
        border: none;
        text-decoration: none;
        color: #46bc8c;
    }
}
.dropdown-menu-container .dropdown-menu .dropdown-item a,
.wrapper-footer footer#footer-openedx ul a,
.main-header .nav-global li a,  
.main-header .nav-global div a {
    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
    }
}