/*
der-global .wrapper-header .list-inline.nav-courseware {
  margin-top: -4px;
  margin-bottom: 0;
}

.grid-container {
  max-width: 1200px;
}

body.discussion {
  .course-tabs {
    .right {
      margin-left: 20%;
    }
  }
}

.raccoon-block {
  width: initial;
  display: inline-block;
  // position: absolute;
  margin-top: 4px;
  margin-bottom: 10px;
  // float: right;
  a:hover {
    text-decoration: none;
  }
}

.raccoongang {
  font-size: 12px;
  color: #767676;
  span {
    float: left;
  }
  //img {
  //  height: 30px;
  //  vertical-align: baseline;
  //  }
}

.raccoon-img {
  height: 25px;
  vertical-align: middle;

  &__edx {
    height: 17px;
    vertical-align: baseline;
  }
}*/

body {
    background: #fff;
}

.extra-block {
  white-space: nowrap;
  margin-top: 10px;
}

.extra-block img {
  margin-left: 70px;
}

.wrapper-footer footer#footer-openedx .copyright {
  margin: -2px 0 8px 70px;
  color: #767676;
}

.wrapper-footer footer#footer-openedx {
  max-width: 1400px;
}

.raccoon-block {
  margin-top: 10px;
  margin-left: 70px;
  margin-bottom: 12px;
}

img#first-img {
  height: 55px;
}

img#second-img {
  height: 55px;
}

img#third-img {
  height: 95px;
  padding-top: 5px;
}

img#fourth-img {
  width: 300px;
  height: 55px;
  padding-top: 15px;
}

.header-global h1.logo a {
  margin: 0 16px;
}

.course-info header.course-profile {
  padding-top: 80px;
  padding-bottom: 100px;
}

.raccoon-img {
  height: 25px;
  vertical-align: middle;

  &__edx {
    height: 17px;
    vertical-align: baseline;
  }
}

.raccoon-img-logo {
  height: 25px;
  vertical-align: baseline;
}

.wrapper-footer footer#footer-openedx a {
  color: #767676;
  font-size: 12px;
}

.wrapper-footer footer#footer-openedx a:hover {
  border-bottom: none;
  box-shadow: none;
  color: #767676;
}

.wrapper-footer {
  padding: 0 10px 0 10px;
  background: #f1f1f1;
  border-top: 1px solid #c5c6c7;
  height: 177px;
}

.header-global .wrapper-header .course-header {
  color: #3c3c3c;
  font-size: 0.9em;
  font-weight: 600;
}

.header-global.slim .wrapper-header .list-inline.nav-global {
  margin-top: none;
}

#explore {
  color: #0079bc;
  font-size: 14px;
}

.header-global .wrapper-header .logo {
  margin-top: 0; 
}
