/*HEADER*/
.header-global .wrapper-header .list-inline .item a {
  font-size: 14px;
}


/*FOOTER*/
body {
  background: #fff;
}

.wrapper-footer {
  box-shadow: 0 -1px 5px 0 rgba(0,0,0,0.1);
  border-top: 1px solid #e9e8e8;
  padding: 10px 10px;
  background: #ddd;
}

.footer-text {
  color: #000;
}

.footer-text img {
  vertical-align: baseline;
  width: 120px;
}

.wrapper-footer footer#footer-openedx .colophon .nav-colophon {
  margin: 0 0 5px 0;
}

.wrapper-footer footer#footer-openedx .colophon .nav-colophon li a {
  color: #000;
}

.wrapper-footer footer#footer-openedx .colophon .nav-colophon li a:hover {
  color: #61a60e;
}

.wrapper-footer footer#footer-openedx .colophon {
    height: 75px;
}

.wrapper-footer footer#footer-openedx .wrapper-logo {
  font-size: 16px;
  margin: 0px;
  display: inline;
}

#raccoon-logo {
  width: 28px;
  margin-left: -3px;
}

.wrapper-footer footer#footer-openedx a:hover {
  box-shadow: none;
  border-bottom: none;
}

.wrapper-footer footer#footer-openedx a:active {
  box-shadow: none;
  border-bottom: none;
}

.wrapper-footer footer#footer-openedx a:focus {
  box-shadow: none;
  border-bottom: none;
  color: #000;
}

.wrapper-footer footer#footer-openedx .colophon .nav-colophon li a:focus {
  color: #000;
}

.wrapper-footer footer#footer-openedx {
  line-height: 100px;
}