.discussion-body {
    max-width: 1180px;
    margin: 0 auto;
    .comments {
        .comment-form {
            .wmd-input {
                overflow: hidden;
            }
        }
    }
}
.discussion .icon-fallback-img .icon-angle-down {
    background: transparent;
}
body.discussion .discussion-post .post-body, body.discussion .discussion-article .post-body,
body.discussion .container .discussion-body .wmd-input,
body.discussion .forum-response .discussion-comment .response-body {
    font-size: 16px;
    line-height: 22.4px;
}
.container .discussion-body .wmd-input {
    font-family: $f-sans-serif;
}