.icon-fallback-img .icon-angle-down,
.header-global .wrapper-header .course-header {
    display: none;
}
.main-header_wrapper {
    background: #30363a;
}

.header-global .wrapper-header .logo {
    margin-top: 12px;
}

.header-global .wrapper-header .wrapper-user-menu {
    margin-top: 0;
    @media screen and (max-width: $responsive-large) {
        margin-top: 10px;
    }
}
.dropdown-menu-container .dropdown-menu .dropdown-item a:hover, 
.dropdown-menu-container .dropdown-menu .dropdown-item a:active, 
.dropdown-menu-container .dropdown-menu .dropdown-item a:focus {
    text-decoration: none;
}
.wrapper-footer {
    footer#footer-openedx {
        a {
            &:hover,
            &:focus,
            &:active {
                border-bottom: none;
                text-decoration: none;
            }
        }
    }
}
.main-header_holder {
        a {
            &:hover,
            &:focus,
            &:active {
                text-decoration: none;
            }
        }
}
aside.layout-col {
    margin-bottom: 80px;
    @media screen and (min-width: 768px) {
        margin-bottom: 0;
    }
}
.view-discussion-home {
    padding-left: 0;
    @media screen and (min-width: 768px) {
        padding-left: 20px;
    }
}