@import "../const";

/*HEADER*/
.header-global .wrapper-header .list-inline .item a {
  font-size: 14px;
}


/*FOOTER*/
.wrapper-footer {
  box-shadow: 0 -1px 5px 0 rgba(0,0,0,0.1);
  border-top: 1px solid #e9e8e8;
  padding: 10px 10px;
  background: #1c2a33;
}

.footer-text {
  color: #fff;
}

.footer-text img {
  width: 150px;
}

.wrapper-footer footer#footer-openedx .colophon .nav-colophon {
  margin: 0;
  display: flex;
  height: 111px;
  align-items: center;
}

.wrapper-footer footer#footer-openedx .colophon .nav-colophon li a {
  color: #fff;
  vertical-align: text-bottom;

}

.wrapper-footer footer#footer-openedx .colophon .nav-colophon li a:hover {
  color: #e00000;
}

.wrapper-footer footer#footer-openedx .colophon {
  margin: 0;
  width: inherit;
}

.wrapper-footer footer#footer-openedx .wrapper-logo {
    font-size: 16px;
    margin: 0px;
    display: inline;
}

#raccoon-logo {
  width: 35px;
  margin-left: 5px;
}
#logo {
  height: 20px;
    @media screen and (max-width: $responsive-large) {
      margin-left: 20px;
    }
}
.wrapper-footer footer#footer-openedx {
  height: 111px;
  justify-content: space-between;
  &:after {
    display: none;
  }
    @media screen and (max-width: $responsive-large) {
        height: auto;
    }
}

.wrapper-footer footer#footer-openedx a:hover {
  box-shadow: none;
  border-bottom: none;
}

.wrapper-footer footer#footer-openedx a:active {
  box-shadow: none;
  border-bottom: none;
}

.wrapper-footer footer#footer-openedx a:focus {
  box-shadow: none;
  border-bottom: none;
  color: #000;
}

.wrapper-footer footer#footer-openedx .colophon .nav-colophon li a:focus {
  color: #fff;
}

.header-global.slim {
  .wrapper-header {
    height: auto;
    .list-inline.nav-global {
      margin: 0 0 0 50px;
    }
    .logo {
      img {
        height: 50px;
      }
    }
  }
}

#opus-logo-d {
  height: 90px;
}

.flex-center {
  display: flex;
  align-items: center;
  height: 111px;
  justify-content: space-between;
}

.wrapper-footer footer#footer-openedx .colophon .nav-colophon li {
  margin-bottom: 0;
  margin-right: 15px;
}

[class^='wrapper']{
  width: inherit;
}

.slash {
  float: left;
}

.wrapper-msg.wrapper-auto-cert {
  margin: auto;
}

.wrapper-footer footer#footer-openedx .footer-about-openedx:last-child {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 111px;
}

.wrapper-footer footer#footer-openedx .footer-about-openedx a {
  display: flex;
  align-items: center;
  height: 111px;
}

.wrapper-footer footer#footer-openedx .colophon .nav-colophon ol {
  height: 22px;
    @media screen and (max-width: $responsive-large) {
        height: auto;
        margin-left: 0;
    }
}

#org-logo {
  margin-bottom: 12px;
  height: 80px;
  margin-left: 5px;
}
.header-global .wrapper-header {
  display: flex;
  align-items: center;
  padding:0;
  height: 76px;
  justify-content: space-between;
  &:after {
    display: none;
  }
}
/*Header added*/
.header-global {
  height: 76px;
  background: #e00000;
  z-index: 100;
}

.header-global.slim .wrapper-header {
  height: 76px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.header-global.slim .wrapper-header .course-header {
  margin: 0;
  color: #fff;
  text-shadow: none;
  width: initial;
  flex-grow: 2;
  font-weight: 600;
  font-size: 14.4px;
}

.dropdown-menu-container .menu-button {
  margin-top: 7px;
}

.header-global.slim .wrapper-header .wrapper-user-menu {
  text-align: center;
}

.header-global .wrapper-header .logo {
  margin: 0;
}

.header-global .wrapper-header .logo a {
  display: flex;
}

.header-global.slim .wrapper-header .logo img {
  margin: 0;
  height: 20px;
}

.header-global.slim .wrapper-header .list-inline.nav-global {
  margin: 0;
}

a#find-courses,
#find-courses {
  color: #fff;
  font-size: 20px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  left: 25px;
    @media screen and (max-width: $responsive-large) {
        margin: 0 0 10px 0;
        left: 0;
    }
}

.dropdown-menu-container .menu-image {
  border-radius: 10%;
  color: #fff;
}

.dropdown-menu-container .menu-title:hover {
  color: #000;
  line-height: 40px;
}

.dropdown-menu-container .menu-title:focus {
  color: #000;
}

.dropdown-menu-container .menu-title:active {
  color: #000;
}

.forum-nav-browse {
  display: block !important;
  width: 150px !important;
}

.btn-neutral {
  background: #e00000;
  border: 1px solid #e00000;
  box-shadow: none;
  text-shadow: none;
  color: #fff;
}

.btn-neutral:hover {
  background: #fff;
  color: #e00000;
  border: #e00000 1px solid;
}

.btn-neutral:focus {
  background: #e00000;
  outline: none;
  box-shadow: none;
  color: #fff;
}

.btn-neutral:active {
  background: #e00000;
  outline: none;
  box-shadow: none;
  color: #fff;
}

.tabs .tab a.active {
  color: #e00000 !important;
  border-bottom-color: #e00000 !important;
}

.tabs .tab a.active:hover {
  color: #1c2a33 !important;
  border-bottom-color: #1c2a33 !important;
}

.tabs .tab a.active:focus {
  color: #e00000 !important;
  border-bottom-color: #e00000 !important;
}

.tabs .tab a:hover {
  color: #1c2a33 !important;
  border-bottom-color: #1c2a33 !important;
}

.tabs .tab a:focus {
  color: #1c2a33 !important;
  border-bottom-color: #1c2a33 !important;
}

.dropdown-menu-container .dropdown-menu .dropdown-item a {
  color: #e00000;
}

.dropdown-menu-container .dropdown-menu .dropdown-item a:hover {
  color: #1c2a33;
  text-decoration: none;
}

.dropdown-menu-container .dropdown-menu .dropdown-item a:focus {
  color: #1c2a33;
  text-decoration: none;
}

.forum-new-post-form .post-type-label {
  background: #fff;
  color: #e00000;
  border: 1px solid #e00000;
  cursor: pointer;
  &:hover,
  &:focus,
  &:active {
    background: #e00000;
    color: white;
    border: 1px solid #e00000;
  }
}

.forum-new-post-form .post-topic a.topic-title {
  color: #e00000;
}

.forum-new-post-form .post-option.is-enabled {
  color: #e00000;
  border-color: #e00000;
}

.forum-new-post-form .submit {
  background: #e00000;
  border-color: #e00000;
  box-shadow: none;
  &:hover,
  &:focus,
  &:active {
    background: #e00000;
    border-color: #e00000;
    box-shadow: none;
  }
}

body.discussion .posted-details .username {
  color: #e00000;
  &:hover,
  &:focus {
    color: #e00000;
  }
}

.container .discussion-body .discussion-submit-post {
  background: #e00000;
  border-color: #e00000;
  box-shadow: none;
  &:hover,
  &:focus,
  &:active {
    background: #e00000;
    border-color: #e00000;
    box-shadow: none;
  }
}

.forum-new-post-form .post-type-input:checked+.post-type-label {
  color: #fff;
  background: #e00000;
  border: 1px solid #e00000;
  box-shadow: none;
  &:hover,
  &:focus,
  &:active {
    color: #fff;
    background: #e00000;
    border: 1px solid #e00000;
    box-shadow: none;
  }
}

.forum-nav-thread-title {
  color: #e00000;
  &:hover,
  &:focus {
    color: #e00000;
    text-decoration: none;
  }
}
.forum-nav-thread.is-unread .forum-nav-thread-comments-count {
  color: #e00000;
}

.forum-nav-thread.is-unread .forum-nav-thread-comments-count:hover {
  color: #e00000;
  text-decoration: none;
}

.forum-nav-thread.is-unread .forum-nav-thread-comments-count:focus {
  color: #e00000;
  text-decoration: none;
}
.discussion .action-button.action-follow .action-label,
.discussion .post-label.post-label-following,
a, a:visited {
  color: #e00000;
}
.forum-nav-thread-wrapper-1 {
  width: 100%;
}
.discussion .action-button.action-follow:hover, .discussion .action-button.action-follow:focus,
.discussion .action-button.action-follow:hover .action-icon, .discussion .action-button.action-follow:focus .action-icon,
.wrapper-course-material .course-tabs li a.active {
    color: #e00000 !important;
    border-color: #e00000 !important;
}
.discussion .action-button.action-follow.is-checked .action-icon {
  border-color: #e00000 !important;
}

.discussion .action-button.action-follow.is-checked .action-icon,
.container .discussion-body .discussion-submit-post, .container .discussion-module .discussion-submit-post {
  color: #fff;
}
.btn-brand,
.discussion .action-button.action-follow.is-checked .action-icon {
  background: #e00000;
}
.wrapper-course-material .course-tabs li a {
  color: #5e5e5e;
  &:active,
  &:hover,
  &:focus {
    color: #e00000 !important;
    border-color: #e00000 !important;
  }
}
.discussion.inline-discussion .inline-thread .forum-nav-bar .all-posts-btn,
.btn-link{
  color: #e00000;
  &:hover {
    color: #3c3c3c;
    text-decoration: none !important;
  }
}

.btn-brand,
.btn {
  color: #e00000;
  border-color: #e00000;
  &:active,
  &:focus,
  &:hover {
    color: #fff;
    background: #e00000;
    border-color: #e00000;
  }
}
.btn-brand {
  color: #fff;
}
.edit-post-form .post-update:hover, .edit-post-form .post-update:focus,
.field-input:focus {
   border-color: #e00000;
}
.wrapper-footer footer#footer-openedx a {
  &:active,
  &:hover,
  &:focus {
    text-decoration: none;
  }
}
.wrapper-footer a,
.header-global a {
  text-decoration: none;
}
.wrapper-footer footer#footer-openedx::after {
  display: none;
}
.wrapper-footer footer#footer-openedx .colophon {
    width: auto;
}
.wrapper-footer .flex-center {
  width: 100%;
    @media screen and (max-width: $responsive-large) {
      flex-direction: column;
      height: auto;
    }
}
.header-global .wrapper-header .course-header {
  display: none;
}
.discussion .action-button.action-follow:focus .action-icon,
.discussion .action-button.action-follow:hover .action-icon {
    color: #fff !important
}
.logo-edx {
  display: flex;
  align-items: center;
}
.wrapper-footer footer#footer-openedx .colophon .nav-colophon li {
  margin-bottom: 0;
  margin-right: 15px;
}
.discussion .action-button.action-follow:hover .action-icon {
  background-color: #e00000;
  border: 1px solid #e00000;
}
.edit-post-form .post-type-input:checked+.post-type-label {
   background: #e00000;
   border-color: #e00000;
}
.edit-post-form .post-type-label {
  color: #e00000;
  cursor: pointer;
  border-color: #e00000;
}
.forum-new-post-form .post-type-input:focus+.post-type-label, .edit-post-form .post-type-input:focus+.post-type-label {
  box-shadow: none;
}