.btn {
	color: $base-color;
	border-color: $base-color;

	&:hover,
	&:active {
		&:not(:disabled) {
			color: #fff;
			background: $btn-bg-hover;
			border-color: $btn-bg-hover;
		}
	}

	&:focus {
		border-color: $btn-bg-hover;
	}
}

.has-breadcrumbs {
	.breadcrumbs {
		.all-topics {
			background: none;
		}
	}
}

.forum-nav.layout-col.layout-col-a {
	overflow: hidden;

	@media screen and (max-width: 760px) {
		margin-bottom: 15px;
	}
}

.forum-new-post-form {
	.post-type-label {
		&:first-of-type {
			@media screen and (max-width: 760px) {
				margin-bottom: 10px;
			}
		}
	}

	.post-field .field-label .field-input {
		max-width: 100%;

		select {
			max-width: 100%;
			box-sizing: border-box;
		}
	}
}
