.icon-fallback-img .icon-angle-down,
.header-global .wrapper-header .course-header {
    display: none;
}
.main-header_wrapper {
    background: rgba(0,0,0,0.3);
}

.header-global .wrapper-header .logo {
    margin-top: 12px;
}

.header-global .wrapper-header .wrapper-user-menu {
    margin-top: 0;
}
.dropdown-menu-container .dropdown-menu .dropdown-item,
.wrapper-header,
.wrapper-footer footer#footer-openedx {
    a {
        &:hover,
        &:focus,
        &:active {
            text-decoration: none;
        }
    }
}
.dropdown-menu-container .menu-title:hover {
    color: #ffe100;
}