.header-global .wrapper-header .course-header {
    display: none;
}
.main-header_wrapper {
    background: rgba(0,0,0,0.3);
}

/*.header-global .wrapper-header .logo {
	margin-top: 12px;
}*/

.header-global .wrapper-header .wrapper-user-menu {
	margin-top: 0;
}