/*HEADER*/
.header-global .wrapper-header .list-inline .item a {
  font-size: 14px;
  color: #0079bc;
}

.dropdown-menu-container .menu-image {
  border-radius: 10%;
}

.dropdown-menu-container .menu-button {
  border-radius: 3px;
  height: 16px;
  background: #fff;
}

.dropdown-menu-container .menu-button.default-icon:after {
  border: none;
}

/*FOOTER*/
.wrapper-footer {
  box-shadow: 0 -1px 5px 0 rgba(0,0,0,0.1);
  border-top: 1px solid #e9e8e8;
  padding: 10px 10px;
  background: #231f20;
}

.footer-text {
  color: #fff;
}

.footer-text img {
  vertical-align: baseline;
  width: 120px;
}

.wrapper-footer footer#footer-openedx .colophon .nav-colophon {
  margin: 10px 0 0 0;
  line-height: 16px;
}

.wrapper-footer footer#footer-openedx .colophon .nav-colophon li a {
  color: #fff;
}

.wrapper-footer footer#footer-openedx .colophon .nav-colophon li a:hover {
  color: #1790c7;
}

.wrapper-footer footer#footer-openedx .colophon .nav-colophon li a:focus {
  color: #fff;
}

.wrapper-footer footer#footer-openedx a {
  color: #0079bc; 
}

.wrapper-footer footer#footer-openedx a:hover {
  box-shadow: none;
  border-bottom: none;
}

.wrapper-footer footer#footer-openedx a:active {
  box-shadow: none;
  border-bottom: none;
}

.wrapper-footer footer#footer-openedx a:focus {
  box-shadow: none;
  border-bottom: none;
  color: #0079bc;
}

.wrapper-footer footer#footer-openedx p {
  margin-bottom: 0;
}

.wrapper-footer footer#footer-openedx .nav-legal {
  padding-top: 5px;
}

.wrapper-footer footer#footer-openedx .footer-about-openedx a {
  margin-left: 40px;
}

.wrapper-footer footer#footer-openedx .footer-about-openedx:last-child {
  margin-top: 5px;
}

#second-img {
  padding: 2px 0 0 0;
}

.wrapper-footer footer#footer-openedx .nav-legal .nav-legal-02 a:before {
  margin-right: 0;
  content: "";
}

.grid-container {
  max-width: 75.125rem;
}

.wrapper-footer footer#footer-openedx ul {
  margin-left: 0;
}

.wrapper-footer footer#footer-openedx .colophon .nav-colophon ol {
  margin-left: 0;
}

/*Course page*/
.courseware-bookmarks-button .bookmarks-list-button {
  padding: 5px 10px;
  font-size: 13px;
  font-weight: normal;
}

.course-content .bookmark-button {
  font-weight: normal;
}

.header-global.slim {
  background: #231f20;
}

.header-global.slim .wrapper-header .course-header {
  color: #fff;
}

.header-global .user>.primary>a {
  color: #fff;
}

.header-global .primary>a {
  box-shadow: none;
}

body.view-in-course .header-global, body.view-in-course .header-global.slim {
  background: #231f20;
}

.header-global.slim .wrapper-header {
  height: 76px;
}

.dropdown-menu-container .menu-title {
  color: #fff;
}

.dropdown-menu-container .menu-title:hover {
  color: #fff;
}

.dropdown-menu-container .menu-title:focus {
  color: #fff;
}

.dropdown-menu-container .menu-title:active {
  color: #fff;
}

.btn-neutral {
  background: #0079bc;
  color: #fff;
}

.header-global.slim .wrapper-header {
  padding-top: 15px;
}