.forum-nav-browse-title {
    text-align: right;
}

.forum-nav-browse-submenu li .forum-nav-browse-title {
    padding-left: 0;
    padding-right: 20px;
}

.dropdown-menu-container .menu-image {
    border-radius: 50%;
}