//import the original styles from edx-platform
@import "lms/static/sass/discussion/lms-discussion-main-rtl.scss";
// @import "../../css/discussion/time-lms-discussion-main.css";
@import "../main";
@import "discussion-override";