// Import the original styles from edx-platform.
// Import the original styles from edx-platform.
@import "lms/static/sass/discussion/lms-discussion-main";
// import extras
@import 'utils';
$img-path: "../../images";
$font-path: "../../fonts";
@import '../main';
@import 'discussion';
// import modules
@import '../base';
@import '../buttons';

@import '../header';
@import '../login-register';
// @import '../dashboard';
@import '../course-info';
@import '../course-content';
@import '../forum';
@import '../footer';
@import '../tutor-page';
@import '../shame';