// Import the original styles from edx-platform.
// Import the original styles from edx-platform.
@import "lms/static/sass/discussion/lms-discussion-main";
@import "../default";
@import "discussion";

