@import "lms/static/sass/discussion/lms-discussion-main.scss";
@import "../nav-box/nav-box";
@import "../gamburger/gamburger";
@import "../default";

.header-global .wrapper-header .wrapper-user-menu {
    display: flex;
    justify-content: center;
    width: 100%;
    @media screen and (min-width: 760px) {
        display: block;
        width: auto;
    }
}
.header-global .wrapper-header .course-header {
    display: none;
}
.header-global .nav-global li a {
    font-size: 14px;
    line-height: 1.3;
    color: #0079bc;
    -webkit-font-smoothing: auto;
}