//import the original styles from edx-platform
@import "../../css/discussion/time-lms-discussion-main.css";
// @import "lms/static/sass/discussion/lms-discussion-main.scss";
@import "../main";
@import "discussion-override";
