<%! from django.utils.translation import ugettext as _ %>
<section class="about-item about-edx">
    <h2 class="about-edx-title hd-4">${_("About the Al Ghurair Young Thinkers Program")}</h2>

    <div class="about-edx-copy copy copy-meta">
        <p>${_("The Al Ghurair Young Thinkers Program is an online university and career readiness platform developed to help Emirati and Arab youth achieve future success. The platform includes courses, live advising and the me3 Career Exploration Tool.")}</p>
        <a class="action" href="/">${_("Learn more about the Young Thinkers Program")}</a>
    </div>
</section>
