<%page expression_filter="h"/>
<div class="wrapper-footer">

    <footer class="footer-app" role="contentinfo" id="company-info">
        <div class="footer-app-copyright">
            <p class="copy copy-micro">${copyright_text | n, decode.utf8 }</p>
        </div>
        <nav class="footer-app-nav">
            <ul class="list list-legal">
                <li class="nav-item">
                    <a class="action btn btn-small btn-link" href="https://get.the-accel.ru/portal_conf_policy?_ga=2.183202150.1575587782.1552816939-1400154237.1542560519" target="_blank">${company_privacy_urltext}</a>
                </li>
            </ul>
        </nav>
    </footer>

</div>
