.header-wrapper {
    @extend %wrapper;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 31px 0;

    &_helper {
        display: flex;
        align-items: center;
    }
}