.header-wrapper {
    @extend %wrapper;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 31px 0;

    &:after {
        display: none;
    }

    &_helper {
        display: flex;
        align-items: center;
        width: 100%;
    }
    &_holder {
        margin: 0 0 0 auto;
        display: flex;

        .course-header {
            display: none;
        }
    }
}