.header-wrapper {
    @extend %wrapper;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 31px;
    padding-bottom: 31px;
    background: #fff;
    position: relative;
    
    &:after {
        display: none;
    }

    &_helper {
        display: flex;
        align-items: center;
        width: 100%;
    }
    &_holder {
        display: flex;
        padding: 20px 0;
        @media screen and (min-width: $media-desktop){
            padding: 0;
            margin: 0 0 0 auto;
        }

        .course-header {
            display: none;
        }
    }
}