.course-about-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0 -15px;
    padding: 0;

    li{
        margin-bottom: 50px !important;
    }

    &__item {
        width: 33.3333%;
        padding: 0 15px;
        font-family: $font-family;
        box-sizing: border-box;
    }

    &__title {
        display: flex;
        align-items: center;
        margin-bottom: 40px;

        img{
            flex: none;
        }
        
        span {
            display: block;
            color: $color6;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            margin-left: 20px;
        }
    }
}
