.footer-nav {
    column-count: 2;
    width: 574px;
    padding: 28px 0 0;

    .footer-nav_list {
        list-style: none;
        margin-left: 0;
    }

    &_item {
        padding: 0 0 12px;
        margin: 0;
        
        a {
            font: 14px/17px $font-regular;
            color: #7f848c !important;
            border: none !important;

            &:hover {
                color: lighten(#7f848c, 10%) !important;
                border: none !important;
                text-decoration: none !important;
                box-shadow: none !important;
            }
        }
    }
}