@import "../const";

.nav-wrap {
    display: flex;
    align-items: center;
    @media screen and (max-width: $responsive-large) {
        align-items: stretch;
        flex-direction: column;
        li.item {
            margin-bottom: 10px;
        }
    }
}

body .window-wrap .content-wrapper .container {
    h1 {
        font-size: 35px;
        line-height: 1.3;
        font-weight: 200;
        margin: 25px 0 15px !important;
        color: #3c3c3c;
        -webkit-font-smoothing: auto;
        font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
    h2 {
        margin: 25px 0 15px;
        text-transform: none;
        font-size: 31px;
        line-height: 1.3;
        font-weight: 200;
        color: #3c3c3c;
        -webkit-font-smoothing: auto;
        font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
    h3 {
        margin: 25px 0 15px;
        font-size: 26px;
        line-height: 1.3;
        font-weight: 200 !important;
        color: #3c3c3c;
        -webkit-font-smoothing: auto;
        font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
    h4 {
        margin: 25px 0 15px;
        font-size: 23px;
        line-height: 1.3;
        font-weight: 200;
        color: #3c3c3c;
        -webkit-font-smoothing: auto;
        font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
    h5 {
        margin: 25px 0 15px;
        font-size: 19px;
        line-height: 1.3;
        font-weight: 200;
        color: #3c3c3c;
        -webkit-font-smoothing: auto;
        font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
    h6 {
        margin: 25px 0 15px;
        font-size: 15px;
        line-height: 1.3;
        font-weight: 200;
        color: #3c3c3c;
        -webkit-font-smoothing: auto;
        font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
}