<%! from django.utils.translation import ugettext as _ %>
<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Privacy Policy")}</%block>

<section class="container about" id="privacy">

<h1>${_(u"Privacy Statement")}</h1>
<p>
&nbsp;&nbsp;&nbsp;&nbsp;This statement relates to Camara’s privacy practices in connection with this website. We are not responsible for the content or privacy practices of other websites. Any external links to other websites are clearly identifiable as such.
</p>
<br />

<h2>${_(u"General statement")}</h2>
<p>
&nbsp;&nbsp;&nbsp;&nbsp;Camara fully respects your right to privacy, and will not collect any personal information about you on this website without your clear permission. Any personal information which you volunteer will be treated with security and confidentiality, strictly in accordance with EU standards and the Data Protection Acts, 1988 & 2003.
</p>
<br />

<h2>${_(u"Collection and use of personal information")}</h2>
<p>
&nbsp;&nbsp;&nbsp;&nbsp;Camara does not collect any personal data about you on this learning platform, apart from information which you volunteer. Any information which you provide in this way is not made available to any third parties, and is used by Camara  only in line with the purpose for which you provided it.
</p>
<br />

<h2>${_(u"Requests regarding data supplied via this website")}</h2>
<p>
&nbsp;&nbsp;&nbsp;&nbsp;On request, we supply copies of your personal data which you may have provided via this website. If you wish to obtain such copies, request this information by sending an email to elearning@camara.org. You should include any personal  identifiers which you supplied earlier via the website (e.g. Name; address; phone number; e-mail address). Your request will be dealt with as soon as possible and will take not more than 30 days to process.<br />&nbsp;&nbsp;&nbsp;&nbsp; If you discover that we hold inaccurate information about you, you can provide us with updated information by sending an email to <a href='mailto:elearning@camara.org'>elearning@camara.org</a> with the correct details.
</p>
<br />
</section>
