<%! from django.utils.translation import ugettext as _ %>
<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Imprint")}</%block>

<section class="container about" id="about">
  <h1>${_(u"Imprint")}</h1>
  <p><strong>The DO School Innovation Lab GmbH</strong></p>
 	<p>
  	<span>Lilienstraße 5-9 | 20095 Hamburg</span><br>
	<span>Büro Berlin | Novalisstraße 12 | D-10115 Berlin</span><br>
	<span>Amtsgericht Hamburg | HRB 133849</span><br>
	<span>Geschäftsführer: Katherin Kirschenmann & Florian Hoffmann</span>
 	</p>
	<p>
	Tel.: <a href="tel:+49 (0) 40 298 13 89 40">+49 (0) 40 298 13 89 40</a><br>
	E-mail: <a href="mailto:info@thedoschool.org">info@thedoschool.org</a><br>
	<a href="http://www.thedoschool.org" target="_blank">www.thedoschool.org</a><br>
	</p>
	<p>	Responsible for the content<br>
	The DO School Innovation Lab GmbH – Katherin Kirschenmann & Florian Hoffmann
	</p>
</section>

