<%! from django.utils.translation import ugettext as _ %>
<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Terms of Service")}</%block>
<style type="text/css">
	@page { margin-left: 3cm; margin-right: 1.5cm; margin-top: 2cm; margin-bottom: 2cm }
	p { margin-bottom: 0.25cm; direction: ltr; line-height: 120%; text-align: left; orphans: 2; widows: 2 }
	h2 { margin-top: 0.07cm; margin-bottom: 0cm; direction: ltr; color: #2e74b5; text-align: left; page-break-inside: avoid; orphans: 2; widows: 2 }
	h2.western { font-family: "Calibri Light", serif; font-size: 13pt; font-weight: normal }
	h2.cjk { font-family: ; font-size: 13pt; font-weight: normal }
	h2.ctl { font-family: "Times New Roman"; font-size: 13pt; font-weight: normal }
	a { color: #0000ff }
</style>
<section class="container about" id="tos">

<h1>${_(u"Terms of Service")}</h1>
<p>
${_(
u''
u'<p align="center" style="margin-bottom: 0cm; line-height: 108%">'
u'<font color="#c00000">'
u'<font face="Garamond, serif">'
u'<font size="3" style="font-size: 12pt">'
u'<span lang="en-US">'
u'<b>'
u'TERMS OF PARTICIPATION IN THE EDUCATIONAL PROJECTS OF THE CHARITABLE ORGANIZATION &quot;CHARITABLE FUND &quot;BRAINBASKET FOUNDATION&quot; BASED ON ON-LINE PROGRAMS'
u'</b>'
u'</span>'
u'</font>'
u'</font>'
u'</font>'
u'</p>'
u' '
u'<p align="center" style="margin-bottom: 0cm; line-height: 108%">'
u'<font color="#c00000">'
u'<font face="Garamond, serif">'
u'<font size="3" style="font-size: 12pt">'
u'<span lang="en-US">'
u'<b>'
u'AND TERMS OF USE OF THE PROJECTS WEB-SITE'
u'</b>'
u'</span>'
u'</font>'
u'</font>'
u'</font>'
u'</p>'
u' '
u'<h2 lang="en-US" class="western" align="justify" style="margin-top: 0cm">'
u' '
u'<br/>'
u' '
u'</h2>'
u' '
u'<h2 class="western" align="justify" style="margin-top: 0cm">'
u'<font color="#00000a">'
u'<font face="Garamond, serif">'
u'<font size="3" style="font-size: 12pt">'
u'<span lang="en-US">'
u'The present Terms are published in order to establish the rules of participation in free of charges  educational projects (hereinafter – the &quot;Projects″) for blended learning of the basics of IT based on online programs of the world’s best universities, available on the Website at the URL address '
u'</span>'
u'</font>'
u'</font>'
u'</font>'
u'<a href="http://courses.brainbasket.org/">'
u'<font color="#1155cc">'
u'<font face="Garamond, serif">'
u'<font size="3" style="font-size: 12pt">'
u'<span lang="en-US">'
u'<u>'
u'http://courses.brainbasket.org'
u'</u>'
u'</span>'
u'</font>'
u'</font>'
u'</font>'
u'</a>'
u'<font color="#00000a">'
u'<font face="Garamond, serif">'
u'<font size="3" style="font-size: 12pt">'
u'<span lang="en-US">'
u' (hereinafter – the ″Website″). The Projects has been founded by the Charitable Organization &quot;Charitable Fund &quot;Brainbasket Foundation&quot;, identification'
u'</span>'
u'</font>'
u'</font>'
u'</font>'
u'<font color="#00000a">'
u'<font face="Garamond, serif">'
u'<font size="3" style="font-size: 12pt">'
u'<span lang="en-US">'
u' number 39350619, registered at the address: 1-A, Sportyvna Square, Kyiv 01001 '
u'</span>'
u'</font>'
u'</font>'
u'</font>'
u'<font color="#00000a">'
u'<font face="Garamond, serif">'
u'<font size="3" style="font-size: 12pt">'
u'<span lang="en-US">'
u'(hereinafter – the Projects Organizer).'
u'</span>'
u'</font>'
u'</font>'
u'</font>'
u'</h2>'
u' '
u'<p lang="en-US" align="justify" style="margin-bottom: 0cm; line-height: 108%">'
u' '
u'<br/>'
u' '
u'</p>'
u' '
u'<p align="justify" style="margin-bottom: 0cm; line-height: 108%">'
u'<font face="Garamond, serif">'
u'<font size="3" style="font-size: 12pt">'
u'<span lang="en-US">'
u'<i>'
u'<b>'
u'By online registration for participation in the Projects I (hereinafter – the Projects Participant) provide my consent for participation in the Projects on the following terms:'
u'</b>'
u'</i>'
u'</span>'
u'</font>'
u'</font>'
u'</p>'
u' '
u'<p lang="en-US" align="justify" style="margin-bottom: 0cm; line-height: 108%">'
u' '
u'<br/>'
u' '
u'</p>'
u' '
u'<ol type="I">'
u' '
u'<li/>'
u' '
u'<p align="justify" style="margin-bottom: 0cm; line-height: 108%">'
u' '
u'<font face="Garamond, serif">'
u'<font size="3" style="font-size: 12pt">'
u'<span lang="en-US">'
u'<b>'
u'General Provisions '
u'</b>'
u'</span>'
u'</font>'
u'</font>'
u' '
u'</p>'
u' '
u'</ol>'
u' '
u'<p align="justify" style="margin-bottom: 0cm; line-height: 108%">'
u'<font face="Garamond, serif">'
u'<font size="3" style="font-size: 12pt">'
u'<span lang="en-US">'
u'To ensure the effective operation of the Website and the proper use of the content placed on the Website, the Projects Organizer determines the rules of conduct in using the Website and reserves the right to modify these rules.'
u'</span>'
u'</font>'
u'</font>'
u'</p>'
u' '
u'<p align="justify" style="margin-bottom: 0cm; line-height: 108%">'
u'<font face="Garamond, serif">'
u'<font size="3" style="font-size: 12pt">'
u'<span lang="en-US">'
u'The Projects Organizer shall provide high-quality access to the learning materials of the Projects placed on the Website. Along with that, the Projects Organizer reserves the unilateral right to temporarily or permanently suspend access to services provided through the Projects Website.'
u'</span>'
u'</font>'
u'</font>'
u'</p>'
u' '
u'<p lang="en-US" align="justify" style="margin-bottom: 0cm; line-height: 108%">'
u' '
u'<br/>'
u' '
u'</p>'
u' '
u'<p lang="en-US" align="justify" style="margin-bottom: 0cm; line-height: 108%">'
u' '
u'<br/>'
u' '
u'</p>'
u' '
u'<ol type="I" start="2">'
u' '
u'<li/>'
u' '
u'<p align="justify" style="margin-bottom: 0cm; line-height: 108%">'
u' '
u'<font face="Garamond, serif">'
u'<font size="3" style="font-size: 12pt">'
u'<span lang="en-US">'
u'<b>'
u'Use of Learning Materials'
u'</b>'
u'</span>'
u'</font>'
u'</font>'
u'</p>'
u' '
u'</ol>'
u' '
u'<p align="justify" style="margin-bottom: 0cm; line-height: 108%">'
u'<font face="Garamond, serif">'
u'<font size="3" style="font-size: 12pt">'
u'<span lang="en-US">'
u'The Projects Organizer confirms that it has obtained a preliminary authorization for using the learning materials applied in the Projects. The Projects Organizer shall not be liable for violations of intellectual property rights of third parties resulting from their use by placement in the content of the Projects Website.'
u'</span>'
u'</font>'
u'</font>'
u'</p>'
u' '
u'<p align="justify" style="margin-bottom: 0cm; line-height: 108%">'
u'<font face="Garamond, serif">'
u'<font size="3" style="font-size: 12pt">'
u'<span lang="en-US">'
u'The Projects Participant should have the individual access to the course through entry into “My Account.” '
u'</span>'
u'</font>'
u'</font>'
u' '
u'</p>'
u' '
u'<p align="justify" style="margin-bottom: 0cm; line-height: 108%">'
u'<font face="Garamond, serif">'
u'<font size="3" style="font-size: 12pt">'
u'<span lang="en-US">'
u'The Projects Participant shall be strictly prohibited from copying the learning materials of the Projects, and from using such materials for the purpose of communicating them to a wide range of people, including through public appearances (whether for commercial or for educational purposes), as well as from using the learning materials of the Projects for commercial purposes.'
u'</span>'
u'</font>'
u'</font>'
u'</p>'
u' '
u'<p lang="en-US" align="justify" style="margin-left: 1.27cm; margin-bottom: 0cm; line-height: 108%">'
u' '
u'<br/>'
u' '
u'</p>'
u' '
u'<ol type="I" start="3">'
u' '
u'<li/>'
u' '
u'<p align="justify" style="margin-bottom: 0cm; line-height: 108%">'
u' '
u'<font face="Garamond, serif">'
u'<font size="3" style="font-size: 12pt">'
u'<span lang="en-US">'
u'<b>'
u'Procedure for Taking a Training Course'
u'</b>'
u'</span>'
u'</font>'
u'</font>'
u'</p>'
u' '
u'</ol>'
u' '
u'<p align="justify" style="margin-bottom: 0cm; line-height: 108%">'
u'<font face="Garamond, serif">'
u'<font size="3" style="font-size: 12pt">'
u'<span lang="en-US">'
u'The Projects Participant shall take online trainings offered within the chosen Project Course personally, independently and in full.'
u'</span>'
u'</font>'
u'</font>'
u'</p>'
u' '
u'<p align="justify" style="margin-bottom: 0cm; line-height: 108%">'
u'<font face="Garamond, serif">'
u'<font size="3" style="font-size: 12pt">'
u'<span lang="en-US">'
u'The Project may contain a recommended number of offline trainings on the basics of IT within any Project Course depending on the particularities of chosen educational course of the Projects.'
u'</span>'
u'</font>'
u'</font>'
u'<font face="Garamond, serif">'
u'<font size="3" style="font-size: 12pt">'
u'<span lang="uk-UA">'
u' '
u'</span>'
u'</font>'
u'</font>'
u'<font face="Garamond, serif">'
u'<font size="3" style="font-size: 12pt">'
u'<span lang="en-US">'
u'In case the educational course of the Project contains the offline trainings, the Projects participant is obliged to attend a recommended number of offline trainings.'
u'</span>'
u'</font>'
u'</font>'
u'</p>'
u' '
u'<p align="justify" style="margin-bottom: 0cm; line-height: 108%">'
u'<a name="_GoBack">'
u'</a>'
u' '
u'<font face="Garamond, serif">'
u'<font size="3" style="font-size: 12pt">'
u'<span lang="en-US">'
u'The Project may have a qualifying exam which should be passed after online and offline training within the chosen Training Course. The exam shall be taken only by the Projects Participant himself/herself. The Projects Organizer shall ensure the exam organization and shall issue a proper certificate for successful passing of the qualifying exam, stating the name of the Projects Participant and the description of the course.'
u'</span>'
u'</font>'
u'</font>'
u'</p>'
u' '
u'<p lang="en-US" align="justify" style="margin-bottom: 0cm; line-height: 108%">'
u' '
u'<br/>'
u' '
u'</p>'
u' '
u'<p align="justify" style="margin-bottom: 0cm; line-height: 108%">'
u'<font face="Garamond, serif">'
u'<font size="3" style="font-size: 12pt">'
u'<span lang="en-US">'
u'The Projects Participant shall not disseminate information regarding the qualifying exam to third parties in any manner whatsoever, in particular, by communicating them the relevant tasks and answers.'
u'</span>'
u'</font>'
u'</font>'
u'</p>'
u' '
u'<p lang="en-US" align="justify" style="margin-bottom: 0cm; line-height: 108%">'
u' '
u'<br/>'
u' '
u'</p>'
u' '
u'<ol type="I" start="4">'
u' '
u'<li/>'
u' '
u'<p align="justify" style="margin-bottom: 0cm; line-height: 108%">'
u' '
u'<font face="Garamond, serif">'
u'<font size="3" style="font-size: 12pt">'
u'<span lang="en-US">'
u'<b>'
u'The Projects Participant shall not'
u'</b>'
u'</span>'
u'</font>'
u'</font>'
u'</p>'
u' '
u'</ol>'
u' '
u'<p lang="en-US" align="justify" style="margin-left: 1.27cm; margin-bottom: 0cm; line-height: 108%">'
u' '
u'<br/>'
u' '
u'</p>'
u' '
u'<ul>'
u' '
u'<li/>'
u' '
u'<p align="justify" style="margin-bottom: 0cm; line-height: 108%">'
u' '
u'<font face="Garamond, serif">'
u'<font size="3" style="font-size: 12pt">'
u'<span lang="en-US">'
u'use the technical resources and content of the Website in a manner that could jeopardize the operation of the Website;'
u'</span>'
u'</font>'
u'</font>'
u'</p>'
u' '
u'</ul>'
u' '
u'<p lang="en-US" align="justify" style="margin-left: 0.75cm; margin-bottom: 0cm; line-height: 108%">'
u' '
u'<br/>'
u' '
u'</p>'
u' '
u'<ul>'
u' '
u'<li/>'
u' '
u'<p align="justify" style="margin-bottom: 0cm; line-height: 108%">'
u' '
u'<font face="Garamond, serif">'
u'<font size="3" style="font-size: 12pt">'
u'<span lang="en-US">'
u'place promotional materials, commercial notices or other messages unrelated to the Projects on the Projects Website;'
u'</span>'
u'</font>'
u'</font>'
u'</p>'
u' '
u'</ul>'
u' '
u'<p lang="en-US" style="margin-left: 1.27cm; margin-bottom: 0cm; line-height: 108%">'
u' '
u'<br/>'
u' '
u'</p>'
u' '
u'<ul>'
u' '
u'<li/>'
u' '
u'<p align="justify" style="margin-bottom: 0cm; line-height: 108%">'
u' '
u'<font face="Garamond, serif">'
u'<font size="3" style="font-size: 12pt">'
u'<span lang="en-US">'
u'place direct or indirect insults or accusations of any individuals, companies or organizations participating in the Projects, including in terms of national, ethnic, racial or religious affiliation, or chauvinistic remarks on the Website;'
u'</span>'
u'</font>'
u'</font>'
u'</p>'
u' '
u'</ul>'
u' '
u'<p lang="en-US" align="justify" style="margin-bottom: 0cm; line-height: 108%">'
u' '
u'<br/>'
u' '
u'</p>'
u' '
u'<ul>'
u' '
u'<li/>'
u' '
u'<p align="justify" style="margin-bottom: 0cm; line-height: 108%">'
u' '
u'<font face="Garamond, serif">'
u'<font size="3" style="font-size: 12pt">'
u'<span lang="en-US">'
u'place appeals to violent change or overthrow of the constitutional order or to seizure of state power, calls for changes in administrative boundaries or state borders of Ukraine, violation of the order established by the Constitution of Ukraine; calls for pogroms, arsons, destruction of property, seizure of buildings or structures, forcible eviction of citizens; calls for aggression or unleashing a military conflict; post any messages or perform other actions prohibited by the laws of Ukraine on the Website;'
u'</span>'
u'</font>'
u'</font>'
u'</p>'
u' '
u'</ul>'
u' '
u'<p lang="en-US" style="margin-left: 1.27cm; margin-bottom: 0cm; line-height: 108%">'
u' '
u'<br/>'
u' '
u'</p>'
u' '
u'<ul>'
u' '
u'<li/>'
u' '
u'<p align="justify" style="margin-bottom: 0cm; line-height: 108%">'
u' '
u'<font face="Garamond, serif">'
u'<font size="3" style="font-size: 12pt">'
u'<span lang="en-US">'
u'place obscenities, pornographic, erotic or sexual expressions on the Website;'
u'</span>'
u'</font>'
u'</font>'
u'</p>'
u' '
u'</ul>'
u' '
u'<p lang="en-US" style="margin-left: 1.27cm; margin-bottom: 0cm; line-height: 108%">'
u' '
u'<br/>'
u' '
u'</p>'
u' '
u'<ul>'
u' '
u'<li/>'
u' '
u'<p align="justify" style="margin-bottom: 0cm; line-height: 108%">'
u' '
u'<font face="Garamond, serif">'
u'<font size="3" style="font-size: 12pt">'
u'<span lang="en-US">'
u'place notices to deliberately provoke strident reactions of other resource participants on the Website.'
u'</span>'
u'</font>'
u'</font>'
u'</p>'
u' '
u'</ul>'
u' '
u'<p lang="en-US" style="margin-bottom: 0cm; line-height: 108%">'
u'<br/>'
u' '
u'</p>'
u' '
u'<p align="justify" style="margin-bottom: 0cm; line-height: 108%">'
u'<font face="Garamond, serif">'
u'<font size="3" style="font-size: 12pt">'
u'<span lang="en-US">'
u'The Website Administration and the Projects Managers reserve the right to edit or delete comments, and may also deprive the Projects Participant of the right to use the Website for repeated violations of the above rules.'
u'</span>'
u'</font>'
u'</font>'
u'</p>'
u' '
u'<p lang="en-US" align="justify" style="margin-bottom: 0cm; line-height: 108%">'
u' '
u'<br/>'
u' '
u'</p>'
u' '
u'<ol type="I" start="5">'
u' '
u'<li/>'
u' '
u'<p style="margin-bottom: 0cm; line-height: 108%">'
u'<font face="Garamond, serif">'
u'<font size="3" style="font-size: 12pt">'
u'<span lang="en-US">'
u'<b>'
u'Confidentiality and Personal Data Protection'
u'</b>'
u'</span>'
u'</font>'
u'</font>'
u'</p>'
u' '
u'</ol>'
u' '
u'<p lang="en-US" style="margin-left: 1.27cm; margin-bottom: 0cm; line-height: 108%">'
u' '
u'<br/>'
u' '
u'</p>'
u' '
u'<p align="justify" style="margin-bottom: 0cm; line-height: 108%">'
u'<font face="Garamond, serif">'
u'<font size="3" style="font-size: 12pt">'
u'<span lang="en-US">'
u'The Projects Participant confirms that he/she is aware of the rights related to his/her personal data and that he/she provides a clear unequivocal consent to any processing of his/her personal data by the Projects Organizer (as the Controller) or other parties to the relationship (including foreign entities) at the Organizer’s discretion, however, solely for the purpose of the Project implementation: to ensure the internal operation of the Website, to issue certificates and to send newsletters with news of the Projects Courses. Also, the Projects Participant provides his/her clear and unequivocal consent to the inclusion of his/her personal data into the personal data base of the Projects maintained in the information (automated) system.'
u'</span>'
u'</font>'
u'</font>'
u'</p>'
u' '
u'<p align="justify" style="margin-bottom: 0cm; line-height: 108%">'
u'<font face="Garamond, serif">'
u'<font size="3" style="font-size: 12pt">'
u'<span lang="en-US">'
u'The Projects Participant understands and agrees that his/her personal data will be used for meeting the requirements of the applicable legislation of Ukraine on advertising, tax and accounting.'
u'</span>'
u'</font>'
u'</font>'
u'</p>'
u' '
u'<p lang="en-US" align="justify" style="margin-bottom: 0cm; line-height: 108%">'
u' '
u'<br/>'
u' '
u'</p>'
u' '
u'<p align="justify" style="margin-bottom: 0cm; line-height: 108%">'
u'<font face="Garamond, serif">'
u'<font size="3" style="font-size: 12pt">'
u'<span lang="en-US">'
u'Through online registration for participation in any of the Projects, the Projects Participant provides his/her consent to the transmission (spread) of his/her personal data included in the personal data base of the Projects exclusively'
u'</span>'
u'</font>'
u'</font>'
u'<font face="Garamond, serif">'
u'<font size="3" style="font-size: 12pt">'
u'<span lang="en-US">'
u' for the above purposes and in the manner specified'
u'</span>'
u'</font>'
u'</font>'
u'<font face="Garamond, serif">'
u'<font size="3" style="font-size: 12pt">'
u'<span lang="en-US">'
u' by the Law of Ukraine '
u'</span>'
u'</font>'
u'</font>'
u'<font face="Garamond, serif">'
u'<font size="3" style="font-size: 12pt">'
u'<span lang="en-US">'
u'″'
u'</span>'
u'</font>'
u'</font>'
u'<font face="Garamond, serif">'
u'<font size="3" style="font-size: 12pt">'
u'<span lang="en-US">'
u'On Personal Data Protection.'
u'</span>'
u'</font>'
u'</font>'
u'<font face="Garamond, serif">'
u'<font size="3" style="font-size: 12pt">'
u'<span lang="en-US">'
u'″'
u'</span>'
u'</font>'
u'</font>'
u'<font face="Garamond, serif">'
u'<font size="3" style="font-size: 12pt">'
u'<span lang="en-US">'
u' '
u'</span>'
u'</font>'
u'</font>'
u'<font face="Garamond, serif">'
u'<font size="3" style="font-size: 12pt">'
u'<span lang="en-US">'
u'The Projects Participant'
u'</span>'
u'</font>'
u'</font>'
u'<font face="Garamond, serif">'
u'<font size="3" style="font-size: 12pt">'
u'<span lang="en-US">'
u' exempts the personal data base controller from the '
u'</span>'
u'</font>'
u'</font>'
u'<font face="Garamond, serif">'
u'<font size="3" style="font-size: 12pt">'
u'<span lang="en-US">'
u'obligation to individually report the transfer of his/her personal data included in the specified personal data base to third parties, if such a transfer (spread) is in the interest of the Projects Participant to implement the above legal relationship.'
u'</span>'
u'</font>'
u'</font>'
u'</p>'
u' '
u'<p lang="en-US" align="justify" style="margin-bottom: 0cm; line-height: 108%">'
u' '
u'<br/>'
u' '
u'</p>'
u' '
u'<p align="justify" style="margin-bottom: 0cm; line-height: 108%">'
u'<font face="Garamond, serif">'
u'<font size="3" style="font-size: 12pt">'
u'<span lang="en-US">'
u'Through online registration for participation in any of the Projects, the Projects Participant provides his/her unequivocal consent to the Projects Organizer (or any third party) in the manner established '
u'</span>'
u'</font>'
u'</font>'
u'<font face="Garamond, serif">'
u'<font size="3" style="font-size: 12pt">'
u'<span lang="en-US">'
u'by the Law of Ukraine '
u'</span>'
u'</font>'
u'</font>'
u'<font face="Garamond, serif">'
u'<font size="3" style="font-size: 12pt">'
u'<span lang="en-US">'
u'″'
u'</span>'
u'</font>'
u'</font>'
u'<font face="Garamond, serif">'
u'<font size="3" style="font-size: 12pt">'
u'<span lang="en-US">'
u'On Personal Data Protection″ for the processing and use of his/her personal data (passport data, identification number, etc.)'
u'</span>'
u'</font>'
u'</font>'
u'<font face="Garamond, serif">'
u'<font size="3" style="font-size: 12pt">'
u'<span lang="en-US">'
u'.'
u'</span>'
u'</font>'
u'</font>'
u'</p>'
u' '
u'<p lang="en-US" align="justify" style="margin-bottom: 0cm; line-height: 108%">'
u' '
u'<br/>'
u' '
u'</p>'
u' '
u'<p align="justify" style="margin-bottom: 0cm; line-height: 108%">'
u'<font face="Garamond, serif">'
u'<font size="3" style="font-size: 12pt">'
u'<span lang="en-US">'
u'The rights of the Participant as of a personal data subject: the Participant shall have the right: '
u'</span>'
u'</font>'
u'</font>'
u' '
u'</p>'
u' '
u'<p align="justify" style="margin-bottom: 0cm; line-height: 108%">'
u'<font face="Garamond, serif">'
u'<font size="3" style="font-size: 12pt">'
u'<span lang="en-US">'
u'- to obtain information about the sources of collection, the location of the controller/processor of his/her personal data, and the purpose of personal data processing;'
u'</span>'
u'</font>'
u'</font>'
u'</p>'
u' '
u'<p align="justify" style="margin-bottom: 0cm; line-height: 108%">'
u'<font face="Garamond, serif">'
u'<font size="3" style="font-size: 12pt">'
u'<span lang="en-US">'
u'- to obtain information about the terms of access to his/her personal data;'
u'</span>'
u'</font>'
u'</font>'
u'</p>'
u' '
u'<p align="justify" style="margin-bottom: 0cm; line-height: 108%">'
u'<font face="Garamond, serif">'
u'<font size="3" style="font-size: 12pt">'
u'<span lang="en-US">'
u'- to have access to his/her personal data;'
u'</span>'
u'</font>'
u'</font>'
u'</p>'
u' '
u'<p align="justify" style="margin-bottom: 0cm; line-height: 108%">'
u'<font face="Garamond, serif">'
u'<font size="3" style="font-size: 12pt">'
u'<span lang="en-US">'
u'- to obtain, not later than thirty days from the request receipt date, except as otherwise provided by law, a response as to whether his/her personal data are processed, as well as to obtain the content such personal data;'
u'</span>'
u'</font>'
u'</font>'
u'</p>'
u' '
u'<p align="justify" style="margin-bottom: 0cm; line-height: 108%">'
u'<font face="Garamond, serif">'
u'<font size="3" style="font-size: 12pt">'
u'<span lang="en-US">'
u'- to bring a reasoned claim to the controller/processor of his/her personal data with objections to the processing of his/her personal data;'
u'</span>'
u'</font>'
u'</font>'
u'</p>'
u' '
u'<p align="justify" style="margin-bottom: 0cm; line-height: 108%">'
u'<font face="Garamond, serif">'
u'<font size="3" style="font-size: 12pt">'
u'<span lang="en-US">'
u'- to reasonably require the controller/processor of his/her personal data to specify or destroy'
u'</span>'
u'</font>'
u'</font>'
u'<font face="Garamond, serif">'
u'<font size="3" style="font-size: 12pt">'
u'<span lang="en-US">'
u'<b>'
u' '
u'</b>'
u'</span>'
u'</font>'
u'</font>'
u'<font face="Garamond, serif">'
u'<font size="3" style="font-size: 12pt">'
u'<span lang="en-US">'
u'his/her personal data, if the data are processed unlawfully or are unreliable;'
u'</span>'
u'</font>'
u'</font>'
u'</p>'
u' '
u'<p align="justify" style="margin-bottom: 0cm; line-height: 108%">'
u'<font face="Garamond, serif">'
u'<font size="3" style="font-size: 12pt">'
u'<span lang="en-US">'
u'- to have his/her personal data protected from unlawful processing or accidental loss, destruction, damage due to intentional concealment, failure to provide or untimely provision, and be protected from the provision of information that is false or defaming his/her honor, dignity and business reputation;'
u'</span>'
u'</font>'
u'</font>'
u'</p>'
u' '
u'<p align="justify" style="margin-bottom: 0cm; line-height: 108%">'
u'<font face="Garamond, serif">'
u'<font size="3" style="font-size: 12pt">'
u'<span lang="en-US">'
u'- to lodge complaints against the processing of his/her personal data with the Ukrainian Parliament Commissioner for Human Rights or the courts;'
u'</span>'
u'</font>'
u'</font>'
u'</p>'
u' '
u'<p align="justify" style="margin-bottom: 0cm; line-height: 108%">'
u'<font face="Garamond, serif">'
u'<font size="3" style="font-size: 12pt">'
u'<span lang="en-US">'
u'- to apply legal remedies in cases of violation of the legislation on personal data protection;'
u'</span>'
u'</font>'
u'</font>'
u'</p>'
u' '
u'<p align="justify" style="margin-bottom: 0cm; line-height: 108%">'
u'<font face="Garamond, serif">'
u'<font size="3" style="font-size: 12pt">'
u'<span lang="en-US">'
u'- to withdraw his/her consent to personal data processing;'
u'</span>'
u'</font>'
u'</font>'
u'</p>'
u' '
u'<p align="justify" style="margin-bottom: 0cm; line-height: 108%">'
u'<font face="Garamond, serif">'
u'<font size="3" style="font-size: 12pt">'
u'<span lang="en-US">'
u'- to know the mechanism of the automatic personal data processing;'
u'</span>'
u'</font>'
u'</font>'
u'</p>'
u' '
u'<p align="justify" style="margin-bottom: 0cm; line-height: 108%">'
u'<font face="Garamond, serif">'
u'<font size="3" style="font-size: 12pt">'
u'<span lang="en-US">'
u'- to be protected from automated decisions entailing legal consequences for him/her. '
u'</span>'
u'</font>'
u'</font>'
u' '
u'</p>'
u' '
u'<p lang="en-US" align="justify" style="margin-bottom: 0cm; line-height: 108%">'
u' '
u'<br/>'
u' '
u'</p>'
u' '
u'<p align="justify" style="margin-bottom: 0cm; line-height: 108%">'
u'<font face="Garamond, serif">'
u'<font size="3" style="font-size: 12pt">'
u'<span lang="en-US">'
u'The Projects Participant’s personal data shall be stored until withdrawn at the written request of the Projects Participant. Requests shall be sent in an arbitrary form. In case of withdrawal of consent to personal data processing the Projects Participant shall not be allowed to further participate in the Projects. '
u'</span>'
u'</font>'
u'</font>'
u' '
u'</p>'
u' '
u'<p lang="en-US" align="justify" style="margin-bottom: 0cm; line-height: 108%">'
u' '
u'<br/>'
u' '
u'</p>'
u' '
u'<ol type="I" start="6">'
u' '
u'<li/>'
u' '
u'<p style="margin-bottom: 0cm; line-height: 108%">'
u'<font face="Garamond, serif">'
u'<font size="3" style="font-size: 12pt">'
u'<span lang="en-US">'
u'<b>'
u'Dispute Resolution'
u'</b>'
u'</span>'
u'</font>'
u'</font>'
u'</p>'
u' '
u'</ol>'
u' '
u'<p align="justify" style="margin-bottom: 0cm; line-height: 108%">'
u'<font face="Garamond, serif">'
u'<font size="3" style="font-size: 12pt">'
u'<span lang="en-US">'
u'In case of disputes regarding the use of the Projects Website, the Website Administration and the Projects Management, of the one part, the Projects Participants, of the other part, undertake to resolve any disputes through negotiations and a pretrial process. '
u'</span>'
u'</font>'
u'</font>'
u' '
u'</p>'
u' '
u'<p lang="en-US" align="justify" style="margin-bottom: 0cm; line-height: 108%">'
u' '
u'<br/>'
u' '
u'</p>'
u' '
u'<p align="justify" style="margin-bottom: 0cm; line-height: 108%">'
u'<font face="Garamond, serif">'
u'<font size="3" style="font-size: 12pt">'
u'<span lang="en-US">'
u'Disputes that cannot be resolved through negotiations or a pretrial process shall be settled in the national courts of Ukraine.'
u'</span>'
u'</font>'
u'</font>'
u'</p>'
u' '
u'<p lang="en-US" align="justify" style="margin-bottom: 0cm; line-height: 108%">'
u' '
u'<br/>'
u' '
u'</p>'
u' '
u'<ol type="I" start="7">'
u' '
u'<li/>'
u' '
u'<p align="justify" style="margin-bottom: 0cm; line-height: 108%">'
u' '
u'<font face="Garamond, serif">'
u'<font size="3" style="font-size: 12pt">'
u'<span lang="en-US">'
u'<b>'
u'Other Provisions'
u'</b>'
u'</span>'
u'</font>'
u'</font>'
u'</p>'
u' '
u'</ol>'
u' '
u'<p align="justify" style="margin-bottom: 0cm; line-height: 108%">'
u'<font face="Garamond, serif">'
u'<font size="3" style="font-size: 12pt">'
u'<span lang="en-US">'
u'Also, the Projects Participant provides his/her consent to the publication of his/her name and surname on the Website and confirms his/her full consent to the free use and publication of the personal information submitted by him/her for purposes related to the Projects coverage and to being sent information on the Organizer’s activity without any restrictions in terms of area, time and method of use. The Projects Participant may any time opt out of receiving notices from the Organizer by sending the latter an appropriate request.'
u'</span>'
u'</font>'
u'</font>'
u'</p>'
u' '
u'<p lang="en-US" align="justify" style="margin-bottom: 0cm; line-height: 108%">'
u' '
u'<br/>'
u' '
u'</p>'
u' '
u'<p align="justify" style="margin-bottom: 0cm; line-height: 108%">'
u'<font face="Garamond, serif">'
u'<font size="3" style="font-size: 12pt">'
u'<span lang="en-US">'
u'By taking part in the Projects, the Projects Participant confirms that he/she has read and fully agree with these rules and will follow them and that he/she is aware of the rights relating to his/her personal data and confirms that his/her personal data are provided voluntarily.'
u'</span>'
u'</font>'
u'</font>'
u'</p>'
u' '
u'<p lang="en-US" align="justify" style="margin-bottom: 0cm; line-height: 108%">'
u' '
u'<br/>'
u' '
u'</p>'
u' '
u'<p lang="en-US" align="center" style="margin-bottom: 0cm; line-height: 108%">'
u' '
u'<br/>'
u' '
u'</p>'
u' '
u'<p style="margin-bottom: 0cm; line-height: 108%">'
u'<br/>'
u' '
u'</p>'
u''
)}
</p>
</section>
