<%! from django.utils.translation import ugettext as _ %>
<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("About us")}</%block>

<section class="container about" id="about">
<h1>Про нас:</h1>
<p>Центр громадського здоров’я МОЗ України – науково-практична установа медичного профілю, що забезпечує функції збереження і укріплення здоров'я населення, проведення соціально-гігієнічного моніторингу захворювань, епідеміологічного нагляду та біологічної безпеки, здійснення групової та популяційної профілактики захворюваності, боротьби з епідеміями та стратегічного управління з питань громадського здоров'я.</p>
<h2>Наша мета:</h2>
<p>Захист та зміцнення здоров'я населення України шляхом підготовки та реалізації заснованих на фактах пропозицій щодо трансформації системи охорони громадського здоров'я в Україні на основі сучасних міжнародних стандартів і методів профілактики, діагностики та лікування соціально значущих захворювань."</p>

</section>

