<%! from django.utils.translation import ugettext as _ %>
<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("About us")}</%block>

<section class="container about" id="about">

<p style="margin-bottom: 0.35cm; line-height: 115%"><font size="4" style="font-size: 16pt">About
Us</font></p>
<p style="margin-bottom: 0.35cm; line-height: 115%"><a name="_GoBack"></a>
<font size="3" style="font-size: 12pt">Edvantez is a one stop
solution to all your </font><font size="3" style="font-size: 12pt"><b>eCommerce
</b></font><font size="3" style="font-size: 12pt">needs. We not only
train all the aspirants to the know – how of </font><font size="3" style="font-size: 12pt"><b>eCommerce</b></font><font size="3" style="font-size: 12pt">,
but we also mentor them throughout their startup process. </font>
</p>
<p style="margin-bottom: 0.35cm; line-height: 115%"><font size="3" style="font-size: 12pt">We
believe Education has no boundaries and it is for all, Hence we bring
the “</font><font size="3" style="font-size: 12pt"><u><b>HOW TO
START ONLINE STARTUP” </b></u></font><font size="3" style="font-size: 12pt">course
for all those who wish to be a part of the </font><font size="3" style="font-size: 12pt"><b>eCommerce</b></font><font size="3" style="font-size: 12pt">
fraternity. Edvantez thrives to make Education easy through their
training style as all the session’s aim at forming a connection
with the audience through sharing the real life experiences. </font>
</p>
<p style="margin-bottom: 0.35cm; line-height: 115%"><font size="3" style="font-size: 12pt">With
faculty of more than 30 Veterans from the Industry and an option of
Anytime Anywhere Learning, people across the globe can connect with
us as we are ‘JUST A CLICK AWAY’. </font>
</p>
<p style="margin-bottom: 0.35cm; line-height: 115%"><br/>
<br/>

</p>
<p style="margin-bottom: 0.35cm; line-height: 115%"><br/>
<br/>

</p>
<p style="margin-bottom: 0.35cm; line-height: 115%"><br/>
<br/>

</p>
<p style="margin-bottom: 0.35cm; line-height: 115%"><br/>
<br/>

</p>
<p style="margin-bottom: 0.35cm; line-height: 115%"><br/>
<br/>

</p>
<p style="margin-bottom: 0.35cm; line-height: 115%"><br/>
<br/>

</p>

</section>

