<%! from django.utils.translation import ugettext as _ %>
<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Honor code")}</%block>

<section class="container about" id="tos">

<h1>${_(u"Honor Code")}</h1>
<p>${_("Повідомлення про права, визначені законодавством у сфері захисту персональних даних, мету обробки персональних даних, осіб, яким передаються дані")}</p>
<p>${_("Керуючись статтею 12 Закону України «Про захист персональних даних» від 01.06.2010 року (надалі — Закон), повідомляємо Вам, що персональні дані, згоду на обробку яких надано Вами у реєстраційній формі учасника тренінгу, включено до бази персональних даних TrainSMART Державної установи «Центр громадського Міністерства охорони здоров’я України» (надалі — «Центр»).")}</p>
<p>${_("Персональні дані обробляються в базі персональних даних TrainSMART, яка зберігається на сервері, і до якої мають доступ консультанти Центру, які залучені до організації навчальних та публічних заходів.")}</p>
<p>${_("Метою обробки (у тому числі збору) Ваших персональних даних є здійснення Центром прямих контактів з Вами через засоби зв’язку, захисту Центром своїх законних прав та інтересів, у тому числі передання Персональних даних представникам Глобального Фонду для боротьби зі СНІДом, туберкульозом та малярією, представникам Місцевого Агента Фонду (LFA) та субреципієнтам Центру, а також статистичної обробки даних в електронній базі даних TrainSMART.")}</p>
<p>${_("Згідно зі статтею 8 Закону № 2297 Ви маєте право:")}</p>
<ol>
	<li>${_("знати про місцезнаходження персональних даних, яка містить його персональні дані, її призначення та найменування, місцезнаходження та/або місце проживання (перебування) володільця чи розпорядника персональних даних або дати відповідне доручення щодо отримання цієї інформації уповноваженим ним особам, крім випадків, встановлених законом;")}</li>
	<li>${_("отримувати інформацію про умови надання доступу до персональних даних, зокрема інформацію про третіх осіб, яким передаються його персональні дані;")}</li>
	<li>${_("на доступ до своїх персональних даних;")}</li>
	<li>${_("отримувати не пізніш як за тридцять календарних днів з дня надходження запиту, крім випадків, передбачених законом, відповідь про те, чи зберігаються його персональні дані у відповідній базі персональних даних, а також отримувати зміст його персональних даних, які зберігаються;")}</li>
	<li>${_("пред’являти вмотивовану вимогу володільцю персональних даних із запереченням проти обробки своїх персональних даних;")}</li>
	<li>${_("пред'являти вмотивовану вимогу щодо зміни або знищення своїх персональних даних будь-яким володільцем та розпорядником персональних даних, якщо ці дані обробляються незаконно чи є недостовірними;")}</li>
	<li>${_("на захист своїх персональних даних від незаконної обробки та випадкової втрати, знищення, пошкодження у зв'язку з умисним приховуванням, ненаданням чи несвоєчасним їх наданням, а також на захист від надання відомостей, що є недостовірними чи ганьблять честь, гідність та ділову репутацію фізичної особи;")}</li>
	<li>${_("звертатися із скаргами на обробку своїх персональних даних до органів державної влади та посадових осіб, до повноважень яких належить забезпечення захисту персональних даних, або до суду;")}</li>
	<li>${_("застосовувати засоби правового захисту в разі порушення законодавства про захист персональних даних;")}</li>
	<li>${_("вносити застереження стосовно обмеження права на обробку своїх персональних даних під час надання згоди;")}</li>
	<li>${_("відкликати згоду на обробку персональних даних;")}</li>
	<li>${_("знати механізм автоматичної обробки персональних даних;")}</li>
	<li>${_("на захист від автоматизованого рішення, яке має для нього правові наслідки.")}</li>
</ol>
<p>${_("На підтвердження вищевикладеного, я підтверджую, що мене повідомлено про включення Персональних даних до бази персональних даних Центру, про їх передачу третім особам та про мої права у сфері захисту персональних даних:")}</p>
<p>${_("Підписанням цієї анкети я даю свою однозначну згоду/дозвіл на:")}</p>
<ol>
	<li>${_("автоматизовану, а також без використання засобів автоматизації обробку Державною установою «Центр громадського здоров’я Міністерства охорони здоров’я України» (надалі – «Центр») зазначених в цій анкеті моїх персональних даних: у тому числі, але не виключно інформації щодо прізвища, власного імені, по батькові, паспортних даних, дати народження, громадянства, статі, міста народження, регіону та місця роботи, посади, категорії, освіти, назви тренінгів, у яких я брав участь, номерів моїх контактних телефонів, адреси моєї електронної пошти тощо (надалі – «Персональні дані») з метою здійснення Центром прямих контактів зі мною через засоби зв’язку, захисту Центром своїх законних прав та інтересів, у тому числі передання Персональних даних представникам Глобального Фонду для боротьби зі СНІДом, туберкульозом та малярією, представникам Місцевого Агента Фонду (LFA) та субреципієнтам Центру, а також статистичної обробки даних в електронній базі даних TrainSMART;")}</li>
	<li>${_("передання (поширення) Центром Персональних даних третім особам, у тому числі субреципієнтам Центру, які мають доступ до  бази даних «Ситема обліку тренінгів», зміну, знищення Персональних даних або обмеження доступу до них, включення до бази Персональних даних Центру з метою, зазначеною в п. 1) цієї згоди/дозволу та без необхідності надання мені  письмового повідомлення про здійснення зазначених дій.")}</li>
</ol>
<p>${_("Я надаю свою згоду на обробку Персональних даних на строк, який є необхідним відповідно до мети обробки Персональних даних, передбаченої даною згодою.
Підписанням даної згоди я підтверджую факт інформування мене про включення Персональних даних до бази персональних даних Центру, факт ознайомлення мене у письмовій формі з моїми правами, передбаченими Законом України «Про захист персональних даних» від 01.06.2010 року (далі – «Закон»), метою обробки Персональних даних, інформацією щодо осіб, яким можуть передаватися Персональні дані, засвідчую, що склад та зміст Персональних даних є відповідним визначеній вище меті обробки Персональних даних.")}</p>

</section>

