<%! from django.utils.translation import ugettext as _ %>
<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Honor code")}</%block>

<section class="container about" id="tos">

<h1>${_(u"Honor code")}</h1>
<p>${_("By enrolling in the course, participants agree to the following:")}</p>
<ul>
	<li>${_("Fulfilling the assignments and the final exams on their own, without any external help or sources.")}</li>
	<li>${_("Not sharing the course materials on other websites and/or in publications without referring to the initial source.")}</li>
	<li>${_("Not sharing the responses to the course assignments and/or final exam questions with current or potential course participants.")}</li>
	<li>${_("Giving feedback and engage in discussions in a respectful, friendly and factual manner.")}</li>
	<li>${_("Not sharing your login details and/or access to your course dashboard with other people.")}</li>
	<li>${_("Not discussing the solutions to the course assignment or final exam questions before their due date has passed.")}</li>
</ul>
<p>
</p>
</section>

