<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Contact")}</%block>


<section class="register container">
  <section class="contact-container">
    <div class="dashboard-notifications" tabindex="-1" ${style}>
      %if messages:
        %for message in messages:
          <section class="dashboard-banner">
            ${message}
          </section>
        %endfor
      %endif
    </div>
    <h1>${_("Contact")}</h1>
    <p>${_(u"Hi, already an edX student? Do you have questions, suggestions or issues?")}</p>
    <p>${_(u"Not a student yet and have a general question about edX? Please visit our FAQ’s. Still need help or want to give us general feedback (which we want), contact us below.")}</p>
    <p></p>


    <div class="group group-form group-form-requiredinformation">
      <form action="" method="post" id="webform-client-form-285" accept-charset="UTF-8">
        <input type="hidden" name="csrfmiddlewaretoken" value="${csrf_token}">
        <ol class="list-input">

          %if form.errors.get('email', False):
            <div role="alert" class="status message submission-error" tabindex="-1">

              <div class="message-copy">
                ${form.errors.get('email', False).as_text()}
              </div>


            </div>
          %endif
          <li class="field required text">
            <label for="${form['email'].id_for_label}">Your Email:</label>
            ${form['email']}
          </li>

          %if form.errors.get('full_name', False):
            <div role="alert" class="status message submission-error" tabindex="-1">

              <div class="message-copy">
                ${form.errors.get('full_name', False).as_text()}
              </div>


            </div>
          %endif
          <li class="field required text">
            <label for="${form['full_name'].id_for_label}">Full name:</label>
            ${form['full_name']}
          </li>

          %if form.errors.get('phone', False):
            <div role="alert" class="status message submission-error" tabindex="-1">

              <div class="message-copy">
                ${form.errors.get('phone', False).as_text()}
              </div>


            </div>
          %endif
          <li class="field text">
            <label for="${form['phone'].id_for_label}">Phone:</label>
            ${form['phone']}
          </li>

          %if form.errors.get('i_am_a', False):
            <div role="alert" class="status message submission-error" tabindex="-1">

              <div class="message-copy">
                ${form.errors.get('i_am_a', False).as_text()}
              </div>


            </div>
          %endif
          <li class="field text">
            <label for="${form['i_am_a'].id_for_label}">I am a: </label>
              ${form['i_am_a']}
          </li>

          %if form.errors.get('inquiry_type', False):
            <div role="alert" class="status message submission-error" tabindex="-1">

              <div class="message-copy">
                ${form.errors.get('inquiry_type', False).as_text()}
              </div>


            </div>
          %endif
          <li class="field required text">
            <label for="${form['inquiry_type'].id_for_label}">Inquiry type: </label>
              ${form['inquiry_type']}
          </li>

          %if form.errors.get('message', False):
            <div role="alert" class="status message submission-error" tabindex="-1">

              <div class="message-copy">
                ${form.errors.get('message', False).as_text()}
              </div>


            </div>
          %endif
          <li class="field required text">
            <label for="${form['message'].id_for_label}">Message: </label>
            <div class="form-textarea-wrapper resizable textarea-processed resizable-textarea">
              ${form['message']}
              <div class="grippie"></div>
            </div>
          </li>
          <li class="form-actions">
            <button type="submit" class="action action-primary action-update" aria-disabled="false">Submit</button>
          </li>
        </ol>


      </form>
    </div>
  </section>
</section>

