<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Contact")}</%block>


<section class="register container">
  <section class="contact-container">
    <form action="https://www.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="POST" class="contact-form">
      <input type=hidden name="oid" value="00D61000000Xtwr">
      <input type=hidden name="retURL" value="http://www.noticeability.org/thank-you/">

      <label for="first_name">First Name</label><input id="first_name" maxlength="40" name="first_name" size="30" type="text" /><br />
      <label for="last_name">Last Name</label><input id="last_name" maxlength="80" name="last_name" size="30" type="text" /><br />
      <label for="email">Email</label><input id="email" maxlength="80" name="email" size="30" type="text" /><br />
      <label for="phone">Phone</label><input id="phone" maxlength="40" name="phone" size="30" type="text" /><br />
      <label for="description">Description</label><textarea name="description" cols="30"></textarea><br />

      <input type="submit" name="submit">
    </form>
  </section>
</section>

