<%! from django.utils.translation import ugettext as _ %>
<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Terms of Service")}</%block>

<section class="container about" id="tos">

<h1>${_(u"Terms of Service")}</h1>

	<p><strong>1. Acceptance and Modification of the Terms of Use</strong></p>

	<p>1a. Your access and use of the Website of THE DO SCHOOL Innovation Lab GmbH (“The DO School”) are governed by the present terms of use (the “Terms of Use”). By accessing, browsing and using our Website you acknowledge that you have read, understood and accepted, without reserve, these Terms of Use, as modified from time to time by us.</p>

	<p>1b. If we decide to modify our Terms of Use, we will post a new dated version on our Website. Therefore, we invite you to consult these Terms of Use from time to time in order to familiarise yourself with any changes.</p>

	<p><strong>2. Copyright and Intellectual Property</strong></p>

	<p>2a. The content of our Website and namely but not exclusively the texts, marks, logos, diagrams, photographs, videos, sounds, music, layout, designs, know-how, technologies, products, and processes are the property of the DO School or its affiliated entities or are used with the authorisation of the owners, and accordingly are protected by copyright, trademarks, patents and all other intellectual or industrial property rights which exist under applicable law.</p>

	<p>2b. Except as provided in Section 3 hereinafter, nothing contained on our Website shall be interpreted or construed as granting you a license or a right to use any such content of our Website.</p>

	<p><strong>3. Use of the Website</strong></p>

	<p>3a. You may download, display or print the content of our Website solely for personal, non-commercial use, thereby retaining and reproducing each and every copyright notice or other proprietary rights notice contained in any information or other material you download. It is strictly prohibited to use the content of this Website and the image of the DO School in a way the DO School can be associated to pornographic, violent or illegal activities or content, to political, religious or governmental activities or content. You agree to stop using the content of this Website and the image of the DO School upon first demand.</p>

	<p>3b. The DO School neither warrants nor represents that the use of any content displayed on its Website will not infringe rights of third parties.</p>

	<p>3c. You may upload and display material to our Website. It is strictly prohibited to upload and display political, religious, governmental, pornographic, violent or illegal content on our Website or to infringe rights of third parties by uploading and displaying material on our Website. You are responsible for any material and content you upload and display on our Website and may be held liable in case of illegal material or content, violation of these Terms of Use or of infringement of rights of third parties.</p>

	<p><strong>4. Information Deemed Non-Confidential</strong></p>

	<p>4a. Any personally identifying data and information that you may send via the Internet to our Website are protected and treated according to our Confidentiality Policy you are invited to read carefully before providing us with any such personally identifying data and information.</p>

	<p>4b. Any other information or material communicated to the DO School through the Internet, by electronic mail or otherwise, including any data, questions, comments, suggestions, ideas, graphics or the like, are and will be treated as non-confidential and non-proprietary. Anything you transmit or post becomes the property of the DO School and may be freely used for any purpose, including, but not limited to, reproduction, disclosure, transmission, publication, broadcast and posting. Specifically, the DO School is free to use any ideas, concepts, know-how, or techniques contained in any such communication you send to the Website for any purpose whatsoever, including, but not limited to, developing, advertising and marketing activities using such information. Any such use is without compensation to those providing the information, nor anyone else.</p>

	<p>4c. By submitting information, you are warranting that you own the material/content submitted, that it is not defamatory, and that the DO School’s use will not violate any third party’s rights. The DO School is under no obligation to use the information provided.</p>

	<p><strong>5. Disclaimer of Warranties</strong></p>

	<p>5a. Without prejudice to Section 6 hereinafter, any material, information and all that you find on the Website are furnished to you without guaranty of any sort, express or implied.</p>

	<p>5b. The DO School does not guarantee that its Website or its content will correspond to your expectations, will not be interrupted, timely, secure and free of error.</p>

	<p>5c. Any advice or information, be it oral or written, obtained from the DO School or during the use of services made available on the sites, shall not give rise to any guaranty.</p>

	<p><strong>6. Limitation of Liability</strong></p>

	<p>6a. You access, use, browse and navigate on our Website at your own risk and peril.</p>

	<p>6b. You recognise and accept that, to the fullest extent permitted by applicable regulations, neither the DO School, any of its affiliated entities, nor any other party involved in creating, producing or delivering the Website, may be held liable for any direct, indirect, or consequential damages, any injury to reputation, costs, losses, decrease in turnover or profits or liabilities of any nature whatsoever (even if the advent of such damage was known or could have been known by the DO School, capable of arising from your access to, or use of, or on the contrary the impossibility to use, the Website or its content.</p>

	<p>6c. All material and information which are downloaded or obtained by any other manner during the use of our Website are without guarantee at your own risk and peril. The DO School assumes no liability for any damage or virus which could affect your computer equipment or other property by reason of your access to, use or downloading of any material from its Website or for any illegal intrusion or intervention in the IT systems.</p>

	<p>6d. The DO School reserves the right to interrupt or discontinue any or all of the functionality of its Website. The DO School accepts no responsibility or liability whatsoever for any interruption or discontinuance of any or all functionality of its Website resulting from actions or omissions of The DO School or any third party.</p>

	<p><strong>7. Change of Information</strong></p>

	<p>The content of our Website may contain inaccuracies or errors. The DO School reserves the right to make changes, corrections and/or improvements to such content any time without prior notice but does not assume any responsibility to do so.</p>

	<p><strong>8. Links</strong></p>

	<p>8a. As a service to our visitors, our Website may contain hypertext links leading to other websites that are not operated or controlled by the DO School. The DO School shall not be considered as responsible for these sites and declines all responsibility and liability in relation to their content, legality, accuracy or functions.</p>

	<p>8b. The creation of any hyperlink to our Website is prohibited without prior written consent of the DO School.</p>

	<p><strong>9. Miscellaneous</strong></p>

	<p>9a. The present Terms of Use embody the entire agreement concluded between the DO School and yourself concerning the access and the use of the Website and its content. Any other terms or conditions issued by the DO School and governing its relations with you, in particular relating to its activities, shall supplement the Terms of Use; in the event of any inconsistency between them, the other terms or conditions shall prevail over these Terms of Use.</p>

	<p>9b. The fact that the DO School tolerates a violation by yourself of one of the obligations set out in the Terms of Use, or does not enforce a right attributed to it there under or under the law shall not be construed as a waiver by it to invoke and enforce its rights.</p>

	<p>9c. In the event that any provision of the Terms of Use is considered to be illegal by law or regulation, existing or future, or by a court ruling, then such provision shall be considered as stricken, all other provisions of the Terms of Use maintaining full force and effect between yourself and the DO School.</p>

	<p>9d. The headings of the provisions of the Terms of Use are for convenience alone and shall not alter or modify the terms and conditions in any manner.</p>

	<p><strong>10. Applicable Law and Forum</strong></p>

	<p>10a. The Terms of Use, as well as all relations between the DO School and yourself shall be governed exclusively by the laws of the Federal Republic of Germany</p>

	<p>10b. Place of performance is Hamburg, Germany. In case of dispute, you accept the exclusive jurisdiction of the Courts of Hamburg, Germany.</p>

</section>
