<%! from django.utils.translation import ugettext as _ %>
<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Honor code")}</%block>

<section class="container about" id="tos">
	<h1>Згода на обробку персональних даних</h1>
	<p>, відповідно до Закону України «Про захист персональних даних» (далі – Закон) з метою ведення бази персональних даних дистанційних навчальних курсів, системи обліку тренінгів, здійснення прямих контактів зі мною через засоби зв’язку, передання моїх персональних даних представникам Глобального фонду для боротьби із СНІДом, туберкульозом та малярією, представникам Місцевого Агента Фонду (LFA) та субреципієнтам, а також статистичної обробки даних в електронній базі даних TrainSMART, даю згоду Державній установі «Центр громадського здоров’я Міністерства охорони здоров’я України» (далі – Центр)  на:</p>
	<ol>
		<li>обробку моїх персональних даних у тому числі, але не виключно, відомості про освіту, професію, місце роботи, посади, категорії, спеціальність та кваліфікацію, науковий ступінь, вчене звання, підвищення кваліфікації, назви тренінгів у яких брав (ла) участь, паспортних даних, прізвища, власного імені, по батькові, особистих відомостей (дата народження, вік, стать, родинний стан, склад сім'ї тощо), відомостей про зареєстроване або фактичне місце проживання, даних щодо стану здоров'я в межах, визначених законодавством, номери телефонів, адреси електронної пошти тощо;</li>
		<li>використання персональних даних, що передбачає будь-які дії Центр, як володільця персональних даних з обробки таких даних, їх захисту, а також дії з надання часткового або повного права обробки персональних даних іншим суб'єктам відносин, пов'язаних з персональними даними, що здійснюються за згодою суб'єкта персональних даних чи відповідно до Закону;</li>
		<li>поширення персональних даних, що передбачає дії з передачі моїх персональних даних третім особам, без будь-яких додаткових повідомлень, виключно, якщо при цьому не змінюється мета їх обробки, зміну, знищення моїх персональних даних або обмеження доступу до них на підставі цієї згоди.</li>
	</ol>
	<p>Я надаю свою згоду на обробку персональних даних на строк, який є необхідним відповідно до мети обробки персональних даних, передбаченої цією згодою.</p>
</section>

