<%! from django.utils.translation import ugettext as _ %>
<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("FAQ")}</%block>

<section class="container about" id="tos">

<h1>${_(u"FAQ")}</h1>
  <h2>How to register to lear.mehackit.org?</h2>
  <p>Go to
      <a href="${reverse('register_user')}">register</a> and create an account.</p>
  <h2>Who can join Mehackit courses?</h2>
  <p>Our material is free to use for all curious minds.
    Our material is built for classes with a Mehackit instructor, but you are free to use these materials also outside the class room, with or without an instructor.
    If you are a teacher and wish to organize a Mehackit course, please contact us at hello at mehackit.org.
  </p>
</section>

