<%! from django.utils.translation import ugettext as _ %>
<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Terms of Service")}</%block>

<section class="container about" id="privacy">

<h1>${_(u"Privacy Statement")}</h1>
<p>
&nbsp;&nbsp;&nbsp;&nbsp;This statement relates to Camara’s privacy practices in connection with this website. We are not responsible for the content or privacy practices of other websites. Any external links to other websites are clearly identifiable as such.
</p>
<br />

<h2>${_(u"General statement")}</h2>
<p>
&nbsp;&nbsp;&nbsp;&nbsp;Camara fully respects your right to privacy, and will not collect any personal information about you on this website without your clear permission. Any personal information which you volunteer will be treated with security and confidentiality, strictly in accordance with EU standards and the Data Protection Acts, 1988 & 2003.
</p>
<br />

<h2>${_(u"Collection and use of personal information")}</h2>
<p>
&nbsp;&nbsp;&nbsp;&nbsp;Camara does not collect any personal data about you on this learning platform, apart from information which you volunteer. Any information which you provide in this way is not made available to any third parties, and is used by Camara  only in line with the purpose for which you provided it.
</p>
<br />

<h2>${_(u"Requests regarding data supplied via this website")}</h2>
<p>
&nbsp;&nbsp;&nbsp;&nbsp;On request, we supply copies of your personal data which you may have provided via this website. If you wish to obtain such copies, request this information by sending an email to elearning@camara.org. You should include any personal  identifiers which you supplied earlier via the website (e.g. Name; address; phone number; e-mail address). Your request will be dealt with as soon as possible and will take not more than 30 days to process.<br />&nbsp;&nbsp;&nbsp;&nbsp; If you discover that we hold inaccurate information about you, you can provide us with updated information by sending an email to <a href='mailto:elearning@camara.org'>elearning@camara.org</a> with the correct details.
</p>
<br />
</section>

<section class="container about" id="about">
<h1>${_(u"About us")}</h1>

<p>
  <span>
    &nbsp;&nbsp;&nbsp;&nbsp;Camara is an International education organisation dedicated to using technology to improve the quality of education in disadvantaged communities around the world. Camara focus on delivering quality ICT based educational solutions focusing on infrastructure, teacher and school leader capacity development, ongoing professional support for schools and ongoing monitoring and evaluation. 
  </span>
</p>

<p>
  <span>
    &nbsp;&nbsp;&nbsp;&nbsp;Camara&#39;s current strategy plan focuses on three key goals;
  </span>
</p>

<p>
  <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;i)</span>
  <span>&nbsp;</span>
  <span>Prove the impact of Camara;</span>
</p>

<p>
  <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ii)</span>
  <span>&nbsp;</span>
  <span>Improve the quality of Camara&rsquo;s interventions; and</span>
</p>

<p>
  <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;iii)</span>
  <span>&nbsp;</span>
  <span>Scale; scaling up the delivery of the Camara package. </span>
</p>

<p>
  <span>
    &nbsp;&nbsp;&nbsp;&nbsp;An improved educational delivery model allows Camara&#39;s Education Hubs to focus on educating teachers and educators to deliver 21st Century Skills to students through a context appropriate solution. Founded ten years ago in Dublin, Ireland the organisation has built a proven model of &#39;education delivery&#39; that is both sustainable and highly scalable.
  </span>
</p>

<p>
  <span>
    &nbsp;&nbsp;&nbsp;&nbsp;Camara is a registered charity in the US, Ireland and the UK. It currently operates seven Education Hubs in Africa (Ethiopia, Kenya, Rwanda, Zambia, Uganda, Lesotho, Tanzania), one in Jamaica and one in Ireland. All Hubs operate as social enterprises and are financially sustainable after one year.
  </span>
</p>

<p>
  <strong>Our impact:</strong>
</p>

<p>
  <span>
    <img alt="Our impact" src="${static.url('themes/default/images/OurImpact.png')}" style="width: 601.70px; height: 162.67px;" title="Our impact">
  </span>
</p>
</section>

