.header-nav {
    display: flex;
    padding-left: 50px;

    &_link {
        color: #007db8 !important;
        margin-right: 23px;
        font-size: 14px;
        font: 14px/30px $font-regular !important;

        &:hover {
            color: #007db8 !important;
        }
    }
}