.header-nav {
    display: flex;
    flex-wrap: wrap;
    @media screen and (min-width: $media-desktop) {
        flex-wrap: nowrap;
        margin-left: 43px;
    }
    @media screen and (max-width: $media-desktop) {
        justify-content: flex-end;
    }
    &_link {
        color: #007db8 !important;
        margin-right: 23px;
        font-size: 14px;
        font: 14px/30px $font-regular !important;

        &:hover {
            color: #7f848c !important;
            text-decoration: none;
        }
    }
}