.slider-gallery {
    .slick-track .slick-center {
        transform: translate(0, 0);
        transition: 0.3s;
        & + .slick-slide {
            transform: translate(-25%, 25%) scale(0.5);
        }
        img {
            @media screen and (max-width: $tablet-size) {
                display: none;
            }
        }
    }
    .slick-slide img {
        width: 100%;
    }
    .slick-slide {
        margin: 0 10px;
        transform: translate(25%, 25%) scale(0.5);
        transition: 0.3s;
        min-height: 100%;
        position: relative;
        border-radius: 12px;
        overflow: hidden;
        @media (max-width: $tablet-size) {
            min-height: 350px;
        }
    }
    .slick-dots li {
        width: 12px;
        height: 12px;
    }
    .slick-dots li button {
        background: #fff;
        width: 12px;
        height: 12px;
        padding: 0;
        border-radius: 50%;
    }
    .slick-dots li.slick-active button {
        background: #57C4BD;
    }
    .slick-dots {
        bottom: 2%;
        left: 50%;
        transform: translate(-90%);
        width: 50%;
        @media screen and (max-width: 1400px){
            transform: translate(-95%);
        }
        @media screen and (max-width: $tablet-size) {
            transform: translate(-95%);
        }
        @media screen and (max-width: 768px) {
            left: 77px;
            transform: translate(-50%);
        }
    }
    .slick-dots li button:before {
        opacity: 0;
    }
    &__info {
        width: 300px;
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        min-height: 100%;
        flex-direction: column;
        justify-content: space-between;
        //background: #ccccff;
        color: #fff;
        box-sizing: border-box;
        padding: 40px 16px 16px;
        .slick-center & {
            display: flex;
        }
        @media (max-width: $tablet-size) {
            width: 100%;
            padding: 40px 16px 25px;
        }
    }
    &__blur-filter {
        position: absolute;
        display: none;
        top: 0;
        right: 0;
        height: 100%;
        -webkit-filter: blur(5px);
        filter: blur(5px);
        width: 300px;
        background-color:rgba(0, 96, 100, 0.5);
        background-image: url('../images/promo-box-img.jpg');
        background-position: right;
        .slick-center & {
            display: flex;
        }
        &:before {
            content: '';
            position: absolute;
            height: 100%;
            width: 300px;
            background-color:rgba(0, 96, 100, 0.5);
        }
        @media screen and (max-width: $tablet-size){
            width: 100%;
            &:before {
                width: 100%;
            }
        }
    }

    &__text-holder {
        display: flex;
        flex-direction: column;
        font-size: 14px;
    }
    &__title {
        margin-bottom: 20px;
        font-size: 24px;
    }
    &__paragraph {
        margin: 0 0 16px 0;
    }
    &__button {
        background: #57c4bd;
        color: #fff;
        height: 40px;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
    }
    input[type="submit"]:active:not(:disabled), input[type="submit"]:focus:not(:disabled), input[type="button"]:active:not(:disabled), input[type="button"]:focus:not(:disabled), button:active:not(:disabled), button:focus:not(:disabled), .button:active:not(:disabled), .button:focus:not(:disabled) {
        box-shadow: none;
    }
    &__bold-text {
        margin-bottom: 16px;
    }
    a.login-theme, .login-theme {
        @media all and (max-width: 900px) {
            display: inline-block;
        }
    }
}
