.slider-gallery-about {
    .slick-track .slick-center {
        transform: translate(0, 0) scale(0.9);
        transition: 0.3s;
        & + .slick-slide {
            transform: translate(-13%, 5%) scale(0.8);
        }
        img {
            @media screen and (max-width: $tablet-size) {
                display: none;
            }
        }
        .slider-gallery__green-filter {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            background: rgba(0, 100, 100, 0.7);
            z-index: 1;

        }
    }
    .slick-slide {
        transform: translate(13%, 5%) scale(0.8);
    }
    .slick-slide img {
        width: 100%;
        z-index: 0;
    }
    .slick-slide {
        margin: 0 10px;
        transition: 0.3s;
        min-height: 100%;
        position: relative;
        border-radius: 12px;
        overflow: hidden;
        //box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
        @media (max-width: $tablet-size) {
            min-height: 520px;
        }
    }
    .slick-dots li {
        width: 12px;
        height: 12px;
    }
    .slick-dots li button {
        background: #fff;
        width: 12px;
        height: 12px;
        padding: 0;
        border-radius: 50%;
    }
    .slick-dots li.slick-active button {
        background: #57C4BD;
    }
    .slick-dots {
        bottom: 45px;
        left: 50%;
        transform: translate(-96%);
        width: 50%;
        @media screen and (max-width: 1400px) {
            transform: translate(-95%);
        }
        @media screen and (max-width: $tablet-size) {
            transform: translate(-50%);
        }
    }
    .slick-dots li button:before {
        opacity: 0;
    }
    &__info {
        width: 300px;
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        min-height: 100%;
        flex-direction: column;
        justify-content: space-between;
        color: #fff;
        box-sizing: border-box;
        padding: 40px 16px 16px;
        .slick-center & {
            display: flex;
        }
        @media (max-width: $tablet-size) {
            width: 100%;
            padding: 40px 16px 25px;
        }
        &_other {
            width: 100%;
        }
    }
    &__blur-filter {
        position: absolute;
        display: none;
        top: 0;
        right: 0;
        height: 100%;
        -webkit-filter: blur(5px);
        filter: blur(5px);
        width: 300px;
        background-color: rgba(0, 96, 100, 0.5);
        background-image: url('../images/promo-box-img.jpg');
        background-position: right;
        .slick-center & {
            display: flex;
        }
        &:before {
            content: '';
            position: absolute;
            height: 100%;
            width: 300px;
            background-color: rgba(0, 96, 100, 0.5);
        }
        @media screen and (max-width: $tablet-size) {
            width: 100%;
            &:before {
                width: 100%;
            }
        }
        &_none {
            display: none;
        }
    }

    &__text-holder {
        display: flex;
        flex-direction: column;
        font-size: 14px;
    }
    &__title {
        margin-bottom: 20px;
        font-size: 24px;

        &_other {
            font-size: 64px;
            line-height: 77px;
            color: #fff;
            font-weight: bold;
            margin-bottom: 16px;
        }
    }
    &__paragraph {
        margin: 0 0 16px 0;
    }
    &__button {
        background: #57c4bd;
        color: #fff;
        height: 40px;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
    }
    input[type="submit"]:active:not(:disabled), input[type="submit"]:focus:not(:disabled), input[type="button"]:active:not(:disabled), input[type="button"]:focus:not(:disabled), button:active:not(:disabled), button:focus:not(:disabled), .button:active:not(:disabled), .button:focus:not(:disabled) {
        box-shadow: none;
    }
    &__bold-text {
        margin-bottom: 16px;

        &_other {
            margin-bottom: 38px;
            font-size: 24px;
            line-height: 29px;
            font-weight: bold;
        }
    }
    a.login-theme, .login-theme {
        @media all and (max-width: 900px) {
            display: inline-block;
        }
    }
    &__item {
        //min-width: 968px;
        //min-height: 415px;
    }
}

.slider-gallery__text {
    font-style: italic;
    font-size: 20px;
    line-height: 30px;
}
