.header-helper {
    background: #461b6e;

    &:after {
        display: none;
    }

    &_wrapper {
        @extend %wrapper;
        display: flex;
        justify-content: space-between;
        padding-top: 12px;
        padding-bottom: 14px;
        flex-wrap: wrap;
        @media screen and (min-width: $media-tablet) {
            flex-wrap: no-wrap;
        }

        &:after {
            display: none;
        }
    }
    &_right-side {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        padding-top: 10px;
        @media screen and (min-width: $media-tablet) {
            width: auto;
            justify-content: flex-start;
            padding-top: 0;
        }
    }
    &_left-side {
        display: flex;
        width: 100%;
        justify-content: space-between;
        @media screen and (min-width: $media-tablet) {
            display: block;
            width: auto;
            justify-content: flex-start;
        }
    }
    &_mail,
    &_link {
        font-family: $font-light !important;
        font-size: 12px;
        line-height: 16px;
        color: #fff !important;

        &:hover {
            color: #007db8 !important;
            text-decoration: none;
        }
    }
    &_mail {
        @media screen and (min-width: $media-tablet) {
            margin-left: 83px;
        }
    }
    &_ico-holder {
        margin-right: 8px;
    }
    &_caption {
        font-family: $font-regular;
        font-size: 12px;
        line-height: 17px;
        color: #fff;
        display: none;
        @media screen and (min-width: $media-tablet) {
            display: inline-block;
        }
    }
    &_list {
        display: flex;
        margin: 0;
        padding: 0;
        list-style: none;
    }
    &_list-item {
        margin-left: 20px;
    }
}