@import "../const";

.main-header {
    box-shadow: none;
    border: none;
    height: 100px;
    background: none;
    z-index: 100;

    &_holder {
        display:flex;
        justify-content: flex-end;
        align-items: center;
        padding-top: 1px;
        @media screen and (max-width: $responsive-large) {
            flex-direction: column;
        }
        a {
            @media screen and (max-width: $responsive-large) {
                margin: 5px 0;
            }  
        }
    }
    .nav-global {
        margin-right: 36px;
        @media screen and (max-width: $responsive-large) {
            margin-right: 0;
            flex-direction: column;
        }
    }
    .nav-global li a, 
    .nav-global div a {
        color: #fff;
        text-transform: none;
        font-size: 16px;
        line-height: 1.3;
       
        &:focus, 
        &:hover {
            color: lighten(#dd4628, 10%) !important;
        }
    }
    .wrapper-header {
       max-width: 1080px;
       box-sizing: border-box;
       padding: 26px 40px 23px !important;
       height: auto;
    }
    &__black {
        background: #30363a;
    }
    &_wrap {
        @media screen and (max-width: $responsive-large) {
            position: absolute;
            right: 0;
            top: 100px;
            width: auto;
            background: #222629;
            padding: 20px 35px 20px 20px;
            display: none;
        }
    }
    &_wrapper {
        width: 100%;
        background: rgba(0, 0, 0, .3);

        &__fixed {
            position: fixed;
            top: 0;
        }
    }
}

.main-header .wrapper-header {
    height: 100px !important;
}
