.main-header {
    box-shadow: none;
    border: none;
    height: 100px;
    background: none;
    
    &_holder {
        display:flex;
        justify-content: flex-end;
        align-items: center;
        /*padding-top: 1px;*/
        flex-grow: 2;
    }
    .nav-global {
        margin-right: 36px;
    }
    .nav-global li a, 
    .nav-global div a {
        color: #fff !important;
        text-transform: none;
        font-size: 18px !important;
        font-weight: normal;
        line-height: 1.3;
       
        &:focus, 
        &:hover {
            /*color: lighten(#dd4628, 10%) !important;*/
            color: #ffe100 !important;
        }
    }
    .wrapper-header {
       max-width: 1080px;
       box-sizing: border-box;
       padding: 26px 40px 23px;
       height: auto;
    }
    &__black {
        background: #30363a;
    }
    &_wrapper {
        width: 100%;
        background: rgba(0, 0, 0, .3);
        /*background: #ffe100;*/
        /*background: #c7c5c7;*/

        &__fixed {
            position: fixed;
            top: 0;
        }
    }
}

.main-header .wrapper-header {
    height: 100px !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}
