@import '../../variables';
@import 'lms/static/sass/partials/base/variables';

$header-bg: $color-grey-dark;
$body-bg: $color-white;
$lms-background-color: $color-white;
$lms-container-background-color: #efefef;
$forum-color-background: $color-white;
$footer-bg: $color-grey-dark;

$blue: $color-orange;
$link-color: $color-orange;
$link-hover: $color-orange-light;
$uxpl-blue-base: $color-orange; // change blue to orange
$uxpl-blue-hover-active: $color-orange-light; // change blue to orange
$forum-color-primary: $color-orange;
$base-font-color: $color-grey-dark;
$m-gray-d4: $color-grey-dark;
$button-color: $color-orange;

$sans-serif: 'Academy Sans', Verdana, Geneva, sans-serif, sans-serif;
$serif: 'Academy Sans', Verdana, Geneva, sans-serif, sans-serif;
$f-sans-serif: $sans-serif;
$f-serif: $serif;
