.wrapper-footer {
    background: #46bc8c;
    padding: 0;

    footer#footer-openedx {
        max-width: 1080px;
        box-sizing: border-box;
        padding: 37px 40px 0;
    }
}

.wrapper-footer footer#footer-openedx a:hover,
.wrapper-footer footer#footer-openedx a:focus,
.wrapper-footer footer#footer-openedx a:active, {
	border: none;
}

.wrapper-footer footer#footer-openedx ul a:active,
.wrapper-footer footer#footer-openedx ul a:focus, {
    border: none;
}