.wrapper-footer {
    background: $tourque-blue;
    padding: 0;
    min-height: 232px;

    footer#footer-openedx {
        max-width: 1080px;
        box-sizing: border-box;
        padding: 37px 40px 0;

        a:hover {
            text-decoration: none;
        }
    }
}