//settings for header
$header-nav-link-color:#3d4152;
$header-nav-link-color-hover: #fc8019;
$header-color: #fff;
$dropdown-menu-color: #3d4152;
$dropdown-menu-color-hover: #fc8019;
//settings for hamburger
$hamburger-color: #3d4152;
$hamburger-width: 40px;
$hamburger-height: 30px;
$hamburger-height-line: 3px;
//settings for footer
$footer-nav-link-color: #3d4152;
$footer-nav-link-color-hover: #fc8019;
$footer-color: #fff;
//btn
$theme-btn-bg: #3d4152;
$theme-btn-text-color: #ffe;
$theme-btn-bg-hover: #fc8019;
$theme-btn-shadow: darken($theme-btn-bg, 20%);
//btn-white
$theme-btn-white-bg: #fff;
$theme-btn-white-border: #fc8019;
$theme-btn-white-text-color: #fc8019;
$theme-btn-white-text-color-hover: #fff;
$theme-btn-white-bg-hover: #fc8019;
// link color
$theme-link: #3d4152;
$theme-link-hover: #fc8019;
//settings for bg content pages
$theme-content-bg: #eee;
//settings for input icons
$theme-input-icon: #fc8019;
//user link color 
$theme-user-link: #3d4152;
$theme-user-link-hover: #fc8019;
//our overrides for settings we want to change
$img-path: "../images" !default;
$font-path: "../fonts" !default;
