$desktop-size: 1200px;
$tablet-size: 900px;
$mobile-size: 600px;

$gradient: linear-gradient(135deg, rgba(90,196,190,1) 53%,rgba(146,131,195,1) 69%,rgba(186,86,199,1) 84%,rgba(197,73,200,1) 100%);
$gradient2: linear-gradient(to right, rgba(87,196,189,1) 0%,rgba(206,59,200,1) 100%);
$gradient3: linear-gradient(to right, rgba(7,36,101,1) 0%,rgba(0,197,189,1) 100%);

$color1: #57C4BD;
$color2: #CE3BC8;
$color3: #A281CD;
$color4: #0B3DD2;
$color5: #F4AF48;
