//body background
$body-bg: #f5f5f5;
//settings for header
$header-bg: #fff;
$header-nav-link-color: #7b97ab;
$header-nav-link-color-hover: lighten($header-nav-link-color, 20%);
$dropdown-menu-link-color: #7b97ab;
$dropdown-menu-link-color-hover: lighten($dropdown-menu-link-color, 20%);
//settings for hamburger
$hamburger-color: #7b97ab;
$hamburger-width: 40px;
$hamburger-height: 30px;
$hamburger-height-line: 3px;
//settings on promo box
$promo-box-text-color: #fff;
$promo-box-text-shadow: 0px 2px 0px rgba(77, 77, 77, 0.4);
$find-btn-bg: transparent;
$find-btn-bg-hover: rgba(0, 0, 0, .2);
$find-btn-border: #fff;
$find-btn-color: #fff;
$find-btn-color-hover: $find-btn-color;
//settings for footer
$footer-bg: #4e748a;
$footer-nav-link-color: #fff;
$footer-nav-link-color-hover: rgba(255,255,255, .8);
$footer-support-text-and-logo: #fff;
$footer-social-link-bg: #fff;
//btn
$theme-btn-bg: #4e748a;
$theme-btn-text-color: #ffe;
$theme-btn-bg-hover: lighten($theme-btn-bg, 20%);
$theme-btn-shadow: darken($theme-btn-bg, 20%);
//btn-white
$theme-btn-white-bg: #fff;
$theme-btn-white-border: #4e748a;
$theme-btn-white-text-color: #4e748a;
$theme-btn-white-text-color-hover: #fff;
$theme-btn-white-bg-hover: #4e748a;
// link color
$theme-link: #7b97ab;
$theme-link-hover: lighten($theme-link, 20%);
//settings for bg content pages
$theme-content-bg: #f5f5f5;
//settings for input icons
$theme-input-icon: #7b97ab;
//user link color 
$theme-user-link: #7b97ab;
$theme-user-link-hover: lighten($theme-user-link, 20%);
//settings fo courses on main page and search
$courses-border-color: #7b97ab;
$course-hover-bg: rgba(0, 0, 0, .5);
$course-link-color: $theme-link;
$course-bg: #f5f5f5;
//our overrides for settings we want to change
$img-path: "../images" !default;
$font-path: "../fonts" !default;
$white: #fff;
$delete-button: red;
