//settings for header
$header-nav-link-color: #719d2e;
$header-nav-link-color-hover: lighten($header-nav-link-color, 20%);
$header-color: #fff;
$dropdown-menu-color: #719d2e;
$dropdown-menu-color-hover: lighten($dropdown-menu-color, 20%);
//settings for hamburger
$hamburger-color: #719d2e;
$hamburger-width: 40px;
$hamburger-height: 30px;
$hamburger-height-line: 3px;
//settings for footer
$footer-nav-link-color: #fff;
$footer-nav-link-color-hover: rgba(255,255,255, .8);
$footer-color: #8abc3e;
//btn
$theme-btn-bg: #8abc3e;
$theme-btn-text-color: #fff;
$theme-btn-bg-hover: lighten($theme-btn-bg, 20%);
$theme-btn-shadow: darken($theme-btn-bg, 20%);
//btn-white
$theme-btn-white-bg: #fff;
$theme-btn-white-border: #8abc3e;
$theme-btn-white-text-color: #8abc3e;
$theme-btn-white-text-color-hover: #fff;
$theme-btn-white-bg-hover: #8abc3e;
// link color
$theme-link: #719d2e;
$theme-link-hover: lighten($theme-link, 20%);
//settings for bg content pages
$theme-content-bg: #eee;
//settings for input icons
$theme-input-icon: #fc6a15;
//user link color 
$theme-user-link: #3c3c3c;
$theme-user-link-hover: lighten($theme-user-link, 20%);
//our overrides for settings we want to change
$img-path: "../images" !default;
$font-path: "../fonts" !default;
