$tourque-blue: #7396c3;
$tourque-orange: #f05a23;
//body background
$body-bg: #eee;
//settings for header
$header-bg: #30363a;
$header-nav-link-color: #fff;
$header-nav-link-color-hover: #f37e53;
$dropdown-menu-link-color: #30363a;
$dropdown-menu-link-color-hover: lighten($dropdown-menu-link-color, 20%);
//settings for hamburger
$hamburger-color: #f05a23;
$hamburger-width: 40px;
$hamburger-height: 30px;
$hamburger-height-line: 3px;
//settings on promo box
$promo-box-text-color: #fff;
$promo-box-text-shadow: 0px 2px 0px rgba(77, 77, 77, 0.4);
$find-btn-bg: transparent;
$find-btn-bg-hover: rgba(0, 0, 0, .2);
$find-btn-border: #fff;
$find-btn-color: #fff;
$find-btn-color-hover: $find-btn-color;
//search input on promo box
$search-input-background: rgba(255,255,255,0.3);
$search-input-border: #fff;
$search-input-color: #fff;
$search-button-background: none;
$search-button-border: #fff;
$search-button-color: #fff;
$search-height: 55px;
//settings for footer
$footer-bg: #7396c3;
$footer-nav-link-color: #fff;
$footer-nav-link-color-hover: rgba(255,255,255, .8);
$footer-support-text-and-logo: #fff;
$footer-social-link-bg: #007296;
$footer-social-link-bg-hover: #00556f;
//btn
$theme-btn-bg: #f05a23;
$theme-btn-text-color: #fff;
$theme-btn-bg-hover: #d2430e;
$theme-btn-shadow: darken($theme-btn-bg, 20%);
//btn-white
$theme-btn-white-bg: #fff;
$theme-btn-white-border: $tourque-blue;
$theme-btn-white-text-color: $tourque-blue;
$theme-btn-white-text-color-hover: #fff;
$theme-btn-white-bg-hover: $tourque-blue;
// link color
$theme-link: $tourque-blue;
$theme-link-hover: lighten($theme-link, 20%);
//settings for bg content pages
$theme-content-bg: #f4f4f4;
//settings for input icons
$theme-input-icon: $tourque-blue;
//user link color 
$theme-user-link: $tourque-blue;
$theme-user-link-hover: lighten($theme-user-link, 20%);
//settings fo courses on main page and search
$courses-border-color: $tourque-blue;
$course-hover-bg: rgba(0, 0, 0, .5);
$course-link-color: #4a4a4a;
$course-bg: #fff;
//certificate
$ribbon-corners-color: #f05a23;
$ribbon-triangle-color: #d64916;
$certificate-borders-color: #f05a23;
//our overrides for settings we want to change
$img-path: "../images" !default;
$font-path: "../fonts" !default;
$delete-button: red;
$white: #fff;
