//body background
$body-bg: #eee;
//settings for header
$header-bg: #fff;
$header-nav-link-color: #000;
$header-nav-link-color-hover: #1e4f92;
$dropdown-menu-link-color: #000;
$dropdown-menu-link-color-hover: #1e4f92;
//settings for hamburger
$hamburger-color: #1e4f92;
$hamburger-width: 40px;
$hamburger-height: 30px;
$hamburger-height-line: 3px;
//settings on promo box
$promo-box-text-color: #fff;
$promo-box-text-shadow: 1px 2px 0 rgba(77, 77, 77, 0.34);
$find-btn-bg: transparent;
$find-btn-bg-hover: rgba(0, 0, 0, .2);
$find-btn-border: #fff;
$find-btn-color: #fff;
$find-btn-color-hover: $find-btn-color;
$search-input-height: 45px;
//settings for footer
$footer-bg: #4a5264;
$footer-nav-link-color: #fff;
$footer-nav-link-color-hover: rgba(255,255,255, .8);
$footer-support-text-and-logo: #fff;
$footer-social-link-bg: #fff;
//btn
$theme-btn-bg: #1e4f92;
$theme-btn-text-color: #fffefe;
$theme-btn-bg-hover: lighten($theme-btn-bg, 20%);
$theme-btn-shadow: darken($theme-btn-bg, 20%);
//btn-white
$theme-btn-white-bg: #fff;
$theme-btn-white-border: #1e4f92;
$theme-btn-white-text-color: #1e4f92;
$theme-btn-white-text-color-hover: #fff;
$theme-btn-white-bg-hover: #1e4f92;
// link color
$theme-link: #1e4f92;
$theme-link-hover: lighten($theme-link, 20%);
//settings for bg content pages
$theme-content-bg: #eee;
//settings for input icons
$theme-input-icon: #1e4f92;
//user link color 
$theme-user-link: #1e4f92;
$theme-user-link-hover: lighten($theme-user-link, 20%);
//settings fo courses on main page and search
$courses-border-color: #1e4f92;
$course-hover-bg: rgba(0, 0, 0, .5);
$course-link-color: $theme-link;
$course-bg: #fff;
//our overrides for settings we want to change
$img-path: "../images" !default;
$font-path: "../fonts" !default;
