//settings for hamburger
$hamburger-color: #fff;
$hamburger-width: 40px;
$hamburger-height: 30px;
$hamburger-height-line: 3px;

$responsive-large: 980px;
$header-bg: #476f00;
$btn-bg: #78b700;
$btn-bg-hover: #666666;