$base-color: #e0301e;
$base-color2: #2d2d2d;
$base-color2-hover: lighten($base-color2, 20%);
$base-color3: #dc6900;
//body background
$body-bg: #eee;
//logo
$header-logo-height: 65px;
$footer-logo-height: 65px;
$certificate-logo-height: $footer-logo-height;
//settings for header
$header-bg: #fff;
$header-nav-link-color: $base-color2;
$header-nav-link-color-hover: lighten($header-nav-link-color, 20%);
$dropdown-menu-link-color: #474747;
$dropdown-menu-link-color-hover: lighten($dropdown-menu-link-color, 20%);
$header-user-links: #474747;
$header-user-links-hover: lighten($header-user-links, 20%);
//settings for hamburger
$hamburger-color: $base-color2;
$hamburger-width: 30px;
$hamburger-height: 30px;
$hamburger-height-line: 5px;
//settings on promo box
$promo-box-text-color: #fff;
$promo-box-text-shadow: 0px 2px 0px rgba(77, 77, 77, 0.4);
$find-btn-bg: transparent;
$find-btn-bg-hover: rgba(0, 0, 0, .2);
$find-btn-border: #fff;
$find-btn-color: #fff;
$find-btn-color-hover: $find-btn-color;
//search input on promo box
$search-input-background: rgba(255,255,255,0.8);
$search-input-border: #fff;
$search-input-color: #4b4b4b;
$search-button-background: none;
$search-button-border: #fff;
$search-button-color: #7b7b7b;
$search-height: 43px;
//settings for footer
$footer-bg: #7d7d7d;
$footer-nav-link-color: #fff;
$footer-nav-link-color-hover: darken($footer-nav-link-color, 20%);
$footer-support-text-and-logo: #fff;
$footer-social-link-bg: $base-color2;
$footer-social-link-bg-hover: lighten($footer-social-link-bg, 20%);
//btn
$theme-btn-bg: $base-color;
$theme-btn-text-color: #fffefe;
$theme-btn-bg-hover: lighten($theme-btn-bg, 20%);
$theme-btn-shadow: darken($theme-btn-bg, 20%);
//btn-white
$theme-btn-white-bg: #fff;
$theme-btn-white-border: $base-color;
$theme-btn-white-text-color: $base-color;
$theme-btn-white-text-color-hover: #fff;
$theme-btn-white-bg-hover: $base-color;
// link color
$theme-link: $base-color;
$theme-link-hover: lighten($theme-link, 20%);
//settings for bg content pages
$theme-content-bg: #eee;
//settings for input icons
$theme-input-icon: $base-color;
//user link color 
$theme-user-link: $base-color;
$theme-user-link-hover: lighten($theme-user-link, 20%);
//settings fo courses on main page and search
$courses-border-color: $base-color;
$course-hover-bg: rgba(0, 0, 0, .5);
$course-link-color: #1f1f1f;
$course-bg: #fff;
//certificate
$ribbon-corners-color: lighten($base-color, 1%);
$ribbon-triangle-color: darken($base-color, 4%);
$certificate-borders-color: $base-color;
// alerts
$alert-bg: #d4edda;
$alert-color: #155724;
//our overrides for settings we want to change
$img-path: "../images" !default;
$font-path: "../fonts" !default;
$delete-button: #f05a23;
$white: #fff;
$global-font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;


// breakpoints
$breakpoint-mobile: 760px;
$breakpoint-tablet: 990px;

$build-header-menu-tablet: 1110px;
$build-header-menu-mobile: 610px;
$build-footer-mobile: 1025px;
