
//settings for header
$header-nav-link-color: #75c9ce;
$header-nav-link-color-hover: darken($header-nav-link-color, 20%);
$header-color: #5b6b78;
$dropdown-menu-color: #75c9ce;
$dropdown-menu-color-hover: darken($dropdown-menu-color, 20%);
//settings for hamburger
$hamburger-color: #75c9ce;
$hamburger-width: 40px;
$hamburger-height: 30px;
$hamburger-height-line: 3px;
//settings for footer
$footer-nav-link-color: #888;
$footer-nav-link-color-hover: darken($header-nav-link-color, 20%);
$footer-color: #5b6b78;
//btn
$theme-btn-bg: #75c9ce;
$theme-btn-text-color: #fff;
$theme-btn-bg-hover: darken($theme-btn-bg, 20%);
$theme-btn-shadow: darken($theme-btn-bg, 20%);
//btn-white
$theme-btn-white-bg: #fff;
$theme-btn-white-border: #777;
$theme-btn-white-text-color: #777;
$theme-btn-white-text-color-hover: #fff;
$theme-btn-white-bg-hover: $theme-btn-bg-hover;
//links
$link-static-color: #75c9ce;
$link-hover-color: darken($link-static-color, 20%);