//body background
$body-bg: #eee;
//settings for header
$header-bg: #242424;
$header-nav-link-color: #fff;
$header-nav-link-color-hover: #009edb;
$dropdown-menu-link-color: #009edb;
$dropdown-menu-link-color-hover: lighten($dropdown-menu-link-color, 20%);
//settings for hamburger
$hamburger-color: #009edb;
$hamburger-width: 40px;
$hamburger-height: 30px;
$hamburger-height-line: 3px;
//settings on promo box
$promo-box-text-color: #fff;
$promo-box-text-shadow: 0px 2px 0px rgba(77, 77, 77, 0.4);
$find-btn-bg: transparent;
$find-btn-bg-hover: rgba(0, 0, 0, .2);
$find-btn-border: #fff;
$find-btn-color: #fff;
$find-btn-color-hover: $find-btn-color;
//search input on promo box
$search-input-background: rgba(255,255,255,0.25);
$search-input-border: #fff;
$search-input-color: #fff;
$search-button-background: none;
$search-button-border: #fff;
$search-button-color: #fff;
//settings for footer
$footer-bg: #242424;
$footer-nav-link-color: #a2a2a2;
$footer-nav-link-color-hover: rgba(255,255,255, .8);
$footer-support-text-and-logo: #a2a2a2;
$footer-social-link-bg: #a2a2a2;
$footer-social-link-bg-hover: lighten($footer-social-link-bg, 20%);
//btn
$theme-btn-bg: #009edb;
$theme-btn-text-color: #ffe;
$theme-btn-bg-hover: lighten($theme-btn-bg, 20%);
$theme-btn-shadow: darken($theme-btn-bg, 20%);
//btn-white
$theme-btn-white-bg: #fff;
$theme-btn-white-border: #009edb;
$theme-btn-white-text-color: #009edb;
$theme-btn-white-text-color-hover: #fff;
$theme-btn-white-bg-hover: #009edb;
// link color
$theme-link: #009edb;
$theme-link-hover: lighten($theme-link, 20%);
//settings for bg content pages
$theme-content-bg: #eee;
//settings for input icons
$theme-input-icon: #009edb;
//user link color 
$theme-user-link: #009edb;
$theme-user-link-hover: lighten($theme-user-link, 20%);
//settings fo courses on main page and search
$courses-border-color: #009edb;
$course-hover-bg: rgba(0, 0, 0, .7);
$course-link-color: $theme-link;
$course-bg: #fff;
//certificate
$ribbon-corners-color: #3d7fbe;
$ribbon-triangle-color: #24659a;
$certificate-borders-color: #5a8cc6;
//our overrides for settings we want to change
$img-path: "../images" !default;
$font-path: "../fonts" !default;
$delete-button: red;
$white: #fff;
