//settings for header
$header-nav-link-color: #8BC34A;
$header-nav-link-color-hover: #689F38;
$header-color: #fff;
$dropdown-menu-color: #8BC34A;
$dropdown-menu-color-hover: #689F38;
//settings for hamburger
$hamburger-color: #8BC34A;
$hamburger-width: 40px;
$hamburger-height: 30px;
$hamburger-height-line: 3px;
//settings for footer
$footer-nav-link-color: #8BC34A;
$footer-nav-link-color-hover: $header-nav-link-color-hover;
$footer-color: #fff;
//search input on promo box
$search-input-background: rgba(255,255,255,0.25);
$search-input-border: #fff;
$search-input-color: #fff;
$search-button-background: none;
$search-button-border: #fff;
$search-button-color: #fff;
$search-height: 50px;
//btn
$theme-btn-bg: #8BC34A;
$theme-btn-text-color: #ffe;
$theme-btn-bg-hover: #689F38;
$theme-btn-shadow: darken($theme-btn-bg, 20%);
//btn-white
$theme-btn-white-bg: #fff;
$theme-btn-white-border: #8BC34A;
$theme-btn-white-text-color: #8BC34A;
$theme-btn-white-text-color-hover: #fff;
$theme-btn-white-bg-hover: #8BC34A;
// link color
$theme-link: #8BC34A;
$theme-link-hover: #689F38;
//settings for bg content pages
$theme-content-bg: #eee;
//settings for input icons
$theme-input-icon: #8BC34A;
//user link color 
$theme-user-link: #8BC34A;
$theme-user-link-hover: #689F38;
//our overrides for settings we want to change
$img-path: "../images" !default;
$font-path: "../fonts" !default;
