$font-bold: "robotobold", Arial, Helvetica, sans-serif;
$font-light: "robotolight", Arial, Helvetica, sans-serif;
$font-regular: "robotoregular", Arial, Helvetica, sans-serif;
$font-thin: "robotothin", Arial, Helvetica, sans-serif;
$font-default: Arial, Helvetica, sans-serif;

$media-tablet: 600px;
$media-desktop: 1140px;