$base-color: #f43131;
//body background
$body-bg: #eee;
//settings for header
$header-bg: #fff;
$header-nav-link-color: $base-color;
$header-nav-link-color-hover: lighten($header-nav-link-color, 20%);
$dropdown-menu-link-color: $base-color;
$dropdown-menu-link-color-hover: lighten($dropdown-menu-link-color, 20%);
//settings for hamburger
$hamburger-color: $base-color;
$hamburger-width: 40px;
$hamburger-height: 30px;
$hamburger-height-line: 3px;
//settings on promo box
$promo-box-text-color: #fff;
$promo-box-text-shadow: 0px 2px 0px rgba(77, 77, 77, 0.4);
$find-btn-bg: transparent;
$find-btn-bg-hover: rgba(0, 0, 0, .2);
$find-btn-border: #fff;
$find-btn-color: #fff;
$find-btn-color-hover: $find-btn-color;
//search input on promo box
$search-input-background: rgba(255,255,255,0.25);
$search-input-border: #fff;
$search-input-color: #fff;
$search-button-background: none;
$search-button-border: #fff;
$search-button-color: #fff;
$search-height: 55px;
//settings for footer
$footer-bg: #3a3d3f;
$footer-nav-link-color: #fff;
$footer-nav-link-color-hover: rgba(255,255,255, .8);
$footer-support-text-and-logo: #fff;
$footer-social-link-bg: #f43131;
$footer-social-link-bg-hover: lighten($footer-social-link-bg, 20%);
//btn
$theme-btn-bg: $base-color;
$theme-btn-text-color: #ffe;
$theme-btn-bg-hover: lighten($theme-btn-bg, 20%);
$theme-btn-shadow: darken($theme-btn-bg, 20%);
//btn-white
$theme-btn-white-bg: #fff;
$theme-btn-white-border: $base-color;
$theme-btn-white-text-color: $base-color;
$theme-btn-white-text-color-hover: #fff;
$theme-btn-white-bg-hover: $base-color;
// link color
$theme-link: $base-color;
$theme-link-hover: lighten($theme-link, 20%);
//settings for bg content pages
$theme-content-bg: #eee;
//settings for input icons
$theme-input-icon: $base-color;
//user link color 
$theme-user-link: $base-color;
$theme-user-link-hover: lighten($theme-user-link, 20%);
//settings fo courses on main page and search
$courses-border-color: $base-color;
$course-hover-bg: rgba(0, 0, 0, .5);
$course-link-color: #1f1f1f;
$course-bg: #fff;
//certificate
$ribbon-corners-color: lighten($base-color, 5%);;
$ribbon-triangle-color: darken($base-color, 5%);
$certificate-borders-color: lighten($base-color, 8%);
//our overrides for settings we want to change
$img-path: "../images" !default;
$font-path: "../fonts" !default;
$delete-button: #f05a23;
$white: #fff;
