//settings for header
$header-nav-link-color: #0698dc;
$header-nav-link-color-hover: lighten($header-nav-link-color, 20%);
$header-color: #fff;
$dropdown-menu-color: #0698dc;
$dropdown-menu-color-hover: lighten($dropdown-menu-color, 20%);
//settings for hamburger
$hamburger-color: #0698dc;
$hamburger-width: 40px;
$hamburger-height: 30px;
$hamburger-height-line: 3px;
//settings for footer
$footer-nav-link-color: #0698dc;
$footer-nav-link-color-hover: lighten($footer-nav-link-color, 20%);
$footer-color: #fff;
//btn
$theme-btn-bg: #0698dc;
$theme-btn-text-color: #212320;
$theme-btn-bg-hover: lighten($theme-btn-bg, 20%);
$theme-btn-shadow: darken($theme-btn-bg, 20%);
//btn-white
$theme-btn-white-bg: #fff;
$theme-btn-white-border: #0698dc;
$theme-btn-white-text-color: #0698dc;
$theme-btn-white-text-color-hover: #212320;
$theme-btn-white-bg-hover: #0698dc;
// link color
$theme-link: #0698dc;
$theme-link-hover: lighten($theme-link, 20%);
//settings for bg content pages
$theme-content-bg: #eee;
//settings for input icons
$theme-input-icon: #0698dc;
//our overrides for settings we want to change
$img-path: "../images" !default;
$font-path: "../fonts" !default;
