$desktop-size: 1200px;
$laptop-size: 1080px;
$tablet-size: 900px;
$mobile-large: 767px;
$mobile-size: 600px;

$gradient: linear-gradient(to right, #ff6f00 0, #f39e00 100%);
$gradient2: linear-gradient(to right, #ff6f00 0, #f39e00 100%);
$gradient3: linear-gradient(to right, #ff6f00 0, #f39e00 100%);
$gradient4: linear-gradient(to right, #ff6f00 0, #f39e00 100%);
$gradient6: linear-gradient(286.04deg, #392765 0, #009688 100%);

$color1: #ff6f00;
$color2: #f39e00;
$color3: #a281cd;
$color4: #0b3dd2;
$color5: #f4af48;
$color6: #392765;
$color7: #673ab7;
$color8: #000;
$color9: #2d2342;
$color10: #b2dfdb;

//btn
$theme-btn-bg: $color1;
$theme-btn-text-color: #fff;
$theme-btn-bg-hover: $color2;
$theme-btn-shadow: darken($theme-btn-bg, 20%);
//btn-white
$theme-btn-white-bg: $color1;
$theme-btn-white-border: $color1;
$theme-btn-white-text-color: #fff;
$theme-btn-white-text-color-hover: #fff;
$theme-btn-white-bg-hover: $color2;

//header
$theme-header-link-color: #392765;
$theme-header-btn-color: #009688;
