.courses-box {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    max-width: 1140px;
    margin: 0 auto 40px auto;
    padding: 0 10px;
    @media screen and (min-width: $media-desktop){
        flex-wrap: nowrap;
    }

    &_img-holder {
        width: 100%;
        position: relative;
        overflow: hidden;
        order: 1;
        @media screen and (min-width: $media-desktop){
            order: 2;
            min-width: 668px;
        }
    }
    &_holder {
        background: #fff;
        padding: 46px 19px 63px;
        order: 2;
        width: 100%;
        @media screen and (min-width: $media-desktop){
            order: 1;
            width: auto;
        }
    }
    &_img {
        min-width: 100%;
        height: auto;
    }
    &_text {
        font: 16px/21px $font-thin;
        color: #111827;
        margin: 0 0 19px;
    }
    &_title {
        font: 26px/34px $font-bold;
        text-transform: uppercase;
        color: #111827;
        display: block;
        margin: 0 0 7px;
    }
    &_lable {
        font: 16px/21px $font-regular;
        padding: 0 0 0 7px;
    }
    &_time {
        padding: 0 0 29px;
    }
}
.find-courses {
    .courses-listing-item {
        max-width: 260px;
    }
}