.theme-course-about.course-info {
    background: #fff;

    header.course-profile {
        margin-top: 0;
        padding-top: 0;
        background: url(../images/login.jpg) no-repeat 50% 30%;
        background-size: cover;
        box-shadow: none;
        height: auto;
        border: none;

        .intro-inner-wrapper {
            background: transparent;
            border: none;
            box-shadow: none;
            box-sizing: border-box;
            margin: 0 auto;
            max-width: 1200px;
            min-width: 760px;
            position: relative;
            z-index: 2;

            .intro {
                max-width: 762px;
                padding: 50px 30px 32px;
                box-sizing: border-box;
                width: auto;
            }
        }
        .intro>.heading-group {
            border-bottom: none;
            box-shadow: none;
            margin-bottom: 0;
            padding-bottom: 0;

            h1 {
                color: #fff;
                font-weight: bold;
                display: inline-block;
                margin: 0 0 20px;
                letter-spacing: 0px;
                text-align: left;
                text-shadow: 0px 1px 1.65px rgba(0, 0, 0, 0.33);
                font-size: 32px;
            }
            h3 {
                margin: 0 0 20px;
            }
        }
    }
    .container {
        padding-top: 0;
        position: relative;
    }
    .course-sidebar {
        background: #fff;
        margin: -88px 0 0;
        box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
        width: 372px;
    }
    .course-summary {
        padding: 17px 21px;
    }
    .media {
        width: 100%;
        height: 207px;
        overflow: hidden;
        position: relative;
        margin-bottom: 11px;
        display: block;

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            max-width: 100%;
            height: auto;
        }

        .play-intro {
            @include background-image(linear-gradient(-90deg, rgba(0,0,0, 0.65), rgba(0,0,0, 0.75)));
            border-radius: 4px;
            box-shadow: 0 1px 12px 0 $shadow-d1;
            border: 2px solid rgba(255,255,255, 0.8);
            height: 80px;
            @include left(50%);
            margin-top: -40px;
            @include margin-left(-40px);
            position: absolute;
            top: 50%;
            width: 80px;

            &::after {
                color: rgba(255,255,255, 0.8);
                content: "\25B6";
                display: block;
                font: normal 2em/1em $sans-serif;
                @include left(50%);
                @include margin-left(-11px);
                margin-top: -16px;
                position: absolute;
                text-shadow: 0 -1px rgba(0,0,0, 0.8);
                top: 50%;
            }
        }
    }
    .course-sidebar {
        header {
            margin: 0;
            padding: 0;

            &:after {
                display: none;
            }
            .social-sharing {
                height: auto;
                padding: 0 0 13px;

                .share {
                    font-size: 22px;
                    height: 22px;
                    margin: 0 1px 0;
                }
                .sharing-message {
                    display: none;
                }
            }
        }
        .important-dates {
            border-top: 1px solid #d6d6d6;
            padding-top: 33px;

            li {
                display: flex;
/*                justify-content: center; */
                padding: 0 0 11px;

                .icon {
                    margin: 0;
                    width: 31px;
                }
                .important-dates-item-text {
                    margin: 0 0 0 auto;
                    font-size: 17px;
                    color: #646262;
                }
                .important-dates-item-title {
                    font-size: 17px;
                    color: #646262;
                }
            }
        }
    }
    .details {
        font-family: "Open Sans",Verdana,Geneva,sans-serif,sans-serif;
        padding-top: 83px;

        h2 {
            text-transform: none;
            font-size: 26px;
            color: #0099ff;
            font-family: "Open Sans",Verdana,Geneva,sans-serif,sans-serif;
        }
        p {
            font-family: "Open Sans",Verdana,Geneva,sans-serif,sans-serif;
            font-size: 16px;
            line-height: 24px;
            color: #3c3c3c;
        }

        .inner-wrapper {
            border-top: 2px solid #d7d7d7;
            padding-top: 46px;

            .course-staff .teacher {
                padding-left: 79px;

                h3 {
                    font-size: 26px;
                    font-weight: normal;
                }
                p {
                    font-size: 14px;
                }

                .teacher-image {
                    width: 125px;
                    height: 125px;
                    border-radius: 50%;
                    overflow: hidden;
                    position: relative;
                    border: none;

                    img {
                        min-height: auto;
                        max-width: auto;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
            }
        }
    }
    .theme-course-about_categories {
        display: inline-block;
        background: #0099ff;
        border-radius: 10px;
        font-size: 13px;
        color: #fff;
        padding: 2px 6px 3px;
    }
    .plan-box {
        border-radius: 4px;
        border: 2px solid #9cccff;
        overflow: hidden;
        font-family: "Open Sans",Verdana,Geneva,sans-serif,sans-serif;

        &_heading {
            font-size: 18px !important;
            font-weight: bold;
            padding: 9px 14px 11px;
            background: #57a9ff;
            margin: 0 0 19px;
            color: #fff !important;
        }
        &_list {
            margin: 0 0 26px;
            padding: 0 15px;
            list-style: none;
        }
        &_list-item {
            position: relative;
            padding: 0 0 4px 30px;
            font-size: 14px;
            line-height: 18px;
            color: #1a1a1a;

            &:after {
                content: '';
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background: #646464;
                position: absolute;
                left: 0;
                top: 50%;
                margin: -7px 0 0;
            }
        }
        &_footer {
            padding: 9px 16px;
            border-top: 2px solid #9cccff;
            font-size: 14px;
            color: #1a1a1a;
        }
    }
}
