.theme-course-about.course-info {
    background: #fff;

    header.course-profile {
        margin-top: 0;
        padding-top: 0;
        background: url(../images/login.jpg) no-repeat 50% 30%;
        background-size: cover;
        box-shadow: none;
        height: auto;
        border: none;

        .intro-inner-wrapper {
            background: transparent;
            border: none;
            box-shadow: none;
            box-sizing: border-box;
            margin: 0 auto;
            max-width: 1200px;
            min-width: 760px;
            position: relative;
            z-index: 2;

            .intro {
                max-width: 762px;
                padding: 50px 30px 32px;
                box-sizing: border-box;
                width: auto;
            }
        }
        .intro>.heading-group {
            border-bottom: none;
            box-shadow: none;
            margin-bottom: 0;
            padding-bottom: 0;

            h1 {
                color: #fff;
                font-weight: bold;
                display: inline-block;
                margin: 0 0 20px;
                letter-spacing: 0px;
                text-align: left;
                text-shadow: 0px 1px 1.65px rgba(0, 0, 0, 0.33);
                font-size: 32px;
            }
            h3 {
                margin: 0 0 20px;
            }
        }
    }
    .container {
        padding-top: 0;
        position: relative;
    }
    .course-sidebar {
        background: #fff;
        margin: -88px 0 0;
        box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
        width: 372px;
    }
    .course-summary {
        padding: 17px 21px;
    }
    .media {
        width: 100%;
        height: 207px;
        overflow: hidden;
        position: relative;
        margin-bottom: 11px;

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .play-intro {
            @include background-image(linear-gradient(-90deg, rgba(0,0,0, 0.65), rgba(0,0,0, 0.75)));
            border-radius: 4px;
            box-shadow: 0 1px 12px 0 $shadow-d1;
            border: 2px solid rgba(255,255,255, 0.8);
            height: 80px;
            @include left(50%);
            margin-top: -40px;
            @include margin-left(-40px);
            position: absolute;
            top: 50%;
            width: 80px;

            &::after {
                color: rgba(255,255,255, 0.8);
                content: "\25B6";
                display: block;
                font: normal 2em/1em $sans-serif;
                @include left(50%);
                @include margin-left(-11px);
                margin-top: -16px;
                position: absolute;
                text-shadow: 0 -1px rgba(0,0,0, 0.8);
                top: 50%;
            }
        }
    }
    .theme-course-about_categories {
        display: inline-block;
        background: #0099ff;
        border-radius: 10px;
        font-size: 13px;
        color: #fff;
        padding: 2px 6px 3px;
    }
}