.account-settings-sections .section .account-settings-section-body .u-field .field .u-field-link {
    border-color: $link-color;
    color: $link-color;

    &:hover {
        background: $link-color;
        color: #fff;
    }
}