.account-settings-sections .section .account-settings-section-body .u-field .field .u-field-link {
    border-color: $link-color;
    color: $link-color;

    &:hover {
        background: $link-color;
        color: #fff;
    }
}
.wrapper-account-settings .wrapper-header {
    height: 147px;

    .account-nav .account-nav-item button:hover,
    .account-nav .account-nav-item button:focus {
        border-color: $link-color !important;
    }
}