.account-settings-sections .section .account-settings-section-body .u-field .field .u-field-link {
    border-color: $link-color;
    color: $link-color;

    &:hover {
        background: $link-color;
        color: #fff;
    }
}
.wrapper-account-settings .wrapper-header {
    height: 178px;

    .account-nav .account-nav-item button:hover,
    .account-nav .account-nav-item button:focus {
        border-color: $link-color !important;
    }
    .header-title {
        margin: 0 -999px 10px;
        padding: 40px 999px;
        background: #149a9a url("../images/page-title/bg-page-title.jpg") no-repeat 65% 0;
        font: 35px/26px bahij_thesansarabicextrabold;
        color: #fff;
    }
}