body,
.window-wrap,
.content-wrapper,
.find-courses,
.university-profile {
  background: $body-bg;
}

body {
  -webkit-font-smoothing: auto;
  min-width: 432px;

  &.no-scroll {
    height: 100%;
    overflow: hidden;
  }
}

main {
  position: relative;
}

.container,
.content-container {
  @extend %content-wrapper;
}

body.view-in-course {
  .window-wrap {
    min-width: 100% !important;
  }

  .home,
  div.info-wrapper,
  .courses-container {
    @extend %content-wrapper;
  }
}

.content-wrapper {
  max-width: 100% !important;
  padding: 0 !important;
}

.course-view,
.course-wrapper,
.content-wrapper {
  .home,
  .page-header,
  .page-content,
  .info-wrapper,
  .course-content {
    background: #efefef;
  }
}
.header-global .nav-global {
  margin-top: 0;
  margin-right: 20px;
}
//override
.wrapper-footer nav ul a {
  font-family: "Roboto", sans-serif !important;

  &:hover {
    text-decoration: none !important;
  }
}
.nav-drawer a,
.nav-drawer .btn-register,
.nav-drawer a:visited,
.nav-drawer .btn-register:visited {
  color: #4A4A4F !important;
}
.left.nav-global {
  list-style: none;
}
.right.nav-courseware {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    margin: 0;
    float: left;
  }
}
.course-index {
  width: 30%;
}
// LMS - assets - fonts
// ====================
@font-face {
  font-family: 'Academy Sans';
  src:
    url('#{$static-path}/fonts/academy-thin-webfont.woff2') format('woff2'),
    url('#{$static-path}/fonts/academy-thin-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Academy Sans';
  src:
    url('#{$static-path}/fonts/academy-light-webfont.woff2') format('woff2'),
    url('#{$static-path}/fonts/academy-light-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Academy Sans';
  src:
    url('#{$static-path}/fonts/academy-webfont.woff2') format('woff2'),
    url('#{$static-path}/fonts/academy-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Academy Sans';
  src:
    url('#{$static-path}/fonts/academy-semibold-webfont.woff2') format('woff2'),
    url('#{$static-path}/fonts/academy-semibold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Academy Sans';
  src:
    url('#{$static-path}/fonts/academy-bold-webfont.woff2') format('woff2'),
    url('#{$static-path}/fonts/academy-bold-webfont.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}
