$base-color: #42bbe4;
$base-color2: #7cc4a4;
$base-color2-hover: lighten($base-color2, 10%);
//body background
$body-bg: #eee;
// logo
$header-logo-width: 194px;
$header-logo-height: 112px;
$header-logo-mob-height: 62px;
$footer-logo-height: 32px;
$certificate-logo-height: $header-logo-height;
//links
$links-color: $base-color;
$links-color-hover: lighten($links-color, 10%);
//settings for header
$header-bg: #444;
$header-nav-link-color: $base-color2;
$header-nav-link-color-hover: lighten($header-nav-link-color, 20%);
$dropdown-menu-link-color: $base-color;
$dropdown-menu-link-color-hover: lighten($dropdown-menu-link-color, 20%);
//settings for hamburger
$hamburger-color: $base-color;
$hamburger-width: 30px;
$hamburger-height: 20px;
$hamburger-height-line: 5px;
//settings on promo box
$promo-box-text-color: #fff;
$promo-box-text-shadow: 0 2px 0 rgba(77, 77, 77, 0.34);
$find-btn-bg: transparent;
$find-btn-bg-hover: rgba(0, 0, 0, .2);
$find-btn-border: #fff;
$find-btn-color: #fff;
$find-btn-color-hover: $find-btn-color;
//search input on promo box
$search-input-background: rgba(255,255,255,0.3);
$search-input-border: #fff;
$search-input-color: #fff;
$search-button-background: none;
$search-button-border: #fff;
$search-button-color: #fff;
$search-height: 43px;
//settings for footer
$footer-bg: #2878bd;
$footer-nav-link-color: #fff;
$footer-nav-link-color-hover: rgba(68, 68, 68, .7);
$footer-support-text-and-logo: #fff;
$footer-social-link-bg: #7cc4a4;
$footer-social-link-bg-hover: lighten($footer-social-link-bg, 20%);
//btn
$theme-btn-bg: $base-color2;
$theme-btn-text-color: #fffefe;
$theme-btn-bg-hover: lighten($theme-btn-bg, 20%);
$theme-btn-shadow: darken($theme-btn-bg, 20%);
//btn-red
$theme-btn-red-bg: #c2387d;
$theme-btn-red-text-color: #ffe;
$theme-btn-red-bg-hover: lighten($theme-btn-red-bg, 10%);
//btn-white
$theme-btn-white-bg: #fff;
$theme-btn-white-border: $base-color;
$theme-btn-white-text-color: $base-color;
$theme-btn-white-text-color-hover: #fff;
$theme-btn-white-bg-hover: $base-color;
// link color
$theme-link: $base-color;
$theme-link-hover: lighten($theme-link, 20%);
//settings for bg content pages
$theme-content-bg: #eee;
//settings for input icons
$theme-input-icon: $base-color;
//user link color
$theme-user-link: $base-color;
$theme-user-link-hover: lighten($theme-user-link, 20%);
//settings fo courses on main page and search
$courses-border-color: $base-color;
$course-hover-bg: rgba(0, 0, 0, .5);
$course-link-color: #1f1f1f;
$course-bg: #fff;
//certificate
$ribbon-corners-color: lighten($footer-bg, 5%);
$ribbon-triangle-color: darken($footer-bg, 5%);
$certificate-borders-color: lighten($footer-bg, 8%);
//our overrides for settings we want to change
$img-path: "../images" !default;
$font-path: "../fonts" !default;
$delete-button: red;
$white: #fff;

// breakpoints
$breakpoint-mobile: 760px;
$breakpoint-tablet: 990px;

$build-header-menu-tablet: 1110px;
$build-header-menu-mobile: 610px;
$build-footer-mobile: 1025px;
