// colors
$theme-color-grey: #a3a3a6;
$theme-color-main: #ff6052;
$theme-color-main-hover: #ff6052;
$theme-main-nav: #1f1d20;
$disable-text-color: #3b3b3b;
$disable-text-bg: #e8e8e8;
$mobile-indent: 15px;
$icon-color: #0075b4;
$my-font-path: "../fonts" !default;
$img-path: "../images" !default;

$res_450:   450px;
$res_600:   600px;
$res_720:   720px;
$res_860:   860px;
$res_1100:  1100px;
$res_1220:  1220px;
$res_1440:  1440px;