$font-regular: titilliumweb-regular, sans-serif;
$font-bold: titilliumweb-bold, sans-serif;
$font-light: titilliumweb-light, sans-serif;
$f-sans-serif: titilliumweb-regular, sans-serif;
$tourque-blue: #7396c3;
$tourque-orange: #f05a23;