/*$font-regular: titilliumweb-regular, sans-serif;
$font-bold: titilliumweb-bold, sans-serif;
$font-light: titilliumweb-light, sans-serif;
$f-sans-serif: titilliumweb-regular, sans-serif;*/

$font-regular: "Open Sans", Verdana, Geneva, sans-serif;
$font-bold: "Open Sans", Verdana, Geneva, sans-serif;
$font-light: "Open Sans", Verdana, Geneva, sans-serif;
$f-sans-serif: "Open Sans", Verdana, Geneva, sans-serif;
$responsive-large: 1090px;