$font-regular: titilliumweb-regular, sans-serif;
$font-bold: titilliumweb-bold, sans-serif;
$font-light: titilliumweb-light, sans-serif;
$f-sans-serif: titilliumweb-regular, sans-serif;
$tourque-blue: #7396c3;
$tourque-orange: #f05a23;
$link-color: $tourque-blue;
$action-primary-bg: $tourque-blue;

$btn-default-color:                       $tourque-blue;
$btn-default-focus-border-color:          $tourque-blue;
$btn-default-focus-color:                 $tourque-blue;
$btn-default-active-border-color:         $tourque-blue;
$btn-default-active-color:                $tourque-blue;
$btn-brand-border-color:                  $tourque-blue;
$btn-brand-background:                    $tourque-blue;
$btn-brand-active-border-color:           $tourque-blue;
$btn-brand-active-background:             $tourque-blue;