.course-info {
    header.course-profile {
        background: #149a9a url(../images/header-bg.png) no-repeat 100% 100%;
        margin-top: 0;
        padding-top: 0;
        height: auto;

        .intro-inner-wrapper {
            background: none;
            box-shadow: none;
            border: none;
            padding: 70px 0;
            max-width: 1180px;

            .media {
                padding-right: 0;
                .hero {
                    border: none;
                }
            }
            .intro>.heading-group {
                box-shadow: none;
                border: none;

                h1 {
                    color: #fff;
                    text-shadow: none;

                    a {
                        color: #fff;
                        text-shadow: none;
                    }
                }
            }
            .intro .main-cta a.register {
                width: 100%;
                background: #ff6527;
                border: none;
                text-shadow: none;
                border-radius: 0;
                box-shadow: none;
                display: inline-block;
                vertical-align: top;
                padding: 24px 15px;
                font: 24px/18px bahij_thesansarabicextrabold;
                text-transform: none;

                &:active,
                &:focus:not(:disabled),
                &:hover:not(:disabled) {
                    background: #9ab025;
                    box-shadow: none !important;
                }

            }
            .intro {
                width: auto;
                min-width: 300px;
                padding-left: 0;

                &_text {
                    direction: rtl;
                    color: #fff;
                    text-align: center;
                    margin: 0 0 5px;
                    font: 16px/28px bahij_thesansarabicplain;

                    &__bold {
                        font-family: bahij_thesansarabicextrabold;
                    }
                }

                .main-cta {
                    margin-bottom: 10px;

                    strong {
                        width: 100%;
                        background: #ff6527;
                        border: none;
                        text-shadow: none;
                        border-radius: 0;
                        box-shadow: none;
                        display: inline-block;
                        vertical-align: top;
                        padding: 24px 15px;
                        font: 24px/18px bahij_thesansarabicextrabold;
                        text-transform: none;
                        transition: background .2s;
                        
                        &:active,
                        &:focus:not(:disabled),
                        &:hover:not(:disabled) {
                            background: #9ab025;
                            box-shadow: none !important;
                        }
                    }
                    span.register {
                        width: 100%;
                        border-radius: 2px;
                        background: #115b59;
                        color: #fff;
                        border: none;
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }

    &_box {
        display: table-cell;
        vertical-align: middle;
        max-width: 430px;
        font-size: 20px;
        line-height: 26px;
        text-align: right;

        &-heading {
            color: #fff;
            text-align: right;
            font: 40px/40px bahij_thesansarabicplain;
            margin: 0 0 30px;

            a {
                color: #fff;

                &:hover {
                    color: #fff;
                    text-decoration: underline;
                }
            }
        }
        &-partners {
            display: block;
        }
        &-link {
            display: inline-block;
            margin-left: 25px;

            &__modify {
                position: relative;
                bottom: -6px;
            }
        }
    }

    .details {
        float: right;
        margin-right: 0;
        background: #fff;
        border: 1px solid #f3f3f3;
        padding: 30px;
        width: 868px;
    }
    .course-sidebar {
        float: left;
        background: none;
        width: 270px;

        h2 {
            font: 22px/28px bahij_thesansarabicextrabold;
            color: #555;
        }
        p {
            color: #7c7c7c;
        }

        .important-dates {
            padding: 22px 22px 0;
            background: #fff;
            border: 1px solid #f3f3f3;

            li {
                &:last-child {
                    padding-bottom: 0;
                    border-bottom: none;
                }

                .important-dates-item-title {
                    font-family: bahij_thesansarabicplain;
                    margin: 0 0 8px;
                }
                .icon {
                    float: right;
                    margin: 0 0 0 10px;
                }
                .important-dates-item-text {
                    width: 75px;
                    line-height: 1.3;
                }
            } 
        }

        header {
            &:after {
                display: none;
            }
            .social-sharing {
                text-align: right;

                 .share {
                    margin: 0 0 0 9px;
                    opacity: 1;

                    &:hover {
                        opacity: .5;
                    }
                }
            }
        }
    }
    .details {
        * {
            font-family: bahij_thesansarabicplain;
        }
        h2 {
            font: 24px/31px bahij_thesansarabicextrabold;
            color: #555;
        }
        p {
            font: 15px/31px bahij_thesansarabicplain;
        }
        .inner-wrapper .course-staff .teacher {
            float: left;
            width: 33%;
            box-sizing: border-box;
            padding: 0 30px;

            .teacher-image {
                width: 100%;
                text-align: center;
                float: none;
                border: none;
                margin: 0;

                img {
                    max-width: 95px;
                    border-radius: 50%;
                    overflow: hidden;
                    margin: 0 auto;
                    min-height: auto;
                    display: block;
                    float: none;
                }
            }
            h3 {
                font: 16px/31px bahij_thesansarabicextrabold;
                color: #149a9a;
                text-align: center;
            }
        }
    }
    .container .wrap-instructor-info .instructor-info-action {
        border-radius: 0;
        background-color: #ff6527;
        color: #fff;

        &:hover {
          background-color: lighten(#ff6527, 10%);
          color: #fff;
        }
    } 
}