.header-global.slim {
	padding: 0;
	background: #e00000;
}

.header-global.slim h1.logo {
  margin: auto;
  padding: 0;
  /*order: 1;*/
}

body.view-in-course .header-global .wrapper-header, body.view-in-course .header-global.slim .wrapper-header {
	padding: 0;
}

.profile-wrapper .course-info header.progress-certificates .progress-certificates-title {
	text-align: center;
}