.header-global.slim {
	padding: 0;
	background: #e00000;
}

.header-global.slim h1.logo {
  margin: auto;
  padding: 0;
  /*order: 1;*/
}

body.view-in-course .header-global .wrapper-header, body.view-in-course .header-global.slim .wrapper-header {
	padding: 0;
}

.profile-wrapper .course-info header.progress-certificates .progress-certificates-title {
	text-align: center;
}

div.info-wrapper section.handouts ol li a {
  color: #e00000;
}

div.info-wrapper section.handouts ol li a:hover {
  color: #e00000;
}

div.info-wrapper section.handouts ol li a:focus {
  color: #e00000;
}

.wrap-instructor-info .instructor-info-action {
  color: #e00000;
}

.wrap-instructor-info .instructor-info-action:hover {
  background: #e00000;
  color: #fff;
}

.wrap-instructor-info .instructor-info-action:focus {
  background: #e00000;
  color: #fff;
}

.wrap-instructor-info .instructor-info-action:visited {
  background: #e00000;
  color: #fff;
}

.wrapper-course-material .course-tabs li a.active {
  color: #e00000 !important;
  border-bottom-color: #e00000 !important;
}

.wrapper-course-material .course-tabs li a.active:hover {
  color: #1c2a33 !important;
  border-bottom-color: #1c2a33 !important;
}

.wrapper-course-material .course-tabs li a.active:focus {
  color: #e00000 !important;
  border-bottom-color: #e00000 !important;
}

.wrapper-course-material .course-tabs li a:hover {
  color: #1c2a33 !important;
  border-bottom-color: #1c2a33 !important;	
}

.wrapper-course-material .course-tabs li a:focus {
  color: #1c2a33 !important;
  border-bottom-color: #1c2a33 !important;	
}

.course-index .accordion .course-navigation .button-chapter.is-open {
	color: #e00000;
}

.course-index .accordion .course-navigation .button-chapter {
  color: #e00000;
}

.course-index .accordion .course-navigation .chapter-content-container .chapter-menu .menu-item.graded .menu-icon {
  color: #e00000;
}

.xmodule_display.xmodule_VideoModule .video .subtitles a {
  color: #e00000;
}

.xmodule_display.xmodule_VideoModule .video .subtitles a:hover {
  color: #1c2a33;
  text-decoration: none;
}

.xmodule_display.xmodule_VideoModule .video .subtitles a:focus {
  color: #1c2a33;
}

.xmodule_display.xmodule_VideoModule .video .subtitles .subtitles-menu li {
  color: #e00000;
}

.xmodule_display.xmodule_VideoModule .video .subtitles .subtitles-menu li:hover {
  color: #1c2a33;
  text-decoration: none;
}

.xmodule_display.xmodule_VideoModule .video .subtitles .subtitles-menu li:focus {
  color: #1c2a33;
}

.xmodule_display.xmodule_VideoModule .video .subtitles a {
  color: #e00000;
}

.xmodule_display.xmodule_VideoModule .video .subtitles a:hover {
  color: #1c2a33;
}

.xmodule_display.xmodule_VideoModule .video .subtitles a:focus {
  color: #1c2a33;
}

.xmodule_display.xmodule_VideoModule .video .wrapper-downloads .video-download-button>a {
  color: #e00000;
}

.xmodule_display.xmodule_VideoModule .video .wrapper-downloads .video-download-button>a:hover {
  background: #1c2a33;
}

.xmodule_display.xmodule_VideoModule .video .wrapper-downloads .video-download-button>a:focus {
  background: #1c2a33;
}

.xmodule_display.xmodule_VideoModule .video-tracks .a11y-menu-container.open>a {
	background-color: #e00000; 
}

.xmodule_display.xmodule_VideoModule .video-tracks .a11y-menu-container .a11y-menu-list li a {
  color: #e00000;
}

.xmodule_display.xmodule_VideoModule .video-tracks .a11y-menu-container .a11y-menu-list li a:hover {
  color: #1c2a33;
}

.xmodule_display.xmodule_HtmlModule a:link {
  color: #e00000;
}

.xmodule_display.xmodule_HtmlModule a:link:hover {
  color: #e00000;
}

/*wiki*/
section.wiki .breadcrumb li a {
  color: #e00000;
}

section.wiki .breadcrumb li a:hover {
  color: #1c2a33;
}

section.wiki .breadcrumb li a:focus {
  color: #1c2a33;
}

section.wiki .article-functions .see-children a {
  color: #e00000;
}

section.wiki .article-functions .see-children a:hover {
  color: #1c2a33;
}

section.wiki .article-functions .see-children a:focus {
  color: #1c2a33;
}

section.wiki .nav-tabs li.active a {
  color: #e00000;
}

section.wiki .nav-tabs li.active a:hover {
  color: #1c2a33;
}

section.wiki .nav-tabs li.active a:focus {
  color: #1c2a33;
}

section.wiki .nav-tabs a {
  color: #e00000;
}

section.wiki .nav-tabs a:hover {
  color: #1c2a33;
}

section.wiki .nav-tabs a:focus {
  color: #1c2a33;
}

section.wiki #cheatsheetLink {
  color: #e00000;
}

section.wiki #cheatsheetLink:hover {
  color: #e00000;
}

section.wiki #cheatsheetLink:focus {
  color: #e00000;
}

section.wiki .btn.btn-primary {
  background: #e00000;
  box-shadow: none;
  border: none;
  text-shadow: none;
}

section.wiki .btn.btn-primary:hover:not(:disabled) {
  background: #e00000;
  box-shadow: none;
  border: none;
  text-shadow: none;
}

section.wiki .btn.btn-primary:focus:not(:disabled) {
  background: #e00000;
  box-shadow: none;
  border: none;
  text-shadow: none;
}

section.wiki .btn.btn-danger {
  background: #e00000;
  box-shadow: none;
  border: none;
  text-shadow: none;
}
section.wiki .btn.btn-danger:hover:not(:disabled) {
  background: #e00000;
  box-shadow: none;
  border: none;
  text-shadow: none;
}

section.wiki .btn.btn-danger:focus:not(:disabled) {
  background: #e00000;
  box-shadow: none;
  border: none;
  text-shadow: none;
}

div.accordion-heading a.accordion-toggle {
  color: #e00000;
}

div.accordion-heading a.accordion-toggle:hover {
  color: #e00000;
}

div.accordion-heading a.accordion-toggle:focus {
  color: #e00000;
}

.home .page-header-secondary {
  background: #e00000;
  color: #fff;
}

div.info-wrapper section.updates section article .toggle-visibility-button {
  color: #e00000;
}

div.info-wrapper section.updates section article .toggle-visibility-button:hover {
  color: #e00000;
}

div.info-wrapper section.updates section article .toggle-visibility-button:focus {
  color: #e00000;
}
.xmodule_display.xmodule_CapaModule div.problem button.btn-brand:hover {
  color: #fff !important;
}
div.info-wrapper section.handouts a {
  color: #e00000;
}

div.info-wrapper section.handouts a:hover {
  color: #e00000;
}

div.info-wrapper section.handouts a:focus {
  color: #e00000;
}

div.info-wrapper section.updates section .show-older-updates {
  color: #e00000;
  border-color: #e00000;
}

div.info-wrapper section.updates section .show-older-updates:hover {
  color: #e00000;
  border-color: #e00000;
  box-shadow: none;
}

div.info-wrapper section.updates section .show-older-updates:focus {
  color: #e00000;
  border-color: #e00000;
  box-shadow: none;
}

div.info-wrapper section.updates section .show-older-updates:active {
  color: #e00000;
  border-color: #e00000;
  box-shadow: none;
}


/*Progress page*/
.profile-wrapper .course-info>.chapters>section .sections>div h3 a {
  color: #e00000;
}

.profile-wrapper .course-info>.chapters>section .sections>div h3 a:hover {
  color: #1c2a33;
}

.profile-wrapper .course-info>.chapters>section .sections>div h3 a:focus {
  color: #1c2a33;
}

/*Instructor Page*/
.instructor-dashboard-content-2 .instructor-nav .nav-item a.active-section {
  color: #e00000;
}

.instructor-dashboard-content-2 .instructor-nav .nav-item a.active-section:hover {
  color: #1c2a33;
}

.instructor-dashboard-content-2 .instructor-nav .nav-item a.active-section:focus {
  color: #1c2a33;
}
.instructor-dashboard-content-2 .instructor-nav .nav-item a {
	color: #e00000;
}

.instructor-dashboard-content-2 .instructor-nav .nav-item a:hover {
	color: #1c2a33;
}

.instructor-dashboard-content-2 .instructor-nav .nav-item a:focus {
	color: #1c2a33;
}

.instructor-dashboard-wrapper-2 section.idash-section#membership .member-lists-management .auth-list-container .member-list-widget input[type="button"].add {
	background: #e00000;
  box-shadow: none;
  border: none;
  text-shadow: none;
}

.instructor-dashboard-wrapper-2 section.idash-section#membership .member-lists-management .auth-list-container .member-list-widget input[type="button"].add:hover:not(:disabled) {
	background: #e00000;
  box-shadow: none;
  border: none;
  text-shadow: none;
}

.instructor-dashboard-wrapper-2 section.idash-section#membership .member-lists-management .auth-list-container .member-list-widget input[type="button"].add:focus:not(:disabled) {
	background: #e00000;
  box-shadow: none;
  border: none;
  text-shadow: none;
}

.instructor-dashboard-wrapper-2 section.idash-section#membership .member-lists-management .auth-list-container .member-list-widget input[type="button"].add:visited {
	background: #e00000;
  box-shadow: none;
  border: none;
  text-shadow: none;
}

p a {
	color: #e00000 !important;
}

p a:hover {
	color: #1c2a33 !important;
}

p a:focus {
	color: #1c2a33 !important;
}

.instructor-dashboard-wrapper-2 section.idash-section#certificates .btn-blue {
	background: #e00000;
  box-shadow: none;
  border: none;
  text-shadow: none;
}

.instructor-dashboard-wrapper-2 section.idash-section#certificates .btn-blue:hover {
	background: #e00000;
  box-shadow: none;
  border: none;
  text-shadow: none;
}

.instructor-dashboard-wrapper-2 section.idash-section#certificates .btn-blue:focus {
	background: #e00000;
  box-shadow: none;
  border: none;
  text-shadow: none;
}

.instructor-dashboard-wrapper-2 section.idash-section#certificates .btn-blue:visited {
	background: #e00000;
  box-shadow: none;
  border: none;
  text-shadow: none;
}

.customBrowseBtn .file-browse span.browse {
	background: #e00000;
  box-shadow: none;
  border: none;
  text-shadow: none;
}

.customBrowseBtn .file-browse span.browse:hover:not(:disabled) {
	background: #e00000;
  box-shadow: none;
  border: none;
  text-shadow: none;
}

.customBrowseBtn .file-browse span.browse:focus:not(:disabled) {
	background: #e00000;
  box-shadow: none;
  border: none;
  text-shadow: none;
}

.customBrowseBtn .file-browse span.browse:visited {
	background: #e00000;
  box-shadow: none;
  border: none;
  text-shadow: none;
}

.instructor-dashboard-wrapper-2 section.idash-section#cohort_management .cohort-management .message .action-create {
  background-image: none;
  background-color: #e00000;
  box-shadow: none;
  text-shadow: none;
}

.instructor-dashboard-wrapper-2 section.idash-section#cohort_management .cohort-management .message .action-create:hover {
  background-image: none;
  background-color: #e00000;
  box-shadow: none;
  text-shadow: none;
}

.instructor-dashboard-wrapper-2 section.idash-section#cohort_management .cohort-management .message .action-create:focus {
  background-image: none;
  background-color: #e00000;
  box-shadow: none;
  text-shadow: none;
}

.instructor-dashboard-wrapper-2 section.idash-section#cohort_management .cohort-management-settings .form-submit {
  background-image: none;
  background-color: #e00000;
  box-shadow: none;
  text-shadow: none;
  border-color: #e00000;
}

.instructor-dashboard-wrapper-2 section.idash-section#cohort_management .cohort-management-settings .form-submit:hover {
  background-image: none;
  background-color: #e00000;
  box-shadow: none;
  text-shadow: none;
  border-color: #e00000;
}

.instructor-dashboard-wrapper-2 section.idash-section#cohort_management .cohort-management-settings .form-submit:focus {
  background-image: none;
  background-color: #e00000;
  box-shadow: none;
  text-shadow: none;
  border-color: #e00000;
}

.instructor-dashboard-wrapper-2 section.idash-section#cohort_management .cohort-management-settings .form-cancel {
  color: #e00000;
}

.instructor-dashboard-wrapper-2 section.idash-section#cohort_management .cohort-management-settings .form-cancel:hover {
  color: #e00000;
}

.instructor-dashboard-wrapper-2 section.idash-section#cohort_management .cohort-management-settings .form-cancel:focus {
  color: #e00000;
}

.instructor-dashboard-wrapper-2 section.idash-section#cohort_management .cohort-management-nav .action-create {
  background-image: none;
  background-color: #e00000;
  box-shadow: none;
  text-shadow: none;
  border-color: #e00000;
}

.instructor-dashboard-wrapper-2 section.idash-section#cohort_management .cohort-management-nav .action-create:hover:not(:disabled) {
  background-image: none;
  background-color: #e00000;
  box-shadow: none;
  text-shadow: none;
  border-color: #e00000;
}

.instructor-dashboard-wrapper-2 section.idash-section#cohort_management .cohort-management-nav .action-create:focus:not(:disabled) {
  background-image: none;
  background-color: #e00000;
  box-shadow: none;
  text-shadow: none;
  border-color: #e00000;
}

.instructor-dashboard-wrapper-2 section.idash-section#cohort_management .cohort-management-nav .action-create:active:not(:disabled) {
  background-image: none;
  background-color: #e00000;
  box-shadow: none;
  text-shadow: none;
  border-color: #e00000;
}

.instructor-dashboard-wrapper-2 section.idash-section#cohort_management .cohort-management-group-setup .setup-value a {
  color: #e00000;
}

.instructor-dashboard-wrapper-2 section.idash-section#cohort_management .cohort-management-group-setup .setup-value a:hover {
  color: #e00000;
}

.instructor-dashboard-wrapper-2 section.idash-section#cohort_management .cohort-management-group-setup .setup-value a:focus {
  color: #e00000;
}

.instructor-dashboard-wrapper-2 section.idash-section#cohort_management .wrapper-tabs .tab a {
  color: #e00000;
}

.instructor-dashboard-wrapper-2 section.idash-section#cohort_management .wrapper-tabs .tab a:hover {
  color: #e00000;
}

.instructor-dashboard-wrapper-2 section.idash-section#cohort_management .wrapper-tabs .tab a:focus {
  color: #e00000;
}

.instructor-dashboard-wrapper-2 section.idash-section#cohort_management .cohort-management-settings .form-submit {
  background-image: none;
  background-color: #e00000;
  box-shadow: none;
  text-shadow: none;
  border-color: #e00000;
}

.instructor-dashboard-wrapper-2 section.idash-section#cohort_management .cohort-management-settings .form-submit:hover {
  background-image: none;
  background-color: #e00000;
  box-shadow: none;
  text-shadow: none;
  border-color: #e00000;
}

.instructor-dashboard-wrapper-2 section.idash-section#cohort_management .cohort-management-settings .form-submit:focus {
  background-image: none;
  background-color: #e00000;
  box-shadow: none;
  text-shadow: none;
  border-color: #e00000;
}
.window-wrap div.book-wrapper section.book-sidebar #booknav .chapter,
.window-wrap div.book-wrapper section.book-sidebar #booknav li a,
.wrapper-cohort-supplemental a {
  color: #e00000;
  &:hover,
  &:focus {
    color: #e00000;
  }
}
.button:active:not(:disabled) {
  box-shadow: none !important;
}
.dashboard .my-courses .listing-courses li {
  list-style: none !important;
}
.home .page-header-secondary {
  background: #e00000;
}
.wrap-instructor-info .instructor-info-action {
  color: #e00000 !important;
  -webkit-font-smoothing: initial;
  &:focus,
  &:active,
  &:hover {
    background-color: #e00000 !important;
    color: #fff !important;
    -webkit-font-smoothing: initial;
  }
}
.content-wrapper .xblock-license a:hover,
.content-wrapper .xblock-license a:active {
  color: #e00000 !important;
}
