.course-info_box-partners {
  min-width: 210px;
  .course-info_box-link {
    display: inline;
  }
}

.course-info {
  header.course-profile {
    .intro-inner-wrapper {
      .media {
        .hero {
          min-height: 125px;
        }
      }
    }
  }
}

.enroll-button {
  width: 100%;
  height: 66px;
  text-align: center;
  padding: 23px;
}
