.course-index .accordion .course-navigation .button-chapter {
    color: #149a9a !important;

    &.is-open .group-heading{
        color: #333 !important;
    }
}
.accordion-display-name {
    color: #7c7c7c;
}