.course-info {
    header.course-profile {
        background: #149a9a url(../images/header-bg.png) no-repeat 100% 100%;
        margin-top: 0;
        padding-top: 0;
        height: auto;

        .intro-inner-wrapper {
            background: none;
            box-shadow: none;
            border: none;

            .media .hero {
                border: none;
            }
            .intro>hgroup {
                display: none;
            }
            .intro .main-cta a.register {
                width: auto;
                background: #ff6527;
                border: none;
                text-shadow: none;
                border-radius: 0;
                box-shadow: none;
                display: inline-block;
                vertical-align: top;
                padding: 10px 15px;
                font-size: 24px;
                line-height: 18px;
                text-transform: none;

                &:hover:not(:disabled) {
                    background: lighten(#ff6527, 10%);
                }
            }
            .intro {
                width: auto;
                min-width: 300px;
                text-align: center;

                &_text {
                    color: #fff;
                    text-align: center;
                    font:16px/28px bahij_thesansarabicextrabold
                }

                .main-cta {
                    margin-bottom: 10px;
                    display: inline-block;
                    float: none;
                    text-align: center;
                    width: auto;
                }
            }
        }
    }

    &_box {
        display: table-cell;
        vertical-align: middle;
        max-width: 430px;
        font-size: 20px;
        line-height: 26px;
        text-align: right;

        &-heading {
            color: #fff;
            font-size: 40px;
            line-height: 40px;
            text-align: right;

            a {
                color: #fff;

                &:hover {
                    color: #fff;
                    text-decoration: underline;
                }
            }
        }
        &-partners {
            display: block;
        }
        &-link {
            display: inline-block;
            margin-left: 25px;
        }
    }

    .details {
        float: right;
        margin-right: 0;
        background: #fff;
        border: 1px solid #f3f3f3;
        padding: 30px;
        box-sizing: border-box;
        width: 870px;
    }
    .course-sidebar {
        float: left;
        background: none;
        width: 270px;

        &>section {
            border: none;
            box-shadow: none;
            
            &.course-summary {
                padding: 0;

                .heading {
                    font: 24px/31px bahij_thesansarabicextrabold;
                    color: #555;
                }
                .text {
                    font: 15px/31px bahij_thesansarabicplain;

                    &__main {
                        margin-bottom: 30px;
                    }
                }
            }
        }

        .important-dates {
            padding: 22px;
            background: #fff;
            border: 1px solid #f3f3f3;

            li .icon {
                float: right;
                margin: 4px 0 0 10px;
            }
        }

        header {
            &:after {
                display: none;
            }
            .social-sharing {
                text-align: right;

                 .share {
                    margin-top: 0;
                    margin-right: 9px;
                }
            }
        }
    }
    .container nav {
        display: none;
    }
    .details {
        h2 {
            font: 24px/31px bahij_thesansarabicextrabold;
            color: #555;
        }
        p {
            font: 15px/31px bahij_thesansarabicplain;
        }
        .inner-wrapper .course-staff .teacher {
            float: left;
            width: 33%;
            box-sizing: border-box;
            padding: 0 30px;

            .teacher-image {
                width: 100%;
                text-align: center;
                float: none;
                border: none;

                img {
                    max-width: 95px;
                    border-radius: 50%;
                    overflow: hidden;
                }
            }
            h3 {
                font: 16px/31px bahij_thesansarabicextrabold;
                color: #149a9a;
                text-align: center;
            }
        }
    } 
}