.dashboard {
    padding: 38px 0 20px;

    .my-courses {
            width: 850px;
        .listing-courses{
            .course-item {
                border-bottom: none;

                .course-container {
                    border-color: #ececec;
                    background: #fff;
                    border-radius: 0;
                }
            }
        }
        .course {
            padding: 18px 19px;
            margin: 0;
            position: relative;

            .details {
                .enter-course {
                    font: 16px/21px bahij_thesansarabicextrabold;
                    color: #fff;
                    padding: 10px 24px;
                    border: none;
                    background: #149a9a;
                    border-radius: 0;
                    
                    &:visited,
                    &:hover {
                        border: none;
                        background: lighten(#149a9a, 10%);
                    }
                }

                .course-actions {
                    @include float(left);

                    .wrapper-action-more {
                        float: none;
                        position: absolute;
                        top: 21px;
                        left: 15px;

                        .actions-dropdown {
                            top: 30px;
                        }
                    }
                    .action {
                        border: 1px solid #ccc;
                        border-radius: 0;
                        min-width: 30px;
                        padding: 5px 7px;
                        font-size: 22px;
                        text-align: center;
                    }
                }

                .wrapper-course-image{
                    width: auto;
                    margin-top: 3px;

                    .cover {
                        border-color: #ececec;
                        border-width: 1px;

                        .course-image {
                            width: 268px;
                            height: auto;
                        }
                    }
                }
                .wrapper-course-details {
                    width: auto;
                    overflow: hidden;
                    float: none;

                    .course-title {
                        margin: 0;

                        a {
                            color: #149a9a;
                            font: 30px/53px bahij_thesansarabicextrabold;
                            margin: 0;
                        }
                    }
                }
                .wrapper-course-actions {
                    float: none;
                    width: auto;
                }
                .course-info {
                    float: none;
                    width: auto;
                    font: 22px/53px bahij_thesansarabicsemibold;
                    margin: -15px 0 0;

                    .info-date-block {
                        font: 16px/30px bahij_thesansarabicsemibold;
                        color: #4f4f4f;
                        padding: 6px 0;
                    }
                }
            }
        }
    }
    .wrapper-header-courses,
    .profile-sidebar {
        display: none;
    }
}