.home>header {
  background-image: url("../images/background.jpg");
  height: 420px;
  background-position: center;
  .outer-wrapper {
    padding: 280px 0 0;
    opacity: 0.7;
  }
  .title {
    text-align: center;
  }
}

.header.global {
  border-bottom: none !important;
  // height: 93px !important;
  background: white !important;

}
.header-global .user {
  //:float: initial;
}

.header-global .user>.primary:last-child {
  margin-top: 10px;
}

.header-global h1.logo a:hover {
  text-decoration: none;
}

.header-global h1.logo a {
  float: left;
}

.wrapper-footer {
  background: #f1f1f1 !important;
  margin-top: 0 !important;
  position: relative !important;
  /*height: 140px;*/
  padding: 0px 10px 0px 10px;

        //li:after {
        //  content: "|";
        //  color: #888888;
        //  padding-left: 10px !important;
        //}
        //li:last-child:after {
        //  display: none;
        //}
     
}

.raccoon-block {
  width: initial;
  display: inline-block;
  // position: absolute;
  margin-top: 4px;
  margin-bottom: 10px;
  // float: right;
  a:hover {
    text-decoration: none;
  }
}

.raccoongang {
  font-size: 12px;
  color: #767676;
  span {
    float: left;
  }
  //img {
  //  height: 30px;
  //  vertical-align: baseline;
  //  }
}

.raccoon-img {
  height: 25px;
  vertical-align: middle;

  &__edx {
    height: 17px;
    vertical-align: baseline;
  }
}

.wrapper-footer footer#footer-openedx a:hover {
  text-decoration: none;
  border-bottom: 0;
}

.header-global.slim h1.logo img {
  margin-top: -13px;
}

.header-global.slim h2 {
  width: initial !important;
}

.header-global .user button.dropdown {
  font: normal normal normal 14px/1.3 FontAwesome;
}

.home>header .title {
  min-height: initial;
}

.home>header .outer-wrapper {
  padding: 305px 0 0;
  opacity: 0.6;
}

/*ADDED*/

.extra-block {
  white-space: nowrap;
  margin-top: 10px;
}

.extra-block img {
  margin-left: 70px;
}

.wrapper-footer footer#footer-openedx .copyright {
  margin: -2px 0 8px 70px;
}

.wrapper-footer footer#footer-openedx {
  max-width: 1400px;
}

.raccoon-block {
  margin-top: 10px;
  margin-left: 70px;
}

img#first-img {
  height: 55px;
}

img#second-img {
  height: 55px;
}

img#third-img {
  height: 90px;
  padding-top: 5px;
}

img#fourth-img {
  width: 300px;
  height: 40.5px;
  padding-top: 15px;
}

.header-global h1.logo a {
  margin: 0 16px;
}

.course-info header.course-profile {
  padding-top: 80px;
  padding-bottom: 100px;
}

.raccoon-img-logo {
  height: 25px;
  vertical-align: baseline;
}

.wrapper-footer footer#footer-openedx a:active {
  border-bottom: none;
}

.wrapper-footer footer#footer-openedx a:focus {
  border-bottom: none;
}