.home>header {
  background-image: url("../images/background.jpg");
  height: 420px;
  background-position: center;
  .outer-wrapper {
    padding: 280px 0 0;
    opacity: 0.7;
  }
  .title {
    padding: 15px 20px;
    text-align: center;
    .heading-group {
      padding-bottom: 0px;
      h1 {
        font-size: 1.4em;
        line-height: 1em;
      }
      p {
        font-size: 1em;
      }
    }
  }
}

.header.global {
  border-bottom: none !important;
  // height: 93px !important;
  background: white !important;

}
.header-global .user {
  //:float: initial;
}

.header-global .user>.primary:last-child {
  margin-top: 10px;
}

.header-global h1.logo a:hover {
  text-decoration: none;
}

.header-global h1.logo a {
  float: left;
}

.wrapper-footer {
  background: #f1f1f1 !important;
  margin-top: 0 !important;
  position: relative !important;
  /*height: 140px;*/
  padding: 0px 10px 0px 10px;

        //li:after {
        //  content: "|";
        //  color: #888888;
        //  padding-left: 10px !important;
        //}
        //li:last-child:after {
        //  display: none;
        //}
  footer#footer-openedx {
    .colophon {
      width: 100%;
    }
  }
}

.raccoon-block {
  width: initial;
  display: inline-block;
  // position: absolute;
  margin-top: 4px;
  margin-bottom: 10px;
  // float: right;
  a:hover {
    text-decoration: none;
  }
}

.raccoongang {
  font-size: 12px;
  color: #767676;
  span {
    float: left;
  }
  //img {
  //  height: 30px;
  //  vertical-align: baseline;
  //  }
}

.raccoon-img {
  height: 25px;
  vertical-align: middle;

  &__edx {
    height: 17px;
    vertical-align: baseline;
  }
}

.wrapper-footer footer#footer-openedx a:hover {
  text-decoration: none;
  border-bottom: 0;
}

.header-global.slim h1.logo img {
  margin-top: -13px;
}

.header-global.slim {
  h2 {
    width: auto !important;
    width: initial !important;
  }
}

.header-global .user button.dropdown {
  font: normal normal normal 14px/1.3 FontAwesome;
}

.home>header .title {
  min-height: initial;
}

.home>header .outer-wrapper {
  padding: 305px 0 0;
  opacity: 0.6;
}

/*ADDED*/

.extra-block {
  white-space: normal;
  margin-top: 10px;
}

.extra-block {
  a {
    img {
      margin: 0 37px 20px 0;
    }
  }
  a:last-child {
    img {
      margin-right: 0px;
    }
  }
}

.wrapper-footer footer#footer-openedx .copyright {
  margin: -2px 0 8px 0px;
}

.wrapper-footer footer#footer-openedx {
  max-width: 1200px;
}

.raccoon-block {
  margin-top: 10px;
  margin-left: 0px;
}

img#first-img {
  height: 42px;
}

img#second-img {
  height: 42px;
}

img#third-img {
  height: 70px;
  padding-top: 5px;
}

img#fourth-img {
  width: 150px;
  height: auto;
  padding-top: 15px;
}

.header-global {
  z-index: 101;
  .wrapper-header {
    width: auto;
  }
  .nav-courseware {
    width: 30%;
    text-align: right;
    margin-top: 10px;
    a {
      img {
        margin-top: auto;
        margin-bottom: auto;
        width: 100%;
        height: auto;
        max-width: 150px;
        margin: 4px 0 0 10px;
      }
    }
  }
  h1.logo {
    margin: -2px 3% 0 0;
    a {
      margin: 0 5px;
      width: 12%;
      img {
        margin: -5px 5px 0 5px;
        width: 100%;
        height: auto;
        max-width: 57px;
      }
    }
    a:first-child, a:last-child {
      width: 55%;
      img {
        margin: -10px 5px 0 5px;
        max-width: 220px;
      }
    }
    a:last-child {
      width: 20%;
      img {
        margin: 0  5px;
        max-width: 104px;
      }
    }
  }
}

.course-info header.course-profile {
  padding-top: 80px;
  padding-bottom: 100px;
}

.raccoon-img-logo {
  height: 25px;
  vertical-align: baseline;
}

.wrapper-footer footer#footer-openedx a:active {
  border-bottom: none;
}

.wrapper-footer footer#footer-openedx a:focus {
  border-bottom: none;
}
