.home>header {
  background-image: url("../images/background.jpg");
  height: 420px;
  background-position: center;
  position: relative;
  background-color: #040404;
  background-position: 0 0;
  .outer-wrapper {
    padding: 280px 0 0;
    opacity: 0.7;
  }
  .title {
    padding: 15px 20px;
    text-align: center;
    .heading-group {
      padding-bottom: 0px;
      h1 {
        font-size: 1.4em;
        line-height: 1em;
      }
      p {
        font-size: 1em;
      }
    }
  }
}

.header.global {
  border-bottom: none !important;
  // height: 93px !important;
  background: white !important;
}
.header-global .user {
  //:float: initial;
}
.home-button-wrapper {
  overflow: hidden;
  @media screen and (min-width: 760px) {
    overflow: visible;
  }
}

.header-global .nav-global {
    margin: 20px 0 0;
    float: none;
    @media screen and (min-width: 760px) {
      width: auto;
      margin: 10px 0 0 auto;
      float: left;
    }

    .item {
      width: 100%;
      border-top: 1px solid #000;
      @media screen and (min-width: 760px) {
        width: auto;
        border: none;
      }
    }
    .tab-nav-item {
      width: 100%;
      border-top: 1px solid #000;
      @media screen and (min-width: 760px) {
        width: auto;
        border: none;
      }

      .active {
        border: none !important;
        @media screen and (min-width: 760px) {
          border-bottom: 4px solid rgba(0,0,0,0.75) !important;
          width: auto;
        }
      }
      .tab-nav-link {
        width: 100%;
        padding: 5px 25px;
        @media screen and (min-width: 760px) {
          padding: 5px 25px 23px;
        }

        &:hover {
          border: none !important;
          @media screen and (min-width: 760px) {

          }
        }
      }
    }
  }

.header-global .user>.primary:last-child {
  margin-top: 10px;
}

.header-global h1.logo a:hover {
  text-decoration: none;
}

.header-global h1.logo a {
  float: left;
}

.wrapper-footer {
  background: #f1f1f1 !important;
  margin-top: 0 !important;
  position: relative !important;
  /*height: 140px;*/
  padding: 0px 10px 0px 10px;

        //li:after {
        //  content: "|";
        //  color: #888888;
        //  padding-left: 10px !important;
        //}
        //li:last-child:after {
        //  display: none;
        //}
  footer#footer-openedx {
    .colophon {
      width: 100%;
    }
  }
}

.raccoon-block {
  width: initial;
  display: inline-block;
  // position: absolute;
  margin-top: 4px;
  margin-bottom: 10px;
  // float: right;
  a:hover {
    text-decoration: none;
  }
}

.raccoongang {
  font-size: 12px;
  color: #767676;
  span {
    float: left;
  }
  //img {
  //  height: 30px;
  //  vertical-align: baseline;
  //  }
}

.raccoon-img {
  height: 25px;
  vertical-align: middle;

  &__edx {
    height: 17px;
    vertical-align: baseline;
  }
}

.wrapper-footer footer#footer-openedx a:hover {
  text-decoration: none;
  border-bottom: 0;
}

.header-global.slim h1.logo img {
  margin-top: -13px;
}

body .header-global.slim {
  h2 {
    display: none;
  }
}

.header-global .user button.dropdown {
  font: normal normal normal 14px/1.3 FontAwesome;
}

.home>header .title {
  min-height: initial;
}

.home>header .outer-wrapper {
  padding: 305px 0 0;
  opacity: 0.6;
}

/*ADDED*/

.extra-block {
  white-space: normal;
  margin-top: 10px;
}

.extra-block {
  a {
    img {
      margin: 0 37px 20px 0;
    }
  }
  a:last-child {
    img {
      margin-right: 0px;
    }
  }
}

.wrapper-footer footer#footer-openedx .copyright {
  margin: -2px 0 8px 0px;
}

.wrapper-footer footer#footer-openedx {
  max-width: 1200px;
}

.raccoon-block {
  margin-top: 10px;
  margin-left: 0px;
}

img#first-img {
  height: 42px;
}

img#second-img {
  height: 42px;
}

img#third-img {
  height: 70px;
  padding-top: 5px;
}

img#fourth-img {
  width: 250px;
  height: auto;
  padding-top: 15px;
}

.header-global, .header-global.slim {
  z-index: 101;
  height: auto;
  .wrapper-header {
    width: auto;
    height: auto;
  }
  .nav-global {
    li {
      margin: 0;

      a {
        padding: 10px;
      }
    }
  }
  .nav-courseware {
    width: 60%;
    max-width: 250px;
    text-align: right;
    margin-top: 4px;
    a {
      img {
        margin-top: auto;
        margin-bottom: auto;
        width: 100%;
        height: auto;
        max-width: 250px;
        margin: 4px 0 0 0;
      }
    }
  }
  h1.logo {
    margin: -2px 3% 0 0;
    a {
      margin: 0 5px;
      width: 12%;
      img {
        margin: -5px 5px 0 5px;
        width: 100%;
        height: auto !important;
        max-width: 57px;
      }
    }
    a:first-child, a:last-child {
      width: 55%;
      img {
        margin: -10px 5px 0 5px;
        max-width: 220px;
      }
    }
    a:last-child {
      width: 20%;
      img {
        margin: 0  5px;
        max-width: 104px;
      }
    }
  }
}

.course-info header.course-profile {
  padding-top: 80px;
  padding-bottom: 100px;
}

.raccoon-img-logo {
  height: 25px;
  vertical-align: baseline;
}

.wrapper-footer footer#footer-openedx a:active {
  border-bottom: none;
}

.wrapper-footer footer#footer-openedx a:focus {
  border-bottom: none;
}

.home-button {
    color: #fff !important;
    font-size: 1em !important;
    padding: 0 !important;
    line-height: 2.2 !important;
    height: 35px;
    width: 65px;
    float: left;
    margin-top: 2px;
    background: #004990 !important;
    text-align: center;
    box-shadow: 0 2px 1px 0 #0a4a67;
    -moz-box-shadow: 0 2px 1px 0 #0a4a67;
    -webkit-box-shadow: 0 2px 1px 0 #0a4a67;
    -o-box-shadow: 0 2px 1px 0 #0a4a67;
    -ms-box-shadow: 0 2px 1px 0 #0a4a67;
    -khtml-box-shadow: 0 2px 1px 0 #0a4a67;
    font-weight: normal;
}

.wrapper-footer footer,
.header-global nav {
    width: auto !important;
}
.header-global .wrapper-header {
  display: block;
  padding: 18px 10px;
  @media screen and (min-width: 760px){
    display: flex;
  }
}
.course .course-image {
  position: relative;
  border-bottom: 18px solid #080;

  .details & {
    border: none;
  }

  &:after {
    content: '';
    height: 50px;
    width: 50px;
    position: absolute;
    right: 0;
    bottom: -45px;
    background: url("../images/verified.png") 0 100%;

    .details & {
      background: none;
    }
  }
}
.course .details .course-image {
  border: none;

  &:after {
    background: none;
  }
}
body .course-info header.course-profile {
  background: none;
  padding-top: 0;
  padding-bottom: 0;
  height: auto;
  margin-top: 0;

  .intro-inner-wrapper {
    background: none;
    border: none;
    box-shadow: none;
    min-width: auto;

    &>div.table {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      @media screen and (min-width: 760px) {
        flex-wrap: nowrap;
      }
    }
    .intro {
      order: 2;
      width: 100%;
      display: block;
      @media screen and (min-width: 760px) {
        width: auto;
        max-width: 34%;
      }

      .main-cta a.register {
        width: auto;
        background: #0c5995;
      }
    }
    .media {
      order: 1;
      width: 100%;
      padding-top: 0;
      padding-bottom: 0;
      overflow: hidden;
      display: block;
      @media screen and (min-width: 760px) {
        width: 66%;
      }

      .hero {
        border: none;
      }
    }
  }
}
.header-global h1.logo a:last-child {
  width: auto;
}
.header-global h1.logo a:last-child img {
  max-width: none !important;
  width: 150px;
}
.course-info .container {
  min-width: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 0 10px;
  @media screen and (min-width: 760px) {
    display: block;
    padding: 40px 10px;
  }
  @media screen and (min-width: 1180px) {
    padding: 40px 0;
  }
}
.course-info .details {
  float: none;
  width: 100%;
  margin-right: 0;
  order: 2;
  padding: 0 10px;
  @media screen and (min-width: 760px) {
    float: left;
    margin-right: 2.35765%;
    width: 65.88078%;
    padding: 0;
  }
}
.course-info .course-sidebar {
  order: 1;
  width: 100%;
  @media screen and (min-width: 760px) {
    width: 31.76157%;
  }
}
.course-info .details .inner-wrapper .course-staff .teacher {
  margin-bottom: 40px;
  float: left;
  width: 50%;
  box-sizing: border-box;
  padding: 0 10px;
  @media screen and (min-width: 760px) {
    width: 25%;
  }
}
.course-info .details .inner-wrapper .course-staff .teacher .teacher-image {
  float: none;
}
.course-info .course-sidebar .important-dates li .icon {
  margin: 0px 10px 6px 0;
}
body .course-info .details .inner-wrapper>section {
  overflow: hidden;
}
.btn-theme {
  background: #ec1f27;
  color: #fff !important;
  border-radius: 4px;
  padding: 5px;
   &:hover {
    background: lighten(#ec1f27, 10%);
   }
}