.vert .discussion-module .discussion-show, 
.vert .discussion-user-threads .discussion-show {
    color: $link-color;
}

.discussion-module button:focus:not(:disabled),
.vert .discussion-module .new-post-btn,
.vert .discussion-module .new-post-btn:active, 
.vert .discussion-user-threads .new-post-btn,
.vert .discussion-user-threads .new-post-btn:active, {
    background: $link-color;
    border: none;
    border-radius: 0;
    box-shadow: none;

    &:hover {
        background: #1ac7c7 !important;
        border: none !important;
        box-shadow: none !important;
    }
}