// CONTAINER  Costum  
.content-wrapper,
.container-mb {
	p {line-height:normal;}
}

.container-mb -col-xs-12 {
	margin-bottom:2em;
}
.container h2,
.Content h2 {
	padding-top:15px;
	font: normal 1.2em/1.2em 'Rubik', Arial, sans-serif;
}
.container p {
	font: normal 1em/1.6em 'Open Sans', Arial, sans-serif;
}

// ICON
.icon-home {
	width:50%; 
	display: block; 
	margin-left: auto; 
	margin-right: auto; 
	padding-top: 5px;
}
.postFeld {
	padding-left:15px;
	padding-right:15px;
}

.home-news h1,
h1.title {
    color: #be121e;
    line-height:initial;
    font-family: 'Rubik', Arial, sans-serif;
    text-align:left;
    display:inline-block;
    margin-top:1em;
    }
.flane-partners .col-xs-6 a, 
.flane-partners .col-sm-3 a {
	padding:15px;
}
.flane-partners .col-xs-12 {
	margin-top:15px;
}

.menu-title {
	font-family: 'Open Sans', Arial, sans-serif;
	font-size:2em;
}

.menu-content {
	font-size: initial;
    line-height: initial;
	a {
		padding:0 15px;
	}
}
.list-unstyled {
     padding-left: 0;
     list-style: none;
     display: block;
     line-height:normal;
}