.content-wrapper {
	p {line-height:normal;}
}
.icon-home {
	width:50%; 
	display: block; 
	margin-left: auto; 
	margin-right: auto; 
	padding-top: 5px;
}
.postFeld {
	padding-left:15px;
	padding-right:15px;
}
h1,
h1.title {
    color: #be121e;
    line-height: 39px;
    font-weight: bold;
    font-family: 'Rubik', Arial, sans-serif;
    text-align:left;
    display:inline-block;
    }
.flane-partners .col-xs-6, 
.flane-partners .col-sm-3 {
	padding:15px;
}
.menu-title {
	font-weight: bold;
}

.menu-content {
	a {
		color: $ci-color;
	}
}