@font-face {
    font-family: "bahij_thesansarabicsemibold";
    src: url("../fonts/Bahij_TheSansArabic-SemiBold.eot?") format("eot"),
         url("../fonts/Bahij_TheSansArabic-SemiBold.woff") format("woff"),
         url("../fonts/Bahij_TheSansArabic-SemiBold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "bahij_thesansarabicplain";
    src: url("../fonts/Bahij_TheSansArabic-Plain.eot?") format("eot"),
         url("../fonts/Bahij_TheSansArabic-Plain.woff") format("woff"),
         url("../fonts/Bahij_TheSansArabic-Plain.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "bahij_thesansarabicextrabold";
    src: url("../fonts/Bahij_TheSansArabic-ExtraBold.eot?") format("eot"),
         url("../fonts/Bahij_TheSansArabic-ExtraBold.woff") format("woff"),
         url("../fonts/Bahij_TheSansArabic-ExtraBold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}