.wrapper-footer {
    border-top: 14px solid #15b2a6;
    padding: 39px 0;
    background: #3c4651;
    margin: 0;

    footer#footer-openedx {
        .footer-content-wrapper {
            font: 16px/29px bahij_thesansarabicsemibold;
            color: #b0b2b6;
        }
    }
}