*:not(.fa):not(.glyphicon):not([class*='sorting']):not([class*="icon-cc"]) {
	font-family: "Muli", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

html, body {
	-webkit-font-smoothing: auto;
	-moz-osx-font-smoothing: auto;
}

body {
	position: relative;
	line-height: 1.2;
	margin: 0;
}

.global-header {
	border-bottom: none;
	box-shadow: 0 0 6px 0 rgba(0,0,0,0.75);
	padding: 30px 0;
}

.global-header .nav-links .secondary,
.global-header .header-logo a {
	margin-top: 0;
}

.global-header .hamburger-menu {
	top: 50%;
	margin-top: -10px;
}

.global-header .header-logo .course-header,
.global-header .nav-links .main {
	margin-top: 0;
}

.course-info header.course-profile {
	height: auto;
	padding-top: 0;
}

.home>header .title {
	background: rgba(255, 255, 255, 0.2);
	
	>.heading-group {
		width: 100%;

		h1 {
			color: #fff;
			text-align: center;
		}

		p {
			color: #fff;
			text-align: center;
		}
	}
}
