header.global {
    @include clearfix();
    box-shadow: none;
    border-color: transparent;
    background: transparent;
    padding: 11px 0 26px;
    height: auto;

    .user {
        padding-right: 32px;

        .primary {
            float: none;
            display: inline-block;
            vertical-align: middle;

            .dropdown {
                background-color: transparent;
                padding: 0;
            }
            a:hover,
            a:focus {
                background: none;
            }
            .user-image-frame {
                border-radius: 50%;
                width: 46px;
                height: auto;
                display: inline-block;
                vertical-align: middle;
            }
            .avatar {
                width: 45px;
                height: 45px;
                border-radius: 50%;
                overflow: hidden;
            }
        }
        a.user-link {
            font-size: 17px;
            line-height: 22px;
            color: #333;

            .label-username,
            .user-image-frame,
            .sr {
                display: inline-block;
                vertical-align: middle;
            }
            .label-username {
                float: none;
                margin-top: 0;
                margin-bottom: 0;
                font-family: bahij_thesansarabicsemibold;
            }
        }
    }
    .nav {
        padding-top: 0;
    }
    .nav-global {
        float: left;

        li {
            
            a {
                font: 20px/26px bahij_thesansarabicplain;
                color: #128f86;

                &:hover {
                    color: #128f86;
                    text-decoration: underline;
                }
            }
        }
    }
}
.global.slim {
    @include clearfix();

    .wrapper-header {
        .course-header {
            display: none;
        }
        .logo img {
            height: auto;
        }
    }

    h1.logo:before {
        visibility: hidden;
    }
}