.header-nav {
    display: flex;
    list-style: none;
    flex-direction: row-reverse;
    padding: 0;
    margin: 0;

    &_item {
        margin: 0 5px 0 0;
        padding: 8px !important;
    }
    &_link {
        font: 16px/21px bahij_thesansarabicplain;
        color: #128f86 !important;
        
        &:focus,
        &:hover {
            color: #ff6634 !important;
            text-decoration: none !important;
        }
    }
}