.header-global-new,
.header-global {
    box-shadow: none;
    border-color: transparent;
    background: transparent;
    padding: 0;

    .wrapper-header {
        height: auto;
    }

    .nav-courseware div a {
        color: $link-color;
        border: 1px solid $btn-neutral-color;
        font-family: bahij_thesansarabicplain;
        
        &:focus,
        &:hover {
            background: $btn-neutral-focus-background;
            color: #fff;
        }
    }
    .nav-global li a {
        color: $link-color;
        font-family: bahij_thesansarabicplain;
    }
    .user {
        margin-bottom: 0;
        
        .primary {
            float: none;
            display: inline-block;
            vertical-align: middle;

            .dropdown {
                background-color: transparent;
                padding: 0;
            }
            a:hover,
            a:focus {
                background: none;
            }
            .user-image-frame {
                border-radius: 50%;
                width: 46px;
                height: auto;
                display: inline-block;
                vertical-align: middle;
            }
        }
        .user-link {
            font-size: 17px;
            line-height: 22px;
            color: #333;

            .label-username,
            .user-image-frame,
            .sr {
                display: inline-block;
                vertical-align: middle;
            }
            .label-username {
                float: none;
                margin-top: 0;
                margin-bottom: 0;
                font-family: bahij_thesansarabicsemibold;
            }
        }
    }
}
.header-global.slim {
    @include clearfix();

    .wrapper-header {
        padding: 12px 0;

        .course-header {
            display: none;
        }
        .logo img {
            height: 87px;
        }
    }

    h1.logo:before {
        visibility: hidden;
    }
}