.container .home {
    max-width: 1180px;
    margin-top: 10px;
}
.home>header {
    background: #1aa8a9 url(../images/bg.png) no-repeat 0 100%;
}
.container .home .page-header-secondary {
    background-color: $link-color;

    &:hover {
        background-color: $link-focus-color;
    }
}
.home .page-header-secondary .last-accessed-link,
.home .page-header-main .page-title,
.home .page-header-main .page-subtitle {
    font-family: bahij_thesansarabicplain !important;
}