.icons {
    display: inline-block;
    vertical-align: top;
    width: 35px;
    height: 35px;

    &__facebook {
        background: url(../images/facebook.png);
    }
    &__google {
        background: url(../images/g+.png);
    }
    &__in {
        background: url(../images/in.png);
    }
    &__twitter {
        background: url(../images/twitter.png);
    }
    &__youtube {
        background: url(../images/youtube.png);
    }
    &__instagram {
        background: url(../images/instagram.png);
    }
}
