.container .instructor-dashboard-content-2 {
    a {
        color: $link-color !important;

        &:hover {
            color: $link-focus-color !important;
        }
    }
    section.idash-section#cohort_management .cohort-management .message .action-create,
    .customBrowseBtn .file-browse span.browse,
    section.idash-section#membership .member-lists-management .auth-list-container .member-list-widget input[type="button"].add,
    section.idash-section#certificates .btn-blue {
        box-shadow: none;
        background: $link-color;
        border-radius: 0;
        border: 1px solid $link-color;

        &:hover {
            color: $link-color;
            background: transparent;
        }
    }
    section.idash-section#cohort_management .cohort-management .message .action-create:hover:not(:disabled),
    section.idash-section#membership .member-lists-management .auth-list-container .member-list-widget input[type="button"].add:hover:not(:disabled) {
        color: $link-color;
        background: transparent;
    }
    .customBrowseBtn .file-browse.btn,
    .customBrowseBtn .file-browse span.browse:hover:not(:disabled),
    .container .instructor-dashboard-content-2 .customBrowseBtn .file-browse span.browse {
        border-color: transparent !important;
    }
    .customBrowseBtn .file-browse span.browse:hover:not(:disabled) {
        border-color: $link-color !important;
    }
    section.idash-section#membership .member-lists-management .auth-list-container .member-list-widget input[type="button"].add:hover:not(:disabled),
    section.idash-section#cohort_management .cohort-management .message .action-create:hover:not(:disabled) {
        box-shadow: none !important;
        text-shadow: none !important;
    }
}
.container .instructor-dashboard-wrapper-2 section.idash-section#membership .enroll-option .hint {
    z-index: 2;
}
.container .instructor-dashboard-wrapper-2 section.idash-section#membership .member-lists-management .auth-list-container .member-list-widget input[type="button"].add:focus:not(:disabled),
.container .instructor-dashboard-wrapper-2 section.idash-section#cohort_management .cohort-management-nav .action-create:focus,
.container .instructor-dashboard-wrapper-2 section.idash-section#cohort_management .cohort-management-nav .action-create {
    box-shadow: none !important;
    background: $link-color;
    border-radius: 0;
    border: 1px solid $link-color;

    &:hover {
        box-shadow: none !important;
        color: #fff !important;
        background: $link-focus-color !important;
    }
}