body,html {
    height: 100%;
    background: #fff;
}
.window-wrap {
    min-height: 100%;
    padding-bottom: 250px;
    margin-bottom: -250px;
    box-sizing: border-box;
    overflow: hidden;
}
.home {
    background: #f2f2f2;

    .highlighted-courses {
        overflow: hidden;
    }
}
#main {
    background: #fff;
}