html,
body,
h1, h2, .home>header .title>.heading-group p, section.outside-app h1, h3, h4, h5, h6 {
    font-family: $font-regular;
}
html,
body{
    height: 100%;
    background: #f4f4f4;
}
body.view-in-course .window-wrap {
    min-width: 360px !important;
}
.logo-img {
    margin: 0 auto;
    display: block;
    width: 300px;
}
.dropdown-menu-container .menu-button .text {
    font-size: 0;
    line-height: 0;
}
.search-results .search-result-list {
    overflow: hidden;
    width: 100%;
}
.view-register, 
.view-login, 
.view-passwordreset {
    background: #f4f4f4;
}
.content-wrapper {
    background: #f4f4f4;
}
.courses-container .courses {
    float: none;
    // width: 100% !important;
}
.highlighted-courses .courses,
.find-courses .courses {
    padding: 32px 0 15px;
}
.window-wrap .find-courses .courses-container .courses:not(.no-course-discovery) {
    float: none;
    width: 100%;
}

.home .highlighted-courses {
    margin-bottom: 25px;
}

.main-header_holder .item.nav-global-01.nav-global-01-xseries-style a {
    color: #fff;
    text-transform: none;
    line-height: 60px;
    font-size: 18px;
    border: none;
    font-family: $font-regular;
    padding: 0;

    @media all and (min-width: 800px) {
        font-size: 16px;
        line-height: 1.3;
        padding: inherit;
    }

    &:hover {
        color: $tourque-orange !important;
        border: none !important;
    }
}

.dropdown-menu-container {
    .menu-button {
        padding: 0 10px;
        border-radius: 3px;
        height: 16px;
        background: #fff;
        margin: 11px 0 0 8px;

        &.default-icon:after {
            top: 9px;
        }
    }
    .menu-image {
        border-radius: 10%;
    }
    .menu-title {
        color: #fff !important;
        font-weight: bold;

        &:hover {
            color: $tourque-orange !important;
            text-decoration: none;
        }
    }
}

.icon-fallback-img .icon-angle-down {
    display: none !important;
}

.find-courses .search-facets.phone-menu {
    visibility: hidden;
}
section.outside-app p {
    font-family: $font-regular !important;
}
.forum-nav-browse {
    display: inline-block;
}
.find-courses .courses-container .courses .courses-listing .courses-listing-item {
    max-height: none !important;
}
.course-info .course-sidebar {
    float: right;
    margin-right: 30px;
}
section.wiki .breadcrumb li a {
    color: $tourque-blue !important;
}
.btn {
    color: $tourque-blue !important;

    &:hover {
        color: #fff !important;
    }
}
.content-wrapper .page-header.has-secondary .page-header-secondary .form-actions>button:hover {
    background: darken($tourque-blue, 10%) !important;
}
.btn-default {
    color: $tourque-blue !important;

    &:hover {
        color: $tourque-blue !important;
    }
}
.bookmark-button {
    &:hover {
        color: darken($tourque-orange, 10%) !important;
    }
}
.instructor-dashboard-wrapper-2 .file-download-link a,
a.progress-link,
a.gradebook-link,
.instructor-dashboard-wrapper-2 section.idash-section#cohort_management .toggle-cohort-management-discussions,
.instructor-dashboard-content-2 .instructor-nav .nav-item .btn-link,
.hd.hd-5 a,
.xmodule_display.xmodule_HtmlModule a {
    color: $tourque-blue !important;

    &:hover {
        color: darken($tourque-blue, 10%) !important;
    }
}
section.wiki .btn.btn-danger,
.wrap-instructor-info .instructor-info-action,
.course-card .cta-primary {
    background: $tourque-orange !important;
    color: #fff !important;
    border-color: $tourque-orange !important;

    &:hover {
        background: darken($tourque-orange, 10%) !important;
        color: #fff !important;
        border-color: darken($tourque-orange, 10%) !important;
        text-decoration: none;
    }
}
.home .page-header-secondary .last-accessed-link,
.instructor-dashboard-wrapper-2 section.idash-section#cohort_management .cohort-management-nav .action-create,
.sidebar .program-advertise .new-programs-btn,
.empty-dashboard-message a,
input[type="submit"],
.instructor-dashboard-wrapper-2 .customBrowseBtn .file-browse .browse,
.instructor-dashboard-wrapper-2 section.idash-section#cohort_management .form-submit,
.instructor-dashboard-wrapper-2 .btn-blue,
.instructor-dashboard-wrapper-2 section.idash-section#cohort_management .cohort-management .message .action-create,
.instructor-dashboard-wrapper-2 section.idash-section#membership .member-lists-management .auth-list-container .member-list-widget input[type="button"].add,
.wrapper-msg.wrapper-auto-cert .auto-cert-message .has-actions .msg-actions .btn,
section.wiki .btn.btn-primary,
body .btn-brand,
.search-bar .search-button,
section.wiki .btn.btn-primary,
.search-bar .search-button,
.course-card .cta-secondary,
.find-courses .discovery-submit,
.courses-container .courses .course .course-image .cover-image .learn-more {
    background: $tourque-blue !important;
    color: #fff !important;
    border-color: $tourque-blue !important;

    &:hover {
        background: darken($tourque-blue, 10%) !important;
        color: #fff !important;
        border-color: darken($tourque-blue, 10%) !important;;
    }
}
.sequence-nav button.active {
    border-color: $tourque-blue !important;
}
.xmodule_display.xmodule_VideoModule .video .subtitles a,
body .course-index .accordion .course-navigation .button-chapter {
    color: $tourque-blue;
}
body .discussion-module .btn:hover {
    background: darken($tourque-blue, 10%) !important;
    color: #fff !important;
    border-color: darken($tourque-blue, 10%) !important;;
}
body .forum-new-post-form .post-type-input:checked+.post-type-label {
    background: $tourque-blue !important;
}
.btn.cancel:hover,
.btn.btn-small.search-btn:hover {
    background: darken($tourque-blue, 10%) !important;
}
.course-card .course-actions .view-course-link:hover {
    background: darken($tourque-blue, 10%) !important;
}