html,
body {
    height: 100%;
}
body {
    background: #fafafa !important;
    font-family: $font-family-sans-serif;
}
.window-wrap {
    background: transparent;
}
.discussion-column {
    * {
        font-family: $font-family-sans-serif !important;
    }
}