.login-register {
    background: transparent;

    .form-wrapper form {
        border-radius: 0;
        background: #fff;
        border: 1px solid #ececec;
    }

    .action-primary {
        background: #ff6527;
        border-radius: 0;
        box-shadow: none;
        text-shadow: none;

        &:hover {
            background: lighten(#ff6527, 10%);
        }
    }

    .nav-btn {
        color: #149a9a;
        border-color: #149a9a;
        border-radius: 0;
        box-shadow: none;

        &:hover {
            background: #149a9a;
            box-shadow: none;
        }
    }

    .section-title.lines {
        display: none;
    }

    .action-label {
        margin: 1.25rem 0;
    }


    .select-nationality {
      margin-top: -20px;
    }

    .text-phone {
      label {
        display: none;
      }
    }

    .form-field {
        input#register-phone_country_code {
          display: inline;
          width: 50px;
        }
        input#register-phone {
          display: inline;
          width: 250px;
          margin: -47px 55px 0 55px;
        }

        font-weight: normal;

        .field-link {color: #149a9a;}
        .field-link,
        .tip,
        label {font-family: bahij_thesansarabicplain;}
        label {color: #4f4f4f;}
        .tip {color: #a3a3a3;}
    }
    h2 {font-family: bahij_thesansarabicplain;}
}
