@import "utils/const";
@import "base/fonts";
@import "base/override";
@import "common/header/header";
@import "common/main-nav/main-nav";
@import "common/login-theme/login-theme";
@import "common/promo-block/promo-block";
@import "common/gallery-index/gallery-index";
@import "common/slick-slider/slick";
@import "common/slick-slider/slick-theme";
@import "common/slider-gallery/slider-gallery";
@import "common/video-box";
@import "common/course-section";
@import "common/schools";
@import "common/title";
@import "common/subject";
@import "common/advantage";
@import "common/button/button";

