$theme-color: #f67f45;
$color-1: #888;
$color-2: #ff6600;

body {
    background: #eaeaea;
}
.header-global {
    height: auto;

    h1.logo img {
        width: 95px;
    }
    .nav,
    .wrapper-header {
        height: auto;
    }
}