$theme-color: #f67f45;
$color-1: #201c1d;

html,
body {
    background: #eaeaea;
}
.home>header {
    display: none;
}
.content-wrapper {
    background: #eaeaea;
}
.header-global {
    height: auto;

    h1.logo {
        margin: -7px 39px 0 0;

        img {
            width: 95px;
        }
    }
    &.slim h1.logo img {
        width: 95px !important;
        height: auto !important;
    }
    &.slim h1.logo:before {
        top: 8px !important;
    }
    .nav,
    .wrapper-header {
        height: auto;
        padding-bottom: 13px;
    }
    .wrapper-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:after {
            display: none;
        }
    }
    .nav-global {
        margin-top: 0;
        padding-left: 232px;

        li a {
            border-radius: 2px;
            font-size: 14px;
            line-height: 14px;
            box-sizing: border-box;
            padding: 10px 16px;
            min-width: 106px;
            border: 2px solid $color-1;
            color: $color-1;

            &:hover {
                border-color: $theme-color;
                background: $theme-color;
                color: #fff;
                text-decoration: none;
            }
        }
    }
    .nav-courseware li {
        margin-left: 5px;
    }
}
.wrapper-footer {
    background: $theme-color;
    box-shadow: none;
}
.wrapper-footer footer#footer-openedx .footer_list {
    display: flex;
    padding: 17px 0 49px;
    margin: 0;
    list-style: none;
    justify-content: center;
    width: 100%;
    
    &-item {
        margin: 0 24px;
        position: relative;

        &:after {
            content: '';
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background: #fff;
            position: absolute;
            left: -26px;
            top: 50%;
            margin-top: -2px;
        }
        &:first-child:after {
            display: none;
        }
    }
    &-link {
        text-transform: uppercase;
        color: #fff !important;
        font-size: 15px;

        &:hover {
            border: none !important;
            text-decoration: underline !important;
            color: #fff !important;
        }
    }
}
.wrapper-footer footer#footer-openedx .footer-social {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;

    &_item {
        margin: 0 5px;
    }
    &_link {
        display: inline-block;
        overflow: hidden;
        font-size: 0;
        line-height: 0;
        text-indent: -90px;
        width: 40px;
        height: 40px;

        &__facebook {
            background: url("#{$img-path}ico-facebook.jpg") no-repeat;
        }
        &__twitter {
            background: url("#{$img-path}ico-twitter.jpg") no-repeat;
        }
        &__youtube {
            background: url("#{$img-path}ico-youtube.jpg") no-repeat;
        }
        &:hover {
            border: none !important;
            text-decoration: underline !important;
        }
    }
}
.footer-holder {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.footer-raccoon {
    color: #fff !important;
    font-size: 10px;
    margin: 16px 0 0;
}
.footer-logo:hover {
    border: none !important;
}
.nav-holder {
    display: flex;
}
.doc-link {
    color: #201c1d !important;

    &:hover {
        color: $theme-color !important;
        text-decoration: none;
    }
}
.header-global.slim .nav-global {
    padding-left: 0;
}
.header-global.slim h1.logo:before,
.header-global.slim h1.logo:after {
    display: none !important;
}
.about__title{
    margin-bottom: 10px;
}
.about__text{
    line-height: 1.2;
}
.about__list{
    line-height: 1.2;
    li{
        margin: 5px 0;
    }
}