$theme-color: #f67f45;
$color-1: #201c1d;

html,
body {
    background: #eaeaea;
}
.home>header {
    display: none;
}
.content-wrapper {
    background: #eaeaea;
}
.header-global {
    height: auto;
    min-height: 70px;
    @media (max-width: 820px){
        z-index: 100;
    }
    .user {
        display: flex;
        align-items: center;
    }

    h1.logo {
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        @media (max-width: 570px) {
            margin: 0 auto 10px auto;
        }

        img {
            width: 95px;
        }
    }
    &.slim h1.logo img {
        width: 95px !important;
        height: auto !important;
    }
    &.slim h1.logo:before {
        top: 8px !important;
    }
    nav {
        height: auto;
        min-height: 70px;
        padding: 0;
        position: relative;
    }
    .nav,
    .wrapper-header {
        height: auto;
        padding-bottom: 13px;
    }
    .wrapper-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: 570px) {
            display: block;
            &:after {
                content: '';
                clear: both;
                display: table;
            }
        }
        @media (max-width: 820px) {
            position: absolute;
            top: 71px;
            right: 0;
            background-color: #fff;
            padding: 20px 75px 20px 20px;
            display: flex;
            display: none;
            flex-direction: column;
            width: auto;
        }
        &:after {
            display: none;
        }
    }
    .nav-global {
        margin-top: 0;
        padding-left: 232px;
        @media (max-width: 820px) {
            padding-left: 0;
        }

        li a {
            border-radius: 2px;
            font-size: 14px;
            line-height: 14px;
            font-weight: 400;
            box-sizing: border-box;
            padding: 10px 16px;
            min-width: 106px;
            border: 2px solid $color-1;
            color: $color-1;

            &:hover {
                border-color: $theme-color;
                background: $theme-color;
                color: #fff;
                text-decoration: none;
            }
        }
    }
    .nav-courseware {
        @media (max-width: 820px) {
            float: none;
            display: flex;
            flex-direction: column;
        }

        li {
            margin-left: 5px;
            @media (max-width: 570px) {
                margin-bottom: 10px;
            }
            @media (max-width: 450px) {
                display: block;
            }
        }
    }
}
.wrapper-footer {
    background: $theme-color;
    box-shadow: none;
}
.wrapper-footer footer#footer-openedx .footer_list {
    display: flex;
    padding: 17px 0 49px;
    margin: 0;
    list-style: none;
    justify-content: center;
    width: 100%;
    @media (max-width: 600px) {
        display: block;
        
        &:after {
            content: '';
            clear: both;
            display: table;
        }
    }

    &-item {
        margin: 0 24px;
        position: relative;

        &:after {
            content: '';
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background: #fff;
            position: absolute;
            left: -26px;
            top: 50%;
            margin-top: -2px;
            @media (max-width: 600px) {
                display: none;
            }
        }
        &:first-child:after {
            display: none;
        }

        @media (max-width: 600px) {
            width: 40%;
            text-align: center;
            margin: 10px 0;
            padding: 0 20px;
            display: inline-block;
            vertical-align: top;
        }
        @media (max-width: 480px) {
            width: 100%;
            padding: 0;
        }
    }
    &-link {
        text-transform: uppercase;
        color: #fff !important;
        font-size: 15px;

        &:hover {
            border: none !important;
            text-decoration: underline !important;
            color: #fff !important;
        }
    }
}
.wrapper-footer footer#footer-openedx .footer-social {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;

    &_item {
        margin: 0 5px;
    }
    &_link {
        display: inline-block;
        overflow: hidden;
        font-size: 0;
        line-height: 0;
        text-indent: -90px;
        width: 40px;
        height: 40px;

        &__facebook {
            background: url("#{$img-path}ico-facebook.jpg") no-repeat;
        }
        &__twitter {
            background: url("#{$img-path}ico-twitter.jpg") no-repeat;
        }
        &__youtube {
            background: url("#{$img-path}ico-youtube.jpg") no-repeat;
        }
        &:hover {
            border: none !important;
            text-decoration: underline !important;
        }
    }
}
.footer-holder {
    display: flex;
    justify-content: space-between;
    width: 100%;
    @media (max-width: 600px) {
        flex-direction: column;
        text-align: center;
    }
}
.footer-raccoon {
    color: #fff !important;
    font-size: 10px;
    margin: 16px 0 0;
    @media (max-width: 600px) {
        text-align: center;
    }
}
.footer-logo {
    @media (max-width: 600px) {
        margin-bottom: 10px;
    }

    &:hover{
        border: none !important;
    }
}
.nav-holder {
    display: flex;
    @media (max-width: 820px) {
        width: 100%;
    }
}
.doc-link {
    color: #201c1d !important;

    &:hover {
        color: $theme-color !important;
        text-decoration: none;
    }
}
.header-global.slim .nav-global {
    padding-left: 0;
}
.header-global.slim h1.logo:before,
.header-global.slim h1.logo:after {
    display: none !important;
}
.about__title{
    margin-bottom: 10px;
}
.about__text{
    line-height: 1.2;
}
.about__list{
    line-height: 1.2;
    li{
        margin: 5px 0;
    }
}
.dropdown {
    .fa {
        vertical-align: super;
    }
}

.view-profile .profile-section-one-fields .u-field-username .u-field-value {
    @media (max-width: 600px) {
        width: auto;
    }
}

.menu-action {
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    display: none;
    z-index: 11;
    @media (max-width: 820px) {
        display: block;
    }
}
.header-global.menu-show .wrapper-header{
    transform: translateY(0);
}
@media (max-width: 820px) {
    .blocked-page {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 100%;
        background-color: #000;
        opacity: 0.3;
        z-index: 99;
        display: none;
    }
}
body {
    .header-global .wrapper-header .list-inline.nav-global {
        margin-top: 0;
        @media (max-width: 820px) {
            margin-bottom: 15px;
        }
    }

}