// Our overrides should go here

$sans-serif: 'Helvetica Neue', $verdana, sans-serif !default;
$homepage-bg-image: url('../images/flane-header-bg.jpg');

.window-wrap {
	    border-top: 15px solid #b00b23;
}
header.global {
	height: 80px !important;
    opacity: 0.6;
}
.home > header {
    position: relative;
    top: -80px;
    background-position: 0px;
    }

.home > header .outer-wrapper {
    padding: 160px 60px !important;
}
.nav-courseware li .cta {
    background: #b00b23;
    }