//----------platform variables----------//
$blue: #009be0;
$base-color: #259d1f;
$btn-bg-hover: #40b23b;

$link-color: $base-color;
$link-hover: #40b23b;
$shadow-color: $base-color;
$button-color: $base-color;
$action-primary-bg: $base-color;
$action-primary-focused-bg: $btn-bg-hover;

$courseware-border-bottom-color: $base-color;

$forum-color-primary: $base-color;
$forum-color-hover: $btn-bg-hover;

$staff-color: $base-color;
$pink: red;

//----------theme variables----------//
//body background
$body-bg: #eee;
//settings for header
$header-nav-link-color: $base-color;
$header-nav-link-color-hover: #40b23b;
$header-background: #fff;
$dropdown-menu-background: #9da5ac;
$dropdown-menu-color: #009be0;
$dropdown-menu-color-hover: lighten($dropdown-menu-color, 20%);
//logo
$logo-width: auto;
$logo-height: auto;
//settings for hamburger
$hamburger-color: #2C2A2F;
$hamburger-width: 36px;
$hamburger-height: 30px;
$hamburger-height-line: 4px;
//settings on promo box
$promo-box-text-color: #006341;
$promo-box-text-shadow: 0px 2px 0px rgba(77, 77, 77, 0.4);
$find-btn-bg: transparent;
$find-btn-bg-hover: rgba(0, 0, 0, .2);
$find-btn-border: #fff;
$find-btn-color: #fff;
$find-btn-color-hover: $find-btn-color;
//search input on promo box
$search-input-background: rgba(255,255,255,0.25);
$search-input-color: #524e57;
$search-input-border: #fff;
$search-button-color: #8e8897;
//settings for footer
$footer-bg: #eee;
$footer-nav-link-color: #524e57;
$footer-nav-link-color-hover: #787280;
$footer-support-text-and-logo: #524e57;
$footer-social-link-bg: #524e57;
$footer-social-link-bg-hover: rgba(0,0,0, .8);
//btn
$theme-btn-bg: #ffc627;
$theme-btn-text-color: #2c2a2f;
$theme-btn-bg-hover: lighten($theme-btn-bg, 20%);
$theme-btn-text-color-hover: #2c2a2f;
$theme-btn-shadow: darken($theme-btn-bg, 20%);
//btn-white
$theme-btn-white-bg: #fff;
$theme-btn-white-border: #fc6a15;
$theme-btn-white-text-color: #fc6a15;
$theme-btn-white-text-color-hover: #fff;
$theme-btn-white-bg-hover: #fc6a15;
// link color
$theme-link: #259d1f;
$theme-link-hover: lighten($base-color, 20%);
//settings for bg content pages
$theme-content-bg: #eee;
//settings for input icons
$theme-input-icon: #fc6a15;
//user link color
$theme-user-link: #3c3c3c;
$theme-user-link-hover: lighten($theme-user-link, 20%);
//settings fo courses on main page and search
$courses-border-color: #dedede;
$courses-border-color-hover: #c0c0c0;
$course-hover-bg: rgba(0, 0, 0, .5);
$course-link-color: #1f1f1f;
$course-bg: #fff;
$course-img-border: #006341;
$course-data-color: #FFC627;
//certificate
$certificate-borders-color: #006341;
$ribbon-corners-color: lighten($certificate-borders-color, 5%);
$ribbon-triangle-color: darken($certificate-borders-color, 5%);
//our overrides for settings we want to change
$img-path: "../images" !default;
$font-path: "../fonts" !default;
