$base-color: #87189d; //purple
$secondary-color: #fc6a15; //orange
$btn-bg-hover: #fdaa7a; //orange light

$link-color: $base-color;
$link-hover: $base-color;
$shadow-color: $base-color;
$button-color: $secondary-color;
$action-primary-bg: $secondary-color;
$action-primary-focused-bg: $btn-bg-hover;

$courseware-border-bottom-color: $base-color;