//----------platform variables----------//
$blue: #957e30;
$base-color: $blue;
$btn-bg-hover: lighten($base-color, 20%);

$link-color: $base-color;
$link-hover: lighten($base-color, 20%);
$shadow-color: $base-color;
$button-color: $base-color;
$action-primary-bg: $base-color;
$action-primary-focused-bg: $btn-bg-hover;

$courseware-border-bottom-color: $base-color;

$forum-color-primary: $base-color;
$forum-color-hover: $btn-bg-hover;

$staff-color: $base-color;
$pink: red;

//----------theme variables----------//
//body background
$body-bg: #eee;
//settings for header
$header-nav-link-color: #000;
$header-nav-link-color-hover: lighten($header-nav-link-color, 20%);
$header-background: #fff;
$dropdown-menu-background: #9da5ac;
$dropdown-menu-color: #000;
$dropdown-menu-color-hover: lighten($dropdown-menu-color, 20%);
//logo
$logo-width: 37px;
$logo-height: 37px;
//settings for hamburger
$hamburger-color: #957e30;
$hamburger-width: 40px;
$hamburger-height: 30px;
$hamburger-height-line: 3px;
//settings on promo box
$promo-box-text-color: #fff;
$promo-box-text-shadow: 0px 2px 0px rgba(77, 77, 77, 0.4);
$find-btn-bg: transparent;
$find-btn-bg-hover: rgba(0, 0, 0, .2);
$find-btn-border: #fff;
$find-btn-color: #fff;
$find-btn-color-hover: $find-btn-color;
//search input on promo box
$search-height: 55px;
$search-input-background: rgba(255,255,255,0.25);
$search-input-color: #fff;
$search-input-border: #fff;
$search-button-color: #fff;
//settings for footer
$footer-bg: #957e30;
$footer-nav-link-color: #bdab7d;
$footer-nav-link-color-hover: rgba(255,255,255, .8);
$footer-support-text-and-logo: #bdab7d;
$footer-social-link-bg: #fff;
$footer-social-link-bg-hover: rgba(255,255,255, .8);
//btn
$theme-btn-bg: #957e30;
$theme-btn-text-color: #fff;
$theme-btn-bg-hover: lighten($theme-btn-bg, 20%);
$theme-btn-text-color-hover: #fff;
$theme-btn-shadow: darken($theme-btn-bg, 20%);
//btn-white
$theme-btn-white-bg: #fff;
$theme-btn-white-border: #957e30;
$theme-btn-white-text-color: #000;
$theme-btn-white-text-color-hover: #fff;
$theme-btn-white-bg-hover: #957e30;
// link color
$theme-link: $base-color;
$theme-link-hover: lighten($base-color, 20%);
//settings for bg content pages
$theme-content-bg: #eee;
//settings for input icons
$theme-input-icon: #957e30;
//user link color
$theme-user-link: #000;
$theme-user-link-hover: lighten($theme-user-link, 20%);
//settings fo courses on main page and search
$courses-border-color: #957e30;
$course-hover-bg: rgba(0, 0, 0, .5);
$course-link-color: #000;
$course-bg: #fff;
//certificate
$certificate-logo-height: 30px;
$ribbon-corners-color: #3d7fbe;
$ribbon-triangle-color: #24659a;
$certificate-borders-color: #5a8cc6;
//our overrides for settings we want to change
$img-path: "../images" !default;
$font-path: "../fonts" !default;
