// Our overrides should go here

$sans-serif: 'Helvetica';
$homepage-bg-image: url('../images/flane-header-bg.jpg');

header.global {
	height: 80px;
    opacity: 0.6;
}
.home > header {
    position: relative;
    top: -80px;
    background-position: 0px;
    }

.home > header .outer-wrapper {
    padding: 160px 60px !important;
}
