$base-color: #00b0a2;
$base-color-hover: #009298;
$gray: #808080;
$light-gray: #f7f7f7;
$dark-gray: #404040;

$base-font: "DINNextLTArabic-Light";
$sans-serif: $base-font;
$f-sans-serif: $base-font;
$font-family-sans-serif: $base-font;

$body-font-family: $sans-serif;

$link-color: $base-color;
$link-color-d1: $base-color;
$link-hover: $base-color;
$button-color: $base-color;
$button-archive-color: $base-color;

$footer-bg: $light-gray;

$action-primary-bg: $base-color;
$action-primary-focused-bg: $base-color-hover;
$action-primary-active-bg: $base-color-hover;

$lms-active-color: $base-color;


// base button
$btn-default-border-color: $base-color;
$btn-default-color: $base-color;
$btn-default-focus-border-color: $base-color;
$btn-default-focus-color: #fff;
$btn-default-active-border-color: $base-color;
$btn-default-active-color: #fff;

// brand button
$btn-brand-border-color: $base-color;
$btn-brand-background: $base-color;
$btn-brand-color: #fff;
$btn-brand-focus-color: #fff;
$btn-brand-focus-border-color: $base-color;
$btn-brand-focus-background: $base-color;
$btn-brand-active-border-color: $base-color;
$btn-brand-active-background: $base-color;

//bootstrap

$btn-default-color: $base-color;
$btn-default-bg: transparent;
$btn-default-border: $base-color;

$courseware-border-bottom-color: $base-color;
