.search-bar {
    border: 1px solid #f3f3f3;
    background: #fff;
    text-align: center;
    padding: 28px;

    &_text {
        margin-bottom: 20px;
        font-size: 15px;
        line-height: 25px;
        color: #7c7c7c;
    }
}