.search-bar {
    border: 1px solid #f3f3f3;
    background: #fff;
    text-align: center;
    padding: 24px 28px 28px;

    &_text {
        margin-bottom: 23px;
        font: 15px/25px bahij_thesansarabicsemibold;
        color: #7c7c7c;
    }
}
.courseware-search-bar {
    display: none;
}
.dashboard-search-bar {
    width: 300px;
}