@import "const";

/*HEADER*/
h1.logo {
  font-size: 1.75rem !important;
}

.header-global {
  height: 76px;
  background: #e00000;
  z-index: 100;
}

.header-global .wrapper-header {
  display: flex;
  align-items: center;
  padding:0;
  height: 76px;
  justify-content: space-between;
  position: relative;
  z-index: 100;
  &:after {
    display: none;
  }
}

.header-global .wrapper-header .logo {
  margin: 0;
}

.header-global .wrapper-header .list-inline.nav-global {
  margin: 0;
  order: 1;
}

.header-global.slim {
  .wrapper-header {
    h2 {
      width: 60%;
    }
    .list-inline.nav-global {
      margin: 0 0 0 50px;
    }
    .logo {
      img {
        height: 50px;
      }
    }
  }
}

.header-global .wrapper-header .list-inline.nav-courseware {
  margin: 0;
  flex-grow: 1;
  text-align: end;
  margin-right: 10px;
    @media screen and (max-width: $responsive-large) {
        margin-right: 0;
        margin-bottom: 10px;
    }
}

.header-global .nav-global li a {
  font-size: 16px;
  color: #e00000;
  padding: 10px 20px;
  text-transform: capitalize;
  border-radius: 1px;
}

.header-global .nav-global li a:active {
  color: #fff;
  border: none;
  background: #1c2a33;
}

.header-global .nav-global li a:focus {
  color: #fff;
  border: none;
  background: #1c2a33;
}

.header-global .nav-courseware li .btn {
  box-shadow: none;
  font-size: 16px;
  font-weight: 600;
  background: #fff;
  color: #e00000;
  padding: 10px 20px;
  width: 103px;
  text-transform: capitalize;
  border-radius: 1px;
}

.header-global .nav-courseware li .btn:hover {
  background: #1c2a33;
  color: #fff;
}

.header-global .nav-courseware li .btn:focus {
  background: #1c2a33;
  color: #fff;
  box-shadow: none;
}

.header-global .nav-courseware li .btn:active {
  background: #1c2a33;
  color: #fff;
  box-shadow: none;
}

.btn-neutral, .btn-group .btn {
  border-style: none;
}

.btn-neutral:hover {
  background: #1954a6;
}
.btn-neutral {
  background-color: #fff;
}
.btn:hover {
  border-color: #fff;
}

.header-global .user {
  align-items: initial;
  order: 1;
  display: flex;
  justify-content: center;
  .primary {
    margin: auto;
  }
}

.header-global.slim .wrapper-header {
  height: 76px;
}

#logo {
  height: 20px;
    @media screen and (max-width: $responsive-large) {
      margin-left: 20px;
    }
}

.header-global h1.logo a {
  display: flex;
}
a#find-courses,
#find-courses {
  color: #fff;
  font-size: 20px;
  margin-right: auto;
  margin-left: auto;
    @media screen and (max-width: $responsive-large) {
        margin: 0 0 10px 0;
    }
}

#find-courses:hover {
  text-decoration: none;
}

#find-courses:focus {
  text-decoration: none;
}

/*LAYOUT*/
.home>header {
  background-image: url("../images/layout_background.jpg");
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
}

.home>header .outer-wrapper {
  position: relative;
  margin: 0 auto;
  padding: 230px 0 0;
  max-width: 1600px;
  opacity: 0.7;
}

.home>header .title {
  padding: 30px 30px;
  min-height: 150px;
  text-align: center;
}

.home>header .title>.heading-group {
  padding-bottom: 25px;
  padding-top: 25px;
}

.home>header .title>.heading-group h1 {
  font-size: 1.75rem;
}

.content-wrapper {
  padding: 0;
  max-width: 100%;
}

.centered-button {
  font-size: 16px !important;
  color: #fff !important;
  padding: 10px 20px;
  text-transform: capitalize;
  border-radius: 1px;
  background: #e00000;
  /*margin-top: 10%;*/
}

.centered-button:hover {
  color: #fff !important;
  background: #1c2a33;
}

.centered-button:active {
  color: #fff !important;
  border: none;
  background: #1c2a33;
}

.centered-button:focus {
  color: #fff !important;
  border: none;
  background: #1c2a33;
}

#button-holder {
  width: 100%;
  text-align: center;
  margin: 70px 0 30px 0;
}

.courses-container {
  .courses {
    margin-top: -25px;
    .course {
      border-bottom-color: #e00000;
    }
  }
}

.courses-container .courses .course .course-info .course-title {
  color: #e00000;
}

/*FOOTER*/
.wrapper-footer {
  box-shadow: 0 -1px 5px 0 rgba(0,0,0,0.1);
  border-top: 1px solid #e9e8e8;
  padding: 10px 10px;
  background: #1c2a33;
  &:after {
    display: none;
  }
}

.footer-text {
  color: #fff;
}

.footer-text img {
  width: 150px;
}

.wrapper-footer footer#footer-openedx .colophon .nav-colophon {
  margin: 0;
  display: flex;
  height: 111px;
  align-items: center;
}

.wrapper-footer footer#footer-openedx .colophon .nav-colophon li a {
  color: #fff;
  vertical-align: text-bottom;

}

.wrapper-footer footer#footer-openedx .colophon .nav-colophon li a:hover {
  color: #e00000;
}

.wrapper-footer footer#footer-openedx .colophon {
  margin: 0;
  width: inherit;
}

.wrapper-footer footer#footer-openedx .wrapper-logo {
    font-size: 16px;
    margin: 0px;
    display: inline;
}

#raccoon-logo {
  width: 35px;
  margin-left: 5px;
}

.wrapper-footer footer#footer-openedx {
  height: 111px;
  justify-content: space-between;
  &:after {
    display: none;
  }
    @media screen and (max-width: $responsive-large) {
        height: auto;
    }
}

.wrapper-footer footer#footer-openedx a:hover {
  box-shadow: none;
  border-bottom: none;
}

.wrapper-footer footer#footer-openedx a:active {
  box-shadow: none;
  border-bottom: none;
}

.wrapper-footer footer#footer-openedx a:focus {
  box-shadow: none;
  border-bottom: none;
  color: #000;
}

.wrapper-footer footer#footer-openedx .colophon .nav-colophon li a:focus {
  color: #fff;
}

.wrapper-footer footer#footer-openedx .footer-about-openedx:last-child {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 111px;
}

.wrapper-footer footer#footer-openedx .footer-about-openedx a {
  display: flex;
  align-items: center;
  height: 111px;
}

.wrapper-footer footer#footer-openedx .colophon .nav-colophon ol {
  height: 22px;
}

#org-logo {
  margin-bottom: 12px;
  height: 80px;
  margin-left: 5px;
}

.flex-center {
  display: flex;
  align-items: center;
  height: 111px;
  justify-content: space-between;
}

.wrapper-footer footer#footer-openedx .colophon .nav-colophon li {
  margin-bottom: 0;
  margin-right: 15px;
}
.wrapper-footer footer#footer-openedx .colophon {
  width: auto;
}
.wrapper-footer .flex-center {
  width: 100%;
    @media screen and (max-width: $responsive-large) {
      flex-direction: column;
      height: auto;
    }
}
[class^='wrapper']{
  width: inherit;
}

.slash {
  float: left;
}

.wrapper-msg.wrapper-auto-cert {
  margin: auto;
}


/*REGISTER PAGE*/
.login-register .action-primary {
  box-shadow: none;
  background: #e00000;
  color: #fff;
  text-shadow: none;
}

.login-register .action-primary:hover {
  background: #1c2a33;
  text-shadow: none;
}

.login-register .action-primary:active {
  background: #1c2a33;
  text-shadow: none;
}

.login-register .action-primary:focus {
  background: #1c2a33;
  text-shadow: none;
}

.login-register .nav-btn {
  box-shadow: none;
  border: 1px solid #e00000;
  color: #e00000;
  padding-bottom: 33px;
}

.login-register .nav-btn:hover {
  border: 1px solid #1c2a33;
  box-shadow: none;
  background: #1c2a33;
  color: #fff;
}

.login-register .nav-btn:active {
  border: 1px solid #1c2a33;
  box-shadow: none;
  background: #1c2a33;
  color: #fff;
}

.login-register .nav-btn:focus {
  border: 1px solid #1c2a33;
  box-shadow: none;
  background: #1c2a33;
  color: #fff;
}

.login-register .form-field .field-link {
  color: #e00000;
}

.login-register .form-field label a {
  color: #e00000;
}

.login-register .form-field label a:hover {
  color: #e00000;
  text-decoration: none;
} 

.login-register .form-field label a:focus {
  text-decoration: none;
}

/*Course About Page*/
.course-info header.course-profile {
  height: 550px;
}

.header-global.slim .wrapper-header .course-header {
  margin: 0;
  color: #fff;
  text-shadow: none;
  width: initial;
  flex-grow: 2;
}

.header-global.slim h1.logo:before {
  display: none !important;
}

.header-global.slim .wrapper-header .list-inline.nav-global {
  margin: 0;
}

.course-info header.course-profile .intro-inner-wrapper .intro>.heading-group h1 a {
  color: #e00000;
}

.course-info header.course-profile .intro-inner-wrapper .intro>.heading-group h1 a:hover {
  color: #e00000;
  text-decoration: none;
}

.course-info header.course-profile .intro-inner-wrapper .intro>.heading-group h1 a:focus {
  color: #e00000;
}

.course-info header.course-profile .intro-inner-wrapper .intro .main-cta a.register {
  background: #e00000;
  border: 1px solid #e00000;
  box-shadow: none;
  text-shadow: none;
}

.course-info header.course-profile .intro-inner-wrapper .intro .main-cta a.register:hover:not(:disabled) {
  background: #fff;
  color: #e00000;
  border: #e00000 1px solid;
}

.course-info header.course-profile .intro-inner-wrapper .intro .main-cta a.register:focus:not(:disabled) {
  outline: none;
  box-shadow: none;
}

p a, p a:visited {
  color: #e00000;
}

p a, p a:hover {
  color: #e00000;
  text-decoration: none;
}

p a, p a:focus {
  color: #e00000;
}

.course-info .container .wrap-instructor-info .instructor-info-action {
  color: #e00000;
}

.course-info .container .wrap-instructor-info .instructor-info-action:hover {
  color: #fff;
  background: #e00000;
  text-decoration: none;
}

.course-info .container .wrap-instructor-info .instructor-info-action:focus {
  color: #fff;
  background: #e00000;
  text-decoration: none;
}

.course-info header.course-profile .intro-inner-wrapper .intro .main-cta strong {
  background: #e00000;
  border: 1px solid #e00000;
  box-shadow: none;
  text-shadow: none;  
}

.course-info header.course-profile .intro-inner-wrapper .intro .main-cta strong:hover:not(:disabled) {
  background: #fff;
  color: #e00000;
  border: #e00000 1px solid;
}

.course-info header.course-profile .intro-inner-wrapper .intro .main-cta strong:focus:not(:disabled) {
  outline: none;
  box-shadow: none;
}

.course-info header.course-profile .intro-inner-wrapper .intro .main-cta strong:active:not(:disabled) {
  box-shadow: none;
}

/*Course Info Page*/
.header-global.slim {
  padding: 0;
}

/*Wiki page*/
section.wiki .global-functions {
  margin-top: -15px;
}

section.wiki .breadcrumb {
  margin-top: -15px !important;
}

/*Course page*/
.courseware-bookmarks-button .bookmarks-list-button {
  padding: 5px 10px;
  font-size: 13px;
  font-weight: normal;
  color: #e00000;
  border-color: #e00000;
}

.courseware-bookmarks-button .bookmarks-list-button:hover {
  background: #e00000;
}

.courseware-bookmarks-button .bookmarks-list-button:focus {
  background: #e00000;
}

.course-content .bookmark-button {
  font-weight: normal;
  color: #e00000;
  border-color: #e00000;
}

.course-content .bookmark-button:hover {
  background: #e00000;
}

.course-content .bookmark-button:focus {
  background: #e00000;
  outline-color: none;
}

.view-passwordreset {
  .wrapper-footer, .header-global {
    footer, nav {
      width: auto;
    }
  }
}

.dashboard {
  .my-courses {
    .course {
      .details {
        .course-actions {
          .wrapper-action-more {
            width: auto;
          }
        }
      }
    }
  }
}

.find-courses .discovery-input:focus {
  border-color: #e00000;
}

.find-courses {
  .discovery-submit {
    background-color: #e00000;
    border: 2px solid #e00000;
  }
  .discovery-submit:hover {
    background-color: #e00000;
  }
  .discovery-submit:active {
    box-shadow: none;
  }
  .discovery-submit:focus {
    outline: none;
    background-color: #e00000;
    box-shadow: none;
  }
  .search-facets.phone-menu {
    margin-top: 30px;
  }
}

.discussion-module .discussion-show {
  color: #e00000;
}

.discussion-module .discussion-show:hover {
  color: #1c2a33;
}

.discussion-module .discussion-show:focus {
  color: #1c2a33;
}

.discussion-module .new-post-btn {
  background: #e00000;
  box-shadow: none;
  border: none;
}

.discussion-module .new-post-btn:hover {
  background: #e00000;
  box-shadow: none;
  border: none;
}

.discussion-module .new-post-btn:focus {
  background: #e00000;
  box-shadow: none;
  border: none;
}

.xmodule_display.xmodule_HtmlModule a:link {
  color: #e00000;
}

.xmodule_display.xmodule_HtmlModule a:hover {
  color: #1c2a33;
  text-decoration: none;
}

.find-courses .filters .flt-right {
  color: #fff;
  background: #e00000;
}

.find-courses .filters .flt-right:hover {
  color: #fff;
  background: #e00000;
}

.find-courses .filters .flt-right:active {
  color: #fff;
  background: #e00000;
}

.find-courses .filters .flt-right:focus {
  color: #fff;
  background: #e00000;
}

/*/info*/

div.info-wrapper section.updates>ol>li a {
  color: #e00000;
}

div.info-wrapper section.updates>ol>li a:hover {
  color: #e00000;
}

div.info-wrapper section.updates>ol>li a:focus {
  color: #e00000;
}


/*Learn More Page*/
.header-global.slim .wrapper-header .logo img {
  height: 76px;
  margin: 0;
}


/*Dashboard page*/
.header-global .primary>a {
  text-shadow: none;
  box-shadow: none;
}

.header-global .primary>a:hover {
  background: #e00000;
  color: #000;
}

.header-global .primary>a:active {
  background: #e00000;
}

.header-global .primary>a:focus {
  background: #e00000;
  color: #000;
}

.header-global .user .user-link .label-username {
  color: #000;
  margin: 15px 5px 10px 15px;
}

.header-global .user .dropdown {
  background: #e00000;
  color: #000;
}

.empty-dashboard-message {
  a {
    background-color: #e00000;
    border: none;
  }
  a:hover {
    background-color: #ff0000;
    color: #ffffff;
  }
}

/*/dashboard*/
.dashboard .my-courses .course .details .course-title a,
.dashboard .my-courses .course .details .course-title a:hover,
.dashboard .my-courses .course .details .course-title a:focus {
  color: #e00000;
}

.dashboard .my-courses .course .details .enter-course {
  color: #e00000;
  border-color: #e00000;
}

.dashboard .my-courses .course .details .enter-course:hover {
  color: #fff;
  background: #e00000;
  border-color: transparent;
}

.dashboard .my-courses .course .details .enter-course:focus {
  color: #fff;
  background: #e00000;
  border-color: transparent;
}

.dashboard .my-courses .course .details .enter-course.archived {
  color: #e00000;
  border-color: #e00000;
}

.dashboard .my-courses .course .details .enter-course.archived:hover {
  color: #fff;
  background: #e00000;
  border-color: transparent;
}

.dashboard .my-courses .course .details .enter-course.archived:focus {
  color: #fff;
  background: #e00000;
  border-color: transparent;
}

.header-global .user .dropdown-menu li>a {
  color: #e00000;
}

.header-global .user .dropdown-menu li>a:focus {
  color: #e00000;
  outline: none;
}

.dashboard-search-bar .search-field {
  outline-color: #e00000;
}

input[type="text"]:focus {
  box-shadow: none;
  border-color: transparent;
}

.modal .inner-wrapper form .submit input[type="submit"] {
  background: red;
  box-shadow: none;
  text-shadow: none;
  border: none;
}

.modal .inner-wrapper form .submit input[type="submit"]:hover {
  background: red;
  box-shadow: none;
  text-shadow: none;
  border: none;
}

.modal .inner-wrapper form .submit input[type="submit"]:focus {
  background: red;
  box-shadow: none;
  text-shadow: none;
  border: none;
}

.dashboard-search-results .search-info a {
  color: #e00000;
}

.dashboard-search-results .search-info a:hover {
  color: #e00000;
  text-decoration: none;
}

.dashboard-search-results .search-info a:focus {
  color: #e00000;
  text-decoration: none;
}

.search-results .search-results-item .result-link{
  color: #e00000;
}

.search-results .search-results-item .result-link:hover{
  color: #e00000;
  text-decoration: none;
}

.search-results .search-results-item .result-link:focus{
  color: #e00000;
  text-decoration: none;
}

.search-results .search-load-next {
  border-color: #e00000;
}

.search-results .search-load-next:hover {
text-decoration: none;
}

.search-results .search-load-next:focus {
text-decoration: none;
}

.date-summary-container .date-summary-todays-date {
  border-left-color: #e00000;
}

.date-summary-container .date-summary-todays-date:hover {
  border-left-color: #e00000;
}

/*Registration error page*/
.login-register .status .message-copy li a {
  color: #e00000;
}

.login-register .status .message-copy li a:hover {
  text-decoration: none;
}

.login-register .status .message-copy li a:focus {
  text-decoration: none;
}

.login-register .form-field label.error {
  color: #333;
}

/*Profile page*/
.view-profile .profile-self .wrapper-profile-field-account-privacy .u-field-account_privacy a {
  color: #e00000;
}

.view-profile .profile-self .wrapper-profile-field-account-privacy .u-field-account_privacy a:hover:focus:visited {
  color: #e00000;
}

/*/account*/
.wrapper-account-settings .wrapper-header .account-nav .account-nav-item button.active {
  border-bottom-color: #e00000 !important;
}

.wrapper-account-settings .wrapper-header .account-nav .account-nav-item button:hover {
  border-bottom-color: #1c2a33 !important;
}

.wrapper-account-settings .wrapper-header .account-nav .account-nav-item button:focus {
  outline: none;
  border-bottom-color: #1c2a33 !important;
}

.account-settings-sections .section .account-settings-section-body .u-field .field .u-field-link {
  border-color: #e00000;
  color: #e00000;
}

.account-settings-sections .section .account-settings-section-body .u-field .field .u-field-link:hover {
  border-color: transparent;
  color: #fff;
  background: #e00000;
}

.account-settings-sections .section .account-settings-section-body .u-field .field .u-field-link:focus {
  border-color: transparent;
  color: #fff;
  background: #e00000;
  outline: none;
}

.account-settings-sections .section .account-settings-section-body .u-field .field select ~ .icon-caret-down:after {
  border-top-color: #e00000;
}

.account-settings-sections .section .account-settings-section-body .u-field .field select:focus {
  outline: none;
}

/*profile*/
.view-profile .profile-image-field .image-wrapper .u-field-upload-button:hover {
  border-color: #e00000;
  background-color: rgba(224, 0, 0, 0.2);
  color: #e00000;
}

.view-profile .profile-image-field .image-wrapper .u-field-upload-button:focus {
  border-color: #e00000;
  background-color: rgba(224, 0, 0, 0.2);
  color: #e00000;
}

.view-profile .profile-section-one-fields .u-field-icon:hover {
  color: #e00000;
}

.view-profile .profile-section-one-fields .u-field-icon:focus {
  color: #e00000;
}

.view-profile .profile-section-two-fields .u-field.mode-placeholder:hover {
  border-color: #e00000;
}

.view-profile .profile-section-two-fields .u-field.mode-placeholder:focus {
  color: #e00000;
}

.u-field.mode-placeholder:hover span {
  color: #e00000;
}

.u-field.mode-placeholder:hover {
  border-color: #e00000;
}

.view-profile .profile-section-two-fields .u-field.mode-placeholder:hover .u-field-title {
  color: #e00000;
}

/*Progress Page*/
.wrapper-msg.wrapper-auto-cert .auto-cert-message {
  border-left-color: #e00000;
}

.wrapper-msg.wrapper-auto-cert .auto-cert-message .has-actions .msg-actions .btn {
  background: #e00000;
  box-shadow: none;
  border: none;
  text-shadow: none;
  outline: none;
}

.wrapper-msg.wrapper-auto-cert .auto-cert-message .has-actions .msg-actions .btn:hover {
  background: #e00000;
  box-shadow: none;
  border: none;
  text-shadow: none;
  outline: none;
}

.wrapper-msg.wrapper-auto-cert .auto-cert-message .has-actions .msg-actions .btn:focus {
  background: #e00000;
  box-shadow: none;
  border: none;
  text-shadow: none;
  outline: none;
}

.wrapper-msg.wrapper-auto-cert .auto-cert-message .has-actions .msg-actions .btn:active {
  background: #e00000;
  box-shadow: none;
  border: none;
  text-shadow: none;
  outline: none;
}
.header-global .wrapper-header .tab-nav-item .tab-nav-link {
  padding-bottom: 0;
}
.header-global .wrapper-header .tab-nav-item .tab-nav-link:hover,
.header-global .wrapper-header .tab-nav-item .active {
  border: none !important;
  color: #fff;
}
.header-global .wrapper-header .tab-nav-item .tab-nav-link:active, 
.header-global .wrapper-header .tab-nav-item .tab-nav-link:focus,
.header-global .nav-global li a:hover {
  background: none;
}
.header-global .wrapper-header .wrapper-user-menu {
  order: 1;
}
.wrapper-footer footer#footer-openedx a {
  &:active,
  &:hover,
  &:focus {
    text-decoration: none;
  }
}
.wrapper-footer a,
.header-global a {
  text-decoration: none;
}
.btn-link,
.dropdown-menu-container .dropdown-menu .dropdown-item a {
  color: #e00000;
  &:hover {
    color: #3c3c3c;
    text-decoration: none;
  }
}
p a:hover, p a:focus, p a:visited:hover, p a:visited:focus {
  color: #e00000 !important;
}
.program-header .crumb-link,
a, a:visited {
  color: #e00000;
}
.wrapper-course-material .course-tabs li a.active {
    color: #e00000 !important;
    border-color: #e00000 !important;
}
.wrapper-course-material .course-tabs li a {
  &:active,
  &:hover,
  &:focus {
    color: #e00000 !important;
    border-color: #e00000 !important;
  }
}
.search-bar .search-button, 
.search-bar .cancel-button {
    color: #fff;
    background: #e00000;
    &:active,
    &:focus,
    &:hover {
      color: #fff;
      background: #e00000 !important;
    }
}
.wrapper-account-settings .wrapper-header .account-nav button.active {
      border-bottom: 4px solid #e00000 !important;
}
.wrapper-account-settings .wrapper-header .account-nav button, 
.wrapper-account-settings .wrapper-header .account-nav button {
  &:hover,
  &:focus {
    border-color: #e00000 !important;
  }
}
.btn-link{
  color: #e00000;
  &:hover {
    color: #3c3c3c;
    text-decoration: none !important;
  }
}
.btn {
  color: #e00000;
  border-color: #e00000;
  &:visited,
  &:hover,
  &:active,
  &:focus {
    background: #e00000;
    color: #fff;
    text-decoration: none !important;
    border-color: #e00000;
  }
}
.course-card .cta-secondary {
    background-color: #e00000;
    border-color: #e00000;
    color: #fff;
    &:hover,
    &:active,
    &:focus {
      background: transparent;
      color: #e00000;
      border-color: #e00000;
    }
}
.blue-icon .certificate-body {
  fill: #e00000;
  border-color: #e00000;
}
.forum-nav-load-more-link:hover, .forum-nav-load-more-link:focus,
.courseware-bookmarks-button .bookmarks-list-button.is-active {
  background: #e00000;
}
.header-global .nav-global li a:hover {
  color: #fff;
  background: #1c2a33;
}