/*HEADER*/
h1.logo {
  font-size: 1.75rem !important;
}

.header-global {
  height: 111px;
}

.header-global .wrapper-header {
  display: flex;
  align-items: center;
  padding: 0 10px;
  height: 111px;
  justify-content: space-between;
}

.header-global .wrapper-header .logo {
  float: left;
  margin: auto;
  padding: .2%;
  position: relative;
}

.header-global .wrapper-header .list-inline.nav-global {
  margin: 0;
  order: -1;
  width: 20%;
}

.header-global.slim {
  .wrapper-header {
    h2 {
      width: 60%;
    }
    .list-inline.nav-global {
      margin: 0 0 0 50px;
    }
    .logo {
      img {
        height: 50px;
      }
    }
  }
}

.header-global .wrapper-header .list-inline.nav-courseware {
  margin: 0;
  width: 20%;
  text-align: end;
}

.header-global .nav-global li a {
  font-size: 16px;
  color: #000;
  padding: 0;
}

.header-global .nav-global li a:hover {
  color: #61a60e;
  background: #fff;
}

.header-global .nav-global li a:active {
  color: #000;
  border-color: #fff;
  background: #fff;
}

.header-global .nav-global li a:focus {
  color: #000;
  border-color: #fff;
  background: #fff;
}

.header-global .nav-courseware li .btn {
  box-shadow: none;
  font-size: 16px;
  font-weight: 600;
  background: #fff;
  color: #000;
  padding: 0;
}

.header-global .nav-courseware li .btn:hover {
  background: #fff;
  color: #61a60e;
}

.header-global .nav-courseware li .btn:focus {
  background: #fff;
  color: #000;
  box-shadow: none;
}

.header-global .nav-courseware li .btn:active {
  background: #fff;
  color: #000;
  box-shadow: none;
}

.btn-neutral, .btn-group .btn {
  border-style: none;
}

.btn-neutral:hover {
  background: #1954a6;
}

.btn:hover {
  border-color: #fff;
}

.header-global .user {
  align-items: center;
  order: 1;
  display: flex;
  justify-content: center;
  width: 20%;
}

.header-global.slim .wrapper-header {
  height: 111px;
}


/*LAYOUT*/
.home>header {
  background-image: url("/static/opusplace/images/layout_background.jpg");
  height: 488px;
  background-position: center;
  background-repeat: no-repeat;
}

.home>header .outer-wrapper {
  position: relative;
  margin: 0 auto;
  padding: 0;
  max-width: 1600px;
  opacity: 0.7;
}

.home>header .title {
  padding: 30px 30px;
  min-height: 150px;
  text-align: center;
}

.home>header .title>.heading-group {
  padding-bottom: 25px;
  padding-top: 25px;
}

.home>header .title>.heading-group h1 {
  font-size: 1.75rem;
}

.content-wrapper {
  padding: 0;
  max-width: 100%;
}

#layout-text-upper {
  color: #fff;
  font-size: 35px;
  margin: 0 auto;
  font-weight: 600;
  text-align: center;
}

#layout-text-lower {
  color: #fff;
  font-size: 25px;
  margin: 0 auto;
  font-weight: 600;
  text-align: center;
}

#layout-container {
  margin-top: 70px;
  line-height: 2.5em;
}

.courses-container .courses {
  padding-bottom: 40px;
}

.home .highlighted-courses {
  margin-bottom: 0;
}

.courses-container .courses .course {
  height: 100%;
  border-bottom: 3px solid #61a60e;
}

.highlighted-courses .courses .course:hover {
  box-shadow: 0 1px 4px 0 #61a60e;
}

.highlighted-courses .courses .course:focus {
  box-shadow: 0 1px 4px 0 #61a60e;
}

.underline {
  padding: 6px;
  background: #61a60e;
}

.courses-container .courses .course .course-info .course-title {
  color: #000;
  margin-top: 0;
}

.courses-container .courses .course .course-image .cover-image {
  height: 150px;
}

.courses-container .courses .course .course-image .cover-image img {
  height: 150px;
}

.courses-container .courses .course:hover .cover-image:before,
.courses-container .courses .course:focus .cover-image:before {
  height: 150px;
}

/*FOOTER*/
.wrapper-footer {
  box-shadow: 0 -1px 5px 0 rgba(0,0,0,0.1);
  border-top: 1px solid #e9e8e8;
  padding: 10px 10px;
  background: #e1e5e3;
  footer {
    .flex-center {
      flex-wrap: wrap;
      div {
        margin-bottom: 20px;
      }
    }
  }
}

.footer-text {
  color: #000;
}

.footer-text img {
  width: 150px;
}

.wrapper-footer footer#footer-openedx .colophon .nav-colophon {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 0.7em;
}

.wrapper-footer footer#footer-openedx .colophon .nav-colophon li a {
  color: #8F9194;
  vertical-align: text-bottom;
  font-size: 0.6em;
}

.wrapper-footer footer#footer-openedx .colophon .nav-colophon li a:hover {
  color: #61a60e;
}

.wrapper-footer footer#footer-openedx .colophon {
  display: flex;
  justify-content: center;
  margin-right: 0;
  width: 250px;
  flex-wrap: wrap;
}

.wrapper-footer footer#footer-openedx .wrapper-logo {
    font-size: 16px;
    margin: 0px;
    display: inline;
}

#raccoon-logo {
  width: 28px;
  margin-left: -3px;
}

.wrapper-footer footer#footer-openedx a {
  color: #6b6969;
}

.wrapper-footer footer#footer-openedx a:hover {
  box-shadow: none;
  border-bottom: none;
  color: #61a60e;
}

.wrapper-footer footer#footer-openedx a:active {
  box-shadow: none;
  border-bottom: none;
}

.wrapper-footer footer#footer-openedx a:focus {
  box-shadow: none;
  border-bottom: none;
  color: #61a60e;
}

.wrapper-footer footer#footer-openedx .colophon .nav-colophon li a:focus {
  color: #000;
}


/*REGISTER PAGE*/
.login-register .action-primary {
  box-shadow: none;
  background: #000;
  color: #fff;
  text-shadow: none;
}

.login-register .action-primary:hover {
  background: #61a60e;
  text-shadow: none;
}

.login-register .action-primary:active {
  background: #000;
  text-shadow: none;
}

.login-register .action-primary:focus {
  background: #000;
  text-shadow: none;
}

.login-register .nav-btn {
  box-shadow: none;
  border: 1px solid #61a60e;
  color: #61a60e;
  padding-bottom: 33px;
}

.login-register .nav-btn:hover {
  border: 1px solid #000;
  box-shadow: none;
  background: #000;
  color: #fff;
}

.login-register .nav-btn:active {
  border: 1px solid #61a60e;
  box-shadow: none;
  background: #fff;
  color: #61a60e;
}

.login-register .nav-btn:focus {
  border: 1px solid #61a60e;
  box-shadow: none;
  background: #fff;
  color: #61a60e;
}

.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

#oa2-facebook {
  height: 55px;
}

#oa2-google-oauth2 {
  height: 50px;
}

#oa2-twitter {
  height: 50px;
}

#oa2-linkedin-oauth2 {
  height: 50px;
}

#LINKEDIN {
  order: 1;
}

.icon-holder {
  margin: 18px; 
}

/*Course About Page*/
.course-info header.course-profile {
  height: 550px;
}

.header-global.slim .wrapper-header .course-header {
  order: -1;
  margin: 0;
  width: 20%;
}

.header-global.slim h1.logo:before {
  display: none !important;
}

.header-global.slim .wrapper-header .list-inline.nav-global {
  margin: 0;
}


/*Course Info Page*/
.header-global.slim {
  padding: 0;
}


/*Wiki page*/
section.wiki .global-functions {
  margin-top: -15px;
}

section.wiki .breadcrumb {
  margin-top: -15px !important;
}


/*Course page*/
.courseware-bookmarks-button .bookmarks-list-button {
  padding: 5px 10px;
  font-size: 13px;
  font-weight: normal;
}

.course-content .bookmark-button {
  font-weight: normal;
}

.view-passwordreset {
  .wrapper-footer, .header-global {
    footer, nav {
      width: auto;
    }
  }
}

.dashboard {
  .my-courses {
    .course {
      .details {
        .course-actions {
          .wrapper-action-more {
            width: auto;
          }
        }
      }
    }
  }
}


/*Learn More Page*/
.header-global.slim .wrapper-header .logo img {
  height: 75px;
  margin: 0;
}


/*Footer*/
#opus-logo-d {
  height: 75px;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper-footer footer#footer-openedx .colophon .nav-colophon li {
  margin-bottom: 0;
  margin-right: 15px;
  margin-left: 15px;
}

[class^='wrapper']{
  width: inherit;
}

.slash {
  float: left;
  font-size: 10px;
  margin: 0 12px 2px;
}

#logo {
  height: 90px;
}

.wrapper-msg.wrapper-auto-cert {
  margin: auto;
}

button.button.button-primary.button-oa2-facebook.login-provider.register-oa2-facebook{
  width: 28%;
}
 
button.button.button-primary.button-oa2-facebook.login-provider.login-oa2-facebook{
  width: 28%;
}

button.button.button-primary.button-oa2-twitter.login-provider.login-oa2-twitter{
  width: 28%;
}

button.button.button-primary.button-oa2-twitter.login-provider.register-oa2-twitter{
  width: 28%;
}

button.button.button-primary.button-oa2-linkedin-oauth2.login-provider.login-oa2-linkedin-oauth2{
  width: 28%;
}

button.button.button-primary.button-oa2-linkedin-oauth2.login-provider.register-oa2-linkedin-oauth2{
  width: 28%;
}

.wrapper-footer footer .flex-center div {
  margin-bottom: 0;
}

.markets {
  margin-top: 2px;
  height: 40px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#play-market {
  margin-left: 5px;
}

#app-store {
  margin-top: 2px;
}

#privacy_policy {
  margin-left: 0;
}

.wrapper-footer footer#footer-openedx .copyright {
  font-size: 0.7em;
  margin: 0;
}

/* slider */
div.window-wrap .home .courses-container .courses .courses-listing  {
  display: none;
}
/* Slider */

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;

    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}
.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    [dir="rtl"] & {
        float: right;
    }
    img {
        display: block;
    }
    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}
.slick-arrow.slick-hidden {
    display: none;
}
.slider {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.slide {
    height: 350px;
    width: 275px;
    box-shadow: 0 1px 10px 0 rgba(0,0,0,0.125), inset 0 0 0 1px rgba(255,255,255,0.75);
    background: #fafafa;
    margin: 0 auto;
    display: block;
    border-bottom: 3px solid #61a60e;
    transition: all 0.5s;
    &:hover {
      background: #f5f5f5;
      border-color: #bebebe;
      box-shadow: 0 1px 4px 0 #61a60e;
    }
    @media (max-width: 450px) {
      width: 240px;
    }
}
.slick-slide img{
    margin: 0 auto;
}
.slick-initialized .slick-slide:focus,
.slick-slide img:focus{
    outline: none;
}
.slick-arrow {
    position: absolute;
    top: 50%;
    margin-top: -25px;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor: pointer;
    z-index: 100;
    width: 43px;
    height: 50px;
    text-indent: -200px;
    overflow: hidden;
    border: none;
    background: transparent;
    outline: none;
    text-shadow: none;
    box-shadow: none;
    &:hover,
    &:active,
    &:focus {
      background: transparent!important;
      box-shadow: none!important;
    }
}
.slick-next {
    right: 0;
}
.slick-arrow:before {
    font-size: 70px;
    line-height: 35px;
    text-indent: 0;
    position: absolute;
    top: 0;
    color: gray;
}
.slick-prev:before {
    content: "\f104";
    left: 0;
    margin-left: 10px;
    @media (max-width: 450px) {
      margin-left: 5px;
    }
}
.slick-next:before{
    content: "\f105";
    right: 0;
    margin-right: 10px;
    @media (max-width: 450px) {
      margin-right: 5px;
    }
}
.slide .learn-more {
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  line-height: 24.44px;
  opacity: 0;
  border: 3px solid #fff;
  border-radius: 3px;
  padding: 10px 0;
  width: 210px;
  height: auto;
  text-align: center;
  color: #fff;
  transition: opacity 0.25s;
  z-index: 100;
  &_date {
    border-bottom: 1px solid transparent;
    display: inline-block;
    &:after {
      content: '';
      display: table;
      clear: both;
    }
    &:hover {
      border-bottom: 1px solid #61a60e;
    }
  }
  &_text {
    font-size: 17px;
    width: 100%;
    padding: 0 10px;
  }
}
.slide .learn-more a{
  color: #fff;
  display: inline-block;
  &:hover, 
  &:focus, 
  &:visited:hover, 
  &:visited:focus {
      color: #fff;
      text-decoration: none;
  }
}
.slide:hover .learn-more{
  opacity: 1;
}
.slide-header {
  position: relative;
  &:after {
    left: 0;
    position: absolute;
    top: 0;
    opacity: 0;
    background: #000;
    width: 100%;
    height: 160px;
    content: '';
    transition: opacity 0.25s;
  }
  &:before {
    width: 100%;
    height: 6px;
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    background: #61a60e;
  }
}
.slide:hover .slide-header:after {
  opacity: 0.6;
}
.slide-header img {
  width: 100%;
    @media (max-width: 450px) {
      height: auto;
    }
}
.slider-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 180px;
  padding: 0 15px;
  font-family: "Open Sans",Verdana,Geneva,sans-serif;
}
.slider .course-organization{
  line-height: 16.28px;
  padding: 10px 15px 2px 0;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #474747;
  font-size: 14px;
  letter-spacing: 1px;
  display: block;
}
.slide .course-title {
    line-height: 23.68px;
    margin: 5px 0 35px 0;
    font-size: 18px;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #000;
}
.slider .course-date {
    color: #474747;
    line-height: 20.72px;
    padding: 2px 0;
    font-size: 14px;
    margin-right: 5px;
    a {
      color: #474747;
      position: relative;
      border-bottom: 1px solid #61a60e;
      display: block;
      margin-bottom: 5px;
      &:hover,
      &:focus,
      &:active {
        text-decoration: none;
        color: #474747;
      }
    }
}
.slider-container footer {
  display: flex;
}
/* end slider*/
@media (max-width: 540px) {
  div.window-wrap .courses-container .courses .course .course-image .cover-image:before,
  div.window-wrap .courses-container .courses .course .course-image .cover-image {
    height: 250px;
  }
  div.window-wrap .find-courses .courses-container .courses .courses-listing .courses-listing-item {
    max-height: 480px;
  }
  div.window-wrap .courses-container .courses .course .course-image .cover-image img {
    height: auto;
  }
}
@media (max-width: 480px) {
  div.window-wrap .courses-container .courses .course .course-image .cover-image:before,
  div.window-wrap .courses-container .courses .course .course-image .cover-image {
    height: 160px;
  }
  div.window-wrap .find-courses .courses-container .courses .courses-listing .courses-listing-item {
    max-height: 380px;
  }
}

#global-navigation > nav > ol.right.nav-courseware.list-inline {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-around;
  line-height: 22px;
}