/*HEADER*/
.view-passwordreset .header-global nav{
  width: 100%;
}
.view-passwordreset .wrapper-footer footer{
  width: 100%;
}
h1.logo {
  font-size: 1.75rem !important;
}

.header-global {
  background: #231f20;
}

.header-global .wrapper-header {
  padding: 10px 10px;
}

.header-global .wrapper-header .logo {
  float: left;
  margin: 0;
  padding: .2%;
  position: relative;
}

.header-global .wrapper-header .list-inline.nav-global {
  padding: 15px;
  margin: 0;
}

.header-global.slim .wrapper-header .list-inline.nav-global {
  margin: 0 0 0 50px;
}

.header-global .wrapper-header .list-inline.nav-courseware {
  padding: 10px;
  margin: 0;
}

.header-global .nav-global li a {
  font-size: 14px;
  color: #0079bc;
}

.header-global .nav-global li a:hover {
  color: #1790c7;
  background: #231f20;
}

.header-global .nav-global li a:active {
  color: #1790c7;
  border-color: #231f20;
  background: #231f20;
}

.header-global .nav-global li a:focus {
  color: #1790c7;
  border-color: #231f20;
  background: #231f20;
}

.header-global .nav-courseware li .btn {
  box-shadow: none;
  font-size: 14px;
  font-weight: 600;
  background: #0079bc;
}

.header-global .nav-courseware li .btn:hover {
  background: #1790c7;
  color: #fff;
}

.header-global .nav-courseware li .btn:focus {
  background: #1790c7;
  color: #fff;
  box-shadow: none;
}

.header-global .nav-courseware li .btn:active {
  background: #1790c7;
  color: #fff;
  box-shadow: none;
}

.btn-neutral, .btn-group .btn {
  border-style: none;
  background: #231f20;
}

.btn-neutral:hover {
  background: #231f20;
}

.btn:hover {
  border-color: #fff;
}

.header-global .user {
  padding-top: 5px;
}


/*LAYOUT*/
.home>header {
  background-image: url("/static/efx/images/efx_layout.png");
  height: 488px;
  background-position: center;
  background-repeat: no-repeat;
}

.home>header .outer-wrapper {
  position: relative;
  margin: 0 auto;
  padding: 230px 0 0;
  max-width: 1600px;
  opacity: 0.7;
}

.home>header .title {
  padding: 30px 30px;
  min-height: 150px;
  text-align: center;
}

.home>header .title>.heading-group {
  padding-bottom: 25px;
  padding-top: 25px;
}

.home>header .title>.heading-group h1 {
  font-size: 1.75rem;
}

.content-wrapper {
  padding: 0;
  max-width: 100%;
}

/*FOOTER*/
.wrapper-footer {
  box-shadow: 0 -1px 5px 0 rgba(0,0,0,0.1);
  border-top: 1px solid #e9e8e8;
  padding: 10px 10px;
  background: #231f20;
}

.footer-text {
  color: #fff;
}

.footer-text img {
  vertical-align: baseline;
  width: 120px;
}

.wrapper-footer footer#footer-openedx .colophon .nav-colophon {
  margin: 10px 0 0 0;
}

.wrapper-footer footer#footer-openedx .colophon .nav-colophon li a {
  color: #fff;
}

.wrapper-footer footer#footer-openedx .colophon .nav-colophon li a:hover {
  color: #1790c7;
}

.wrapper-footer footer#footer-openedx .colophon .nav-colophon li a:focus {
  color: #fff;
}

.wrapper-footer footer#footer-openedx a:hover {
  box-shadow: none;
  border-bottom: none;
}

.wrapper-footer footer#footer-openedx a:active {
  box-shadow: none;
  border-bottom: none;
}

.wrapper-footer footer#footer-openedx a:focus {
  box-shadow: none;
  border-bottom: none;
  color: #0079bc;
}

.wrapper-footer footer#footer-openedx p {
  margin-bottom: 0;
}

.wrapper-footer footer#footer-openedx .nav-legal {
  padding-top: 5px;
}

.wrapper-footer footer#footer-openedx .footer-about-openedx a {
  margin-left: 40px;
}

.wrapper-footer footer#footer-openedx .footer-about-openedx:last-child {
  margin-top: 5px;
}

#second-img {
  padding: 2px 0 0 0;
}

.wrapper-footer footer#footer-openedx .nav-legal .nav-legal-02 a:before {
  margin-right: 0;
  content: "";
}


/*REGISTER PAGE*/
.login-register .action-primary {
  box-shadow: none;
  background: #0079bc;
  color: #fff;
  text-shadow: none;
}

.login-register .action-primary:hover {
  background: #1790c7;
  text-shadow: none;
}

.login-register .action-primary:active {
  background: #0079bc;
  text-shadow: none;
}

.login-register .action-primary:focus {
  background: #0079bc;
  text-shadow: none;
}

.login-register .nav-btn {
  box-shadow: none;
  border: 1px solid #0079bc;
  color: #0079bc;
  padding-bottom: 33px;
}

.login-register .nav-btn:hover {
  border: 1px solid #fff;
  box-shadow: none;
  background: #0079bc;
  color: #fff;
}

.login-register .nav-btn:active {
  border: 1px solid #0079bc;
  box-shadow: none;
  background: #fff;
  color: #0079bc;
}

.login-register .nav-btn:focus {
  border: 1px solid #0079bc;
  box-shadow: none;
  background: #fff;
  color: #0079bc;
}


/*Course About Page*/
.course-info header.course-profile {
  height: 550px;
}

.header-global.slim .wrapper-header .course-header {
  margin-top: 17px;
  width: 50%;
}

.header-global.slim h1.logo:before {
  display: none !important;
}


/*Wiki page*/
section.wiki .global-functions {
  margin-top: -15px;
}

section.wiki .breadcrumb {
  margin-top: -15px !important;
}


/*Course page*/
.courseware-bookmarks-button .bookmarks-list-button {
  padding: 5px 10px;
  font-size: 13px;
  font-weight: normal;
}

.course-content .bookmark-button {
  font-weight: normal;
}

.header-global.slim {
  background: #231f20;
}

.header-global.slim .wrapper-header .course-header {
  color: #fff;
}

.header-global .user>.primary>a {
  color: #fff;
}

.header-global .primary>a {
  box-shadow: none;
  text-shadow: none;
}

.header-global .primary>a:hover {
  background: #231f20;
}

.header-global .primary>a:focus {
  background: #231f20;
}

.header-global .primary>a:active {
  background: #231f20;
}

body.view-in-course .header-global, body.view-in-course .header-global.slim {
  background: #231f20;
}

.header-global .wrapper-header .course-header {
  text-shadow: none;
}
