.dashboard .theme-button {
    font: 16px/21px bahij_thesansarabicextrabold;
    color: #fff;
    padding: 23px 24px;
    background: #ff6634;
    display: inline-block;
    vertical-align: top;

    &:hover {
        color: #fff;
        background: lighten(#ff6634, 10%);
    }
    .icon {
        float: right;
        margin-left: 5px;
    }
}