.theme-button,
.theme-button:visited,
.theme-button:focus, {
    font: 16px/21px bahij_thesansarabicextrabold;
    color: #fff !important;
    padding: 10px 24px;
    background: #ff6634;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    
    &:hover {
        color: #fff !important;
        background: lighten(#ff6634, 10%);
        text-decoration: none !important;
    }

    .dashboard-search-bar & {
        color: #fff;

        &:visited {
            color: #fff !important;
            text-decoration: none !important;
            background: #ff6634;;
        }
        
        &:hover {
            color: #fff !important;
            text-decoration: none !important;
            background: lighten(#ff6634, 10%);
        }
    }
} 