.theme-button {
    font: 16px/21px bahij_thesansarabicextrabold;
    color: #fff;
    padding: 10px 24px;
    background: #ff6634;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    
    &:visited,
    &:hover {
        color: #fff;
        background: lighten(#ff6634, 10%);
    }

    .dashboard-search-bar & {
        color: #fff;
        
        &:visited,
        &:hover {
            color: #fff;
            text-decoration: none;
            background: lighten(#ff6634, 10%);
        }
    }
} 