/* ========================================================

  LMS variables for Code Academy Theme

======================================================== */

// color palette
$color-black: #000;
$color-white: #FFF;

$color-grey: #A0A0A3;
$color-grey-dark: #4A4A4F;
$color-grey-light: #F9F9F9;

$color-orange: #F15A24;
$color-orange-dark: #E84610;
$color-orange-light: #EF683F;

$color-blue: #0799D3;
$link-color: $color-orange;
$courseware-border-bottom-color: $color-orange;

// set buttons variables
$btn-brand-border-color: $color-orange;
$btn-brand-background: $color-orange;
$btn-brand-color: $color-white;

$btn-brand-focus-border-color: $color-orange-dark;
$btn-brand-focus-background: $color-orange-dark;
$btn-brand-focus-color: $color-white;
$btn-brand-active-border-color: $color-orange-dark;
$btn-brand-active-background: $color-orange-dark;

$btn-neutral-border-color: $color-white;
$btn-neutral-color: $color-white;


$staff-color: $color-orange;

// set headings for course contents
$headings-base-color: $color-grey-dark;
$headings-font-weight-light: 300;
$headings-font-weight-normal: 400;
$headings-font-weight-bold: 800;


// set responsive breackpoints
$desktop:           1200px !default;
$tablet-landscape:  992px !default;
$tablet:            768px !default;
$smartphone:        550px !default;
$mobile:            480px !default;
