.view-profile .profile-self .wrapper-profile-field-account-privacy {
    background: #149a9a url("../images/page-title/bg-page-title.jpg") no-repeat 100% 0;
    padding: 37px 0;
    
    .u-field-message .u-field-message-notification,
    .u-field-title {
        color: #fff;

        a {
            color: #7c7c7c;
        }
    }
}