.container .wrap-instructor-info .instructor-info-action,
.info-wrapper .wrap-instructor-info .instructor-info-action {
    padding: 5px 10px;
    border-radius: 0;
    background-color: #ff6634;
    color: #fff !important;

    &:hover {
        background-color: #ff8c67;
        color: #fff !important;
    }
}