.theme-page-title_holder .wrapper-course-material {
    float: left;
    width: auto;
    position: relative;
    bottom: -23px;

    .course-tabs li a,
    .course-tabs li a:visited {
        font-size: 20px;
        line-height: 26px;
        color: #fff !important;
        font-family: bahij_thesansarabicplain;
        border: none !important;

        &:hover {
            border: none !important;
            color: #fff;
        }
        &:focus {
            border: none !important;
        }

        &.active {
            font-weight: bold;
            border: none !important;
        }
    }
}