.xmodule_display {
    &.xmodule_SequenceModule {
        .sequence-nav-button {
            border-radius: 0 !important;
            box-shadow: none;
            background: #e4e4e4;
            border: none;
        }
    }
}