@import "const";

*:not(.fa):not(.glyphicon):not([class*='sorting']):not([class*="icon-cc"]) {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

@media print and (color) {
    * {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }
}

@page {
    size: A4 landscape;
    margin: 0;
}

h1, h2, h3, h4, h5, h6,
.hd-1, .hd-2, .hd-3, .hd-4, .hd-5, .hd-6,
.accomplishment-rendering .accomplishment-statement-lead {
    margin: 0 0 1.25rem 0;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    color: #424141;
}

.hd-2 {
    margin-bottom: 1.25rem;
    font-size: 1.75rem;
    line-height: 1.4;
}

.hd-4 {
    margin-bottom: 0.625rem;
    font-weight: 600;
    font-size: 1.3125rem;
    line-height: 1.6;

    @media print {
        font-size: 1rem;
        line-height: 1.5;
    }
}

.hd-5 {
    margin-bottom: 0.625rem;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.6;
}

.hd-6,
.hd-7 {
    font-weight: 600;
    text-transform: uppercase;
}

.hd-1.emphasized,
.hd-2.emphasized,
.accomplishment-rendering .emphasized.accomplishment-statement-lead,
.hd-3.emphasized,
.hd-4.emphasized,
.hd-5.emphasized,
.hd-6.emphasized {
    color: #101010;
    font-weight: 600;
}

.copy {
    color: #646262;
}

a.action {
    &:hover,
    &:focus {
        background: transparent;
        color: #0075b4;
        border-color: transparent;
    }
}

// certificate header

.certificate-header {
    text-align: center;
    padding: 20px 0;
    margin-bottom: 15px;

    @media print {
        display: none;
    }
}

.certificate-header__logo {
    height: $certificate-logo-height;
    width: auto;
}

// certificate message block

.wrapper-banner-user {
    margin-top: 0;
    box-shadow: inset 0 0.125rem 0.125rem 0 #000;
    background: #272c2e;

    .message-title {
        color: #fff;
    }
}

// certificate body

.layout-accomplishment {
    height: auto;
    background: #fcfcfc;

    @media print {
        height: auto;
        margin: 1.4rem !important;
        padding: 0;
    }

    .wrapper-introduction .introduction {
        justify-content: center;
    }

    .accomplishment-main {
        background: rgba(79, 88, 92, 0.1) !important;

        @media print {
            background: none !important;
        }
    }

    .accomplishment-rendering {
        padding: 0;
        background: #fff !important;
        border-top: 152px solid #0075b4 !important;

        @media print {
            top: 0 !important;
            border: 0.0625rem solid #d3d1d1 !important;
            border-top: 120px solid #0075b4 !important;
            box-shadow: none;
        }

        .accomplishment-type {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            min-height: 152px;
            margin: 0;
            padding: 22px 16px 16px;
            text-align: left;
            background: transparent;
            margin-top: -152px;
            width: 100%;

            @media print {
                min-height: 120px;
                margin-top: -120px;
            }
        }

        .accomplishment-type-symbol {
            width: 70%;
            max-height: 80px;
            margin: 0 auto 0 0;

            @media print {
                border: none !important;
                height: auto;
            }

            .src {
                width: auto;
                max-width: 30%;
                margin: 0 1.3%;

                @media print {
                    max-width: 140px !important;
                    max-height: 60px;
                }
            }
        }

        .accomplishment-type-label {
            max-width: 30%;
            text-align: right;
        }

        .accomplishment-type-label-name {
            font-size: 38px;
            line-height: 44px;
            text-transform: uppercase;
            color: #fff;

            @media print {
                font-size: 26px;
                line-height: 32px;
            }
        }

        .accomplishment-type-label-date {
            font-size: 26px;
            line-height: 30px;
            font-style: italic;
            font-weight: normal;
            color: #fff;

            @media print {
                font-size: 20px;
                line-height: 24px;
            }
        }

        .wrapper-statement-and-signatories {
            padding: 80px 12px 20px;

            @media print {
                border-bottom: 0.125rem solid #e6ebed;
                padding: 40px 12px 10px;
            }
        }

        .accomplishment-statement {
            min-height: 430px;
            padding: 0 48px;
            color: #18365f;
            font-size: 25px;
            line-height: 30px;
            text-align: left;
            border: none;

            @media print {
                width: 100%;
                min-height: 240px;
                margin: 0;
                padding: 0 15px;
                font-size: 20px;
                line-height: 24px;
            }
        }

        .accomplishment-course-label {
            line-height: 31px;
            letter-spacing: 0.4px;
            margin-bottom: 19px;

            @media print {
                font-size: 20px;
                line-height: 24px;
            }
        }

        .accomplishment-statement-detail {
            font-size: 20px;
            line-height: 26px;
            letter-spacing: 0.26px;

            @media print {
                font-size: 16px;
                line-height: 20px;
                letter-spacing: 0;
            }
        }

        .accomplishment-signatories {
            padding: 0;
            color: #18365f;
            border: none;

            .wrapper-signatories {
                text-align: left;

                .signatory-name {
                    font-size: 1.125rem;
                    color: #18365f;
                    font-weight: bold;

                    @media print {
                        font-size: 0.75rem;
                    }
                }
            }

            .list-signatories {
                display: flex;
                flex-wrap: nowrap;
                align-items: flex-start;
                flex-direction: row-reverse;
            }

            .signatory {
                width: 33.33333%;
                text-align: center;
                padding: 0 28px;
                display: inline-block;
                vertical-align: middle;
            }

            .signatory-signature {
                @media print {
                    height: 1.25rem;
                    margin-top: 0;
                    padding-top: 0 !important;
                    padding-bottom: 0 !important;
                }
            }

            .signatory-credentials {
                font-size: 18px;
                line-height: 22px;
                padding-top: 8px;
                margin: 0;
                border-top: 1px solid #18365f;

                @media print {
                    font-size: 14px;
                    line-height: 18px;
                }
            }
        }

        .emphasized {
            &.hd-1 {
                font-size: 70px;
                line-height: 82px;
                letter-spacing: 1.4px;
                margin-bottom: 26px;
                color: #014289;
                margin-left: 0;

                @media print {
                    font-size: 32px;
                    line-height: 40px;
                    letter-spacing: 0;
                }
            }

            &.hd-2 {
                font-size: 44px;
                line-height: 52px;
                margin: 0 0 74px 0;
                letter-spacing: 0.5px;
                color: #014289;

                @media print {
                    margin-bottom: 20px;
                    font-size: 26px;
                    line-height: 30px;
                }
            }

            &.hd-1,
            &.hd-2 {
                &:before {
                    content: '';
                    display: inline-block !important;
                    width: 40px;
                    height: 69px;
                    margin-right: 18px;
                    vertical-align: middle;
                    background: url('../images/certificate-emphasized-icon.png') no-repeat 50% 50%;

                    @media print {
                        width: 24px;
                        height: 40px;
                        background-size: contain;

                        // show image for IE on print
                        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
                            background: none;
                            content: url('../images/certificate-emphasized-icon-print.png');
                        }

                        // show image for Edge on print
                        @supports (-ms-ime-align:auto) {
                            background: none;
                            content: url('../images/certificate-emphasized-icon-print.png');
                        }
                    }
                }
            }
        }
    }

    .wrapper-accomplishment-metadata {
        .accomplishment-metadata-title {
            border-bottom-color: #ced8dc;
            font-size: 0.875rem;
            line-height: 1.6;
        }

        .recipient-details {
            font-size: 1.3125rem;
        }

        .accomplishment-metadata {
            margin-bottom: 2.5rem;

            @media print {
                margin-bottom: 0;
            }

            .metadata .value {
                font-size: 1rem;
                line-height: 1.6;
                color: #424141;

                @media print {
                    display: inline-block;
                    vertical-align: baseline;
                    font-size: 0.75rem;
                    line-height: 1.5;
                }
            }

            .metadata .label {
                @media print {
                    margin-right: 0.625rem;
                    display: inline-block;
                    vertical-align: baseline;
                    font-size: 0.75rem;
                    line-height: 1.5;
                }
            }
        }
    }
}
