@import "const";
@import "blocks/fonts";
@import "blocks/links";
@import "blocks/buttons";
@import "blocks/form-elements";
@import "blocks/header";
@import "blocks/footer";
@import "blocks/courses-index-page";
@import "blocks/dashboard";
@import "blocks/about";
@import "blocks/course-main";
@import "blocks/wiki";
@import "blocks/discussion";
@import "blocks/instructor";
@import "blocks/sysadmin";
@import "blocks/login-register";
@import "blocks/fullscreen-button";
@import "blocks/progress";
@import "blocks/profile-account";
@import "blocks/slider";

html, body {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
	background: $body-bg !important;
	position: relative;
	line-height: 1.2;
}

.holder,
.wrapper-preview-menu .preview-menu {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
	width: 100%;
	box-sizing: border-box;
}

body.view-in-course .instructor-dashboard-wrapper-2,
body.view-in-course .wiki-wrapper {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 15px;
	width: 100%;
	box-sizing: border-box;
}

.content-wrapper {
	margin: 0 auto;
	padding: 0;
	background: #eeeeee;
}

.window-wrap,
.view-profile .window-wrap {
	background: none;
	position: relative;
	box-sizing: border-box;
	@media screen and (min-width: 1200px) {
		min-height: 100vh;
		padding-bottom: 250px;
	}
}

.courses-container .courses .course .course-info {
	background: #f29f5d;
}

body .breadcrumbs .nav-item:last-child {
	color: #f29f5d;
}

body .xmodule_display.xmodule_SequenceModule .sequence-nav button.active .icon.fa{
	color: #f29f5d;
}

.course-box {
	max-width: 1180px;
    margin: 0 auto;
    justify-content: space-between;
    display: flex;
	align-items: center;
	position: relative;
	min-height: 215px;
}

.course-box__name {
	font-size: 50px;
	line-height: 1.2;
	font-weight: bold;
	color: #f29f5d;
	font-family: 'Baloo-Regular';
	width: 60%;
	box-sizing: border-box;
	padding: 0 10px 0 0;
}

.course-box__img {
	width: 40%;
	height: 240px;
	background: url('../images/img.jpg') no-repeat 100% 0;
	background-size: contain;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}

.courses-container .courses .course .course-image .cover-image {
	background: url('../images/img.jpg');
	background-size: cover;
}