@import "const";
@import "blocks/links";
@import "blocks/buttons";
@import "blocks/form-elements";
@import "blocks/header";
@import "blocks/footer";
@import "blocks/courses-index-page";
@import "blocks/dashboard";
@import "blocks/about";
@import "blocks/course-main";
@import "blocks/wiki";
@import "blocks/discussion";
@import "blocks/instructor";
@import "blocks/sysadmin";
@import "blocks/login-register";
@import "blocks/fullscreen-button";
@import "blocks/progress";
@import "blocks/profile-account";
@import "blocks/slider";
@import "custom-blocks/promo-block";
@import "custom-blocks/title";
@import "custom-blocks/main-slider";
@import "custom-blocks/summary";

@font-face {
    font-family: 'DIN 2014';
    src: url('../fonts/DIN2014-Regular.woff2') format('woff2'),
		url('../fonts/DIN2014-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DIN 2014';
    src: url('../fonts/DIN2014-Bold.woff2') format('woff2'),
        url('../fonts/DIN2014-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

*:not(.fa) {
	font-family: 'DIN 2014';
}

html, body {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
	background: $body-bg !important;
	position: relative;
	line-height: 1.2;
	position: relative;
	overflow-x: hidden;
	&:before {
		content: '';
		position: absolute;
		top: -1210px;
		left: 50%;
		margin-left: -850px;
		width: 1700px;
		height: 1700px;
		background-image: linear-gradient(to right, #5cbec9 0%, #552988 100%);
		border-radius: 50%;
	}
}

.holder,
.wrapper-preview-menu .preview-menu {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
	width: 100%;
	box-sizing: border-box;
}

body.view-in-course .instructor-dashboard-wrapper-2,
body.view-in-course .wiki-wrapper {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 15px;
	width: 100%;
	box-sizing: border-box;
}

.content-wrapper {
	margin: 0 auto;
	padding: 0;
	background: none;
	max-width: none;
}

.window-wrap,
.view-profile .window-wrap {
	background: none;
	position: relative;
	box-sizing: border-box;
	@media screen and (min-width: 1200px) {
		min-height: 100vh;
		padding-bottom: 150px;
	}
}

