@import "const";
@import "blocks/links";
@import "blocks/buttons";
@import "blocks/form-elements";
@import "blocks/header";
@import "blocks/footer";
@import "blocks/courses-index-page";
@import "blocks/dashboard";
@import "blocks/about";
@import "blocks/course-main";
@import "blocks/wiki";
@import "blocks/discussion";
@import "blocks/instructor";
@import "blocks/sysadmin";
@import "blocks/login-register";
@import "blocks/fullscreen-button";
@import "blocks/progress";
@import "blocks/profile-account";
@import "blocks/slider";
@import "blocks/textblock";
@import "blocks/shopping-cart";
@import "blocks/onboarding";
@import "blocks/selection";
@import "blocks/dashboard-hera";

*:not(.fa):not(.glyphicon):not([class*='sorting']):not([class*="icon-cc"]) {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

*:focus {
	outline: none !important;
}

html, body {
	-webkit-font-smoothing: auto;
	-moz-osx-font-smoothing: auto;
}

body {
	background: $body-bg !important;
	position: relative;
	line-height: 1.2;

	.xmodule_display.xmodule_SequenceModule .sequence-nav {
		display: none;
		visibility: hidden;
	}

	.container>div {
		box-shadow: none;
		border: none;
	}

	.course-wrapper .xblock {
		max-width: 100% !important;
	}
}

#main {
	padding: 0;
}

.holder,
.wrapper-preview-menu .preview-menu {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
	width: 100%;
	box-sizing: border-box;
}

.wrapper-preview-menu .preview-menu {
	.preview-actions {
		max-width: 100%;

		.action-preview {
			max-width: 100%;

		}
	}
}

.holder {
	&.holder__full-width {
		display: block;
		width: 100%;
		max-width: initial;
	}
}

body.view-in-course .instructor-dashboard-wrapper-2,
body.view-in-course .wiki-wrapper {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 15px;
	width: 100%;
	box-sizing: border-box;
}

.content-wrapper {
	box-sizing: border-box;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0;
}

.window-wrap,
.view-profile .window-wrap {
	background: none;
	position: relative;
	box-sizing: border-box;
}

//sticky footer

#content {
	flex: 1 1 auto;
	width: 100%;
}

.window-wrap {
	flex: 1 1 auto;
	display: flex;
	flex-flow: column nowrap;
	min-height: 100vh;
	overflow-x: hidden;
}

.wrapper-preview-menu {
	display: none;
	visibility: hidden;
}

body {
	margin: 0;
}

// styles for IE10+
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	body {
		display: flex;
	}

	body,
	.window-wrap {
		flex: 1 1 auto;
		display: flex;
		flex-flow: column nowrap;
		min-height: 100vh;
	}

	.wrapper-footer {
		overflow: hidden;
	}
}

.index-wrapper {
	box-sizing: border-box;
	max-width: 1200px;
	margin: 0 auto;
	text-align: c;
}

.index-img {
	display: block;
	position: relative;
	margin: 0 0 48px;

	img {
		display: block;
		width: 100%;
	}
}

.js-show-hide-warning-message {
	font-size: 12px;
	margin-right: 8px;
}

.footer-controls-buttons-holder {
	margin: 15px 0 0;
}
