@import "overrides";
//import the original styles from edx-platform

@import "lms/static/sass/lms-main-v2";
// @import "../css/time-lms-main-v1.css";

@import "main";

.wrapper-course-material .course-tabs {
    padding: 0;
}
.wrapper-course-material .course-material, .wrapper-preview-menu .preview-menu {
    margin: 0 auto;
    max-width: 1180px;
    width: 100%;
}
body.view-in-course .course-wrapper, body.view-in-course .profile-wrapper, body.view-in-course .instructor-dashboard-wrapper-2, body.view-in-course .wiki-wrapper, body.view-in-course .teams-wrapper, body.view-in-course .static_tab_wrapper,
.course-view.container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0;
}
body .header-global .nav-global .item {
    padding: 5px 0;
    a {
        padding: 0;
    }
}
.doc-link {
    margin-top: 25px;
}
