@import "variables";

// Import the original styles from edx-platform.
@import "lms/static/sass/lms-main-v1-rtl";
@import "lms/static/sass/lms-main-v2-rtl";

@import "fonts";
@import "header-global-new";
@import "layout";
@import "footer";
@import "content-wrapper";
@import "dashboard";
@import "page-title";
@import "login-register";
@import "theme-button";
@import "search-bar";
@import "header-nav";
@import "wrapper-course-material";
@import "xmodule_display";
@import "wrapper-course-modes";
@import "course-index";
@import "course-info";
@import "course-about";
@import "icons";
@import "home";
@import "raccoon-block";
@import "student-profile";
@import "wiki";
@import "account-settings-sections";
@import "nav-main";
@import "instructor-dashboard-content-2";
@import "wrap-instructor-info";
@import "courses-container";
