// Our overrides for settings we want to change.
@import 'overrides';

// Costum css flane
@import 'globalnav';
@import 'flanebasis';

// Import the original styles from edx-platform.
@import 'lms/static/sass/lms-main-v1';
@import 'lms/static/sass/base/base';

