@import "utils/_utils";

//import the original styles from edx-platform
@import "lms/static/sass/lms-main-v1";

//our overrides for settings we want to change
@import "base/_base";
@import "common/_common";
@import "base/_override-rtl";
@import "common/components/buttons/scout-btn";