$component-border-radius: 0;
$btn-neutral-border-color: #149a9a;
$btn-neutral-background: transparent;
$btn-neutral-color: #149a9a;
$link-color: #149a9a;
$link-focus-color: lighten($link-color, 10%);;
$link-visited-color: darken($link-color, 10%);

$btn-neutral-focus-background: #149a9a;
$btn-neutral-focus-color: #fff;

$font-family-sans-serif: bahij_thesansarabicplain;
$btn-font-weight: normal;

%success-message-colors {
  background: $link-color !important;
  border: 1px solid $link-color !important;
  color: #fff !important;
}

// Import the original styles from edx-platform.
@import "lms/static/sass/lms-main-v1";
@import "lms/static/sass/lms-main-v2";

$link-color: #149a9a;
$link-focus-color: lighten($link-color, 10%);
$link-visited-color: darken($link-color, 10%);

a { color: $link-color; }
a:visited { color: $link-visited-color; }
a:hover, a:focus { color: $link-focus-color; }

@import "fonts";
@import "header-global-new";
@import "layout";
@import "footer";
@import "content-wrapper";
@import "dashboard";
@import "page-title";
@import "login-register";
@import "theme-button";
@import "search-bar";
@import "header-nav";
@import "wrapper-course-material";
@import "xmodule_display";
@import "wrapper-course-modes";
@import "course-index";
@import "course-info";
@import "icons";
@import "home";
@import "raccoon-block";
@import "student-profile";
@import "wiki";
