@import "overrides";
//import the original styles from edx-platform
@import "lms/static/sass/lms-main-v2";
// @import "../css/time-lms-main-v1.css";

@import "main";

.treeview-handoutsnav {
  margin-left: 20px;
}
