// Import the original styles from edx-platform.
@import "lms/static/sass/lms-main-v1";
@import "carousel/carousel";
@import "heading-course-title/heading-course-title";
@import "learning-list/learning-list";
@import "content-box/content-box";
@import "promo-box/promo-box";
@import "gamburger/gamburger";
@import "nav-box/nav-box";
@import "ugc/ugc";
@import "open-box/open-box";
@import "default";
