//import the original styles from edx-platform
@import "lms/static/sass/lms-main-v1";

//our overrides for settings we want to change
$img-path: "../images/" !default;
@import "main";
@import "theme-btn/theme-btn";
@import "desk-btn-links/buttons-links";