$customfont: 'NeoSans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-sans-serif: $customfont;
$body-font-family: $customfont;
$sans-serif: $customfont;
$f-sans-serif: $customfont;
$font-family-serif: $customfont;


@import "lms/static/sass/lms-main-v1";
//@import "../css/time-lms-main-v1.css";

@import "main";
