// Our overrides for settings we want to change.
@import 'overrides';

// Costum css flane
@import 'globalnav';
@import 'flanebasis';
@import 'bootstrap';

// Import the original styles from edx-platform.
@import 'lms/static/sass/lms-learner-dashboard';