//import the original styles from edx-platform
@import "lms/static/sass/lms-main-v1";
// @import "../css/time-lms-main-v1.css";

@import "main";

.dashboard .my-courses .course .details .wrapper-course-image .cover,
.dashboard .my-courses .course .details .wrapper-course-image a.fade-cover{
  box-sizing: border-box;
  transition: all 0.15s linear 0s;
  float: left;
  overflow: hidden;
  position: relative;
  border-radius: 4px;
  border: 1px solid #ddd;
  border-bottom: 4px solid #ddd;
}