//import the original styles from edx-platform
@import "lms/static/sass/lms-learner-dashboard";


header.header-global .wrapper-header .list-inline.nav-global,
.header-global .wrapper-header .list-inline.nav-global {
  margin-top: 40px;
}

.header-global .wrapper-header .list-inline .item {
  text-transform: none;
}

.header-global .wrapper-header .logo {
  margin-top: 0;
  margin-left: 0;
}
