/* ========================================================

  LMS style for Code Academy Theme

======================================================== */

// import variables
@import 'variables';


// import extras
@import 'utils';


// import LMS base
@import 'lms/static/sass/lms-main-v1';


// import modules
@import 'base';
@import 'buttons';

@import 'header';
@import 'home';
@import 'login-register';
@import 'dashboard';
@import 'course-info';
// @import 'course-content';
@import 'forum';
@import 'footer';
@import 'tutor-page';
@import 'shame';

@import '../node_modules/mdbootstrap/sass/mdb';
