.theme-nav {
    display: flex;
    align-items: center;
    padding-left: 10px;

    &_item {
        padding-right: 30px;
    }
}
a.theme-nav_link {
    font-size: 15px;
    color: #424141;

    &:hover {
        color: #424141;
    }
}