.title {
    position: relative;
    margin-bottom: 40px;
    position: relative;

    &__bg {
        background: #5cbec9;
        width: 100%;
        height: 100%;
        position: absolute;
        overflow: hidden;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.45);

        &:before {
            content: "";
            width: 1139px;
            height: 100%;
            position: absolute;
            top: 0;
        }
    }

    &.title-right {
        .title__bg {
            left: 50%;
            top: 0;
            margin-left: -200px;
            border-radius: 0 0 0 90px;

            &:before {
                left: 0;
                background-image: linear-gradient(to left, #5cbec9 0%, #552988 100%), linear-gradient(to right, #000000 0%, #ffffff 100%);
            }
        }

        h2 {
            padding: 26px 30px 26px 500px;
        }
    }

    &.title-left {
        .title__bg {
            right: 50%;
            top: 0;
            margin-right: -200px;
            border-radius: 0 0 90px 0;

            &:before {
                right: 0;
                background-image: linear-gradient(to right, #5cbec9 0%, #552988 100%), linear-gradient(to right, #000000 0%, #ffffff 100%);
            }
        }

        h2 {
            padding: 26px 500px 26px 30px;
        }
    }

    .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 15px;
        box-sizing: border-box;
        position: relative;
    }
    
    h2 {
        color: #fff;
        position: relative;
        z-index: 100;
        margin: 0;
    }
}
