// lms - base
// ====================

// html {
//   overflow-y: scroll;
// }


h1, h2, h3, h4, h5, h6 {
  font: normal 1.2em/1.2em 'Rubik', Arial, sans-serif !default;
}

h1 {
  font: normal 2em/1.4em 'Rubik', Arial, sans-serif !default;
  text-align: left !default;
}

h2 {
  font: normal 1.2em/1.2em 'Rubik', Arial, sans-serif !default;
}
