.course-list-holder {
    .course-list-heading {
        color: $course-link-color;
        font-weight: bold;
        font-family: inherit;
        font-size: 22px;
        margin: 40px 0 12px;
        text-align: left;
        text-transform: none;
    }

    .course-list-heading-description {
        text-align: left;
        margin: 0 0 12px;
        line-height: 1.5;
    }

    .course-list-heading,
    .course-list-heading-description {
        padding: 0 15px;
    }

    .highlighted-courses .courses,
    .find-courses .courses {
        padding-top: 22px;
    }
}

.category-listing-holder {
    max-width: 1180px;
    margin: 0 auto;
}

.category-listing {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 46px -15px 0;

    @media screen and (max-width: 1199px) {
        margin: 46px 0 0;
    }

    @media screen and (max-width: 719px) {
        justify-content: center;
    }

    .category-listing-item {
        display: block;
        width: 22%;
        max-width: 275px;
        min-height: 405px;
        margin: 0 0 30px;
        padding: 0 15px;
        list-style-type: none;

        @media screen and (max-width: 999px){
            width: 28%;
            max-width: initial;
        }

        @media screen and (max-width: 719px){
            width: 42%;
        }

        @media screen and (max-width: 499px){
            width: 100%;
            min-height: initial;
        }
    }
}

.category {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    transition: all 0.125s linear 0s;
    position: relative;
    padding: 0 0 32px;
    box-shadow: 0 1px 10px 0 rgba(0,0,0,0.125), inset 0 0 0 1px rgba(255,255,255,0.75);
    background: $course-bg;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid $color-category-border;

    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background: rgba(0, 0, 0, .2);
        border-top: 2px solid $color-category-border;
        left: 0;
        bottom: 2px;
    }

    &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background: rgba(0, 0, 0, .2);
        border-top: 2px solid $color-category-border;
        left: 0;
        bottom: 8px;
    }

    .category-image {
        display: block;
        margin: 0 0 20px;
        border-bottom: 2px solid $color-category-border;

        img {
            display: block;
            width: 100%;
        }
    }

    .category-info {
        height: 100%;

        .category-title {
            color: $color-category-text;
            font-size: 18px;
            font-family: inherit;
            font-weight: 700;
            margin: 0 0 12px;
            text-transform: none;
        }

        .category-description {
            color: $color-category-text;
            font-size: 13px;
            line-height: 1.7;
            margin: 0 0 28px;
        }
    }

    .category-info-body,
    .category-info-footer {
        padding: 0 15px;
    }

    .category-details-btn {
        box-sizing: border-box;
        border-radius: 4px;
        display: inline-block;
        border: 2px solid $color-category-border;
        background: $color-category-border;
        padding: 8px 14px;
        color: $color-category-btn;
        text-align: center;
        font-weight: 600;
        font-size: 14px;
        transition: all .3s ease-in-out;

        &:hover,
        &:focus,
        &:visited:hover,
        &:visited:focus {
            background: transparent;
            color: $color-category-border;
        }
    }
}
