@font-face {
  font-family: 'Gilroy-Regular';src: url('../fonts/33F6D7_6_0.eot');
  src: url('../fonts/33F6D7_6_0.eot?#iefix') format('embedded-opentype'),
        url('../fonts/33F6D7_6_0.woff2') format('woff2'),
        url('../fonts/33F6D7_6_0.woff') format('woff'),
        url('../fonts/33F6D7_6_0.ttf') format('truetype');
}