@font-face {
    font-family: 'DinAlternate';
    src: url('../fonts/DINAlternate-Regular.woff2') format('woff2'),
        url('../fonts/DINAlternate-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Harmattan';
    src: url('../fonts/Harmattan-Regular.woff2') format('woff2'),
        url('../fonts/Harmattan-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}