@font-face {
    font-family: 'Neo Sans Std';
    src: url('../fonts/NeoSansStd-Regular.woff2') format('woff2'),
        url('../fonts/NeoSansStd-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NeoSans';
    src: url('../fonts/NeoSans-Black.woff2') format('woff2'),
        url('../fonts/NeoSans-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'NeoSans';
    src: url('../fonts/NeoSans-Light.woff2') format('woff2'),
        url('../fonts/NeoSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'NeoSans';
    src: url('../fonts/NeoSans-LightItalic.woff2') format('woff2'),
        url('../fonts/NeoSans-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Neo Sans Std';
    src: url('../fonts/NeoSansStd-Light.woff2') format('woff2'),
        url('../fonts/NeoSansStd-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'NeoSans';
    src: url('#{$font-path}/NeoSans.woff2') format('woff2'),
        url('#{$font-path}/fonts/NeoSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NeoSans';
    src: url('#{$font-path}//NeoSans-Medium.woff2') format('woff2'),
        url('#{$font-path}/NeoSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'NeoSans';
    src: url('#{$font-path}/NeoSans-Italic.woff2') format('woff2'),
        url('#{$font-path}/NeoSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'NeoSans';
    src: url('#{$font-path}/NeoSans-Bold.woff2') format('woff2'),
        url('#{$font-path}/NeoSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'NeoSans';
    src: url('#{$font-path}/NeoSans-BoldItalic.woff2') format('woff2'),
        url('#{$font-path}/NeoSans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'NeoSans';
    src: url('#{$font-path}/NeoSans-MediumItalic.woff2') format('woff2'),
        url('#{$font-path}/NeoSans-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'NeoSans';
    src: url('#{$font-path}/NeoSans-BlackItalic.woff2') format('woff2'),
        url('#{$font-path}/NeoSans-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}