@font-face {
    font-family: 'phenomenablack';
    src: url('#{$font-path}/phenomena-black.woff2') format('woff2'),
         url('#{$font-path}/phenomena-black.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'phenomenaextrabold';
    src: url('#{$font-path}/phenomena-extrabold.woff2') format('woff2'),
         url('#{$font-path}/phenomena-extrabold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'phenomenaregular';
    src: url('#{$font-path}/phenomena-regular.woff2') format('woff2'),
         url('#{$font-path}/phenomena-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: 'FontAwesome';
  src: url('#{$font-path}/fontawesome-webfont.woff2') format('woff2'),
  url('#{$font-path}/fontawesome-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
