@font-face {
    font-family: 'NotoSans';
    src: url('#{$font-path}/NotoSans-Light.woff2') format('woff2'),
    url('#{$font-path}/NotoSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NotoSans';
    src: url('#{$font-path}/NotoSans-LightItalic.woff2') format('woff2'),
    url('#{$font-path}/NotoSans-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'NotoSans';
    src: url('#{$font-path}/NotoSans-Regular.woff2') format('woff2'),
    url('#{$font-path}/NotoSans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NotoSans';
    src: url('#{$font-path}/NotoSans-Italic.woff2') format('woff2'),
    url('#{$font-path}/NotoSans-Italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'NotoSans';
    src: url('#{$font-path}/NotoSans-Medium.woff2') format('woff2'),
    url('#{$font-path}/NotoSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NotoSans';
    src: url('#{$font-path}/NotoSans-MediumItalic.woff2') format('woff2'),
    url('#{$font-path}/NotoSans-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'NotoSans';
    src: url('#{$font-path}/NotoSans-Bold.woff2') format('woff2'),
    url('#{$font-path}/NotoSans-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NotoSans';
    src: url('#{$font-path}/NotoSans-BoldItalic.woff2') format('woff2'),
    url('#{$font-path}/NotoSans-BoldItalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}
