@font-face {
    font-family: 'Scania';
    src: url('../fonts/ScaniaOfficeHeadline-Bold.woff2') format('woff2'),
        url('../fonts/ScaniaOfficeHeadline-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}