@font-face {
  font-family: 'SegoeUI';
  src:
          url('#{$static-path}/edx-pattern-library/fonts/SegoeUI/SegoeUI.woff2') format('woff2'),
          url('#{$static-path}/edx-pattern-library/fonts/SegoeUI/SegoeUI.woff') format('woff'),
          url('#{$static-path}/edx-pattern-library/fonts/SegoeUI/SegoeUI.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SegoeUI';
  src:
          url('#{$static-path}/edx-pattern-library/fonts/SegoeUI-Bold/SegoeUI-Bold.woff2') format('woff2'),
          url('#{$static-path}/edx-pattern-library/fonts/SegoeUI-Bold/SegoeUI-Bold.woff') format('woff'),
          url('#{$static-path}/edx-pattern-library/fonts/SegoeUI-Bold/SegoeUI-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
