body,html {
    background: #e6e6e6;
    -webkit-font-smoothing: auto;
}
body.view-in-course .wrapper-footer {
    margin: 0 !important;
    padding: 0 0 30px !important;
}
.racoon-link {
    white-space: nowrap;
    color: #7f848c !important;
    font-size: 12px !important;

    &:hover {
        text-decoration: none;
        border: none;
    }

    img {
        width: 33px;
    }
}
div.content-wrapper .login-register .login-provider .icon {
    left: -1px;
    top: -1px;
    width: 35px;
    height: 35px;
    bottom: 0;
    background: #622599;
    line-height: 0;
}
div.content-wrapper .login-register .login-provider .icon .icon-image{
    max-width: 30px;
    max-height: 30px;
    margin: 3px 0 0 0;
}
div.content-wrapper .login-register .login-provider {
    text-align: center;
    color: #622599;
    &:hover,
    &:active,
    &:focus {
        color: #fff;
        background: #622599;
        border-color: #622599;
        box-shadow: none;
    }
}
body .inner-wrapper .about p {
    color: #222;
}