.heading-holder {
    text-align: center;
    margin: 0 auto 34px;
    max-width: 1200px;
    padding: 28px 0 0;

    &:first-child {
        padding-top: 54px;
    }

    @media screen and (max-width: $build-header-menu-tablet) {
        box-sizing: border-box;
        padding: 28px 15px 0;
    }
}

.heading-holder__name {
    font: 24px/1.3 $global-font-family-bold;
    color: #1f1f1f;
    margin: 0 0 8px;
    text-transform: uppercase;
}

.heading-holder__text {
    font: 17px/26px $global-font-family;
    color: #474747;
    margin: 0;
}

.course-box__description {
    max-width: 850px;
    text-align: center;
    margin: 30px auto;
    font-family: $global-font-family;

    &:empty {
        display: none;
    }

    p + p {
        margin-top: 10px;
    }
}

.course-box {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: border-box;

    .highlighted-courses {
        margin-bottom: 0;
    }
}

.course-box__heading {
    font-size: 30px;
    line-height: normal;
    color: #000;
    margin: 40px 0;
    text-align: center;
    text-transform: none;
    position: relative;

    &:after {
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        border: solid #666;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        transform: rotate(45deg) translateX(-50%);
        transition: all .15s linear;
        opacity: 0;
        pointer-events: none;
    }

    &:hover {
        cursor: pointer;

        &:not(.open):after {
            top: calc(100% + 10px);
            opacity: .8;
        }
    }

    &.open {
        &:after {
            top: calc(100% + 10px);
            transform: rotate(-135deg) translate(-50%, -50%);
        }

        &:hover:after {
            opacity: .8;
        }
    }

}

.course-box-info {
    font-size: 18px;
    text-align: center;
    line-height: 1.3;
    color: #414141;
    margin: 0 auto 10px;
    max-width: 1090px;
}

.main-page-text {
    max-width: 1090px;
    margin: 40px auto;
    padding: 0 15px;
    font-size: 18px;
    line-height: 1.3;
    text-align: center;
}

.course-box__content {
    display: none;
}

.course-box__img {
    max-width: 100%;
    height: auto;
    margin: 0 auto 30px;
    display: block;
}

.course-box__link {
    display: inline-block;
    padding: 10px 30px;
    border: 2px solid $base-color;
    text-transform: uppercase;
    font-weight: bold;

    &:hover {
        color: $base-color2 !important;
    }
}

.course-box__link-holder {
    text-align: center;
    margin-bottom: 30px;
}

.promobox {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 40px 0 0;
    font-family: $global-font-family;
}

.promobox__image {
    display: block;
    max-width: 100%;
    margin: 30px 0 20px;
}

.promobox__list-item {
    padding-bottom: 10px;
}

.promobox {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 40px 15px 0;
    box-sizing: border-box;
    font-family: $global-font-family;
    line-height: 1.2;
}

.promobox__image {
    display: block;
    max-width: 100%;
    margin: 30px 0 20px;
}

.promobox__list-item {
    padding-bottom: 10px;
}
