.theme-footer {
    border-bottom: 5px #ff6a13 solid;
}

//не стандартное расположение лого в футере
.logo-footer__theme {
    position: absolute;
    top: -50px;
    left: 50%;
    margin: 0 0 0 -50px;
}

.theme-footer_wrapper {
    position: relative;
    padding-top: 65px;
}

//скрываем и показываем ссылки для языковых версий
.link-logo-ar,
.logo-ar {
    display: none;

    .lang_ar & {
        display: inline;
    }
}

.logo-en,.logo-ar {
    width: 250px;
}

.link-logo-en,
.logo-en {
    display: inline;

    .lang_ar & {
        display: none;
    }
}

.logo-footer__theme {
    img {
        height: 100px;
        width: auto;
    }
}

// добавленны ссылки для перехода на разные языки
.language-nav {
    width: 100%;
    justify-content: center;
    display: flex;
    order: 2;
    @media screen and (max-width: 760px) {
        order: 1;
        margin-bottom: 10px;
    }
    @media screen and (min-width: 760px) {
        width: auto;
        margin-left: 10px;

        .rtl & {
            float: left;
            margin-right: 10px;
        }
    }

    &_item {
        margin: 0 3px;
        @media screen and (min-width: 760px) {
            margin: 0 0 0 5px;
        }
    }
    &_link {
        font-size: 12px;
        color: #5e5e5e !important;
        font-weight: bold;

        &__active,
        &:hover {
            color: $header-nav-link-color-hover !important;
        }
    }
}

.content-wrapper {
    padding-bottom: 80px;
    background: #eee;
}

body.lang_ar * {
    letter-spacing: 0 !important;
}

.doc-link {
    margin: 0;
    margin-right: 15px;
    color: $header-nav-link-color;
}

//на странице прогресса выключаем график
.grade-detail-graph {
    display: none;
}

//убраем, показываем ссылки на английскую и ртл версию
.lang_ar .btn-en,
.lang_en .btn-ar {
    display: none !important;
}

.header-list {
    flex-direction: column;
}

//в футер добавлен специальный шрифт
.footer-list_link {
    font-family: 'DinAlternate';
}

//на странице логина скрыта кнопка логина
.header-global__login .login-btns-list_item .theme-btn{
    display: none;
}

/*----------*/
$base-color: #87189d; //purple
$secondary-color: #fc6a15; //orange
$btn-bg-hover: #fdaa7a; //orange light

%theme-btn {
    color: #ffe;
    text-shadow: none;
    background: $secondary-color;
    border: none;
    box-shadow: none;
    &:hover,
    &:focus,
    &:active {
        &:not(:disabled) {
            box-shadow: none;
            background: $btn-bg-hover;
        }
    }
}

input[type="submit"],
input[type="button"],
button,
.button {
    @extend %theme-btn;
}

.doc-link {
    color: $base-color;
    &:visited {
      color: $base-color;
    }
}

.header-global {
    .primary {
        &>a {
            color: $base-color;
        }
    }
    .user {
        .user-dropdown {
            color: $base-color;
        }
    }
}

/*-----Sign in-----*/
.login-register {
    .action-primary {
        @extend %theme-btn;
    }
}

.login-register-content {
    h2 {
        color: $base-color;
    }
}

.login-register {
    .form-field {
        .field-link {
            color: $base-color;
        }
    }
    .login-provider {
        &:hover {
            color: #fff;
            background: #126f9a;
        }
        &:active {
            box-shadow: none;
            background: #126f9a;
        }
        &:focus {
            background: #126f9a;
        }
        &.button-oa2-google-oauth2 {
            &:active {
                color: #fff;
                background-color: #D73924;
                border: 1px solid #A5382B;
            }
        }
    }
}

.login-register .login-provider.button-oa2-google-oauth2:focus

/*-----Dashboard-----*/
.dashboard {
    .my-courses {
        .course {
            .details {
                .enter-course {
                    background-color: $action-primary-fg;
                    color: $action-primary-bg;
                }
            }
        }
    }
}

.courses-container {
    .courses {
        .course {
            .course-image {
                .cover-image {
                    &:before {
                        background: $base-color;
                    }
                    .learn-more {
                        color: #fff;
                        line-height: 45px;
                        background: none;
                        border: 3px solid #fff;
                    }
                }
            }
        }
    }
}

.find-courses {
    background: none;
    .discovery-submit {
        border-color: $base-color;
        background: $base-color;
        &:hover,
        &:focus {
            background: rgba($base-color, 0.8);
        }
    }
}

.course-info {
    header {
        &.course-profile {
            .intro-inner-wrapper {
                .intro {
                    .main-cta {
                        strong {
                           @extend %theme-btn;
                        }
                        a {
                            &.find-courses,
                            &.register,
                            &.add-to-cart {
                                @extend %theme-btn;
                            }
                        }
                    }
                }
            }
        }
    }
}

.search-bar {
    .search-button,
    .cancel-button,
    .search-button:hover,
    .cancel-button:hover {
        background: $base-color;
        &:hover,
        &:focus,
        &:active {
            background: $base-color;
        }
    }
}

.wrapper-course-material {
    .course-tabs {
        li {
            a,
            a:visited {
                &:hover,
                &:focus,
                &.active {
                    color: $base-color;
                    border-bottom-color: $base-color;
                }
            }
        }
    }
}

.instructor-dashboard-wrapper-2 {
    section {
        &.idash-section {
            &#membership {
                .member-lists-management {
                    .auth-list-container {
                        .member-list-widget {
                            input[type="button"].add {
                                @extend %theme-btn;
                                &:active,
                                &:focus {
                                    &:not(:disabled) {
                                        border: none;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            &#cohort_management {
                .cohort-management {
                    .message {
                        .action-create{
                            @extend %theme-btn;
                        }
                    }
                    .form-submit {
                        @extend %theme-btn;
                    }
                }
            }
            &#discussions_management {
                .form-submit {
                    @extend %theme-btn;
                }
            }
        }
    }
}

.instructor-dashboard-content-2 {
    input[type="button"] {
        @extend %theme-btn;
        &:hover {
            &:not(:disabled) {
                box-shadow: none;
                background: $btn-bg-hover;
            }
        }
        &:active,
        &:focus {
            &:not(:disabled) {
                box-shadow: none;
                border: none;
            }
        }
    }
}

/*-----Course Lesson-----*/

.xmodule_display {
    &.xmodule_SequenceModule {
        .sequence-nav-button {
            color: #333;
            border: 1px solid #d2c9c9;
        }
    }
}

/*-----Wiki-----*/
.wiki-wrapper {
    section {
        &.wiki {
            .nav-tabs {
                li {
                    &.active {
                        a {
                            color: $base-color;
                            border-color: $base-color;
                        }
                    }
                }
                a {
                    &:hover,
                    &:focus {
                        color: $base-color;
                    }
                }
            }
            .btn {
                @extend %theme-btn;
                &:hover {
                    color: #fff;
                }
                &.btn-primary {
                    @extend %theme-btn;
                    &:hover {
                        &:not(:disabled) {
                            background: $secondary-color;
                            box-shadow: none;
                        }
                    }
                }
            }
            .article-functions {
                .see-children {
                    a {
                        &:hover {
                            color: $base-color;
                        }
                    }
                }
            }
        }
    }
}

/*-----Account Settings-----*/
.account-settings-sections {
    .section {
        .account-settings-section-body {
            .u-field {
                .field {
                    .u-field-link {
                        color: $secondary-color;
                        border: 1px solid $secondary-color;
                        &:hover {
                            background: $btn-bg-hover;
                        }
                    }
                    select {
                        ~ .icon-caret-down {
                            &:after {
                                border-top-color: $base-color;
                            }
                        }
                    }
                }
            }
        }
    }
}
