.window-wrap {
    overflow: hidden;
}
.wrapper-footer {
    box-shadow: none;
    border-top: none;
    padding: 0;
}
.wrapper-footer footer#footer-openedx {
    box-sizing: border-box;
    max-width: 1200px;
    padding: 20px;
    overflow: hidden;
    position: relative;

    &:after {
        content: '';
        position: absolute;
        height: 3px;
        width: 100%;
        top: 0;
        left: 0;
        background: $gradient;
    }
    @media (min-width: 1200px) {
        padding: 20px 0;
    }
}
.wrapper-footer footer#footer-openedx .colophon .nav-colophon li a {
    font-size: 14px;
    color: #57C4BD;

    &:hover {
        color: #57C4BD;
        border: none;
    }
}
.wrapper-footer footer#footer-openedx .copyright {
    color: #000;
    font-size: 10px;
    text-align: center;
    @media (min-width: $mobile-size) {
        text-align: left;
        font-size: 14px;
    }
}
.wrapper-footer footer#footer-openedx .colophon .nav-colophon {
    margin-bottom: 16px;
}
.wrapper-footer footer#footer-openedx .footer-about-openedx a {
    color: #57C4BD;
    font-size: 24px;
    line-height: 1;
}
.wrapper-footer footer#footer-openedx .footer-about-openedx:last-child {
    margin-top: 22px;
    display: none;

    @media (min-width: $tablet-size) {
        display: block;
    }
}
.wrapper-footer footer#footer-openedx .colophon .nav-colophon li.desktop {
    display: none;
    @media (min-width: $tablet-size) {
        display: block;
    }
}
.wrapper-footer footer#footer-openedx .colophon {
    width: 100%;
    @media (min-width: $tablet-size) {
        width: 65.88078%;
    }
}
.wrapper-footer footer#footer-openedx ol {
    display: flex;
    justify-content: center;

    @media (min-width: $mobile-size) {
        justify-content: flex-start;
    }
}
hr {
    max-width: 1200px;
    height: 3px;
    margin: 0 auto;
    background: $gradient2;
    margin-bottom: 90px;
    border-top: none;
}
.login-register-content .login-register {
    padding-bottom: 50px;
    .form-wrapper {
        background: #fff;
        z-index: 1;
        position: relative;
        min-width: 480px;
        padding: 40px;
        box-shadow: 0 0 20px 2px rgba(0,0,0,0.2);
        border-radius: 6px;
    }
    #login-form.form-wrapper {
        padding: 40px 40px 153px;
    }
    #register-form.form-wrapper {
        padding: 153px 40px 40px;
        .login-providers {
            text-align: center;
            position: absolute;
            width: 100%;
            left: 0;
            top: 20px;
        }
        h2 {
            display: none;
        }
    }
    h2 {
        text-align: center;
        text-transform: uppercase;
        margin: 0 0 20px;
    }
    .tip.tip-input {
        display: none;
    }
    .form-field input {
        background: #F5F5F5;
        height: 40px;
        width: 100%;
        border-radius: 4px;
        border: 0;
        padding-left: 30px;
    }
    .input-block.checkbox {
        width: auto;
    }
    .label-text {
        display: none;
    }
    .forgot-password.field-link {
        position: absolute;
        bottom: -90px;
    }
    .action.action-primary.action-update {
        float: right;
        background: #57C4BD;
        color: #fff;
        box-shadow: 0 0 6px 2px rgba(0,0,0,0.1);
        border-radius: 4px;
        padding: 12px 35px 11px 35px;
        font-size: 14px;
    }
    //.login-provider {
    //    width: 50%;
    //    border: 0;
    //    border-radius: 0;
    //}
    //.login-provider.button-oa2-vk-oauth2 {
    //    background: #126f9a;
    //    color: #fff;
    //    &:hover {
    //        background: lighten(#126f9a, 20%);
    //    }
    //    .icon {
    //        background: none;
    //        top: 0;
    //        bottom: 0;
    //        &:before {
    //            content: '\f189';
    //            color: #fff;
    //        }
    //    }
    //}
    //.login-provider.button-oa2-facebook {
    //    background: #3B5998;
    //    color: #fff;
    //    &:hover {
    //        background: lighten(#3B5998, 20%);
    //    }
    //    .icon {
    //        background: none;
    //        top: 0;
    //        bottom: 0;
    //        &:before {
    //            content: '\f09a';
    //            color: #fff;
    //        }
    //    }
    //}

    .form-field {
        position: relative;
        &:before {
            font-family: FontAwesome;
            position: absolute;
            top: 50%;
            left: 8px;
            transform: translate(0,-63%);
            color: #B3B3B3;
        }
        &.email-email:before {
            content: '\f0e0';
        }
        &.password-password:before {
            content: '\f023';
        }
        &.checkbox-remember {
            .label-text {
                display: inline;
            }
        }
        &.text-name:before,
        &.text-username:before {
            content: '\f007';
        }
    }
    .form-field label.error ~ input {
        border: 1px solid #D0021B;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
    }
    .toggle-form {
        position: absolute;
        bottom: -40px;
        left: 0;
        width: 100%;
        text-align: center;
    }
    .form-field .field-link {
        color: #57C4BD;
    }
    .form-field.checkbox-honor_code {
        display: flex;
        flex-direction: row-reverse;
    }
}
.login-register-content {
    padding-bottom: 10px;
}
.login-providers {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 20px;
    .button {
        margin: 0;
    }
}

.courses-listing {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .courses-listing-item {
        width: 100%;
        max-width: 277px;
        margin-bottom: 50px;
    }
}
.courses-container .courses {
    padding: 0;
}
.courses-container .courses .course .course-image .cover-image {
    height: 154px;
    position: relative;

    &:after {
        content: '';
        height: 3px;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        background: $gradient2;
    }
}
.courses-container .courses .course .course-info .course-date {
    display: none;
}
.courses-container .courses .course .course-info {
    height: auto;
    background: #DAF8F6;
    padding: 16px;
}
.courses-container .courses .course {
    border-bottom: none;
    box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    overflow: hidden;
    margin-bottom: 0;
    height: 100%;
}
.highlighted-courses .courses .course a {
    height: 100%;
    background: #DAF8F6;
}
.course-info__list {
    margin: 0;
    padding: 0 0 0 16px;
    list-style: none;
}
.course-info__list-item {
    font-size: 14px;
    line-height: 23px;
    position: relative;
    font-style: italic;
    color: #000;
    margin-bottom: 8px;

    &:after {
        content: '';
        width: 8px;
        height: 8px;
        position: absolute;
        left: -16px;
        top: 6px;
        background: #000;
        border-radius: 50%;
    }
}
.courses-container .courses .course .course-info h2 {
    font-weight: bold;
    font-size: 20px;
    line-height: 1.3;
    margin-bottom: 8px;
    color: #57C4BD;
}
.course-info__school {
    font-size: 16px;
    color: #57C4BD;
    display: block;
    margin-bottom: 16px;
}
.courses-container .courses .courses-listing .courses-listing-item {
    max-height: none;
    margin-bottom: 50px;
}
.course-info header.course-profile {
    box-shadow: none;
    border: none;
    background: $gradient3;
}
.course-info header.course-profile .intro-inner-wrapper {
    box-shadow: none;
    background: none;
    border: none;
}
.course-info header.course-profile .intro-inner-wrapper .intro>.heading-group {
    border-bottom: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
}
.course-info header.course-profile .intro-inner-wrapper .intro>.heading-group h1 {
    text-shadow: none;
    color: #fff;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    margin-bottom: 4px;
    width: 100%;
}
.intro__school {
    font-size: 20px;
    color: #fff;
    display: block;
    margin-bottom: 50px;
}
.intro__text {
    color: #fff;
    font-size: 18px;
    line-height: 27px;
    font-style: italic;
    font-family: "Open Sans",Verdana,Geneva,sans-serif,sans-serif;
    margin-bottom: 16px;
}
.course-info header.course-profile .intro-inner-wrapper .media .hero {
    border: none;
}
.user {
    display: flex;

    .user-link {
        display: flex;
        align-items: center;
        color: #000;
        font-size: 14px;

        &:hover {
            color: #000;
        }
    }
    .user-image-frame {
        width: 36px;
        height: 36px;
        overflow: hidden;
        border-radius: 50%;
        margin-right: 6px;
    }
    .primary {
        position: relative;
    }
    .user-dropdown-menu {
        position: absolute;
        right: 0;
        top: 110%;
        background: #fff;
        border-radius: 6px;
        padding: 12px;
        display: none;

        &.expanded {
            display: block;
        }
    }
    .user-dropdown {
        border: none;
        background: none;
        box-shadow: none;
        text-shadow: none;
        color: #57C4BD;
        padding: 0 8px;
        
        &:focus,
        &:hover {
            border: none;
            background: none;
            box-shadow: none;
            text-shadow: none;
        }
    }
    .dropdown-item {
        margin-bottom: 5px;
    }
    a.dropdown-menuitem,
    .dropdown-menuitem {
        color: #57C4BD;
        
        &:visited,
        &:focus,
        &:hover {
            color: #57C4BD;
        }
    }
}

.view-dashboard.is-authenticated {
    .wrapper-msg.urgency-high {
        background: none;
    }
    .wrapper-preview-menu,
    .content-wrapper {
        position: relative;
        z-index: 1;
    }
    .title:after {
        display: none;
    }
    .title {
        box-shadow: none;
        transform: translate(0);
        padding: 0;
        text-align: center;
    }
    .dashboard-search-bar {
        display: none;
    }
    .dashboard .my-courses {
        width: auto;
        float: none;
    }
}
