.header-helper {
    &_list {
        display: flex;
        padding: 0;
        list-style: none;
        margin: 0 15px 0 0;
    }
}
.link-login {
    margin-left: 15px;
}
.header-search_button {
    right: 0;
    left: 5px;
}
.find-courses .wrapper-search-context .wrapper-search-input {
    margin: 0 auto 30px 0 !important;
}