body.view-in-course .info-wrapper,
body .home {
    display: block;
    border: none;
    box-shadow: none;
    max-width: 1200px;
    padding: 0;
}
div.info-wrapper section.handouts,
div.info-wrapper section.updates {
    display: none;
}
body.view-in-course .container {
    padding: 0;
}
