.home>header {
    background: url(../images/header-img.jpg) 50% no-repeat;
    min-height: 520px;

    .outer-wrapper {
        opacity: .7;
        padding: 180px 60px 60px;
    }
}
.wrapper-logo img,
.logo img {
    width: 300px;
}
.header-global {
    background: #0078d7;
    height: auto;
}
.left.list-inline.nav-global li a{
    color: #dfdbd2;
}
.right.nav-courseware.list-inline li a {
    background: #00adef !important;
    box-shadow: none !important
}
.header-global .wrapper-header {
    height: auto;
    padding: 18px 10px;
}
.wrapper-footer {
    background: #dddddd !important;
    margin-top: 0 !important
}
.wrapper-footer footer#footer-openedx .colophon .nav-colophon li a {
    color: #299DCE;
}
.raccoongang {
    font-size: 20px;
    color: #acaaab;
    display: inline-block;
    vertical-align: bottom;

    + img {
        height: 27px;
        vertical-align: bottom;
    }
}
body .course-info header.course-profile {
    height: auto;
    margin-top: 0;
    padding: 20px 0;
}
body .header-global .primary>a {
    box-shadow: none;
}
a.doc-link {
    color: #fff;

    &:hover {
        color: #065683;
    }
}
body .header-global .user>.primary>a {
    background: transparent;
}
.user-menu {
    margin: 6px 0 0;
}
.wrapper-footer footer#footer-openedx a:ficus,
.wrapper-footer footer#footer-openedx a:hover,
.references a:hover,
.wrapper-footer footer#footer-openedx .colophon .nav-colophon li a:hover {
    border: none !important;
}
.wrapper-footer footer#footer-openedx .colophon .nav-colophon {
    margin: 12px 0 30px 0;
}
.wrapper-footer footer#footer-openedx .colophon {
    float: left;
    width: auto;
}
.wrapper-footer footer#footer-openedx .references {
    float: right;
    width: auto;
    font-size: 16px;
    line-height: 16px;

    a:hover {
        text-decoration: none;
        border: none;
    }
}
.header-global .user .user-link .label-username {
    color: #fff;
    text-shadow: none;
}
.wrapper-footer footer#footer-openedx {
    max-width: 1180px;
}