body {
    .window-wrap {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .content-wrapper {
        flex: 1;
    }

    .home > header {
        background: url("../images/background.jpg") no-repeat;
        min-height: 520px;
        background-size: cover;
        position: relative;
        top: -2px;
    }

    .home > header .title {
        background: none;
        margin-left: 0;
        box-shadow: none;
        color: #fff;
        text-shadow: none;
        width: auto;
    }

    .header-global {
        height: auto !important;
        box-shadow: none;
        border-bottom: 5px solid #00A3E0;
    }

    .header-global .wrapper-header {
        height: auto;
        padding: 36px 0;
    }

    .home > header .title > .heading-group h1 {
        font-weight: 700;
    }

    .home > header .title > .heading-group h1,
    .home > header .title > .heading-group p {
        color: #fff;
        font-style: normal;
        font-family: "Open Sans", Verdana, Geneva, sans-serif;
        font-size: 50px;
        text-shadow: none;
        margin-bottom: 16px;
    }

    .header-global .nav-global li a, .header-global .nav-global div a {
        color: #fff;
        text-transform: capitalize;
    }

    .subnav {
        height: auto;
        background: rgb(45, 45, 45);
        width: 100%;
        color: #fff;
        min-height: 66px;

        &__home-icon {
            color: rgb(255, 178, 6);
            background: rgb(32, 32, 32);
            position: absolute;
            left: 0;
            top: 0;
            font-size: 26px;
            padding: 20px;
        }

        &__wrapper {
            margin: 0 auto;
            max-width: 1180px;
            position: relative;
            padding-left: 60px;
            box-sizing: border-box;
        }
    }

    .header-global .nav-courseware {}

    .header-global .user {}

    .header-global .nav-global {
        float: none;
        margin: 0;
        padding: 20px;
        display: inline-block;
    }

    .doc-link {
        display: none;
    }

    .header-global .user .user-link .label-username {
        font-size: 20px;
    }

    .header-global .user .user-link .label-username,
    .user-image-icon,
    .wrapper-footer footer#footer-openedx a,
    .wrapper-footer footer#footer-openedx .copyright,
    .header-global .user .user-dropdown .fa {
        color: #b8b8b8;
    }

    .header-global .user > .primary > a {
        display: flex;
        align-items: center;
    }

    .footer-questions {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .find-courses-button {
        background: #00A3E0;
        color: #fff;
        border-radius: 5px;
        padding: 20px 60px;
        text-shadow: none;
        text-transform: capitalize;
    }

    .wrapper-footer footer#footer-openedx .footer-questions a,
    .courses-container .courses .course .course-info .course-title,
    .copy-lead a, .copy-large a, .copy-base a, .alert-copy a, .alert-copy-with-title a, .copy-meta a, .table caption a, .table-simplified caption a, .copy-micro a, a, .link, .btn-link,
    .table-sortable .sortable .action-sort,
    .wrapper-course-material .course-tabs li a:hover, .wrapper-course-material .course-tabs div.info-wrapper section.handouts ol li div.hitarea:hover + h4, div.info-wrapper section.handouts ol .wrapper-course-material .course-tabs li div.hitarea:hover + h4, .wrapper-course-material .course-tabs div.info-wrapper section.handouts ol li div.hitarea:focus + h4, div.info-wrapper section.handouts ol .wrapper-course-material .course-tabs li div.hitarea:focus + h4, .wrapper-course-material .course-tabs li a:focus, .wrapper-course-material .course-tabs li a.active, .wrapper-course-material .course-tabs li a:visited:hover, .wrapper-course-material .course-tabs div.info-wrapper section.handouts ol li div.hitarea:hover + h4:visited, div.info-wrapper section.handouts ol .wrapper-course-material .course-tabs li div.hitarea:hover + h4:visited, .wrapper-course-material .course-tabs div.info-wrapper section.handouts ol li div.hitarea:focus + h4:visited, div.info-wrapper section.handouts ol .wrapper-course-material .course-tabs li div.hitarea:focus + h4:visited, .wrapper-course-material .course-tabs li a:visited:focus,
    .wrapper-course-material .course-tabs li a:visited.active,
    .wrapper-course-material .course-tabs li a, .wrapper-course-material .course-tabs li a:visited,
    div.info-wrapper section.handouts a,
    div.info-wrapper section.handouts ol li a, .wiki-wrapper section.wiki .nav-tabs a,
    .course-info header.course-profile .intro-inner-wrapper .intro > .heading-group h1,
    .payment-buttons .purchase .product-info, .payment-buttons .purchase .product-name, .payment-buttons .purchase .price {
        color: #00A3E0;
    }

    .wrapper-course-material .course-tabs li a:hover, .wrapper-course-material .course-tabs div.info-wrapper section.handouts ol li div.hitarea:hover + h4, div.info-wrapper section.handouts ol .wrapper-course-material .course-tabs li div.hitarea:hover + h4, .wrapper-course-material .course-tabs div.info-wrapper section.handouts ol li div.hitarea:focus + h4, div.info-wrapper section.handouts ol .wrapper-course-material .course-tabs li div.hitarea:focus + h4, .wrapper-course-material .course-tabs li a:focus, .wrapper-course-material .course-tabs li a.active, .wrapper-course-material .course-tabs li a:visited:hover, .wrapper-course-material .course-tabs div.info-wrapper section.handouts ol li div.hitarea:hover + h4:visited, div.info-wrapper section.handouts ol .wrapper-course-material .course-tabs li div.hitarea:hover + h4:visited, .wrapper-course-material .course-tabs div.info-wrapper section.handouts ol li div.hitarea:focus + h4:visited, div.info-wrapper section.handouts ol .wrapper-course-material .course-tabs li div.hitarea:focus + h4:visited, .wrapper-course-material .course-tabs li a:visited:focus, .wrapper-course-material .course-tabs li a:visited.active {
        border-bottom-color: #00A3E0;
    }

    .footer-questions span {
        margin-bottom: 20px;
        color: #4a4a4a;
    }

    .user-image-icon {
        font-size: 30px;
    }

    .find-courses .wrapper-search-context .wrapper-search-input,
    .find-courses .search-facets.phone-menu,
    .dashboard-search-bar,
    #content > section > header > div > div > section > div.heading-group > h1 > button {
        display: none;
    }

    .dashboard .my-courses,
    .find-courses .courses-container .courses:not(.no-course-discovery), .university-profile .courses-container .courses:not(.no-course-discovery) {
        width: 100%;
    }

    .courses-container .courses .course .course-image .cover-image .learn-more,
    input[type="submit"], input[type="button"], button, .button,
    .course-info header.course-profile .intro-inner-wrapper .intro .main-cta strong,
    .btn-brand, .modal .inner-wrapper form .submit input[type="submit"], .leanModal_box .inner-wrapper form .submit input[type="submit"],
    .course-info header.course-profile .intro-inner-wrapper .intro .main-cta > a.find-courses, .course-info header.course-profile .intro-inner-wrapper .intro .main-cta a.register, .course-info header.course-profile .intro-inner-wrapper .intro .main-cta a.add-to-cart {
        background: #00A3E0;
        border-color: #00A3E0;
        text-shadow: none;
        color: #fff;

        &:hover,
        .course-info header.course-profile .intro-inner-wrapper .intro .main-cta > a.find-courses:hover:not(:disabled), .course-info header.course-profile .intro-inner-wrapper .intro .main-cta a.register:hover:not(:disabled), .course-info header.course-profile .intro-inner-wrapper .intro .main-cta a.add-to-cart:hover:not(:disabled) {
            background: lighten(#00A3E0, 20%);
            color: #fff;
        }
    }

    .btn, .content-wrapper .page-header.has-secondary .page-header-secondary .form-actions > button,
    .course-info .container .wrap-instructor-info .instructor-info-action, .course-info section.outside-app .wrap-instructor-info .instructor-info-action, .course-info .view-profile .profile-self .wrapper-profile-field-account-privacy .u-field-account_privacy .wrap-instructor-info .instructor-info-action, .view-profile .profile-self .wrapper-profile-field-account-privacy .course-info .u-field-account_privacy .wrap-instructor-info .instructor-info-action, .course-info .view-profile .wrapper-profile-sections .wrap-instructor-info .instructor-info-action, .view-profile .course-info .wrapper-profile-sections .wrap-instructor-info .instructor-info-action, .course-info .view-profile .badge-set-display .wrap-instructor-info .instructor-info-action, .view-profile .course-info .badge-set-display .wrap-instructor-info .instructor-info-action {
        background: #ffc627;
        border-color: #ffc627;
        text-shadow: none;
        color: #fff;

        &:hover {
            background: lighten(#ffc627, 20%);
            color: #fff;
        }
    }

    .dashboard .my-courses .course .wrapper-messages-primary .message.message-upsell .action-upgrade, .verification-process .action-primary, .verification-process .action-confirm, .verification-process .carousel .wrapper-task .controls .control.approved .action, .verification-process.step-select-track .register-choice-certificate .action-select input, .wrapper-msg .has-actions .nav-actions .action-primary, .wrapper-msg .has-actions .msg-actions .action-primary {
        background: #78be20;
        border-color: #78be20;
        text-shadow: none;
        color: #fff;

        &:hover,
        &:focus {
            background: lighten(#78be20, 20%);
            color: #fff;
            box-shadow: none;
        }
    }

    .course-info header.course-profile .intro-inner-wrapper .intro .main-cta strong:hover:not(:disabled) {
        background: lighten(#00A3E0, 20%);
    }

    input[type="submit"]:hover:not(:disabled), input[type="button"]:hover:not(:disabled), button:hover:not(:disabled), .button:hover:not(:disabled) {
        background: lighten(#00A3E0, 20%);
        border-color: lighten(#00A3E0, 20%);
    }

    .dashboard .my-courses .course .details .enter-course {
        color: #fff;
        border-color: #00A3E0;
        background: #00A3E0;
        order: 2;
        &:hover {
            background: lighten(#00A3E0, 20%);
            color: #fff;
        }
    }

    .logo img {
        width: 200px;
    }

    .courses-container .courses .course {
        box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.125), inset 0 0 0 1px rgba(255, 255, 255, 0.75);
        border: none;
        border-bottom: 3px solid #00A3E0;
        border-radius: 5px;
        overflow: hidden;
    }

    .course-info header.course-profile,
    .course-info header.course-profile .intro-inner-wrapper,
    .course-info header.course-profile .intro-inner-wrapper .media .hero,
    .course-info header.course-profile .intro-inner-wrapper .intro > .heading-group,
    .dashboard .my-courses .course .details .wrapper-course-image .cover,
    .dashboard .my-courses .listing-courses .course-item .course-container {
        background: none;
        border: none;
        box-shadow: none;
    }

    .course-info header.course-profile .intro-inner-wrapper > div.table {
        display: flex;
        flex-direction: row-reverse;
    }

    .course-info header.course-profile .intro-inner-wrapper .intro {
        display: flex;
    }

    .dashboard .my-courses .course .details .wrapper-course-details {
        display: grid;
        grid-template-columns: 1fr 210px;
        grid-template-rows: 1fr auto;
    }

    .dashboard .my-courses .course .details .course-info {
        grid-row: 2;
    }

    .dashboard .my-courses .course .details .wrapper-course-actions {
        grid-row: span 2;
        justify-self: end;
    }

    .course-actions {
        height: 100%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
    }
    .wrapper-action-more {
        order: 1;
    }

    .dashboard .profile-sidebar {
        width: 100%;
    }

    .dashboard .profile-sidebar .user-info .status {
        border: none;
        border-top: 4px solid #ffc627 !important;
        box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.125), inset 0 0 0 1px rgba(255, 255, 255, 0.75);
    }

    .verification-process .pay-and-verify .nav-wizard.center, .verification-process .incourse-reverify .nav-wizard.center, .verification-process .reverify .nav-wizard.center {
        border: none;
        background: none;
        border-top: 4px solid #78be20 !important;
        box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.125), inset 0 0 0 1px rgba(255, 255, 255, 0.75);
    }

    .fa {
        font-family: 'FontAwesome' !important;
    }

    footer#footer-openedx.grid-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .wrapper-footer footer#footer-openedx .colophon {
        align-self: flex-start;
    }

    .wrapper-footer footer#footer-openedx ul {
        margin: 0;
    }

    .left.list-inline.nav-global {
        display: none;
    }

    .verification-process .header-global {
        height: auto;
    }

    .dashboard .my-courses .course .wrapper-messages-primary .message.message-upsell .action-upgrade .action-upgrade-icon {
        background: none;
    }
    .dashboard .my-courses .wrapper-header-courses {
        border-bottom: 1px solid rgb(211,211,211);
    }
}

* * {
    font-family: 'Roboto', sans-serif !important;
}

.verification-process .pay-and-verify .nav-wizard.center, .verification-process .incourse-reverify .nav-wizard.center, .verification-process .reverify .nav-wizard.center {
    border: none;
    background: none;
    border-top: 4px solid #78be20 !important;
    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.125), inset 0 0 0 1px rgba(255, 255, 255, 0.75);
    padding: 20px !important;
}

.verification-process .carousel #wrapper-review .review .payment-buttons .payment-button {
    background: #78be20;
    border-color: #78be20;
    text-shadow: none;
    color: #fff;
    box-shadow: none;

    &:hover {
        background: lighten(#78be20, 20%);
        color: #fff;
    }
}

.verification-process .carousel .requirements .requirement {
    border: none;
    border-top: 4px solid #00A3E0 !important;
    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.125), inset 0 0 0 1px rgba(255, 255, 255, 0.75);
    border-radius: 5px;
    overflow: hidden;
}

.verification-process .carousel .view > .title,
.verification-process .carousel .view .instruction {
    display: none;
}

.facephoto.view .wrapper-task #facecam,
.verification-process .carousel .wrapper-task .task {
    border: none;
    background: #f5f5f5;
    border-radius: 8px;
    overflow: hidden;
}

.verification-process .cam .placeholder-cam {
    background: #f5f5f5;
}

.verification-process .carousel .wrapper-task .controls .control .action {
    border-radius: 5px;
    background: #00A3E0;
}

.verification-process .nav-wizard {
    border: none;
    box-shadow: none;
    background: none;
}

.dashboard .my-courses .course .wrapper-messages-primary .message.message-upsell .action-upgrade, .verification-process .action-primary, .verification-process .action-confirm, .verification-process .carousel .wrapper-task .controls .control.approved .action, .verification-process.step-select-track .register-choice-certificate .action-select input, .wrapper-msg .has-actions .nav-actions .action-primary, .wrapper-msg .has-actions .msg-actions .action-primary {
    background: #78be20;
    border-color: #78be20;
    text-shadow: none;
    color: #fff;
    box-shadow: none !important;

    &:hover,
    &:focus {
        background: lighten(#78be20, 20%);
        color: #fff;
    }
}

.verification-process .carousel #wrapper-review .review-task {
    background: #fff;
}

.verification-process .carousel #wrapper-review .review-task-photos .wrapper-photos .wrapper-photo .placeholder-photo {
    border: none;
    background: f5f5f5;
    border-radius: 8px;
    overflow: hidden;
}

.content-wrapper.main-container#content {
    display: flex;
    flex-direction: column;
}
.dashboard .my-courses .course .details .course-actions .wrapper-action-more .actions-dropdown {
    width: auto;
}
body .dashboard .my-courses .course .wrapper-messages-primary .message.message-upsell .action-upgrade .action-upgrade-icon {
    display: none;
}
#my-courses .info-holder {
    .info-university,
    .info-course-id {
        font-size: 18px !important;
        color: rgb(120,120,120);
        line-height: 23px;
        margin-bottom: 20px;
    }
}
.dashboard .my-courses .course .details .course-title a {
    margin-bottom: 0;
}
