.header-helper {
    &_list {
        display: flex;
        padding: 0;
        list-style: none;
        margin: 0 15px 0 0;
    }
}
.link-login {
    margin-left: 15px;
}
.header-search_button {
    right: 0;
    left: 5px;
}
.find-courses .wrapper-search-context .wrapper-search-input {
    margin: 0 auto 30px auto !important;
}
.footer-nav {
    text-align: right;
    margin-left: auto;
    margin-bottom: 15px;
}
.dashboard .my-courses .course .wrapper-messages-primary .message.message-status .xseries-action .xseries-msg,
.container .discussion-body .discussion-submit-post, 
.container .discussion-module .discussion-submit-post,
.container .discussion-user-threads .discussion-submit-post,
.content-wrapper .course-info header.course-profile .intro-inner-wrapper .intro .main-cta a.register,
.view-profile .profile-image-field,
.dashboard .my-courses .course .details .course-info, 
.dashboard .my-courses .course .details .programs-info,
.dashboard .my-courses,
div.program-cards-container,
.wrapper-account-settings .wrapper-header .account-nav,
.discussion-body .forum-nav,
.discussion .tabs .tab {
    float: right
}
.tab-content a.accordion-toggle {
    float: right!important;
}
.dashboard .my-courses .course .wrapper-messages-primary .message.message-status .xseries-action .xseries-border-btn,
.dashboard .my-courses .course .details .wrapper-course-actions,
.dashboard-search-bar,
.grid-container .col.col-last, 
.course-card .section .col.col-last,
.container .discussion-body .discussion-column,
body.discussion .course-tabs .right {
    float: left;
}
.dashboard .my-courses .course .details .wrapper-course-details {
    text-align: right;
    padding-right: 10px;
    box-sizing: border-box;
}
.dashboard-search-bar {
    margin-left: 0;
    margin-right: 2.35765%;
}
.dashboard .my-courses .course .details .course-actions .wrapper-action-more,
.wrapper-course-actions .course-actions {
    display: flex;
}
.dashboard .my-courses .course .details .course-actions .wrapper-action-more {
    width: auto;
}
.dashboard .my-courses .course .details .enter-course {
    order: 1;
}
.footer_wrapper,
.courses-box,
.promo-box {
    flex-direction: row-reverse;
}
.account-settings-sections .section .account-settings-section-body .u-field {
    display: flex;
    flex-direction: row-reverse;
}
.account-settings-sections .section .account-settings-section-body .u-field .u-field-message {
    padding: 24px 100px 0 0;
}
.home .courses-container_btn-holder, 
.home .programs__btn-holder {
    text-align: left;
}
.discussion-module .new-post-btn, .discussion-user-threads .new-post-btn {
    margin-left: 10px;
}
.container .discussion-module .wmd-preview-label {
    box-sizing: border-box;
    padding-right: 10px;
}
.content-wrapper .instructor-dashboard-wrapper-2 section.idash-section#certificates .white-listed-students table td, 
.content-wrapper .instructor-dashboard-wrapper-2 section.idash-section#certificates .invalidation-history table td,
.login-register .form-wrapper form, .financial-assistance-wrapper .financial-assistance-form .form-wrapper form,
.sidebar .program-advertise .advertise-message,
.find-courses .search-facets .header-search-facets, 
.find-courses .search-facets .header-facet,
.dashboard .my-courses .course .wrapper-messages-primary .message.message-status .xseries-action .xseries-msg,
.container.about,
.login-register .submission-error, 
.financial-assistance-wrapper .financial-assistance-form .submission-error, 
.login-register .system-error, 
.financial-assistance-wrapper .financial-assistance-form .system-error,
.login-register .form-field, 
.financial-assistance-wrapper .financial-assistance-form .form-field,
.login-register .form-field .field-link, 
.financial-assistance-wrapper .financial-assistance-form .form-field .field-link,
div.gradebook-wrapper section.gradebook-content .student-search-field,
.forum-new-post-form, 
.edit-post-form,
.login-register .form-field .tip, 
.financial-assistance-wrapper .financial-assistance-form .form-field .tip,
.login-register .form-field label, 
.financial-assistance-wrapper .financial-assistance-form .form-field label,
button.forum-nav-browse-title,
.container .discussion-body .discussion-article, 
.container .discussion-module .discussion-article, 
.container .discussion-user-threads .discussion-article,
.forum-nav-search-input,
textarea, form#wiki_revision .CodeMirror, 
input[type="text"], 
input[type="email"], 
input[type="password"],
.search-bar .search-field,
.course-info header.course-profile .intro-inner-wrapper .intro>.heading-group, 
.programs-info header.course-profile .intro-inner-wrapper .intro>.heading-group,
.find-courses .wrapper-search-context .discovery-input,
.find-courses .search-facets .header-facet,
.find-courses .search-facets .facet-option,
.courses-container .courses .course .course-info .course-date,
.dashboard .my-courses .wrapper-header-courses .header-courses,
.dashboard-search-bar form,
.account-settings-sections .section .account-settings-section-body .u-field .field .field-input,
.courses-box_holder,
.home .courses-container_heading, 
.home .programs__title {
    text-align: right;
}
.forum-nav-search .icon {
    right: 100%;
    margin-right: -20px;
}
.find-courses .wrapper-search-context .discovery-input {
    padding-right: 20px;
    padding-left: 30px;
}
.search-bar.dashboard-search-bar .search-button {
    right: 0;
    left: 12px;
}
.forum-nav-search-input {
    padding-right: 10px !important;
}
.course-info header.course-profile .intro-inner-wrapper .media, 
.programs-info header.course-profile .intro-inner-wrapper .media {
    align-self: baseline;
}
div.wrapper-course-modes {
    padding: 5px;
}
.search-field {
    span.icon.fa.fa-search {
        position: relative;
        left: -60px;
    }
}
.find-courses .discovery-submit {
    left: 0;
}
.find-courses .search-facets .facet-option .count {
    text-align: left;
    right: 100%;
    margin-right: -50px;
}
body.view-in-course .course-wrapper,
.course-info header.course-profile .intro-inner-wrapper>div.table, 
.programs-info header.course-profile .intro-inner-wrapper>div.table {
    display: flex;
    flex-direction: row-reverse;
}
.course-info .details, 
.programs-info .details {
    float: right;
    margin-left: 2.35765%;
    margin-right: 0;
    text-align: right;
}
.find-courses .filters .filters-inner:after {
    display: none;
}
.wrapper-footer footer#footer-openedx {
    &:after {
        content: '';
        display: table;
        clear: both;
    }
}
.view-profile .profile-section-one-fields {
    float: right;
    margin-left: 0;
    margin-right: 20px;
}
.find-courses .filters .filters-inner {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}
.header-nav-holder_btn {
    right: 100%;
    margin-right: -50px;
}
.promo-box_right .promo-box_text-wrapper {
    padding-left: 0;
    padding-right: 60px;
}
.courses-box_lable {
    padding: 0 30px 0 0;
}
.courses-box_time {
    position: relative;
    .ico-clock {
        text-indent: 50px;
        position: absolute;
        right: 0;
    }
}
.header-helper_list-item:last-child {
     margin-left:0
}
.header-helper_mail {
    position: relative;
    padding-right: 25px;
    .header-helper_ico-holder {
        position: absolute;
        right: 0;
        top: 0;
    }
}
.content-wrapper .customBrowseBtn .file-browse input.file_field,
.content-wrapper section.wiki #div_id_confirm #id_confirm,
.content-wrapper section.wiki #hint_id_content,
.wrapper-footer footer#footer-openedx .footer-about-openedx:last-child {
    position: relative;
}
section.delete {
    padding-right: 10px;
    padding-bottom: 10px;
}
.wrapper-footer footer#footer-openedx .footer-about-openedx .racoon-link {
    position: relative;
    padding-left: 40px;
    img {
        position: absolute;
        left: 0;
        top: 0;
    }
}
.promo-box {
    text-align: right;
    &_big-text {
        margin-left: auto;
    }
}
.find-courses .search-facets {
    margin: 28px 0 70px 0;
}
.course-name, 
.programs-name {
    padding: 0 15px 0 5px;
    text-align: right;
}
input#generate-example-certificates-submit {
    margin-top: 10px;
}
.wrapper-user-menu.dropdown-menu-container button:focus:not(:disabled),
.wrapper-user-menu.dropdown-menu-container button:active:not(:disabled),
.wrapper-user-menu.dropdown-menu-container button:hover:not(:disabled),
.wrapper-user-menu.dropdown-menu-container button{
    box-shadow: none;
    background: transparent;
}
.program-card {
    float: right;
    margin-right: 0;
    margin-left: 2.12766%;
}
.sidebar .program-advertise .btn-neutral {
    display: flex;
    flex-direction: row-reverse;
    .icon {
        margin-right: 0;
        margin-left: 0.3125rem;
    }
}
.find-courses .filters li .facet-option {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
@media (min-width: 768px){
    .program-cards-container {
        margin-right: 0;
        margin-left: 2.12766%;
    }
}

@media screen and (min-width: 600px) {
    .header-helper_left-side {
        display: flex;
        justify-content: space-between;
        width: 50%;
    }
    .header-helper_mail {
        margin-right: auto;
        margin-left: auto;
    }
}
.header-nav-holder.show .header-nav-holder_wrapper {
    align-items: flex-start;
}
@media screen and (max-width: 1140px){
    .header-nav {
        justify-content: flex-start;
    }
    .promo-box_left .promo-box_text-wrapper {
        padding-left: 60px;
        padding-right: 60px;
    }
}
@media screen and (min-width: 1140px){
    .promo-box_text-wrapper {
        float: right;
        text-align: right;
    }
}
@media screen and (min-width: 980px) {
    .find-courses .courses-container .courses:not(.no-course-discovery) {
        float: right;
        margin-right: 0;
        margin-left: 2.35765%;
    }
}
@media screen and (max-width: 600px){
    .header-helper_list-item:first-child {
        margin-left: 20px;
    }
    .header-helper_ico-holder {
        margin-right: 0;
        margin-left: 10px;
    }
    .wrapper-footer footer#footer-openedx .footer-about-openedx {
        float: right;
    }
}