body {
    background: #fff;
}
html body.view-in-course {
     background: #fff;
    .content-wrapper {
        background: #f5f5f5;
        padding-bottom: 40px;
    }
    .wrapper-footer {
        margin-top: 0;
    }
}
.window-wrap .courses-container .courses .course .course-image .cover-image .learn-more {
    left: calc(50% - 100px);
    box-sizing: border-box;
    position: absolute;
    top: 55px;
    padding: 0 20px;
    width: 200px;
    height: 50px;
    border: 3px solid #fff;
    border-radius: 3px;
    background: transparent;
    font: 18px Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-global .wrapper-header .logo,
.header-global h1.logo {
    margin: 0;
    margin-top: -3px;
}
.header-global .wrapper-header {
    max-width: 1200px;
    padding-top: 19px;
}
.home>header {
    background: #3374a4 url(#{$img-path}/banner.jpg) no-repeat center center;
    height: 442px;
    display: flex;
    align-items: center;
    .title {
        box-shadow: none;
        background: transparent;
        float: none;
        margin: 0;
        width: 100%;
        text-align: center;
        padding: 0;
        &>.heading-group {
            text-align: center;
            h1 {
                text-shadow: 3px 3px 2px rgb(51, 117, 168);
                text-align: center;
                font: bold 48px/1.2 Verdana, Arial, sans-serif;
                color: #fff;
                text-transform: uppercase;
                margin-bottom: 20px;
                letter-spacing: 2px;
                @media (max-width: 540px) {
                    font-size: 34px;
                }
            }
        }
        a {
            color: #fff;
            font: 15px/1.2 Arial, sans-serif;
            background-color: $btn-bg;
            display: inline-block;
            text-transform: uppercase;
            border-radius: 2px;
            padding: 8px 17px;
            &:visited {
                background-color: $btn-bg;
                text-decoration: none;
                color: #fff;
            }
            &:hover,
            &:active,
            &:focus {
                background-color: $btn-bg-hover;
                text-decoration: none;
                color: #fff;
            }
        } 
        .course-search {
            display: none;
        }
    }
}
.animation-home-header-pop-up, 
.home>header .outer-wrapper {
    animation: none;
    padding: 0;
}
.courses-container .courses .course {
    box-shadow: none;
    border: none;
    border-bottom: 3px solid #567a17;
}
.courses-container .courses .course .course-info .course-date,
.courses-container .courses .course .course-info .course-code,
.courses-container .courses .course .course-info .course-organization {
    color: rgb(46, 46, 46);
    font: 14px/1.2 "Helvetica", Arial, sans-serif;
}
.courses-container .courses .course .course-info .course-title,
.courses-container .courses .course .course-info .course-code,
.courses-container .courses .course .course-info .course-organization {
    text-transform: uppercase;
}
.courses-container .courses .course .course-info .course-organization {
    padding-top: 17px;
}
.courses-container .courses .course .course-info .course-title {
    color: rgb(232, 67, 65);
    font: 18px/1.2 "Helvetica", Arial, sans-serif;
    margin-top: 7px;
}
.highlighted-courses .courses .course:hover, 
.highlighted-courses .courses .course:focus, 
.find-courses .courses .course:hover, 
.find-courses .courses .course:focus {
    box-shadow: none;
    border-color: #f6f5f5;
}
.header-global .wrapper-header .course-header,
.footer-about-openedx,
.colophon {
    display: none;
}
.courses-container .courses .course .course-info .course-date {
    padding-top: 5px;
}
.header-global .user {
    display: flex;
    align-items: center;
}
.header-global .user>.primary>a {
    box-shadow: none;
    color: #fff;
    text-shadow: none;
    &:visited,
    &:hover,
    &:active,
    &:focus {
        background: transparent;
    }
}
.program-details .doc-link {
    margin: 0 0 0 15px;
}
body header a.doc-link {
    color: #fff;
    &:visited,
    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
        color: #fff;
    }
}
.header-global .nav-global li a.tab-nav-link {
    color: #fff;
    font: 18px/1.2 Verdana, Arial, sans-serif;
    background-color: $btn-bg;
    display: inline-block;
    text-transform: uppercase;
    border-radius: 2px;
    padding: 8px 17px;
    &:visited {
        background-color: $btn-bg;
        text-decoration: none;
        color: #fff;
    }
    &:hover,
    &:active,
    &:focus {
        background-color: $btn-bg-hover;
        text-decoration: none;
        color: #fff;
    }
}
.header-global .nav-global .tab-nav-item .active {
    border-bottom: none!important;
}
.header-global .nav-global {
    margin: 0 auto;
    @media (max-width: $responsive-large) {
        float: none;
        display: flex;
        flex-direction: column;
    }
}
.grid-container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: block;
}
.header-global .user .dropdown {
    height: 25px;
    width: 29px;
}
li.item.nav-global-01.nav-global-01-xseries-style {
    @media (max-width: $responsive-large) {
        margin-bottom: 10px;
    }
}
.find-courses, .university-profile {
    background: #fff;
}
.course-info header.course-profile {
    height: auto;
    min-height: 280px;
    margin-top: 0;
    padding-bottom: 150px;
}
.course-info .course-sidebar .important-dates li .icon,
.header-global .wrapper-header .wrapper-user-menu,
.header-global .wrapper-header .list-inline.nav-global {
    margin-top: 0;
}
.dropdown-menu-container .menu-image {
    border-radius: 10%;
}
.dropdown-menu-container .menu-title {
    display: flex;
}
.dropdown-menu-container .menu-title {
    margin-right: 5px;
    color: #fff;
    &:focus,
    &:active,
    &:hover {
        text-decoration: none;
        color: #fff;
  }
}
.header-global .wrapper-header .wrapper-user-menu,
.program-details .navigation_buttons,
.discussion .navigation_buttons {
    display: flex;
    align-items: center;
}
.navigation_buttons,
.header-global .wrapper-header .list-inline.nav-global {
    display: flex;
}
.navigation_buttons {
    align-items: center;
}
.discussion .list-inline li,
li.item.nav-global-01.nav-global-01-xseries-style {
    float: none;
    margin-right: 21px;
    @media (max-width: $responsive-large) {
        margin-right: 0;
    }
}
.dropdown-menu-container .menu-button {
    font-size: 0.875em;
    padding: 0 10px;
    color: #3c3c3c;
    border: none;
    background: #fff;
    box-shadow: none;
    height: 25px;
    width: 29px;
    text-shadow: none;
    border-radius: 3px;
    margin-top: 0;
}
.header-global .wrapper-header .left {
  @media (max-width: $responsive-large) {
    float: none;
  }
}
body .dropdown-menu-container .dropdown-menu .dropdown-item a {
    &:active,
    &:focus,
    &:active,
    &:hover {
        text-decoration: none;
  }
}

body.view-in-course .window-wrap {
    min-width: 320px;
}
body.discussion .window-wrap .content-wrapper,
body.view-in-course .window-wrap .content-wrapper {
    min-width: 760px;
}
body #forgot-password-modal #password-reset .form-actions button[type="submit"],
input[type="submit"],
.view-login .form-actions button[type="submit"],
.register .form-actions button[type="submit"],
.login-register .action-primary {
    @include btn-active;
}
.dashboard .my-courses .course .details .enter-course.archived,
.dashboard .my-courses .course .details .enter-course,
.login-register .nav-btn {
    border: 1px solid $btn-bg;
    box-shadow: none;
    background: transparent;
    color: $btn-bg;
    text-shadow: none;
    &:hover,
    &:focus,
    &:active {
        background: $btn-bg;
        box-shadow: none;
        color: #fff !important;
        border: 1px solid $btn-bg;
    }
    &:visited {
        color: $btn-bg;
        border: 1px solid $btn-bg;
    }
}

div.btn-brand {
    border-color: $btn-bg;
    background: $btn-bg;
    &:hover,
    &:active,
    &:focus,
    &:visited {
        border-color: $btn-bg-hover;
        background: $btn-bg-hover;  
    }
}
body .dropdown-menu-container .dropdown-menu .dropdown-item a,
body .header-global .user .dropdown-menu li>a,
body section.wiki .breadcrumb li a,
body section.wiki .nav-tabs a,
body section.wiki .nav-tabs li.active a,
a.gradebook-link,
a.progress-link,
.setup-value a,
body .accordion-toggle,
section.wiki #cheatsheetLink,
section.wiki .article-functions .see-children a,
body .instructor-dashboard-wrapper-2 section.idash-section#cohort_management .wrapper-tabs .tab .toggle-button,
body .instructor-dashboard-wrapper-2 section.idash-section#cohort_management .toggle-cohort-management-secondary, 
body .instructor-dashboard-wrapper-2 section.idash-section#cohort_management .toggle-cohort-management-discussions,
a.link-to-group-settings,
body .instructor-dashboard-wrapper-2 section.idash-section#cohort_management .cohort-management-settings .form-cancel,
.hd a,
.course-wrapper .courseware-results-wrapper p,
body .btn-link,
.login-register .form-field .field-link,
.financial-assistance-wrapper .financial-assistance-form .form-field .field-link,
.find-courses .filters .clear-filters,
.dashboard .my-courses .course .wrapper-messages-primary .message a,
.dashboard .my-courses .course .details .course-title a {
    color: $btn-bg;
    &:hover,
    &:active,
    &:focus,
    &:visited {
        color: $btn-bg-hover !important;
    }
}
.complementary p a,
.cta-help a{
    color: $btn-bg;
    border-bottom: none;
    &:hover,
    &:active,
    &:focus,
    &:visited {
        color: $btn-bg-hover !important;
        border-bottom: none;
    }
}
body .register a,
body .register a:link,
body .login a:link {
    color: $btn-bg;
    border-bottom: none;
    &:hover,
    &:active,
    &:focus,
    &:visited {
        color: $btn-bg-hover ;
        border-bottom: none;
    } 
}
.list-input .is-focused label {
    color: $btn-bg !important;
}
body .program-header .crumb-link,
body .instructor-dashboard-wrapper-2 section.idash-section#cohort_management .cohort-discussions-nav .cohorted-text,
body div.book-wrapper section.book-sidebar #booknav li a,
body div.info-wrapper section.updates div article .toggle-visibility-button,
body div.info-wrapper section.handouts a,
body .xmodule_display.xmodule_VideoModule .video .subtitles .subtitles-menu li,
body .xmodule_display.xmodule_VideoModule .video .subtitles a,
body .course-index .accordion .course-navigation .button-chapter,
body div.info-wrapper section.handouts ol li a,
body a,
body a:visited,
body p a:visited,
body p a {
    color: $btn-bg;
    &:hover,
    &:focus {
        color: $btn-bg-hover;
    }
}
.view-register .introduction header .title .title-super, 
.view-login .introduction header .title .title-super, 
.view-passwordreset .introduction header .title .title-super {
    color: $btn-bg;
}
.register aside .btn-login .btn-login-action,
.view-register section.register .btn-login h3 {
    color: #fff;
}
.register aside .btn-login .btn-login-action {
    background: transparent;
    &:hover,
    &:active,
    &:focus,
    &:visited {
        background: transparent;
        border-color: #fff;
    }
}
.view-register .wrapper-footer footer, 
.view-login .wrapper-footer footer, 
.view-passwordreset .wrapper-footer footer {
    max-width: 1200px;
    width: 100%;
}
.view-register .header-global nav, 
.view-login .header-global nav, 
.view-passwordreset .header-global nav {
    width: auto;
}
.find-courses .discovery-submit {
    background: $btn-bg;
    border-color: $btn-bg;
    &:hover,
    &:active,
    &:focus,
    &:visited {
        background: $btn-bg-hover;
        border-color: $btn-bg-hover;
        box-shadow: none;
    }
}
.xmodule_display.xmodule_CapaModule div.problem .choicegroup label:hover, 
.xmodule_display.xmodule_CapaModule div.problem .choicetextgroup label:hover, 
.xmodule_display.xmodule_ConditionalModule div.problem .xmodule_display.xmodule_CapaModule .choicegroup label:hover, 
.xmodule_display.xmodule_ConditionalModule div.problem .xmodule_display.xmodule_CapaModule .choicetextgroup label:hover,
.bookmarks-results-list .bookmarks-results-list-item:hover,
.course-info header.course-profile .intro-inner-wrapper .intro .main-cta strong,
input[type="submit"], 
.find-courses .discovery-input:focus {
    border-color: $btn-bg;
}
.search-bar .search-button, 
.search-bar .cancel-button, 
.search-bar .search-button:hover, 
.search-bar .cancel-button:hover,
.search-bar .search-button:hover:hover {
    background: $btn-bg !important;
}
.find-courses .search-facets .facet-option:hover, 
.find-courses .search-facets .facet-option:focus,
.find-courses .loading-spinner {
    background: $btn-bg;
}
input[type="submit"]:active:not(:disabled), 
input[type="submit"]:focus:not(:disabled), 
input[type="button"]:active:not(:disabled), 
input[type="button"]:focus:not(:disabled), 
input[type="submit"]:active:not(:disabled), 
input[type="submit"]:focus:not(:disabled), 
input[type="button"]:active:not(:disabled), 
input[type="button"]:focus:not(:disabled) {
    box-shadow: none;
}
input[type="submit"]:hover:not(:disabled), 
input[type="button"]:hover:not(:disabled) {
        background: $btn-bg-hover;
        box-shadow: none;
}
body .instructor-dashboard-wrapper-2 section.idash-section#certificates .bulk-white-list-exception .white-list-csv .arrow,
body .content-wrapper .xblock-license a:active,
body .content-wrapper .xblock-license a:hover,
body .discussion.inline-discussion .new-post-article .add-post-cancel,
.bookmarks-results-list .bookmarks-results-list-item:hover .list-item-breadcrumbtrail,
.bookmarks-results-list .bookmarks-results-list-item:before,
body .xmodule_display.xmodule_SequenceModule .sequence-nav ol li button .fa-bookmark,
.course-index .accordion .course-navigation .chapter-content-container .chapter-menu .menu-item.graded span.menu-icon,
.courseware-bookmarks-button .bookmarks-list-button,
.login form .field.is-focused .tip,
.register form .field.is-focused .tip,
.passwordreset form .field.is-focused .tip,
#forgot-password-modal #password-reset form .field.is-focused .tip,
.login form .field.is-focused label,
.register form .field.is-focused label,
.passwordreset form .field.is-focused label,
#forgot-password-modal #password-reset form .field.is-focused label {
    color: $btn-bg;
}
nav.wrapper-course-material .course-tabs li a:hover, 
nav.wrapper-course-material .course-tabs div.info-wrapper section.handouts ol li div.hitarea:hover+h4, 
div.info-wrapper section.handouts ol .wrapper-course-material .course-tabs li div.hitarea:hover+h4, 
nav.wrapper-course-material .course-tabs div.info-wrapper section.handouts ol li div.hitarea:focus+h4, 
div.info-wrapper section.handouts ol .wrapper-course-material .course-tabs li div.hitarea:focus+h4, 
nav.wrapper-course-material .course-tabs li a:focus, .wrapper-course-material .course-tabs li a.active, 
nav.wrapper-course-material .course-tabs li a:visited:hover, 
nav.wrapper-course-material .course-tabs div.info-wrapper section.handouts ol li div.hitarea:hover+h4:visited,
div.info-wrapper section.handouts ol .wrapper-course-material .course-tabs li div.hitarea:hover+h4:visited, 
nav.wrapper-course-material .course-tabs div.info-wrapper section.handouts ol li div.hitarea:focus+h4:visited, 
div.info-wrapper section.handouts ol .wrapper-course-material .course-tabs li div.hitarea:focus+h4:visited, 
nav.wrapper-course-material .course-tabs li a:visited:focus, 
nav.wrapper-course-material .course-tabs li a:visited.active {
    color: $btn-bg;
    border-bottom-color: $btn-bg;
}
.courseware-bookmarks-button .bookmarks-list-button.is-active {
    background: $btn-bg-hover;
}
.courseware-bookmarks-button .bookmarks-list-button {
    border: 1px solid $btn-bg;
    &:focus,
    &:hover {
        background: $btn-bg;
    }
}
body .xmodule_display.xmodule_SequenceModule .sequence-nav-button:hover, 
body .xmodule_display.xmodule_SequenceModule .sequence-nav-button:active, 
body .xmodule_display.xmodule_SequenceModule .sequence-nav-button.active, 
body .xmodule_display.xmodule_SequenceModule .sequence-nav button:hover, 
body .xmodule_display.xmodule_SequenceModule .sequence-nav button:active,
body .xmodule_display.xmodule_SequenceModule .sequence-nav button.active,
body .xmodule_display.xmodule_SequenceModule .sequence-nav button.active,
body .xmodule_display.xmodule_SequenceModule .sequence-nav-button {
        border-bottom-color: $btn-bg;    
}
body .course-info .container .wrap-instructor-info .instructor-info-action,
body .wrap-instructor-info .instructor-info-action {
    color: $btn-bg;
    &:hover,
    &:active,
    &:focus,
    &:visited {
        color: #fff;
        background: $btn-bg;
        text-decoration: none;
    }
}
.discussion-alert-wrapper .btn,
body .container div.empty-dashboard-message a,
body .wrapper-msg.wrapper-auto-cert .auto-cert-message .has-actions .msg-actions .btn,
.view-in-course .btn-brand {
   @include btn-active;
    border-color: $btn-bg;
}
body .xmodule_display.xmodule_CapaModule div.problem button.btn-brand:hover {
    background: $btn-bg-hover;
    border-color: $btn-bg-hover;
    box-shadow: none;
    color: #fff;
}
.btn-default {
    color: $btn-bg;
    &:hover,
    &:active,
    &:focus,
    &:visited {
        color: $btn-bg;
        border-color: $btn-bg;
    }
}
body .discussion {
    .btn {
        @include btn-empty;
    }
    .tabs .tab a, 
    .tabs .tab a:visited {
        color: #5e5e5e;
    }
    .discussion-response .response-header-content .username,
    .post-label.post-label-following,
    .action-button.action-follow .action-label,
    .discussion-article .posted-details .username {
        color: $btn-bg;
        &:hover,
        &:active,
        &:focus,
        &:visited {
            color: $btn-bg-hover;
        }
    }
    .btn-brand {
        border-color: $btn-bg;
        @include btn-active;
        &:focus,
        &:hover {
            border-color: $btn-bg;
        }
    }
    .forum-new-post-form .post-type-input:checked+.post-type-label, 
    .edit-post-form .post-type-input:checked+.post-type-label {
        background: $btn-bg;
        box-shadow: none;
    }
    .action-button.action-follow.is-checked .action-icon, 
    .action-button.action-follow:hover .action-icon, 
    .action-button.action-follow:focus .action-icon {
        background-color: $btn-bg;
        border: 1px solid $btn-bg;
    }
     .action-button.action-follow:hover, 
     .action-button.action-follow:focus {
         border-color: $btn-bg;
     }
}
body .instructor-dashboard-wrapper-2 .customBrowseBtn .file-browse .browse,
body .instructor-dashboard-wrapper-2 .btn-blue,
body .course-info header.course-profile .intro-inner-wrapper .intro .main-cta a.register,
.heading-group button,
.course-info header.course-profile .intro-inner-wrapper .intro .main-cta strong,
body section.wiki .btn.btn-primary,
body .instructor-dashboard-wrapper-2 section.idash-section#cohort_management .file-upload-form .action-submit,
body .instructor-dashboard-wrapper-2 section.idash-section#cohort_management .cohort-management-nav .action-create,
body .instructor-dashboard-wrapper-2 section.idash-section#cohort_management .form-submit,
body .instructor-dashboard-wrapper-2 section.idash-section#cohort_management .cohort-management .message .action-create,
body .instructor-dashboard-wrapper-2 section.idash-section#membership .member-lists-management .auth-list-container .member-list-widget input[type="button"].add {
    box-shadow: none;
    background: $btn-bg;
    color: #fff;
    text-shadow: none;
    border-color: $btn-bg;
    &:hover:not(:disabled),
    &:active:not(:disabled),
    &:focus:not(:disabled) {
        background: $btn-bg-hover;
        border-color: $btn-bg-hover;
        box-shadow: none;
    }
}
.account-settings-sections .section .account-settings-section-body .u-field .field select ~ .icon-caret-down:after {
        border-top: 7px solid $btn-bg;
}
.program-details .btn,
.account-settings-sections .section .account-settings-section-body .u-field .field .u-field-link {
    @include btn-empty;
}
body .wrapper-account-settings .wrapper-header .account-nav button:hover, 
body .wrapper-account-settings .wrapper-header .account-nav button:focus {
    border-bottom: 4px solid $btn-bg !important;
}
body .discussion.inline-discussion .inline-thread .forum-nav-bar .all-posts-btn,
body .discussion .post-label.post-label-following,
body .instructor-dashboard-wrapper-2 .file-download-link a,
body.view-login #forgot-password-modal #password-reset header h2,
body .xmodule_display.xmodule_HtmlModule a {
    color: $btn-bg;
    &:hover,
    &:focus,
    &:link {
        color: $btn-bg;
    }
}
body .xmodule_HtmlModule.xblock-initialized ol li a span {
    color: $btn-bg !important;
    &:hover,
    &:focus {
        color: $btn-bg-hover !important;
    }
}
body .home .page-header-secondary {
    background: $btn-bg;
    &:hover,
    &:focus {
        background: $btn-bg-hover;
    }
}
body .wrapper-msg.wrapper-auto-cert .auto-cert-message,
body .date-summary-container .date-summary-todays-date {
    border-left-color: $btn-bg; 
}
body .instructor-dashboard-wrapper-2 .customBrowseBtn .file-browse .file_field {
    left: -28%;
    padding-top: 6px;
}
.program-details .btn-brand,
body .dashboard .my-courses .course .wrapper-messages-primary .message.message-status.course-status-certavailable .actions-primary .action-certificate .btn,
body .discussion-module button.btn-brand, 
body .wmd-prompt-dialog button.btn-brand {
    @include btn-active-hard;
}
.program-details .btn-brand,
body .dashboard .my-courses .course .wrapper-messages-primary .message.message-status.course-status-certavailable .actions-primary .action-certificate .btn {
    border: 1px solid $btn-bg;
}
.program-details .blue-icon .certificate-body {
    fill: $btn-bg;
    border-color: $btn-bg;
}
body .discussion-module .btn,
body .wmd-prompt-dialog .btn {
    @include btn-empty-hard;
}
.forum-nav-thread-wrapper-1 {
    width: 100%;
}
body .instructor-dashboard-wrapper-2 section.idash-section#send_email .list-fields .field .email-targets-secondary {
    columns: 1;
}
body.view-register .nav-global-04 a {
        color: #fff !important;
}
body .instructor-dashboard-wrapper-2 section.idash-section#send_email .list-fields .field .email-targets-primary {
    vertical-align: top
}
body .forum-nav-load-more-link {
    &:hover,
    &:focus {
        background: transparent !important;
    }
}
body .profile-wrapper .course-info>.chapters>section .sections>div .hd {
    border-right: none;
}