.course-info header.course-profile {
    height: auto;
    padding-bottom: 200px;
    margin-top: 0;
}
.header-global h1.logo {
    float: none;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    margin: 0;
}
.header-global nav {
    height: auto;
    padding: 0 10px;
    margin: 0 auto;
    max-width: 1210px;
    min-height: $header-height;
}
.header-global .wrapper-header {
    height: auto;
    padding: 0;
    max-width: 1200px;
    padding-left: 195px;
    box-sizing: border-box;
    @media screen and (max-width: $large-responsive) {
        display: none;
        padding-left: 0;
        position: absolute;
        right: 0;
        top: 79px;
        background-color: rgba(0,56,116,1);
        width: auto;
    }
    &:after{
        display: none;
    }
}
.header-global .nav-global {
    float: none;
    margin-top: 0;
}
.header-global .nav-global li a {
    color: #fff;
}
.header-global .user {
    float: none;
    display: flex;
    align-items: center;
}
.header-global .primary>a:hover, 
.header-global .primary>a:focus, 
.header-global .primary>a:active {
    background: none;
}
.header-global .primary>a {
    box-shadow: none;
}
.nav-global-04 {
    margin-left: 5px;
    @media screen and (max-width: $large-responsive) {
        margin-left: 0;
    }
}

.header-global .nav-global div a {
    padding: 0;
}
.header-global .nav-global li a{
    box-sizing: border-box;
    border-radius: 2px;
    border: 2px solid #ffffff;
    min-width: 136px;
    text-align: center;
    padding: 11px 25px;
    background-color: transparent;
    &:hover{
        color: #ffffff;
        background-color: $active-color;
        text-decoration: none;
        border-color: $active-color;
    }
}
.header-global .user .user-link .label-username {
    color: #fff;
    font: 14px/1.2 "museosans500",Arial, sans-serif;
    text-shadow: none;
}
body a.doc-link {
    color: #fff;
    font: 14px/1.2 "museosans500",Arial, sans-serif;
    text-transform: capitalize;
    &:visited {
        color: #fff;
        text-decoration: none;
    }
    &:hover {
        color: #fff;
        text-decoration: none;
    }
    @media screen and (max-width: $large-responsive) {
        margin-right: 10px;
    }
}
.wrapper-header {
    .theme-btn {
        &:hover{
            background-color: transparent;
            color: $active-color;
            text-decoration: none;
        }     
    }
}
.header-global .theme-btn__active {
    box-sizing: border-box;
    border-radius: 2px;
    border: 2px solid #ffffff;
    min-width: 136px;
    text-align: center;
    padding: 11px 25px;
    margin-right: 13vw;
    background-color: transparent;
    text-decoration: none;
    transition: background-color 0.1s linear 0s;
    @media screen and (max-width: $large-responsive) {
        margin-right: 0;
        display: block;
    }
    &:hover {
        color: #ffffff;
        background-color: $active-color;
        text-decoration: none;
        border-color: $active-color;
    }
    &:focus {
        color: #ffffff;
    }
}
.header-global .nav-courseware li {
    @media screen and (max-width: $large-responsive) {
        display: block;
    }
}
.nav-holder {
    .doc-link {
        margin: 15px;
        outline: 0;
        &:active {
            outline: 0;
        }
    }
}
.home {
    background-color: #eaeaea;
    padding-bottom: 40px;
}
.home>header {
    height: 480px;
    margin-top: -79px;
    background: #003874 url(../images/banner.jpg) no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    text-align: center;
}
.home>header .outer-wrapper {
    display: none;
}
.courses-container .courses .course .course-image .cover-image .learn-more {
    background: transparent;
    font-size: 14px;
    border: 2px solid #fff;
}
.highlighted-courses .courses .course:focus,
.highlighted-courses .courses .course:hover {
    box-shadow: none;
}
.courses-container .courses .course {
    box-shadow: none;
    border: none;
    border-bottom: 5px solid transparent;
}
.highlighted-courses .courses .course:hover {
    border-color: transparent;
}
.highlighted-courses .courses .course {
    border-color: $active-color;
}
.courses-container .courses .course:hover .cover-image:before,
.courses-container .courses .course:focus .cover-image:before {
    opacity: 0.5;
}
.courses-container .courses .course .course-info .course-organization {
    padding: 15px 15px 2px 15px;
}
.courses-container .courses .course .course-image .cover-image:before {
    background: #003874;
}
.courses-container .courses .course .course-info .course-title {
    margin: 0 0 45px 0;
    color: rgb(145, 145, 145);
    text-transform: uppercase;
}
.courses-container .courses .course .course-info .course-date {
    font-size: 12px;
}
.highlighted-courses .courses .course a {
    cursor: pointer;
    position: static;
}
.courses-container .courses .course .course-info .course-date,
.courses-container .courses .course .course-info .course-code,
.courses-container .courses .course .course-info .course-organization {
    color: rgb(93, 93, 93);
}
.courses-container .courses .course .course-info .course-code,
.courses-container .courses .course .course-info .course-organization {
    text-transform: uppercase;
}
.wrapper-footer {
    background: #003874;
    padding: 40px 0 65px 0;
}
.footer-holder {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    @media screen and (max-width: 600px) {
        align-items: center;
        flex-direction: column;
    }
}
.footer-raccoon {
    font-size: 10px;
    line-height: 1.2;
    color: rgb(255, 255, 255);
    margin: 0;
}
.wrapper-footer footer#footer-openedx .footer-list_link {
    color: #fff;
    text-transform: uppercase;
    font: 14px/1.2 "museosans500",Arial, sans-serif;
}
.wrapper-footer footer#footer-openedx a:hover {
    border: none;
    color: $active-color;
    text-decoration: none;
}
.wrapper-footer footer#footer-openedx {
    padding: 0 5px;
    max-width: 1210px;
}
.courses-container .courses .course .course-image .cover-image img {
    min-height: 160px;
}
.header-global .wrapper-header .course-header {
    display: none;
}
.dropdown-menu-container .menu-image {
    max-width: 40px;
    border-radius: 10%;
}
.dropdown-menu-container .menu-title {
    color: #fff;
    text-transform: none;
    margin: 15px 5px 15px 15px;
}
.dropdown-menu-container .menu-button {
    background: #fff;
    border-radius: 5px;
    margin-top: 0;
}
.dropdown-menu-container {
    display: flex;
    align-items: center;
}
.header-global .wrapper-header .list-inline.nav-global {
    margin-top: 0;
}
.find-courses .courses .course {
    border-color: #fbad18;
}
.find-courses .courses .course:hover,
.find-courses .courses .course:focus {
    background: #f5f5f5;
    border-color: #bebebe;
    box-shadow: none;
}
.courses-container .courses .course:hover,
.courses-container .courses .course {
    box-shadow: none;
    border: none;
    border-bottom: 5px solid #fbad18;
}
.courses-container .courses .course:hover {
    border-bottom: 5px solid transparent;
}
.header-global .user .dropdown {
    min-height: 25px;
}
.header-global .nav-global li a,
.header-global .nav-global div a {
    font-weight: normal;
}
.header-global .nav-global li a:focus,
.header-global .nav-global li a:active {
    color: #fff;
}
.header-app .logo {
    width: 17.25rem;
}
html body.view-in-course .header-global .wrapper-header {
    padding-left: 195px;
    padding-right: 0;
}
body .xmodule_display.xmodule_SequenceModule .sequence-nav ol li {
    min-width: 58.1px;
}
.nav-holder .dropdown-menu-container .menu-title { 
    margin: 15px 5px 15px 0; 
} 
body a.doc-link::-moz-focus-inner{ 
    border: none; 
}
.courses-listing {
    display: flex;
    flex-wrap: wrap;
}
.find-courses .courses-container .courses .courses-listing .courses-listing-item,
.courses-container .courses .courses-listing .courses-listing-item {
    height: auto;
    min-height: 360px;
    max-height: none;
}
.courses-container .courses .course {
    height: 100%;
}
.courses-container .courses .course .course-info .course-title {
    min-height: 72px;
    height: auto;
}
.courses-container .courses .course .course-info {
    height: auto;
    min-height: 150px;
}
.courses-container .courses .course .course-info .course-date {
    position: absolute;
    bottom: 0;
}
.find-courses .courses .course a {
    height: 100%;
}
body .window-wrap {
    .course-info .details .inner-wrapper table td,
    div.info-wrapper table td {
        border-right: 1px solid #aaa;
        border-bottom: 1px solid #aaa;
    }
    .course-info .details .inner-wrapper table td:last-child,
    div.info-wrapper table td:last-child {
        border-right: none;
    }
    .course-info .details .inner-wrapper table tr:last-child td,
    div.info-wrapper table tr:last-child td {
        border-bottom: none;
    }
}