body {
    .hamburger {
        right: calc(100% - 60px);
    }
    .home>header .title:last-child {
        margin-left: auto;
    }
}
.view-wiki, .rtl {
    .theme-footer_row {
        flex-direction: row-reverse;
        width: 100%;
    }
    .theme-content .home .outer-wrapper .course-search .search-button {
        right: calc(100% - 56px);
    }
    .theme-content .home .outer-wrapper .course-search .search-input {
        padding: 0 19px 0 56px;
    }
    .dropdown-menu-container .menu-title {
        display: flex;
        align-items: center;
        .label-username {
            margin: 13px 5px 13px 15px;
        }
    }

    .dashboard .my-courses .course .details .course-actions .action,
    .wrapper-course-material .course-tabs li {
        float: right;
    }

    .account-settings-sections .section .account-settings-section-body .u-field .u-field-message {
        padding: 24px 100px 0 0;
    }

    .search-bar .search-field {
        padding-left: 40px;
    }

}
.wiki .accordion-toggle {
    float: right !important;
}
body section.wiki .main-article,
body section.wiki .breadcrumb li,
body .wrapper-course-material .course-tabs li {
    float: right;
}
.wiki .accordion-toggle,
section.wiki label,
body section.wiki p,
body section.wiki h1,
body section.wiki .breadcrumb li a,
body section.wiki .wiki-wrapper .article-functions,
body .theme-footer_list li {
    text-align: right;
}
section.wiki .add-article-btn.btn.pull-left {
    float: left;
}
body section.wiki .breadcrumb li:after {
    display: none;
}
body section.wiki .main-article {
    padding: 40px;
}
section.wiki .CodeMirror-scroll {
    margin-right: 0;
    text-align: right;
}
.wiki #div_id_summary.control-group .controls {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
section.wiki #hint_id_content {
    position: relative;
}
.btn-link .icon {
    margin-left: 0;
}
.view-wiki {
    .theme-footer_row {
        flex-direction: row;
        width: 100%;
    }
}
body div.info-wrapper section.updates div article .date {
    float: none;
}
body .course-index .accordion .course-navigation .button-chapter .group-heading .icon {
    right: 7px;
}
.sysadmin-dashboard-content ol {
    margin-right: 20px;
}
.sysadmin-dashboard-wrapper .list-input li {
    list-style: none;
}
body .course-talk-widget,
body .theme-course-info .course-summary {
    margin-right: 0;
    margin-left: 20px;
}
body .course-card .course-details {
    padding-left: 0;
    padding-right: 30px;
}
body .program-card .card-link .banner-image-container .banner-image {
    transform: translate(50%, 0);
}
.nv-legendWrap .nv-legend-symbol {
    transform: translate(20px, 0);
}
.program-header .crumb-link {
    margin: 0 10px;
}
body .login-register .login-provider.button-oa2-facebook {
    padding-left: 10px;
}
body .header-global .wrapper-header .wrapper-user-menu {
    display: flex;
}
body .date-summary-container .date-summary-todays-date {
    border-right: 3px solid #75c9ce;
}
body .social-icons_item {
    &:first-child {
        margin-left: 5px;
    }
    &:last-child {
        margin-left: 0;
    }
}