.view-wiki, .rtl {
    .theme-footer_row {
        flex-direction: row-reverse;
        width: 100%;
    }
    .theme-content .home .outer-wrapper .course-search .search-button {
        right: calc(100% - 56px);
    }
    .theme-content .home .outer-wrapper .course-search .search-input {
        padding: 0 19px 0 56px;
    }
    .menu-action {
        right: calc(100% - 80px);
    }
    .main-header_wrap {
        @media screen and (max-width: 1090px) {
            left: 0
        }
    }
    .dropdown-menu-container .menu-title {
        display: flex;
        align-items: center;
        .label-username {
            margin: 13px 5px 13px 15px;
        }
    }

    .dashboard .my-courses .course .details .course-actions .action,
    .wrapper-course-material .course-tabs li {
        float: right;
    }

    .account-settings-sections .section .account-settings-section-body .u-field .u-field-message {
        padding: 24px 100px 0 0;
    }

    .search-bar .search-field {
        padding-left: 40px;
    }

}
.wiki .accordion-toggle {
    float: right !important;
}
body section.wiki .main-article,
body section.wiki .breadcrumb li,
body .wrapper-course-material .course-tabs li {
    float: right;
}
.wiki .accordion-toggle,
section.wiki label,
body section.wiki p,
body section.wiki h1,
body section.wiki .breadcrumb li a,
body section.wiki .wiki-wrapper .article-functions,
body .theme-footer_list li {
    text-align: right;
}
section.wiki .add-article-btn.btn.pull-left {
    float: left;
}
body section.wiki .breadcrumb li:after {
    display: none;
}
body section.wiki .main-article {
    padding: 40px;
}
section.wiki .CodeMirror-scroll {
    margin-right: 0;
    text-align: right;
}
.wiki #div_id_summary.control-group .controls {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
section.wiki #hint_id_content {
    position: relative;
}
.btn-link .icon {
    margin-left: 0;
}
.view-wiki {
    .theme-footer_row {
        flex-direction: row;
        width: 100%;
    }
}
body div.info-wrapper section.updates div article .date {
    float: none;
}
body .course-index .accordion .course-navigation .button-chapter .group-heading .icon {
    right: 100%;
    margin-right: -21px;
    transform: rotate(-180deg);
    width: 5px;
}