.my-hide {
    display: none !important;
}
html,body,.home {
    background: #f1f1f1;
}
.header-global {
    height: auto;
    background: $header-color;
    padding: 17px 10px;
    position: relative;
    box-sizing: border-box;
    border-bottom: none;
    box-shadow: 0 1px 5px 0 rgba(164, 164, 164, 0.5);
    z-index: 100;

    .wrapper-header {
        height: auto;
        padding: 0;
        max-width: 1200px;
    }
    .nav-global {
        width: 100%;
        @media screen and (min-width:760px ) {
            width: auto;
        }

        li {
            width: 100%;
            text-align: center;
            @media screen and (min-width:760px ) {
                width: auto;
                text-align: left;
            }

            a {
                color: $header-nav-link-color;

                &:hover {
                    color: $header-nav-link-color-hover;
                }
            }
        } 
        .tab-nav-item {
            .active {
                border: none !important;
            }
            .tab-nav-link {
                color: $header-nav-link-color;
                padding: 5px;

                &:hover {
                    color: $header-nav-link-color-hover;
                    border: none;
                }
            }
        }
    }
    .nav-courseware {
        width: 100%;
        @media screen and (min-width:760px ) {
            width: auto;
        }

        li {
            width: 100%;
            text-align: center;
            margin: 0 0 3px;
            @media screen and (min-width:760px ) {
                width: auto;
                text-align: left;
            }

            a {
                width: 100%;
            }

            .btn {
                background: $theme-btn-bg;
                box-shadow: none;
                color: $theme-btn-text-color;
                text-transform: uppercase;
                font: 18px 'Open Sans', Arial, sans-serif;
                padding: 7px 23px;

                &:focus {
                    background: $theme-btn-bg;
                }
                &:hover {
                    background: $theme-btn-bg-hover;
                }
            }
        }
    }
    .user {
        display: flex;
        width: 100%;
        justify-content: center;
        @media screen and (min-width:760px ) {
            display: block;
            width: auto;
        }
        .user-link .label-username {
            text-shadow: none;
            margin: 13px 5px 13px 15px;

            &:hover {
                color: #3c3c3c;
            }
        }
        .dropdown {
            background: none;
            margin: 4px 0 0;
            width: 29px;
            height: 25px;
            box-sizing: border-box;
        }
        .dropdown-menu li>a {
            color: $dropdown-menu-color;

            &:focus {
                color: $dropdown-menu-color;
                text-decoration: none;
            }
            &:hover {
                color: $dropdown-menu-color-hover;
                text-decoration: none;
            }
        }
    }
    .primary>a {
        box-shadow: none;

        &:focus,
        &:hover {
            background: none;
        }
    }
}
.course-info header.course-profile {
    height: auto;
    margin-top: 0;
    padding: 20px 0;
}
.doc-link {
    color: $header-nav-link-color !important;
    margin: 12px 0;
    line-height: 16px;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    @media screen and (min-width:760px ) {
        width: auto;
        text-align: left;
        margin: 12px 15px;
    }

    &:visited {
        color: $header-nav-link-color !important;
    }

    &:focus,
    &:hover {
        color: $header-nav-link-color-hover !important;
        text-decoration: none;
    }
}
.wrapper-footer {
    background: $footer-color;

    footer#footer-openedx {
        a:hover,
        a:focus {
            text-decoration: none !important;
            border: none !important;
        }
        .colophon .nav-colophon li a {
            color: $footer-nav-link-color;
            
            &:focus,
            &:hover {
                border: none !important;
                text-decoration: none !important;
                color: $footer-nav-link-color-hover !important;
            }
        }
    }
}
// links
body section.wiki .nav-tabs li.active a,
body section.wiki .breadcrumb li a,
body section.wiki .nav-tabs a,
body div.info-wrapper section.handouts ol li a,
body a.progress-link,
body .sections a,
body .xmodule_display.xmodule_HtmlModule a:link,
body .xmodule_display.xmodule_HtmlModule a,
body .course-index .accordion .course-navigation .button-chapter,
body .btn-link,
div.info-wrapper section.updates div a,
body div.info-wrapper section.handouts a,
body div.info-wrapper section.updates div article .toggle-visibility-button,
.dashboard .my-courses .course .details .course-title a,
.supplemental-link a,
.login-register .form-field .field-link,
body a {
    color: $theme-link;

    &:hover {
        color: $theme-link-hover;
        text-decoration: none !important;
    }
}
body .course-index .accordion .course-navigation .chapter-content-container .chapter-menu .menu-item.graded .menu-icon,
.courses-container .courses .course .course-info .course-title {
    color: $theme-link;
}
body .wrapper-course-material .course-tabs li a {
    color: $theme-link !important;
    
    &:focus,
    &:hover,
    &.active {
        color: $theme-link !important;
        border-color: $theme-link !important;
    }
}
body .wrapper-account-settings .wrapper-header .account-nav button:hover {
    border-color: $theme-link !important;
}
// end links
// btns
.login-register {
    .action-primary {
        background: $theme-btn-bg;
        box-shadow: 0 2px 1px 0 $theme-btn-shadow;
        color: $theme-btn-text-color;

        &:active,
        &:focus {
            background: $theme-btn-bg;
        }
        &:hover {
            background: $theme-btn-bg-hover;
        }
    }
    .nav-btn {
        background: $theme-btn-white-bg;
        color: $theme-btn-white-text-color;
        border-color: $theme-btn-white-border;

        &:active,
        &:focus {
            background: $theme-btn-white-bg;
        }
        &:hover {
            color: $theme-btn-white-text-color-hover;
            background: $theme-btn-white-bg-hover;
        }
    }
}
.login-register .login-provider,
body .dashboard .my-courses .course .details .enter-course.archived,
.account-settings-sections .section .account-settings-section-body .u-field .field .u-field-link,
body .discussion-module .btn,
.courseware-bookmarks-button .bookmarks-list-button,
.dashboard .my-courses .course .details .enter-course {
    background: $theme-btn-white-bg;
    color: $theme-btn-white-text-color;
    border-color: $theme-btn-white-border;
    
    &:active,
    &:focus {
        background: $theme-btn-white-bg;
    }
    &:hover {
        color: $theme-btn-white-text-color-hover;
        background: $theme-btn-white-bg-hover !important;
    }
}
.empty-dashboard-message a,
body .instructor-dashboard-wrapper-2 .customBrowseBtn .file-browse .browse,
body .btn-blue,
body .instructor-dashboard-wrapper-2 .btn-blue,
body .instructor-dashboard-wrapper-2 section.idash-section#cohort_management .file-upload-form .action-submit,
body .instructor-dashboard-wrapper-2 section.idash-section#cohort_management .form-submit,
body .instructor-dashboard-wrapper-2 section.idash-section#cohort_management .cohort-management-nav .action-create,
body .wrapper-msg.wrapper-auto-cert .auto-cert-message .has-actions .msg-actions .btn,
body .dashboard .my-courses .course .wrapper-messages-primary .message.message-status.course-status-certavailable .actions-primary .action-certificate .btn,
body section.wiki .btn.btn-primary,
.forum-new-post-form .post-type-input:checked+.post-type-label,
body .btn-brand,
body .home .page-header-secondary,
body .course-info header.course-profile .intro-inner-wrapper .intro .main-cta strong,
body .instructor-dashboard-wrapper-2 section.idash-section#membership .member-lists-management .auth-list-container .member-list-widget input[type="button"].add,
body .instructor-dashboard-content-2 input[type="button"],
body .search-bar .search-button {
    text-shadow: none;
    box-shadow: none;
    border: none;
    background: $theme-btn-bg;
    color: $theme-btn-text-color;
    
    &:focus:not(:disabled),
    &:active,
    &:focus {
        background: $theme-btn-bg;
        border: none;
        box-shadow: none;
    }
    &:hover:not(:disabled),
    &:hover {
        background: $theme-btn-bg-hover !important;
        box-shadow: none;
        cursor: pointer;
        color: $theme-btn-text-color;
    }
}
body .instructor-dashboard-wrapper-2 section.idash-section#membership .member-lists-management .auth-list-container .member-list-widget input[type="button"].add:hover:not(:disabled),
body .instructor-dashboard-content-2 input[type="button"]:hover:not(:disabled) {
    box-shadow: none;
}
input[type="submit"], input[type="button"], button, .button,
.course-info header.course-profile .intro-inner-wrapper .intro .main-cta a.register {
    background: $theme-btn-bg;
    box-shadow: 0 2px 1px 0 $theme-btn-shadow;
    color: $theme-btn-text-color;
    
    &:active,
    &:focus {
        background: $theme-btn-bg;
    }
    &:hover {
        background: $theme-btn-bg-hover;
    }
}
input[type="submit"]:hover:not(:disabled), input[type="button"]:hover:not(:disabled), button:hover:not(:disabled), .button:hover:not(:disabled),
.course-info header.course-profile .intro-inner-wrapper .intro .main-cta a.register:hover:not(:disabled) {
    background: $theme-btn-bg-hover;
}
// end btns
.home>header {
    background-image: url('../images/background.jpg');
    height: 442px;
    background-position: center;
    position: relative;
    background-color: #040404;
    background-position: 0 0;
    display: table;
}
.login-register .login-provider {
    .icon {
        background: $theme-btn-bg;
    }
    span {
        color: $theme-btn-white-text-color;
    }
}
.home>header .title {
    margin: 0 auto;
    width: 100%;
    box-shadow: none;
    background: transparent;
    float: none;
    padding: 0 30px;
    position: relative;
    top: 34px;
    &:last-child {
        margin-right: auto;
    }
    .course-search {
        display: none;
    }
    &>.heading-group {
        text-align: center;
        padding-bottom: 15px;
        p,
        h1 {
            text-align: center;
            color: rgb(255, 255, 255);
            text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.7);
        }
        h1 {
            font: 600 54px/1 'Open Sans', Arial, sans-serif;
            letter-spacing: 3px;
            margin-bottom: 20px;
        }
        p {
            font: 36px/1 'Open Sans', Arial, sans-serif;
            margin-bottom: 35px;
        }
    }
}
.home>header .outer-wrapper {
    animation: none;
    text-align: center;
    display: table-cell;
    vertical-align: bottom;
}
a.banner-btn {
    border-radius: 3px;
    background-color: $theme-btn-bg;
    border: 1px solid $theme-btn-border-color;
    color: #fff;
    padding: 10px 19px;
    display: inline-block;
    text-transform: uppercase;
    font: 300 15px/1 'Open Sans', sans-serif;
    &:hover,
    &:focus {
        background-color: $theme-btn-bg-hover;
        border-color: $theme-btn-border-color-hover;
        color: #fff;
        text-decoration: none;
    }
}
sup.banner-sup {
    font-size: 24px;
    top: -0.9em;
}
.header-global .nav-courseware li .btn:focus, 
.header-global .nav-courseware div .btn:focus, 
.login .form-actions button[type="submit"]:focus, 
.register .form-actions button[type="submit"]:focus, 
.passwordreset .form-actions button[type="submit"]:focus, 
#forgot-password-modal #password-reset .form-actions button[type="submit"]:focus, 
.view-survey .action-primary:focus {
    box-shadow: none;
}
body {
    .courses-container .courses .course .course-info .course-date,
    .courses-container .courses .course .course-info .course-code,
    .courses-container .courses .course .course-info .course-organization {
        color: rgb(46, 46, 46);
        font: 400 14px/1.2 'Open Sans', Arial, sans-serif;
    }
    .courses-container .courses .course .course-info .course-title,
    .courses-container .courses .course .course-info .course-code,
    .courses-container .courses .course .course-info .course-organization {
        text-transform: uppercase;
    }
    .courses-container .courses .course .course-info .course-title {
        color: rgb(0, 117, 181);
        font: 400 18px/1.2 'Open Sans', Arial, sans-serif;
    }
    .courses-container .courses .course {
        border-width: 0 0 3px 0;
        box-shadow: none;
        border-bottom-color: #1a7098;
        background: #fff;
    }
    .highlighted-courses .courses .course:hover, 
    .highlighted-courses .courses .course:focus, 
    .find-courses .courses .course:hover, 
    .find-courses .courses .course:focus {
        box-shadow: none;
        border-color: #fff;
        background: #fff;
    }
    .courses-container .courses .course .course-image .cover-image .learn-more {
        background: transparent;
        border: 2px solid #fff;
        color: #fff;
        font: 18px/50px 'Open Sans', Arial, sans-serif;
        text-transform: uppercase;
    }
}