.header-global {
    z-index: 100;
}
.header-global .wrapper-header {
    box-sizing: border-box;
    padding-left: 0;
    padding-right: 22px;
    max-width: 1200px;
    padding-top: 0;
    .header-flex {
        height: 77px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &:after {
        display: none;
    }
}
.header-global .nav-courseware li .btn {
    box-shadow: none;
    background: #089209;
    padding-top: 11px;
    padding-bottom: 11px;
    min-width: 106px;
}
.header-global h1.logo {
    margin: 0;
        @media screen and (max-width: 400px) {
            margin-bottom: 5px;
        }
    img {
        margin-top: -10px;
    }
}
.header-global .nav-courseware li .btn:hover,
.header-global .nav-courseware li .btn:active,
.header-global .nav-courseware li .btn:focus {
    background-color: #09b10a;
}
.home > header {
    height: 440px;
    background: #292c2e url(../images/banner.jpg) no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    text-align: center;
    .outer-wrapper {
        box-sizing: border-box;
        animation-name: none;
        padding: 0 15px;
        width: 100%;
    }
    .title {
        box-shadow: none;
        background: none;
        float: none;
        margin-left: 0;
        width: 100%;
        padding: 0;
        min-height: auto;
        .course-search {
            max-width: 500px;
            width: 100%;
            padding: 0;
            margin: 0 auto;
            position: relative;
            top: 40px;
            .search-button {
                background: none;
                border: none;
                right: 0;
                &:hover {
                    background: none;
                }
                &:focus {
                    background: none;
                }
            }
            .search-input {
                border-radius: 4px;
                background-color: rgba(255, 255, 255, 0.4);
                border: 1px solid rgb(255, 255, 255);
                color: #fff;
                padding-left: 20px;
                font-size: 16px;
                &:focus {
                    border-color: rgb(255, 255, 255);
                }
                &::-webkit-input-placeholder {
                    color: #fff;
                }
                &::-moz-placeholder {
                    color: #fff;
                }
                &:-ms-input-placeholder {
                    color: #fff;
                }
                &:-moz-placeholder {
                    color: #fff;
                }
            }
        }
        .heading-group {
            padding-bottom: 0;
            margin-bottom: 40px;
            @media screen and (max-width: $large-responsive) {
                margin-bottom: 10px;
            }
            h1,p {
                color: rgb(255, 255, 255);
                line-height: 1.2;
                text-align: center;
                text-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
            }
            p {
                font-size: 30px;
                font-style: normal;
                @media screen and (max-width: $large-responsive) {
                    font-size: 28px;
                }
            }
            h1 {
                font: 50px/1.2 "Roboto-Regular",Arial, sans-serif;
                margin-bottom: 10px;
                @media screen and (max-width: $large-responsive) {
                    font-size: 38px;
                }
            }
            strong {
                font-family: "Roboto-Bold", Arial, sans-serif;
            }
        }
    }
}
.wrapper-footer {
    background-color: #009201;
    padding: 0;
    box-shadow: none;
    border-top: none;
}
.header-global .nav-global {
    visibility: hidden;
    @media screen and (max-width: $large-responsive) {
        display: none;
    }
}
.wrapper-footer footer#footer-openedx .copyright,
.wrapper-footer footer#footer-openedx .colophon .nav-colophon,
.wrapper-footer footer#footer-openedx .wrapper-logo {
    display: none;
}
.courses-container .courses .course .course-image .cover-image .learn-more {
    border: 3px solid #fff;
    background: transparent;
}
.courses-container .courses .course,
.highlighted-courses .courses .course {
    border: none;
    box-shadow: none;
    border-bottom: 3px solid #f24167;
    &:hover {
        box-shadow: none;
        border-bottom: 3px solid #fff;
    }
}
.courses-container .courses .course {
    background: #fff;
    &:hover {
        background: #fff;
    }
}
.home .course-wrap .highlighted-courses {
    margin: 0;
}
.courses-container .courses .course .course-info .course-date,
.courses-container .courses .course .course-info .course-code,
.courses-container .courses .course .course-info .course-organization {
    color: rgb(46, 46, 46);
    text-transform: uppercase;
    font: 14px/1.2 Helvetica, Arial, sans-serif;
}
.courses-container .courses .course .course-info .course-date {
    text-transform: none;
}
.courses-container .courses .course .course-info .course-title {
    color: #919191;
    text-transform: uppercase;
    font: 18px/1.2 Helvetica, Arial, sans-serif;
    margin-bottom: 45px;
    letter-spacing: -1px;
}
.course-info header.course-profile {
    min-height: 280px;
    padding-bottom: 100px;
    height: auto;
}
.courses-container .courses .course .course-image .cover-image img {
    min-height: 160px;
}
.courses-container .courses .course .course-info .course-organization {
    padding-top: 14px;
}
.wrapper-footer footer#footer-openedx .nav-legal li a{
    font: 14px/1.2 Verdana, Arial, sans-serif;
    color: #fff;
    text-decoration: none;
    &:active,
    &:focus,
    &:hover {
        border-bottom: none;
    }
}
.wrapper-footer footer#footer-openedx {
    min-height: 112px;
    padding: 40px 60px 40px 40px;
    display: flex;
    align-items: center; 
    @media screen and (max-width: $large-responsive) {
        flex-direction: column;
        padding: 40px;
    }
}
.wrapper-footer footer#footer-openedx .nav-legal li {
    margin-right: 10px;
    @media screen and (max-width: $large-responsive) {
        display: block;
        margin-right: 0;
    }
}
.wrapper-footer footer#footer-openedx .footer-about-openedx a {
    margin-top: -19px;
    @media screen and (max-width: $large-responsive) {
        margin-top: 0;
        float: none;
    }
}
.wrapper-footer footer#footer-openedx a:active,
.wrapper-footer footer#footer-openedx a:focus {
    border-bottom: none;
}
.wrapper-footer footer#footer-openedx .footer-about-openedx {
    width: 217px;
}
.wrapper-footer footer#footer-openedx .colophon {
    width: calc(100% - 217px);
    padding-right: 20px;
}
.wrapper-footer footer#footer-openedx .footer-about-openedx,
.wrapper-footer footer#footer-openedx .colophon {
    @media screen and (max-width: $large-responsive) {
        width: 100%;
        padding-right: 0;
    }
}
.wrapper-footer footer#footer-openedx .colophon {
    margin-right: 0;
}
.wrapper-footer footer#footer-openedx .nav-legal {
    line-height: 22px;
    @media screen and (max-width: $large-responsive) {
        text-align: center;
        margin-right: 0;
        margin-bottom: 10px;
    }
}
.footer-about-openedx p {
    text-align: center;
}
.header-global .wrapper-header .course-header {
    display: none;
}
.wrapper-footer footer#footer-openedx .colophon,
.wrapper-footer footer#footer-openedx .footer-about-openedx {
    margin-right: 0;
    margin-left: 0;
}
.wrapper-header a:hover,
.wrapper-header a:focus,
.wrapper-header a:active {
    text-decoration: none;
}
.header-global .nav-global.authenticated {
    display: block;
    visibility: visible;
}
.header-global .wrapper-header .list-inline .item {
    font-size: 0.875em;
}

.search-bar .search-button {
    background: $theme-color;
    &:focus,
    &:active,
    &:hover {
        background: $theme-color!important;
    }
}
.header-flex .nav-global-01 li a {
    color: $theme-color;
    &:hover {
        color: $theme-color;
    }
}
    .btn-link,
    .course-index .accordion .course-navigation .button-chapter,
    .course-title a,
    .header-global .nav-global li a {
        color: $theme-color;
        &:focus,
        &:active,
        &:hover {
            color: $theme-color;
        }
    }
    .updates a,
    .chapters a,
    .course-wrapper p a, .course-wrapper p a:visited,
    .supplemental-link a,
    .login-register .form-field .field-link {
        color: $theme-color;
        &:hover {
            color: $theme-color;
        }
    }
    .course-info .container .wrap-instructor-info .instructor-info-action {
        color: $theme-color;
        &:hover {
            background: $theme-color;
            color: #fff;
        }
    }
    .instructor-dashboard-wrapper-2 section.idash-section#membership .member-lists-management .auth-list-container .member-list-widget input[type="button"].add,
    .course-info header.course-profile .intro-inner-wrapper .intro .main-cta strong,
    .intro-inner-wrapper button,
    .login-register .action-primary {
        background: $theme-color;
        box-shadow: none;
        text-shadow: none;
        box-sizing: border-box;
        border: 1px solid $theme-color;
        &:focus,
        &:active,
        &:hover {
            color: $theme-color;
            background: transparent;
            box-shadow: none;
        }
    }
    .course-info header.course-profile .intro-inner-wrapper .intro .main-cta strong:active:not(:disabled),
    .course-info header.course-profile .intro-inner-wrapper .intro .main-cta strong:focus:not(:disabled),
    .course-info header.course-profile .intro-inner-wrapper .intro .main-cta strong:hover:not(:disabled) {
            color: $theme-color;
            background: transparent;
            box-shadow: none;
    }
    .account-settings-sections .section .account-settings-section-body .u-field .field select ~ .icon-caret-down:after {
        border-top: 7px solid $theme-color;
    }
    .wrapper-account-settings .wrapper-header .account-nav button:hover, .wrapper-account-settings .wrapper-header .account-nav button:focus {
            border-bottom: 4px solid $theme-color !important;
    }
    .account-settings-sections .section .account-settings-section-body .u-field .field .u-field-link,
    .courseware-bookmarks-button .bookmarks-list-button,
    .dashboard .my-courses .course .details .enter-course,
    .login-register .nav-btn {
        border: 1px solid $theme-color;
        color: $theme-color;
        background: transparent;
        &:focus,
        &:active,
        &:hover {
            box-shadow: none;
            background: $theme-color;
            color: #fff;
        }
    }