html,
body {
    line-height: 1em;
}
.wrapper-footer footer#footer-openedx .footer-about-openedx a, 
.wrapper-footer footer#footer-openedx .footer-about-openedx a:active, 
.wrapper-footer footer#footer-openedx .footer-about-openedx a:focus {
    border-bottom: none;
    outline: none;
    box-shadow: none;
}

body {
    .about {
        h1 {
            font: 28px/55px "robotobold", Arial, Helvetica, sans-serif;
            color: #007db8;
            text-transform: uppercase;
        }
        p {
            line-height: 23px;
            color: #7f848c;
        }
    }
}
body .about p {
    color: #e6e6e6;
}
input[type='submit']:not(:disabled):active, 
input[type='submit']:not(:disabled):focus,
input[type='button']:not(:disabled):active,
input[type='button']:not(:disabled):focus,
button:not(:disabled):active,
button:not(:disabled):focus,
:not(:disabled).button:active,
:not(:disabled).button:focus {
    box-shadow: none;
}