// custom theme

body.index-page .header-global {
	@media screen and (min-width: 760px) {
		position: absolute;
	}
}

body .header-global.header-global__course,
body.view-in-course .header-global .wrapper-header, body.view-in-course .header-global.slim .wrapper-header {
	padding: 0;
}

.nav-holder {
	background: none !important;
	box-shadow: none !important;
	border: none !important;
}

.user-links {
	max-width: 1200px;
	margin: 0 auto;
	background: #d24d1a;
	overflow: hidden;
	&__container {
		max-width: 1000px !important;
		padding: 0 15px !important;
		margin: 0 auto;
		overflow: hidden;
	}

	.nav-courseware {
		float: right;
		margin: 7px 0 !important;
		li {
			margin-left: 30px !important;
			a {
				font-size: 14px;
				color: #e9b4a7;
				&:hover {
					color: #fff;
				}
			}
		}
	}
	.border {
		height: 31px;
	}
}

.header-global .nav-global:not(.authenticated) {
	float: right;
}
.header-global .nav-global li a {
	padding: 5px 0;
}
.header-global .nav-global li a:hover {
	text-decoration: underline !important;
}

.flex {
	padding: 13px 0;
	@media screen and (min-width:760px ) {
		margin-right: -10px;
	}
}

.greeting {
	max-width: 1200px;
	margin: -83px auto 60px;
	background: #fff;
	color: #1f1f1f;
	padding: 60px 0 42px;
	position: relative;
	@media screen and (max-width: 759px) {
		margin: 0 auto 40px;
		padding: 42px 0;
	}
	&__container {
		max-width: 1100px;
		padding: 0 15px;
		margin: 0 auto;
		@media screen and (max-width: 767px) {
			display: block;
		}
	}
	&__left-title {
		color: #1f1f1f;
		font-size: 36px;
		line-height: 120%;
		text-transform: uppercase;
		margin-right: 50px;
		display: block;
		font-family: 'NeueHaasUnicaPro-Black';
		float: left;
		@media screen and (min-width: 1200px) {
			margin-right: 70px;
		}
		@media screen and (max-width: 767px) {
			margin: 0 0 30px;
		}
	}
	&__right {
		overflow: hidden;
	}
	&__right-title {
		display: block;
		font-size: 22px;
		line-height: 1.2;
		margin-bottom: 25px;
	}
	&__right-text {
		font-size: 16px;
		line-height: 22px;
	}
}

.copyright-text {
	text-align: center;
	color: #fff;
	font-size: 16px;
}

.courses-title {
	display: block;
	text-align: center;
	color: #979797;
	font-size: 26px;
	margin-bottom: 43px;
}

.courses-list {
	margin: 0;
	padding: 0;

	&__item {
		display: flex !important;
		justify-content: space-between;
		margin: 0 0 40px !important;
		float: none !important;
		width: 100% !important;
		max-height: none !important;
		@media screen and (max-width: 767px) {
			display: block !important;
		}
	}
}

body .left-full-info {
	padding: 38px 40px 32px;
	background: #fff;
	color: #1f1f1f;
	width: 100%;
	box-sizing: border-box;
	background-origin: border-box;

	&__title {
		display: block;
		position: relative;
		padding-bottom: 10px;
		font-size: 20px;
		line-height: 22px;
		margin-bottom: 12px;
		color: #1f1f1f !important;
		font-weight: bold;
		&:hover {
			color: #ea5324 !important;
		}
		&:before {
			content: "";
			width: 220px;
			height: 1px;
			background-image: linear-gradient(to right, #fec04a 0%, #e3221f 100%);
			position: absolute;
			left: 0;
			bottom: 0;
		}
	}

	&__description {
		font-size: 16px;
		line-height: 22px;
	}

	&__btn-more {
		display: block;
		width: 150px;
		padding: 0 15px;
		height: 40px;
		font-weight: bold;
		font-size: 14px;
		text-transform: uppercase;
		line-height: 40px;
		text-align: center;
		background: $theme-btn-bg;
		color: $theme-btn-text-color !important;
		margin-top: 20px;
		&:hover {
			background: $theme-btn-bg-hover;
		}
	}
}
body .right-short-info {
	background: #ea5324;
	padding: 15px;
	width: 350px;
	box-sizing: border-box;
	@media screen and (max-width: 767px) {
		width: 100%;
	}

	.short-info-list {
		margin: 10px 0 5px;
		padding: 0;
		&__item {
			display: flex;
			align-items: flex-start;
			font-size: 14px;
			color: #fff;
			& + li {
				margin-top: 25px !important;
			}
			&:last-child .short-info-list__text {
				border-bottom: none;
				padding-bottom: 0;
			}
		}
		&__img {
			width: 24px;
			margin-right: 15px;
		}
		&__text {
			border-bottom: 1px solid #fff;
			width: 100%;
			padding-bottom: 22px;
		}
	}

	.custom-param-name {
		display: block;
		margin-bottom: 7px;
		font-family: 'NeueHaasUnicaPro-Black';
	}

	.custom-param-value {
		display: block;
	}
}

body .all-elearnings {
	width: 166px;
	padding: 0 15px;
	height: 40px;
	line-height: 40px;
	display: block;
	margin: 20px auto 40px;
	text-align: center;
	text-transform: uppercase;
	background: $theme-btn-bg;
	color: $theme-btn-text-color !important;
	&:hover {
		background: $theme-btn-bg-hover;
	}
}

.custom-page {
	h1 {
		text-align: left;
		margin: 20px 0;
	}
}
