.window-wrap {
    overflow: hidden;
}
.wrapper-footer {
    box-shadow: none;
    border-top: none;
    padding: 0;
}
.wrapper-footer footer#footer-openedx {
    box-sizing: border-box;
    max-width: 1200px;
    padding: 20px;
    overflow: hidden;
    position: relative;

    &:after {
        content: '';
        position: absolute;
        height: 3px;
        width: 100%;
        top: 0;
        left: 0;
        background: $gradient;
    }
    @media (min-width: 1200px) {
        padding: 20px 0;
    }
}
.wrapper-footer footer#footer-openedx .colophon .nav-colophon li a {
    font-size: 14px;
    color: #57C4BD;

    &:hover {
        color: #57C4BD;
        border: none;
    }
}
.wrapper-footer footer#footer-openedx .copyright {
    color: #000;
    font-size: 10px;
    text-align: center;
    @media (min-width: $mobile-size) {
        text-align: left;
        font-size: 14px;
    }
}
.wrapper-footer footer#footer-openedx .colophon .nav-colophon {
    margin-bottom: 16px;
}
.wrapper-footer footer#footer-openedx .footer-about-openedx a {
    color: #57C4BD;
    font-size: 24px;
    line-height: 1;
}
.wrapper-footer footer#footer-openedx .footer-about-openedx:last-child {
    margin-top: 22px;
    display: none;

    @media (min-width: $tablet-size) {
        display: block;
    }
}
.wrapper-footer footer#footer-openedx .colophon .nav-colophon li.desktop {
    display: none;
    @media (min-width: $tablet-size) {
        display: block;
    }
}
.wrapper-footer footer#footer-openedx .colophon {
    width: 100%;
    @media (min-width: $tablet-size) {
        width: 65.88078%;
    }
}
.wrapper-footer footer#footer-openedx ol {
    display: flex;
    justify-content: center;

    @media (min-width: $mobile-size) {
        justify-content: flex-start;
    }
}
hr {
    max-width: 1200px;
    height: 3px;
    margin: 0 auto;
    background: $gradient2;
    margin-bottom: 90px;
    border-top: none;
}
