.wrapper-course-modes {
  > div {
    display: block;
    width: 100%;
    margin: 0 0 8px;
    &:last-child {
      margin: 0;
    }
  }
}

.prerequisites {
  .tip {
    padding: 10px 20px;
  }
}
  
#field-remember {
  label {
    font-weight: 400 !important;
    &:after {
      display: none !important;
    }
  }
}
