.hide {
    display: none!important;
}
html body,
body .content-wrapper,
html {
    background: #f2f2f2;
}
.header-global {
    height: auto;
    background: $header-color;
    padding: 18px 10px;
    position: relative;
    box-sizing: border-box;

    .wrapper-header {
        height: auto;
        padding: 0;
        max-width: 1170px;
    }
    .nav-global {
        width: 100%;
        @media screen and (min-width:760px ) {
            width: auto;
        }

        li {
            width: 100%;
            text-align: center;
            @media screen and (min-width:760px ) {
                width: auto;
                text-align: left;
            }

            a {
                color: $header-link-color;

                &:hover {
                    color: $header-link-color-hover;
                }
            }
        } 
        .tab-nav-item {
            .active {
                border: none !important;
            }
            .tab-nav-link {
                color: $header-link-color;
                padding: 5px;

                &:hover {
                    color: $header-link-color-hover;
                    border: none;
                }
            }
        }
    }
    .nav-courseware {
        width: 100%;
        @media screen and (min-width:760px ) {
            width: auto;
        }

        li {
            width: 100%;
            text-align: center;
            margin: 0 0 3px;
            @media screen and (min-width:760px ) {
                width: auto;
                text-align: left;
            }

            a {
                width: 100%;
            }

            .btn {
                background: $theme-btn-bg;
                color: $theme-btn-text-color;
                box-shadow: none;
                padding: 10px 31px;
                font: 14px 'SourceSansPro-Regular', Arial, sans-serif;
                &:focus {
                    background: $theme-btn-bg;
                }
                &:hover {
                    background: $theme-btn-bg-hover;
                }
                &_empty {
                    background: none;
                    padding: 10px 21px;
                    &:focus,
                    &:hover {
                        background: none;
                    }
                }
            }
        }
    }
    .user {
        display: flex;
        width: 100%;
        justify-content: center;
        @media screen and (min-width:760px ) {
            display: block;
            width: auto;
        }
        .user-link .label-username {
            text-shadow: none;
            margin: 13px 5px 13px 15px;
            color: $header-link-color;
            &:focus,
            &:hover {
                color: $header-link-color-hover;
            }
        }
        .dropdown {
            color: $header-link-color;
            background: none;
            margin: 4px 0 0;
            width: 29px;
            height: 25px;
            box-sizing: border-box;
        }
        .dropdown-menu li>a {
            color: $dropdown-menu-color;

            &:focus {
                color: $dropdown-menu-color;
                text-decoration: none;
            }
            &:hover {
                color: $dropdown-menu-color-hover;
                text-decoration: none;
            }
        }
    }
    .primary>a {
        box-shadow: none;

        &:focus,
        &:hover {
            background: none;
        }
    }
}
.course-info header.course-profile {
    height: auto;
    margin-top: 0;
    padding: 20px 0;
}
.doc-link {
    color: $header-link-color !important;
    margin: 12px 0;
    line-height: 16px;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    @media screen and (min-width:760px ) {
        width: auto;
        text-align: left;
        margin: 12px 15px;
    }

    &:visited {
        color: $header-link-color !important;
    }

    &:focus,
    &:hover {
        color: $header-link-color-hover !important;
        text-decoration: none;
    }
}
.wrapper-footer {
    background: $footer-color;

    footer#footer-openedx {
        a:hover,
        a:focus {
            text-decoration: none !important;
            border: none !important;
        }
        .colophon .nav-colophon li a {
            color: $footer-nav-link-color;
            
            &:focus,
            &:hover {
                border: none !important;
                text-decoration: none !important;
                color: $footer-nav-link-color-hover !important;
            }
        }
    }
}
// links
body section.wiki .nav-tabs li.active a,
body section.wiki .breadcrumb li a,
body section.wiki .nav-tabs a,
body div.info-wrapper section.handouts ol li a,
body a.progress-link,
body .sections a,
body .xmodule_display.xmodule_HtmlModule a:link,
body .xmodule_display.xmodule_HtmlModule a,
body .course-index .accordion .course-navigation .button-chapter,
body .btn-link,
div.info-wrapper section.updates div a,
body div.info-wrapper section.handouts a,
body div.info-wrapper section.updates div article .toggle-visibility-button,
.dashboard .my-courses .course .details .course-title a,
.supplemental-link a,
.login-register .form-field .field-link,
body a {
    color: $theme-link;

    &:hover {
        color: $theme-link-hover;
        text-decoration: none !important;
    }
}
body .course-index .accordion .course-navigation .chapter-content-container .chapter-menu .menu-item.graded .menu-icon,
.courses-container .courses .course .course-info .course-title {
    color: $theme-link;
}
body .wrapper-course-material .course-tabs li a {
    color: $theme-link !important;
    
    &:focus,
    &:hover,
    &.active {
        color: $theme-link !important;
        border-color: $theme-link !important;
    }
}
body .wrapper-account-settings .wrapper-header .account-nav button:hover {
    border-color: $theme-link !important;
}
// end links
// btns
.login-register {
    .action-primary {
        background: $theme-btn-bg;
        color: $theme-btn-text-color;
        box-shadow: none;
        text-shadow: none;

        &:active,
        &:focus {
            background: $theme-btn-bg;
            box-shadow: none;
            text-shadow: none;
        }
        &:hover {
            background: $theme-btn-bg-hover;
            box-shadow: none;
            text-shadow: none;
        }
    }
    .nav-btn {
        background: $theme-btn-white-bg;
        color: $theme-btn-white-text-color;
        border-color: $theme-btn-white-border;
        box-shadow: none;
        text-shadow: none;

        &:active,
        &:focus {
            color: $theme-btn-white-text-color-hover;
            background: $theme-btn-white-bg-hover;
            border-color: $theme-btn-white-bg-hover;
            box-shadow: none;
            text-shadow: none;
        }
        &:hover {
            border-color: $theme-btn-white-bg-hover;
            color: $theme-btn-white-text-color-hover;
            background: $theme-btn-white-bg-hover;
            box-shadow: none;
            text-shadow: none;
        }
    }
}
.login-register .login-provider,
body .dashboard .my-courses .course .details .enter-course.archived,
.account-settings-sections .section .account-settings-section-body .u-field .field .u-field-link,
body .discussion-module .btn,
.courseware-bookmarks-button .bookmarks-list-button,
.dashboard .my-courses .course .details .enter-course {
    background: $theme-btn-white-bg;
    color: $theme-btn-white-text-color;
    border-color: $theme-btn-white-border;
    
    &:active,
    &:focus {
        background: $theme-btn-white-bg;
        color: $theme-btn-white-text-color;
        border-color: $theme-btn-white-border;
    }
    &:hover {
        color: $theme-btn-white-text-color-hover;
        background: $theme-btn-white-bg-hover !important;
    }
}
.empty-dashboard-message a,
body .instructor-dashboard-wrapper-2 .customBrowseBtn .file-browse .browse,
body .btn-blue,
body .instructor-dashboard-wrapper-2 .btn-blue,
body .instructor-dashboard-wrapper-2 section.idash-section#cohort_management .file-upload-form .action-submit,
body .instructor-dashboard-wrapper-2 section.idash-section#cohort_management .form-submit,
body .instructor-dashboard-wrapper-2 section.idash-section#cohort_management .cohort-management-nav .action-create,
body .wrapper-msg.wrapper-auto-cert .auto-cert-message .has-actions .msg-actions .btn,
body .dashboard .my-courses .course .wrapper-messages-primary .message.message-status.course-status-certavailable .actions-primary .action-certificate .btn,
body section.wiki .btn.btn-primary,
.forum-new-post-form .post-type-input:checked+.post-type-label,
body .btn-brand,
body .home .page-header-secondary,
body .course-info header.course-profile .intro-inner-wrapper .intro .main-cta strong,
body .instructor-dashboard-wrapper-2 section.idash-section#membership .member-lists-management .auth-list-container .member-list-widget input[type="button"].add,
body .instructor-dashboard-content-2 input[type="button"],
body .search-bar .search-button {
    text-shadow: none;
    box-shadow: none;
    border: none;
    background: $theme-btn-bg;
    color: $theme-btn-text-color;
    
    &:focus:not(:disabled),
    &:active,
    &:focus {
        background: $theme-btn-bg;
        border: none;
        box-shadow: none;
    }
    &:hover:not(:disabled),
    &:hover {
        background: $theme-btn-bg-hover !important;
        box-shadow: none;
        cursor: pointer;
        color: $theme-btn-text-color;
    }
}
body .instructor-dashboard-wrapper-2 section.idash-section#membership .member-lists-management .auth-list-container .member-list-widget input[type="button"].add:hover:not(:disabled),
body .instructor-dashboard-content-2 input[type="button"]:hover:not(:disabled) {
    box-shadow: none;
}
input[type="submit"], input[type="button"], button, .button,
.course-info header.course-profile .intro-inner-wrapper .intro .main-cta a.register {
    background: $theme-btn-bg;
    color: $theme-btn-text-color;
    
    &:active,
    &:focus {
        background: $theme-btn-bg;
    }
    &:hover {
        background: $theme-btn-bg-hover;
    }
}
input[type="submit"]:hover:not(:disabled), input[type="button"]:hover:not(:disabled), button:hover:not(:disabled), .button:hover:not(:disabled),
.course-info header.course-profile .intro-inner-wrapper .intro .main-cta a.register:hover:not(:disabled) {
    background: $theme-btn-bg-hover;
}
// end btns
.home>header {
    height: 262px;
    background-position: center;
    position: relative;
    background-color: #1D66B5;
    background-position: 0 0;
}
.login-register .login-provider {
    .icon {
        background: $theme-btn-bg;
    }
    span {
        color: $theme-btn-white-text-color;
    }
}
body {
    display: flex;
    flex-direction: column;
}
.home>header .title {
    float: none;
    margin: 0;
    width: 100%;
    box-shadow: none;
    background: transparent;
    padding-top: 25px;
    .course-search {
        display: none;
    }
}
.home>header .outer-wrapper {
    animation: none;
    padding: 0;
}
body .home>header .title>.heading-group {
    display: block;
    text-align: center;
}
.logo-container {
    margin-bottom: 35px;
}
body .highlighted-courses .courses,
body .find-courses .courses {
    padding-top: 0;
}
body .courses-container .courses .course .course-info .course-code,
body .courses-container .courses .course .course-info .course-organization {
    font: 14px 'SourceSansPro-SemiBold', Arial, sans-serif;
    color: rgb(64, 64, 64);
}
body .courses-container .courses .course .course-info .course-code {
    text-transform: uppercase;
}
body .courses-container .courses .course .course-info .course-title {
    font: 20px 'SourceSansPro-SemiBold', Arial, sans-serif;
    color: rgb(63, 102, 177);
    margin-bottom: 0;
}
body .courses-container .courses .course .course-info .course-date {
    font: 14px 'SourceSansPro-SemiBold', Arial, sans-serif;
    color: rgb(162, 162, 162);
}
body .courses-container .courses .course {
    border: none;
    box-shadow: none;
    background: #fff;
    &:hover,
    &:focus {
        border: none;
        box-shadow: none;
        background: #fff;
    }
}
body .courses-container .courses .course .course-image .cover-image .learn-more {
    font: 14px/34px 'SourceSansPro-Regular', Arial, sans-serif;
    border-color: $theme-btn-bg;
    background: $theme-btn-bg;
    height: 34px;
    top: 70px;
    min-width: 110px;
    width: auto;
    padding: 0 10px;
    left: 50%;
    transform: translateX(-50%);
}
body .courses-container .courses .course .course-info {
    height: auto;
    min-height: 165px;
}
body .courses-container .courses .course .course-info h2 {
    margin-bottom: 0;
}
body .highlighted-courses .courses .course,
body .find-courses .courses .course {
    margin-bottom: 15px;
}
.raccoon-block a {
    font-size: 10px;
    color: #767676;
    display: inline-block;
    vertical-align: bottom;
    &:hover,
    &:focus {
        color: #767676;
    }
    img {
        opacity: 0.5;
        display: inline-block;
        vertical-align: baseline;
    }
}
footer.main-footer {
    background: $footer-color;
    border-top: 7px solid #f58d2e;
    position: absolute; 
    left: 0 ; 
    right: 0; 
    bottom: 0; 
    height: 87px;
}
//sticky footer//
html { 
    height: 100%; 
}
body {
    min-height: 100%; 
    position: relative; 
    padding-bottom: 87px;
}

.main-footer_container {
    max-width: 1170px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 87px;
    box-sizing: border-box;
    @media (max-width: 450px) {
        flex-direction: column;
        justify-content: space-around;
    }
}
.find-courses .discovery-input:focus {
    border-color: $theme-btn-bg;
}
.find-courses .discovery-submit {
    border-color: $theme-btn-bg;
    background: $theme-btn-bg;
    &:focus {
        border-color: $theme-btn-bg-hover;
        background: $theme-btn-bg-hover;
        &:not(:disabled) {
            box-shadow: none;
        }
    }
}
.find-courses .search-facets .facet-option:hover, 
.find-courses .search-facets .facet-option:focus,
.find-courses .loading-spinner {
    background: $theme-btn-bg;
}
body .btn-default,
body .xmodule_display.xmodule_SequenceModule .sequence-nav ol li button .fa-bookmark,
.find-courses .filters .clear-filters {
    color: $theme-btn-bg;
}
.find-courses .search-facets {
    margin-top: 15px;
}
.courseware-bookmarks-button .bookmarks-list-button.is-active {
    background: $theme-btn-bg;
}
body .xmodule_display.xmodule_SequenceModule .sequence-nav-button:hover, 
body .xmodule_display.xmodule_SequenceModule .sequence-nav-button:active, 
body .xmodule_display.xmodule_SequenceModule .sequence-nav-button.active, 
body .xmodule_display.xmodule_SequenceModule .sequence-nav button:hover, 
body .xmodule_display.xmodule_SequenceModule .sequence-nav button:active, 
body .xmodule_display.xmodule_SequenceModule .sequence-nav button.active {
    border-bottom: 3px solid $theme-btn-bg;
}
body .wrap-instructor-info .instructor-info-action {
    color: $theme-link;
    &:hover,
    &:focus {
        color: #fff;
        background: $theme-link;
    }
}
body .btn-default {
    &:hover,
    &:focus {
        color: $theme-link;
        border-color: $theme-link;
    }
}
body .main-article a,
body section.wiki .article-functions .see-children a,
body section.wiki #cheatsheetLink {
    color: $theme-link;
    &:hover,
    &:focus {
        color: $theme-link-hover;
    }
}