$color-1: #ffbf10;

.promo-box {
    background: url('#{$img-path}/promo-box_bg.jpg') no-repeat center;
    background-size: cover;
    padding-top: 81px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    z-index: 1;

    &:after {
        content: '';
        position: absolute;
        bottom: -15px;
        left: 0;
        width: 100%;
        height: 10px;
        background: linear-gradient(to right, rgba(2,202,245,0) 0%, rgba(2,202,245,1) 50%,rgba(2,202,245,0) 100%);
    }
}

.promo-box__logo {
    margin-bottom: 31px;
}

.promo-box__main-text {
    font: 82px/1.3 phenomenaextrabold, sans-serif;
    color: #fff;
    margin: 0 0 19px;
}

.promo-box__date {
    color: $color-1;
    font: 64px/1.3 phenomenaextrabold, sans-serif;
    margin-bottom: -4px;
}

.promo-box__text {
    color: #fff;
    font: 44px/1.3 Roboto, sans-serif;
    font-weight: 300;
    margin-bottom: 76px;
}

.promo-box__arrows {
    background: url('#{$img-path}/promo-box_arrows.png') no-repeat;
    width: 28px;
    height: 47px;
    margin-bottom: 40px;
}

.promo-link {
    font-size: 26px;
    font-family: phenomenaextrabold, sans-serif;
    padding: 10px 47px;
    border-radius: 24px;
    color: #fff !important;
    text-transform: uppercase;
    line-height: 1.2;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
    background: $color-1;
    text-decoration: none;
    margin-bottom: 49px;
    position: relative;

    &:after {
        content: '';
        position: absolute;
        border-radius: 24px;
        height: 100%;
        width: 100%;
        left: 0;
        top: 4px;
        box-sizing: border-box;
        border: 2px solid $color-1;
        border-top: none;
    }
}

.employ-box {
    background: #e8e8e8;
    padding: 80px 0 36px;
    position: relative;

    &:after {
        content: '';
        position: absolute;
        bottom: 5px;
        left: 0;
        width: 100%;
        height: 10px;
        background: linear-gradient(to right, rgba(255,191,16,0) 0%,rgba(255,191,16,1) 50%,rgba(255,191,16,0) 100%);
    }
}

.employ-box__holder {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.employ-box__columns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    @media screen and (max-width: 760px) {
        flex-direction: column;
        flex-wrap: nowrap;
    }
}

.employ-box__column {
    width: 50%;
    box-sizing: border-box;
    padding: 15px 15px 16px;
    background: linear-gradient(to right, rgba(245,245,245,0) 0%,rgba(245,245,245,1) 50%,rgba(245,245,245,0) 100%);
    position: relative;
    margin-bottom: 60px;

    @media screen and (max-width: 760px) {
        width: 100%;
    }

    &:after {
        content: '';
        position: absolute;
        height: 10px;
        width: 100%;
        top: -19px;
        left: 0;
        background: linear-gradient(to right, rgba(2,202,245,0) 0%,rgba(2,202,245,1) 50%,rgba(2,202,245,0) 100%);
    }
}

.employ-box__column_color-1:after {
    background: linear-gradient(to right, rgba(255,191,16,0) 0%,rgba(255,191,16,1) 50%,rgba(255,191,16,0) 100%);
}

.employ-box__column_color-2:after {
    background: linear-gradient(to right, rgba(255,100,121,0) 0%,rgba(255,100,121,1) 50%,rgba(255,100,121,0) 100%);
}

.employ-box__column_color-3:after {
    background: linear-gradient(to right, rgba(65,210,78,0) 0%,rgba(65,210,78,1) 50%,rgba(65,210,78,0) 100%);
}

.employ-box__text {
    font: 52px/60px phenomenaregular, sans-serif;
    color: #423940;
    font-weight: 300;
    text-align: center;
    margin-bottom: 62px;
    padding: 0 15px;
}

.employ-box__text-select {
    font-family: phenomenaextrabold, sans-serif;
    font-weight: 600;
}

.employ-box__column-text {
    font: 300 20px/24px Roboto, sans-serif;
    color: #585357;
    margin: 0;
}

.employ-box__column-text_bold {
    font-weight: 400;
}

.info-box {
    background: url('#{$img-path}/info-box_bg.jpg') no-repeat;
    background-size: cover;
    position: relative;
    padding: 0 0 35px;

    &:after {
        content: '';
        position: absolute;
        height: 10px;
        width: 100%;
        bottom: -15px;
        left: 0;
        background: linear-gradient(to right, rgba(2,202,245,0) 0%,rgba(2,202,245,1) 25%,rgba(2,202,245,1) 75%,rgba(2,202,245,0) 100%);
    }
}

.info-box__select {
    font-weight: bold;

    .info-box__column-text & {
        font-family: phenomenaextrabold, sans-serif;
    }
}

.info-box__holder {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info-box__heading {
    font: 52px/60px phenomenaextrabold, sans-serif;
    text-align: center;
    color: #fff;
    text-transform: none;
    margin: 0;
    padding: 65px 15px 0;
    margin: 0 0 44px;
}

.info-box__heading-select {
    color: $color-1;
}

.info-box__columns {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 0 75px;

    @media screen and (max-width: 760px) {
        flex-direction: column;
    }
}

.info-box__column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 47%;

    @media screen and (max-width: 760px) {
        width: 100%;

        &:first-child {
            margin-bottom: 75px;
        }
    }
}

.info-box__column-img {
    margin: 0 0 12px;
}

.info-box__column-text {
    font: 28px/33px phenomenaregular, sans-serif;
    color: #fff;
    text-align: center;
    padding: 0 15px;
}

.info-box__text {
    font: 24px/34px Roboto, sans-serif;
    color: #04cbf5;
    text-align: center;
    padding: 0 15px;
    margin: 0 0 56px;
}

.about-box {
    position: relative;
    padding: 80px 0 77px;
    z-index: 1;

    &:after {
        content: '';
        position: absolute;
        height: 10px;
        width: 100%;
        bottom: -16px;
        left: 0;
        background: linear-gradient(to right, rgba(255,191,16,0) 0%,rgba(255,191,16,1) 25%,rgba(255,191,16,1) 75%,rgba(255,191,16,0) 100%);
    }
}

.about-box__wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.about-box__heading {
    font: 52px/60px phenomenaextrabold, sans-serif;
    color: #423940;
    text-align: center;
    text-transform: none;
    margin: 0 0 36px;
}

.about-box__text {
    font: 24px/34px Roboto, sans-serif;
    color: #585357;
    text-align: center;
    margin: 0 0 18px;
    padding: 0 15px;
}

.about-box__columns {
    display: flex;
    justify-content: space-around;

    @media screen and (max-width: 940px) {
        flex-direction: column;
    }
}

.about-box__column {
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 940px) {
        margin-bottom: 20px;
    }
}

.about-box__column-num {
    font: 94px/1 phenomenablack, sans-serif;
    position: relative;
    text-align: center;
    margin: 0 0 33px;

    &:after {
        content: '';
        position: absolute;
        height: 10px;
        width: 100%;
        bottom: 6px;
        left: 0;
        background: linear-gradient(to right, rgba(255,191,16,0) 0%,rgba(255,191,16,1) 25%,rgba(255,191,16,1) 75%,rgba(255,191,16,0) 100%);
    }
}

.about-box__column-num_color-1 {
    color: #ffc013;
}

.about-box__column-num_color-2 {
    color: #04cbf5;

    &:after {
        background: linear-gradient(to right, rgba(4,203,245,0) 0%,rgba(4,203,245,1) 25%,rgba(4,203,245,1) 75%,rgba(4,203,245,0) 100%);
    }
}

.about-box__column-num_color-3 {
    color: #ff657a;

    &:after {
        background: linear-gradient(to right, rgba(255,101,122,0) 0%,rgba(255,101,122,1) 25%,rgba(255,101,122,1) 75%,rgba(255,101,122,0) 100%);
    }
}

.about-box__label {
    font: 34px/60px phenomenaextrabold, sans-serif;
    color: #423940;
}

.about-box__holder {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-box__ico {
    margin-right: 10px;
}

.company-box {
    position: relative;
    background: #e8e8e8;
    padding: 0 0 51px;

    &:after {
        content: '';
        position: absolute;
        height: 10px;
        width: 100%;
        bottom: 5px;
        left: 0;
        background: linear-gradient(to right, rgba(2,202,245,0) 0%,rgba(2,202,245,1) 25%,rgba(2,202,245,1) 75%,rgba(2,202,245,0) 100%);
    }
}

.company-box__holder {
    max-width: 1200px;
    margin: 0 auto;
    padding: 80px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.company-box__header {
    font: 52px/60px phenomenaextrabold, sans-serif;
    text-align: center;
    color: #423940;
    margin: 0 0 33px;
    text-transform: none;
}

.company-box__text {
    font: 24px/34px Roboto, sans-serif;
    color: #585357;
    margin: 0 0 38px;
    text-align: center;
    padding: 0 15px;
}

.company-box__slick {
    max-width: 100%;
    width: 1200px;
    padding: 0 76px;
    box-sizing: border-box;
    margin: 0 auto 40px;
}

.partners .slick-prev,
.schools-box__slick .slick-prev,
.company-box__slick .slick-prev {
    background: url('#{$img-path}/slick-prev.png') no-repeat !important;
    position: absolute;
    width: 18px;
    height: 45px;
    left: 0;
    top: 50%;
    margin: -22px 0 0;
    border: none;
    text-indent: -9999px;
    overflow: hidden;
    opacity: 1;
    transform: none;
    box-shadow: none;

    @media screen and (max-width: 1260px) {
        left: 15px;
    }
    @media screen and (max-width: 767px) {
        display: block !important;
    }
}

.partners .slick-prev {
    background: url('#{$img-path}/slick-prev-2.png') no-repeat !important;
}

.partners .slick-next,
.schools-box__slick .slick-next,
.company-box__slick .slick-next {
    background: url('#{$img-path}/slick-next.png') no-repeat !important;
    position: absolute;
    width: 18px;
    height: 45px;
    right: 0;
    top: 50%;
    margin: -22px 0 0;
    border: none;
    text-indent: -9999px;
    overflow: hidden;
    opacity: 1;
    transform: none;
    box-shadow: none;

    @media screen and (max-width: 1260px) {
        right: 15px;
    }
    @media screen and (max-width: 767px) {
        display: block !important;
    }
}

.partners .slick-next {
    background: url('#{$img-path}/slick-next-2.png') no-repeat !important;
}

.company-box__slide {
    padding: 0 10px;
    box-sizing: border-box;
}

.company-box__slide-holder {
    padding: 20px 20px 26px;
    border: 1px solid rgb(4, 203, 245);
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
}

.company-box__slide-wrapper {
    position: relative;
    height: 136px;
    margin: 0 0 16px;
}

.company-box__logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    max-width: 100%;
    max-height: 100%;
}

.company-box__company-name {
    font: bold 18px/20px Roboto, sans-serif;
    margin: 0 0 9px;
    display: block;
}

.company-box__company-info {
    font: 300 16px/20px Roboto, sans-serif;
    height: 160px;
}

.schools-box {
    position: relative;
    background: url('#{$img-path}/schools-bg.jpg');

    &:after {
        content: '';
        position: absolute;
        height: 10px;
        width: 100%;
        bottom: -15px;
        left: 0;
        background: linear-gradient(to right, rgba(255,191,16,0) 0%,rgba(255,191,16,1) 25%,rgba(255,191,16,1) 75%,rgba(255,191,16,0) 100%);
    }
}

.schools-box__holder {
    max-width: 1200px;
    margin: 0 auto;
    padding: 64px 0 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.schools-box__header {
    font: 52px/60px phenomenaextrabold, sans-serif;
    text-align: center;
    color: #fff;
    margin: 0 0 33px;
    text-transform: none;
}

.schools-box__text {
    font: 24px/34px Roboto, sans-serif;
    color: #fff;
    margin: 0 0 38px;
    text-align: center;
}

.schools-box__slick {
    max-width: 100%;
    width: 1200px;
    padding: 0 76px;
    box-sizing: border-box;
    margin: 0 auto 40px;
}

.schools-box__slide {
    padding: 0 9px;
    box-sizing: border-box;
}

.schools-box__slide-holder {
    padding: 20px;
    border: 1px solid rgb(4, 203, 245);
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    min-height: 288px;
}

.schools-box__slide-wrapper {
    position: relative;
    height: 134px;
    margin: 0 0 16px;
}

.schools-box__logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    max-width: 100%;
    max-height: 100%;
}

.schools-box__school-info {
    font: 16px/20px Roboto, sans-serif;
}

.schools-box__selected {
    font-weight: bold;
}

.organizer {
    position: relative;
    z-index: 1;

    &:after {
        content: '';
        position: absolute;
        height: 10px;
        width: 100%;
        bottom: -14px;
        left: 0;
        background: linear-gradient(to right, rgba(2,202,245,0) 0%,rgba(2,202,245,1) 25%,rgba(2,202,245,1) 75%,rgba(2,202,245,0) 100%);
    }
}

.organizer__heading {
    font: 52px/60px phenomenaextrabold, sans-serif;
    text-align: center;
    color: #423940;
    margin: 0 0 34px;
    text-transform: none;
}

.organizer__logo-holder {
    width: 50%;

    @media screen and (max-width: 767px) {
        width: 100%;
        max-width: 100%;
    }
}

.organizer__img {
    max-width: 100%;
    display: block;
    margin: -30px auto 0;
}

.organizer__holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 80px 0 77px;
}

.organizer__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

    @media screen and (max-width: 767px) {
        flex-direction: column;
    }
}

.organizer__column {
    width: 50%;
    max-width: 50%;
    padding: 0 15px;
    box-sizing: border-box;

    @media screen and (max-width: 767px) {
        width: 100%;
        max-width: 100%;
    }
}

.organizer__text {
    font: 300 20px/26px Roboto, sans-serif;
    margin: 0 0 26px;
    color: #585357;
}

.organizer__text-selected {
    font-weight: bold;
    text-decoration: underline;
}

.organizer__speaker {
    display: block;
    font: 24px/1.3 Roboto, sans-serif;
    color: #585357;
}

.organizer__phone {
    background: url('#{$img-path}/organizer-phone.png') no-repeat 0 50%;
    font: bold 24px/1.3 Roboto, sans-serif;
    padding-left: 38px;
}

.partners {
    background: #e8e8e8;
    display: flex;
    flex-direction: column;
    padding: 75px 0 48px;
}

.partners__heading {
    font: 52px/60px phenomenaextrabold, sans-serif;
    text-align: center;
    color: #423940;
    margin: 0 0 53px;
    text-transform: none;
}

.partners__slick {
    max-width: 1200px;
    padding: 0 100px;
    box-sizing: border-box;
    margin: 0 auto 40px;
}

.partners .partners__slick-img {
    height: 30px;
    display: block;
    filter: grayscale(100%);
}

.partners .partners__slick-link {
    display: block;
    margin: 0 18px;

    &:hover {
        .partners__slick-img {
            filter: grayscale(0);
        }
    }
}

.footer__logo-holder {
    border-top: 1px solid #595959;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 19px 0 30px;
}

.footer__logo-img {
    margin: 0 17px;
}

.footer-support__text {
    font: 16px/30px Roboto, sans-serif;
    color: #a3a3a3;
}

.footer-support__phone {
    font: bold 16px/30px Roboto, sans-serif;
    background: url('#{$img-path}/footer-phone.png') no-repeat 0 50%;
    color: #a3a3a3;
    padding-left: 31px;
}