.promo-slider {
    max-width: 1200px;
    margin: 20px auto 0;
    display: flex;

    @media screen and (max-width: 1250px) {
        flex-wrap: wrap;
    }
}

.promo-slider__img {
    position: absolute;
    top: 50%;
    left: 50%;
    max-height: 100%;
    max-width: 80%;
    transform: translate(-50%, -50%);
}

.promo-slider_img-holder {
    position: relative;
    height: 112px;
    background: #fff;
}

.promo-slider_box {
    border: 1px solid #d5d5d5;
    margin-right: 20px;
    flex: 1 1 0;
    background: #f5f5f5;

    @media screen and (max-width: 1250px) {
        margin: 15px;
        flex: 1 1 25%;
    }

    @media screen and (max-width: 750px) {
        margin: 15px;
        flex: 1 1 40%;
    }

    &:last-child {
        margin-right: 0;

        @media screen and (max-width: 1250px) {
            margin: 15px;
        }
    }
}

.promo-slider_text {
    font-size: 16px;
    color: #303030;
    margin: 0;
    padding: 10px;
}
 
.footer-holder {
    width: 100%;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 1100px) {
        flex-wrap: wrap;
        align-items: center;
    }
}

.footer-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-list__item {
    margin-bottom: 5px;
}

.footer-col {
    display: flex;
}

.footer-col__item {
    border-left: 1px solid #66bff2;
    padding-left: 18px;
    width: 250px;
    box-sizing: border-box;

    a {
        font-size: 14px;
        line-height: 1.3;
    }

    &:last-child {
        border-right: 1px solid #66bff2;

        @media screen and (max-width: 600px) {
            border-right: none;
        }
    }
}

.footer-holder__text {
    color: #fff;
    font-size: 14px;
    line-height: 1.3;
    margin-top: 30px;
}

.footer-col__holder {
    font-size: 14px;
    line-height: 1.3;
    font-family: "Open Sans",Verdana,Geneva,sans-serif;
    color: #fff;
    font-weight: bold;
    margin-bottom: 10px;
}

.footer-col_logo {
    order: 1;

    @media screen and (max-width: 1100px) {
        order: 1;
    }
}

.footer-col_list {
    order: 2;

    @media screen and (max-width: 1100px) {
        order: 3;
        width: 100%;
        justify-content: space-between;
        padding: 30px 0 0;
    }

    @media screen and (max-width: 600px) {
        flex-wrap: wrap;

        .footer-col__item {
            width: 100%;
            margin-bottom: 30px;
        }
    }
}

.footer-col_social {
    order: 3;

    @media screen and (max-width: 1100px) {
        order: 2;
    }
}