.course-info header.course-profile {
    height: auto;
    padding-bottom: 200px;
    margin-top: 0;
}
body .course-info .details {
    font-family: "Open Sans",Verdana,Geneva,sans-serif,sans-serif;
}
.header-global h1.logo {
    float: none;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    margin: 0;
}
.header-global nav {
    height: auto;
    padding: 0 10px;
    margin: 0 auto;
    max-width: 1210px;
    min-height: $header-height;
}
.header-global .wrapper-header {
    height: auto;
    padding: 0;
    max-width: 1200px;
    padding-left: 195px;
    box-sizing: border-box;
    @media screen and (max-width: $large-responsive) {
        display: none;
        padding-left: 0;
        position: absolute;
        right: 0;
        top: 79px;
        background-color: rgba(0,56,116,1);
        width: auto;
    }
    &:after{
        display: none;
    }
}
.header-global .nav-global {
    float: none;
    margin-top: 0;
}
.header-global .nav-global li a {
    color: #fff;
}
.header-global .user {
    float: none;
    display: flex;
    align-items: center;
}
.header-global .primary>a:hover, 
.header-global .primary>a:focus, 
.header-global .primary>a:active {
    background: none;
}
.header-global .primary>a {
    box-shadow: none;
}
.nav-global-04 {
    margin-left: 5px;
    @media screen and (max-width: $large-responsive) {
        margin-left: 0;
    }
}

.header-global .nav-global div a {
    padding: 0;
}
.header-global .nav-global li a{
    box-sizing: border-box;
    border-radius: 2px;
    border: 2px solid #ffffff;
    min-width: 136px;
    text-align: center;
    padding: 11px 25px;
    background-color: transparent;
    &:hover{
        color: #ffffff;
        background-color: $active-color;
        text-decoration: none;
        border-color: $active-color;
    }
}
.header-global .user .user-link .label-username {
    color: #fff;
    font: 14px/1.2 "museosans500",Arial, sans-serif;
    text-shadow: none;
}
body a.doc-link {
    color: #fff;
    font: 14px/1.2 "museosans500",Arial, sans-serif;
    text-transform: capitalize;
    &:visited {
        color: #fff;
        text-decoration: none;
    }
    &:hover {
        color: #fff;
        text-decoration: none;
    }
    @media screen and (max-width: $large-responsive) {
        margin-right: 10px;
    }
}
.wrapper-header {
    .theme-btn {
        &:hover{
            background-color: transparent;
            color: $active-color;
            text-decoration: none;
        }     
    }
}
.header-global .theme-btn__active {
    box-sizing: border-box;
    border-radius: 2px;
    border: 2px solid #ffffff;
    min-width: 136px;
    text-align: center;
    padding: 11px 25px;
    margin-right: 13vw;
    background-color: transparent;
    text-decoration: none;
    transition: background-color 0.1s linear 0s;
    @media screen and (max-width: $large-responsive) {
        margin-right: 0;
        display: block;
    }
    &:hover {
        color: #ffffff;
        background-color: $active-color;
        text-decoration: none;
        border-color: $active-color;
    }
    &:focus {
        color: #ffffff;
    }
}
.header-global .nav-courseware li {
    @media screen and (max-width: $large-responsive) {
        display: block;
    }
}
.nav-holder {
    .doc-link {
        margin: 15px;
        outline: 0;
        &:active {
            outline: 0;
        }
    }
}
.home {
    background-color: #eaeaea;
    padding-bottom: 40px;
}
.home>header {
    height: 480px;
    margin-top: -79px;
    background: #003874 url(../images/banner.jpg) no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    text-align: center;
}
.home>header .outer-wrapper {
    display: none;
}
.courses-container .courses .course .course-image .cover-image .learn-more {
    background: transparent;
    font-size: 14px;
    border: 2px solid #fff;
}
.highlighted-courses .courses .course:focus,
.highlighted-courses .courses .course:hover {
    box-shadow: none;
}
.courses-container .courses .course {
    box-shadow: none;
    border: none;
    border-bottom: 5px solid transparent;
}
.highlighted-courses .courses .course:hover {
    border-color: transparent;
}
.highlighted-courses .courses .course {
    border-color: $active-color;
}
.courses-container .courses .course:hover .cover-image:before,
.courses-container .courses .course:focus .cover-image:before {
    opacity: 0.5;
}
.courses-container .courses .course .course-info .course-organization {
    padding: 15px 15px 2px 15px;
}
.courses-container .courses .course .course-image .cover-image:before {
    background: #003874;
}
.courses-container .courses .course .course-info .course-title {
    margin: 0 0 45px 0;
    color: rgb(145, 145, 145);
    text-transform: uppercase;
}
.courses-container .courses .course .course-info .course-date {
    font-size: 12px;
}
.highlighted-courses .courses .course a {
    cursor: pointer;
    position: static;
}
.courses-container .courses .course .course-info .course-date,
.courses-container .courses .course .course-info .course-code,
.courses-container .courses .course .course-info .course-organization {
    color: rgb(93, 93, 93);
}
.courses-container .courses .course .course-info .course-code,
.courses-container .courses .course .course-info .course-organization {
    text-transform: uppercase;
}
.wrapper-footer {
    background: #003874;
    padding: 40px 0 65px 0;
}
.footer-holder {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    @media screen and (max-width: 600px) {
        align-items: center;
        flex-direction: column;
    }
}
.footer-raccoon {
    font-size: 10px;
    line-height: 1.2;
    color: rgb(255, 255, 255);
    margin: 0;
}
.wrapper-footer footer#footer-openedx .footer-list_link {
    color: #fff;
    text-transform: uppercase;
    font: 14px/1.2 "museosans500",Arial, sans-serif;
}
.wrapper-footer footer#footer-openedx a:hover {
    border: none;
    color: $active-color;
    text-decoration: none;
}
.wrapper-footer footer#footer-openedx {
    padding: 0 5px;
    max-width: 1210px;
}
.courses-container .courses .course .course-image .cover-image img {
    min-height: 160px;
}
.header-global .wrapper-header .course-header {
    display: none;
}
.dropdown-menu-container .menu-image {
    max-width: 40px;
    border-radius: 10%;
}
.dropdown-menu-container .menu-title {
    color: #fff;
    text-transform: none;
    margin: 15px 5px 15px 15px;
}
.dropdown-menu-container .menu-button {
    background: #fff;
    border-radius: 5px;
    margin-top: 0;
}
.dropdown-menu-container {
    display: flex;
    align-items: center;
}
.header-global .wrapper-header .list-inline.nav-global {
    margin-top: 0;
}
.find-courses .courses .course {
    border-color: #fbad18;
}
.find-courses .courses .course:hover,
.find-courses .courses .course:focus {
    background: #f5f5f5;
    border-color: #bebebe;
    box-shadow: none;
}
.courses-container .courses .course:hover,
.courses-container .courses .course {
    box-shadow: none;
    border: none;
    border-bottom: 5px solid #fbad18;
}
.courses-container .courses .course:hover {
    border-bottom: 5px solid transparent;
}
.header-global .user .dropdown {
    min-height: 25px;
}
.header-global .nav-global li a,
.header-global .nav-global div a {
    font-weight: normal;
}
.header-global .nav-global li a:focus,
.header-global .nav-global li a:active {
    color: #fff;
}
.header-app .logo {
    width: 17.25rem;
}
html body.view-in-course .header-global .wrapper-header {
    padding-left: 195px;
    padding-right: 0;
}
body .xmodule_display.xmodule_SequenceModule .sequence-nav ol li {
    min-width: 58.1px;
}
.nav-holder .dropdown-menu-container .menu-title { 
    margin: 15px 5px 15px 0; 
} 
body a.doc-link::-moz-focus-inner{ 
    border: none; 
}
.courses-listing {
    display: flex;
    flex-wrap: wrap;
}
.find-courses .courses-container .courses .courses-listing .courses-listing-item,
.courses-container .courses .courses-listing .courses-listing-item {
    height: auto;
    min-height: 360px;
    max-height: none;
}
.courses-container .courses .course {
    height: 100%;
}
.courses-container .courses .course .course-info .course-title {
    min-height: 72px;
    height: auto;
}
.courses-container .courses .course .course-info {
    height: auto;
    min-height: 150px;
}
.courses-container .courses .course .course-info .course-date {
    position: absolute;
    bottom: 0;
}
.find-courses .courses .course a {
    height: 100%;
}
body .xmodule_display.xmodule_HtmlModule h5:after {
    content: '';
    display: table;
    clear: both;
}
.course-wrapper .course-content .edx-notes-wrapper-content ul, 
.course-wrapper .courseware-results-wrapper .edx-notes-wrapper-content ul {
    p,li {
        margin-bottom: 0;
    } 
}
.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
.sticky:before,
.sticky:after {
    content: '';
    display: table;
}
body div.book-wrapper {
  display: flex;
}
body div.book-wrapper section.book-sidebar {
    width: 270px;
    min-width: 270px;
}
div.book-wrapper {
    min-width: 1150px;
}

.dashboard-notifications {
    display: none;
}

.wrapper-msg.urgency-high {
    background: none;
}
.wrapper-msg .msg-content .title {
    font-size: 30px;
    color: #646464;
    margin-bottom: 20px;
    text-shadow: 0 1px rgba(255,255,255,0.6);
    line-height: 1.3;
}
.wrapper-msg .msg-content .copy p {
    font-size: 24px;
    color: #646464;
    margin-bottom: 20px;
    text-shadow: 0 1px rgba(255,255,255,0.6);
    line-height: 1.3;
}
//rewrite for search
//index page
.wrapper_index-page .find-courses .courses-container .courses:not(.no-course-discovery),
.wrapper_index-page .find-courses .wrapper-search-context .search-status-label {
    order: 2;
}
.wrapper_index-page .find-courses .search-facets.phone-menu,
.wrapper_index-page .find-courses .wrapper-search-context .wrapper-search-input {
    order: 1;
}
.wrapper_index-page .find-courses .wrapper-search-context .wrapper-search-input {
    @media screen and (max-width: 600px) {
        max-width: 50%;
    }
}
.course__help-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    @media screen and (max-width: 900px) {
        flex-direction: column;
    }
    .wrapper_index-courses & {

    }
}
.wrapper_index-page .find-courses .courses-container .courses:not(.no-course-discovery) .courses-listing .courses-listing-item {
    margin: 0 0 30px 2.8%;
    width: 31%;
    @media screen and (max-width: 700px) {
        width: 48%;
        margin: 0 1% 30px;
    }
    @media screen and (max-width: 450px) {
        width: 100%;
        margin: 0 0 30px;
    }
}
.wrapper_index-page .find-courses .courses-container .courses:not(.no-course-discovery) .courses-listing .courses-listing-item:nth-child(3n+1) {
    margin-left: 1.4%;
    @media screen and (max-width: 700px) {
        margin: 0 1% 30px;
    }
}
//end index page
//courses page
    .wrapper_index-courses .find-courses .courses-container .courses:not(.no-course-discovery){
        @media screen and (max-width: 900px) {
            order: 2;
        }
    }
    .wrapper_index-courses .find-courses .search-facets.phone-menu {
        @media screen and (max-width: 900px) {
            order: 1;
        }
    }
//end courses page
//rewrite elements
.find-courses .wrapper-search-context:after {
    display: none;
}
.find-courses .wrapper-search-context .search-status-label {
    margin: 0;
    width: auto;
}
.find-courses .wrapper-search-context {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #b2b2b2;
    padding: 0 0 20px;
}
.find-courses .wrapper-search-context .search-status-label {
    font-size: 18px;
    text-transform: uppercase;
    color: #5d5d5d;
    min-height: 0;
    line-height: 1.3;
}
.find-courses .discovery-input {
    height: 40px;
    box-sizing: border-box;
    border: 1px solid #f3a100;
    border-radius: 3px;
    width: 295px;
    line-height: 1.3;
    @media screen and (max-width: 600px) {
        width: 100%;
    }
}
.find-courses .discovery-submit {
    height: 40px;
    border-color: transparent;
    background: transparent;
    color: #bdbdbd;
    font-size: 20px;
    padding: 0 10px;
    line-height: 1.3;
}
.find-courses .wrapper-search-context .wrapper-search-input {
    width: 295px;
}
.find-courses .filters {
    margin-top: -1px;
    margin-bottom: 19px;
}
.find-courses .filters li {
    margin: 10px 10px 10px 0;
    background: #f4a000;
    padding: 9px 15px;
}
.find-courses .filters li .facet-option {
    color: #fff;
    font-size: 14px;
    line-height: 1.3;
}
.find-courses .filters .clear-filters {
    color: #6c6c6c;
    line-height: 1.3;
    margin: 0;
    padding: 0;
}
.find-courses .filters .filters-inner {
    border-top: 1px solid #b2b2b2;
    border-bottom: 1px solid #b2b2b2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.find-courses .filters .filters-inner:after {
    display: none;
}
.find-courses .courses-container .courses:not(.no-course-discovery) {
    width: 100%;
    margin: 0;
    padding: 0;
}
.find-courses .search-facets.phone-menu {
    margin: 0;
    width: 310px;
    min-width: 310px;
    max-width: 310px;
    border-top: 5px solid #f39f00;
    border-bottom: 5px solid #f39f00;
    @media screen and (max-width: 900px) {
        width: 100%;
        max-width: 100%;
        margin-bottom: 30px;
    }
}
.find-courses .courses-container .courses .courses-listing .courses-listing-item {
    margin: 0 0 30px;
}
.find-courses .courses-container .courses:not(.no-course-discovery) .courses-listing .courses-listing-item {
    margin: 0 2.8% 30px 0;
    width: 31%;
}
.find-courses .courses .course a {
    background: #fff;
}
.find-courses .search-facets .header-search-facets,
.find-courses .search-facets .header-facet {
    color: #6f6f6f;
    text-transform: uppercase;
    font-size: 13px;
}
.find-courses .search-facets .header-search-facets {
    font-size: 15px;
}
.find-courses .search-facets .header-facet {
    border-color: #f3a100;
    line-height: 1.3;
    padding-bottom: 0;
}
.find-courses .search-facets .facet-option {
    padding: 0 10px;
    font-size: 14px;
}
.find-courses .search-facets .facet-option:hover,
.find-courses .search-facets .facet-option:focus,
.find-courses .search-facets .facet-option.selected {
    background: #f3a100;
    color: #fff;
}
.find-courses .search-facets .facet-option.selected .count .count-number {
    display: block;
    color: #fff;
}
.find-courses .search-facets .facet-option.selected .count:before,
.find-courses .search-facets .facet-option.selected:hover .count:before,
.find-courses .search-facets .facet-option.selected:focus .count:before {
    display: none;
}
.find-courses .search-facets .facet-list li {
    height: auto;
    max-height: 40px;
    overflow: hidden;
}
.find-courses .search-facets .facet-option {
    white-space: normal;
}
.find-courses .search-facets .facet-option .name {
    display: inline-block;
    max-width: 90%;
}
.wrapper_index-courses .find-courses .courses-container .courses:not(.no-course-discovery) .courses-listing .courses-listing-item:nth-child(2n+1) {
    margin: 0 2.8% 30px 0;
    width: 31%;
    @media screen and (max-width: 700px) {
        width: 48%;
        margin: 0 1% 30px;
    }
    @media screen and (max-width: 450px) {
        width: 100%;
        margin: 0 0 30px;
    }
}
.wrapper_index-courses .find-courses .courses-container .courses:not(.no-course-discovery) .courses-listing .courses-listing-item:nth-child(2n){
    margin: 0 2.8% 30px 0;
    width: 31%;
    @media screen and (max-width: 700px) {
        width: 48%;
        margin: 0 1% 30px;
    }
    @media screen and (max-width: 450px) {
        width: 100%;
        margin: 0 0 30px;
    }
}
.wrapper_index-courses .find-courses .courses-container .courses:not(.no-course-discovery) .courses-listing .courses-listing-item {
    @media screen and (max-width: 700px) {
        width: 48%;
        margin: 0 1% 30px;
    }
    @media screen and (max-width: 450px) {
        width: 100%;
        margin: 0 0 30px;
    }
}
.wrapper_index-courses .find-courses .courses-container .courses:not(.no-course-discovery) .courses-listing .courses-listing-item:nth-child(3n) {
    margin: 0 0 30px 0;
    width: 31%;
    @media screen and (max-width: 700px) {
        width: 48%;
        margin: 0 1% 30px;
    }
    @media screen and (max-width: 450px) {
        width: 100%;
        margin: 0 0 30px;
    }
}
//end rewrite elements