.theme-btn:visited,
.theme-btn {
    background: $theme-color;
    border: 2px solid $theme-color;
    border-radius: 4px;
    box-shadow: none;
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    color: #fff !important;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    box-sizing: border-box;
    padding: 7px 10px;
    min-width: 106px;
    text-align: center;

    &:hover {
        background: #fff;
        color: $theme-color !important;
        text-decoration: none;
    }

    @media (max-width: 820px) {
        display: block;
        margin-bottom: 10px;
    }
}

.header-global .theme-btn__active {
    border: 2px solid #201c1d;
    color: #201c1d !important;
    background-color: transparent;
    margin-right: 200px;
    @media (max-width: 900px) {
        margin-right: 130px;
    }
    @media (max-width: 820px) {
        margin-right: 0;
    }
    &:hover {
        border-color: #f67f45;
        background: #f67f45;
        color: #fff !important;
        text-decoration: none;
    }
}