.theme-btn {
    background: $theme-color;
    border-radius: 2px;
    box-shadow: none;
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    color: #fff !important;
    
}