.header {
    position: relative;
}
.header__holder {
    padding: 20px;
    max-width: $desktop-size;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    background: $gradient2;

    @media (min-width: $tablet-size) {
        justify-content: space-between;
    }
    @media (min-width: $desktop-size) {
        padding: 20px 0 50px;
        background: none;
    }
    
    .error-404 &,
    .header__other &,
    .view-in-course &,
    .is-authenticated & {
        padding: 20px 0;
        background: transparent;
    }
}
a.header__logo,
.header__logo {
    font-size: 24px;
    color: #FFFFFF;
    letter-spacing: 0;
    margin: 0;
    line-height: 1;
    display: flex;
    align-items: center;

    &:hover {
        color: #fff;
    }
    
    .error-404 &,
    .header__other &,
    .view-in-course &,
    .is-authenticated & {
        color: #000;

        &:hover {
            color: #000;
        }
    }
}
.header__logo-white {
    display: block;
    width: 32px;
    margin-right: 5px;

    .error-404 &,
    .header__other &,
    .view-in-course &,
    .is-authenticated &,
    .header__other & {
        display: none;
    }
}
.header__logo-dark {
    display: none;
    width: 32px;
    margin-right: 5px;

    .error-404 &,
    .header__other &,
    .view-in-course &,
    .is-authenticated & {
        display: block;
    }
    .footer-about-openedx & {
        display: block;
    }
}
.header__helper {
    max-width: 1700px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -70%);
    width: 120%;
    background: $gradient;
    z-index: 0;
    border-radius: 50%;
    display: none;

    &:before {
        content: '';
        padding-top: 100%;
        float: left;
    }
    @media (min-width: $desktop-size) {
        display: block;
    }
    
    .error-404 &,
    .header__other &,
    .view-in-course &,
    .is-authenticated & {
        display: none;
    }
}
.header__opener {
    position: absolute;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transition: transform .2s;
    width: 18px;
    height: 8px;
    left: 20px;
    top: 26px;

    &:after {
        content: '';
        height: 2px;
        background: #fff;
        position: absolute;
        width: 100%;
        top: 3px;
        left: 0;
    }
    &:hover {
        cursor: pointer;
    }
    @media (min-width: $tablet-size) {
        display: none;
    }
    .menu-open & {
        transform: translate(265px, 0);
    }
}
