.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 101;
    background-color: #fff;
    box-shadow: 0 0 7px rgba(0, 0, 0, .2);
}
.header__holder {
    padding: 0 15px;
    max-width: 1230px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    box-sizing: border-box;

    @media (min-width: $tablet-size) {
        justify-content: space-between;
    }
    @media (min-width: $desktop-size) {
        padding: 0 15px;
        background: none;
    }
    
}
a.header__logo,
.header__logo {
    font-size: 24px;
    color: #FFFFFF;
    letter-spacing: 0;
    margin: 0;
    line-height: 1;
    display: flex;
    align-items: center;
    transition: transform .2s;
    width: 70px;
    height: 70px;

    &:hover {
        color: #fff;
    }
    
    .error-404 &,
    .header__other &,
    .view-in-course &,
    .is-authenticated & {
        color: #000;

        &:hover {
            color: #000;
        }
    }
    // .menu-open & {
    //     transform: translate(120%, 0);
    // }

    @media (max-width: $mobile-size) {
       width: 48px;
       height: 50px; 
       margin-right: 16px;
    }
}
.header__logo-white {
    display: block;
    width: 177px;
    height: 100%;
    margin-right: 5px;

    .error-404 &,
    .header__other &,
    .view-in-course &,
    .is-authenticated &,
    .header__other & {
        display: none;
    }

    @media (max-width: $mobile-size) {
        width: 100%;
    }
}
.header__logo-dark {
    display: none;
    width: 177px;
    height: 100%;
    margin-right: 5px;

    .error-404 &,
    .header__other &,
    .view-in-course &,
    .is-authenticated & {
        display: block;
    }
    .footer-about-openedx & {
        display: block;
    }

    @media (max-width: $mobile-size) {
        width: 100%;
    }
}
.header__helper {
    max-width: 1700px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -70%);
    width: 120%;
    background: $gradient;
    z-index: 0;
    border-radius: 50%;
    display: none;

    &:before {
        content: '';
        padding-top: 100%;
        float: left;
    }
    @media (min-width: $desktop-size) {
        display: none;
    }
    
    .error-404 &,
    .header__other &,
    .view-in-course &,
    .is-authenticated & {
        display: none;
    }
}
.header__opener {
    position: absolute;
    border-top: 2px solid $theme-header-btn-color;
    border-bottom: 2px solid $theme-header-btn-color;
    transition: transform .2s;
    width: 18px;
    height: 8px;
    left: 15px;
    top: 26px;

    &:after {
        content: '';
        height: 2px;
        background: $theme-header-btn-color;
        position: absolute;
        width: 100%;
        top: 3px;
        left: 0;
    }
    &:hover {
        cursor: pointer;
    }
    @media (min-width: $tablet-size) {
        display: none;
    }
    .menu-open & {
        transform: translate(265px, 0);
    }
}
