button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	max-width: 100%;
}

.register-button, /* register page */
.login-button, /* login page */
.wiki-wrapper section.wiki .settings-form .btn, /* wiki settings page */
.course-view .page-header-secondary .form-actions .btn,
.instructor-dashboard-wrapper-2 .bottom-bar input.add[type="button"],
.instructor-dashboard-wrapper-2 section.idash-section#cohort_management .cohort-management-nav .action-create,
.instructor-dashboard-wrapper-2 section.idash-section#cohort_management .form-submit,
.instructor-dashboard-wrapper-2 section.idash-section#cohort_management .action-cancel,
.instructor-dashboard-wrapper-2 section.idash-section#cohort_management .wrapper-tabs .tab.is-selected .toggle-button,
.view-register .register .btn-login-action,
.course-info header.course-profile .intro-inner-wrapper .intro .main-cta strong,
.btn-primary,
.btn-brand,
.instructor-dashboard-content-2 input[type="button"],
.instructor-dashboard-wrapper-2 section.idash-section#cohort_management .cohort-management .message .action-create,
.instructor-dashboard-content-2 .btn-blue,
.instructor-dashboard-wrapper-2 .customBrowseBtn .file-browse .browse,
.instructor-dashboard-wrapper-2 section.idash-section#cohort_management .file-upload-form .action-submit,
.login-register .action-primary,
.wrapper-msg.wrapper-auto-cert .auto-cert-message .has-actions .msg-actions .btn,
.wrapper-messages-primary .message.message-status.course-status-certavailable .actions-primary .action-certificate .btn,
.view-profile .profile-self .wrapper-profile-field-account-privacy .u-field-account_privacy .btn-change-privacy,
.wiki-wrapper section.wiki .btn.btn-primary,
.find-courses .discovery-submit,
.modal .inner-wrapper form .submit input[type="submit"],
.dashboard .search-results .search-load-next,
.view-instructordash .mce-window.mce-in .mce-btn.mce-primary:not(.mce-listbox) button {
	transition: all 0.2s ease !important;
	display: inline-block;
	background: $theme-btn-bg !important;
	color: $theme-btn-text-color !important;
	border: none !important;
	text-transform: uppercase;
	border-radius: 2px !important;
	text-shadow: none !important;
	box-shadow: none !important;

	&:active,
	&:focus {
		background: $theme-btn-bg !important;
	}

	&:focus:hover,
	&:hover {
		background: $theme-btn-bg-hover !important;
	}
}

.instructor-dashboard-content-2 .btn-blue {
	background-color: #eeeeee;
	background-image: linear-gradient(#eeeeee, #d6cece);
	border: 1px solid #cfc6c6;
	border-radius: 3px;
	box-shadow: 0 1px 0 0 #ffffff inset;
	color: #333333;
	display: inline-block;
	font-size: 14px !important;
	font-weight: bold;
	line-height: 1.3em;
	margin-bottom: 1em;
	padding: 8px 17px;
	text-decoration: none;
	text-shadow: 0 1px 0 #f9f8f8;
}

// btn white
.account-settings-sections .section .account-settings-section-body .u-field .field .u-field-link,
.account-settings-sections .section .account-deletion-details .btn-outline-primary,
.discussion-body .btn-outline-primary,
.discussion .comment-form .btn-primary,
.forum-new-post-form .btn-primary,
.forum-new-post-form .btn-outline-primary,
#expand-collapse-outline-all-button,
.discussion-module .btn,
.wmd-prompt-dialog .btn,
.discussion.inline-discussion .new-post-article .add-post-cancel,
.discussion.inline-discussion .inline-thread .forum-nav-bar .all-posts-btn,
.instructor-dashboard-wrapper-2 section#certificates.idash-section .white-listed-students table tr td button.delete-exception,
.page-header-search .search-form .search-button,
.wiki-wrapper section.wiki a.btn,
.wiki-wrapper section.wiki #id_revision + .btn,
.view-instructordash .mce-window.mce-in .mce-btn:not(.mce-listbox) button {
	transition: all 0.2s ease !important;
	background: $theme-btn-white-bg !important;
	border: 1px solid $theme-btn-white-border !important;
	color: $theme-btn-white-text-color !important;
	border-radius: 3px !important;
	text-transform: none;
	box-shadow: none !important;
	text-shadow: none !important;

	&:hover,
	&:focus {
		color: $theme-btn-white-text-color-hover !important;
		background: $theme-btn-white-bg-hover !important;
		border-color: $theme-btn-white-bg-hover !important;
		cursor: pointer;
	}
}

.discussion-module .btn:hover, .wmd-prompt-dialog .btn:hover,
.discussion-module .btn-brand:hover, .wmd-prompt-dialog .btn-brand:hover,
.discussion-module .btn:active, .wmd-prompt-dialog .btn:active,
.discussion-module .btn-brand:active, .wmd-prompt-dialog .btn-brand:active,
.discussion-module .btn:focus, .wmd-prompt-dialog .btn:focus,
.discussion-module .btn-brand:focus, .wmd-prompt-dialog .btn-brand:focus {
	color: $theme-btn-white-text-color-hover !important;
	background: $theme-btn-white-bg-hover !important;
	border-color: $theme-btn-white-bg-hover !important;
}

// btn without border
.btn-default {
	color: $theme-btn-white-text-color;

	&:hover,
	&.is-hovered,
	&:focus,
	&.is-focused {
		color: $theme-btn-white-text-color;
		border-color: $theme-btn-white-border;
	}
}

// "Upgrade to verified" btn
.wrapper-messages-primary .message.message-upsell .action-upgrade,
.verification-process .action-primary, .verification-process .action-confirm,
.verification-process .carousel .wrapper-task .controls .control.approved .action,
.verification-process .carousel .wrapper-task .controls .control.approved .entitlement-actions-wrapper .entitlement-action,
.entitlement-actions-wrapper .verification-process .carousel .wrapper-task .controls .control.approved .entitlement-action,
.verification-process.step-select-track .register-choice-certificate .action-select input, .learner-achievements .learner-message .button,
.learner-achievements .learner-message .action,
.learner-achievements .learner-message .entitlement-actions-wrapper .entitlement-action,
.entitlement-actions-wrapper .learner-achievements .learner-message .entitlement-action,
.wrapper-msg .has-actions .nav-actions .action-primary, .wrapper-msg .has-actions .msg-actions .action-primary {
	box-shadow: 0 2px 1px 0 darken($theme-btn-bg, 10%);
	background: darken($theme-btn-bg, 10%);
	color: #fff;

	&:hover,
	&:focus {
		background: $theme-btn-bg;
	}
}

.edit-post-form .post-update {
	text-transform: none;
	border: 1px solid $theme-btn-white-border !important;

	&:hover,
	&:focus {
		border-color: $theme-btn-bg-hover !important;
	}
}

.btn-danger,
.wiki-wrapper section.wiki .btn.btn-danger {
	transition: all 0.2s ease !important;
	display: inline-block;
	background: #f94d45 !important;
	color: #ffe !important;
	border: none !important;
	text-transform: uppercase;
	text-shadow: none !important;
	box-shadow: none !important;
	line-height: normal;
	border-radius: 3px !important;

	&:hover,
	&:focus {
		background: lighten(#f94d45, 20%) !important;
	}
}

.btn {
	&.btn-primary,
	&.btn-prev {
		box-sizing: border-box;
		border: 1px solid $base-color;
		height: 40px !important;
		padding: .5rem 1.25rem !important;
		line-height: 1;
		min-width: auto !important;
		max-width: 100% !important;
	}
	&.btn-prev {
		background: none;
		color: $base-color;
		transition: all 0.2s ease !important;
		display: inline-block;
		text-transform: uppercase;
		border-radius: 2px !important;
		text-shadow: none !important;
		box-shadow: none !important;
		font-size: 16px;
		font-weight: normal;
		&:hover {
			color: #fff;
			background: $base-color !important;
			border: 1px solid $base-color !important;
		}
	}
	&.btn-main {
		border-radius: 40px;
		box-sizing: border-box;
		border: none;
		outline: none;
		min-height: 40px;
		padding: 18px 90px;
		font-weight: 700;
		line-height: 1;
		color: #fff;
		background: $btn-main;
		box-shadow: none;
		text-shadow: none;
		text-transform: uppercase;
		transition: all .4s ease-in-out;

		&:hover {
			opacity: .75;
			background-image: none;
			background-color: $btn-main;
		}
	}
}
