.learn-more {
	display: block;
	border: 3px solid #fff !important;
	background: none !important;
	line-height: 45px !important;
	box-sizing: border-box;
}

.highlighted-courses {
	padding-top: 45px;

	.home & {
		margin-bottom: 20px;
	}

	&:after {
		content: '';
		display: table;
		clear: both;
	}

	.courses .course {
		border-bottom-color: $courses-border-color;

		&:hover {
			background: #fff;
		}
	}
}

.courses-container .courses .course {
	transition: all 0.25s ease !important;

	.cover-image:before,
	.cover-image .learn-more {
		transition: all 0.25s ease !important;
	}

	.course-info .course-title {
		color: $course-link-color;
		font-size: 14px;
		margin: 5px 0;
		height: 96px;
		overflow: hidden;
		font-weight: 700;
		text-transform: uppercase;
	}
}

.home .courses-container {
	padding: 0 !important;
}

.home .courses-container .courses {
	width: 100% !important;
	float: none !important;
}

.home .courses-container .courses .courses-listing {
	display: flex;
	justify-content: stretch;
	align-items: center;
	flex-wrap: wrap;

	.courses-listing-item {
		float: none !important;
		width: 30% !important;
		margin-right: 28px !important;
		max-width: 280px;

		&:nth-child(3n) {
			margin-right: 0 !important;
		}

		@media screen and (max-width: $breakpoint-tablet) {
			max-width: initial;
			width: 45% !important;

			&:nth-child(3n) {
				margin-right: 28px !important;
			}
		}

		@media screen and (max-width: 619px) {
			width: 100% !important;
			margin-right: 0 !important;

			&:nth-child(3n) {
				margin-right: 0 !important;
			}
		}
	}
}
