.learn-more {
	display: block;
	border: 3px solid #fff !important;
	background: none !important;
	line-height: 45px !important;
	box-sizing: border-box;
}

.highlighted-courses .courses .course {
	border-bottom-color: $courses-border-color;
}
.highlighted-courses .courses .course:hover {
	background: none;
}

.courses-container .courses .course .cover-image:before {
	transition: all 0.2s ease;
}

.courses-container {
	.courses .course .course-info {
		.course-title {
			color: $course-link-color;
			font-size: 18px;
			margin: 5px 0;
			height: 119px;
			overflow: hidden;
		}

		.course-code {
			display: none;
		}
	}

	.courses-more {
		text-align: center;

		a {
			font-weight: 400 !important;
			color: $header-nav-link-color;
			padding: 10px 30px;
			border-bottom: 3px solid #a9402b !important;
			border-radius: 2px !important;
			background: $theme-btn-bg;
			transition: all 0.2s ease;

			&:hover {
				background: $theme-btn-bg-hover !important;
				border-bottom-color: darken(#a9402b, 10%) !important;
			}

			&:after {
				display: none;
			}
		}
	}
}

.home {
	.highlighted-courses {
		.courses-title {
			color: #23475f;
			font-size: 36px;
			line-height: normal;
			font-weight: 700;
			text-align: center;
			margin-top: 50px;
		}

		.courses {
			padding-top: 35px;
		}
	}
}
