.dashboard {
	.main-container {
		box-sizing: border-box;
		padding: 40px 20px 40px 0;
		max-width: calc(100% - 300px);
		@media screen and (max-width: 991px){
			padding: 30px 0;
			order: 2;
			max-width: 100%;
		}

		.my-courses {
			.course .details .wrapper-course-details .course-title a {
				word-break: break-word;
				color: #1f1f1f;
				font-size: 14px;
				text-transform: uppercase;
				font-weight: 700;

				&:hover {
					color: lighten(#1f1f1f, 10%);
				}
			}

			.course.not-started .details .course-actions .action + .actions-dropdown {
				left: auto;
				right: 19px;

				.actions-dropdown-list {
					&:after,
					&:before {
						left: auto !important;
						right: 6px;
					}
				}
			}

			.listing-courses .messages-list .message-related-programs li {
				padding-right: 5px;

				&:last-child {
					padding-right: 0;
				}
			}
		}
	}

	.side-container {
		box-sizing: border-box;
		padding: 40px 0 40px 20px;

		@media screen and (max-width: 991px){
			padding: 30px 0 0;
			margin: 0;
			order: 1;
		}
	}

	.search-bar {
		.search-button,
		.cancel-button{
			background: $base-color2;

			&:hover,
			&:focus {
				background: $base-color2-hover;
			}
		}
	}
}

.dashboard .main-container .my-courses .listing-courses .course-item {
	padding-bottom: 0;
	margin-bottom: 10px;

	.course-container {
		border: 1px solid #C0C0C0;
		box-shadow: 0 0 1.94px 0.06px rgba(0, 79, 135, 0.2);
	}

	.wrapper-course-details {
		padding: 15px 20px;
		box-sizing: border-box;
		margin: 0;
		flex-wrap: nowrap;
		width: calc(100% - 260px);

		@media (max-width: 767px) {
			width: 100%;
		}

		.wrapper-course-actions {
			margin-top: 0;
			align-self: center;
			min-width: 200px;
			display: flex;
			flex-wrap: nowrap;
			justify-content: flex-end;
		}

		.course-title a {
			margin-bottom: 0;
			line-height: normal;
		}

		.course-title {
			flex-basis: auto;
			margin-bottom: 20px;
			padding-top: 0;
		}
	}

	.wrapper-course-details-info {
		margin: 5px 0;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.course-top-info {
		margin-bottom: 10px;
	}

	.course-top-info,
	.info-date-block-container {
		span {
			font-size: 14px;
			color: #474747 !important;
		}
	}

}

.dashboard .main-container .my-courses .course .details {
	background: #f5f5f5;
	min-height: 160px;
	padding-left: 0;
	display: flex;

	.enter-course {
		transition: all 0.2s ease;
		display: inline-block;
		background: $theme-btn-white-bg !important;
		color: $base-color2 !important;
		border: 1px solid $base-color2 !important;
		text-transform: uppercase;
		border-radius: 3px !important;
		height: auto;
		padding: 7px 20px !important;
		font-size: 12px !important;
		font-weight: 700 !important;
		line-height: 16px !important;
		margin-top: 3px;
		margin-bottom: 3px;
		margin-right: 5px;

		&:active,
		&:focus {
			background: $theme-btn-white-bg !important;
		}

		&:focus:hover {
			background: $base-color2-hover !important;
		}

		&:hover {
			background: $base-color2-hover !important;
			color: $theme-btn-white-text-color-hover !important;
		}
	}

	.course-actions .wrapper-action-more .action-more {
		font-size: 20px;
		line-height: 14px;
		text-shadow: none;
		padding: 5px;
		border-color: $base-color2 !important;

		&:hover {
			background: $base-color2-hover !important;
			border-color: $base-color2-hover !important;
		}
	}

	.wrapper-course-details {
		.course-info,
		.wrapper-course-actions {
			margin-right: 0;

			.wrapper-action-more,
			.entitlement-actions-wrapper {
				@media screen and (max-width: 767px){
					padding-top: 0;
				}
			}
		}

		.course-actions {
			@media screen and (max-width: 767px){
				display: flex;
				flex-wrap: wrap;
			}

			.wrapper-action-more {
				@media screen and (max-width: 767px){
					order: -1;
				}
			}
		}
	}

	.wrapper-course-image {
		height: auto;
		max-height: 100%;
		width: 260px;
		margin-right: 0;
		min-height: 160px;

		a {
			height: 100%;
			width: 100%;
			background-size: cover;
			background-position: center center;
		}

		.course-image {
			position: absolute;
			width: 1px !important;
			height: 1px !important;
			overflow: hidden;
			clip: rect(0 0 0 0);
		}
	}
}

.dashboard .main-container .my-courses .course .details .course-actions .action {
	border: 1px solid $base-color2 !important;
	margin-right: 5px !important;
	background: #fff;
	padding: 6px;
	height: 32px;
	margin-top: 3px;
	margin-bottom: 3px;

	.fa {
		pointer-events: none;
	}

	&:hover {
		background: $base-color2-hover !important;
		color: #fff !important;
	}

	@media (max-width: 767px) {
		margin-right: 5px !important;
	}

	& + .actions-dropdown {
		@media (max-width: 767px) {
			left: 19px;
			right: inherit;
		}

		.actions-dropdown-list {
			&:before,
			&:after {
				@media (max-width: 767px) {
					left: 6px !important;
					right: inherit;
				}
			}
		}

		.action {
			height: auto;
			border: none !important;

			&:hover {
				color: $base-color2-hover !important;
				background: transparent !important;
			}
		}
	}
}

.search-results {
	.search-results-item {
		.result-type {
			position: static;

			&:before {
				content: '(';
			}

			&:after {
				content: ')';
			}
		}
	}

	.search-info {
		margin-bottom: 20px;
		border-bottom: 4px solid #f5f5f5;
		padding-bottom: 0;
		color: #222;

		&:after {
			content: '';
			display: table;
			clear: both;
		}

		h2 {
			color: inherit;
		}

		.search-results-title {
			float: left;
			font-size: 18px;
			line-height: 27px;
			margin-bottom: 15px;
			color: inherit;
		}

		.search-count {
			float: right;
			font-size: 16px;
			line-height: 19px;
			color: inherit;
		}
	}

	.search-load-next {
		text-align: center;
		margin-top: 20px;
	}
}

.wrapper-messages-primary .messages-list {
	.prerequisites {
		margin-bottom: 0;
		border-radius: 3px;
		padding: 10px 20px;
		border-top: 1px solid #e4e4e4;
		color: #313131;
		font-size: 14px;
		font-weight: 600;
		line-height: 21px;

		a {
			font-weight: 400;
		}
	}
}


.wrapper-msg .msg {
	min-width: auto;
}

#unenroll-modal,
#email-settings-modal {
	box-sizing: border-box;
	max-width: 95%;
	transform: translateX(-50%);
	margin: 0 !important;
	left: 50% !important;
}
