.hera-dashboard {
    width: 1200px;
    max-width: 1200px;
    margin: 22px auto;

    &__header {
        display: flex;
        align-items: center;
        margin: 0 0 32px;
    }

    &__body {
        position: static;
    }

    &__progress {
        position: static;

        &__header {
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            &__item {
                box-sizing: border-box;
                width: 125px;
                text-align: center;
                padding: 0 15px;
                line-height: 1.3;
            }
        }

        &__body {
            display: flex;
            justify-content: space-evenly;
            position: relative;

            &__bg {
                position: absolute;
                right: auto;
                left: auto;
                top: 0;
                width: 100%;
            }

            &__item {
                display: flex;
                flex-direction: column;
                width: 125px;
                text-align: center;
                box-sizing: border-box;
                margin: 20px 0 0;
                padding: 0 15px 0;
                position: relative;

                &.is-reverse {
                    flex-direction: column-reverse;
                    padding-top: 16px;

                    .dna__connector__img {
                        transform: rotate(180deg);
                    }

                    .dna__text.is-bottom:before {
                        transform: translateX(-50%) rotate(180deg);
                    }
                }
            }
        }
    }
}

.hera-lesson {
    position: static;

    &__title {
        font-size: 18px;
        font-weight: 600;
        color: #4b4e4e;
        position: static;
        margin: 0 0 6px;
    }

    &__status {
        font-size: 16px;
        font-weight: 600;
        color: #44b6cf;
        position: static;
    }
}

.hera-message {
    display: flex;

    &__text {
        padding: 28px;
        background: #d6d8d8;
        border-radius: 26px;
        position: relative;
        color: #545656;
        text-align: center;
        max-width: 175px;
        font-size: 18px;

        p {
            position: relative;
            z-index: 1;
        }

        &:after {
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 85px 85px 0 0;
            border-color: #d6d8d8 transparent transparent transparent;
            position: absolute;
            top: 20px;
            right: -24px;
            -webkit-transform: rotate(360deg);
        }
    }
}

.hera-mascot {
    position: static;

    &__img {
        margin-left: 24px;
        margin-top: 14px;
        transform: scale(1.2);
    }
}

.hera-grades {
    display: flex;
    margin-left: 36px;

    &__item {
        margin-right: 12px;
        text-align: center;

        &:last-child {
            margin-right: 0;
        }
    }

    &__img {
        display: block;
        margin: 0 auto 6px;
    }

    &__points {
        font-size: 12px;
    }

    &__title {
        color: #4b4e4e;
        font-size: 16px;
        font-weight: 600;
    }
}

.dna {
    &__text {
        padding: 26px 0 20px;
        position: relative;

        .title {
            position: relative;
            display: block;
            font-size: 14px;
            font-weight: 600;
        }

        .points {
            position: relative;
            font-size: 10px;
            display: block;
        }

        &.is-bottom {
            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 50%;
                width: 38px;
                height: 74px;
                background: #e1e5e8;
                border-top-left-radius: 16px;
                border-top-right-radius: 16px;
                transform: translateX(-50%);
            }
        }

        &.is-top {
            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 50%;
                width: 38px;
                height: 74px;
                background: #e1e5e8;
                border-bottom-left-radius: 16px;
                border-bottom-right-radius: 16px;
                transform: translateX(-50%);
            }
        }
    }

    &__connector {
        position: static;

        &__img {
            position: static;
        }
    }

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background: #fff;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 40px;
        height: 40px;

        &__img {
            display: block;
            width: 18px;
        }
    }

    &__unlocked {
        height: 100%;
        position: relative;

        &:before {
            content: '';
            width: 38px;
            height: 152px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            background: #e1e5e8;
            margin-top: -1px;
        }

        &:after {
            content: '';
            width: 22px;
            height: 22px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            border-radius: 50%;
            border: 6px solid #4e79b5;
            background: transparent;
        }
    }

    &__locked {
        height: 100%;
        position: relative;

        &:before {
            content: '';
            width: 38px;
            height: 152px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            background: #e1e5e8;
            margin-top: -1px;
        }
    }
}
