@font-face {
	font-family: 'DIN 2014';
	src: url('../fonts/DIN2014-Regular.woff2') format('woff2'),
	url('../fonts/DIN2014-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'DIN 2014';
	src: url('../fonts/DIN2014-Bold.woff2') format('woff2'),
	url('../fonts/DIN2014-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}
