@font-face {
    font-family: 'PTSans';
    src: url('#{$font-path}/PTSans-Regular/PTSans-Regular.eot');
    src: url('#{$font-path}/PTSans-Regular/PTSans-Regular.eot#iefix') format('embedded-opentype'),
    url('#{$font-path}/PTSans-Regular/PTSans-Regular.woff') format('woff'),
    url('#{$font-path}/PTSans-Regular/PTSans-Regular.ttf') format('truetype'),
    url('#{$font-path}/PTSans-Regular/PTSans-Regular.svg#PTSans-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'PTSans';
    src: url('#{$font-path}/PTSans-Italic/PTSans-Italic.eot');
    src: url('#{$font-path}/PTSans-Italic/PTSans-Italic.eot#iefix') format('embedded-opentype'),
    url('#{$font-path}/PTSans-Italic/PTSans-Italic.woff') format('woff'),
    url('#{$font-path}/PTSans-Italic/PTSans-Italic.ttf') format('truetype'),
    url('#{$font-path}/PTSans-Italic/PTSans-Italic.svg#PTSans-Italic') format('svg');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'PTSans';
    src: url('#{$font-path}/PTSans-Bold/PTSans-Bold.eot');
    src: url('#{$font-path}/PTSans-Bold/PTSans-Bold.eot#iefix') format('embedded-opentype'),
    url('#{$font-path}/PTSans-Bold/PTSans-Bold.woff') format('woff'),
    url('#{$font-path}/PTSans-Bold/PTSans-Bold.ttf') format('truetype'),
    url('#{$font-path}/PTSans-Bold/PTSans-Bold.svg#PTSans-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'ComicSansMS';
    src: url('#{$font-path}/ComicSansMS-Bold/ComicSansMS-Bold.eot');
    src: url('#{$font-path}/ComicSansMS-Bold/ComicSansMS-Bold.eot#iefix') format('embedded-opentype'),
    url('#{$font-path}/ComicSansMS-Bold/ComicSansMS-Bold.woff') format('woff'),
    url('#{$font-path}/ComicSansMS-Bold/ComicSansMS-Bold.ttf') format('truetype'),
    url('#{$font-path}/ComicSansMS-Bold/ComicSansMS-Bold.svg#ComicSansMS-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Slab';
    src: url('#{$font-path}/RobotoSlab-Light/RobotoSlab-Light.eot');
    src: url('#{$font-path}/RobotoSlab-Light/RobotoSlab-Light.eot#iefix') format('embedded-opentype'),
    url('#{$font-path}/RobotoSlab-Light/RobotoSlab-Light.woff') format('woff'),
    url('#{$font-path}/RobotoSlab-Light/RobotoSlab-Light.ttf') format('truetype'),
    url('#{$font-path}/RobotoSlab-Light/RobotoSlab-Light.svg#RobotoSlab-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}
