@font-face {
    font-family: 'Muli';
    src: url('#{$font-path}/Muli-Light.woff2') format('woff2'),
    url('#{$font-path}/Muli-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muli';
    src: url('#{$font-path}/Muli-LightItalic.woff2') format('woff2'),
    url('#{$font-path}/Muli-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Muli';
    src: url('#{$font-path}/Muli-Regular.woff2') format('woff2'),
    url('#{$font-path}/Muli-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muli';
    src: url('#{$font-path}/Muli-Italic.woff2') format('woff2'),
    url('#{$font-path}/Muli-Italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Muli';
    src: url('#{$font-path}/Muli-Bold.woff2') format('woff2'),
    url('#{$font-path}/Muli-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Work Sans';
    src: url('#{$font-path}/WorkSans-Bold.woff2') format('woff2'),
    url('#{$font-path}/WorkSans-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
