.wrapper-footer {
	padding: 50px 0 !important;
	background: $footer-bg;
	color: #909090;
	margin: 0 !important;

	@media screen and (min-width: 1200px) {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
	}

	@media screen and (max-width: 991px) {
		padding: 30px 0 10px;
	}

	footer#footer-openedx {
		width: 100%;
		max-width: 1700px !important;
		padding: 0 15px;

		a {
			border: none !important;
			color: #909090;

			&:hover {
				color: #fff;
			}
		}

		.bottom-links {
			list-style: none;
			padding: 0;

			li {
				float: left;
				margin-left: 15px;

				@media screen and (max-width: 991px) {
					float: none;
					display: inline-block;
					vertical-align: top;
					margin: 10px;
				}
			}
		}
	}

	.footer-flex {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;

		@media screen and (max-width: 991px) {
			display: block;
			text-align: center;
		}
	}
}
