.wrapper-footer {
	padding: 0 !important;
	background: none;
	color: #fff;
	margin: 0 !important;
	box-shadow: none !important;
	border: none !important;

	footer#footer-openedx {
		width: 100%;
		max-width: 1200px !important;
		padding: 50px 15px;
		position: relative;
		&:before {
			content: "";
			position: absolute;
			left: 15px;
			top: 0;
			width: calc(100% - 30px);
			height: 3px;
			background-color: #f58025;
			background-image: linear-gradient(to right, #5cbec9 0%, #552988 100%);
		}
	}
	.footer-flex {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		> * {
			width: 33.3333%;
			@media screen and (max-width: 991px) {
				width: 100%;
				text-align: center;
			}
		}
	}
	.footer-logo-holder {
		a {
			float: right;
			text-decoration: none !important;
			border: none !important;

			@media screen and (max-width: 991px) {
				float: none;
				display: inline-block;
				margin-bottom: 30px;
			}
		}
		img {
			height: 31px;
		}
	}
	.icon-list {
		text-align: center;
		margin: 0;
		padding: 0;
		list-style: none;
		width: auto !important;

		@media screen and (max-width: 991px) {
			margin-bottom: 30px;
			width: 100% !important;
		}

		&_item {
			margin: 0 5px;
			display: inline-block;
		}

		&_link {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 35px;
			height: 35px;
			border: 2px solid #63c0bc !important;
			color: #63c0bc !important;
			font-size: 20px;
			border-radius: 50%;
			transition: all 0.2s ease;
			
			&:hover {
				background: #86aad2;
				border: 2px solid #86aad2 !important;
				color: #fff !important;
			}
		}
	}

	.footer-menu {
		@media screen and (max-width: 991px) {
			margin-bottom: 0;
			order: 3;
		}

		&__list {
			list-style: none;
			padding: 0;
			margin: 0 0 10px;
			overflow: hidden;
		}

		&__item {
			float: left;
			font-size: 14px;
			line-height: 16px;
			margin-right: 20px;

			@media screen and (max-width: 991px) {
				float: none;
				display: inline-block;
			}
		}

		&__link {
			color: #86aad2;

			&:hover {
				color: #63c0bc !important;
				text-decoration: underline !important;
			}
		}

		&__text {
			font-size: 14px;
			color: #333;
			clear: both;
			margin: 0;

			@media screen and (max-width: 991px) {
				text-align: center;
			}
		}
	}
}

.footer-index #footer-openedx:before {
	display: none;
}

.footer-support {
	display: flex;
	align-items: center;
	font-size: 14px;
	color: #333;
	margin-top: 0;

	@media screen and (max-width: 991px) {
		justify-content: center;
	}

	a {
		text-decoration: none;
		border: none !important;
	}

	span {
		margin-right: 5px;
		display: inline-block;
		vertical-align: top;
	}

	.openedx__logo {
		margin-right: 5px;
	}

	.svg-edx {
		width: 55px;
	}

	.svg-raccoon {
		width: 20px;
		position: relative;
		top: -1px;
	}

	.raccoon__logo {
		display: flex;
		align-items: center;
		color: #333;

		em {
			font-style: normal;
			margin-right: 5px;
			color: #333;
		}
	}
}
