.wrapper-footer {
	padding: 10px 0 40px !important;
	text-align: center;
	background: $footer-bg;
	color: #fff;
	margin: 0 !important;
	box-shadow: none !important;
	border-top: none !important;

	@media (max-width: $build-footer-mobile) {
		padding-top: 30px !important;
	}

	footer#footer-openedx {
		width: 100%;
		max-width: 1200px !important;
		padding: 0 15px;

		@media (min-width: 1230px) {
			padding: 0;
		}

		a {
			border: none !important;
		}

		.colophon {
			float: none;
			width: 100%;
			text-align: center;
			display: flex;
			justify-content: space-between;
			align-items: flex-end;

			@media (max-width: $build-footer-mobile) {
				flex-direction: column;
				align-items: center;
			}

			.nav-colophon {
				text-align: center;
				margin: 0 0 6px;

				@media (max-width: $build-footer-mobile) {
					margin: 0 0 6px;
				}

				ol {
					margin: 0;
					padding: 0;

					li {
						float: none;
						display: inline-block;
						vertical-align: top;
						font-size: 16px;
						margin: 0 5px;

						a {
							color: $footer-nav-link-color;
							font-size: 14px;
							font-weight: 400;

							&:focus,
							&:hover {
								border: none !important;
								color: $footer-nav-link-color-hover;
							}
						}
					}
				}
			}
		}
	}

	.footer-flex {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;

		> * {
			@media screen and (max-width: $build-footer-mobile) {
				width: 100% !important;
			}
		}
	}

	.icon-list {
		width: auto !important;

		@media screen and (max-width: $build-footer-mobile) {
			width: 100% !important;
			order: 2;
		}
	}

	.footer-support {
		display: flex;
		align-items: center;
		font-size: 12px;
		margin: 0 !important;
		position: relative;
		top: 9px;

		@media screen and (max-width: $build-footer-mobile) {
			justify-content: center;
			order: 3;
		}

		span {
			margin: 0 5px 0 25px;

			&:first-of-type {
				margin-left: 0;
			}
		}

		a {
			display: inline-block;
			vertical-align: top;
			color: #fff !important;
		}

		em {
			display: inline-block;
			vertical-align: top;
			font-style: normal;
			line-height: 24px;
			text-transform: uppercase;
		}

		.svg-edx {
			width: 66px;
			height: 50px;
		}

		.svg-raccoon {
			width: 20px;
			height: 20px;
		}
	}

	.footer-logo-holder {
		width: 275px;

		@media screen and (max-width: $build-footer-mobile) {
			order: 1;
			margin-bottom: 38px;
		}

		a {
			float: right;

			@media screen and (max-width: $build-footer-mobile) {
				float: none;
				display: inline-block;
			}
		}

		img {
			height: $footer-logo-height;
		}
	}

	.icon-list {
		text-align: center;
		margin: 0;
		padding: 0;
		list-style: none;

		@media (max-width: $build-footer-mobile) {
			margin-bottom: 15px;
		}

		@media (max-width: $breakpoint-mobile) {
			margin-bottom: 11px;
		}

		&_item {
			margin: 0 2px;
			display: inline-block;

			@media (max-width: $build-footer-mobile) {
				margin: 5px 3px;
			}
		}

		&_link {
			display: block;
			width: 35px;
			height: 35px;
		}

		&_svg {
			width: 35px;
			height: 35px;
			fill: $footer-social-link-bg;

			&:hover {
				fill: $footer-social-link-bg-hover;
				opacity: 0.8;
			}
		}
	}
}

.wrapper-footer-ucdc {
    font-family: $general-font-family;
    background: #f8f8f8;
    margin-top: 0;

	@media (max-width: $build-footer-mobile) {
		padding: 0 15px;
	}

	footer#footer-ucdc {
		box-sizing: border-box;
		max-width: 1200px;
		margin: 0 auto;
		padding: 10px 0;
		color: #a9a9a9;

		p {
			line-height: 1.3em;
			font-size: 14px;
		}
	}
}
