.wrapper-footer {
	padding: 48px 0 !important;
	text-align: center;
	background: $footer-bg;
	color: #fff;
	margin: 0 !important;
	box-shadow: none !important;
	border-top: none !important;

	@media screen and (max-width: $build-header-menu-tablet) {
		padding: 30px 0 10px;
	}

	footer#footer-openedx {
		width: 100%;
		max-width: 1200px !important;
		padding: 0 15px;

		@media (min-width: 1230px) {
			padding: 0;
		}

		a {
			border: none !important;
		}

		.colophon {
			float: none;
			width: 100%;
			text-align: center;

			.nav-colophon {
				text-align: center;
				margin: 0;

				@media (max-width: $build-header-menu-tablet) {
					margin: 0 0 35px;
				}

				ol {
					margin: 0;
					padding: 0;

					li {
						float: none;
						display: inline-block;
						vertical-align: top;
						font-size: 16px;
						margin: 0 5px;

						a {
							color: $footer-nav-link-color;
							text-transform: uppercase;
							font-size: 12px;
							font-weight: 700;
							transition: all .3s ease-in-out;

							&:focus,
							&:hover {
								border: none !important;
								color: $footer-nav-link-color-hover;
							}
						}
					}
				}
			}
		}
	}

	.footer-flex {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: baseline;
		position: relative;

		> * {
			@media screen and (max-width: $build-header-menu-tablet) {
				width: 100% !important;
			}
		}
	}

	.footer-block {
		color: #fff;
		text-align: left;
		margin-right: 32px;

		@media screen and (max-width: $build-header-menu-tablet) {
			text-align: center;
			margin: 0 0 32px;
		}

		img {
			display: block;
			width: 200px;
			margin: 12px 0;
			@media screen and (max-width: $build-header-menu-tablet) {
				margin: 18px auto;
			}
		}

		p {
			font-size: 14px;
			line-height: 1.4;

			@media screen and (max-width: $build-header-menu-tablet) {
				text-align: center;
			}

			&.last-line {
				margin-bottom: 0;

				@media screen and (max-width: $build-header-menu-tablet) {
					br {
						display: none;
					}
				}
			}
		}
	}

	.icon-list {
		width: auto !important;

		@media screen and (max-width: $build-header-menu-tablet) {
			width: 100% !important;
			order: 2;
		}
	}

	.footer-support {
		display: flex;
		align-items: center;
		font-size: 12px;
		margin: 0 !important;
		width: 275px;
		position: relative;
		top: 9px;

		@media screen and (max-width: $build-header-menu-tablet) {
			justify-content: center;
			order: 3;
		}

		span {
			margin: 0 5px 0 25px;

			&:first-of-type {
				margin-left: 0;
			}
		}

		a {
			display: inline-block;
			vertical-align: top;
			color: #fff !important;
		}

		em {
			display: inline-block;
			vertical-align: top;
			font-style: normal;
			line-height: 24px;
			text-transform: uppercase;
		}

		.svg-edx {
			width: 66px;
			height: 50px;
		}

		.svg-raccoon {
			width: 20px;
			height: 20px;
		}
	}

	.footer-logo-holder {
		width: auto;
		position: absolute;
		bottom: 0;
		right: 0;

		@media screen and (max-width: $build-header-menu-tablet) {
			position: static;
			order: 1;
			margin-bottom: 0;
		}

		a {
			float: none;
			transition: all .3s ease-in-out;

			&:hover {
				opacity: .5;
			}

			@media screen and (max-width: $build-header-menu-tablet) {
				float: none;
				display: inline-block;
			}
		}

		img {
			height: $footer-logo-height;
		}
	}

	.icon-list {
		text-align: center;
		margin: 0;
		padding: 0;
		list-style: none;

		@media (max-width: $build-header-menu-tablet) {
			margin-bottom: 15px;
		}

		@media (max-width: $build-header-menu-tablet) {
			margin-bottom: 11px;
		}

		&_item {
			margin: 0 2px;
			display: inline-block;

			@media (max-width: $build-header-menu-tablet) {
				margin: 5px 3px;
			}
		}

		&_link {
			display: block;
			width: 35px;
			height: 35px;
		}

		&_svg {
			width: 35px;
			height: 35px;
			fill: $footer-social-link-bg;

			&:hover {
				fill: $footer-social-link-bg-hover;
				opacity: 0.8;
			}
		}
	}
}
