.global-header {
	padding: 0;
	border: none;
	position: relative;
	overflow: visible;
	background: $header-bg;
	z-index: 11;

	.holder {
		max-width: 100%;
	}

	.main-header {
		box-sizing: border-box;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 12px 0;
		height: $header-height;
		position: relative;

		.header-logo {
			display: block;
			margin: 0;
			flex-grow: 0;
			z-index: 2;

			@media screen and (max-width: $build-header-menu-tablet) {
				display: inline-block;
				vertical-align: middle;
			}

			a {
				margin: 0;
				transition: opacity .15s ease-in-out;
				height: auto;
				pointer-events: none;
				cursor: default;

				&:hover {
					opacity: .8;
				}

				.logo {
					display: block;
					margin: 0 !important;
					height: $header-logo-height;
				}
			}
		}

		.nav-links {
			display: flex;
			border-top: none;
			flex-grow: 1;
			align-items: center;
			font-size: 16px !important;
			justify-content: flex-end;

			&.nav-links_not-authenticated .main {
				@media (max-width: $build-header-menu-tablet) {
					border-bottom: none;
					padding-bottom: 5px;
				}

				@media (max-width: $build-header-menu-mobile) {
					padding-bottom: 0;
				}
			}

			.main {
				margin: 0;
				display: flex;
				align-items: center;
				justify-content: center;
				box-sizing: border-box;
				width: 100%;
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);

				@media (max-width: $build-header-menu-tablet) {
					position: static;
					transform: none;
					width: 100%;
					padding: 20px 15px;
					flex-wrap: wrap;
					border-bottom: 1px solid #d4d4d4;
				}

				.nav-item {
					margin: 0 10px;

					@media (max-width: $build-header-menu-tablet) {
						margin: 5px;
					}

					@media (max-width: $build-header-menu-mobile) {
						width: 100%;
						margin: 0 0 10px;

						&:last-child {
							margin-bottom: 0;
						}
					}

					a {
						color: $header-nav-link-color;
						font-weight: 700;
						display: inline-block;
						line-height: 20px;
						box-sizing: border-box;
						text-align: center;
						margin: 0;

						@media (max-width: $build-header-menu-mobile) {
							width: 100%;
						}
					}
				}
			}

			.secondary {
				margin: 0;
				float: none;
				width: auto;
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 20px 0;
				z-index: 2;

				@media (min-width: $build-header-menu-tablet + 1) {
					justify-content: flex-end;
					float: right;
					padding: 0;
				}

				@media (max-width: $build-header-menu-mobile) {
					flex-wrap: wrap;
					padding: 20px 15px;
					box-sizing: border-box;
					width: 100%;
				}

				&.secondary_authenticated {
					flex-wrap: nowrap;
					justify-content: space-between;

					.nav-item {
						margin-bottom: 0;

						@media (max-width: $build-header-menu-mobile) {
							width: auto;
						}

						a {
							padding: 0;
						}
					}

					.dropdown-item a {
						padding: 5px 15px;
						display: block;
					}
				}

				.user-dropdown-wrapper {
					display: flex;
					align-items: flex-end;
				}

				.nav-item {
					padding: 0;
					margin: 0 0 0 5px;
					font-size: 14px !important;

					@media (max-width: $build-header-menu-tablet) {
						margin: 0 0 0 10px;
					}

					@media (max-width: $build-header-menu-mobile) {
						margin: 0 0 10px;
						width: 100%;
						box-sizing: border-box;

						&:last-child {
							margin-bottom: 0;
						}
					}

					&:first-child {
						margin-left: 0;
					}

					&.nav-item-dropdown {
						margin: 0 0 0 2px;
					}

					a {
						color: $header-nav-link-color;
						font-weight: 700;
						line-height: 18px;
						padding: 9px 25px;
						box-sizing: border-box;

						&.menu-title {
							color: #474747;
							position: relative;
							top: 1px;

							&:hover,
							&:focus {
								color: $base-color2 !important;
							}
						}

						&.help-link {
							color: #474747 !important;
							text-transform: uppercase;
							margin-left: 20px;

							&:hover,
							&:focus {
								color: $base-color2 !important;
							}

							svg {
								width: 18px;
								height: 18px;
								fill: $base-color2;
								display: inline-block;
								vertical-align: middle;
								position: relative;
								top: -2px;
								margin-right: 5px;
							}
						}
					}

					.fa {
						color: #474747;
					}
				}

				.nav-item-dropdown {
					position: relative;
				}

				.username {
					margin-left: 5px;
					max-width: 120px;
					display: inline-block;
					overflow: hidden;
					vertical-align: middle;
					text-overflow: ellipsis;
				}

				.user-image-frame {
					margin: 0;
					width: 36px;
					box-sizing: border-box;
					border: 1px solid #bababa;
					border-radius: 5px;
				}

				.dropdown-user-menu {
					width: 115px;
					right: 0;
					z-index: 20;
					border: 1px solid #2b6797;
					border-radius: 4px;
					position: absolute;
					background-color: #fff;
					color: #313131;
					top: 22px;

					.dropdown-item {
						display: block;
						cursor: pointer;
						overflow: hidden;
						padding: 0;
						transition: all .3s ease-in-out;

						&:not(:last-child) {
							border-bottom: 1px solid #ccc;
						}

						&:hover {
							color: #fff;
							background-color: #2b6797;

							a {
								color: inherit !important
							}
						}
					}
				}

				.toggle-user-dropdown {
					position: relative;
					padding: 0 3px;
					line-height: 1;
					top: -1px;

					&:hover,
					&:focus {
						.fa {
							color: $base-color2 !important;
						}
					}
				}
			}
		}
	}

	.course-header {
		margin-top: 0;
		color: #313131;
		text-align: center;
		padding-bottom: 20px;
	}

	.dropdown-user-menu a {
		color: #474747 !important;
		box-sizing: border-box;
	}

	.main .nav-item a {
		border: 2px solid $header-nav-link-color !important;
		padding: 6px 25px !important;
		position: relative;
		color: $header-nav-link-color !important;
		text-transform: uppercase;
		font-size: 14px;
		border-radius: 2px;

		&:focus,
		&:hover {
			color: $header-nav-link-color-hover !important;
			border-color: $header-nav-link-color-hover !important;
		}
	}

	.help-link {
		color: $header-nav-link-color !important;
	}

	.hamburger-menu {
		top: 18px;
		right: 15px;
		left: inherit;
		position: absolute;
		width: 30px;
		height: 30px;
		padding-bottom: 0;
		transform: rotate(0deg);
		transition: 0.5s ease-in-out;
		cursor: pointer;
		box-sizing: border-box;

		&.open {
			.line {
				&:nth-child(1) {
					top: 18px;
					width: 0;
					left: 50%;
				}

				&:nth-child(2) {
					transform: rotate(45deg);
				}

				&:nth-child(3) {
					transform: rotate(-45deg);
				}

				&:nth-child(4) {
					top: 18px;
					width: 0;
					left: 50%;
				}
			}
		}

		.line {
			background: $base-color2;
			display: block;
			position: absolute;
			height: 5px;
			width: 100%;
			opacity: 1;
			left: 0;
			transform: rotate(0deg);
			transition: 0.25s ease-in-out;

			&:nth-child(1) {
				top: 0;
			}

			&:nth-child(2),
			&:nth-child(3) {
				top: 12px;
			}

			&:nth-child(4) {
				top: 24px;
			}
		}

		//@media (max-width: $build-header-menu-tablet) {
		//	display: block;
		//}

		&.open + .nav-links {
			@media (max-width: $build-header-menu-tablet) {
				display: flex !important;
				flex-direction: column;
				align-items: center;
				position: absolute;
				background: $body-bg;
				box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
				top: 100%;
				width: calc(100% + 30px);
				left: -15px;
				z-index: 10;
			}
		}

	}

	// header buttons

	.btn {
		transition: all 0.2s ease;
		display: inline-block;
		background: $theme-btn-bg !important;
		color: $theme-btn-text-color !important;
		border: none !important;
		text-transform: uppercase;
		border-radius: 2px !important;
		text-align: center;

		@media (max-width: $build-header-menu-tablet) {
			min-width: 290px;
			text-align: center;
		}

		@media (max-width: $build-header-menu-mobile) {
			width: 100%;
			min-width: 0;
		}

		&:active,
		&:focus {
			background: $theme-btn-bg !important;
		}

		&:focus:hover {
			background: $theme-btn-bg-hover !important;
		}

		&:hover {
			background: $theme-btn-bg-hover !important;
		}
	}
}


// mobile menu

.mobile-menu {

	margin: 0;
	border-top: 1px solid #e7e7e7;
	display: block !important;

	@media (min-width: $build-header-menu-tablet + 1) {
		display: none !important;
	}

	.mobile-nav-link {
		position: static;
		transform: none;
		overflow: hidden;
		padding: 0;
	}
	.mobile-nav-link a {
		background: none !important;
		color: $header-nav-link-color !important;
		border-bottom: 1px solid #e7e7e7 !important;
		font-size: 16px;
		font-weight: 600;
		display: block;
		padding: 12px 20px;
		box-sizing: border-box;

		&:after {
			content: '\00BB';
			padding-left: 4px;
		}

		&:focus:hover,
		&:hover {
			background: none !important;
		}
	}
	.mobile-nav-item-hide {
		display: none !important;
	}
}

div.mobile-menu {
	display: none !important;
}

// banner

section.home {
	> header,
	.slider {
		height: 100vh;
		box-shadow: none;
		background: #fff;
		background-size: cover;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #fff;
		position: relative;

		@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
			display: block;
		}

		.parallax-img {
			position: absolute;
			left: 0;
			top: -100px;
			width: 100%;
			height: calc(100% + 200px); /* картинка паралакса всегда больше нашего баннера, при скролинге не появится пустутота под баннером */
			background: #040404 url('#{$img-path}/background.jpg') no-repeat 50% 50%; /* высота картинки - желательно не меньше 600px по высоте */
			background-size: cover;
		}

		.outer-wrapper {
			width: 100%;
			padding: 15px;

			@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
				display: table;
				min-height: 420px;
				box-sizing: border-box;
			}

			.title {
				background: none;
				box-shadow: none;
				float: none;
				margin: 0;
				padding: 0;
				width: 100%;
				transition: none !important;

				@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
					display: table-cell;
					vertical-align: middle;
				}

				.heading-group {
					text-align: center;

					h1 {
						font-size: 72px;
						font-weight: 400;
						line-height: 1.2;
						color: $main-title;
						margin-bottom: 28px;
						text-align: center !important;

						@media screen and (max-width: $breakpoint-mobile) {
							font-size: 52px;
						}
					}

					span {
						display: inline-block;
						text-align: center;
						font-size: 18px;
						line-height: 1.3;
						text-shadow: $promo-box-text-shadow;
						color: $promo-box-text-color;
						margin-bottom: 55px;
						max-width: 820px;

						@media screen and (min-width: $breakpoint-mobile) {
							font-size: 22px;
							margin-bottom: 25px;
						}

						@media screen and (min-width: $breakpoint-tablet) {
							font-size: 28px;
							margin-bottom: 15px;
						}
					}

					.link {
						background: $find-btn-bg;
						border: 3px solid $find-btn-border;
						color: $find-btn-color;
						padding: 10px 20px;
						display: inline-block;

						&:hover {
							background: $find-btn-bg-hover;
							color: $find-btn-color-hover;
							text-decoration: none;
						}
					}
				}

				.course-search {
					max-width: 590px;
					margin: 0 auto;
					overflow: hidden;
					position: relative;
					padding: 15px 0;

					.search-input {
						background: $search-input-background;
						border: 2px solid $search-input-border;
						color: $search-input-color;
						padding-left: 15px !important;
						font-size: 12px;
						font-weight: 400;
						height: $search-height - 7;

						@media screen and (min-width: $breakpoint-mobile) {
							height: $search-height;
							font-size: 16px;
						}

						&:focus {
							border-color: $search-input-border !important;
						}

						&::placeholder {
							color: $search-input-color;
							opacity: 1;
						}

						&:-ms-input-placeholder {
							color: $search-input-color;
						}
					}

					.search-button {
						background: $search-button-background !important;
						border-color: $search-button-border !important;
						color: $search-button-color;
						border-left: none !important;
						right: 0;
						padding: 0 10px;
						height: $search-height - 7;
						transition: opacity .15s ease;

						@media screen and (min-width: $breakpoint-mobile) {
							height: $search-height;
						}

						&:hover {
							opacity: .8;
						}
					}
				}
			}
		}
	}
}

// line under courses "View this course as:"

.wrapper-preview-menu {
	background: #c8c8c8;
	padding: 0;

	label {
		color: #3c3c3c !important;
		text-shadow: none;
		-webkit-font-smoothing: auto;
		-moz-osx-font-smoothing: auto;
		line-height: 20px;
	}

	.preview-menu {
		padding: 15px !important;
	}
}

.wrapper-preview-menu .preview-actions .action-preview .action-preview-select,
.u-field-value select {
	padding: 0 5px;
}

.heading-group {
	position: relative;

	.mascot {
		position: absolute;
		right: -202px;
		bottom: -55px;

		@media screen and (max-width: $build-header-menu-tablet) {
			display: none;
			visibility: hidden;
		}
	}

	.mascot-quote {
		display: inline-block;
		padding: 28px;
		position: absolute;
		top: -120px;
		left: 82px;
		color: #fff;
		font-size: 22px;
		background: #6b9d9c;
		border-radius: 50px;
	}

	.mascot-quote:after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 50%;
		width: 0;
		height: 0;
		border: 41px solid transparent;
		border-top-color: #6b9d9c;
		border-bottom: 0;
		border-left: 0;
		margin-left: -38.5px;
		margin-bottom: -28px;
	}
}

// User coins in the header
.user-coins-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
}

.user-coins {
	line-height: 1;
	margin-top: 3px;
	margin-left: 20px;
	display: inline-block;
}

.coins-icon {
	display: block;
	width: 35px;
	margin-left: 6px;
}
