.global-header {
	box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.75);
	padding: 0;
	border-bottom: none;
	position: relative;
	overflow: visible;
	background: $header-bg;
	.main-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 17px 0;
		height: auto;
		@media screen and (max-width: 991px) {
			display: block;
			text-align: center;
		}
		.header-logo {
			display: block;
			margin: 0;
			flex-grow: 0;
			@media screen and (max-width: 991px) {
				display: inline-block;
			}
			a {
				margin: 0;
				height: 44px;
				.logo {
					display: block;
					margin: 0 !important;
					height: 100%;
				}
			}
			.course-header {
				margin-top: 0;
			}
			@media screen and (max-width: 992px) {
				a{
					height: 40px;
					position: relative;
					bottom: -4px;
				}
			}
		}
		.nav-links {
			flex-grow: 1;
			display: flex;
			justify-content: space-between;
			align-items: center;
			font-size: 16px !important;
			.main {
				margin: 0 0 0 20px;
				display: flex;
				flex: 1;
				align-items: flex-end;
				justify-content: center;
				flex-wrap: wrap;
				.nav-item {
					margin-left: 30px;
					a {
						color: $header-nav-link-color;
						padding: 6px 8px !important;
						border: 1px solid $header-nav-link-color !important;
						text-transform: uppercase;
						display: inline-block;
						margin: 3px 0;

						&:hover,
						&:focus {
							color: $header-nav-link-color-hover !important;
							border-color: $header-nav-link-color-hover !important;

							&:before {
								display: none;
							}
						}
					}
				}
			}
			.secondary {
				margin: 0;
				.nav-item {
					padding: 0;
					margin: 0 0 0 10px;
					font-size: 16px !important;
					a {
						color: $header-nav-link-color;
					}
					.fa {
						color: $header-nav-link-color;
					}
				}
				.nav-item-dropdown {
					position: relative;
				}
				.username {
					margin-left: 10px;
				}
				.user-image-frame {
					margin: 0 5px;
				}
				.dropdown-user-menu {
					right: 0;
					z-index: 20;
				}
			}
		}
	}
	.dropdown-user-menu a {
		color: #28507d !important;
		box-sizing: border-box;
	}
	.main .nav-item a {
		padding: 0 !important;
		border: none !important;
		position: relative;
		color: $header-nav-link-color !important;
	}
	.help-link {
		color: $header-nav-link-color !important;
	}
	.hamburger-menu {
		top: 28px;
	}

	// header buttons

	.btn {
		transition: all 0.2s ease;
		display: inline-block;
		background: $theme-btn-bg !important;
		color: $theme-btn-text-color !important;
		border: none !important;
		text-transform: uppercase;
		border-radius: 0 !important;
		&:active,
		&:focus {
			background: $theme-btn-bg !important;
		}
		&:focus:hover {
			background: $theme-btn-bg-hover !important;
		}
		&:hover {
			background: $theme-btn-bg-hover !important;
		}
	}
}


// mobile menu

.mobile-menu {
	margin: 0;
	border-top: 1px solid #e7e7e7;
	.mobile-nav-link a {
		background: none !important;
		color: #000 !important;
		border-bottom: 1px solid #e7e7e7 !important;
		font-size: 16px;
		&:focus:hover,
		&:hover {
			background: none !important;
		}
	}
}

// banner

section.home {
	> header,
	.slider {
		min-height: 450px;
		background: url('../images/background.jpg') no-repeat 50% 50%;
		background-size: cover;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #fff;
		position: relative;

		@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
			display: block;
		}

		.parallax-img {
			position: absolute;
			left: 0;
			top: -100px;
			width: 100%;
			height: calc(100% + 200px); /* картинка паралакса всегда больше нашего баннера, при скролинге не появится пустутота под баннером */
			background: #040404 url('#{$img-path}/background.jpg') no-repeat 50% 50%; /* высота картинки - желательно не меньше 600px по высоте */
			background-size: cover;
		}

		.outer-wrapper {
			width: 100%;
			padding: 15px 30px;

			@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
				display: table;
				min-height: 450px;
				box-sizing: border-box;
			}

			@media screen and (max-width: 767px){
				padding: 15px;
			}

			.title {
				background: none;
				box-shadow: none;
				float: none;
				margin: 0;
				padding: 0;
				width: 100%;
				transition: none !important;

				@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
					display: table-cell;
					vertical-align: middle;
				}

				.heading-group {
					text-align: center;
					h1 {
						font-size: 32px;
						line-height: 1.2;
						color: $promo-box-text-color;
						font-weight: bold;
						text-shadow: $promo-box-text-shadow;
						margin-bottom: 30px;
						text-transform: uppercase;
						text-align: center !important;
						@media screen and (min-width:760px ) {
							font-size: 52px;
						}
						mark {
							background: transparent;
							color: #eeff6b;
							font: inherit;
						}
					}
					span {
						display: block;
						text-align: center;
						font-size: 34px;
						line-height: 1.3;
						text-shadow: $promo-box-text-shadow;
						color: $promo-box-text-color;
						margin-bottom: 40px;
					}
					.link {
						background: $find-btn-bg;
						border: 3px solid $find-btn-border;
						color: $find-btn-color;
						padding: 10px 20px;
						display: inline-block;
						&:hover {
							background: $find-btn-bg-hover;
							color: $find-btn-color-hover;
							text-decoration: none;
						}
					}
				}
				.course-search {
					max-width: 590px;
					margin: 0 auto;
					overflow: hidden;
					position: relative;
					padding: 15px 0;
					.search-input {
						background: $search-input-background;
						border: 2px solid $search-input-border;
						color: $search-input-color;
						padding-left: 20px !important;
						height: $search-height;
						font-size: 16px;
						&:focus {
							border-color: $search-input-border !important;
						}
						&::placeholder {
							color: $search-input-color;
							opacity: 1;
						}
						&:-ms-input-placeholder {
							color: $search-input-color;
						}
					}
					.search-button {
						background: $search-button-background !important;
						border-color: $search-button-border !important;
						color: $search-button-color;
						border-left: none !important;
						right: 0;
						height: $search-height;
					}
				}
			}
		}
	}
}

// line under courses "View this course as:"

.wrapper-preview-menu {
	background: #c8c8c8;
	label {
		color: #3c3c3c !important;
	}
}

.wrapper-preview-menu .preview-actions .action-preview .action-preview-select,
.u-field-value select {
	padding: 0 5px;
}
