.instructor-dashboard-wrapper-2 {
	textarea {
		display: block;
		height: 150px !important;
		width: 100% !important;
	}

	.instructor-nav .nav-item .btn-link:hover {
		text-decoration: none !important;
	}

	.customBrowseBtn {
		display: block;
		width: auto;

		@media screen and (max-width: 400px){
			width: 248px;
		}

		.enhanced-input-file {
			@media screen and (max-width: 600px){
				width: 100%;
			}
		}

		.file-browse {
			height: 30px;
			background: transparent !important;
			width: auto;

			@media screen and (max-width: 600px){
				width: calc(100% + 5px);
			}

			.browse {
				position: relative;
				z-index: 10;
				pointer-events: none;
				padding: 6px 10px;
				float: right;
				white-space: nowrap;
				width: auto;

				@media screen and (max-width: 400px){
					margin-left: 181px;
				}
			}

			.file_field {
				height: 100%;
				width: 431px;
				left: -95px;
				padding-top: 1px;

				&::-ms-browse {
					display: none;
				}

				// styles for Firefox
				@supports (-moz-appearance:none) {
					left: -86px;
				}

				// styles for IE10+
				@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
					height: 40px;
					margin-top: -6px;
					display: inline-block;
				}

				// styles for Edge
				@supports (-ms-ime-align:auto) {
					padding-left: 5px;
					padding-top: 0;
					width: 100%;
					left: 0;
				}

				@media screen and (max-width: 400px){
					width: 410px;
					top: 0;
					left: -227px;
				}
			}
		}
	}

	.customBrowseBtn + .upload-csv-button {
		display: inline-block;
		vertical-align: bottom;
		margin-bottom: 0 !important;
	}

	section.idash-section#certificates .student-username-or-email,
	section.idash-section#student_admin input[type="text"] {
		max-width: 100%;
	}

	.bottom-bar {
		flex-wrap: wrap;

		label,
		.add {
			@media screen and (max-width: 400px) {
				margin: 5px 0;
			}
		}

		label {
			@media screen and (max-width: 400px) {
				width: 100%;
			}

			.add-field {
				@media screen and (max-width: 400px) {
					width: 100%;
				}
			}
		}
	}

	.member-lists-selector {
		background: #fff;
	}

	section.idash-section#discussions_management {
		.division-scheme-container {
			.two-column-layout {
				@media screen and (max-width: 760px) {
					max-width: 100%;
					margin-bottom: 10px;
				}
			}
		}
	}

	section.idash-section#student_admin .location-example,
	section.idash-section#data_download input {
		overflow: hidden;
		display: inline-block;
		max-width: 100%;
		word-wrap: break-word;
		white-space: normal
	}

	section.idash-section#certificates {
		.white-listed-students,
		.invalidation-history,
		.certificate-generation-history-content {
			table {
				@media screen and (max-width: 760px) {
					max-width: 100%;
					display: block;
					overflow-x: auto;
				}

				thead,
				tbody {
					@media screen and (max-width: 760px) {
						overflow: auto;
					}
				}
			}
		}
	}

	section.idash-section#open_response_assessment .open-response-assessment {
		max-width: 100%;
		overflow-x: auto;
	}

	section.idash-section#cohort_management {
		.wrapper-tabs .tab.is-selected .toggle-button {
			margin: 10px 10px 0 0;
		}

		.cohort-management-settings .form-cancel {
			padding: 8px 17px;
			margin: 10px 10px 0 0;
		}

		.has-other-input-text {
			max-width: 100%;
		}
	}

	section.idash-section#send_email .list-fields .field ul {
		padding-left: 10px;
		width: 30% !important;
		vertical-align: top;

		@media screen and (max-width: 768px) {
			width: 100% !important;
			display: block !important;
		}

		&.email-targets-secondary {
			columns: 1;
		}
	}
}

.enrollment-wrapper {
	table {
		width: 100%;

		caption {
			padding: 10px;
		}

		th {
			text-align: left;
		}

		td {
			text-align: center;
		}

		th, td {
			padding: 5px 10px;
			border: 1px solid #ccc;
			vertical-align: middle;
		}
	}
}

.instructor-dashboard-content-2 {
	padding: 20px;
	line-height: 1.5;

	button:not(.btn-link),
	.btn-blue,
	input[type=button] {
		margin: 10px 0;
	}

	.mce-btn-group button {
		margin: 0;
	}

	p input {
		margin-top: 0 !important;
	}

	ul li {
		margin-bottom: 5px;
	}

	textarea {
		width: 100% !important;
		clear: both;

		&#notes,
		&#certificate-invalidation-notes {
			height: 100px;
		}
	}
	.add-certificate-invalidation {
		label {
			display: block;
			margin-bottom: 10px;
		}

		div {
			margin-bottom: 10px;
		}
	}
}

.slick-header-column.ui-state-default {
	height: auto;
}

.instructor-dashboard-wrapper-2 section#certificates.idash-section .white-listed-students table,
.instructor-dashboard-wrapper-2 section#certificates.idash-section .invalidation-history table {
	table-layout: auto;

	tr {
		td, th {
			border: 1px solid #e4e4e4;

			button.delete-exception {
				min-width: 160px;
			}
		}
	}
}

.profile-wrapper .course-info .grade-detail-graph {
	@media screen and (max-width: 990px){
		margin-left: -25px;
	}
}

.instructor-dashboard-content-2 .instructor-nav .nav-item .btn-link.active-section,
.instructor-dashboard-content-2 .instructor-nav .nav-item .btn-link:hover,
.instructor-dashboard-content-2 .instructor-nav .nav-item .btn-link:focus{
	border-bottom-color: $base-color;
}

.open-response-assessment-block .ora-summary-title {
	color: $base-color;
}

input[name="subject"] {
	max-width: 100%;
}

.view-instructordash {
	.mce-window.mce-in {
		@media screen and (max-width: 768px) {
			width: 460px !important;
			max-width: calc(100% - 20px);
			box-sizing: border-box;
			left: 50% !important;
			top: 50% !important;
			position: fixed;
			transform: translate(-50%, -50%);
			margin: 0 !important;
			height: auto !important;

			*:not(.mce-close):not(.mce-i-checkbox) {
				position: static;
				height: auto !important;
				width: auto !important;
			}

			.mce-window-head {
				position: relative !important;
			}

			.mce-abs-layout,
			.mce-foot {
				max-width: 100%;
				box-sizing: border-box;
			}

			.mce-foot {
				display: flex;
				justify-content: flex-end;

				.mce-abs-layout {
					height: auto !important;
				}
			}

			.mce-formitem {
				margin-bottom: 10px;
				padding: 0 10px;

				& + .mce-last.mce-abs-layout-item .mce-formitem.mce-first {
					margin-top: 0;
				}

				&.mce-first {
					margin-top: 10px;
				}

				.mce-label.mce-first {
					display: block;
					margin-bottom: 5px;
				}

				.mce-checkbox {
					margin-top: 5px;
				}

				.mce-combobox {
					display: block;
					width: 100% !important;
				}

				.mce-textbox {
					font-size: 14px;
					padding: 5px 10px;
					display: inline-block;
					vertical-align: middle;

					&:not([size="3"]) {
						width: 100% !important;
						box-sizing: border-box;
					}
					& + .mce-label {
						margin: 0 5px;
						display: inline-block;
						vertical-align: middle;
					}
				}

				.mce-listbox {
					width: 100% !important;

					button {
						width: 100% !important;
						border: 1px solid #c5c5c5 !important;
						position: relative !important;

						.mce-caret {
							position: absolute !important;
						}
					}
				}
			}
		}

		.mce-foot {
			.mce-abs-layout {
				height: auto !important;
				display: flex;
				align-items: center;
				justify-content: flex-end;
				padding: 10px;
				box-sizing: border-box;
			}
		}

		.mce-btn:not(.mce-listbox) {
			border: none !important;
			background: none !important;
			height: auto !important;
			position: static !important;
			display: inline-block;
			vertical-align: middle;

			& + .mce-btn {
				margin-left: 5px;
			}

			&.mce-primary button {
				width: 100% !important;
				border: 1px solid $theme-btn-bg !important;

				&:hover,
				&:focus {
					border-color: $theme-btn-bg-hover !important;
				}
			}
		}

		.mce-listbox button {
			border: 1px solid #c5c5c5 !important;
			box-shadow: none;
		}
	}

	.mce-floatpanel.mce-fixed {
		@media screen and (max-width: 768px) {
			width: 440px !important;
			max-width: calc(100% - 40px);
			box-sizing: border-box;
			left: 50% !important;
			transform: translateX(-50%);
		}
	}
}
