.instructor-dashboard-wrapper-2 {
	textarea {
		display: block;
		height: 150px !important;
		width: 100% !important;
	}

	.instructor-nav .nav-item .btn-link:hover {
		text-decoration: none !important;
	}

	.customBrowseBtn {
		display: block;
		width: 395px;

		@media screen and (max-width: 400px){
			width: 248px;
		}

		//Edge
		@supports (-ms-ime-align:auto) {
			width: 388px;
		}

		.enhanced-input-file {
			@media screen and (max-width: 400px){
				width: 176px;
			}
		}
		.file-browse {
			height: 30px;
			background: transparent !important;

			.browse {
				position: relative;
				z-index: 10;
				pointer-events: none;
				padding: 6px 10px;
				margin-left: 273px;

				@media screen and (max-width: 400px){
					margin-left: 126px;
				}
			}
			.file_field {
				width: 127%;
				height: 100%;
				top: 0;
				left: -94px;

				//Firefox
				@supports (-moz-appearance:none) {
					left: -85px;
					top: -4px;
				}

				&::-ms-browse {
					display: none;
				}

				// styles for IE10+
				@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
					height: 40px;
					margin-top: -6px;
					display: inline-block;
				}

				// styles for Edge
				@supports (-ms-ime-align:auto) {
					height: 40px;
					margin-top: -6px;
				}

				@media screen and (max-width: 400px){
					width: 410px;
					top: 0;
					left: -227px;
				}
			}
		}
	}

	.customBrowseBtn + .upload-csv-button {
		display: inline-block;
		vertical-align: bottom;
		margin-bottom: 0 !important;
	}

	section.idash-section#certificates .student-username-or-email,
	section.idash-section#student_admin input[type="text"] {
		max-width: 100%;
	}

	.bottom-bar {
		flex-wrap: wrap;

		label,
		.add {
			@media screen and (max-width: 400px) {
				margin: 5px 0;
			}
		}

		label {
			@media screen and (max-width: 400px) {
				width: 100%;
			}
			.add-field {
				@media screen and (max-width: 400px) {
					width: 100%;
				}
			}
		}
	}

	.member-lists-selector {
		background: #fff;
	}

	section.idash-section#discussions_management {
		.division-scheme-container {
			.two-column-layout {
				@media screen and (max-width: 760px) {
					max-width: 100%;
					margin-bottom: 10px;
				}
			}
		}
	}

	section.idash-section#student_admin .location-example,
	section.idash-section#data_download input {
		overflow: hidden;
		display: inline-block;
		max-width: 100%;
		word-wrap: break-word;
		white-space: normal
	}

	section.idash-section#certificates {
		.invalidation-history,
		.certificate-generation-history-content {
			table {
				@media screen and (max-width: 760px) {
					max-width: 100%;
					display: block;
					overflow-x: auto;
				}
				thead,
				tbody {
					@media screen and (max-width: 760px) {
						overflow: auto;
					}
				}
			}
		}

		&.idash-section {
			.white-listed-students,
			.invalidation-history {
				table {
					@media screen and (max-width: 990px) {
						max-width: 100%;
						display: block;
						overflow-x: auto;
					}
					thead,
					tbody {
						@media screen and (max-width: 990px) {
							overflow: auto;
						}
					}
				}
				tr {
					td, th {
						border: 1px solid #e4e4e4;
						min-width: 65px;
						max-width: 400px;
					}
				}
			}
		}
	}

	section.idash-section#open_response_assessment .open-response-assessment {
		max-width: 100%;
		overflow-x: auto;
	}

	section.idash-section#cohort_management {
		.wrapper-tabs .tab.is-selected .toggle-button {
			margin: 10px 10px 0 0;
		}

		.cohort-management-settings .form-cancel {
			padding: 8px 17px;
			margin: 10px 10px 0 0;
		}
	}

	section.idash-section#send_email {
		.list-fields .field {
			max-width: 100%;

			@media (max-width: 1024px) {

			}

			.email-targets-secondary {
				@media (max-width: 1024px) {
					columns: 1;
				}
			}

			ul {
				@media (max-width: 1024px) {
					width: calc(33% - 45px) !important;
					display: inline-block !important;
					margin-bottom: 15px !important;
					vertical-align: top;
				}

				@media (max-width: 860px) {
					width: calc(100% - 25px) !important;
					padding-left: 20px;
				}
			}
		}
	}
}

.enrollment-wrapper {
	table {
		width: 100%;

		caption {
			padding: 10px;
		}

		th {
			text-align: left;
		}

		td {
			text-align: center;
		}

		th, td {
			padding: 5px 10px;
			border: 1px solid #ccc;
			vertical-align: middle;
		}
	}
}

.instructor-dashboard-content-2 {
	padding: 20px;
	line-height: 1.5;

	button:not(.btn-link),
	.btn-blue,
	input[type=button] {
		margin: 10px 0;
	}

	p input {
		margin-top: 0 !important;
	}

	ul li {
		margin-bottom: 5px;
	}

	textarea {
		width: 100% !important;
		clear: both;

		&#notes,
		&#certificate-invalidation-notes {
			height: 100px;
		}
	}
	.add-certificate-invalidation {
		label {
			display: block;
			margin-bottom: 10px;
		}

		div {
			margin-bottom: 10px;
		}
	}

	.cohort-leaders-management {
		padding: 0 20px 20px;

		.cohort-leaders-management__title{
			margin: 20px 0 10px;
			font-size: 14px;
			font-weight: 600;
		}
	}
	.cohort-management-details{
		.cohort-leaders-management {
			padding: 0 0 20px;
		}
	}
}

.slick-header-column.ui-state-default {
	height: auto;
}

.profile-wrapper .course-info .grade-detail-graph {
	@media screen and (max-width: 990px){
		margin-left: -25px;
	}
}

.instructor-dashboard-content-2 .instructor-nav .nav-item .btn-link.active-section,
.instructor-dashboard-content-2 .instructor-nav .nav-item .btn-link:hover,
.instructor-dashboard-content-2 .instructor-nav .nav-item .btn-link:focus{
	border-bottom-color: $base-color;
}

.open-response-assessment-block .ora-summary-title {
	color: $base-color;
}

input[name="subject"] {
	max-width: 100%;
}
