.login-register-content {
	background: none;
	margin-top: 48px;

	@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
		display: block;
	}
}

.login-register {
	max-width: 1170px;
	padding: 0 15px;
	width: 100%;
	box-sizing: border-box;
}

.view-register .introduction,
.view-login .introduction,
.view-passwordreset .introduction,
.view-passwordreset .login {
	max-width: 100%;
}

.view-login,
.view-register {
	.login,
	.register {
		max-width: 100%;

		@media screen and (max-width: 960px) {
			.content,
			.content + aside {
				width: 100%;
			}
		}
	}

	.introduction header {
		height: auto;
		min-height: 120px;

		@media screen and (max-width: 960px) {
			padding-bottom: 10px;
		}

		.title {
			@media screen and (max-width: 960px) {
				position: relative;
				left: 15px;
				max-width: calc(100% - 30px);
			}
		}
	}
}

.view-register {
	.register {
		.btn-login {
			background: transparent;
			border: none;
			padding: 15px 0;

			&:hover {
				background: transparent;
			}

			.title {
				font-weight: 700;
			}
		}

		.content {
			select {
				height: 43px;
				display: block;
				margin: 0 0 5px;
				padding: 0 10px;
				width: 100%;
			}
		}
	}
}

.view-register .introduction header .title .title-super,
.view-login .introduction header .title .title-super,
.view-passwordreset .introduction header .title .title-super {
	color: $base-color;
}

.register .btn-brand.btn-login {
	background: transparent !important;
}

.login .orn-plus,
.register .orn-plus, .passwordreset .orn-plus,
#forgot-password-modal #password-reset .orn-plus {
	color: $theme-btn-text-color;
}

.login-register .section-title.lines {
	text-align: left;
	z-index: 1;

	&:after {
		display: none;
	}

	.text {
		background: transparent;
		font-size: 24px;
		padding: 0;
	}
}
