.menu-action {
    display: none;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #009201;
    z-index: 20;
    cursor: pointer;
    @media screen and (max-width: $large-responsive) {
        display: block;
    }
}