.program-title {
    max-width: 1200px;
    padding: 14px 15px;
    margin: 0 auto;
    text-align: center;
    font-weight: 700;
    line-height: 1.5;
}

.program-subtitle {
    display: block;
    font-weight: 400;
}

.programs-listing-item {
    .highlighted-courses {
        padding: 15px 12px 0;
        margin: 0;

        .courses {
            padding: 0;
        }

        .courses-listing-item {
            margin-bottom: 15px !important;
        }
    }
}
