.verification-process {
    .carousel #wrapper-review .review .payment-buttons {
        padding-bottom: 15px;
    }

    .content-supplementary .list-help {
        .help-item-questions {
            width: 100%;
            margin-right: 0;
        }

        .help-item.help-item-technical {
            display: none;
        }
    }

    .carousel #wrapper-review .register.is-verified {
        display: none;
    }
}
