@import "../const";
.header-global {
    .wrapper-header {
        .logo {
            margin-right: 0;
            margin-top: 0;
        }
        .list-inline.nav-global {
            @media screen and (max-width: $responsive-large) {
                margin-right: 0;
            }
        }
    }
}
.dropdown-menu-container .dropdown-menu .dropdown-item,
.wrapper-footer footer#footer-openedx {
    a {
        &:active,
        &:focus,
        &:hover {
            text-decoration: none;
        }
    }
}
.header-global {
    .label-username {
        margin: 0 5px 0 15px;
        max-width: 80px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: pre;
        padding: 2px 0;
        display: inline-block;
        vertical-align: middle;
        color: #fff;
        &:hover {
            color: #e46c54;
        }
    }
}
.dropdown-menu-container .menu-image {
    margin-right: 0;
    display: inline-block;
    vertical-align: middle;
}
.dropdown-menu-container .menu-title {
    display: flex;
    align-items: center;
}