.courses-container .courses .course .course-image .cover-image img {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
}

.courses-container .courses .course .course-image .cover-image {
    height: 225px;
    overflow: hidden;
    position: relative;
}
