.button {
    margin: 0;
    background: rgba(0,0,0,0.10);
    border: 1px solid #fff;
    border-radius: 3px;
    font: 16px/21px Lato-Light !important;
    color: #fff !important;
    text-shadow: 0px 1px 1px #929292;
    box-shadow: none;
    padding: 6px 11px 8px !important;
    position: relative;
    text-transform: none;

    &:hover {
        text-shadow: 0px 1px 1px #b73939;
        background: rgba(0,0,0,0.10) !important;

        &:after {
            content: '';
            position: absolute;
            background: rgba(0,0,0,0.10);
            border-radius: 3px;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
        }
    }
}