.header-global-new {
    border: none;
    box-shadow: none;
    background: transparent;

    .nav-account-management {
        margin: 0;
    }

    .nav-courseware {
        margin: 0;
    }

    &_search {
        margin-right: auto;
    }
}