// custom theme styles

@import "variables";
@import "extends";
@import "blocks/xblock";
@import "blocks/header";
@import "blocks/footer";
@import "blocks/login-register";
@import "blocks/404";
@import "blocks/about";
@import "blocks/dashboard";
@import "blocks/course-main";
@import "blocks/account";
@import "blocks/info-pages";
@import "blocks/wiki";
@import "blocks/instructor";
@import "blocks/progress";
@import "blocks/profile";
@import "blocks/discussion";

.theme-content {
    background: $body-bg;
}

body {
    &.index-page {
        .theme-content,
        .window-wrap {
            background: $white;
        }

        .content-wrapper {
            @media screen and (max-width: $mobile-large) {
                padding: 0;
            }
        }
    }

    &.menu-is-open {
        overflow: hidden;
    }

    &.account-settings-page {
        background: $white;

        .theme-content,
        .window-wrap {
            background: $white;
        }
    }

    &.view-in-course .course-content {
        background-color: $white;
    }
}

.content-wrapper {
    max-width: 1600px !important;

    @media screen and (max-width: $mobile-large) {
        padding: 0 20px;
    }

    .page-content-container {
        background-color: $white;
    }

    .index-page &,
    .info-page &,
    .about-page & {
        max-width: none !important;
    }
}

.index-content {
    padding: 85px 0;

    &__wrapper {
        max-width: $container-width;
        padding: 0 30px;
        margin: 0 auto;
    }

    p {
        text-align: center;
        color: $black;
        margin-bottom: 5px;

        a {
            color: $blue !important;
        }

        + p {
            margin-top: 0;
        }
    }
}
