$base-color: #4b2e83;
$margin: 10px;
$padding: 10px;

//main stack of collors
$theme-colors: (
    "primary": $base-color,
    "inverse": #fffefe,
);
$blue: $base-color;
$btn-bg-hover: lighten($base-color, 20%);

$shadow-color: $base-color;
$button-color: $base-color;
$action-primary-focused-bg: $btn-bg-hover;
$courseware-border-bottom-color: $base-color;
$forum-color-primary: $base-color;
$forum-color-hover: $btn-bg-hover;
$staff-color: $base-color;
$pink: red;

$link-color: $base-color;
$link-hover: lighten($base-color, 20%);

// blue primary button, for
// :hover, :active - background and border-color;
// &.current, &.active - background and border-color;
// &.current:hover, &.active:hover - background and border-color;
// &.current:active, &.active:active - background and border-color;
$uxpl-blue-hover-active: $btn-bg-hover;
// &.current, &.active - color;
$blue-l4: lighten($base-color, 80%);
//=//=//=//=//=//=//=//=//=//=//=//=//=//=//=//=//=//=//

// btn-pl-white-base (btn like on dashboard in course box "View Course")
// btn-pl-white-base - background
$action-primary-fg: #fff;
// btn-pl-white-base - color
$action-primary-bg: $base-color;
//=//=//=//=//=//=//=//=//=//=//=//=//=//=//=//=//=//=//

$m-blue-d3: $blue;
$m-blue-d4: darken($blue, 3%); // shadow for "view my records" button on the profile
$m-blue-d5: $blue;
$m-blue-l1: lighten($blue, 10%); // hover on main page search btn
$m-blue-d1: darken($blue, 3%); // border on main page search btn
$m-blue-d6: darken($blue, 3%); // border on search page search btn
$blue2: lighten($blue, 10%); // color for buttons on the shopping card

////////////////////////////////////////////////////////////////////////////////////

//logo
$header-logo-height: 35px;
$footer-logo-height: $header-logo-height;
$certificate-logo-height: $header-logo-height;

//settings for header
$header-bg: $base-color;
$header-nav-link-color: #fff;
$header-nav-link-color-hover: lighten($header-nav-link-color, 20%);

//settings for footer
$footer-bg: #eee;
$footer-nav-link-color: #262626;
$footer-nav-link-color-hover: #4d4d4d;
$footer-support-text-and-logo: #262626;
$footer-social-link-bg: #262626;
$footer-social-link-bg-hover: lighten($footer-social-link-bg, 20%);

//certificate
$ribbon-corners-color: lighten($base-color, 1%);
$ribbon-triangle-color: darken($base-color, 4%);
$certificate-borders-color: $base-color;
$ribbon-corners-color: lighten($base-color, 1%);
$ribbon-triangle-color: darken($base-color, 4%);
$certificate-borders-color: lighten($base-color, 8%);

//custom
$text: #313131;
$white: #fff;
$body-bg: #f5f5f5;
$border-radius: 5px;
$black: #000;

// responsive

$tablet-size: 991px;
$mobile-large: 768px;

@mixin placeholder {
    &::placeholder {
        @content;
        opacity: 1;
    }

    &:-ms-input-placeholder {
        @content;
    }

    &::-ms-input-placeholder {
        @content;
    }
}
