.header-global {
    .user > .primary > a {
        color: #fff;
        box-shadow: none;
        text-shadow: none;
            
        &:focus,
        &:hover {
            color: #dd4628;
            background: transparent;
        }
    }

    .user {
        margin-left: 150px;
    }
    .nav-global {
        margin-top: 0;
        padding-top: 4px;
    }

    .nav-courseware {
        margin-top: 4px;
    }
}

#logo {
    vertical-align: inherit;
    height: 25px;
}

.header-global .nav-global .tab-nav-item .tab-nav-link:hover,
.header-global .nav-global .tab-nav-item .tab-nav-link:focus, {
    border: none;
}

.header-global .nav-global .tab-nav-item .active {
    border: none !important;
}

.header-global h1.logo a {
    margin-top: 4px;
}

.header-global .nav-global {
    margin-top: 5px;
}

.header-global .user {
    margin-bottom: 4px;
}