@import "../const";

.header-global {
    h1.logo {
        margin-right: 0;
    }
    .user > .primary > a {
        color: #fff;
        box-shadow: none;
        text-shadow: none;
            
        &:focus,
        &:hover {
            color: #dd4628;
            background: transparent;
        }
    }
    .nav-global {
        margin-top: 0 !important;
        padding-top: 0;
        display: flex;
        align-items: center;
    }

    .nav-courseware {
        margin-top: 4px;
    }
}

#logo {
    vertical-align: inherit;
    height: 40px;
}

.header-global .nav-global .tab-nav-item .tab-nav-link:hover,
.header-global .nav-global .tab-nav-item .tab-nav-link:focus, {
    border: none;
}

.header-global .nav-global .tab-nav-item .active {
    border: none !important;
}

.header-global h1.logo a {
    margin-top: 4px !important;
}
.item.nav-global-01.nav-global-01-xseries-style a,
.header-global .nav-global .tab-nav-item .tab-nav-link,
.main-header .nav-global li a {
    color: #fff;
    text-transform: none;
    font-size: 16px;
    line-height: 1.3;
    border: none;
    font-family: titilliumweb-regular, sans-serif;
    padding: 0 15px;
}
.header-global .nav-global .tab-nav-item .tab-nav-link {
    padding-bottom: 0;
    padding-top: 0;
}
.header-global .wrapper-header .list-inline .item {
    margin: 0;
}
.header-global .user .user-link .label-username {
    margin: 13px 5px 13px 15px;
    max-width: 80px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: pre;
    padding: 2px 0;
}
.header-global .wrapper-header .wrapper-user-menu {
    display: flex;
    align-items: center;
}
.dropdown-menu-container .menu-button {
    margin-top: 0;
    margin-left: 4px;
}
.header-global .user .dropdown {
    height: 25px;
    border-right: 6px;
}
.header-global .user {
    margin-left: 0;
    list-style: none;
    display: flex;
    align-items: center;
    @media screen and (max-width: $responsive-large) {
        margin-top: 10px;
    }
    a.shopping-cart {
        border-radius: 4px;
        border: 1px solid #c8c8c8;
        margin-right: 10px;
        padding: 10px;
        padding-bottom: 8px !important;
        margin-left: 10px;
        font-size: 16px;
        line-height: 16px;
        display: inline-block;
        text-transform: uppercase;
    }
}
.header-global .wrapper-header .dropdown-menu {
    top: calc(40px * 0.75) !important;
}