.header-global {
    .user > .primary > a {
        color: #fff;
        box-shadow: none;
        text-shadow: none;
            
        &:focus,
        &:hover {
            color: #dd4628;
            background: transparent;
        }
    }
    .nav-global {
        margin-top: 0;
        padding-top: 0;
    }

    .nav-courseware {
        margin-top: 4px;
    }
}

#logo {
    vertical-align: inherit;
    height: 25px;
}

.header-global .nav-global .tab-nav-item .tab-nav-link:hover,
.header-global .nav-global .tab-nav-item .tab-nav-link:focus, {
    border: none;
}

.header-global .nav-global .tab-nav-item .active {
    border: none !important;
}

.header-global h1.logo a {
    margin-top: 4px !important;
}

.header-global .nav-global .tab-nav-item .tab-nav-link,
.main-header .nav-global li a {
    color: #fff;
    text-transform: none;
    font-size: 16px;
    line-height: 1.3;
    border: none;
    font-family: $font-regular;
    padding: 0 15px;
}
.header-global .nav-global .tab-nav-item .tab-nav-link {
    padding-bottom: 0;
    padding-top: 0;
}