<%page expression_filter="h"/>
<%!
    import json
    from django.utils.translation import ugettext as _
    from django.urls import reverse
    from six import text_type

    from openedx.core.djangolib.js_utils import dump_js_escaped_json
    from openedx.core.djangolib.markup import HTML, Text
%>
<%inherit file="../main.html" />
<%
  course_discovery_enabled = settings.FEATURES.get('ENABLE_COURSE_DISCOVERY')
%>
<%namespace name='static' file='../static_content.html'/>

% if course_discovery_enabled:
<%block name="header_extras">
  % for template_name in ["course_card", "filter_bar", "filter", "facet", "facet_option"]:
  <script type="text/template" id="${template_name}-tpl">
      <%static:include path="discovery/${template_name}.underscore" />
  </script>
  % endfor
  <%static:require_module module_name="js/discovery/discovery_factory" class_name="DiscoveryFactory">
    DiscoveryFactory(
      ${course_discovery_meanings | n, dump_js_escaped_json},
      getParameterByName('search_query'),
      "${user_language}",
      "${user_timezone}"
    );
  </%static:require_module>
</%block>
% endif

% if not is_index_page:
  <%block name="pagetitle">${_("Courses")}</%block>
% endif

% if is_index_page:
<article class="promo-block">
    <div class="promo-block__holder">
        <div class="video-box">
            <div class="video-box__wrapper">
                <p class="video-box__text"><strong>Lorem ipsum</strong> dolor sit amet, <br> eiusmod tempor incididunt ut labore</p>
                <a href="${reverse('courses')}" class="btn">${_('find courses')}</a>
                % if custom_video:
                    <iframe class="video-box__video" id="player" allowfullscreen="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" title="YouTube video player" src="${custom_video.link}?autoplay=1&amp;loop=1&amp;controls=0&amp;showinfo=0&amp;autohide=1&amp;modestbranding=0&amp;playlist=S5G8zuIL4Q4&amp;vq=hd1080&amp;enablejsapi=1&amp;widgetid=1" width="100%" height="100%" frameborder="0""></iframe>
                % endif
            </div>
        </div>
        <div class="course-section">
            % for course in visible_courses:
                <a class="course-section__item" href="${reverse('about_course', args=[text_type(course.id)])}">
                    % if course.course_image:
                    <div class="course-section__image-holder" style="background: url('${MEDIA_URL}${course.course_image}')"></div>
                    % else:
                    <div class="course-section__image-holder" style="background: url('/static/${settings.DEFAULT_SITE_THEME}/images/img1.jpg')"></div>
                    % endif
                    <div class="course-section__description">
                        <span class="course-section__stat">${_('new course!')}</span>
                        <strong class="course-section__name">
                            % if len(course.display_name) < 30:
                                ${course.display_name}
                            % else:
                                ${course.display_name[:30]}...
                            % endif
                        </strong>
                        % if course.display_organization:
                            <span class="course-section__school">${course.display_organization}</span>
                        % endif
                    </div>
                </a>
            % endfor
            <div class="course-section__item course-section__item-find-courses">
                <a href="${reverse('courses')}" class="btn">${_('Find Courses')}</a>
            </div>
        </div>
    </div>
    <div class="advantages">
        <a class="advantages__item advantages__item_color1">
          <strong class="advantages__name">Lorem Ipsum</strong>
          <p class="advantages__text"><b>Lorem ipsum</b> dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</p>
        </a>
        <a class="advantages__item advantages__item_color2">
          <strong class="advantages__name">Lorem Ipsum</strong>
          <p class="advantages__text"><b>Lorem ipsum</b> dolor sit amet, consectetur adipisicing elit</p>
        </a>
        <a class="advantages__item advantages__item_color3">
          <strong class="advantages__name">Lorem Ipsum</strong>
          <p class="advantages__text"><b>Lorem ipsum</b> dolor sit amet, consectetur</p>
        </a>
        <a class="advantages__item advantages__item_color4">
          <strong class="advantages__name">Lorem Ipsum</strong>
          <p class="advantages__text"><b>Lorem ipsum</b> dolor sit amet, consectetur adipisicing elit</p>
        </a>
    </div>
</article>
% endif

 <main id="main" aria-label="Content" tabindex="-1" class="${'js-wrapper-index-page wrapper-index-page' if is_index_page else 'wrapper-index-courses'}">
    % if is_index_page:
    <div class="title title-right">
      <div class="title__bg"></div>
      <div class="container">
        <h2><strong>Lorem ipsum</strong> dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</h2>
      </div>
    </div>

    <div class="js-custom-filter subject">
      <a href="#"
         class="subject__item subject__item_color1"
         data-facet="course_category"
         data-value="technology_society"
         data-text="Technology and Society"
      >
          <img src="/static/${settings.DEFAULT_SITE_THEME}/images/s1.jpg" class="subject__img">
          <span class="subject__text">${_('Technology and Society')}</span>
      </a>
      <a href="#"
         class="subject__item subject__item_color2"
         data-facet="course_category"
         data-value="school_education"
         data-text="School and Education"
      >
          <img src="/static/${settings.DEFAULT_SITE_THEME}/images/s2.jpg" class="subject__img">
          <span class="subject__text">${_('School and Education')}</span>
      </a>
      <a href="#"
         class="subject__item subject__item_color3"
         data-facet="course_category"
         data-value="health_care"
         data-text="Health and Care"
      >
          <img src="/static/${settings.DEFAULT_SITE_THEME}/images/s3.jpg" class="subject__img">
          <span class="subject__text">${_('Health and Care')}</span>
      </a>
      <a href="#"
         class="subject__item subject__item_color4"
         data-facet="course_category"
         data-value="economy_leadership"
         data-text="Economy and Leadership"
      >
          <img src="/static/${settings.DEFAULT_SITE_THEME}/images/s4.jpg" class="subject__img">
          <span class="subject__text">${_('Economy and Leadership')}</span>
      </a>
    </div>
    % endif

    <section class="find-courses">
      <section class="courses-container">
        % if course_discovery_enabled:
        <div id="discovery-form" role="search" aria-label="course" class="wrapper-search-context">
          <div id="discovery-message" class="search-status-label"></div>
          <form class="wrapper-search-input">
            <label for="discovery-input" class="sr">${_('Search for a course')}</label>
            <input id="discovery-input" class="discovery-input" placeholder="${_('Search for a course')}" type="text"/>
            <button type="submit" class="button postfix discovery-submit" title="${_('Search')}">
              <span class="icon fa fa-search" aria-hidden="true"></span>
              <div aria-live="polite" aria-relevant="all">
                <div id="loading-indicator" class="loading-spinner hidden">
                  <span class="icon fa fa-spinner fa-spin" aria-hidden="true"></span>
                  <span class="sr">${_('Loading')}</span>
                </div>
              </div>
            </button>
          </form>
        </div>
         <div id="filter-bar" class="filters hide-phone is-collapsed">
        </div>
        % endif
         <div class="courses${'' if course_discovery_enabled else ' no-course-discovery'}" role="region" aria-label="${_('List of Courses')}">
          <ul class="courses-listing">
            %for course in courses:
            <li class="courses-listing-item">
              <%include file="../course.html" args="course=course" />
            </li>
            %endfor
          </ul>
        </div>
        % if course_discovery_enabled:
        <aside aria-label="${_('Refine Your Search')}" class="search-facets phone-menu">
          <h2 class="header-search-facets">${_('Refine Your Search')}</h2>
          <section class="search-facets-lists">
          </section>
        </aside>
        % endif
      </section>
    </section>

    % if is_index_page:
    <div class="title title-left">
        <div class="title__bg"></div>
        <div class="container">
            <h2><strong>Lorem ipsum</strong> dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</h2>
        </div>
    </div>
    <div class="main-slider">
        % for slide in custom_slider:
        <div>
            <div class="main-slider__item">
                <img src="${MEDIA_URL}${slide.image}">
                <div class="blur" style="background: url('${MEDIA_URL}${slide.image}')"></div>
                <div class="slide-info">
                    <strong class="slide-info__title">${slide.title}</strong>
##                     <strong class="slide-info__small">dolor sit amet</strong>
                    <p class="slide-info__text">${slide.description}</p>
                    % if slide.link:
                    <a href="${slide.link}" class="slide-info__btn">${_("Learn more")}</a>
                    % endif
                </div>
            </div>
        </div>
        % endfor
    </div>

    <script src="${static.url('js/slick.min.js')}"></script>
    <script src="${static.url('js/slider.js')}"></script>

    <div class="summary">
        <h2 class="summary__title">Lorem ipsum <span>Consectetur adipisicing elit, sed do eiusmod </span></h2>
        <div class="summary__row">
            <div class="summary__img-holder"><img class="summary__img" src="/static/${settings.DEFAULT_SITE_THEME}/images/summary-img1.png"></div>
            <div class="summary__text">
                <div class="summary__icon"><img src="/static/${settings.DEFAULT_SITE_THEME}/images/summary-icon1.png"></div>
                <h3 class="summary__caption summary__caption_color1">Lorem ipsum dolorem</h3>
                <p class="summary__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore, sed do eiusmod tempor incididunt ut labore</p>
            </div>
        </div>
        <div class="summary__row">
            <div class="summary__img-holder"><img class="summary__img" src="/static/${settings.DEFAULT_SITE_THEME}/images/summary-img2.png"></div>
            <div class="summary__text">
                <div class="summary__icon"><img src="/static/${settings.DEFAULT_SITE_THEME}/images/summary-icon2.png"></div>
                <h3 class="summary__caption summary__caption_color2">Lorem ipsum dolorem</h3>
                <p class="summary__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore, sed do eiusmod tempor incididunt ut labore</p>
            </div>
        </div>
        <div class="summary__row">
            <div class="summary__img-holder"><img class="summary__img" src="/static/${settings.DEFAULT_SITE_THEME}/images/summary-img3.png"></div>
            <div class="summary__text">
                <div class="summary__icon"><img src="/static/${settings.DEFAULT_SITE_THEME}/images/summary-icon3.png"></div>
                <h3 class="summary__caption summary__caption_color3">Lorem ipsum dolorem</h3>
                <p class="summary__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore, sed do eiusmod tempor incididunt ut labore</p>
            </div>
        </div>
    </div>
    % endif
</main>

<%block name="js_extra">
   <script type="text/javascript">
      $(window).load(function() {
         if(getParameterByName('next')) {
              $('#login').trigger("click");
         }
      })
   </script>
</%block>