.social-icons {
	background: url('../images/social-icons.png') no-repeat 0 0;
	width: 35px;
	height: 35px;
	display: inline-block;
	&_fb {
		background-position: 0 0;
	}
	&_youtube {
		background-position: -44px 0;
	}
	&_tw {
		background-position: -88px 0;
	}
	&_linkedin {
		background-position: -133px 0;
	}
	&_google {
		background-position: -178px 0;
	}
}