.main-header {
    box-shadow: none;
    border: none;
    height: 100px;
    background: none;
    
    &_holder {
        display:flex;
        justify-content: flex-end;
        align-items: center;
        padding-top: 1px;
    }
    .nav-global {
        margin-right: 36px;
    }
    .nav-global li a, 
    .nav-global div a {
        color: #fff;
        text-transform: none;
        font-size: 16px;
        line-height: 1.3;
       
        &:focus, 
        &:hover {
            color: lighten(#dd4628, 10%) !important;
        }
    }
    .wrapper-header {
       max-width: 1080px;
       box-sizing: border-box;
       padding: 22px 40px 23px;
       height: 100px;
    }
    &__black {
        background: #30363a;
    }
    &_wrapper {
        width: 100%;
        background: rgba(0, 0, 0, .3);
        height: 100px;

        &__fixed {
            position: fixed;
            top: 0;
        }
    }
}


.header-global .wrapper-header .list-inline.nav-global {
    padding: 0;
    margin: 0;
    margin-right: 36px;
}

.item.nav-global-01.nav-global-01-xseries-style a {
    font-size: 14px;
    color: #767676;
}

.header-global {
    .user > .primary > a {
        color: #fff;
        box-shadow: none;
        text-shadow: none;
            
        &:focus,
        &:hover {
            color: #dd4628;
            background: transparent;
        }
    }

    .user {
        margin-left: 150px;
    }
    .nav-global {
        margin-top: 0;
        padding-top: 4px;
    }

    .nav-courseware {
        margin-top: 4px;
    }
}

#logo {
    vertical-align: inherit;
    height: 25px;
}

.header-global .nav-global .tab-nav-item .tab-nav-link:hover,
.header-global .nav-global .tab-nav-item .tab-nav-link:focus, {
    border: none;
}

.header-global .nav-global .tab-nav-item .active {
    border: none !important;
    font-size: 14px;
}

.header-global .wrapper-header .wrapper-user-menu {
    margin-top: 0;
}

.main-header .nav-global li a,
.header-global .wrapper-header .tab-nav-item .tab-nav-link {
    color: #fff;
    text-transform: none;
    font-size: 16px;
    line-height: 1.3;
    border: none;
    font-family: $font-regular;
    padding: 0 15px;
}

.wrapper-footer {
    background: #45a2d6;
    padding: 0;

    footer#footer-openedx {
        max-width: 1080px;
        box-sizing: border-box;
        padding: 37px 40px 0;
    }
}

.theme-footer {
    &_row {
        display: flex;
        justify-content: space-between;
        padding: 0 0 32px;
    }
    &_list {
        margin: 0;
        padding: 0;
        list-style: none;
        columns: 180px 2;
        column-gap: 20px;

        a {
            font: 16px/1.3 font-regular;
            color: #fff !important;

            &:hover {
                color: #fff !important;
                text-decoration: none;
                border: none !important;
            }
        }

        li {
            padding: 0 0 10px;
        }
    }
    &_copyright {
        font: 16px/1.3 $font-regular;
        color: #a2d1eb;
        margin: 0;
        padding: 0;
    }
    &_platform-link {
        font-family: $font-bold !important;
        color: #a2d1eb !important;

        &:hover {
            color: darken(#a2d1eb, 10%) !important;
        }
    }
    &_social-list {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        
        &-item {
            margin-left: 15px;
        }
    }
    &_social-list-facebook,
    &_social-list-twitter {
        width: 40px;
        height: 40px;
        boder-radius: 2px;
        background-color: #307195;
        background-position: 50%;
        background-repeat: no-repeat;
        display: block;

        &:hover {
            text-decoration: none;
            background-color: darken(#307195, 10%);
            border: none !important;
        }
    }
    &_social-list-facebook {
        background-image: url("../images/ico-facebook.png");
    }
    &_social-list-twitter {
        background-image: url("../images/ico-twetter.png");
    }
}

.header-global .wrapper-header .logo {
    margin-top: 14px !important;
}

.dropdown-menu-container .menu-title {
    color: #fff !important;
}

.dropdown-menu-container .menu-button.default-icon:after {
    border-top-color: #fff !important;
}