.theme-categories {
    background: #fff;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, .2);
    position: relative;

    &_holder {
        max-width: $base-width;
        margin: 0 auto;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        padding: 16px 0 23px;
        justify-content: space-between;
    } 
    &_list {
        display: flex;
        margin: 0;
        padding: 0;
        list-style: none;
    }
    &_item {
        padding: 0 27px 20px;
        position: relative;

        &:hover {
            cursor: pointer;
        }
        &:last-child {
            padding-right: 0;
        }
    }
    &_name {
        position: absolute;
        bottom: -7px;
        left: 50%;
        text-transform: uppercase;
        font-size: 10px;
        line-height: 1.3;
        color: #cecece;
        transform: translate(-50%, 0);

        .theme-categories_item:hover & {
            color: #414141;
        }
        .theme-categories_item:last-child & {
            left: 70%;
        }
    }
    &_img {
        width: 48px;
        filter: grayscale(100%);

        .theme-categories_item:hover & {
            filter: grayscale(0%);
        }
    }
    &_title {
        margin: 0;
        color: #424141;

        span {
            font-size: 10px;
            text-transform: uppercase;
            display: block;
            font-family: "Open Sans",Verdana,Geneva,sans-serif,sans-serif;
        }
        strong {
            font-size: 18px;
            text-transform: uppercase;
            font-family: "Open Sans",Verdana,Geneva,sans-serif,sans-serif;
            font-weight: normal;
        }
    }
}