.theme-categories {
    background: #fff;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, .2);
    position: relative;

    &_holder {
        max-width: $base-width;
        margin: 0 auto;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        padding: 16px 0 23px;
        justify-content: space-between;
    } 
    &_list {
        display: flex;
        margin: 0;
        padding: 0;
        list-style: none;
    }
    &_item {
        padding: 0;
        position: relative;
        margin-left: 42px;

        &:hover {
            cursor: pointer;
        }
        &:last-child {
            padding-right: 0;
        }
    }
    &_name {
        font-size: 14px;
        line-height: 14px;
        color: #55a1fd;

        .theme-categories_link:hover &{
            color: #fff;
        }
    }
    &_img {
        width: 48px;
        filter: grayscale(100%);

        .theme-categories_item:hover & {
            filter: grayscale(0%);
        }
    }
    &_title {
        margin: 0;
        color: #424141;

        span {
            font-size: 10px;
            text-transform: uppercase;
            display: block;
            font-family: "Open Sans",Verdana,Geneva,sans-serif,sans-serif;
        }
        strong {
            font-size: 18px;
            text-transform: uppercase;
            font-family: "Open Sans",Verdana,Geneva,sans-serif,sans-serif;
            font-weight: normal;
        }
    }
    &_link {
        padding: 10px 34px;
        border: 2px solid #55a1fd;
        background: transparent;
        border-radius: 10px;

        &:hover {
            background: #55a1fd;
            text-decoration: none;
        }
    }
}