.hamburger {
  display: none;
  position: absolute;
  right: 20px;
  top: 50%;
  margin-top: $hamburger-width / -2;
  width: $hamburger-width;
  height: $hamburger-height;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  border-radius: 0;
  box-shadow: none;
  @media (max-width: $responsive-large) {
    display: block;
  }
  &:after,
  &:before {
    content: '';
    position: absolute;
    height: $hamburger-height-line;
    width: 100%;
    top: $hamburger-height / 2;
    left: 0;
    background-color: $hamburger-color;
    transition: all 0.3s;  
  }
  &:after {
       box-shadow: 0 $hamburger-height / 2 0 0 $hamburger-color,
                   0 $hamburger-height / -2 0 0 $hamburger-color; 
  }
  &:focus,
  &:active,
  &:hover {
      outline: none;
      box-shadow: none !important; //platform has many selectors
      background: transparent !important; //platform has many selectors
  }
}
.menu-open .hamburger:after {
  transform: rotate(45deg);
  box-shadow: none;
}
.menu-open .hamburger:before {
  transform: rotate(-45deg);
}