@import "../const";
.theme-courses {
    &_wrapper {
        max-width: 1600px;
        margin: 0 auto;
    }
    &_course {
        display: flex;
        flex-wrap: wrap;
        max-width: 1600px;
        margin-bottom: 1px;
        @media all and (min-width: 600px){
            flex-wrap: nowrap;
        }

        &:nth-child(even) {
            @media all and (min-width: 600px){
                justify-content: flex-end;
            }
        }
    }
    &_img {
        width: 100%;
        height: auto;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }
    &_code,
    &_org {
        display: block;
        font-size: 20px;
        line-height: 26px;
        font: 20px/26px 'Work Sans', sans-serif;
        font-weight: 600;
        color: #0b1d2b;

        .content-wrapper .course & {
            font: 20px/26px 'Work Sans', sans-serif !important;
            font-weight: 600 !important;
        }
    }
    &_code {
        padding-bottom: 10px;
    }
    &_title {
        font: 24px/1 $custom-font;
        color: #0b1d2b;
        margin-bottom: 16px;
        text-align: left;
        text-transform: uppercase;

        .content-wrapper .course & {
            font: 24px/1 $custom-font !important;
            font-weight: normal !important;
        }
    }
    &_date {
        font: 16px/20px muliregular;
        color: #0a2d46;
        padding: 2px 0;
        margin: 0 0 26px;
        display: flex;
        align-items: center;

        .theme-aside_list & {
            justify-content: center;
        }
        .theme-aside & {
            margin-bottom: 0;
        }
    }
    &_link {
        display: inline-block;
        font: 14px/1.3 muliregular;
        color: #85d600 !important;
        border: 1px solid #85d600;
        padding: 8px 14px 9px;
        text-transform: uppercase;
    }
    &_content {
        padding: 15px;
        width: 100%;
        @media all and (min-width: 600px){
            width: auto;
            padding: 52px 58px 0;
        }

        .theme-courses_course:nth-child(even) & {
            @media all and (min-width: 600px){
                order: -1;
            }
        }
    }
    &_holder {
        width: 100%;
        @media all and (min-width: 600px){
            width: auto;
        }
    }
    &_heading {
        font: 30px/1 $default-font;
        font-weight: 700;
        margin: 0 0 40px;
        color: #0c1e2b;
        text-transform: uppercase;
    }
    &_img-holder {
        overflow: hidden;
        position: relative;
        width: 100%;
        height: 200px;
        @media all and (min-width: 600px){
            min-width: 60%;
            width: 60%;
            border-right: 10px solid #ef8686;
            box-shadow: inset -5px 0px 0px 0px #fff;
            height: 197px;
            padding-right: 5px;
        }
        @media all and (min-width: 800px){
            height: 297px;
        }
        @media all and (min-width: 1100px){
            height: 397px;
        }
        .theme-courses_course:nth-child(even) & {
            @media all and (min-width: 600px){
                border: none;
                border-left: 10px solid #ef8686;
                box-shadow: inset 5px 0px 0px 0px #fff;
            }
        }
    }
    &_ico-holder {
        padding-right: 5px;
        font-size: 28px;
        color: $theme-color-main;
    }
    &_img-link {
        display: inline-block;
    }
    &_higlight {
        font: 20px/1.3 $default-font;
        font-weight: bold;
        color: #de2d2e;
        display: block;
        margin: 0 0 12px;
    }
    &_text {
        margin: 0 0 15px;
        font: 15px/24px $default-font;
    }
}
