$base-color: #ff6f00;
$blue: $base-color;

$uxpl-blue-base: $base-color;
$uxpl-blue-hover-active: lighten($base-color, 20%);

$uxpl-green-base: $base-color;
$uxpl-green-hover-active: lighten($base-color, 20%);
$uxpl-green-dark-hover-active: lighten($base-color, 10%);
