.container,
section.outside-app, 
.wrapper-account-settings, 
.view-profile .profile-self .wrapper-profile-field-account-privacy .u-field-account_privacy, 
.view-profile .wrapper-profile-sections {
    min-width: 320px;
    @media all and (min-width: 860px){
        min-width: 760px;
    }
}
.find-courses {
    padding-top: 20px;
}
.dashboard a {
    color: $theme-color-main;
    &:visited,
    &:hover,
    &:focus,
    &:active {
        color: $theme-color-main;
    }
}
.search-bar .search-button {
    background: $theme-color-main;
    &:hover,
    &:focus,
    &:active {
        background: $theme-color-main;
    }
}
body.view-in-course header.header-global {
    width: 100%;
}
.help-link {
    color: #fff;
    &:hover,
    &:active,
    &:focus {
        color: $theme-color-main;
    }
}
div.window-wrap .wrapper-course-material .course-tabs li a:hover,
div.window-wrap .wrapper-course-material .course-tabs li a:focus,
div.window-wrap .wrapper-course-material .course-tabs li a.active {
    color: $theme-color-main;
    border-bottom-color: $theme-color-main;
}