.container,
section.outside-app, 
.wrapper-account-settings, 
.view-profile .profile-self .wrapper-profile-field-account-privacy .u-field-account_privacy, 
.view-profile .wrapper-profile-sections {
    min-width: 320px;
    @media all and (min-width: 860px){
        min-width: 760px;
    }
}
.find-courses {
    padding-top: 20px;
}
div.window-wrap .courseware-bookmarks-button .bookmarks-list-button.is-active {
    background: transparent;
}
.promo-box_heading a,
.u-field-message-notification a,
div.window-wrap .bookmarks-results-list .bookmarks-results-list-item:hover .list-item-breadcrumbtrail,
div.window-wrap .bookmarks-results-list .list-item-right-section,
div.window-wrap .bookmarks-results-list .bookmarks-results-list-item:before,
div.window-wrap .course-index .accordion .course-navigation .chapter-content-container .chapter-menu .menu-item.graded .menu-icon,
div.window-wrap .login-register .form-field .field-link, 
div.window-wrap .financial-assistance-wrapper .financial-assistance-form .form-field .field-link,
div.window-wrap p a, 
div.window-wrap p a:visited,
div.window-wrap .instructor-dashboard-wrapper-2 section.idash-section#cohort_management .toggle-cohort-management-secondary,
div.window-wrap .instructor-dashboard-wrapper-2 section.idash-section#cohort_management .toggle-cohort-management-discussions,
div.window-wrap .instructor-dashboard-wrapper-2 section.idash-section#cohort_management .wrapper-tabs .tab .toggle-button,
div.window-wrap .instructor-dashboard-wrapper-2 .file-download-link a,
.instructor-dashboard-content-2 a,
div.window-wrap .btn-link,
.supplemental-link a,
.dashboard a {
    color: $theme-color-main;
    &:visited,
    &:hover,
    &:focus,
    &:active {
        color: $theme-color-main-hover;
    }
}
div.window-wrap .find-courses .loading-spinner,
div.window-wrap .search-bar .search-button {
    background: $theme-color-main;
    &:hover,
    &:focus,
    &:active {
        background: $theme-color-main-hover;
    }
}
div.window-wrap .search-bar .search-button:hover:hover {
    background: $theme-color-main-hover;
}
body.view-in-course header.header-global {
    width: 100%;
}
.help-link {
    color: #fff;
    margin: 0 0 0 15px;
    &:hover,
    &:active,
    &:focus {
        color: $theme-color-main-hover;
        text-decoration: none;
    }
    @media all and (max-width: 850px) {
        margin-right: 0;
    }
}
div.window-wrap .wrapper-course-material .course-tabs li a:hover,
div.window-wrap .wrapper-course-material .course-tabs li a:focus,
div.window-wrap .wrapper-course-material .course-tabs li a.active {
    color: $theme-color-main;
    border-bottom-color: $theme-color-main;
}
.courseware-bookmarks-button .bookmarks-list-button.is-active,
div.window-wrap .courseware-bookmarks-button .bookmarks-list-button {
    color: $theme-color-main;
    border-color: $theme-color-main;
    &:focus,
    &:hover {
        background: $theme-color-main-hover;
        color: #fff;
    }
}
div.window-wrap .find-courses .discovery-submit {
    border-color: $theme-color-main;
    background: $theme-color-main;
    &:hover,
    &:active,
    &:focus {
        border-color: $theme-color-main;
    }
}
div.window-wrap .bookmarks-results-list .bookmarks-results-list-item:hover,
div.window-wrap .xmodule_display.xmodule_CapaModule div.problem .choicegroup label:hover, 
div.window-wrap .xmodule_display.xmodule_CapaModule div.problem .choicetextgroup label:hover, 
div.window-wrap .xmodule_display.xmodule_ConditionalModule div.problem .xmodule_display.xmodule_CapaModule .choicegroup label:hover, 
div.window-wrap .xmodule_display.xmodule_ConditionalModule div.problem .xmodule_display.xmodule_CapaModule .choicetextgroup label:hover,
div.window-wrap .find-courses .discovery-input:focus {
    border-color: $theme-color-main-hover;
}
div.window-wrap .find-courses button:focus:not(:disabled),
div.window-wrap .find-courses button:active:not(:disabled) {
    box-shadow: none;
}
body.view-in-course div.window-wrap {
    min-width: 320px;
}
body.view-in-course .window-wrap .content-wrapper{
    min-width: 720px;
}
div.window-wrap .wrap-instructor-info .instructor-info-action {
    color: $theme-color-main;
    &:hover,
    &:focus,
    &:active {
        color: #fff;
        background: $theme-color-main-hover;
    }
}
.xmodule_display.xmodule_SequenceModule .sequence-nav ol li button .fa-bookmark,
.enrollment-wrapper strong {
    color: $theme-color-main !important;
}
div.window-wrap .btn-brand,
div.window-wrap .xmodule_display.xmodule_CapaModule div.problem button.btn-brand,
div.window-wrap .instructor-dashboard-wrapper-2 section.idash-section#cohort_management .cohort-management-nav .action-create,
div.window-wrap .instructor-dashboard-wrapper-2 section.idash-section#cohort_management .file-upload-form .action-submit,
div.window-wrap .instructor-dashboard-wrapper-2 section.idash-section#cohort_management .form-submit,
div.window-wrap .instructor-dashboard-wrapper-2 section.idash-section#cohort_management .cohort-management .message .action-create,
div.window-wrap .instructor-dashboard-wrapper-2 section.idash-section#membership .member-lists-management .auth-list-container .member-list-widget input[type="button"].add {
    color: #fff;
    background: $theme-color-main;
    box-shadow: none;
    text-shadow: none;
    border-color: $theme-color-main;
    &:focus,
    &:active,
    &:hover {
        border-color: $theme-color-main-hover;
        background: transparent;
        color: $theme-color-main-hover;
        box-shadow: none;
        text-shadow: none;
    }
}
div.window-wrap .xmodule_display.xmodule_SequenceModule .sequence-nav-button:hover, 
div.window-wrap .xmodule_display.xmodule_SequenceModule .sequence-nav-button:active, 
div.window-wrap .xmodule_display.xmodule_SequenceModule .sequence-nav-button.active, 
div.window-wrap .xmodule_display.xmodule_SequenceModule .sequence-nav button:hover, 
div.window-wrap .xmodule_display.xmodule_SequenceModule .sequence-nav button:active, 
div.window-wrap .xmodule_display.xmodule_SequenceModule .sequence-nav button.active {
    border-bottom: 3px solid $theme-color-main;
}
div.window-wrap .btn-default {
    color: $theme-color-main;
    &:hover,
    &:focus,
    &:active {
    border-color: $theme-color-main-hover;
    background-color: transparent;
    color: $theme-color-main-hover;
    }
}
div.window-wrap .courseware-bookmarks-button .bookmarks-list-button.is-active:focus, 
div.window-wrap .courseware-bookmarks-button .bookmarks-list-button.is-active:hover{
    background: $theme-color-main;
    color: #fff;
}