.btn-2 {
    display: inline-block;
    vertical-align: middle;
    padding: 6px 25px 7px;;
    font: 14px/18px $font-regular !important;
    text-transform: uppercase;
    border: 2px solid #007db8;
    background: #007db8;
    color: #fff !important;

    &:hover {
        background: #fff;
        color: #007db8 !important;
        text-decoration: none;
    }
    &_min-width {
        box-sizing: border-box;
        min-width: 180px;
        text-align: center;
        padding: 6px 15px 7px 15px;
    } 
}