.btn-3 {
    display: inline-block;
    vertical-align: middle;
    padding: 6px 25px 7px;;
    font: 14px/18px $helvetica;
    text-transform: uppercase;
    color: #fff !important;
    border: 2px solid #fff;

    &:hover {
        color: #fff !important;
        background: #007db8;
        text-decoration: none;
    }
}