.btn-1 {
    display: inline-block;
    vertical-align: middle;
    padding: 6px 25px 7px;;
    font: 14px/18px $font-regular !important;
    text-transform: uppercase;
    color: #007db8 !important;
    border: 2px solid #007db8;

    &:hover {
        background: #007db8;
        color: #fff !important;
        text-decoration: none;
    }
}