/*scoutn btn*/
div.content-wrapper .login-register .login-provider .icon {
    left: -1px;
    top: -1px;
    width: 35px;
    height: 35px;
    bottom: 0;
    background: #622599;
    line-height: 0;
}
div.content-wrapper .login-register .login-provider .icon .icon-image {
    max-width: 30px;
    max-height: 30px;
    margin: 3px 0 0 0;
}
div.content-wrapper .login-register .login-provider {
    text-align: center;
    color: #622599;
    &:hover,
    &:active,
    &:focus {
        color: #fff;
        background: #622599;
        border-color: #622599;
        box-shadow: none;
    }
}