$gray: #767676;
$sans-serif: 'Arial', 'helvetica', 'Geneva'; // 'Open Sans', $verdana, sans-serif !default;
$monospace: 'Arial', 'helvetica', 'Geneva';// Monaco, 'Bitstream Vera Sans Mono', 'Lucida Console', monospace !default;
$body-font-family: $sans-serif !default;
$serif: 'Arial', 'helvetica', 'Geneva'; // $georgia !default;

.home>header {
  background-color: #CFD4CD !important;
  background-image: url("/static/themes/default/images/gcsen-back.png") !important;
  height: 488px !important;
  background-position: center !important;
  background-size: 27% !important;
  background-repeat: no-repeat !important;
  .outer-wrapper {
    padding: 230px 0 0 !important;
    opacity: 0.7 !important;
  }
}

header.global {
  background: #336633 !important;

  .user>.primary:last-child>a.shopping-cart {
    margin-right: 0 !important;
  }

  .course-header {
    color: $gray;
    text-shadow: none !important;
  }

  .nav-global {
    li {
      a {
        color: #fff !important;
      }
    }
  }

  .user {
    background: #fff !important;
    border-radius: 3px !important;
    margin-left: 16px;

    a.user-link {
      border-radius: 3px !important;
    }
  }
  .primary>a {
    box-shadow: none !important;
  }
  .primary>a:hover {
    border-radius: 3px !important;
  }

  .nav-courseware {
    li {
      .cta {
        background: #DD823E !important;
        box-shadow: none !important;
      }
      .cta:hover {
        background: #F2D474 !important;
      }
    }
  }
}


.wrapper-footer {
  background: #000 !important;

  footer#footer-openedx {
    a {
      color: #737373 !important;
    }
    a:hover {
      border-bottom: #737373 !important;
    }
    .colophon {
      .nav-colophon {
        li {
          a {
            color: #737373 !important;
          }
          a:hover {
            color: #737373 !important;
          }
        }
      }
    width: inherit !important;
    }
    .references {
        width: inherit !important;
        float: right !important;
    }
  }
}

.login-register {
  .form-type {
    padding-bottom: 10px !important;
  }
}

.course-info {
  header.course-profile {
    padding-top: 50px !important;
    height: initial !important;

    .intro-inner-wrapper {
      margin-bottom: 20px !important;
    }
  }
}

header.global.slim {
  h1.logo {
    img {
      margin-top: -19px;
    }
  }

  h2 {
    max-width: 65%;
    width: initial !important;
  }
}

.filter_button {
  height: 23px;
  margin: -1px 0;
  padding: 0 10px !important;
  font-size: 13px !important;
}

.filter-form {
  position: absolute;
  display: inline-block;
  margin: 12px;
}

.courses-container {
  .courses {
    .course {
      z-index: 0 !important;
    }
  }
}

.fa {
  line-height: 1.9em !important;
}

.raccoon-block {
  width: initial;
  display: inline-block;
  position: absolute;
  margin-top: 27px;
}

.raccoongang {
  font-size: 10px;
  color: #acaaab;
  span {
    float: left;
  }
  img {
    height: 16px;
    vertical-align: baseline;
    }
}
