$gray: #767676;

.home>header {
  background-image: url("/static/themes/default/images/background-img.jpg") !important;
  height: 520px !important;
  background-position: left !important;
  .outer-wrapper {
    padding: 380px 0 0 !important;
    opacity: 0.7 !important;
  }
  .title {
    text-align: center;
  }
}

header.global {
  height: 93px !important;
  //background: #ecebe3 !important;

  h1.logo {
    margin: -24px 39px 0 0 !important;
  }

  .user>.primary:last-child>a.shopping-cart {
    margin-right: 0 !important;
  }

  .course-header {
    color: $gray;
    text-shadow: none !important;
  }
// button "register"
  .nav-global {
    li {
      a {
        color: #007eb9 !important;
      }
      a:hover {
        color: #fa9f3e !important;
      }
    }
  }

  .user {
    background: #fff !important;
    border-radius: 3px !important;
    margin-left: 16px;
    margin-top: 26px;

    a.user-link {
      border-radius: 3px !important;
    }
  }
  .primary>a {
    box-shadow: none !important;
  }
  .primary>a:hover {
    border-radius: 3px !important;
  }

  // button "Sign in"
  .nav-courseware {
    li {
      .cta {
        background: #007eb9 !important;
        box-shadow: none !important;
      }
      .cta:hover {
        background: #fa9f3e !important;
        border: none !important;
        box-shadow: none !important;
      }
    }
  }

  .nav {
    padding: 24px 10px 0 !important;
  }
}


.wrapper-footer {
  //background: #ecebe3 !important;
  margin-top: 0 !important;
  position: relative !important;

  footer#footer-openedx {
    a {
      color: #888888 !important;
    }
    a:hover {
      border-bottom: #888888 !important;
    }

    // buttons footer
    .colophon {
      .nav-colophon {
        li {
          a {
            color: #007eb9 !important;
          }
          a:hover {
            color: #fa9f3e !important;
          }
        }
      }
      width: initial !important;
    }
    .references {
      width: initial !important;
      float: right !important;
    }
  }
}

.login-register {
  .form-type {
    padding-bottom: 10px !important;
  }
}

.course-info {
  header.course-profile {
    padding-top: 50px !important;
    height: initial !important;

    .intro-inner-wrapper {
      margin-bottom: 20px !important;
    }
  }
}

header.global.slim {
  h1.logo {
    margin: 0 10px 0 0 !important;
    img {
      // margin-top: 4px;
      height: 90px !important;
    }
  }

  h1.logo:before {
    height: 95px !important;
  }

  h2 {
    max-width: 65%;
    width: initial !important;
    margin-top: 30px !important;
  }
}

.filter_button {
  height: 23px;
  margin: -1px 0;
  padding: 0 10px !important;
  font-size: 13px !important;
}

.filter-form {
  position: absolute;
  display: inline-block;
  margin: 12px;
}

.courses-container {
  background-color: #fff !important;
  .courses {
    .course {
      z-index: 0 !important;
    }
  }
}

.contact-form {
  text-align: right;
  margin-right: 33%;
  input, textarea {
    margin: 10px;
  }
}

.fa {
  line-height: 1.9em !important;
}

.find-courses {
  background-color: #fff !important;
}

.raccoon-block {
  width: initial;
  display: inline-block;
  position: absolute;
  margin-top: 4px;
}

.raccoongang {
  font-size: 10px;
  color: #acaaab;
  span {
    float: left;
  }
  img {
    height: 16px;
    vertical-align: baseline;
    }
}
