$gray: #767676;

.home>header {
  background-image: url("../themes/default/images/bbf-main.png") !important;
  background-repeat-y: no-repeat;
  background-position: center;
  height: 520px !important;
  .outer-wrapper {
    padding: 392px 0 0 20px !important;
    opacity: 0.7 !important;
  }
  .title {
    max-height: 120px !important;
    padding: 36px 30px !important;
  }
  .title>hgroup {
    text-align: center !important;
    vertical-align: middle !important;
    width: 100%;
    padding-bottom: 0 !important;

    h1 {
      text-align: center !important;
      width: 100%;
      line-height: 0.9em !important;
    }
  }
}

.find-courses {
  header.search {
    margin-top: 0 !important;
    height: 520px !important;
    background-repeat-y: no-repeat;
    background-position: center;
    background-image: url("../themes/default/images/bbf-main.png") !important;

    .inner-wrapper {
      padding: 392px 0 0 20px !important;

      hgroup {
        box-shadow: none !important;
      }

    }
  }
}

header.global {
  background: #fff !important;

  .user>.primary:last-child>a.shopping-cart {
    margin-right: 0 !important;
  }

  .course-header {
    color: $gray;
    text-shadow: none !important;
  }

  .nav-global {
    li {
      a {
        color: #ffc233 !important;
      }
    }
  }

  .user {
    background: #fff !important;
    border-radius: 3px !important;
    margin-left: 16px;

    a.user-link {
      border-radius: 3px !important;
    }
  }
  .primary>a {
    box-shadow: none !important;
  }
  .primary>a:hover {
    border-radius: 3px !important;
  }

  .nav-courseware {
    li {
      .cta {
        background: #ffc233 !important;
        box-shadow: none !important;
      }
      .cta:hover {
        background: #FFE03B !important;
      }
    }
  }
}


.wrapper-footer {
  background: #fff !important;

  footer#footer-openedx {
    a {
      color: #53abfd !important;
    }
    a:hover {
      border-bottom: #3fbcfd !important;
    }
    .colophon {
      .nav-colophon {
        margin: 5px 0 10px 0!important;
        li {
          a {
            color: #53abfd !important;
          }
          a:hover {
            color: #3FBCFD !important;
          }
        }
      }
    }
  }
}

.login-register {
  .form-type {
    padding-bottom: 10px !important;
  }
}

.course-info {
  header.course-profile {
    padding-top: 50px !important;
    height: initial !important;

    .intro-inner-wrapper {
      margin-bottom: 20px !important;
    }
  }
}

header.global.slim {
  h1.logo {
    img {
      margin-top: -4px;
    }
  }

  h2 {
    max-width: 65%;
    width: initial !important;
  }
}


.no-underscore {
  a:hover {
    border-bottom: none !important;
  }
}

.raccoongang {
  font-size: 10px;
  color: #acaaab;
  span {
    float: left;
  }
  img {
    height: 16px;
    vertical-align: baseline;
    }
}
//
//.raccoongang-openedx {
//  font-size: 10px;
//  color: #acaaab;
//  span {
//    float: left;
//  }
//  img {
//    height: 16px;
//    vertical-align: baseline;
//    }
//}
