$gray: #767676;
$sans-serif: 'Arial', 'helvetica', 'Geneva'; // 'Open Sans', $verdana, sans-serif !default;
$monospace: 'Arial', 'helvetica', 'Geneva';// Monaco, 'Bitstream Vera Sans Mono', 'Lucida Console', monospace !default;
$body-font-family: $sans-serif !default;
$serif: 'Arial', 'helvetica', 'Geneva'; // $georgia !default;


.home>header {
  background-color: #CFD4CD !important;
  background-image: url("/static/themes/default/images/Background_2.jpg") !important;
  height: 488px !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  .outer-wrapper {
    padding: 230px 0 0 !important;
    opacity: 0.7 !important;
  }
}

header.global {
  background: #363636 !important;

  .user>.primary:last-child>a.shopping-cart {
    margin-right: 0 !important;
  }

  .course-header {
    color: $gray;
    text-shadow: none !important;
  }

  .nav-global {
    li {
      a {
        color: #fff !important;
      }
    }
  }

  .user {
    background: #fff !important;
    border-radius: 3px !important;
    margin-left: 16px;

    a.user-link {
      border-radius: 3px !important;
    }
  }
  .primary>a {
    box-shadow: none !important;
  }
  .primary>a:hover {
    border-radius: 3px !important;
  }

  .nav-courseware {
    li {
      .cta {
        background: #fff !important;
        box-shadow: none !important;
        border-radius: 4px !important;
        color: #000 !important;
        border: 1px solid #363636 !important;
      }
      .cta:hover {
        background: #363636 !important;
        color: #fff !important;
      }
    }
  }
  h1.logo {
    margin: -7px 39px 0 0 !important;
  }
}

header.global:hover {
  background-color: rgba(54,54,54,.8) !important;
}


.wrapper-footer {
  background: #363636 !important;

  footer#footer-openedx {
    a {
      color: #f7f7f7 !important;
    }
    a:hover {
      border-bottom: #f7f7f7 !important;
    }
    a:focus {
      border: none !important;
      outline: none !important;
    }
    .colophon {
      .nav-colophon {
        li {
          a {
            color: #f7f7f7 !important;
          }
          a:hover {
            color: #f7f7f7 !important;
          }
        }
        li:after {
          content: '\2022';
          padding: 0 0 0 15px;
          color: #fff;
        }
        li:last-child:after {
          display: none;
        }
      }
    width: inherit !important;
    }
    .references {
        width: inherit !important;
        float: right !important;
    }
  }
}

.login-register {
  .form-type {
    padding-bottom: 10px !important;
  }
}

.course-info {
  header.course-profile {
    padding-top: 50px !important;
    height: initial !important;

    .intro-inner-wrapper {
      margin-bottom: 20px !important;
    }
  }
}

header.global.slim {
  h1.logo {
    img {
      margin-top: -5px;
    }
  }
  h1.logo:before {
    top: 7px !important;
  }

  h2 {
    max-width: 65%;
    width: initial !important;
  }
}

.filter_button {
  height: 23px;
  margin: -1px 0;
  padding: 0 10px !important;
  font-size: 13px !important;
}

.filter-form {
  position: absolute;
  display: inline-block;
  margin: 12px;
}

.courses-container {
  .courses {
    .course {
      z-index: 0 !important;
    }
  }
}

.fa {
  line-height: 1.9em !important;
}

.raccoon-block {
  width: initial;
  display: inline-block;
  position: absolute;
  margin-top: 40px;
}

.raccoongang {
  font-size: 10px;
  color: $gray;
  span {
    float: left;
  }
  img {
    height: 16px;
    vertical-align: baseline;
    opacity: 0.5;
    }
}

.find-courses {
  background: #fff !important;
}

body {
  background: #fff !important;
}

.home {
  .title {
    background: #fbfbfb !important;
    margin-left: 0 !important;
    margin: 0 auto !important;
    float: none !important;
    width: 98.15254% !important;
    text-align: center;

    hgroup {
      text-align: center !important;

      h1 {
        text-align: center !important;
        font-size: 2.7em !important;
      }
    }
  }
}
