$gray: #767676;

.home>header {
  background-image: url("/static/themes/default/images/back.jpg") !important;
  background-repeat-y: no-repeat;
  background-position: center;
  height: 520px !important;
  .outer-wrapper {
    padding: 392px 0 0 20px !important;
    opacity: 0.7 !important;
  }
  .title {
    max-height: 120px !important;
    padding: 36px 30px !important;
  }
  .title>hgroup {
    text-align: center !important;
    vertical-align: middle !important;
    width: 100%;
    padding-bottom: 0 !important;

    h1 {
      text-align: center !important;
      width: 100%;
      line-height: 0.9em !important;
    }
  }
}

.find-courses {
  background: #e1dad2 !important;
  header.search {
    margin-top: 0 !important;
    height: 520px !important;
    background-repeat-y: no-repeat;
    background-position: center;
    background-image: url("/static/themes/default/images/back.jpg") !important;

    .inner-wrapper {
      padding: 392px 0 0 20px !important;

      hgroup {
        box-shadow: none !important;
      }

    }
  }
}
// header
header.global {
  background: #5d422d !important;
  h1 {
    margin: -7px 39px 0 0 !important;
  }
  .user>.primary:last-child>a.shopping-cart {
    margin-right: 0 !important;
  }

  .course-header {
    color: $gray;
    text-shadow: none !important;
  }

  .nav-global {
    li {
      a {
        color: #dfdbd2 !important;
      }
    }
  }

  .user {
    background: #fff !important;
    border-radius: 3px !important;
    margin-left: 16px;

    a.user-link {
      border-radius: 3px !important;
    }
  }
  .primary>a {
    box-shadow: none !important;
  }
  .primary>a:hover {
    border-radius: 3px !important;
  }

  .nav-courseware {
    li {
      .cta {
        background: #b6a48c !important;
        box-shadow: none !important;
      }
      .cta:hover {
        background: #9b8974 !important;
      }
    }
  }
}

// footer
.wrapper-footer {
  background: #5d422d !important;
  margin-top: 0!important;

  footer#footer-openedx {
    a {
      color: #299DCE !important;
    }
    a:hover {
      border-bottom: #299DCE !important;
    }
    .colophon {
      margin-top: 10px;
      .nav-colophon {
        margin: 5px 0 40px 0!important;
        li {
          a {
            color: #299DCE !important;
          }
          a:hover {
            color: #299DCE !important;
          }
        }
      }
    }
    .references {
      float: right;
      width: inherit !important;
    }
  }
}

.login-register {
  .form-type {
    padding-bottom: 10px !important;
  }
}

.course-info {
  header.course-profile {
    padding-top: 50px !important;
    height: initial !important;

    .intro-inner-wrapper {
      margin-bottom: 20px !important;
    }
  }
}

header.global.slim {
  h1.logo {
    margin: 0 39px 0 0 !important;
    img {
      margin-top: -4px;
    }
  }

  h2 {
    max-width: 65%;
    width: initial !important;
  }
}


.no-underscore {
  a:hover {
    border-bottom: none !important;
  }
}

.raccoongang {
  font-size: 10px;
  color: #acaaab;
  span {
    float: left;
  }
  img {
    height: 16px;
    vertical-align: middle;
    }
}

.content-wrapper {
  background-color: #e1dad2 !important;
}

body.view-incourse {
  .wrapper-footer {
    margin-top: 0 !important;
  }
}

.wrapper-preview-menu {
  background-color: #e1dad2 !important;
}
