$gray: #767676;
$link-color: $gray;
$link-color-d1: $gray;
$link-hover: #ff9e16;

.home>header {
  background-image: url("/static/themes/default/images/background-img.jpg") !important;
  height: 520px !important;
  background-position: left !important;
  .outer-wrapper {
    padding: 380px 0 0 !important;
    opacity: 0.7 !important;
  }
  .title {
    text-align: center;
  }
}

header.global {
  // height: 93px !important;
  //background: #ecebe3 !important;

  h1.logo {
    // margin: 0 39px 0 0 !important;
  }

  .user>.primary:last-child>a.shopping-cart {
    margin-right: 0 !important;
  }

  .course-header {
    color: $gray;
    text-shadow: none !important;
  }
// button "register"
  .nav-global {
    li {
      a {
        color: #ff9e16 !important;
      }
      a:hover {
        color: #fab65b !important;
      }
    }
  }

  //.user {
  //  background: #fff !important;
  //  border-radius: 3px !important;
  //  margin-left: 16px;
  //  margin-top: 26px;
  //
  //  a.user-link {
  //    border-radius: 3px !important;
  //  }
  //}
  .primary>a {
    box-shadow: none !important;
  }
  .primary>a:hover {
    border-radius: 3px !important;
  }

  // button "Sign in"
  .nav-courseware {
    li {
      .cta {
        background: #ff9e16 !important;
        box-shadow: none !important;
      }
      .cta:hover {
        background: #fab65b !important;
        border: none !important;
        box-shadow: none !important;
      }
    }
  }

  .nav {
    padding: 24px 10px 0 !important;
  }
}


.wrapper-footer {
  //background: #ecebe3 !important;
  margin-top: 0 !important;
  position: relative !important;

  footer#footer-openedx {
    a {
      color: #888888 !important;
    }
    a:hover {
      border-bottom: #888888 !important;
    }

    // buttons footer
    .colophon {
      .nav-colophon {
        li {
          margin-right: 10px !important;
          a {
            color: #888888 !important;
          }
          a:hover {
            color: #717171 !important;
          }
        }
        li:after {
          content: "|";
          color: #888888;
          padding-left: 10px !important;
        }
        li:last-child:after {
          display: none;
        }
      }
      width: initial !important;
    }
    .references {
      width: initial !important;
      float: right !important;
    }
  }
}

.login-register {
  .form-type {
    padding-bottom: 10px !important;
  }
  .action-primary {
    background: #ff9e16 !important;
    box-shadow: 0 2px 1px 0 #bf5800 !important;
    text-shadow: none !important;
  }
  .action-primary:hover {
    background: #fab65b !important;
  }
  .nav-btn {
    border: 1px solid #ff9e16 !important;
    color: #ff9e16 !important;
  }
  .nav-btn:hover {
    background: #fab65b !important;
    box-shadow: 0 2px 1px 0 #bf5800 !important;
    color: #fff !important;
  }
  .form-field {
    .field-link {
      color: #888888 !important;
    }
    .field-link:hover {
      color: #ff9e16 !important;
    }
  }
}

.course-info {
  header.course-profile {
    padding-top: 50px !important;
    height: initial !important;

    .intro-inner-wrapper {
      margin-bottom: 20px !important;
      .intro {
        .main-cta {
          a.register, strong {
            background-color: #ff9e16 !important;
            background-image: none !important;
            border: 1px solid #ff9e16 !important;
            box-shadow: none !important;
            text-shadow: none !important;
          }
        }
      }
    }
  }
  .course-date {
    color: #ff9e16 !important;
  }
}

header.global.slim {
  h1.logo {
    margin: -5px 10px 0 0 !important;
    img {
      // margin-top: 4px;
    }
  }

  h1.logo:before {
    margin-top: 7px !important;
  }

  //h2 {
  //  max-width: 65%;
  //  width: initial !important;
  //  margin-top: 30px !important;
  //}
}

.filter_button {
  height: 23px;
  margin: -1px 0;
  padding: 0 10px !important;
  font-size: 13px !important;
}

.filter-form {
  position: absolute;
  display: inline-block;
  margin: 12px;
}

.courses-container {
  background-color: #fff !important;
  .courses {
    .course {
      z-index: 0 !important;
      border-bottom: 1px solid #888888 !important;
    }
  }
}

.contact-form {
  text-align: right;
  margin-right: 33%;
  input, textarea {
    margin: 10px;
  }
}

.fa {
  line-height: 1.9em !important;
}

.find-courses {
  background-color: #fff !important;
}

.raccoon-block {
  width: initial;
  display: inline-block;
  position: absolute;
  margin-top: 4px;
}

.raccoongang {
  font-size: 10px;
  color: #acaaab;
  span {
    float: left;
  }
  img {
    height: 16px;
    vertical-align: baseline;
    }
}

.dashboard {
  .my-courses {
    .course {
      .details {
        .enter-course {
          color: #fff !important;
          border-color: #ff9e16 !important;
          background-color: #ff9e16 !important;
        }
        .enter-course:hover {
          background-color: #fab65b !important;
        }
        .enter-course:focus {
          background-color: #ff9e16 !important;
        }
      }
      .course-title {
        a:hover {
          color: #767676 !important;
        }
      }
    }
  }
}

.discussion-module {
  .new-post-btn {
    background-image: -webkit-linear-gradient(top, #fab65b,#ff9e16) !important;
    background-image: linear-gradient(to bottom,#fab65b,#ff9e16) !important;
    border: 1px solid #ff9e16 !important;
    box-shadow: none !important;
  }
}

.openassessment {
  .openassessment__steps__step {
    .step__actions {
      .action--submit {
        background: #ff9e16 !important;
        border: 1px solid #ff9e16 !important;
      }
    }
  }
  .ui-toggle-visibility {
    .ui-toggle-visibility__control {
      .step__label {
        color: #ff9e16 !important;
      }
    }
  }
}

.home {
  .title {
    background: #fbfbfb !important;
    margin-left: 0 !important;
    margin: 0 auto !important;
    float: none !important;
    width: 98.15254% !important;
    text-align: center;

    hgroup {
      text-align: center !important;

      h1 {
        text-align: center !important;
        font-size: 2.7em !important;
      }
    }
  }
}

input[type="button"] {
  color: #fff !important;
  text-shadow: none !important;
}

.modal {
  .inner-wrapper {
    form {
      .submit {
        input[type="submit"] {
          background-color: #ff9e16 !important;
          background-image: none !important;
          border: 1px solid #ff9e16 !important;
          box-shadow: none !important;
          font-weight: normal !important;
        }
      }
    }
  }
}

.instructor-dashboard-wrapper-2 {
  section.idash-section#membership {
    .member-lists-management {
      .auth-list-container {
        .member-list-widget {
          input[type="button"].add {
            background-color: #ff9e16 !important;
            background-image: none !important;
            border: 1px solid #ff9e16 !important;
            box-shadow: none !important;
            font-weight: normal !important;
          }
        }
      }
    }
  }
  section.idash-section#cohort_management {
    .cohort-management {
      .message .action-create {
        background-color: #ff9e16 !important;
        background-image: none !important;
      }
    }
  }
}

.instructor-dashboard-content-2 {
  .instructor-nav {
    .nav-item {
      a:hover {
        color: #ff9e16 !important;
      }
    }
  }
}

body.discussion {
  .course-tabs {
    .right {
      .new-post-btn {
        background-color: #ff9e16 !important;
        background-image: none !important;
        border: 1px solid #ff9e16 !important;
        box-shadow: none !important;
        text-shadow: none !important;
        color: #fff !important;
        font-weight: normal !important;
      }
    }
  }
}

input[type="button"], .btn.btn-primary, input[type="submit"], .add-article-btn, button[type="submit"] {
  background-color: #ff9e16 !important;
  background-image: none !important;
  border: 1px solid #ff9e16 !important;
  box-shadow: none !important;
  text-shadow: none !important;
  color: #fff !important;
  font-weight: normal !important;
}

.wrapper-msg.wrapper-auto-cert {
  .auto-cert-message {
    .has-actions {
      .msg-actions {
        .btn {
            background-color: #ff9e16 !important;
            background-image: none !important;
            border: 1px solid #ff9e16 !important;
            box-shadow: none !important;
            text-shadow: none !important;
            color: #fff !important;
            font-weight: normal !important;
        }
      }
    }
  }
}

.wrapper-msg.wrapper-auto-cert {
  .auto-cert-message {
    border-left: 3px solid #ff9e16 !important;
  }
}

.mce-widget {
  .mce-btn {
    .mce-menubtn {
      .mce-fixed-width {
        .mce-listbox {
          .mce-first {
            .mce-last {
              background-color: #f0f0f0 !important;
              background-image: none !important;
              border: 1px solid #f0f0f0 !important;
            }
          }
        }
      }
    }
  }
}

.instructor-dashboard-wrapper-2 {
  section.idash-section#cohort_management {
    .cohort-management-nav {
      .action-create {
        background-color: #ff9e16 !important;
        background-image: none !important;
        border: 1px solid #ff9e16 !important;
        box-shadow: none !important;
        text-shadow: none !important;
        color: #fff !important;
        font-weight: normal !important;
      }
    }
  }
}

.instructor-dashboard-wrapper-2 {
  section.idash-section#certificates {
    .btn-blue {
      background-color: #ff9e16 !important;
      background-image: none !important;
      border: 1px solid #ff9e16 !important;
      box-shadow: none !important;
      text-shadow: none !important;
      color: #fff !important;
      font-weight: normal !important;
    }
  }
}

.customBrowseBtn {
  .file-browse {
    span.browse {
      background-color: #ff9e16 !important;
      background-image: none !important;
      border: 1px solid #ff9e16 !important;
      box-shadow: none !important;
      text-shadow: none !important;
      color: #fff !important;
      font-weight: normal !important;
      margin-right: 0 !important;
    }
  }
}

.dashboard {
  .profile-sidebar {
    border-top: 3px solid #ff9e16 !important;
  }
}

.dashboard {
  .my-courses {
    .course {
      .wrapper-messages-primary {
        .message.message-status.course-status-certavailable {
          .actions-primary {
            .action-certificate {
              .btn {
                background-color: #ff9e16 !important;
                background-image: none !important;
                border: 1px solid #ff9e16 !important;
                box-shadow: none !important;
                text-shadow: none !important;
                color: #fff !important;
                font-weight: normal !important;
              }
            }  
          }
        }
      }
    }
  }
}

