$gray: #767676;
$link-color: $gray;
$link-color-d1: $gray;

// ----------------------------
// #TYPOGRAPHY
// ----------------------------
//$sans-serif: Helvetica Neue, sans-serif; // 'Open Sans', $verdana, sans-serif !default;
//$monospace: Helvetica Neue, sans-serif; // Monaco, 'Bitstream Vera Sans Mono', 'Lucida Console', monospace !default;
//$body-font-family: Helvetica Neue, sans-serif; // $sans-serif !default;
//$serif: Helvetica Neue, sans-serif; // $georgia !default;

// newer variables/standards
//$f-serif: Helvetica Neue, sans-serif; // 'Bree Serif', Georgia, Cambria, 'Times New Roman', Times, serif !default;
//$f-sans-serif: Helvetica Neue, sans-serif; // 'Open Sans','Helvetica Neue', Helvetica, Arial, sans-serif !default;
//$f-monospace: Helvetica Neue, sans-serif; // 'Bitstream Vera Sans Mono', Consolas, Courier, monospace !default;

//$font-light: 300 !default;
//$font-regular: 400 !default;
//$font-semibold: 600 !default;
//$font-bold: 700 !default;
//
//$m-base-font-size: em(15) !default;


$button-color: #9d9d9d;
$button-hover-color: black;
$link-hover: $button-hover-color;
$background-color: #f8f8f8;
$footer-background-color: black;

.home>header {
  background-image: url("/static/themes/default/images/background.jpg") !important;
  height: 420px !important;
  background-position: center !important;
  .outer-wrapper {
    padding: 231px 0 0 !important;
    opacity: 0.7 !important;
  }
  .title {
    text-align: center;
  }
}

header.global {
  border-bottom: none !important;
  // height: 93px !important;
  background: white !important;

  h1.logo {
     margin: -10px 39px 0 0 !important;
  }

  .user>.primary:last-child>a.shopping-cart {
    margin-right: 0 !important;
  }

  //.course-header {
  //  color: #9250f0;
  //  text-shadow: none !important;
  //}
// button "register"
  .nav-global {
    li {
      a {
        color: $button-color !important;
      }
      a:hover {
        color: $button-hover-color !important;
      }
    }
  }

  .user {
    background: #fff !important;
    border-radius: 3px !important;
    //margin-left: 16px;
    //margin-top: 26px;

    a.user-link {
      border-radius: 3px !important;
    }
  }
  .primary>a {
    box-shadow: none !important;
  }
  .primary>a:hover {
    border-radius: 3px !important;
  }

  // button "Sign in"
  .nav-courseware {
    li {
      .cta {
        background: $button-color !important;
        box-shadow: none !important;
      }
      .cta:hover {
        background: $button-hover-color !important;
        border: none !important;
        box-shadow: none !important;
      }
    }
  }

  .nav {
    padding: 24px 10px 0 !important;
  }
}
//.wrapper-footer-before {
//  background-color: $footer-background-color !important;
//  top: -15px;
//  left: 50%;
//  position: absolute;
//  padding: 5px 20px;
//  text-align: center;
//  transform: translate(-50%, 0);
//}

.wrapper-bold {
  font-weight: 600;
  color: white;
  letter-spacing: 0.3em;
  font-size: 1.2em;
}
.wrapper-italic {
  font-style: italic;
  color: white;
  margin: 0 6px;
}


.wrapper-footer {
  background: $footer-background-color !important;
  margin-top: 0 !important;
  position: relative !important;

  footer#footer-openedx {
    a {
      color: $button-color !important;
    }
    a:hover {
      border-bottom: $button-hover-color !important;
    }

    // buttons footer
    .colophon {
      .nav-colophon {
        li {
          margin-right: 25px !important;
          a {
            color: #fff !important;
          }
          a:hover {
            color: #FFCB0C !important;
          }
        }
        //li:after {
        //  content: "|";
        //  color: #888888;
        //  padding-left: 10px !important;
        //}
        //li:last-child:after {
        //  display: none;
        //}
      }
      width: initial !important;
    }
    .references {
      width: initial !important;
      float: right !important;
    }
  }
}

.content-wrapper {
  background: $background-color !important;
}

.wrapper-footer-ucdc {
  font-family: Helvetica, Arial, sans-serif;
  background: $background-color !important;
  margin-top: 0 !important;
  position: relative !important;

  footer#footer-ucdc {
    webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 0;
    color: #a9a9a9;

    p {
      line-height: 1.3em;
      font-size: 14px;
    }

    p+p {
      margin-top: 1px !important;
    }
  }
}

html {
  background: none !important;
}

.login-register {
  background: $background-color !important;
  .form-type {
    padding-bottom: 10px !important;
  }
  .action-primary {
    background: $button-color !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  .action-primary:hover {
    background: $button-hover-color !important;
  }
  .nav-btn {
    border: 1px solid $button-color !important;
    color: $button-color !important;
  }
  .nav-btn:hover {
    background: $button-hover-color !important;
    box-shadow: none !important;
    border: 1px solid $button-hover-color !important;
    color: $button-color !important;
  }
  .form-field {
    .field-link {
      color: #888888 !important;
    }
    .field-link:hover {
      color: $button-hover-color !important;
    }
  }
  .section-title.lines {
    .text {
      background: $background-color !important;
    }
  }
}

.course-info {
  header.course-profile {
    padding-top: 50px !important;
    height: initial !important;

    .intro-inner-wrapper {
      margin-bottom: 20px !important;
      .intro {
        .main-cta {
          a.register, strong {
            background-color: $button-color !important;
            background-image: none !important;
            border: 1px solid $button-color !important;
            box-shadow: none !important;
            text-shadow: none !important;
          }
        }
      }
    }
  }
  .course-sidebar {
    .important-dates {
      li {
        .important-dates-item-title {
          margin-top: 12px !important;
        }
        .important-dates-item-text {
          margin-top: 12px !important;
        }
      }
    }
  }
  //.course-date {
  //  color: grey !important;
  //}
}

header.global.slim {
  h1.logo {
    margin: -5px 10px 0 0 !important;
    img {
      height: 51px !important;
    }
  }

  h1.logo:before {
    margin-top: 7px !important;
  }

  //h2 {
  //  max-width: 65%;
  //  width: initial !important;
  //  margin-top: 30px !important;
  //}
}

.filter_button {
  height: 23px;
  margin: -1px 0;
  padding: 0 10px !important;
  font-size: 13px !important;
}

.filter-form {
  position: absolute;
  display: inline-block;
  margin: 12px;
}

.courses-container {
  //background-color: #fff !important;
  .courses {
    background: $background-color !important;
    .course {
      z-index: 0 !important;
      border-bottom: 1px solid #888888 !important;
    }
  }
}

.contact-form {
  text-align: right;
  margin-right: 33%;
  input, textarea {
    margin: 10px;
  }
}

.fa {
  line-height: 1.9em !important;
}

.find-courses {
  background-color: $background-color !important;
}

.raccoon-block {
  width: initial;
  display: inline-block;
  position: absolute;
  margin-top: 40px;
}

.raccoongang {
  font-size: 12px;
  color: $button-color;
  span {
    float: left;
  }
}

.raccoongang img {
  height: 16px;
  vertical-align: baseline;

  &__edx {
    height: 17px;
    vertical-align: baseline;
  }
}

.dashboard {
  .my-courses {
    .course {
      .details {
        .enter-course {
          color: #fff !important;
          border-color: $button-color !important;
          background-color: $button-color !important;
        }
        .enter-course:hover {
          background-color: $button-hover-color !important;
        }
        .enter-course:focus {
          background-color: $button-color !important;
        }
      }
      .course-title {
        a:hover {
          color: #767676 !important;
        }
      }
    }
    .listing-courses {
      .course-item {
        border-bottom: 4px solid $button-color !important;
      }
    }
    .wrapper-header-courses {
      border-bottom: 4px solid $button-color !important;
    }
  }
}

.discussion-module {
  .new-post-btn {
    background-image: -webkit-linear-gradient(top, $button-color,$button-color ) !important;
    background-image: linear-gradient(to bottom,$button-color,$button-color ) !important;
    border: 1px solid $button-color !important;
    box-shadow: none !important;
  }
}

.openassessment {
  .openassessment__steps__step {
    .step__actions {
      .action--submit {
        background: $button-color !important;
        border: 1px solid $button-color !important;
      }
    }
  }
  .ui-toggle-visibility {
    .ui-toggle-visibility__control {
      .step__label {
        color: $button-color !important;
      }
    }
  }
}

.home {
  .title {
    background: #fbfbfb !important;
    margin-left: 0 !important;
    margin: 0 auto !important;
    float: none !important;
    width: 98.15254% !important;
    text-align: center;

    hgroup {
      text-align: center !important;

      h1 {
        text-align: center !important;
        font-size: 2.7em !important;
        color: black !important;
      }
    }
  }
}

input[type="button"] {
  color: #fff !important;
  text-shadow: none !important;
}

.modal {
  .inner-wrapper {
    form {
      .submit {
        input[type="submit"] {
          background-color: $button-color !important;
          background-image: none !important;
          border: 1px solid $button-color !important;
          box-shadow: none !important;
          font-weight: normal !important;
        }
      }
    }
  }
}

.instructor-dashboard-wrapper-2 {
  section.idash-section#membership {
    .member-lists-management {
      .auth-list-container {
        .member-list-widget {
          input[type="button"].add {
            background-color: $button-color !important;
            background-image: none !important;
            border: 1px solid $button-color !important;
            box-shadow: none !important;
            font-weight: normal !important;
          }
        }
      }
    }
  }
  section.idash-section#cohort_management {
    .cohort-management {
      .message .action-create {
        background-color: $button-color !important;
        background-image: none !important;
      }
    }
  }
}

.instructor-dashboard-content-2 {
  .instructor-nav {
    .nav-item {
      a:hover {
        color: $button-hover-color !important;
      }
    }
  }
}

body.discussion {
  .course-tabs {
    .right {
      .new-post-btn {
        background-color: $button-color !important;
        background-image: none !important;
        border: 1px solid $button-color !important;
        box-shadow: none !important;
        text-shadow: none !important;
        color: #fff !important;
        font-weight: normal !important;
      }
    }
  }
}

input[type="button"], .btn.btn-primary, input[type="submit"], .add-article-btn, button[type="submit"] {
  background-color: $button-color !important;
  background-image: none !important;
  border: 1px solid $button-color !important;
  box-shadow: none !important;
  text-shadow: none !important;
  color: #fff !important;
  font-weight: normal !important;
}

.wrapper-msg.wrapper-auto-cert {
  .auto-cert-message {
    .has-actions {
      .msg-actions {
        .btn {
            background-color: $button-color !important;
            background-image: none !important;
            border: 1px solid $button-color !important;
            box-shadow: none !important;
            text-shadow: none !important;
            color: #fff !important;
            font-weight: normal !important;
        }
      }
    }
  }
}

.wrapper-msg.wrapper-auto-cert {
  .auto-cert-message {
    border-left: 3px solid $button-color !important;
  }
}

.mce-widget {
  .mce-btn {
    .mce-menubtn {
      .mce-fixed-width {
        .mce-listbox {
          .mce-first {
            .mce-last {
              background-color: #f0f0f0 !important;
              background-image: none !important;
              border: 1px solid #f0f0f0 !important;
            }
          }
        }
      }
    }
  }
}

.instructor-dashboard-wrapper-2 {
  section.idash-section#cohort_management {
    .cohort-management-nav {
      .action-create {
        background-color: $button-color !important;
        background-image: none !important;
        border: 1px solid $button-color !important;
        box-shadow: none !important;
        text-shadow: none !important;
        color: #fff !important;
        font-weight: normal !important;
      }
    }
  }
}

.instructor-dashboard-wrapper-2 {
  section.idash-section#certificates {
    .btn-blue {
      background-color: $button-color !important;
      background-image: none !important;
      border: 1px solid $button-color !important;
      box-shadow: none !important;
      text-shadow: none !important;
      color: #fff !important;
      font-weight: normal !important;
    }
  }
}

.customBrowseBtn {
  .file-browse {
    span.browse {
      background-color: $button-color !important;
      background-image: none !important;
      border: 1px solid $button-color !important;
      box-shadow: none !important;
      text-shadow: none !important;
      color: #fff !important;
      font-weight: normal !important;
      margin-right: 0 !important;
    }
  }
}

.dashboard {
  .profile-sidebar {
    border-top: 3px solid $button-color !important;
  }
}

.dashboard {
  .my-courses {
    .course {
      .wrapper-messages-primary {
        .message.message-status.course-status-certavailable {
          .actions-primary {
            .action-certificate {
              .btn {
                background-color: $button-color !important;
                background-image: none !important;
                border: 1px solid $button-color !important;
                box-shadow: none !important;
                text-shadow: none !important;
                color: #fff !important;
                font-weight: normal !important;
              }
            }  
          }
        }
      }
    }
  }
}

.instructor-dashboard-wrapper-2 {
  section.idash-section#cohort_management {
    .form-submit {
      background-color: $button-color !important;
      background-image: none !important;
      border: 1px solid $button-color !important;
      box-shadow: none !important;
      text-shadow: none !important;
      color: #fff !important;
      font-weight: normal !important;
    }
  }
}

.container {
  .discussion-body {
    .discussion-submit-post {
      background-color: $button-color !important;
      background-image: none !important;
      border: 1px solid $button-color !important;
      box-shadow: none !important;
      text-shadow: none !important;
      color: #fff !important;
      font-weight: normal !important;
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  color: $button-color !important;
}
