/****************************************************************************************************
*   Stanford Theming File
*
*   Contains all the theme color definitions for the Stanford Open Source MOOC Project
*
****************************************************************************************************/

//-----------------
//  Color variables (from Stanford palette unless noted)
//-----------------

//Main Color Variables
$main-color: #B72667;
$dark-color: #00A1DB; //Link Color
$light-color: #f4e00c; //Selected Header BG Color, ie. calendar        ***Custom, not from palette***
$bg-color: #f7fe81; //Selected Content BG Color, ie. calendar          ***Custom, not from palette***

//Main BG Color Variables
$main-bg: #fff;
$main-bg-60: lighten($main-bg, 18.5%); //Main Border/HR Color
$main-bg-25: lighten($main-bg, 25%); 

//Secondary Color Variables
$secondary: #aaa;
$secondary-50: lighten($secondary, 9%);
$secondary-25: lighten($secondary, 20%); //Important Heading BG Color 

//Gray Color Variables
$gray: #3f3f3f; //Main Text Color
$gray-75: lighten($gray, 18.25%); //Lighter Text Color

$gray-3: #e9e9e9; //Block/Course BG Color
$gray-2: #f2f2f2;
$gray-1: #fbfbfb; //Main BG Color
$white: $gray-1;

$black: #2e2e2e;
$black-80: #585858;



//-----------------
//  Font Assignment
//-----------------

$theme-sans-font: 'Source Sans';
$sans-serif: $theme-sans-font, $sans-serif;
$body-font-family: $sans-serif;

$theme-serif-font: 'Crimson Text';
$serif: $theme-serif-font, $serif;




//-----------------
//  Theme Element Assignments
//-----------------

$body-bg: #fff;
$container-bg: $gray-1;
$login-register-bg: $gray-1;
$content-wrapper-bg: #fff;
$header-image: none;
$header-bg: transparentize(#fff, .25);
$courseware-header-image: none;
$courseware-header-bg: transparentize(lighten($secondary, 18.5%), .25);
$footer-bg: #0093D0;
$courseware-footer-border: 1px solid $main-bg-60;
$courseware-footer-shadow: box-shadow(2px 1px 0 rgba(0, 0, 0, .1));
$courseware-footer-margin: 50px;

$faded-hr-image-1: linear-gradient($main-bg-60 0%, $main-bg-60);
$faded-hr-image-2: linear-gradient($main-bg-60 0%, $main-bg-60);
$faded-hr-image-3: linear-gradient($main-bg-60 0%, $main-bg-60);
$faded-hr-image-4: linear-gradient($main-bg-60 0%, $main-bg-60);
$faded-hr-image-5: linear-gradient($main-bg-60 0%, $main-bg-60);
$faded-hr-image-6: linear-gradient($main-bg-60 0%, $main-bg-60);

$base-font-color: $black;
$lighter-base-font-color: $black-80;
$very-light-text: $gray-1;

$link-color: $dark-color;
$link-color-d1: $dark-color;
$link-hover: $light-color;
$site-status-color: $bg-color;

$header-graphic-super-color: $dark-color;
$header-graphic-sub-color: $lighter-base-font-color;

$header-link-color: $dark-color;
$header-link-hover: $light-color;

$button-color: $main-color;
$button-archive-color: $gray-3;

$shadow-color: $gray;

// actions
$button-bg-image: none;
$button-bg-color: $gray-3;
$button-bg-hover-color: #E62F81;

// actions - primary
$action-primary-bg: $main-color;
$action-primary-fg: $gray-2;
$action-primary-shadow: none;

// focused - hover/active pseudo states
$action-primary-focused-bg: $dark-color;
$action-primary-focused-fg: $gray-1;

// current or active navigation item
$action-primary-active-bg: $dark-color;
$action-primary-active-fg: $gray-1;
$action-primary-active-shadow: none;
$action-primary-active-focused-fg: $gray-2;
$action-primary-active-focused-shadow: none;

// disabled
$action-primary-disabled-bg: $gray-75;
$action-prmary-disabled-fg: $gray-1;



// actions - secondary
$action-secondary-bg: $secondary;
$action-secondary-fg: $gray;
$action-secondary-shadow: none;

// focused - hover/active pseudo states
$action-secondary-focused-bg: $secondary-50;
$action-secondary-focused-fg: $gray;

// current or active navigation item
$action-secondary-active-bg: $secondary-50;
$action-secondary-active-fg: $gray;
$action-secondary-active-shadow: none;
$action-secondary-active-focused-fg: $gray-75;
$action-secondary-active-focused-shadow: none;

// disabled
$action-secondary-disabled-bg: $gray-3;
$action-secondary-disabled-fg: $gray;

//

$border-color-1: $main-bg-60;
$border-color-2: $main-bg-60;
$border-color-3: $main-bg-60;
$outer-border-color: $main-bg-60;

$sidebar-color: $gray-1;

$homepage__header--gradient__color--alpha: $secondary-25;
$homepage__header--gradient__color--bravo: $secondary-25;
$homepage__header--background: $secondary-25;
$dashboard-profile-header-image: none;
$dashboard-profile-header-color: $secondary-25;
$dashboard-profile-color: $gray-3;
$dot-color: $main-bg-60;

$course-bg-color: $gray-3;
$course-bg-image: none;
$account-content-wrapper-bg: $gray-1;

$course-profile-bg: $gray-1;
$course-header-bg: transparentize($gray-1, .1);

$sidebar-chapter-bg-top: transparentize($gray-1, .3);
$sidebar-chapter-bg-bottom: transparentize($gray-1, .9);
$sidebar-chapter-bg: $gray-2;
$sidebar-active-image: $gray-3;

$form-bg-color: $gray-1;
$modal-bg-color: $gray-1;

//TOP HEADER IMAGE MARGIN
$header_image_margin: -77px;

//FOOTER MARGIN
$footer_margin: ($baseline/4) 0;

//-----------------
//  CSS BG Images
//-----------------
$homepage-bg-image: url('../themes/default/images/sunrise.jpg');

$login-banner-image: none;
$register-banner-image: none;

$video-thumb-url: '../themes/default/images/edx.png';

//-----------------
//  Mixin Styles
//-----------------
@mixin login_register_h1_style {
    clip: auto !important;
    height: 50px;
    width: 550px;
    top: 0;
}

@mixin footer_references_style {
    margin: 0 !important;
    text-align: right;
}


//-----------------
// Override CSS
//-----------------
html {
    background-color: #fff !important;
}

//-----------------
// Header Styling
//-----------------
header.slim {
    background: #fff !important;
    h2 {
        width: 50% !important;
    }
}

.home>header {
    height: 256px !important;
}

header.global, .home>header {
    // height: 256px;
    .outer-wrapper {
        padding: 120px 0 !important;
        .title {
            margin-left: 24%;
            margin-top: -5%;
            background: rgba(251, 251, 251, 0.6);
            width: 620px;
            text-align: center;
            h1 {
                text-align: center;
            }
            h2 {
                text-align: center;
            }
        }
    }

    .nav-wrapper {
        ol.user {
            button.dropdown {
                background: #E9E9E9;
                border-radius: 0;
                height: 32px;
            }
            button.dropdown:hover, a.user-link:hover {
                background: #E9E9E9 !important;
            }
            .dropdown-menu li>a {
                margin: 3px 0 !important;
                padding: 0 !important;
            }
        }
    }
}

//-----------------
// Footer Styling
//-----------------
.wrapper-footer {
    background: $footer-bg;
    box-shadow: none !important;
    
    footer {
        max-width: 1180px;
        margin: 0 auto;

        .colophon {
            width: 80%;
            float: left;
            margin-bottom: -35px;

            .nav-colophon li {
                display: inline-block;
                height: 35px;
                float: left;
                margin: 0 20px 20px 0;
                a {
                    color: #fff;
                }
            }
        }
        img.footer-logo {
            float: right;
            margin-top: -80px;
            height: 100px;
        }

        .references {
            width: 50%;
            float: left;
            text-align: left;
            color: #000;
            font-size: 0.7em;
            a {
                color: #000;
            }
            span {
                a:last-child {
                    img {
                        height: 32px;
                    }
                }
                a {
                    img {
                        margin-top: -11px;
                    }
                }
            }
        }
    }

    .copyright {
        clear: both;
    }
}

//-----------------
// TOS Styling
//-----------------
section.tos {
    box-sizing: border-box;
    padding: 0 50px;

    .print {
        margin: 50px 0;
    }
}

header.global .nav-courseware li .cta, 
header.global .nav-courseware div .cta,
.login .form-actions button[type="submit"],
.register .form-actions button[type="submit"],
.passwordreset .form-actions button[type="submit"],
#forgot-password-modal #password-reset .form-actions button[type="submit"], 
.view-survey .action-primary,
button.login-button,
button.register-button,
.blue,
//[role="button"],
button[type="submit"],
div[name="payment"] form button {
    background: $button-color !important;
}

.blue,
//[role="button"],
button[type="submit"],
div[name="payment"] form button {
    box-shadow: 0 1px 0 0 $button-color inset!important;
    border: 1px solid #000 !important;
}

button.form-toggle {
    border-color: $button-color !important;
}

header.global .nav-courseware li .cta:hover, 
header.global .nav-courseware div .cta:hover, 
.login .form-actions button[type="submit"]:hover, 
.register .form-actions button[type="submit"]:hover, 
.passwordreset .form-actions button[type="submit"]:hover, 
#forgot-password-modal #password-reset .form-actions button[type="submit"]:hover, 
.view-survey .action-primary:hover,  
button.login-button:hover,
button.register-button:hover,
button.form-toggle:hover,
.blue:hover,
//[role="button"]:hover,
button[type="submit"]:hover,
div[name="payment"] form button:hover {
    background: $button-bg-hover-color !important;
}

img.header-logo {
    margin-top: -15px;
}

.content-wrapper {
    padding-bottom: 9px;
    section.course-info {
        margin-top: 0px;
    }
}

.find-courses, .university-profile {
    background: #fff !important;
}

body {
    background: $body-bg !important;
}

