$gray: #767676;

.home>header {
  // background-image: url("/static/themes/default/images/Dean-Bragonier.png") !important;
  height: 520px !important;
  background-position: center !important;
  .outer-wrapper {
    padding: 380px 0 0 !important;
    opacity: 0.7 !important;
  }
  .title {
    text-align: center;
  }
}

header.global {
  background: #ecebe3 !important;

  h1.logo {
    margin: -5px 39px 0 0 !important;
  }

  .user>.primary:last-child>a.shopping-cart {
    margin-right: 0 !important;
  }

  .course-header {
    color: $gray;
    text-shadow: none !important;
  }

  .nav-global {
    li {
      a {
        color: #888888 !important;
      }
      a:hover {
        color: #f89f1d !important;
      }
    }
  }

  .user {
    background: #fff !important;
    border-radius: 3px !important;
    margin-left: 16px;

    a.user-link {
      border-radius: 3px !important;
    }

    //.dropdown {
    //  padding: 4px 10px !important;
    //}
  }
  .primary>a {
    box-shadow: none !important;
  }
  .primary>a:hover {
    border-radius: 3px !important;
  }

  .nav-courseware {
    li {
      .cta {
        background: #777666 !important;
      }
      .cta:hover {
        background: #f89f1d !important;
        border: none !important;
        box-shadow: 0 2px 1px 0 #f89f1d !important;
      }
    }
  }
}


.wrapper-footer {
  background: #ecebe3 !important;
  margin-top: 0 !important;

  footer#footer-openedx {
    a {
      color: #888888 !important;
    }
    a:hover {
      border-bottom: #888888 !important;
    }
    .colophon {
      .nav-colophon {
        li {
          a {
            color: #888888 !important;
          }
          a:hover {
            color: #ff6600 !important;
          }
        }
      }
      width: inherit !important;
    }
    .references {
      width: inherit !important;
      float: right !important;
    }
  }
}

.login-register {
  .form-type {
    padding-bottom: 10px !important;
  }
}

.course-info {
  header.course-profile {
    padding-top: 50px !important;
    height: initial !important;

    .intro-inner-wrapper {
      margin-bottom: 20px !important;
    }
  }
}

header.global.slim {
  h1.logo {
    img {
      // margin-top: 4px;
      height: 50px !important;
    }
  }

  h1.logo:before {
    height: 55px !important;
  }

  h2 {
    max-width: 65%;
    width: initial !important;
  }
}

.filter_button {
  height: 23px;
  margin: -1px 0;
  padding: 0 10px !important;
  font-size: 13px !important;
}

.filter-form {
  position: absolute;
  display: inline-block;
  margin: 12px;
}

.courses-container {
  .courses {
    .course {
      z-index: 0 !important;
    }
  }
}

.contact-form {
  text-align: right;
  margin-right: 33%;
  input, textarea {
    margin: 10px;
  }
}

.fa {
  line-height: 1.9em !important;
}
