//$gray: #767676;
//$sans-serif: 'Arial', 'helvetica', 'Geneva'; // 'Open Sans', $verdana, sans-serif !default;
//$monospace: 'Arial', 'helvetica', 'Geneva';// Monaco, 'Bitstream Vera Sans Mono', 'Lucida Console', monospace !default;
//$body-font-family: $sans-serif !default;
//$serif: 'Arial', 'helvetica', 'Geneva'; // $georgia !default;


.home>header {
  background-color: #CFD4CD !important;
  background-image: url("/static/themes/default/images/Background_z.jpg") !important;
  height: 488px !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  .outer-wrapper {
    padding: 230px 0 0 !important;
    opacity: 0.7 !important;
  }
  .title>hgroup {
    h2 {
      text-transform: inherit !important;
    }
  }
}

header.global {
  background: #efe8ea !important;

  .user>.primary:last-child>a.shopping-cart {
    margin-right: 0 !important;
  }

  .course-header {
    color: $gray;
    text-shadow: none !important;
  }

  .nav-global {
    li {
      a {
        color: #a8a6a7 !important;
      }
    }
  }

  .user {
    background: #fff !important;
    border-radius: 3px !important;
    margin-left: 16px;

    a.user-link {
      border-radius: 3px !important;
    }
  }
  .primary>a {
    box-shadow: none !important;
  }
  .primary>a:hover {
    border-radius: 3px !important;
  }

  .nav-courseware {
    li {
      .cta {
        background: #f87564 !important;
        box-shadow: none !important;
        //border-radius: 4px !important;
        color: #fff !important;
        // border: 1px solid #363636 !important;
      }
      .cta:hover {
        background: rgba(255, 142, 125, 0.97) !important;
        color: #fff !important;
      }
    }
  }
  h1.logo {
    margin: -7px 39px 0 0 !important;
  }
}


.wrapper-footer {
  background: #f87564 !important;
  padding-bottom: 37px !important;

  footer#footer-openedx {
    a {
      color: #f7f7f7 !important;
    }
    a:hover {
      border-bottom: #f7f7f7 !important;
    }
    a:focus {
      border: none !important;
      outline: none !important;
    }
    .colophon {
      .nav-colophon {
        font-size: 14px !important;
        li {
          a {
            color: #f7f7f7 !important;
          }
          a:hover {
            color: #f7f7f7 !important;
          }
        }
      }
    width: initial !important;
    }
    .references {
      width: initial !important;
      float: right !important;
      margin: 10px 0 0 0 !important;
    }
  }
}

.login-register {
  .form-type {
    padding-bottom: 10px !important;
  }
}

.course-info {
  header.course-profile {
    padding-top: 50px !important;
    height: initial !important;

    .intro-inner-wrapper {
      margin-bottom: 20px !important;
    }
  }
}

header.global.slim {
  h1.logo {
    img {
      margin-top: -5px;
    }
  }
  h1.logo:before {
    top: 7px !important;
  }

  h2 {
    max-width: 65%;
    width: initial !important;
  }
}

.filter_button {
  height: 23px;
  margin: -1px 0;
  padding: 0 10px !important;
  font-size: 13px !important;
}

.filter-form {
  position: absolute;
  display: inline-block;
  margin: 12px;
}

.courses-container {
  .courses {
    .course {
      z-index: 0 !important;
    }
  }
}

.fa {
  line-height: 1.9em !important;
}

.raccoon-block {
  width: initial;
  display: inline-block;
  position: absolute;
  margin-top: 30px;
}

.raccoongang {
  font-size: 10px;
  color: #fff;
  span {
    float: left;
  }
  img {
    height: 27px;
    }
}

.raccoongang-openedx {
  font-size: 10px;
  color: #fff;
  span {
    float: left;
  }
  img {
    //height: 55px;
    margin-top: -12px;
    }
}

.find-courses {
  background: #fff !important;
}

body {
  background: #fff !important;
}

.home {
  .title {
    background: #fbfbfb !important;
    margin-left: 0 !important;
    margin: 0 auto !important;
    float: none !important;
    width: 98.15254% !important;
    text-align: center;

    hgroup {
      text-align: center !important;

      h1 {
        text-align: center !important;
        font-size: 2.7em !important;
      }
    }
  }
}

.custom-action {
  background: #f87564 !important;
  box-shadow: 0 2px 1px 0 #bf5648 !important;

}

.custom-list li {
  margin-bottom: 5px;
}
