//$gray: #767676;
//$sans-serif: 'Arial', 'helvetica', 'Geneva'; // 'Open Sans', $verdana, sans-serif !default;
//$monospace: 'Arial', 'helvetica', 'Geneva';// Monaco, 'Bitstream Vera Sans Mono', 'Lucida Console', monospace !default;
//$body-font-family: $sans-serif !default;
//$serif: 'Arial', 'helvetica', 'Geneva'; // $georgia !default;


.title>hgroup {
    h2 {
      text-transform: inherit !important;
    }
  }

header.global {
  background: #fff !important;

  .user>.primary:last-child>a.shopping-cart {
    margin-right: 0 !important;
  }

  .course-header {
    color: $gray;
    text-shadow: none !important;
  }

  .nav-global {
    li {
      a {
        color: #a8a6a7 !important;
      }
    }
  }

  .user {
    background: #fff !important;
    border-radius: 3px !important;
    margin-left: 16px;

    a.user-link {
      border-radius: 3px !important;
    }
  }
  .primary>a {
    box-shadow: none !important;
  }
  .primary>a:hover {
    border-radius: 3px !important;
  }

  .nav-courseware {
    li {
      .cta {
        background: #f87564 !important;
        box-shadow: none !important;
        //border-radius: 4px !important;
        color: #fff !important;
        // border: 1px solid #363636 !important;
      }
      .cta:hover {
        background: rgba(255, 142, 125, 0.97) !important;
        color: #fff !important;
      }
    }
  }
  h1.logo {
    margin: -7px 39px 0 0 !important;
  }
}


.wrapper-footer {
/*  background: #f87564 !important;
  padding-bottom: 37px !important;*/

  footer#footer-openedx {
    a {
      color: #f7f7f7 !important;
    }
    a:hover {
      border-bottom: #f7f7f7 !important;
    }
    a:focus {
      border: none !important;
      outline: none !important;
    }
    .colophon {
      .nav-colophon {
        font-size: 14px !important;
        font-weight: 600 !important;
        li {
          margin-right: 15px !important;
          a {
            color: #353535 !important;
          }
          a:hover {
            color: #e13a3a !important;
          }
        }
      }
    width: initial !important;
    }
    .references {
      width: 140px !important;
      height: 35px !important;
      @if $bi-app-direction == rtl {
        float: left !important;
      } @else {
        float: right !important;
      }
      margin: 10px 0 0 0 !important;
    }
  }
}

.login-register {
  .form-type {
    padding-bottom: 10px !important;
  }
}

.course-info {
  header.course-profile {
    padding-top: 50px !important;
    height: initial !important;

    .intro-inner-wrapper {
      margin-bottom: 20px !important;
    }
  }
}

header.global.slim {
  h1.logo {
    img {
      margin-top: -5px;
    }
  }
  h1.logo:before {
    top: 7px !important;
  }

  h2 {
    max-width: 65%;
    width: initial !important;
  }
}

.filter_button {
  height: 23px;
  margin: -1px 0;
  padding: 0 10px !important;
  font-size: 13px !important;
}

.filter-form {
  position: absolute;
  display: inline-block;
  margin: 12px;
}

.courses-container {
  .courses {
    .course {
      z-index: 0 !important;
    }
  }
}

.fa {
  line-height: 1.9em !important;
}

.raccoon-block {
  width: initial;
  display: inline-block;
  position: absolute;
  margin-top: 30px;
}

.raccoongang {
  font-weight: 600 !important;
  font-size: 10px;
  color: #fff;
  span {
    float: left;
  }
  img {
    height: 27px;
    float: right;
    margin-top: 10px;
  }
}

.raccoongang-openedx {
  font-weight: 600 !important;
  font-size: 10px;
  color: #fff;
  span {
    float: left;
  }
  img {
    //height: 55px;
    margin-top: -12px;
    }
}

.find-courses {
  background: #fff !important;
}

body {
  background: #fff !important;
}

.home {
  .title {
    background: #fbfbfb !important;
    margin-left: 0 !important;
    margin: 0 auto !important;
    float: none !important;
    width: 98.15254% !important;
    text-align: center;

    hgroup {
      text-align: center !important;

      h1 {
        text-align: center !important;
        font-size: 2.7em !important;
      }
    }
  }
}

.custom-action {
  background: #f87564 !important;
  box-shadow: 0 2px 1px 0 #bf5648 !important;

}

.custom-list li {
  margin-bottom: 5px;
}

input, textarea, select {
  border: 1px solid #dedede !important;
}

input:focus, textarea:focus {
  outline: 1px solid #c8c8c8 !important;
  border: none !important;
  box-shadow: none !important;
}

select:focus {
  outline: none !important;
}

.cta-register {
  margin-right: 30px;
}


/*HEADER*/

.home>header {
  background-color: #fff !important;
  background-image: url("/static/themes/eeca/images/header_background.jpg") !important;
  height: 488px !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  .outer-wrapper {
    padding: 230px 0 0 !important;
    opacity: 0.7 !important;
}
}

header.global .nav-global li a {
    color: #00495e !important;
}

header.global .nav-global li a:hover {
    color: #55a7dd !important;
}

header.global .nav-courseware li .cta {
    background: #00495e !important;
    box-shadow: none !important;
    color: #fff !important;
    font-weight: 600 !important;
    font-size: 0.875em !important;
}

header.global .nav-courseware li .cta:hover {
    background: #55a7dd !important;
    box-shadow: none !important;
    color: #fff !important;
}

h1.logo a img{
    width: 165.4px !important;
    height: 41.3px !important;
}


/*FOOTER*/

.wrapper-footer {
  background: #fff !important;
  padding-bottom: 37px !important;
}


/*RELATIVE PAGES BUTTONS*/
$button-color: #00495e;
$button-hover-color: #55a7dd;

.login-register .nav-btn {
  box-shadow: none !important;
  border: 1px solid #00495e !important;
  padding: 10px 20px !important;
  background: transparent !important;
  color: #00495e !important;
}

.login-register .nav-btn:hover {
  box-shadow: none !important;
  border: 1px solid #55a7dd !important;
  padding: 10px 20px !important;
  background: #55a7dd !important;
  color: #fff !important;
}

.login-register .action-primary:hover {
  box-shadow: none !important;
  border: 1px solid #55a7dd !important;
  background: #55a7dd !important;
  color: #fff !important;
}

.login-register .form-field label a {
  color: #55a7dd !important;
}

.login-register .form-field .field-link {
  color: #55a7dd !important;
}

input[type="button"] {
  color: #fff !important;
  text-shadow: none !important;
}
.modal {
  .inner-wrapper {
    form {
      .submit {
        input[type="submit"] {
          background-color: $button-color !important;
          background-image: none !important;
          border: 1px solid $button-color !important;
          box-shadow: none !important;
          font-weight: normal !important;
        }
      }
    }
  }
}
.instructor-dashboard-wrapper-2 {
  section.idash-section#membership {
    .member-lists-management {
      .auth-list-container {
        .member-list-widget {
          input[type="button"].add {
            background-color: $button-color !important;
            background-image: none !important;
            border: 1px solid $button-color !important;
            box-shadow: none !important;
            font-weight: normal !important;
          }
        }
      }
    }
  }
  section.idash-section#cohort_management {
    .cohort-management {
      .message .action-create {
        background-color: $button-color !important;
        background-image: none !important;
      }
    }
  }
}
.instructor-dashboard-content-2 {
  .instructor-nav {
    .nav-item {
      a:hover {
        color: $button-hover-color !important;
      }
    }
  }
}
body.discussion {
  .course-tabs {
    .right {
      .new-post-btn {
        background-color: $button-color !important;
        background-image: none !important;
        border: 1px solid $button-color !important;
        box-shadow: none !important;
        text-shadow: none !important;
        color: #fff !important;
        font-weight: normal !important;
      }
    }
  }
}
input[type="button"], .btn.btn-primary, input[type="submit"], .add-article-btn, button[type="submit"] {
  background-color: $button-color !important;
  background-image: none !important;
  border: 1px solid $button-color !important;
  box-shadow: none !important;
  text-shadow: none !important;
  color: #fff !important;
  font-weight: normal !important;
}
.wrapper-msg.wrapper-auto-cert {
  .auto-cert-message {
    .has-actions {
      .msg-actions {
        .btn {
            background-color: $button-color !important;
            background-image: none !important;
            border: 1px solid $button-color !important;
            box-shadow: none !important;
            text-shadow: none !important;
            color: #fff !important;
            font-weight: normal !important;
        }
      }
    }
  }
}
.wrapper-msg.wrapper-auto-cert {
  .auto-cert-message {
    border-left: 3px solid $button-color !important;
  }
}
.mce-widget {
  .mce-btn {
    .mce-menubtn {
      .mce-fixed-width {
        .mce-listbox {
          .mce-first {
            .mce-last {
              background-color: #f0f0f0 !important;
              background-image: none !important;
              border: 1px solid #f0f0f0 !important;
            }
          }
        }
      }
    }
  }
}
.instructor-dashboard-wrapper-2 {
  section.idash-section#cohort_management {
    .cohort-management-nav {
      .action-create {
        background-color: $button-color !important;
        background-image: none !important;
        border: 1px solid $button-color !important;
        box-shadow: none !important;
        text-shadow: none !important;
        color: #fff !important;
        font-weight: normal !important;
      }
    }
  }
}
.instructor-dashboard-wrapper-2 {
  section.idash-section#certificates {
    .btn-blue {
      background-color: $button-color !important;
      background-image: none !important;
      border: 1px solid $button-color !important;
      box-shadow: none !important;
      text-shadow: none !important;
      color: #fff !important;
      font-weight: normal !important;
    }
  }
}
.customBrowseBtn {
  .file-browse {
    span.browse {
      background-color: $button-color !important;
      background-image: none !important;
      border: 1px solid $button-color !important;
      box-shadow: none !important;
      text-shadow: none !important;
      color: #fff !important;
      font-weight: normal !important;
      margin-right: 0 !important;
    }
  }
}
.dashboard {
  .profile-sidebar {
    border-top: 3px solid $button-color !important;
  }
}
.dashboard {
  .my-courses {
    .course {
      .wrapper-messages-primary {
        .message.message-status.course-status-certavailable {
          .actions-primary {
            .action-certificate {
              .btn {
                background-color: $button-color !important;
                background-image: none !important;
                border: 1px solid $button-color !important;
                box-shadow: none !important;
                text-shadow: none !important;
                color: #fff !important;
                font-weight: normal !important;
              }
            }  
          }
        }
      }
    }
  }
}
.instructor-dashboard-wrapper-2 {
  section.idash-section#cohort_management {
    .form-submit {
      background-color: $button-color !important;
      background-image: none !important;
      border: 1px solid $button-color !important;
      box-shadow: none !important;
      text-shadow: none !important;
      color: #fff !important;
      font-weight: normal !important;
    }
  }
}
.container {
  .discussion-body {
    .discussion-submit-post {
      background-color: $button-color !important;
      background-image: none !important;
      border: 1px solid $button-color !important;
      box-shadow: none !important;
      text-shadow: none !important;
      color: #fff !important;
      font-weight: normal !important;
    }
  }
}

