.main-nav {
    position: absolute;
    left: 0;
    top: 0;
    background: #fff;
    height: 100vh;
    min-width: 262px;
    margin: 0;
    transform: translate(calc(-100% - 30px), 0);
    list-style: none;
    transition: transform .2s;

    @media (min-width: $tablet-size) {
        min-width: auto;
        display: flex;
        background: none;
        height: auto;
        position: static;
        transform: translate(0, 0);
        box-shadow: none;
        margin: 0 auto 0 30px;
    }

    @media (max-width: $laptop-size) {
        margin: 0 auto 0 20px;
    }

    @media (max-width: $tablet-size) {
        margin: 0 auto;
        overflow: auto;
    }

    .menu-open & {
        transform: translate(0, 0);
        z-index: 100;
        box-shadow: 0 0 20px 10px rgba(0,0,0,0.15);
    }

    .user {
        @media (max-width: $tablet-size) {
            .item {
                border-top: 0;
            }

            .primary {
                border-bottom: 0;
            }
        }
    }
}
a.main-nav__link,
.main-nav__link {
    font-family: 'Artegra Sans', sans-serif;
    font-size: 14px;
    color: $theme-header-link-color;
    letter-spacing: 0;
    display: block;
    
    &:focus,
    &:hover {
        color: $theme-header-link-color;
    }
    @media (min-width: $tablet-size) {
        text-transform: none;
        color: $theme-header-link-color;

        &:focus,
        &:hover {
            color: $theme-header-link-color;
        }
    }

    .header__other &,
    .view-in-course &,
    .is-authenticated & {
        color: $theme-header-link-color;

        &:focus,
        &:hover {
            color: #000;
        }
    }
}

.main-nav__item {
    position: relative;
    padding: 16px;
    border-bottom: 1px solid #f5f5f5;
    margin-bottom: 0;

    @media (min-width: $tablet-size) {
        padding: 0;
        border-bottom: 0;
        margin-right: 16px;
    }

    @media (max-width: $tablet-size) {
        border-bottom: 0;
    }

    &:last-child {
        margin-right: 0;
    }

    &_mobile {
        display: block;

        @media (min-width: $tablet-size) {
            display: none;
        }
    }

    @media (max-width: $tablet-size) {
        padding-right: 35px;
    }
}
