body.view-in-course {
    .course-wrapper {
        max-width: $container-width !important;
        padding: 40px 0 !important;
        display: flex;
        flex-wrap: wrap;

        main {
            padding: 20px 30px;
        }

        .course-content,
        .courseware-results-wrapper {
            width: calc(100% - 310px);

            @include media-breakpoint-down(md) {
                width: 100%;
            }

            .search-results {
                .search-info {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .search-results-title {
                        margin-bottom: 0;
                    }
                }

                .search-results-item .result-type {
                    position: relative;
                    right: auto;
                    bottom: auto;

                    &:before {
                        content: "[";
                    }

                    &:after {
                        content: "]";
                    }
                }
            }

            .search-load-next {
                text-align: center;
                color: $base-color;

                &:hover {
                    background: $base-color;
                    color: $white;
                }
            }
        }
    }

    .course-license {
        padding: 15px 5px 5px;
        text-align: center;
    }
}

body {
    .content-wrapper {
        margin: 20px auto 0;

        @include media-breakpoint-down(sm) {
            padding: 0 10px 10px !important;
        }

        .course-tabs {
            padding: 10px 30px 0;
            margin: 10px auto 20px;
            max-width: $container-width;
            overflow-x: auto;

            .nav-item,
            .tab {
                margin: 10px 0;

                &.active .nav-link {
                    background-color: $black;
                    color: $white;

                    &:hover {
                        color: $white;
                    }
                }

                .nav-link,
                a {
                    font-size: 16px;
                    padding: 11px 15px;
                    border-radius: $border-radius;
                    border: 0;
                    color: $black;
                    position: relative;

                    &.active {
                        background-color: $black;
                        color: $white !important;

                        &:hover {
                            color: $white;
                        }
                    }

                    &:after {
                        content: "";
                        position: absolute;
                        bottom: -10px;
                        left: 0;
                        height: 2px;
                        width: 0;
                        background-color: $base-color;
                        transition: all 200ms ease;
                    }

                    &:hover {
                        color: $black;

                        &:after {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    .page-content-container,
    .course-content {
        background-color: $white;
        max-width: $container-width;
        margin: 0 auto;
        padding: 0 15px;
        box-sizing: border-box;
    }

    .course-outline .block-tree .section .section-name:hover,
    button.accordion-trigger:hover,
    button.prerequisite-button:hover,
    .course-outline .block-tree .section ol.outline-item .subsection .vertical a.outline-item:hover {
        background-color: #efebf8;
    }

    .course-outline .block-tree .section ol.outline-item .subsection .vertical a.outline-item {
        padding-left: 15px;
    }

    .page-header {
        padding: 0 20px 20px;
        border-bottom: none;

        .page-header-secondary {
            .btn-primary {
                font-size: 14px;
                padding: 11.5px 20px;

                @extend %button-hover-animation;
            }
        }

        .page-header-main {
            .page-title {
                font-weight: 300;
            }
        }
    }

    .wiki-wrapper section.wiki .breadcrumbs-header {
        background-color: $white !important;
    }

    .course-index {
        padding: 0 30px;
        width: 310px;
        box-sizing: border-box;

        @include media-breakpoint-down(md) {
            width: 100%;
            border: none;
        }

        .side-navigation-toggle {
            border-radius: 40px;
            height: 49px;
            width: 100%;
            background: $gray;
            color: rgba($black, .7);
            font-size: 14px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            margin-bottom: 15px;

            &.toggle-hidden {
                display: none;
            }

            @include media-breakpoint-up(lg) {
                display: none !important;
            }
        }

        .course-nav-wrapper {
            display: none;

            @include media-breakpoint-up(lg) {
                display: block !important;
            }
        }

        .wrapper-course-modes {
            padding: 0 0 17px;
            margin-bottom: 20px;
            border-bottom: 2px solid #ddd;

            > div {
                display: block;
                width: 100%;
            }

            .courseware-bookmarks-button {
                margin-bottom: 20px;

                .bookmarks-list-button {
                    border-radius: 30px;
                    border: 1px solid $gray;
                    background: $footer-bg;
                    color: $black;
                    padding: 8px 25px;
                    text-align: left;

                    &:before {
                        margin-right: 8px;
                    }

                    &:hover {
                        background: $base-color;
                        border-color: $base-color;
                        color: $white !important;
                    }

                    &:visited {
                        color: $base-color;
                    }
                }
            }

            .courseware-search-bar .search-form .search-field-wrapper {
                &:hover .search-field {
                    padding: 20px 10px;
                }

                .search-field {
                    border-radius: 0;
                    padding: 10px;
                    height: auto;
                    box-shadow: none;
                    transition: all .3s ease;

                    &:hover,
                    &:focus,
                    &:active {
                        padding: 20px 10px;
                        border-color: #c8c8c8;
                    }
                }

                .search-button,
                .cancel-button {
                    border-radius: 0;
                    right: 5px;
                    top: 50%;
                    transform: translateY(-50%);

                    &:hover {
                        background: $black;
                    }
                }
            }
        }

        .accordion .course-navigation {
            .button-chapter {
                background: none;
                box-shadow: none;
                position: relative;
                border-bottom: 1px solid $footer-bg;

                &:before {
                    content: "";
                    width: 0;
                    height: 2px;
                    background: $base-color;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    transition: all .3s ease;
                }

                &:hover:before {
                    width: 100%;
                }

                &.active:not(.is-open):after {
                    content: "";
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    background: $base-color;
                }

                .group-heading {
                    padding-left: 20px;
                    font-size: 16px;
                    font-weight: 700;
                    color: $black;

                    &.active {
                        color: rgba($black, .7);
                    }

                    .icon {
                        left: 0;
                        color: $black;
                    }
                }
            }

            .chapter-content-container {
                padding: 10px 0;

                .chapter-menu .menu-item {
                    padding: 0;
                    margin: 0;

                    a {
                        background: none !important;
                        padding: 8px 0;

                        p {
                            margin: 5px 0;
                        }

                        p.accordion-display-name {
                            font-weight: 400;
                            color: $black;
                        }

                        p.subtitle {
                            font-style: italic;
                            color: rgba($black, .7);
                        }

                        &:hover p.accordion-display-name {
                            color: $base-color;
                        }
                    }

                    &.active p.accordion-display-name {
                        color: $base-color;
                    }

                    &.graded .menu-icon {
                        position: relative;
                        color: rgba($black, .7);
                        bottom: auto;
                        right: auto;
                    }
                }
            }
        }
    }
}

#main .xmodule_display.xmodule_SequenceModule {
    .sequence-nav {
        border-bottom: 2px solid $light-gray;
        padding-bottom: 15px !important;
        height: auto !important;
        margin-bottom: 70px;

        .sequence-list-wrapper {
            @include media-breakpoint-down(md) {
                overflow-y: hidden;
            }
        }

        .sequence-nav-button {
            border: none;
            padding-top: 0;
            font-size: 14px;
            position: relative;
            height: 45px;
            overflow: visible;
            background: none;
            border-radius: 0;

            &.button-previous {
                border-right: 2px solid $light-gray;
            }

            &.button-next {
                border-left: 2px solid $light-gray;
            }

            &:before {
                @include course-btn-hover;
            }

            &:hover:before {
                width: 100%;
            }
        }

        ol {
            box-sizing: border-box;

            li {
                padding: 0 15px;
                border-right: 1px solid $light-gray;
                border-top: none;
                min-width: 80px;

                &:last-child {
                    border-right: none;
                }

                button {
                    border: none;
                    padding-top: 0;
                    overflow: visible;
                    transition: all .2s ease;
                    height: 45px;

                    &:before {
                        @include course-btn-hover;
                    }

                    &:hover {
                        background: $light-gray2;

                        &:before {
                            width: 100%;
                        }

                        .fa {
                            color: $base-color;
                        }
                    }

                    &.active {
                        background: $light-gray2;

                        &:before {
                            width: 100%;
                        }

                        .fa {
                            color: $base-color;
                        }
                    }

                    .sequence-tooltip {
                        font-size: 12px;
                    }
                }
            }
        }
    }

    .sequence-bottom {
        border-top: 2px solid $light-gray;
        max-width: 330px;
        padding: 17px 20px 0;
        justify-content: space-between;

        .sequence-nav-button {
            border: none;
            padding: 0;
            font-size: 14px;
            overflow: visible;

            &:before {
                @include course-btn-hover;
                bottom: -8px;
            }

            &:hover:before {
                width: 100%;
            }
        }
    }
}

.course-wrapper .course-content #seq_content .xblock {
    max-width: none !important;
}

#course-container .page-header .page-header-search .input-group-btn .search-button {
    color: $base-color;

    &:hover,
    &:focus {
        color: $white;
        background: $base-color;
    }
}

#expand-collapse-outline-all-button {
    font-size: 14px;
    padding: 11.5px 20px;
}

.wrapper-course-material .course-material .course-tabs .tab a {
    @media screen and (max-width: 760px) {
        padding: 18px 15px 15px;
    }
}

.course-updates .updates-article,
.section-update-message .welcome-message {
    font-size: 14px;
    line-height: 1.5;

    .page-header {
        border-bottom: 1px solid #e7e7e7;
        font-size: 14px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 700;
        margin: 20px 0;
    }

    ul,
    ol {
        margin-bottom: 10px;

        li {
            margin: 5px 0;
        }
    }
}

.course-tabs li a[href*="instructor_analytics"] {
    display: none !important;
}

.page-content .page-content-secondary.course-sidebar {
    font-size: 14px;

    h3 {
        margin: 20px 0;
    }

    ul,
    ol {
        margin-bottom: 10px;

        li {
            margin: 5px 0;
            font-size: 14px;

            a {
                &:hover,
                &:focus {
                    text-decoration: none;
                    opacity: .7;
                    color: $base-color;
                    border-bottom: 1px dotted $base-color;
                }
            }
        }
    }
}
