header.global-header {
    padding: 15.5px 0;
    box-shadow: none;

    .main-header {
        max-width: 1600px;
        margin: 0 auto;
        padding: 0 30px;
        box-sizing: border-box;

        @media screen and (max-width: $tablet-size) {
            height: auto;
        }
    }

    .header-logo {
        flex: none;

        a .logo {
            height: 60px;

            &_mobile {
                display: none;
            }

            @media screen and (max-width: 767px) {
                display: none;

                &_mobile {
                    display: block;
                }
            }
        }
    }

    .nav-links {
        @media screen and (max-width: $tablet-size) {
            display: block;
        }

        .secondary {
            width: 100%;
            justify-content: flex-end;

            > div {
                align-items: center;
            }

            @media screen and (max-width: 767px) {
                .hidden-mobile {
                    display: none !important;
                }
            }

            .nav-item {
                margin-left: 65px;

                &_user {
                    display: flex;
                    align-items: center;

                    @media screen and (max-width: $tablet-size) {
                        display: none;
                    }

                    span {
                        color: rgba($white, .6);
                        font-size: 14px;
                        padding: 9px 0;

                        &.username {
                            max-width: 150px;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            display: block;
                            margin-left: 3px;
                        }
                    }
                }

                a {
                    text-transform: none;
                    font-weight: 400;
                    position: relative;
                    padding: 9px 0;
                    line-height: 30px;
                    color: $white;

                    &:before {
                        content: "";
                        width: 0;
                        height: 2px;
                        background: $white;
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        transition: all .4s ease;
                    }

                    &:hover {
                        background: none !important;
                        color: $white !important;

                        &:before {
                            width: 100%;
                        }
                    }
                }
            }

            .site-menu-toggle {
                width: 36px;
                height: 36px;
                display: block;
                border: none;
                position: relative;
                padding: 0;
                background: none;
                box-shadow: none;
                z-index: 10001;

                .toggle-bar {
                    display: block;
                    width: 100%;
                    height: 4px;
                    background: $white;
                    border-radius: 4px;
                    position: absolute;
                    left: 0;
                    transition: all .4s ease;

                    &:first-child {
                        top: 6px;
                    }

                    &:nth-child(2) {
                        top: 50%;
                        transform: translateY(-50%);
                    }

                    &:last-child {
                        bottom: 6px;
                    }
                }

                &:hover .toggle-bar {
                    &:first-child {
                        top: 0;
                    }

                    &:last-child {
                        bottom: 0;
                    }
                }

                body.menu-is-open & {
                    .toggle-bar {
                        &:first-child {
                            top: 16px;
                            width: 30px;
                            transform: rotate(135deg);
                        }

                        &:nth-child(2) {
                            width: 0;
                        }

                        &:last-child {
                            bottom: 16px;
                            width: 30px;
                            transform: rotate(-135deg);
                        }
                    }
                }
            }

            .slide-menu {
                background: $header-bg;
                transform: translate3d(-100%, 0, 0);
                transition: all .4s ease;
                position: fixed;
                left: 0;
                top: 0;
                width: 100%;
                height: 100vh;
                overflow: auto;
                z-index: 10000;
                padding: 100px 0;
                text-align: center;
                margin: 0;
                box-sizing: border-box;

                body.menu-is-open & {
                    transform: none;

                    li {
                        transform: translate3d(0, 0, 0);
                        font-size: 14px;
                        margin: 15px 0;
                        color: $white;

                        a {
                            color: $white;
                            display: inline-block;
                            vertical-align: top;
                            padding: 14px 0;
                            position: relative;
                            border-bottom: 2px solid rgba($white, .4);

                            &:before {
                                content: "";
                                width: 0;
                                height: 2px;
                                background: $white;
                                position: absolute;
                                left: 0;
                                bottom: -2px;
                                transition: all .2s ease;
                            }

                            &:hover {
                                color: rgba($white, .6);

                                &:before {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }

                li {
                    transform: translate3d(0, 110vh, 0);

                    @for $i from 1 through 10 {
                        &:nth-child(#{$i}) {
                            transition: all (.1s * $i) / .5 ease;
                        }
                    }
                }
            }
        }
    }

    .course-header {
        display: flex;
        word-break: normal;
        color: rgba($white, .6);
        font-size: 16px;
        font-weight: 300;
        margin-left: 20px;
        flex: none;
        border-left: 1px solid rgba($black, .25);
        padding: 8px 0 8px 20px;
        max-width: 235px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        @media screen and (max-width: 1080px) {
            display: none;
        }

        span {
            display: block;
            margin-right: 10px;

            &.course-name {
                max-width: 130px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

.home > header {
    background: url("#{$static-path}/images/background.jpg") no-repeat 50% 50% / cover;
    min-height: 529px;

    .outer-wrapper {
        animation: none;
        max-width: none;
        padding: 0;
    }

    .title {
        background: none;
        transition: none;
        padding: 15px;
        box-shadow: none;

        > .heading-group {
            padding: 0;
            text-align: center;

            h2 {
                font-size: 48px;
                font-weight: 700;
                color: $white;
                margin-bottom: 20px;
            }

            p {
                font-size: 20px;
                margin: 5px 0;
                font-style: normal;
                font-weight: 300;
            }

            .index-banner-login {
                background: #b8a57a;
                font-size: 16px;
                color: $white;
                border: 2px solid $white;
                text-decoration: none;
                padding: 16.5px 30px;
                border-radius: 5px;
                display: inline-block;
                vertical-align: top;
                margin-top: 30px;

                &:hover {
                    opacity: .7;
                }
            }
        }
    }
}

body {
    nav.wrapper-preview-menu {
        background: #35215d !important;
        padding: 20px 15px !important;

        .preview-menu {
            padding: 0 15px !important;
        }
    }

    .wrapper-preview-menu {
        .preview-menu {
            max-width: 1600px;
            margin: 0 auto;
        }

        .preview-actions .action-preview .action-preview-label {
            color: $white !important;
            font-size: 14px;
        }

        select.action-preview-select {
            height: 23px !important;
            width: 242px;
            font-size: 14px !important;
        }
    }
}
