.info-page {
    .page-title-main {
        background: $base-color;
        text-align: center;
        padding: 77px 0 82px;
        color: #fff;

        .inner {
            max-width: 1600px;
            padding: 0 30px;
            margin: 0 auto;
            box-sizing: border-box;
        }

        h1 {
            font-size: 58px;
        }

        h2 {
            font-size: 48px;
        }

        h1,
        h2 {
            font-weight: 700;
            color: #fff;

            @media screen and (max-width: 991px) {
                font-size: 42px;
            }
        }
    }

    .content-wrapper {
        margin-top: 0;
        padding: 0;
    }

    .container.about {
        max-width: 1600px;
        padding: 50px 30px;
        font-size: 14px;
        line-height: 1.5;
        color: #333;

        h2 {
            margin: 40px 0 30px;
            font-weight: 300;
            font-size: 32px;
        }

        h2,
        h3,
        h4,
        h5,
        h6 {
            color: $base-color;
        }

        ul,
        ol {
            margin: 10px 0;

            li {
                margin: 5px 0;
            }
        }
    }

    &.tos-page {
        .page-title-main {
            text-align: left;
            padding: 160px 0;

            p {
                font-size: 18px;
                font-weight: 300;
            }

            .tos-link {
                background: #b8a57a;
                font-size: 16px;
                color: $white;
                border: 2px solid $white;
                text-decoration: none;
                padding: 16.5px 30px;
                border-radius: 5px;
                display: inline-block;
                vertical-align: top;
                margin-top: 30px;

                &:hover {
                    opacity: .7;
                }
            }
        }
    }
}
