.wrapper-account-settings .wrapper-header .account-nav .account-nav-link {
    color: $dark-gray;
}

.u-field-message {
    .u-field-message-help,
    .u-field-message-notification {
        color: $dark-gray;
    }
}

.view-profile {
    .content-wrapper {
        margin-top: 0 !important;
    }

    .wrapper-profile {
        max-width: 1540px;
        margin: 0 auto;
    }
}
