.content-wrapper {
    padding-top: 0;
    background: transparent;
    max-width: none;

    .container {
        border: none;
        background: transparent;
        padding-right: 0;
        padding-left: 0;
    }
}