@font-face {
    font-family: 'bahij_thesansarabicplain';
    src: url('/static/default/fonts/bahij_thesansarabic-plain-webfont.woff2') format('woff2'),
         url('/static/default/fonts/bahij_thesansarabic-plain-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'bahij_thesansarabicextrabold';
    src: url('/static/default/fonts/bahij_thesansarabic-extrabold-webfont.woff2') format('woff2'),
         url('/static/default/fonts/bahij_thesansarabic-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bahij_thesansarabicsemibold';
    src: url('/static/default/fonts/bahij_thesansarabic-semibold-webfont.woff2') format('woff2'),
         url('/static/default/fonts/bahij_thesansarabic-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}