@font-face {
    font-family: 'bahij_thesansarabicplain';
    src: url('/static/default/fonts/bahij/Bahij_TheSansArabic-Plain.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bahij_thesansarabicextrabold';
    src: url('/static/default/fonts/bahij/Bahij_TheSansArabic-ExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bahij_thesansarabicsemibold';
    src: url('/static/default/fonts/bahij/Bahij_TheSansArabic-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}