body {
    background: #fafafa url(../images/bg-body.png) no-repeat 0 100% !important;
    font-family: $font-family-sans-serif;
}
// a {
//     // color: #128f86;
//     color: #149a9a;
//     &:visited {
//         color: darken(#149a9a, 10%);
//     }
// }
.window-wrap {
    background: transparent;
}