body .theme-footer {
    background: $theme-footer-bg;
    box-shadow: 0 -1px 5px 0 rgba(0,0,0,0.1);
    border-top: 1px solid #c4c5c7;
    padding: 25px 10px 30px 10px;
    &_container {
        box-sizing: border-box;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        @media (max-width: 800px) {
            flex-direction: column;
        }
    }
    &_nav {
        display: flex;
        flex-direction: column;
        @media (max-width: 800px) {
            margin-bottom: 30px;
            align-items: center;
        }
    }
    &_col {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 5px 0 30px 0;
        padding: 0;
        list-style: none;
        a {
            color: #f7f7f7;
            font: 16px/1.2 "Arial","helvetica","Geneva", sans-serif;
            &:hover,
            &:focus {
                color: #fff;
                text-decoration: underline;
            }
        }
        li {
            margin-right: 15px;
            margin-bottom: 10px;
            position: relative;
            &:after {
                content: '\2022';
                padding: 0 0 0 15px;
                color: #fff;
            }
            &:last-child {
                &:after {
                    display: none;
                }
            }
        }
    }
    .raccoon-block a {
        font-size: 10px;
        color: $theme-footer-link;
        display: inline-block;
        vertical-align: bottom;
        &:hover,
        &:focus {
            text-decoration: none;
        }
        img {
            opacity: 0.5;
            display: inline-block;
            vertical-align: baseline;
        }
    }
}