.theme-footer {
    background: #fff;
    box-shadow: 0 -1px 5px 0 rgba(0,0,0,0.1);
    position: relative;

    &_holder {
        max-width: $base-width;
        margin: 0 auto;
    }
    &_row {
        box-sizing: border-box;
        display: flex;
        align-items: center;
        padding: 37px 0 21px;
        border-bottom: 1px solid #f2f2f2;
    }
    &_heading {
        font-size: 18px;
        margin: 0 0 0 auto;

        &:last-child {
            margin: 0 39px 0 295px;
        }
    }
    &_wrapper {
        display: flex;
        align-items: flex-start;
        position: relative;
    }
    &_power-link {
        position: absolute;
        width: 122px;
        height: 29px;
        right: 0;
        bottom: 0;
        background: url("../images/logo-evensis.png") no-repeat;
        text-indent: -9999px;
        font-size: 0;
        line-height: 0;
        right: -10px;
        bottom: 20px;
    }
}


a.theme-nav_link:hover,
a.theme-nav_link:focus,
a.theme-nav_link:visited, {
color: #424141;
text-decoration: none;
transition: all 0.1s linear 0s;
}
