%btn-style {
    background: #f67f45 !important;
    border: 2px solid #f67f45 !important;
    box-shadow: none !important;
    text-shadow: none !important;
    color: #fff !important;
    transition: all 0.1s linear 0s;

    &:hover {
        border: 2px solid #f67f45 !important;
        background: #fff !important;
        color: #f67f45 !important;
        text-decoration: none;
    }

    &:focus {
        box-shadow: none !important;
    }
}

%btn-style-mirror {
    border: 2px solid #f67f45 !important;
    background: #fff !important;
    color: #f67f45 !important;
    text-decoration: none;
    background-color: #fff !important;
    box-shadow: none !important;
    text-shadow: none !important;
    transition: all 0.1s linear 0s;

    &:hover {
        border: 2px solid #f67f45 !important;
        background: #f67f45 !important;
        color: #fff !important;
        text-decoration: none;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    &:focus {
        box-shadow: none !important;
    }
}
body {
    .discussion-module .btn:focus,
    .discussion-module .btn:active {
        border: 2px solid #f67f45 !important;
        background: #fff !important;
        color: #f67f45 !important;
    }
    .home .page-header-secondary {
        @extend %btn-style;
    }
    .forum-new-post-form .btn.cancel:focus,
    .forum-new-post-form .btn.cancel:active,
    .forum-new-post-form .post-type-input:checked+.post-type-label{
        border: 2px solid #f67f45 !important;
        color: #fff !important;
        background-color: #f67f45 !important;
    }
    .forum-new-post-form .post-type-label {
        border: 2px solid #f67f45 !important;
        color: #f67f45 !important;
    }
    .course-info header.course-profile .intro-inner-wrapper .intro .main-cta strong {
        @extend %btn-style;
    }
    .btn-brand {
         @extend %btn-style;
    }
    .login-register .action-primary {
        @extend %btn-style;
    }
    .discussion-module .btn {
         @extend %btn-style-mirror;
    }
    .login-register .nav-btn {
        @extend %btn-style-mirror;
    }
    .course-info header.course-profile .intro-inner-wrapper .intro .main-cta a.register {
        @extend %btn-style;
    }
    .heading-group button{
        @extend %btn-style;
    }
    .discussion-module .btn-brand:focus,
    .discussion-module .btn-brand,
    .discussion-module .btn-brand:hover,
    .courseware-bookmarks-button .bookmarks-list-button,
    .btn-brand:active:not(:disabled) {
        border: 2px solid #f67f45 !important;
    }
    
    .course-info header.course-profile .intro-inner-wrapper .intro .main-cta strong:focus:not(:disabled),
    .course-info header.course-profile .intro-inner-wrapper .intro .main-cta strong:active:not(:disabled),
    .btn-brand:active:not(:disabled),
    .course-info header.course-profile .intro-inner-wrapper .intro .main-cta a.register:active:not(:disabled),
    .heading-group button:active:not(:disabled),
    .login-register .nav-btn:active {
        box-shadow: none;
    }

    .btn-brand:active:not(:disabled),
    .discussion-module .btn-brand:focus,
     .discussion-module .btn-brand:hover,
    .course-info header.course-profile .intro-inner-wrapper .intro .main-cta strong:hover:not(:disabled),
    .login-register .action-primary:focus,
    .login-register .action-primary:active,
    .course-info header.course-profile .intro-inner-wrapper .intro .main-cta a.register:active:not(:disabled),
    .course-info header.course-profile .intro-inner-wrapper .intro .main-cta a.register:hover:not(:disabled) {
        background: #fff !important;
        color: #f67f45 !important;
    }
    .search-bar .search-button,
    .courseware-bookmarks-button .bookmarks-list-button:focus,
    .courseware-bookmarks-button .bookmarks-list-button:hover {
        background: #f67f45 !important;
    }
    .courseware-bookmarks-button .bookmarks-list-button:focus,
    .courseware-bookmarks-button .bookmarks-list-button:hover {
        color: #fff !important;
    }
   
    .courseware-bookmarks-button .bookmarks-list-button.is-active {
        background-color: #f67f45 !important;
        color: #fff !important;
    }
    .wrapper-course-material .course-tabs li.tab a:focus,
    .wrapper-course-material .course-tabs li.tab a:hover,
    .wrapper-course-material .course-tabs li.tab a.active {
        color: #f67f45;
        border-bottom-color: #f67f45;
    }
    .nav-holder .doc-link:hover{
        color: #161616 !important;
    }
    .forum-nav-browse-title,
    .course-tabs a,
    .home .page-header-secondary:hover .last-accessed-link,
    .instructor-dashboard-content-2 .instructor-nav .nav-item .btn-link.active-section,
    .nav-item .btn-link,
    .courseware-bookmarks-button .bookmarks-list-button,
    .course-index .accordion .course-navigation .button-chapter {
        color: #f67f45 !important;
    }
    button.btn.cancel,
    .btn-brand{
        display: inline-block;
        vertical-align: middle;
    }
}
.forum-new-post-form .btn.cancel{
    @extend %btn-style-mirror;
}
.page-header .btn {
    @extend %btn-style-mirror;
    border-width: 1px !important;

    &:hover {
        border-width: 1px !important;
    }
}
.tabs .tab a:hover,.tabs .tab a:focus,
.tabs .tab a:visited:hover,
.tabs .tab a:visited:focus,
.tabs .tab a.active,
.tabs .tab a:visited.active {
    color: #f67f45 !important;
    border-bottom-color: #f67f45 !important;
}
