#forum-faq {
    color: #424141;
    text-decoration: none;
    transition: all 0.1s linear 0s;
}

#forum-faq:hover {
    color: #424141;
    text-decoration: none;
    transition: all 0.1s linear 0s;
}

#forum-faq:focus {
    color: #424141;
    text-decoration: none;
    transition: all 0.1s linear 0s;
}

#forum-faq:visited {
    color: #424141;
    text-decoration: none;
    transition: all 0.1s linear 0s;
}

a.theme-nav_link:hover,
a.theme-nav_link:focus,
a.theme-nav_link:visited, {
    color: #424141;
    text-decoration: none;
    transition: all 0.1s linear 0s;
}
