<%inherit file="main.html" />

<%block name="message">
    <p>Вітаємо!</p>
    <p>
        ${'Перед проходженням сертифікаційного тестування Вам необхідно пройти онлайн-курс «Тренування». ' \
        'Це допоможе уникнути організаційних непорозумінь, ознайомить Вас з правилами проходження тестування ' \
        'і тестовим середовищем. Для цього зареєструйтесь на {link} під своїм реальним ім’ям, яке буде вказано ' \
        'на на сертифікаті та обов’язково запам’ятайте свій пароль, що також потрібен при проходженні ' \
        'сертифікаційного тестування.'.format(
            link='<a href="{registration_url}">сайті</a>'.format(
                registration_url=registration_url
            )
        )}
    </p>
    <hr/>
    <p>Бажаємо успіху!</p>
    <p>З повагою,<br/>команда проекту.</p>
</%block>