<div class="onboarding-holder">
    <div class="onboarding-content">
        <h1>
            Hi! Welcome to HERA.
        </h1>
        <div class="onboarding-text-block">
            <h3>
                What is HERA?
            </h3>
            <p>
                The HERA system is designed to help you learn scientific thinking skills in an easy and engaging way.
            </p>
        </div>
        <div class="onboarding-text-block">
            <h3>
                What is Scientific Thinking?
            </h3>
            <p>
                Every new invention or discovery is a result of scientific work. Scientific thinking also teaches you problem solving skills, and includes reasoning and critical thinking.
            </p>
        </div>
    </div>
    <div class="mascot">
        <img class="mascot-image" src="/static/${settings.DEFAULT_SITE_THEME}/images/hera_mascot.png" alt="HERA-mascot" />
    </div>
</div>
