<div class="onboarding-holder">
    <div class="onboarding-content">
        <h1>
            If you need a break...
        </h1>
        <div class="onboarding-text-block">
            <p class="text-center">
                Try to complete each lesson in one session. If you have to stop in the middle of a lesson for longer than 30 minutes, you'll start at the beginning of that lesson when you come back.
            </p>
        </div>
    </div>
    <div class="mascot">
        <img class="mascot-image" src="/static/HERA-hawthorn-stage/images/hera_mascot.png" alt="HERA-mascot" />
    </div>
</div>
