<div class="onboarding-holder">
    <div class="onboarding-content">
        <h1>
            HERA will help you learn Science.
        </h1>
        <div class="onboarding-content-columns">
            <div class="onboarding-text-block">
                <p>
                    You will experiment with a simulation and observe the results, and then answer 10 questions. If you answer incorrectly, you can ask for help. You will need to use "lightning bolts" to buy help. You will start the lesson with 300 lightning bolts.
                </p>
                <p>
                    Each question will offer three types of help: Rephrase, Break it down, Teach me.
                </p>
                <p>
                    If you answer incorrectly, you can try a new answer up to two more times.
                </p>
            </div>
            <ul class="onboarding-list-block">
                <li class="onboarding-list-item">
                    <div class="mascoted">
                        <img class="mascoted-image" src="/static/HERA-hawthorn-stage/images/masct_1.png" alt="HERA-mascot-1" />
                    </div>
                    <div class="onboarding-list-item-text">
                        Click <span class="colored-1">Rephrase</span> for a new version of the question.
                        <br>
                        <span class="hint">
                        Cost is 10 lightning bolts!
                    </span>
                    </div>
                </li>
                <li class="onboarding-list-item">
                    <div class="mascoted">
                        <img class="mascoted-image" src="/static/HERA-hawthorn-stage/images/masct_2.png" alt="HERA-mascot-2" />
                    </div>
                    <div class="onboarding-list-item-text">
                        Click <span class="colored-2">Break it down</span> to see the first step needed.
                        <br>
                        <span class="hint">
                        Cost is 20 lightning bolts!
                    </span>
                    </div>
                </li>
                <li class="onboarding-list-item">
                    <div class="mascoted">
                        <img class="mascoted-image" src="/static/HERA-hawthorn-stage/images/masct_3.png" alt="HERA-mascot-3" />
                    </div>
                    <div class="onboarding-list-item-text">
                        Click <span class="colored-3">Teach me</span> to learn more about the skill, and to see an example.
                        <br>
                        <span class="hint">
                        Cost is 30 lightning bolts!
                      </span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="mascot">
        <img  class="mascot-image" src="/static/HERA-hawthorn-stage/images/hera_mascot.png" alt="HERA-mascot" />
    </div>
</div>
