<div class="onboarding-holder">
    <div class="onboarding-content">
        <h1>
            You will earn "atoms" for
            <br>
            correct answers!
        </h1>
        <div class="onboarding-text-block">
            <p class="text-center">
                Each question is worth 10 atoms, for up to 100 total atoms per lesson.
                <br>
                You can earn a badge at the end of the lesson based on your total atoms.
                <br>
                60 = Bronze&nbsp;&nbsp; |&nbsp;&nbsp; 70 = Silver&nbsp;&nbsp; |&nbsp;&nbsp; 80 = Gold&nbsp;&nbsp; |&nbsp;&nbsp; 90/100 = Platinum.
                <br>
                Use help when you need it, and see how high you can score!
            </p>
        </div>
        <div class="onboarding-atoms-columns">
            <div class="onboarding-atoms-column-item">
                <div class="onboarding-atoms-icon">
                    <img src="/static/${settings.DEFAULT_SITE_THEME}/images/atoms/icon_atom_1.png" alt="atom_icon1" />
                    <span class="onboarding-atom-counter">
                    300
                  </span>
                </div>
                <p>
                    Start with 300 lightning bolts to use if you need help
                </p>
            </div>
            <div class="onboarding-atoms-column-item">
                <div class="onboarding-atoms-icon">
                    <img src="/static/${settings.DEFAULT_SITE_THEME}/images/atoms/icon_atom_2.png" alt="atom_icon2" />
                    <span class="onboarding-atom-counter">
                    100
                  </span>
                </div>
                <p>
                    Earn 10 atoms for each question.
                </p>
            </div>
            <div class="onboarding-atoms-column-item">
                <div class="onboarding-atoms-icon">
                    <img src="/static/${settings.DEFAULT_SITE_THEME}/images/atoms/icon_atom_3.png" alt="atom_icon3" />
                    <span class="onboarding-atom-counter">
                    Gold
                  </span>
                </div>
                <p>
                    Convert atoms to a medal after each lesson!
                </p>
            </div>
        </div>
    </div>
    <div class="mascot">
        <img class="mascot-image" src="/static/${settings.DEFAULT_SITE_THEME}/images/hera_mascot.png" alt="HERA-mascot" />
    </div>
</div>
