<%page expression_filter="h"/>
<%inherit file="/main.html" />

<div class="page-holder onboarding-container">
    <div class="onboarding-holder">
        <div class="onboarding-content">
            <h1>Registration Successful!</h1>
            <p>Please check your mailbox to activate an account and start learning with HERA</p>
        </div>
        <div class="mascot">
            <img class="mascot-image" src="/static/${settings.DEFAULT_SITE_THEME}/images/mascots/mascot_general.svg" alt="HERA-mascot" />
        </div>
    </div>
</div>
