.login-register .action-primary {
    font: 16px/1.3 $font-bold;
    text-transform: uppercase;
    color: #000;
    background: #ffe100;
    /*border-radius: 3px;*/
    border: 2px solid #000;
    padding: 10px 19px 8px;
    /*box-shadow: 0px 3px 0px 0px #9a311c;*/
    text-shadow: none;
    white-space: nowrap;
    display: inline-block;

    &:focus,
    &:hover {
/*        background-color: darken(#dd4628, 10%);
        color: #fff;
        text-decoration: none;*/

        color: #ffe100 !important;
        /*background-color: darken(#dd4628, 10%);*/
        background: #000;
        /*border-radius: 2px;*/
        border: 2px solid #ffe100;
        text-decoration: none;
    }
}