.icon-list {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;

    &_item {
        margin: 0 5px;
    }
    &_link {
        display: block;
        width: 35px;
        height: 35px;
    }
    &_svg {
        width: 35px;
        height: 35px;
        fill: $footer-nav-link-color;
        &:hover {
            fill: $footer-nav-link-color-hover;
        }

    }
}
