.icon-list {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;

    @media (max-width: $build-footer-mobile) {
        flex-wrap: wrap;
        order: 3;
        margin: 35px 0;
    }

    &_item {
        margin: 0 4px;

        @media (max-width: $build-footer-mobile) {
            margin: 5px 4px !important;
        }
    }

    &_link {
        display: block;
        width: 35px;
        height: 35px;
    }

    &_svg {
        width: 35px;
        height: 35px;
        fill: $footer-social-link-bg;
        transition: all .3s ease-in-out;

        &:hover {
            fill: $footer-social-link-bg-hover;
        }
    }
}
