.window-wrap .navigation {
    padding: 0;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: $responsive-large) {
        display: none;
        flex-direction: column;
        position: absolute;
        left: 0;
        top: 75px;
        background: #fff;
        width: 100%;
        li {
            display: block;
            margin: 0 0 10px 0;
            text-align: center;
        }
    }
    &:after {
        display: none;
    }
    &_buttons {
        @media (max-width: $responsive-large) {
            display: flex;
            justify-content: center;
        }
    }
    &_items {
        margin: 0;
        margin-left: auto;
        @media (max-width: $responsive-large) {
            width: 100%;
            text-align: center;
            margin: 0;
        }
        &__register {
            display: flex;
            flex-direction: row-reverse;
            @media (max-width: $responsive-large) {
                flex-direction: column;
            }
        }
    }
}
.menu-open {
    .window-wrap .navigation {
        @media (max-width: $responsive-large) {
            display: block;
            background: $header-bg;
            padding: 15px 0;
            border-top: 3px solid #666;
        }
    }
}