.window-wrap .navigation {
    padding: 0;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: $responsive-large) {
        display: none;
        flex-direction: column;
        position: absolute;
        left: 0;
        top: 80px;
        background: #fff;
        border-top: 1px solid #ccc;
        width: 100%;
        height: auto;
        padding: 15px 0;
        li {
            display: block;
            margin: 0 0 10px 0;
        }
    }
    &:after {
        display: none;
    }
    &_items {
        margin: 0;
        @media (max-width: $responsive-large) {
            width: 100%;
            text-align: center;
        }
        &__register {
            display: flex;
            flex-direction: row-reverse;
            @media (max-width: $responsive-large) {
                flex-direction: column;
            }
        }
        &__courses {
            margin-left: 22%;
            @media (max-width: $responsive-large) {
                margin-left: 0;
            }
        }
    }
}
.menu-open {
    .window-wrap .navigation {
        @media (max-width: $responsive-large) {
            display: flex;
            text-align: center;
        }
    }
}