<<<<<<< HEAD
body.view-in-course .header-global .wrapper-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}
=======
// body.view-in-course .header-global .wrapper-header {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
// }
>>>>>>> 9005165... add style for student
