.btn-explore {
    color: #fff;
    font: 18px/1.2 Verdana, Arial, sans-serif;
    background-color: $btn-bg;
    display: inline-block;
    text-transform: uppercase;
    border-radius: 2px;
    padding: 8px 17px;
    display: none;
    &:visited {
        background-color: $btn-bg;
        text-decoration: none;
        color: #fff !important;
    }
    &:hover,
    &:active,
    &:focus {
        background-color: $btn-bg-hover;
        text-decoration: none;
        color: #fff !important;
    }
}