body .btn-login {
    color: $header-color;
    background-color: $header-nav-link-color;
    padding: 8px 16px;
    text-transform: uppercase;
    font: 18px/1.2 Verdana, Arial, sans-serif;
    border-radius: 2px;
    display: inline-block;
    text-align: center;
    &:hover,
    &:focus,
    &:active {
        color: $header-color;
        background-color: $header-nav-link-color-hover;
        text-decoration: none;
    }
    @media (max-width: $responsive-large) {
        min-width: 160px;
    }
}