a.btn-explore {
    font: 20px/1.2 Arial, sans-serif;
    color: $primary-color;
    text-transform: uppercase;
    -webkit-font-smoothing: subpixel-antialiased !important;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility:    hidden;
    -ms-backface-visibility:     hidden;
    &:hover,
    &:focus {
        text-decoration: none;
        color: $primary-color;
    }
}