<%page expression_filter="h"/>
<%namespace name='static' file='../static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from openedx.core.djangolib.markup import HTML, Text
%>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Page Not Found")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="outside-app">
        <h1>Diese Seite konnte nicht gefunden werden.</h1>
        <p>Gründe dafür könnten sein, dass wir die betroffene Seite archiviert, verschoben oder umbenannt haben.
            <br> <br>
            Vielleicht können Sie die von Ihnen gesuchten Informationen auf der Startseite finden: <a href='https://etc.trainit.biz'>https://etc.trainit.biz</a>
            <br> <br>
            Oder dürfen wir Ihnen direkt behilflich sein? Schreiben Sie uns eine Nachricht, oder rufen Sie uns an. <br>
            Hier geht's zu unseren Kontaktdetails: <a href='https://www.etc.at/services/rueckruf-service/'>https://www.etc.at/services/rueckruf-service/</a></p>
    </section>
</main>
