<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("About")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
    <img class="banner_img" src="/static/${settings.FEATURES.get('FREETEAM_SITE_THEME',settings.DEFAULT_SITE_THEME)}/images/mama_banner_03.jpg" alt="О нас">
  <h1>О нас</h1>
  <p class="center"><strong>Mobytize Affiliate Marketing Academy</strong></p>
  <p> <abbr title="Mobytize Affiliate Marketing Academy">МАМА</abbr> – это современная образовательная платформа, предлагающая онлайн-курсы для тех, кто не боится окунуться в мир интернет маркетинга. <abbr title="Mobytize Affiliate Marketing Academy">МАМА</abbr> всегда на шаг впереди других образовательных платформ, мы следим за тенденциями рынка и всегда ищем пути решения проблем. Вне зависимости от уровня и целей, мы поможем вам прийти к результатам и стать лучшим в сфере интернет маркетинга.</p>
  <p>Наша цель – быть лидерами на рынке интернет маркетинга и сделать образование открытым и удобным.</p>
  <p>Наша команда делает так, чтобы обучение приносило удовольствие и вы всегда могли найти на него время.</p>
  </section>
</main>
