<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("About")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>${_("About")}</h1>
        <p>${_("Hello everyone! Welcome to ")} <a href="https://university.raccoongang.com/" target="_blank">Raccoon University</a> ${_(" - a social initiative from Raccoon Gang, where every educator from Ukraine and abroad can create and launch a course on any subject FOR FREE. ")}</p>
        <p>${_("We believe that free education is a way to opening the world of new possibilities for everyone. Raccoon Gang strives to provide such eLearning playground to all educators. Our University is built on a popular Open edX eLearning platform. It provides a convenient and efficient environment for online course development, distribution and management, allowing to reach and monetize a much wider audience. ")}</p>
        <p>${_("How to get started? Register in our ")} <a href="https://studio-sandbox.raccoongang.com/home/" target="_blank">sandbox</a>, ${_("feel free to experiment with creating and adjusting the course content and when you are ready to publish it to the ")} <a href="https://university.raccoongang.com/ " target="_blank">Raccoon University</a> ${_("- email us at")} <a href="mailto:info@racccongang.com" target="_blank">info@racccongang.com.</a> ${_(" Raccoon Gang team stands ready to help in turning your existing online content into an engaging online course, both interesting and fun to take part in. Be ensured, our University will become a good home for your online courses, a heart of a warm and welcoming community, and a great channel to reach the world with your ideas!")}</p>
    </section>
</main>
