<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("About")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
  <article class="gallery-index">
    <div class="slider-gallery-about">
      <div class="slider-gallery__item">
        <img src="/static/${settings.DEFAULT_SITE_THEME}/images/about-project-1.jpg" alt=""
             class="slider-gallery__image">
        <div class="slider-gallery__info slider-gallery__info_other">
          <div class="slider-gallery__text-holder">
            <span class="slider-gallery__title slider-gallery__title_other">1 200 000</span>
            <strong class="slider-gallery__bold-text slider-gallery__bold-text_other">школьников участвуют в олимпиадах ежегодно</strong>
            <p class="slider-gallery__text">на платформе Intellectuale есть курсы для подготовки ко Всероссийским олимпиадам и другим олимпиадам I-II уровня</p>
            <p class="slider-gallery__text">на курсах рассказывается не как решать конкретную задачу, а формируется новое мышление</p>
          </div>
        </div>
        <div class="slider-gallery__green-filter"></div>
      </div>
      <div class="slider-gallery__item">
        <img src="/static/${settings.DEFAULT_SITE_THEME}/images/about-project-2.jpg" alt=""
             class="slider-gallery__image">
        <div class="slider-gallery__info slider-gallery__info_other">
          <div class="slider-gallery__text-holder">
            <span class="slider-gallery__title slider-gallery__title_other">4500 рублей</span>
            <strong class="slider-gallery__bold-text slider-gallery__bold-text_other">ежемесячные расходы на дополнительное школьное образование в России на 1 школьника</strong>
            <p class="slider-gallery__text">на эту сумму на платформе Intellectuale вы сможете купить 3 курса</p>
            <p class="slider-gallery__text">3 курса в месяц поможет вам стать намного ближе к топ 1% всех школьников России</p>
          </div>
        </div>
        <div class="slider-gallery__green-filter"></div>
      </div>
      <div class="slider-gallery__item">
        <img src="/static/${settings.DEFAULT_SITE_THEME}/images/about-project-3.jpg" alt=""
             class="slider-gallery__image">
        <div class="slider-gallery__info slider-gallery__info_other">
          <div class="slider-gallery__text-holder">
            <span class="slider-gallery__title slider-gallery__title_other">менее 1%</span>
            <strong class="slider-gallery__bold-text slider-gallery__bold-text_other">школьников учатся в лучших школах России</strong>
            <p class="slider-gallery__text">курсы на платформе Intellectuale записаны от лучших школ России, и вы можете прослушать их, находясь в любой точке страны</p>
            <p class="slider-gallery__text">такие курсы значительно повышают ваши шансы при поступлении в лучшие вузы страны, такие как МГУ, НИУ ВШЭ и МГИМО и дают вам конкурентные преимущества во время обучения в данных университетах</p>
          </div>
        </div>
        <div class="slider-gallery__green-filter"></div>
      </div>
    </div>
    </div>
  </article>
  <section class="theme-wrapper">
    <div class="advantage advantage_about">
      <h2 class="advantage__heading">INTELLECTUALE <br> соответствие мировым стандартам качества</h2>
      <div class="advantage__row">
        <div class="advantage__description">
          <span class="advantage__ico-holder"><img class="advantage__ico"
                                                   src="/static/${settings.DEFAULT_SITE_THEME}/images/ico1.svg" alt=""></span>
          <strong class="advantage__caption advantage__caption_color1">1. МАТЕРИАЛЫ КУРСА</strong>
          <p class="advantage__text">Видео-лекции высшего качества с анимированной инфографикой. <br>
          Материалы курса в удобной сжатой форме для быстрого освоения или повторения тем курса</p>
        </div>
        <img class="advantage__img" src="/static/${settings.DEFAULT_SITE_THEME}/images/advantage_img1.png" alt="">
      </div>
      <div class="advantage__row">
        <div class="advantage__description">
          <span class="advantage__ico-holder"><img class="advantage__ico"
                                                   src="/static/${settings.DEFAULT_SITE_THEME}/images/ico-2.png" alt=""></span>
          <strong class="advantage__caption advantage__caption_color2">2. Задания</strong>
          <p class="advantage__text">Проверочные интерактивные задания с автоматической проверкой и детальным решением для закрепления пройденного материала</p>
        </div>
        <img class="advantage__img" src="/static/${settings.DEFAULT_SITE_THEME}/images/advantage_img2.png" alt="">
      </div>
      <div class="advantage__row">
        <div class="advantage__description">
          <span class="advantage__ico-holder"><img class="advantage__ico"
                                                   src="/static/${settings.DEFAULT_SITE_THEME}/images/ico-3.png" alt=""></span>
          <strong class="advantage__caption advantage__caption_color3">3. Результат</strong>
          <p class="advantage__text">Ты сможешь контролировать прогресс по всем темам курса. Данные знания помогут тебе поступить в Oxford, Harvard и другие вузы США и Великобритании, а также в любой университет России</p>
        </div>
        <img class="advantage__img" src="/static/${settings.DEFAULT_SITE_THEME}/images/advantage_img3.png" alt="">
      </div>
    </div>
  </section>
  <section class="about-history">
    <div class="about-history__wrapper">
      <div class="about-history__text-holder">
        <h3 class="about-history__title">ИСТОРИЯ INTELLECTUALE</h3>
        <p class="about-history__paragraph">Платформа INTELLECTUALE создана в 2016 году, так как в России доступ к качественному среднему образованию имело меньше 1% всех школьников.</p>
        <p class="about-history__paragraph">Мы разрушаем данный стереотип и создаем курсы мирового уровня для всех школьников старших классов от лучших школ России и I-II курсов лучших университетов страны.</p>
      </div>
      <div class="about-history__image-holder">
        <img src="/static/${settings.DEFAULT_SITE_THEME}/images/about-img-4.jpg" alt="Founders"
             class="about-history__image">
      </div>
    </div>
  </section>
  <section class="founders">
    <div class="container">
      <div class="details">
        <div class="inner-wrapper">
          <div class="course-box course-box_about">
            <div class="course-box__title-holder">
              <h2 class="course-box__header">
                <span class="course-box__header-text">Нурумов Андрей</span>
                <p class="course-box__header-text course-box__header-text_hidden">Генеральный директор Intellectuale</p>
              </h2>
              <h2 class="course-box__header-text course-box__header-text_desktop">Генеральный директор Intellectuale</h2>
            </div>
            <img src="/static/${settings.DEFAULT_SITE_THEME}/images/about-img-5.jpg" alt="" class="course-box__image">
            <ul class="course-box__list course-box__list_other">
              <li class="course-box__list-item">
                Образование — <strong>University of London, Высшая Школа Экономики (НИУ ВШЭ)</strong>
              </li>
              <li class="course-box__list-item">
                Работал в <i>немецком</i> банке <strong>Deutsche Bank</strong> и <i>американской</i> консалтинговой компании <strong>Accenture</strong>.
              </li>
            </ul>
          </div>
          <div class="course-box course-box_about">
            <div class="course-box__title-holder">
            <h2 class="course-box__header">
                <span class="course-box__header-text">Вученович Александр</span>
                <p class="course-box__header-text course-box__header-text_hidden">Президент Intellectuale</p>
              </h2>
              <h2 class="course-box__header-text course-box__header-text_desktop">Президент Intellectuale</h2>
            </div>
            <img src="/static/${settings.DEFAULT_SITE_THEME}/images/about-img-6.jpg" alt="" class="course-box__image">
            <ul class="course-box__list course-box__list_other">
              <li class="course-box__list-item">
                Образование — <strong>Bocconi University, Высшая Школа Экономики (НИУ ВШЭ) и Российская Экономическая школа (РЭШ)</strong>
              </li>
              <li class="course-box__list-item">
                Работал в <i>нидерландской</i> компании <strong>KPMG</strong> и <i>американской</i> компании по управлению инвестициями – <strong>JLL</strong>.
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="details">
       <div class="inner-wrapper">
          <div class="course-box course-box_about">
            <div class="course-box__quote">
              «<strong>Intellectuale</strong> меняет образование в России. Мы не просто создаем онлайн-курсы, мы
              <strong>трансформируем
                российское образование.</strong>»
            </div>
          </div>
          <div class="course-box course-box_about">
            <div class="course-box__quote">
              «У любой страны должно быть сравнительное преимущество. В России — это всегда, помимо ресурсов, <strong>человеческий капитал. Intellectuale</strong> еще раз подтверждает это.»
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<%block name="js_extra">
  <script type="text/javascript">
    $(window).load(function () {
      if (getParameterByName('next')) {
        $('#login').trigger("click");
      }
    })
  </script>
  <script src="/static/${settings.DEFAULT_SITE_THEME}/plugins/slick/slick.js"></script>
  <script src="/static/${settings.DEFAULT_SITE_THEME}/js/main.js"></script>
</%block>
