<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Careers")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>${_("Careers")}</h1>
        <p>
            ${_("Working at LLTV is like finding that right shirt you want to wear every day. It’s like walking into a surprise birthday party and just happening to be dressed to the nines. It’s like winning the Jackpot and NOT losing all the money the next day. Come join our team of smart, creative, innovative people who are passionate about creating great learning content and develop the right technology to deliver it to your finger tip.")} <br><br>
            ${_("Please send us resume at")} <a href="mailto:info@LLTV.tv">${_("info@LLTV.tv")}</a> <br><br>
            ${_("Thank you!")}
        </p>
    </section>
</main>