<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Contact")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>${_("Contact")}</h1>
        <p>${_("If you have any questions, comments, or concerns, please contact us so we can assist you.")}</p>
        <p>${_("IAMCP University")}</p>
        <p>
            ${_("909 Lake Carolyn Pkwy, Suite 320")} <br>
            ${_("Irving, TX 75039")} <br>
            <a href="mailto:info@iamcpuniversity.org">${_("info@iamcpuniversity.org")}</a>
        </p>

            






    </section>
</main>
