<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Contact")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>${_("Contact")}</h1>
        <p>${_("You can email us at {link_mailto}{email}{link_close}").format(link_mailto='<a href="mailto:contact@datachangers.com">',email='contact@datachangers.com',link_close='</a>') |n}</p>
        <p>${_("More information can be found on {link_mktg}{site_name}{link_close}").format(link_mktg='<a href="http://www.datachangers.com">',site_name='www.datachangers.com',link_close='</a>') |n}</p>
    </section>
</main>
