<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Terms of Service")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>${_("Trademark Information and Legal Disclaimers")}</h1>
        <p>${_("Copyright")}</p>
        <p>${_("Copyright © 1996-2016 Levi, Ray & Shoup, Inc. All Rights Reserved.")}</p>
        <p>${_("Except for Levi, Ray & Shoup, Inc. (LRS) product support section or as otherwise indicated elsewhere in this Web site (hereinafter referred to as \"publication\"), with respect to this publication, or a particular portion or file thereof, any person is hereby authorized to view, copy, print, and distribute such publication, in whole or in part, subject to the following conditions:")}</p>
        <p>${_("The publication, in whole or in part, may be used for informational, non-commercial purposes only.")}</p>
        <p>${_("Any copy of the publication or portion thereof must include the above copyright notice.")}</p>
        <p>${_("LRS reserves the right to revoke such authorization at any time, and any such use shall be discontinued immediately upon written notice from LRS.")}</p>
        <p>${_("Warranties and Disclaimers")}</p>
        <p>${_("THIS PUBLICATION IS PROVIDED \"AS IS\" WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESSED OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE OR NON-INFRINGEMENT. LEVI, RAY & SHOUP, INC. ASSUMES NO RESPONSIBILITY FOR ERRORS OR OMISSIONS IN THIS PUBLICATION OR OTHER DOCUMENTS WHICH ARE REFERENCED BY OR LINKED TO THIS PUBLICATION.")}</p>
        <p>${_("REFERENCES TO CORPORATIONS, THEIR SERVICES AND PRODUCTS, ARE PROVIDED \"AS IS\" WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESSED OR IMPLIED.")}</p>
        <p>${_("IN NO EVENT SHALL LEVI, RAY & SHOUP, INC. BE LIABLE FOR ANY SPECIAL, INCIDENTAL, INDIRECT OR CONSEQUENTIAL DAMAGES OF ANY KIND, OR ANY DAMAGES WHATSOEVER, REGARDLESS OF THE FORM OF ACTION OR THEORY OF LIABILITY INCLUDING, WITHOUT LIMITATION, THOSE RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER OR NOT ADVISED OF THE POSSIBILITY OF DAMAGE, ARISING OUT OF OR IN CONNECTION WITH THIS PUBLICATION OR THE USE OF THE INFORMATION CONTAINED THEREIN.")}</p>
        <p>${_("THIS PUBLICATION COULD INCLUDE TECHNICAL OR OTHER INACCURACIES OR TYPOGRAPHICAL ERRORS. CHANGES ARE PERIODICALLY ADDED TO THE INFORMATION HEREIN; THESE CHANGES WILL BE INCORPORATED IN NEW EDITIONS OF THE PUBLICATION. LEVI, RAY & SHOUP, INC. MAY MAKE IMPROVEMENTS AND/OR CHANGES IN THE PRODUCT(S) AND/OR THE PROGRAM(S) DESCRIBED IN THIS PUBLICATION AT ANY TIME.")}</p>
        <p>${_("Should you or any viewer of this publication respond with information, feedback, data, questions, comments, suggestions or the like regarding the content of any LRS publication, with the exception of personally indentifiable information which is protected by our online privacy policy, any such response shall be deemed not to be confidential and LRS shall be free to reproduce, use, disclose and distribute the response to others without limitation. You agree that LRS shall be free to use any ideas, concepts or techniques contained in your response for any purpose whatsoever including, but not limited to, developing, manufacturing and marketing products incorporating such ideas, concepts or techniques.")}</p>
        <p>${_("Procedure for Making Claims of Copyright Infringement")}</p>
        <p>${_("In accordance with the Digital Millennium Copyright Act (17 U.S.C. 512) LRS is registered as a Service Provider with the United States Copyright Office. Any notices of claimed copyright infringement by LRS as a Service Provider must be sent to LRS Designated Agent at LRSlegal@LRS.com .")}</p>
        <p>${_("Trademarks")}</p>
        <p>${_("LRS, , VPS, VPS/Secure, VPSX, VPSX/OutputManager, VPSX/Workplace, DRS/Secure, DRS/OutputManager, FormPort, MFPsecure, MegaTrack, PageCenter, PageCenter Plus, PageCenter Plus To-Go, PageCenterX, AnyQueue, AnyQueue/PageSorter, AnyQueue/WebTRAC, AnyQueue/Secure, PrintEvolve, PensionGold, Innovate/Mill, Transform/Impress, and Enterprise Solutions Foundation are registered trademarks of Levi, Ray & Shoup, Inc.")}</p>
        <p>${_("Service Marks")}</p>
        <p>${_("LRS®")}</p>
        <p>${_("Trademarks/Service Marks Pending Registration")}</p>
        <p>${_("VPSX Enterprise and VPSX/DirectPrint are trademarks of Levi, Ray & Shoup, Inc.")}</p>
        <p>${_("All other brand and product names are trademarks or service marks of their respective holders.")}</p>
        <p>${_("For further information on copyright, trademark and disclaimer information, contact LRS' Legal Department:")}</p>
        <p>${_("General Counsel")}</p>
        <p>${_("Levi, Ray & Shoup, Inc.")}</p>
        <p>${_("2401 West Monroe Street")}</p>
        <p>${_("Springfield, IL 62704")}</p>
        <p>217.793.3800</p>
        <p>${_("Third party Trademark Attribution Statements")}</p>
        <p>${_("Click to view our Third Party Trademark Attribution Statements.")}</p>
        <p>${_("Slavery and Human Trafficking Statement")}</p>
        <p>${_("Click to view our Slavery and Human Trafficking Statement.")}</p>
        <p>${_("Partner Evaluation License Agreement")}</p>
        <p>${_("Click to view our Partner Evaluation License Agreement.")}</p>
    </section>
</main>
