<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>

<%inherit file="../main.html" />

<%block name="pagetitle">${_("Disclaimer")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>${_("Disclaimer voor academy.vijfhart.nl")}</h1>
        <p>${_("Vijfhart IT-Opleidingen B.V. (KvK-nummer: 09103354), hierna te noemen Vijfhart, verleent jou hierbij toegang tot academy.vijfhart.nl en publiceert hier ter informatie teksten afbeeldingen en andere materialen. Op deze website en disclaimer is Nederlands recht van toepassing. De informatie op deze site is bedoeld voor mensen die in Nederland wonen en voor bedrijven die in Nederland gevestigd zijn. Bij een woonplaats of vestigingsplaats in het buitenland kunnen andere regels gelden.")}</p>
        <p>${_("Vijfhart behoudt zich daarbij het recht voor op elk moment de inhoud aan te passen of onderdelen te verwijderen zonder daarover aan jou mededeling te hoeven doen.")}</p>
        <p>${_("Vijfhart werkt de inhoud van de website regelmatig bij en actualiseert de website regelmatig. Ondanks deze inspanningen, is het mogelijk dat inhoud van deze website onvolledig of verouderd is.")}</p>
        <p>${_("De informatie op de website is bedoeld als vrijblijvend en niet als een concreet aanbod om een overeenkomst te sluiten.")}</p>
        <p>${_("Alle informatie op deze webpagina is bedoeld voor persoonlijk gebruik. Aan informatie kunnen geen rechten worden ontleend. Wijzigingen en typefouten worden voorbehouden.")}</p>
        <p><strong>${_("BEPERKTE AANSPRAKELIJKHEID")}</strong></p>
        <p>${_("Vijfhart spant zich in om de inhoud van de website zo vaak mogelijk te actualiseren en/of aan te vullen. Ondanks deze zorg en aandacht is het mogelijk dat inhoud onvolledig en/of onjuist is.")}</p>
        <p>${_("Vijfhart geeft op geen enkele wijze garantie over de juistheid of volledigheid van de informatie die op deze website wordt geraadpleegd.")}</p>
        <p>${_("Vijfhart aanvaardt geen enkele aansprakelijkheid voor eventuele gevolgen van (tijdelijke) niet-beschikbaarheid van deze website.")}</p>
        <p>${_("De op de website aangeboden diensten worden aangeboden zonder enige vorm van garantie of aanspraak op juistheid. Onze diensten kunnen op elk moment wijzigen zonder voorafgaande mededeling van Vijfhart.")}</p>
        <p>${_("In het bijzonder zijn alle prijzen op de website onder voorbehoud van type- en programmeerfouten. Voor de gevolgen van dergelijke fouten wordt geen aansprakelijkheid aanvaard. Geen overeenkomst komt tot stand op basis van dergelijke fouten. Vijfhart biedt geen garantie over de veiligheid van haar website en kan zodoende niet aansprakelijk gesteld worden voor eventuele schade die direct of indirect wordt geleden door het gebruik van de website.")}</p>
        <p>${_("Op deze website wordt soms gelinkt naar externe sites. De informatie op deze externe sites is door Vijfhart niet gecontroleerd op juistheid. Vijfhart is niet verantwoordelijk voor die informatie.")}</p>
        <p>${_("Vijfhart kan niet aansprakelijk worden gesteld welke schade dan ook geleden door het gebruik van de informatie op haar website; de gebruiker is zelf verantwoordelijk voor het gebruik van alle informatie welke gegeven wordt op onze website.")}</p>
        <p><strong>${_("AUTEURSRECHTEN")}</strong></p>
        <p>${_("Alle rechten van intellectuele eigendom betreffende deze diensten liggen bij Vijfhart.")}</p>
        <p><strong>${_("OVERIG")}</strong></p>
        <p>${_("Deze disclaimer kan van tijd tot tijd wijzigen.")}</p>
    </section>
</main>
