<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("FAQ")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
		<h1>${_("FAQ")}</h1>
		<h2>Hoe maak ik een account aan?</h2>
		<p>Om een account aan te maken doe je het volgende:</p>
		<ol>
			<li>Klik bovenaan de pagina op Sign up</li>
			<li>Voer de gevraagde gegevens in.</li>
		</ol>
		<p>Na het aanmaken van een account ontvang je een activatiemail op het mailadres
		dat je hebt ingegeven. Je moet in deze mail op de activatielink klikken om het
		registratieproces te voltooien. Ontvang je geen e-mail? Check dan je spam folder
		en markeer Computrain On Demand e-mails als “geen spam”</p>
		<h2>Hoe schrijf ik me in voor een cursus?</h2>
		<p>Om een cursus te kunnen volgen moet je je ervoor inschrijven. Om in te schrijven
		doe je het volgende:</p>
		<ol>
			<li>Open de informatiepagina van de cursus</li>
			<li>Klik op Enroll</li>
			<li>Je kunt direct met de cursus beginnen.</li>
		</ol>
		<h2>Hoe vind ik een cursus?</h2>
		<p>Om de voor jou geschikte cursussen te vinden kun je de zoekoptie of de Course
		Catalog gebruiken. Voor meer informatie over de gevonden cursus klik je op de
		title. Hier kun je je ook inschrijven voor de cursus.</p>
    </section>
</main>
