<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("FAQ")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <div class="heading">
            <div class="heading_holder">
                <h1>${_("FAQ")}</h1>
            </div>
        </div>
        <div class="wrapper">
            <h2>EMC Formation - Premiers pas</h2>
            <b>Qui peut s'inscrire ?</b>
            <p>L'inscription est ouverte à tous les employés d'EMC2. </p>
            <b>Combien de temps durent les formations ?</b>
            <p>La durée des formations est variable, allant d'une semaine à plusieurs mois.</p>
            <b>Qui sont les formateurs ?</b>
            <p>Les formateurs sont des professionnels et des experts de leur domaine d'activité.</p>
            <h2>EMC Formation - Premiers pas</h2>
            <b>Qui peut s’inscrire ?</b>
            <b>Combien de temps dure la formation ?</b>
            <b>Qui sont les formateurs ?</b>
            <b>Suis-je obligé de suivre la formation dans l’ordre chronologique ?</b>
            <h2>Autres questions</h2>
            <b>Qui peut s’inscrire ?</b>
            <b>Combien de temps dure la formation ?</b>
            <b>Qui sont les formateurs ?</b>
            <b>Suis-je obligé de suivre la formation dans l’ordre chronologique ?</b>
        </div>
    </section>
</main>
