<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Honor Code")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about" id="tos">

<h1>NoticeAbility Honor Code Pledge</h1>

<p>
  </p><h3>COLLABORATION POLICY</h3><thspan data-rwthpgen="1">
  By enrolling in a course on NoticeAbility, you are joining a special worldwide community of learners.</thspan><thspan data-rwthpgen="1"> The aspiration of NoticeAbility is to provide anyone with an internet connection access to courses from the best universities and institutions in the world and to provide our learners the best educational experience internet technology enables.</thspan><thspan data-rwthpgen="1"> You are a part of the community that will help NoticeAbility achieve this goal.</thspan><thspan data-rwthpgen="1"> NoticeAbility depends upon your motivation to learn the material and to do so with honesty and academic integrity.</thspan><thspan data-rwthpgen="1"> In order to participate in NoticeAbility, you must agree to the Honor Code below and any additional terms specific to a class.</thspan><thspan data-rwthpgen="1"> This Honor Code, and any additional terms, will be posted on each class website.</thspan>
<p></p>

<p><thspan data-rwthpgen="1">
  NoticeAbility depends upon your motivation to learn the material and to do so with honesty.</thspan><thspan data-rwthpgen="1"> In order to participate in NoticeAbility, you must agree to the Honor Code below and any additional terms specific to a class.</thspan><thspan data-rwthpgen="1"> This Honor Code, and any additional terms, will be posted on each class website.</thspan>
</p>

<p>
  </p><h3>NOTICEABILITY HONOR CODE PLEDGE</h3><thspan data-rwthpgen="1">
  By enrolling in an NoticeAbility course, I agree that I will:</thspan>
<p></p>

<ul>
  <li>Complete all tests and assignments on my own, unless collaboration on an assignment is explicitly permitted.</li>
  <li>Maintain only one user account and not let anyone else use my username and/or password.</li>
  <li>Not engage in any activity that would dishonestly improve my results, or improve or hurt the results of others.</li>
  <li>Not post answers to problems that are being used to assess student performance.</li>
</ul>

<p>
  </p><h3>VIOLATIONS</h3><thspan data-rwthpgen="1">
  If you are found in violation of the Terms of Service or Honor Code, you may be subject to one or more of the following actions:</thspan>
<p></p>

<ul>
  <li>Receiving a zero or no credit for an assignment;</li>
  <li>Having any certificate earned in the course withheld or revoked;</li>
  <li>Being unenrolled from a course; or</li>
  <li>Termination of your use of the Site.</li>
  <li>Additional actions may be taken at the sole discretion of NoticeAbility and NoticeAbility Member course providers.</li> 
</ul>

<p><thspan data-rwthpgen="1">
  No refunds will be issued in the case of any corrective action for such violations.</thspan>
</p>

<p><thspan data-rwthpgen="1">
  Honor code violations will be determined at the sole discretion of NoticeAbility Members.</thspan><thspan data-rwthpgen="1"> You will be notified if a determination has been made that you have violated this honor code and you will be informed of the corresponding action to be taken as a result of the violation.</thspan>
</p>

<p>
  </p><h3>CHANGING THE HONOR CODE</h3><thspan data-rwthpgen="1">
  Please note that we review and may make changes to this Honor Code from time to time.</thspan><thspan data-rwthpgen="1"> Any changes to this Honor Code will be effective immediately upon posting on this page, with an updated effective date.</thspan><thspan data-rwthpgen="1"> By accessing the Site after any changes have been made, you signify your agreement on a prospective basis to the modified Honor Code and any changes contained therein.</thspan><thspan data-rwthpgen="1"> Be sure to return to this page periodically to ensure familiarity with the most current version of this Honor Code.</thspan>
<p></p>

</section>
</main>
