<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Honor Code")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about" id="tos">
    <p></p>
<h3 class="about__title"><strong>${_("GENERAL PRINCIPLES")}</strong></h3>
  <p class="about__text">
  ${_("Having created DESK, we give people the opportunity to get affordable education of high quality, and we strive to eliminate corruption, which unfortunately occurs in the Ukrainian education system.")} 
  ${_("Thanks to the experience of Western online platforms and advanced Internet technologies, we were able to make our dream come true.")}
  ${_("Our project is not just a web site with a set of courses.")} 
  ${_("This is an opportunity for everyone to change themselves for the better.")}
  ${_("DESK education system is based on the key principles of academic integrity.")} 
  ${_("When enrolling in any course or program at DESK you automatically become a member of the positive changes that will mark a new stage of development of the Ukrainian education system - with high quality and relevance of knowledge, lack of corruption and bribery.")}
  </p>
  <p class="about__text">
    ${_("Before starting Your education You shall remember - DESK is not a forced learning, but a convenient tool, using which you can change your life.")} 
    ${_("It all depends on you and your motivation, and we will do everything to make our learning platform the most convenient for you.")} 
  </p>
  <p></p>
  <h3 class="about__title"><strong>${_("HONOR CODE")} </strong></h3>
  <p class="about__text">${_("By enrolling in any DESK course, You agree that You will:")} </p>

<ul class="about__list">
  <li>${_("Complete all tests and tasks on Your own without any help of other people unless such assistance is permitted")} </li>
  <li>${_("Not use or take part in generating plagiarism")} </li>
  <li>${_("Maintain only one user account and not let anyone else use Your username and/or password")} </li>
  <li>${_("Not engage in any activity that would dishonestly improve Your results, or improve or hurt the results of other people")} </li>
  <li>${_("Not post answers to tasks that are being used to assess student performance.")} </li>
</ul>

<p></p>
<h3 class="about__title"><strong>${_("VIOLATIONS")}</strong></h3>
<p class="about__text">
  ${_("If we find You in violation of User Agreement and the Honor Code, You may be subject to:")}</p>
<ul class="about__list">
  <li>${_("Receiving a zero or no credit for an assignment or set of assignments;")}</li>
  <li>${_("Having any certificate earned in the course withheld or revoked;")}</li>
  <li>${_("Being unenrolled from a course;")}</li>
  <li>${_("Having Your Account banned.")}</li>
</ul>

<p class="about__text">
  ${_("The final decision will be taken by the administration of the project.")}
  ${_("In case of violation of the Honor Code, no compensations or refunds are possible.")}
  ${_("DESK Administration may make changes to the Honor Code, so please check the latest version of the Honor Code on this page.")}
  ${_("Any changes will come into force immediately after their placement on this page.")}
</p>

</section>
</main>
