<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("How to use")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>${_("How to use?")}</h1>
        <p style="margin-bottom: 0.28cm; font-variant: normal; line-height: 129%; text-decoration: none"><a name="docs-internal-guid-1f995a9a-fcea-a04f-9087-6491ce35f8e7"></a>
<span style="background: transparent">1.
SIGN UP</span></p>
<p style="margin-bottom: 0.28cm; font-variant: normal; font-style: normal; font-weight: normal; line-height: 129%; text-decoration: none">
<span style="background: transparent">Getting
started is easy, you need to create your Torque IT training account.
It gives you access to all available (current and future) courses,
which are available anytime and anywhere.</span></p>
<p><br/>
<br/>

</p>
<p style="margin-bottom: 0.28cm; font-variant: normal; font-style: normal; font-weight: normal; line-height: 129%; text-decoration: none">
<span style="background: transparent">2.
ENROLL IN A COURSE</span></p>
<p style="margin-bottom: 0.28cm; font-variant: normal; font-style: normal; font-weight: normal; line-height: 129%; text-decoration: none">
<span style="background: transparent">Earn
on your own schedule, you can take courses anytime and anywhere.</span></p>
<p><br/>
<br/>

</p>
<p style="margin-bottom: 0.28cm; font-variant: normal; font-style: normal; font-weight: normal; line-height: 129%; text-decoration: none">
<span style="background: transparent">3.
EARN CERTIFICATES</span></p>
<p style="margin-bottom: 0.28cm; font-variant: normal; font-style: normal; font-weight: normal; line-height: 129%; text-decoration: none">
<span style="background: transparent">Earn
recognition for your work and share your skills and knowledge with
others.</span></p>
<p><br/>
<br/>
<br/>

</p>
    </section>
</main>
