<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("How to use")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>${_("How to use?")}</h1>
        <h2>1. Sign up</h2>
        <p>Getting started is easy, you need to <a href="https://training.thellpa.com/register">create your llpa training account</a>. It gives you access to all available (current and future) courses, which are available anytime and anywhere.</p>
        <p id="sign-up-link"><a href="https://training.thellpa.com/register">SIGN UP NOW</a></p>
        <h2>2. Enroll in a course</h2>
        <p>Earn on your own schedule, you can take courses anytime and anywhere.</p>
        <h2>3. Earn certificates</h2>
        <p>Earn recognition for your work and share your skills and knowledge with others.</p>
        <h2>1. Registreren</h2>
        <p>Het is zeer eenvoudig om te starten met Computrain On Demand. Je begint met het maken van een
        account. Daarmee krijg je toegang tot een groot deel van de beschikbare cursussen, die altijd en
        overal beschikbaar zijn.</p>
        <p><a href="/register">Registreer</a> je nu</p>
        <h2>2. Inschrijven voor een cursus</h2>
        <p>Je kunt je voor alle beschikbare cursussen inschrijven om deze altijd en overal te kunnen volgen.</p>
        <h2>3. Certifificering</h2>
        <p>Valideer je kennis met Certificates of Completion. Deel je skills en kennis met anderen.</p>
    </section>
</main>
