<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("How to access")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>${_("How to access")}</h1>
        <p>${_("To access this service, you need to go to the iMlango site and click there on Camara Education.")}</p>
        <a href="https://imlango.co.ke">imlango.co.ke</a>
    </section>
</main>