<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("How to use")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>${_("How to use?")}</h1>
        <p>${_("1. SIGN UP")}</p>
        <p>${_("Getting started is easy, you need to create your Torque IT training account. It gives you access to all available (current and future) courses, which are available anytime and anywhere.")}</p>
        <p><a href="/register">SIGN UP NOW</a></p>
        <p>${_("2. ENROLL IN A COURSE")}</p>
        <p>${_("Earn on your own schedule, you can take courses anytime and anywhere.")}</p>
        <p>${_("3. EARN CERTIFICATES")}</p>
        <p>${_("Earn recognition for your work and share your skills and knowledge with others.")}</p>
    </section>
</main>
