<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Partners")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>${_("Partners")}</h1>
        <div class="promo-slider promo-slider_other">
            <div class="promo-slider__box promo-slider__box_other">
                <div class="promo-slider__img-holder">
                    <img src="/static/${settings.DEFAULT_SITE_THEME}/images/promo/Lenovo.png" alt="promo slider lenovo" class="promo-slider__img-promo">
                </div>
                <div class="promo-slider__text-box">
                    <p class="promo-slider__text">Lenovo</p>
                </div>
            </div>
            <div class="promo-slider__box promo-slider__box_other">
                <div class="promo-slider__img-holder">
                    <img src="/static/${settings.DEFAULT_SITE_THEME}/images/promo/rutgers_university.png" alt="promo slider rutgers university" class="promo-slider__img-promo">
                </div>
                <div class="promo-slider__text-box">
                    <p class="promo-slider__text">Rutgers</p>
                </div>
            </div>
            <div class="promo-slider__box promo-slider__box_other">
                <div class="promo-slider__img-holder">
                    <img src="/static/${settings.DEFAULT_SITE_THEME}/images/promo/iamcp_logo.png" alt="promo slider iamcp" class="promo-slider__img-promo">
                </div>
                <div class="promo-slider__text-box">
                    <p class="promo-slider__text">IAMCP</p>
                </div>
            </div>
            <div class="promo-slider__box promo-slider__box_other">
                <div class="promo-slider__img-holder">
                    <img src="/static/${settings.DEFAULT_SITE_THEME}/images/promo/Nurture_Markeitng.png" alt="promo slider Nurture Markeitng" class="promo-slider__img-promo">
                </div>
                <div class="promo-slider__text-box">
                    <p class="promo-slider__text">Nurture Marketing</p>
                </div>
            </div>
            <div class="promo-slider__box promo-slider__box_other">
                <div class="promo-slider__img-holder">
                    <img src="/static/${settings.DEFAULT_SITE_THEME}/images/promo/microsofts-logo.jpg" alt="promo slider microsofts" class="promo-slider__img-promo">
                </div>
                <div class="promo-slider__text-box">
                    <p class="promo-slider__text">Microsoft</p>
                </div>
            </div>
            <div class="promo-slider__box promo-slider__box_other">
                <div class="promo-slider__img-holder">
                    <img src="/static/${settings.DEFAULT_SITE_THEME}/images/promo/Cisco.png" alt="promo slider Cisco" class="promo-slider__img-promo">
                </div>
                <div class="promo-slider__text-box">
                    <p class="promo-slider__text">Cisco</p>
                </div>
            </div>
            <div class="promo-slider__box promo-slider__box_other">
                <div class="promo-slider__img-holder">
                    <img src="/static/${settings.DEFAULT_SITE_THEME}/images/promo/Citrix.png" alt="promo slider img" class="promo-slider__img-promo">
                </div>
                <div class="promo-slider__text-box">
                    <p class="promo-slider__text">Citrix</p>
                </div>
            </div>
            <div class="promo-slider__box promo-slider__box_other">
                <div class="promo-slider__img-holder">
                    <img src="/static/${settings.DEFAULT_SITE_THEME}/images/promo/CommVault.jpg" alt="promo slider img" class="promo-slider__img-promo">
                </div>
                <div class="promo-slider__text-box">
                    <p class="promo-slider__text">Commvault</p>
                </div>
            </div>
            <div class="promo-slider__box promo-slider__box_other">
                <div class="promo-slider__img-holder">
                    <img src="/static/${settings.DEFAULT_SITE_THEME}/images/promo/Marketing_Monarchs.jpg" alt="promo slider img" class="promo-slider__img-promo">
                </div>
                <div class="promo-slider__text-box">
                    <p class="promo-slider__text">Marketing Monarchs</p>
                </div>
            </div>
        </div>
    </section>
</main>