<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Partners")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>${_("Partners")}</h1>
        <div class="promo-slider promo-slider_other">
            <div class="promo-slider__box promo-slider__box_other">
                <div class="promo-slider__img-holder">
                    <img src="/static/${settings.FEATURES.get('IAMCP_SITE_THEME', settings.DEFAULT_SITE_THEME)}/images/promo/bit.png" alt="promo slider lenovo" class="promo-slider__img-promo">
                </div>
                <div class="promo-slider__text-box">
                    <p class="promo-slider__text">BitTitan</p>
                </div>
            </div>
            <div class="promo-slider__box promo-slider__box_other">
                <div class="promo-slider__img-holder">
                    <img src="/static/${settings.FEATURES.get('IAMCP_SITE_THEME', settings.DEFAULT_SITE_THEME)}/images/promo/mslogo.png" alt="promo slider rutgers university" class="promo-slider__img-promo">
                </div>
                <div class="promo-slider__text-box">
                    <p class="promo-slider__text">Microsoft</p>
                </div>
            </div>
            <div class="promo-slider__box promo-slider__box_other">
                <div class="promo-slider__img-holder">
                    <img src="/static/${settings.FEATURES.get('IAMCP_SITE_THEME', settings.DEFAULT_SITE_THEME)}/images/promo/LLTV.png" alt="promo slider iamcp" class="promo-slider__img-promo">
                </div>
                <div class="promo-slider__text-box">
                    <p class="promo-slider__text">LLTV</p>
                </div>
            </div>
            <div class="promo-slider__box promo-slider__box_other">
                <div class="promo-slider__img-holder">
                    <img src="/static/${settings.FEATURES.get('IAMCP_SITE_THEME', settings.DEFAULT_SITE_THEME)}/images/promo/CompTIA.png" alt="promo slider CompTIA" class="promo-slider__img-promo">
                </div>
                <div class="promo-slider__text-box">
                    <p class="promo-slider__text">CompTIA</p>
                </div>
            </div>
            <div class="promo-slider__box promo-slider__box_other">
                <div class="promo-slider__img-holder">
                    <img src="/static/${settings.FEATURES.get('IAMCP_SITE_THEME', settings.DEFAULT_SITE_THEME)}/images/promo/ComcastBusiness.png" alt="promo slider Comcast Business" class="promo-slider__img-promo">
                </div>
                <div class="promo-slider__text-box">
                    <p class="promo-slider__text">Comcast Business</p>
                </div>
            </div>
            <div class="promo-slider__box promo-slider__box_other">
                <div class="promo-slider__img-holder">
                    <img src="/static/${settings.FEATURES.get('IAMCP_SITE_THEME', settings.DEFAULT_SITE_THEME)}/images/promo/Sherweb.png" alt="promo slider SherWeb" class="promo-slider__img-promo">
                </div>
                <div class="promo-slider__text-box">
                    <p class="promo-slider__text">SherWeb</p>
                </div>
            </div>
            <div class="promo-slider__box promo-slider__box_other">
                <div class="promo-slider__img-holder">
                    <img src="/static/${settings.FEATURES.get('IAMCP_SITE_THEME', settings.DEFAULT_SITE_THEME)}/images/promo/Cytellix.png" alt="promo slider Cytellix" class="promo-slider__img-promo">
                </div>
                <div class="promo-slider__text-box">
                    <p class="promo-slider__text">Cytellix</p>
                </div>
            </div>
            <div class="promo-slider__box promo-slider__box_other">
                <div class="promo-slider__img-holder">
                    <img src="/static/${settings.FEATURES.get('IAMCP_SITE_THEME', settings.DEFAULT_SITE_THEME)}/images/promo/QueueAssociates.jpg" alt="promo slider Queue Associates" class="promo-slider__img-promo">
                </div>
                <div class="promo-slider__text-box">
                    <p class="promo-slider__text">Queue Associates</p>
                </div>
            </div>
            <div class="promo-slider__box promo-slider__box_other">
                <div class="promo-slider__img-holder">
                    <img src="/static/${settings.FEATURES.get('IAMCP_SITE_THEME', settings.DEFAULT_SITE_THEME)}/images/promo/CrossMatch.png" alt="promo slider Cross Match" class="promo-slider__img-promo">
                </div>
                <div class="promo-slider__text-box">
                    <p class="promo-slider__text">Cross Match</p>
                </div>
            </div>
            <div class="promo-slider__box promo-slider__box_other">
                <div class="promo-slider__img-holder">
                    <img src="/static/${settings.FEATURES.get('IAMCP_SITE_THEME', settings.DEFAULT_SITE_THEME)}/images/promo/VoicesForInnovation.png" alt="promo slider Voices for Innovation" class="promo-slider__img-promo">
                </div>
                <div class="promo-slider__text-box">
                    <p class="promo-slider__text">Voices for Innovation</p>
                </div>
            </div>
        </div>
    </section>
</main>
