<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Partners")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>${_("Partners")}</h1>
        <div class="promo-slider promo-slider_other">
            <div class="promo-slider__box promo-slider__box_other">
                <div class="promo-slider__img-holder">
                    <img src="/static/${settings.FEATURES.get('IAMCP_SITE_THEME', settings.DEFAULT_SITE_THEME)}/images/promo/bit.png" alt="promo slider lenovo" class="promo-slider__img-promo">
                </div>
                <div class="promo-slider__text-box">
                    <p class="promo-slider__text">BitTitan</p>
                </div>
            </div>
            <div class="promo-slider__box promo-slider__box_other">
                <div class="promo-slider__img-holder">
                    <img src="/static/${settings.FEATURES.get('IAMCP_SITE_THEME', settings.DEFAULT_SITE_THEME)}/images/promo/mslogo.png" alt="promo slider rutgers university" class="promo-slider__img-promo">
                </div>
                <div class="promo-slider__text-box">
                    <p class="promo-slider__text">Microsoft</p>
                </div>
            </div>
            <div class="promo-slider__box promo-slider__box_other">
                <div class="promo-slider__img-holder">
                    <img src="/static/${settings.FEATURES.get('IAMCP_SITE_THEME', settings.DEFAULT_SITE_THEME)}/images/promo/LLTV.png" alt="promo slider iamcp" class="promo-slider__img-promo">
                </div>
                <div class="promo-slider__text-box">
                    <p class="promo-slider__text">LLTV</p>
                </div>
            </div>
        </div>
    </section>
</main>