<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>

    <%inherit file="../main.html" />

<%block name="pagetitle">${_("Privacy Policy")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>Privacy Statement</h1>
        <p>This statement relates to Camara’s privacy practices in connection with this website. We are not responsible for the content or privacy practices of other websites. Any external links to other websites are clearly identifiable as such.</p>   


        <h2>GENERAL STATEMENT</h2>
        <p>Camara fully respects your right to privacy, and will not collect any personal information about you on this website without your clear permission. Any personal information which you volunteer will be treated with security and confidentiality, strictly in accordance with EU standards and the Data Protection Acts, 1988 & 2003.</p> 


        <h2>COLLECTION AND USE OF PERSONAL INFORMATION</h2> 
        <p>Camara does not collect any personal data about you on this learning platform, apart from information which you volunteer. Any information which you provide in this way is not made available to any third parties, and is used by Camara only in line with the purpose for which you provided it.</p> 


        <h2>REQUESTS REGARDING DATA SUPPLIED VIA THIS WEBSITE</h2>
        <p>
            On request, we supply copies of your personal data which you may have provided via this website. If you wish to obtain such copies, request this information by sending an email to elearning@camara.org. You should include any personal identifiers which you supplied earlier via the website (e.g. Name; address; phone number; e-mail address). Your request will be dealt with as soon as possible and will take not more than 30 days to process.
            If you discover that we hold inaccurate information about you, you can provide us with updated information by sending an email to elearning@camara.org with the correct details.
        </p>
    </section>
</main>
