<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>

<%inherit file="../main.html" />

<%block name="pagetitle">${_("Privacy Policy")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>${_("Privacy Policy")}</h1>
        <p>${_("Netcampus (Pty) Ltd (“Netcampus”) is committed to protecting User/Client’s privacy to ensure a secure online experience. This Statement explains data collection and use practices of the Netcampus website (the “Site”) hosted by Netcampus; it does not apply to any other online or offline sites, products or services.")}</p>
        <h2>${_("Your Consent")}</h2>
        <p>${_("By registering on the Site for participation in a Course, you are consenting to the information collection and use practices described in this Statement. “Personal Information” relates to information relating to an identifiable, living natural person, and where it is applicable, an identifiable, existing juristic person as defined in the Protection of Personal Information Act No. 4 of 2013.")}</p>
        <h2>${_("Collecting Personal Information")}</h2>
        <p>${_("Netcampus will collect personal information if User chooses to register for a Course on the Site. The Personal Information Netcampus collects includes, but not limited to, User/ Client name, title, company or organisation name, work e-mail, work phone, work or home address, information about your job function, information about your company and any other information relevant to customer surveys. ")}</p>
        <h2>${_("Netcampus uses Personal Information for the following purposes:")}</h2>
        <ul>
            <li>${_("To register User/Client for a Course on the Site, and allow access to the Site. ")}</li>
            <li>${_("To confirm by e-mail any contact requests submitted through the Site.")}</li>
        </ul>
        <p>${_("If User/Client does not provide the required personal information to Netcampus, User/Client will not be able to register for a Course.")}</p>
        <p>${_("Netcampus may use User/Client Personal Information and/or Program participation information for purposes of compiling, analysing or reporting any historical, statistical or research data, and that such data will not be published in a form which specifically identifies User/Client and their Personal Information.")}</p>
        <h2>${_("About Children")}</h2>
        <p>${_("This site is not intended for children under the age of 18.We will not knowingly collect personally identifiable information via this site from visitors in this age group. We therefore ask you, if you are in this age group to get your parent or guardian to submit personal information on your behalf, should you need to use our services, thereby providing us with your personal information.")}</p>
        <h2>${_("Control of Personal Information")}</h2>
        <p>${_("Except as otherwise described in this Statement, Netcampus will not disclose any of User/Client’s Personal Information and or Program participation information to any third party without written consent or otherwise when required to do so by law. ")}</p>
        <p>${_("Please be aware that this Statement and the choices made on the Site will not necessarily apply to Personal Information User/Client may have provided to Netcampus in the context of other, separately operated, Netcampus online products or services. ")}</p>
        <h2>${_("Keeping our records accurate")}</h2>
        <p>${_("Subject to compliance with any applicable laws, a User/Client is entitled to access their personal information in Netcampus’ possession and to request that Netcampus correct any such information, if need be.")}</p>
        <h2>${_("Security of Personal Information")}</h2>
        <p>${_("Netcampus protects the security of User/Client’s Personal Information and honours your choice for its intended use. ")}</p>
        <h2>${_("Links to Other Web sites")}</h2>
        <p>${_("This Site may contain links to other websites. Please be aware that this Statement applies solely to the information collected on the Netcampus Website (www.netcampus.com) and its derivatives. Netcampus is not responsible for the privacy practices or the content of other websites.")}</p>
        <h2>${_("IP addresses and cookies")}</h2>
        <p>${_("Netcampus may collect information about your computer, including where available your IP address, operating system and browser type, for system administration and to report aggregate information to our business partners. This is statistical data about Netcampus users' browsing actions and patterns, and does not identify any individual.")}</p>
        <p>${_("For the same reason, Netcampus may obtain information about your general internet usage by using a “cookie file” which is stored on the hard drive of your computer. “Cookies” refers to information that is sent from the site to your hard drive where it is saved and contains information to personalise your experience on the site. In this way, the next time you use the site, Netcampus will know who you are and that you have visited the site before. Cookies help Netcampus to improve the site and to deliver a better and more personalised service. Cookies also enable Netcampus:")}</p>
        <ul>
            <li>${_("To estimate audience size and usage pattern.")}</li>
            <li>${_("To store information about your preferences, and so allow Netcampus to customise the site according to your individual interests.")}</li>
            <li>${_("To speed up your searches.")}</li>
        </ul>
        <p>${_("You may refuse to accept cookies by activating the setting on your browser which allows you to refuse the setting of cookies. Unless you have adjusted your browser setting so that it will refuse cookies, Netcampus system will issue cookies when you log on to the site.")}</p>
        <h2>${_("Confidentiality")}</h2>
        <p>${_("Netcampus warrants that it shall hold in strict confidence and not use Client personal information for any purpose other than with the express written consent of the Client and to the extent necessary in order to provide a Service.")}</p>
        <p>${_("In compliance with section 19 of the Protection of Personal Information Act, Netcampus further warrants that it shall ensure that all its systems and operations which it uses to provide the Service shall at all times be of a minimum standard required by law and further be of a standard no less than the standards which are in compliance with international best practice for the protection, control and use of personal information.")}</p>
        <h2>${_("Unsolicited Communication")}</h2>
        <p>${_("Provided that User/Client has agreed to this and subject to section 45 of the ECT Act, Netcampus may use personal or other information provided by User/Client to send you information on new services or products that may be of interest. From time to time Netcampus will mail, email or SMS information to you about us, our products and services, or our partners and their products or services. If you do not wish to continue receiving this information you may contact us and we will remove you from our mailing list.")}</p>
        <h2>${_("Changes to This Statement ")}</h2>
        <p>${_("Netcampus may occasionally update this Statement. When we do, we will also revise the “last updated” date at the bottom of the Statement. Netcampus encourages User/Client to periodically review this Statement to stay informed about how we are protecting the personal information we collect. User/Client’s continued use of the service constitutes your agreement to this Statement and any updates.")}</p>
    </section>
</main>
