<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>

<%inherit file="../main.html" />

<%block name="pagetitle">${_("Privacy Policy")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <p><strong>${_("Kebijakan Privasi")}</strong></p>
        <p>${_("Di Trust Certified Skills Academy (TCSA), kami berkomitmen untuk menjaga kerahasiaan dan keamanan informasi pribadi Anda. Kami akan menggunakan upaya yang wajar untuk memastikan informasi pribadi Anda aman sesuai Kebijakan Privasi ini. Kata \"Informasi Pribadi\" akan dijelaskan di bawah ini. Kata \"website\" yang ada di Kebijakan Privasi ini merujuk pada TCSA.")}</p>
        <p><strong>${_("Nama Pengguna dan Pesan (Posting)")}</strong></p>
        <p>${_("Komentar atau informasi lain yang Anda cantumkan ke forum website ditujukan untuk umum atau sesama peserta kursus, termasuk di dalamnya Siswa TCSA, Instruktur, Asisten Pengajar, dan pihak lain yang terkait dalam kursus. Dengan demikian, informasi yang tercantum dalam website dapat dilihat dan diunduh oleh pihak lain lain yang mengunjungi website. Untuk alasan ini, kami menyarankan Anda untuk bijaksana dalam memasukkan informasi ke website.")}</p>
        <p><strong>${_("Informasi Pribadi")}</strong></p>
        <p>${_("\"Informasi Pribadi\" yang dimaksud dalam Kebijakan Privasi adalah setiap informasi tentang diri Anda yang dimasukkan ketika menggunakan website, seperti ketika Anda mendaftarkan diri untuk membuat akun pengguna, atau informasi yang Anda masukkan ketika melakukan transaksi di website, yang termasuk (tapi tidak terbatas pada) nama Anda, informasi kontak, gender, tanggal lahir, pekerjaan, dan informasi yang Anda masukkan ketika memproses Sertifikat TCSA, atau surat keterangan yang diterbitkan pemerintah. TCSA saat ini tidak menghimpun informasi finansial Anda, namun, jika Anda melakukan pembayaran Sertifikat TCSA, data Anda akan dihubungkan dengan pihak ketiga yang memproses pembayaran, dan penyampaian informasi terkait pembayaran akan tunduk pada ketentuan pembayaran yang ada di Ketentuan Layanan.")}</p>
        <p><strong>${_("Penggunaan dan Pernyataan kepada Pihak Ketiga")}</strong></p>
        <p>${_("Kami dan Mitra TCSA yang menyediakan kursus melalui TCSA dapat menggunakan, membagikan atau mengungkapkan informasi Anda yang didapatkan melalui website (termasuk Informasi Pribadi) dalam kaitannya dengan hal berikut: (1) pihak ketiga yang menerima Informasi Pribadi diwajibkan menjaga kerahasiaan, menjaga keamanan, dan melindungi informasi dari risiko kehilangan, disalahgunakan, penyingkapan kepada pihak yang tidak berhak, perubahan, dan kerusakan; dan (2) kami hanya akan mengungkapkan dan membagikan Informasi Pribadi yang dibutuhkan oleh pihak ketiga saat data tersebut dimasukkan.")}</p>
    </section>
</main>
