<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">Школы</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <article class="promo-block">
      <div class="promo-block__holder">
        <div class="video-box">
          <div class="video-box__holder">
            <div class="video-box__blur">
              <img src="/static/${settings.DEFAULT_SITE_THEME}/images/promo-box-img.jpg" alt="promo box img">
            </div>
            <h2 class="video-box_school-name">CУНЦ МГУ</h2>
            <ul class="video-box__list">
              <li class="video-box__list-item"><strong>Топ-5</strong>российских школ</li>
              <li class="video-box__list-item">город <strong>Москва</strong></li>
            </ul>
          </div>
          <img src="/static/${settings.DEFAULT_SITE_THEME}/images/promo-box-img.jpg" alt="promo box img">
        </div>
        <div class="course-section">
          <a class="course-section__item" href="#">
            <img src="/static/${settings.DEFAULT_SITE_THEME}/images/img1.jpg" alt="course img">
            <div class="course-section__description">
              <span class="course-section__stat course-section__stat_color1">НОВЫЙ КУРС!</span>
              <strong class="course-section__name">Механика</strong>
              <span class="course-section__school">СУНЦ МГУ</span>
            </div>
          </a>
          <a class="course-section__item" href="#">
            <img src="/static/${settings.DEFAULT_SITE_THEME}/images/img2.jpg" alt="course img">
            <div class="course-section__description">
              <span class="course-section__stat course-section__stat_color2">ПОПУЛЯРНЫЙ КУРС</span>
              <strong class="course-section__name">Статистика</strong>
              <span class="course-section__school">СУНЦ МГУ</span>
            </div>
          </a>
          <a class="course-section__item" href="#">
            <img src="/static/${settings.DEFAULT_SITE_THEME}/images/img3.jpg" alt="course img">
            <div class="course-section__description">
              <span class="course-section__stat course-section__stat_color3">ПОПУЛЯРНЫЙ КУРС</span>
              <strong class="course-section__name">Экономика</strong>
              <span class="course-section__school">СУНЦ МГУ</span>
            </div>
          </a>
        </div>
      </div>
  </article>
   <article class="promo-block">
      <div class="promo-block__holder">
        <div class="video-box">
          <div class="video-box__holder">
            <div class="video-box__blur">
              <img src="/static/${settings.DEFAULT_SITE_THEME}/images/promo-box-img.jpg" alt="promo box img">
            </div>
            <h2 class="video-box_school-name">CУНЦ МГУ</h2>
            <ul class="video-box__list">
              <li class="video-box__list-item"><strong>Топ-5</strong>российских школ</li>
              <li class="video-box__list-item">город <strong>Москва</strong></li>
            </ul>
          </div>
          <img src="/static/${settings.DEFAULT_SITE_THEME}/images/promo-box-img.jpg" alt="promo box img">
        </div>
        <div class="course-section">
          <a class="course-section__item" href="#">
            <img src="/static/${settings.DEFAULT_SITE_THEME}/images/img1.jpg" alt="course img">
            <div class="course-section__description">
              <span class="course-section__stat course-section__stat_color1">НОВЫЙ КУРС!</span>
              <strong class="course-section__name">Пределы</strong>
              <span class="course-section__school">Школа 1329</span>
            </div>
          </a>
          <a class="course-section__item" href="#">
            <img src="/static/${settings.DEFAULT_SITE_THEME}/images/img2.jpg" alt="course img">
            <div class="course-section__description">
              <span class="course-section__stat course-section__stat_color2">ПОПУЛЯРНЫЙ КУРС</span>
              <strong class="course-section__name">Производные</strong>
              <span class="course-section__school">Школа 1329</span>
            </div>
          </a>
          <a class="course-section__item" href="#">
            <img src="/static/${settings.DEFAULT_SITE_THEME}/images/img3.jpg" alt="course img">
            <div class="course-section__description">
              <span class="course-section__stat course-section__stat_color3">ПОПУЛЯРНЫЙ КУРС</span>
              <strong class="course-section__name">Интегралы</strong>
              <span class="course-section__school">Школа 1329</span>
            </div>
          </a>
        </div>
      </div>
  </article>
   <article class="promo-block">
      <div class="promo-block__holder">
        <div class="video-box">
          <div class="video-box__holder">
            <div class="video-box__blur">
              <img src="/static/${settings.DEFAULT_SITE_THEME}/images/promo-box-img.jpg" alt="promo box img">
            </div>
            <h2 class="video-box_school-name">CУНЦ МГУ</h2>
            <ul class="video-box__list">
              <li class="video-box__list-item"><strong>Топ-5</strong>российских школ</li>
              <li class="video-box__list-item">город <strong>Москва</strong></li>
            </ul>
          </div>
          <img src="/static/${settings.DEFAULT_SITE_THEME}/images/promo-box-img.jpg" alt="promo box img">
        </div>
        <div class="course-section">
          <a class="course-section__item" href="#">
            <img src="/static/${settings.DEFAULT_SITE_THEME}/images/img1.jpg" alt="course img">
            <div class="course-section__description">
              <span class="course-section__stat course-section__stat_color1">НОВЫЙ КУРС!</span>
              <strong class="course-section__name">Экономика - 1</strong>
              <span class="course-section__school">Intellectuale</span>
            </div>
          </a>
          <a class="course-section__item" href="#">
            <img src="/static/${settings.DEFAULT_SITE_THEME}/images/img2.jpg" alt="course img">
            <div class="course-section__description">
              <span class="course-section__stat course-section__stat_color2">ПОПУЛЯРНЫЙ КУРС</span>
              <strong class="course-section__name">Экономика - 2</strong>
              <span class="course-section__school">Intellectuale</span>
            </div>
          </a>
          <a class="course-section__item" href="#">
            <img src="/static/${settings.DEFAULT_SITE_THEME}/images/img3.jpg" alt="course img">
            <div class="course-section__description">
              <span class="course-section__stat course-section__stat_color3">ПОПУЛЯРНЫЙ КУРС</span>
              <strong class="course-section__name">Статистика</strong>
              <span class="course-section__school">Intellectuale</span>
            </div>
          </a>
        </div>
      </div>
  </article>
</main>
