<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">Школы</%block>

<main id="main" aria-label="Content" tabindex="-1"> <article class="promo-block">
      <div class="promo-block__holder">
        <div class="video-box">
          <div class="video-box__holder">
            <div class="video-box__blur">
              <img src="/static/${settings.DEFAULT_SITE_THEME}/images/main-slide01.jpg" alt="promo box img">
            </div>
            <div class="video-box__helper"></div>
            <h2 class="video-box_school-name">CУНЦ МГУ</h2>
            <ul class="video-box__list">
              <li class="video-box__list-item"><strong>Топ-5</strong>российских школ</li>
              <li class="video-box__list-item">город <strong>Москва</strong></li>
            </ul>
          </div>
          <img src="/static/${settings.DEFAULT_SITE_THEME}/images/main-slide01.jpg" alt="promo box img">
        </div>
        <div class="course-section">
          <a class="course-section__item" href="https://intellectuale.ru/courses/course-v1:AESC_MSU+001+2017/about">
            <img src="/static/${settings.DEFAULT_SITE_THEME}/images/img1.jpg" alt="course img">
            <div class="course-section__description">
              <span class="course-section__stat course-section__stat_color1">НОВЫЙ КУРС!</span>
              <strong class="course-section__name">Кинематика</strong>
              <span class="course-section__school">СУНЦ МГУ</span>
            </div>
          </a>
          <a class="course-section__item" href="https://intellectuale.ru/courses/course-v1:AESC_MSU+008+2017/about">
            <img src="/static/${settings.DEFAULT_SITE_THEME}/images/img2.jpg" alt="course img">
            <div class="course-section__description">
              <span class="course-section__stat course-section__stat_color2">СКОРО РЕГИСТРАЦИЯ</span>
              <strong class="course-section__name">Динамика</strong>
              <span class="course-section__school">СУНЦ МГУ</span>
            </div>
          </a>
          <a class="course-section__item" href="https://intellectuale.ru/courses/course-v1:AESC_MSU+003+2017/about">
            <img src="/static/${settings.DEFAULT_SITE_THEME}/images/img3.jpg" alt="course img">
            <div class="course-section__description">
              <span class="course-section__stat course-section__stat_color3">СКОРО РЕГИСТРАЦИЯ</span>
              <strong class="course-section__name">Законы сохранения</strong>
              <span class="course-section__school">СУНЦ МГУ</span>
            </div>
          </a>
        </div>
      </div>
  </article>
   <article class="promo-block">
      <div class="promo-block__holder">
        <div class="video-box">
          <div class="video-box__holder">
            <div class="video-box__blur">
              <img src="/static/${settings.DEFAULT_SITE_THEME}/images/main-slide02.jpg" alt="promo box img">
            </div>
            <div class="video-box__helper"></div>
            <h2 class="video-box_school-name">Школа 1329</h2>
            <ul class="video-box__list">
              <li class="video-box__list-item"><strong>Топ-5</strong>российских школ</li>
              <li class="video-box__list-item">город <strong>Москва</strong></li>
            </ul>
          </div>
          <img src="/static/${settings.DEFAULT_SITE_THEME}/images/main-slide02.jpg" alt="promo box img">
        </div>
        <div class="course-section">
          <a class="course-section__item" href="https://intellectuale.ru/courses/course-v1:AESC_MSU+005+2017/about">
            <img src="/static/${settings.DEFAULT_SITE_THEME}/images/img5.jpg" alt="course img">
            <div class="course-section__description">
              <span class="course-section__stat course-section__stat_color1">СКОРО РЕГИСТРАЦИЯ</span>
              <strong class="course-section__name">Пределы</strong>
              <span class="course-section__school">Школа 1329</span>
            </div>
          </a>
          <a class="course-section__item" href="https://intellectuale.ru/courses/course-v1:1329+003+2017/about">
            <img src="/static/${settings.DEFAULT_SITE_THEME}/images/img6.jpg" alt="course img">
            <div class="course-section__description">
              <span class="course-section__stat course-section__stat_color2">ПОПУЛЯРНЫЙ КУРС</span>
              <strong class="course-section__name">Производные</strong>
              <span class="course-section__school">Школа 1329</span>
            </div>
          </a>
          <a class="course-section__item" href="https://intellectuale.ru/courses/course-v1:1329+008+2017/about">
            <img src="/static/${settings.DEFAULT_SITE_THEME}/images/img7.jpg" alt="course img">
            <div class="course-section__description">
              <span class="course-section__stat course-section__stat_color3">СКОРО РЕГИСТРАЦИЯ</span>
              <strong class="course-section__name">Интегралы</strong>
              <span class="course-section__school">Школа 1329</span>
            </div>
          </a>
        </div>
      </div>
  </article>
   <article class="promo-block">
      <div class="promo-block__holder">
        <div class="video-box">
          <div class="video-box__holder">
            <div class="video-box__blur">
              <img src="/static/${settings.DEFAULT_SITE_THEME}/images/main-slide03.jpg" alt="promo box img">
            </div>
            <div class="video-box__helper"></div>
            <h2 class="video-box_school-name">Intellectuale</h2>
            <ul class="video-box__list">
              <li class="video-box__list-item">Собственные курсы <br> онлайн-платформы</li>
            </ul>
          </div>
          <img src="/static/${settings.DEFAULT_SITE_THEME}/images/main-slide03.jpg" alt="promo box img">
        </div>
        <div class="course-section">
          <a class="course-section__item" href="https://intellectuale.ru/courses/course-v1:Intellectuale+001+2017/about">
            <img src="/static/${settings.DEFAULT_SITE_THEME}/images/img4.jpg" alt="course img">
            <div class="course-section__description">
              <span class="course-section__stat course-section__stat_color1">НОВЫЙ КУРС!</span>
              <strong class="course-section__name">Vocabulary – 1</strong>
              <span class="course-section__school">Intellectuale</span>
            </div>
          </a>
          <a class="course-section__item" href="https://intellectuale.ru/courses/course-v1:Intellectuale+002+2017/about">
            <img src="/static/${settings.DEFAULT_SITE_THEME}/images/img2.jpg" alt="course img">
            <div class="course-section__description">
              <span class="course-section__stat course-section__stat_color2">ПОПУЛЯРНЫЙ КУРС</span>
              <strong class="course-section__name">Статистика – 1</strong>
              <span class="course-section__school">Intellectuale</span>
            </div>
          </a>
          <a class="course-section__item" href="https://intellectuale.ru/courses/course-v1:Intellectuale+007+2017/about">
            <img src="/static/${settings.DEFAULT_SITE_THEME}/images/img3.jpg" alt="course img">
            <div class="course-section__description">
              <span class="course-section__stat course-section__stat_color3">СКОРО РЕГИСТРАЦИЯ</span>
              <strong class="course-section__name">Экономика – 1</strong>
              <span class="course-section__school">Intellectuale</span>
            </div>
          </a>
        </div>
      </div>
  </article>
</main>
