<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Support")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container support">
        <h1>${_("Support")}</h1>
        <h2>Scania Academy support</h2>
		<p>Our English and Swedish speaking support will normally help you within one hour and is staffed<br>
		Monday to Friday 09:00 - 17:00 (Sweden/Stockholm)</p>
		<p>You can contact us via: <br>
		E-mail: <a href="mailto:support-scania@kthplus.se"></a>support-scania@kthplus.se<br>
		Phone: 08-506 375 88</p>
		<p>
		Best regards,<br>
		Scania Academy support team
		</p>
    </section>
</main>
