<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Terms of Service")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <div class="teacher-box">
            <div class="teacher-box_header">
                <div class="teacher-box_img-holder">
                    <img class="teacher-box_img" src="https://cdn.iversity.org/users/1530620/thumb_270_69899608476060.jpg" alt="teacher">
                </div>
                <div class="teacher-box_info">
                    <h2 class="teacher-box_name">Harald Sander</h2>
                    <!-- <span class="teacher-box_position">Lorem ipsum ipsum</span>
                    <p class="teacher-box_university">consectetur adipisicing</p> -->
                </div>
            </div>
            <p class="teacher-box_text">Dr. Harald Sander is Professor of Economics and International Economics at Cologne University of Applied Sciences (CUAS) and holds a Jean Monnet Chair “Europe in the Global Economy”. He is also the director of the Institute of Global Business and Society (GLOBUS) at CUAS. He specializes in international economics and has published numerous articles in leading journals. More recently he has developed a new research and research-based teaching focus on eco-innovation in the global economy and participates with GLOBUS in a CUAS research network on the water-energy-food-security nexus.</p>
        </div>
    </section>
</main>
