<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Terms of Service")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <div class="teacher-box">
            <div class="teacher-box_header">
                <div class="teacher-box_img-holder">
                    <img class="teacher-box_img" src="http://edusolutions.asia/edX/DrKaren.jpg" alt="teacher">
                </div>
                <div class="teacher-box_info">
                    <h2 class="teacher-box_name">Dr. Karen Sudmeier</h2>
                    <!-- <span class="teacher-box_position">Leads the thematic group on disaster risk reduction</span>
                    <p class="teacher-box_university">consectetur adipisicing</p> -->
                </div>
            </div>
            <p class="teacher-box_text">Dr. Sudmeier leads the thematic group on disaster risk reduction for IUCN’s Commission on Ecosystems Management. She is also a senior researcher at the University of Lausanne,Institute for Earth Science, where she manages projects on landslide risk reduction and bioengineering in Nepal. She is an education and training consultant with the United Nations Environment Programme, developing training and teaching modules on ecosystem-based disaster risk reduction. She holds a PhD in Environmental Science from the University of Lausanne and Masters’ degrees in international development and forest ecology. She has authored a number of publications and scientific articles, and is a co-editor of a recent book, entitled “The Role of Ecosystems in Disaster Risk Reduction”.</p>
        </div>
    </section>
</main>
