<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Terms of Service")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <div class="teacher-box">
            <div class="teacher-box_header">
                <div class="teacher-box_img-holder">
                    <img class="teacher-box_img" src="https://cdn.iversity.org/users/1530614/thumb_270_69899608477260.jpg" alt="teacher">
                </div>
                <div class="teacher-box_info">
                    <h2 class="teacher-box_name">Prof. Dr. Lars Ribbe</h2>
                    <!-- <span class="teacher-box_position">Lorem ipsum ipsum</span>
                    <p class="teacher-box_university">consectetur adipisicing</p> -->
                </div>
            </div>
            <p class="teacher-box_text">Lars Ribbe is a professor for integrated land and water resources management and director at the Institute for Technology and Resources Management in the Tropics and Subtropics (ITT), Cologne University of Applied Sciences. His work areas include river basin assessment, modelling and management and he is specifically interested in developing knowledge systems which help decision makers to cope with prevailing water resources related challenges like water scarcity and drought, floods and pollution After obtaining degrees in Chemistry (Bremen University) and Master of Engineering (Cologne University of Applied Sciences) he received his PhD (Dr.rer.nat) in the field of Hydro-informatics at Friedrich Schiller University Jena. At ITT he is coordinating international master programs the research focus “Water-Energy and Food Security Nexus” and an international university network involving over 15 universities from around the globe (CNRD).</p>
        </div>
    </section>
</main>
