<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Terms of Service")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <div class="teacher-box">
            <div class="teacher-box_header">
                <div class="teacher-box_img-holder">
                    <img class="teacher-box_img" src="/assets/courseware/c4fb1441663c6ef2c94e0335634599f3/asset-v1:RG+01+2017+type@asset+block/gerry_obrien.jpg" alt="teacher">
                </div>
                <div class="teacher-box_info">
                    <h2 class="teacher-box_name">Lorem ipsum</h2>
                    <span class="teacher-box_position">Lorem ipsum ipsum</span>
                    <p class="teacher-box_university">consectetur adipisicing</p>
                </div>
            </div>
            <p class="teacher-box_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab nesciunt aspernatur quasi quas corporis alias, quae nostrum error tempore, nisi reiciendis, recusandae. Dignissimos minima ratione veritatis, blanditiis id eos facilis! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab atque quae vel dignissimos ad eum officia, accusamus cupiditate, molestiae provident consequuntur ipsam, culpa, sint corporis deleniti qui facere. Nihil, quas!</p>
        </div>
    </section>
</main>
