<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Terms of Service")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <div class="teacher-box">
            <div class="teacher-box_header">
                <div class="teacher-box_img-holder">
                    <img class="teacher-box_img" src="http://edusolutions.asia/edX/DrSimone.jpg" alt="teacher">
                </div>
                <div class="teacher-box_info">
                    <h2 class="teacher-box_name">Assistant Prof. Dipl.-Ing Simone Sandholz M.Eng</h2>
                    <!-- <span class="teacher-box_position">Assistant Professor</span>
                    <p class="teacher-box_university">Institute of Geography, University of Innsbruck, Austria</p> -->
                </div>
            </div>
            <p class="teacher-box_text">Dipl.-Ing. Simone Sandholz M.Eng. is Assistant Professor at the Institute of Geography, University of Innsbruck, Austria. After graduating from architecture and urban planning, she completed a postgraduate degree in conservation and holds a Master in resources management. Her fields of expertise comprise urban and regional planning and sustainable management of natural resources, with a focus on good governance and livelihood approaches. She is researching, teaching and publishing on cultural landscapes, urban upgrading in the Global South as well as risk management in urban areas; furthermore she has managed an international research project on urban green spaces.</p>
        </div>
    </section>
</main>
