<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Terms of Service")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
  <section class="container about">
    <h1>Terms of Service</h1>
    <p>Welcome to the LMS (learning management system) of the BarWit web site (the "Website"). Please review the
      following
      terms (the "Terms") that govern your use of the images and other materials available on this Website. Please note
      that your use of the images and other materials available from our Website constitutes your agreement with BarWit
      to
      comply with and be bound by the Terms. Your first acceptance of the Terms applies to all future visits to the
      Website. BarWit may update these terms without notice to you.</p>

    <h1>Non-Disclosure Agreement/Confidentiality Agreement</h1>
    <p>This Non-Disclosure Agreement by and between BARWIT, an Idaho LLC , having its principal place of business at 518
      E.
      2nd Ave. Post Falls, ID (the “Disclosing Party"), and you the BARWIT client/user (the “Receiving Party”) who
      agrees
      to be bound by this Agreement.</p>

    <p>WHEREAS, through this Non-Disclosure Agreement, the Disclosing Party and the Receiving Party have entered into a
      relationship by which the Receiving Party may be exposed to certain confidential information of the Disclosing
      Party, in which the Disclosing Party has an interest in protecting.</p>

    <p>NOW, THEREFORE, in consideration of the mutual covenants and promises made by the parties hereto, the Disclosing
      Party and the Receiving Party (individually, each a “Party" and collectively, the “Parties") covenant and agree as
      follows:</p>

    <p>1. DEFINITIONS</p>

    <p>For the purposes of this Non-Disclosure Agreement, the following terms are defined as follows:</p>

    <p>a. “Trade Secrets" means all information possessed by or developed for the Disclosing Party to which all of the
      following apply: (i) the information derives independent economic value from not being generally known and (ii)
      the
      Disclosing Party takes reasonable precautions to prevent such information from being disclosed to the public.</p>

    <p>b. “Confidential Information" means information, to the extent it is not a Trade Secret, which is possessed by
      the
      Disclosing Party and which relates to the Disclosing Party, including, without limitation, for example: business
      plans, strategies, existing or proposed bids, costs, technical developments, financial or business projections,
      investments, marketing plans, or training information and materials.</p>

    <p>2. NON-DISCLOSURE OF CONFIDENTIAL INFORMATION</p>

    <p>Except with express authorization of the Disclosing Party or at the Disclosing Party's request, the Receiving
      Party
      shall not disclose, directly or indirectly, any Confidential Information during the period of his/her relationship
      with the Disclosing Party or anytime after the termination of such relationship.</p>

    <p>3. TRADE SECRETS</p>

    <p>Throughout the duration of this Non-Disclosure Agreement and the Receiving Party's business relationship with
      the
      Disclosing Party and anytime after the termination of such relationship, the Receiving Party shall do what is
      reasonably necessary to prevent unauthorized disclosure of the Disclosing Party's Trade Secrets. Further, after
      the
      termination of the any such relationship, the Receiving Party shall not use or disclose the Disclosing Party's
      Trade
      Secrets as long as they remain Trade Secrets.</p>

    <p>4. EXCEPTIONS</p>

    <p>The provisions of Sections 2 and 3 above will not be deemed to prohibit any disclosure that is required by law
      or
      court order; however, the Receiving Party agrees to provide the Disclosing Party with reasonable prior notice and
      an
      opportunity to contest or minimize such disclosure.</p>

    <p>5. RETURN OF DOCUMENTS</p>

    <p>Immediately upon termination of the relationship between the Disclosing Party and the Receiving Party, the
      Receiving
      Party shall return to the Disclosing Party any documents pertaining to the Confidential Information or Trade
      Secrets
      which are in the Receiving Party's possession.</p>

    <p>6. REPRESENTATIVE ACKNOWLEDGMENTS</p>

    <p>The Receiving Party acknowledges that: (i) this Agreement has been specifically bargained between the parties
      and
      reviewed by the Receiving Party, (ii) the Receiving Party has had an opportunity to obtain legal counsel to review
      this Agreement, and (iii) the covenants made by and duties imposed upon the Receiving Party hereby are fair,
      reasonable and minimally necessary to protect the legitimate business interests of the Disclosing Party, (iv) such
      covenants and duties will not place an undue burden upon the Receiving Party's livelihood in the event of
      termination of the Receiving Party's business relationship with the Disclosing Party and the strict enforcement of
      the covenants contained herein, and (v) any breach of this Agreement will cause substantial and irreparable harm
      to
      the Disclosing Party for which money damages would be an inadequate remedy.</p>

    <p>7. VENUE</p>

    <p>This Non-Disclosure Agreement and the interpretation of the terms herein shall be governed by and construed in
      accordance with the laws of the State of Idaho . The Parties irrevocably submit to the exclusive jurisdiction of
      the
      federal and state courts located in Kootenai County , Idaho .</p>

    <h1>Use of Material</h1>
    <p>BARWIT (BARWIT) authorizes you to view the contents on this Web Site, such as images, graphics, and text
      material
      ("Material"), solely for educational purposes and hereby grants to you a nonexclusive, nontransferable, limited
      license to edit (only for the purpose of facilitating presentation and use of the images) and distribute the
      Material without destroying the visual integrity or otherwise compromising the images which comprise the Material,
      and solely for such educational purposes upon your acceptance of this agreement by clicking the acceptance button
      at
      the end of this statement of the Terms of Service. The rights granted herein shall not confer on you any rights of
      ownership in or to the Material, including, without limitation, the copyright, trademark and other intellectual
      property rights thereto, which shall be and remain the exclusive property of BARWIT. BARWIT reserves the right to
      terminate all licensed rights granted herein at its exclusive discretion on written notice at any time and you
      agree
      to immediately cease use of any Material immediately upon receipt of such notice.</p>

    <p>The Material is protected by copyright and/or trademark under both United States and foreign laws. Unauthorized
      use
      of the Material may violate copyright, trademark and other laws. You must retain all copyright and other
      proprietary
      notices contained in the original Material on any copy you make of the Material. You may not sell or modify the
      Material or reproduce, display, publicly perform, distribute or otherwise use the Material in any way for any
      commercial or personal purpose, other than the use of BARWIT and BARWIT products for educational purposes. By way
      of
      example only, you may not use images or other Material from the Website to promote other learning management
      systems, or in articles about learning management systems generally that do not reference BARWIT.</p>

    <p>If you violate any of these Terms, your permission to use the Material automatically terminates and you must
      immediately destroy any copies you have made of the Material, and BARWIT may pursue any remedy available at law or
      in equity against you.</p>

    <p>In addition to these Terms of Use, you also agree to comply at all times with any and all guidelines,
      instructions
      or other conditions established by BARWIT with regard to use of the images and other Materials available from this
      Web Site. All such guidelines and instruction that are contained on pages on this Web Site regarding such matters
      shall be deemed to be incorporated into these Terms of Use and shall be binding on you. It is of critical
      importance
      that you follow all such guidelines and instructions carefully. Failure to do so may result in liability.</p>

    <h1>BARWIT Liability</h1>
    <p>The Material may contain inaccuracies or typographical errors. BARWIT makes no representations about the
      accuracy,
      reliability, completeness or timeliness of the Material or about the results to be obtained from using the Website
      and the Material. The use of the Website and the Material is at your own risk. Changes are periodically made to
      the
      Web Site and may be made at any time without notice to you.</p>

    <h1>DISCLAIMER OF WARRANTIES</h1>

    <p>BARWIT DOES NOT WARRANT THAT THE WEBSITE WILL OPERATE ERROR-FREE OR THAT THIS WEB SITE AND ITS SERVER ARE FREE
      OF
      COMPUTER VIRUSES AND OTHER HARMFUL MATTERS. IF YOUR USE OF THE WEB SITE OR THE MATERIAL RESULTS IN THE NEED FOR
      SERVICING OR REPLACING EQUIPMENT OR DATA, BARWIT SHALL NOT BE RESPONSIBLE FOR THOSE COSTS.</p>

    <p>THE WEBSITE AND MATERIAL ARE PROVIDED ON AN "AS IS" BASIS WITHOUT ANY WARRANTIES OF ANY KIND. BARWIT, TO THE
      FULLEST
      EXTENT PERMITTED BY LAW, DISCLAIMS ALL WARRANTIES, WHETHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, THE
      WARRANTY OF MERCHANTABILITY, NON-INFRINGEMENT OF THIRD PARTIES RIGHTS AND THE WARRANTY OF FITNESS FOR A PARTICULAR
      PURPOSE. BARWIT MAKES NO WARRANTIES ABOUT THE ACCURACY, RELIABILITY, COMPLETENESS, OR TIMELINESS OF THE MATERIAL,
      SERVICES SOFTWARE TEXT, GRAPHICS AND LINKS.</p>

    <p>YOU UNDERSTAND AND AGREE THAT ANY INFORMATION OR MATERIAL OBTAINED THROUGH THE BARWIT WEB SITE IS DONE AT YOUR
      OWN
      RISK AND YOU WILL BE SOLELY RESPONSIBLE FOR ANY AND ALL DAMAGE RESULTING FROM ANY TRANSACTION WHEREBY MATERIAL IS
      DOWNLOADED INTO YOUR COMPUTER OR SERVER THAT MAY ADVERSELY AFFECT ITS PERFORMANCE SUCH AS CRASHING YOUR COMPUTER
      OR
      NETWORK.</p>

    <h1>DISCLAIMER OF CONSEQUENTIAL DAMAGES.</h1>

    <p>YOU AGREE THAT NEITHER BARWIT NOR ANY OF ITS PROVIDERS OF INFORMATION SHALL BE LIABLE FOR ANY DIRECT, INDIRECT,
      INCIDENTAL, SPECIAL, CONSEQUENTIAL OR EXEMPLARY DAMAGES, RESULTING FROM THE USE OR THE INABILITY TO USE THE
      MATERIAL
      OR RESULTING FROM UNAUTHORIZED ACCESS TO OR ALTERATION OF YOUR TRANSMISSIONS OR DATA OR ARISING FROM ANY OTHER
      MATTER RELATING TO THE MATERIAL, INCLUDING BUT NOT LIMITED TO, DAMAGES FOR LOSS OF PROFITS, USE, DATA OR OTHER
      INTANGIBLE DAMAGES, EVEN IF BARWIT HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. YOU FURTHER AGREE THAT
      BARWIT SHALL NOT BE LIABLE FOR ANY DAMAGES ARISING FROM INTERRUPTION, SUSPENSION OR TERMINATION OF SERVICE,
      INCLUDING BUT NOT LIMITED TO DIRECT, INDIRECT, INCIDENTAL, SPECIAL CONSEQUENTIAL OR EXEMPLARY DAMAGES, WHETHER
      SUCH
      INTERRUPTION, SUSPENSION OR TERMINATION WAS JUSTIFIED OR NOT, NEGLIGENT OR INTENTIONAL, INADVERTENT OR
      INTENTIONAL.</p>

    <p>SOME JURISDICTIONS DO NOT ALLOW THE LIMITATION OR EXCLUSION OF WARRANTIES OR OF LIABILITY FOR INCIDENTAL OR
      CONSEQUENTIAL DAMAGES, SO SOME OF THE ABOVE LIMITATIONS MAY NOT APPLY TO YOU. SHOULD A JURISDICTION BE ADVERSE TO
      A
      LIMITATION OR EXCLUSION OF WARRANTIES, SUCH PROVISION SHALL BE DEEMED SEVERABLE FROM THIS AGREEMENT AND THE OTHER
      PROVISIONS SHALL REMAIN IN FULL FORCE AND EFFECT.</p>


    <h1>Indemnity</h1>
    You agree to defend, indemnify and hold harmless BARWIT, its officers, directors, employees and agents, from and
    against any losses, costs, damages and expenses, including without limitation attorneys’ fees and expenses, that may
    be incurred by BARWIT and any of such persons arising out of or relating to any claims, actions or demands, or
    resulting from your unauthorized use of the Material (including Software) or from any breach by you of the terms of
    this Agreement. BARWIT shall provide notice as required by law of any such claim, suit or proceeding and shall have
    the right to control the defense of such action, at your expense, in defending any such claim, suit or proceeding.

    <h1>General</h1>
    This Website is maintained in Idaho in the United States. BARWIT makes no claim that the Material is appropriate or
    may be downloaded outside of the United States. If you access the Web Site from outside of the United States, you do
    so at your own risk and are responsible for compliance with the laws of your jurisdiction. This Agreement is
    governed by the internal substantive laws of the State of Idaho without regards to its conflict of law principles.
    If any provision of this Agreement is found to be invalid in any court having competent jurisdiction, the invalidity
    of such provision shall not affect the validity of the remaining provisions of this Agreement, which shall remain in
    full force and effect. No waiver of any term of this Agreement shall be deemed a further or continuing waiver of
    such term or any other term. Except as expressly provided on particular Web pages with regard to use of the
    Material, this Agreement constitutes the entire Agreement between you and BARWIT with respect to the use of the Web
    Site.

    <h1>Cancellation Policy</h1>
    We are all about your success. If for some reason you are not happy we will do whatever we can to make it right.
    Reach out to us via Customer Service and if we are unable to remedy the situation you may cancel at any time with a
    30 day notice.

    <h1>Acceptance</h1>
    Your signature below indicates acceptance of this Case Study Proposal and entrance into a contractual agreement with
    BarWit beginning on the signature date below. Your logo will primarily be featured on our homepage on BarWit’s
    website. By accepting these terms you agree to not disclose your rate with any external parties.

  </section>
</main>
