<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Terms of Service")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    
    <section class="container-mb about">
	<div class="col-xs-12">
		<div class="row">
        <h1>${_("Terms of Service")}</h1>
        <h2>${_("Fast Lane's Privacy Policy")}</h2>
        <p>
			<ol class="list-unstyled">
				<li><strong>${_("Fast Lane Institute for Knowledge Transfer (Switzerland) AG")}</strong></li>
				<li>${_("Richtistr. 5")}</li>
				<li>${_("8304 Wallisellen (Z&uuml;rich)")}</li>
			</ol>
			</p>
			<p>
			<ol class="list-unstyled">
				<li><abbr title="Phone">${_("P")}</abbr>${_("+41 448325080")}</li>
				<li><a alt="info@fastlane.live" href="mailto: info@fastlane.live">${_("info@fastlane.live")}</a></li>
			</ol>
			</p>

        <p>${_("This website is administered by Fast Lane. The primary purpose of our website is to be a dynamic resource and business tool. We want you to feel secure when visiting our site and are committed to maintaining your privacy when doing so. The following provides an overview of how we protect your privacy during your visit.")}</p>
        
        <h2>${_("Our commitment to privacy")}</h2>
        <p>${_("Our Privacy Policy is designed to assist you in understanding how we collect, use and safeguard the personal information you provide to us and to assist you in making informed decisions when using our site and our services.")}</p>
        
        <h2>${_("What information do we gather?")}</h2>
        <p>${_("Information on our website is gathered in two ways:
indirectly (for example, through our site's technology); and
directly (for example, when you provide information on various pages of the site).")}</p>
		<p>${_("One example of information we collect indirectly is through our Internet access logs. When you access our site, your Internet address is automatically collected and is placed in our Internet access logs.")}</p>
		<p>${_("We collect information directly from you in a number of ways, some of which we describe in this Privacy Statement. One way is through the use of cookies. Cookies are small files of information that save and retrieve information about your visit to our site - for example, how you entered our site, how you navigated through the site, and what information was of interest to you. The cookies we use identify you merely as a number. If you are uncomfortable regarding cookies use, please keep in mind you can disable cookies on your computer by changing the settings in preferences or options menu in your browser.")}</p>
		<p>${_("We also collect information when you voluntarily submit it to us. On our site, we provide the opportunity to contact us for further information. When we collect this type of information, we will notify you as to why we are asking for information and how this information will be used. It is completely up to you whether or not you want to provide it.")}</p>

        <h2>${_("How do we use this information?")}</h2>
        <p>${_("We analyse it to determine what is most effective about our site, to help us identify ways to improve it, and eventually, to determine how we can tailor our site to make it more effective. We may also use data for other purposes, which we would describe to you at the point we collect the information.")}</p>
        
        <h2>${_("Use of personal information")}</h2>
        <p>${_("If you supply us with your email address on-line you may receive periodic email communication from us with information on new services, industry news or upcoming events. Persons who supply us with their telephone numbers on-line may receive telephone contact from us with information regarding new services, industry news or upcoming events. If you do not wish to receive such emailings or telephone calls, please let us know by sending us an e-mail to the above address, calling us at the above telephone number, or writing to us at the above address.")}</p>
        
        <h2>${_("Unsubscribing")}</h2>
        <p>${_("If you do not want to receive e-mails from us in the future, please let us know by emailing the above address, calling the above telephone number, or writing to the above address.")}</p>
        
        <h2>${_("Do we give you access to your information?")}</h2>
        <p>${_("You are entitled to know whether we hold information about you and, if we do, to have access to that information and require it to be corrected if it is inaccurate. You can do this by contacting us via our email address above.")}</p>
        
        <h2>${_("Will we share this with outside parties?")}</h2>
        <p>${_("If you provide us with your name and contact details we do not intend to share your personal information with other organizations without your consent. As a global organization however, data we collect may be transferred internationally throughout the Fast Lane companies. We will not sell individual information and will share it only with our partners.")}</p>
        
        <h2>${_("Security measures")}</h2>
        <p>${_("When your personal information is held within Fast Lane, we intend to take reasonable and appropriate steps to protect the personal information that you share with us from unauthorised access or disclosure. If you feel that this site is not following its stated online privacy policy, you may contact us at the above addresses or phone number.")}</p>

    	</div>
    </div>
    </section>
</main>