@import 'core';
@import 'animate';
@import 'autoheight';
@import 'lazyload';
@import 'video';


.owl-item.active.center {
    // transform: scale(1.3) translate(0, 0);
    // border-radius: 10px;
    // height: 448px;
    // width: calc(100% + 12%) !important;
    // overflow: hidden;
    .owl-carousel__image-holder {
        border-radius: 6px;
        overflow: hidden;
        min-height: 350px;
        @media (min-width: $tablet-size) {
            min-height: 0;
            transform: scale(1.1);
        }
    }
}
.owl-carousel .owl-item {
    // transform: scale(0.7) translate(0, 22%);
    border-radius: 6px;
    // height: 381px;
    // width: 712px;
    // width: calc(100% - 6%) !important;
    // overflow: hidden;
    // box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.5);
    .owl-carousel__image-holder {
        overflow: hidden;
        min-height: 350px;
        max-height: 100px;
        @media (min-width: $tablet-size) {
            min-height: 0;
            max-height: none;
            transform: scale(0.9) translate(0, 10.9%);
            border-radius: 6px;
        }
    }

    img {
        width: 100%;
        border-radius: 10px;
        overflow: hidden;
        display: block;
    }
}
.owl-carousel .owl-stage {
    display: flex;
    align-items: flex-end;
}
.owl-carousel .owl-stage-outer {
    padding: 1.3% 0;
}
.owl-dot {
    width: 12px;
    height: 12px;
    background: #fff;
    padding: 0;
    border-radius: 50%;
    margin-right: 10px;
}
.owl-dot.active {
    background: #57C4BD;
}
.slick-dots li.slick-active button {
    background: #57C4BD;
}
.owl-dots {
    display: flex;
    position: relative;
    bottom: 45px;
    left: 24px;
    @media (min-width: $tablet-size) {
        left: 50%;
        transform: translate(-50%, 0);
        width: 50%;
    }
}
.owl-carousel{
    &__info {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        min-height: 100%;
        flex-direction: column;
        justify-content: space-between;
        color: #fff;
        box-sizing: border-box;
        padding: 40px 24px 16px;
        width: 100%;
        .center & {
            display: flex;
        }
        @media (min-width: $tablet-size) {
            padding: 4px 16px 25px;
            width: 300px;
        }
        @media (min-width: 1100px) {
            padding: 40px 16px 25px;
        }
        &_other {
            width: 100%;
            padding: 10px 24px 16px;
            @media (min-width: $tablet-size) {
                padding: 4px 16px 25px;
            }
            @media (min-width: 1100px) {
                padding: 10px 16px 25px;
            }
        }
    }
    &__text-holder {
        display: flex;
        flex-direction: column;
        font-size: 14px;
    }
    &__title {
        margin-bottom: 20px;
        font-size: 24px;

        &_other {
            font-size: 30px;
            line-height: 1.3;
            color: #fff;
            font-weight: bold;
            margin-bottom: 4px;
            @media (min-width: 900px) {
                font-size: 42px;
                margin-bottom: 16px;
            }
            @media (min-width: 1100px) {
                font-size: 64px;
            }
        }
    }
    &__paragraph {
        margin: 0 0 16px 0;
    }
    &__button {
        background: #57c4bd;
        color: #fff;
        height: 40px;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
    }
    input[type="submit"]:active:not(:disabled), input[type="submit"]:focus:not(:disabled), input[type="button"]:active:not(:disabled), input[type="button"]:focus:not(:disabled), button:active:not(:disabled), button:focus:not(:disabled), .button:active:not(:disabled), .button:focus:not(:disabled) {
        box-shadow: none;
    }
    &__bold-text {
        margin-bottom: 16px;

        &_other {
            margin-bottom: 10px;
            font-size: 18px;
            line-height: 1.3;
            font-weight: bold;
            @media (min-width: 900px) {
                font-size: 14px;
            }
            @media (min-width: 1150px) {
                font-size: 24px;
                margin-bottom: 38px;
            }
        }
    }
    a.login-theme, .login-theme {
        position: absolute;
        bottom: 16px;
        right: 24px;
        @media all and (max-width: 900px) {
            display: inline-block;
        }
    }
    &__blur-holder {
        position: absolute;
        top: 0;
        display: none;
        right: 0;
        height: 100%;
        transform: scale(1.1) translate(3%, 0);
        overflow: hidden;
        border-radius: 0 6px 6px 0;
        width: 100%;
        @media screen and (min-width: $tablet-size) {
            transform: scale(1.1) translate(5%, 0);
            width: 300px;
        }
        @media screen and (min-width: $desktop-size) {
            transform: scale(1.1) translate(6%, 0);
        }
        .center & {
            display: block;
        }
        &_other {
            width: 100%;
            transform: scale(1.1);
            border-radius: 6px;
        }
    }
    &__blur-filter {
        transform: scale(1.2) translate(4%, 0);
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        -webkit-filter: blur(5px);
        filter: blur(5px);
        width: 300px;
        background-color: rgba(0, 96, 100, 0.5);
        background-position: right;
        &:before {
            content: '';
            position: absolute;
            height: 100%;
            width: 300px;
            background-color: rgba(0, 96, 100, 0.5);
        }
        @media screen and (max-width: $tablet-size) {
            width: 100%;
            &:before {
                width: 100%;
            }
        }
        .owl-carousel__blur-holder_other & {
            width: 100%;
            transform: scale(1.1);
            &:before {
                width: 100%;
            }
        }
        &_none {
            display: none;
        }
        &_slide-1 {
            background-image: url('../images/main-slide01.jpg');
        }
        &_slide-2 {
            background-image: url('../images/main-slide02.jpg');
        }
        &_slide-3 {
            background-image: url('../images/main-slide03.jpg');
        }
        &_slide-4 {
            background-image: url('../images/about-project-1.jpg');
        }
        &_slide-5 {
            background-image: url('../images/about-project-2.jpg');
        }
        &_slide-6 {
            background-image: url('../images/about-project-3.jpg');
        }
    }
}