.ico-facebook {
    display: inline-block;
    vertical-align: middle;
    text-indent: -9999px;
    overflow: hidden;
    width: 9px;
    height: 16px;
    background: url("#{$theme-img-url}icons/ico-facebook.svg");
    background-size: contain;
}