.ico-mail {
    display: inline-block;
    vertical-align: middle;
    text-indent: -9999px;
    overflow: hidden;
    width: 12px;
    height: 10px;
    background: url("../images/icons/ico-mail.png");
}