.ico-twitter {
    display: inline-block;
    vertical-align: middle;
    text-indent: -9999px;
    overflow: hidden;
    width: 17px;
    height: 14px;
    background: url("#{$theme-img-url}icons/ico-twitter.svg");
    background-size: contain;
}