.ico-clock {
    display: inline-block;
    vertical-align: middle;
    text-indent: -9999px;
    overflow: hidden;
    width: 25px;
    height: 25px;
    background: url("../images/icons/ico-clock.svg");
    background-size: contain;
}