.ico-twitter {
    display: inline-block;
    vertical-align: middle;
    text-indent: -9999px;
    overflow: hidden;
    width: 17px;
    height: 14px;
    background: url("../images/icons/ico-twitter.png");
}