.ico-youtube {
    display: inline-block;
    vertical-align: middle;
    text-indent: -9999px;
    overflow: hidden;
    width: 16px;
    height: 17px;
    background: url("#{$theme-img-url}icons/ico-youtube.svg");
    background-size: contain;
}