.ico-facebook {
    display: inline-block;
    vertical-align: middle;
    text-indent: -9999px;
    overflow: hidden;
    width: 9px;
    height: 16px;
    background: url("../images/icons/ico-facebook.svg");
    background-size: contain;
}