// Our overrides for settings we want to change.
@import 'sass_overrides';

// Import the original styles from edx-platform.
@import 'lms/static/certificates/sass/main-ltr';

// Our overrides for styles we want to change.
@import 'css_overrides';
