.promo-box {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
    background: #e6e6e6;
    flex-wrap: wrap;
    @media screen and (min-width: $media-desktop){
        flex-wrap: nowrap;
        height: 363px;
    }
    
    &_right,
    &_left {
        position: relative;
        overflow: hidden;
    }
    &_left {
        width: 100%;
        @media screen and (min-width: $media-desktop){
            width: 58.3%;
        }
        .promo-box_text-wrapper {
            @media screen and (max-width: 1600px) {
                padding-left: 30px;
            }
            @media screen and (max-width: 1180px) {
                padding-left: 45px;
            }
            @media screen and (max-width: $media-desktop){
                padding-left: 60px;
            }
        }
    }
    &_right {
        width: 100%;
        @media screen and (min-width: $media-desktop){
            width: 41.3%;
        }
        .promo-box_text-wrapper {
            padding-left: 60px;
        }
    }
    &_img {
        position: absolute;
        min-width: 100%;
        min-height: 100%;
        left: 0;
        top: 0;
    }
    &_text {
        font: 18px/23px $font-light;
        text-transform: uppercase;
        color: #fff;
        display: block;
        margin-bottom: 8px;
    }
    &_heading {
        font: 56px/72px $font-bold;
        text-transform: uppercase;
        color: #fff;
    }
    &_text-holder {
        position: relative;
        z-index: 10;
        @media screen and (min-width: $media-desktop){
            min-width: 330px;
        }

        &__other {
            @media screen and (min-width: $media-desktop){
                margin-right: 190px;
                float: right;
                min-width: 510px;
            }
        }
    }
    &_text-wrapper {
        padding-top: 64px;
        padding-bottom: 64px;

        @media screen and (min-width: $media-desktop){
            padding-top: 128px;
            padding-bottom: 0;
            float: left;
        }
    }
    &_wrapper {
        position: absolute;
        bottom: 88px;
        width: 100%;
        left: 0;
    }
    &_holder {
        @extend %wrapper;
        display: flex;
        justify-content: space-between;
    }
    &_helper {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        background: url("../images/textures.png") no-repeat 50%;
        background-size: contain;
        width: 100%;
        display: none;
        @media screen and (min-width: $media-desktop){
            display: block;
        }
    }
    &_big-text {
        font: 28px/55px $font-regular;
        text-transform: uppercase;
        color: #fff;
        width: 330px;
        margin-bottom: 19px;
    }
}