.theme-promo {
    background: url("../images/login.jpg") no-repeat 50% 30%;
    padding: 87px 0 58px;

    .outer-wrapper {
        display: flex;
        padding: 5px;
        max-width: 998px;
        background: rgba(255, 255, 255, .7);
        margin: 0 auto;
        min-height: 182px;
        align-items: center;
        box-sizing: border-box;

        h1 {
            font-size: 30px;
            line-height: 1.3;
            color: #232323;
            margin: 0 0 27px;
            text-align: left;
        }
        p {
            color: #313131;
            margin: 0;
        }
        .heading-group {
            padding: 0 0 0 36px;
        }
    }
    .media {
        width: 289px;
    }
}