.theme-header-info {
    box-sizing: border-box;
    padding: 14px $mobile-indent 36px;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-family: mulilight;
    @media all and (min-width: 450px){
        flex-wrap: nowrap;
    }
    @media all and (min-width: 1600px){
        padding-left: 0;
        padding-right: 0;
    }
    @media all and (max-width: 859px) {
        flex-direction: column;
        padding: 15px 0;
        margin: 0;
        align-items: flex-start;
    }
    &_contact {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
        @media all and (min-width: 450px){
            width: auto;
            justify-content: flex-start;
        }
        @media all and (max-width: 450px) {
            flex-direction: column;
        }
    }
    &_social {
        display: flex;
        width: 100%;
        justify-content: center;
        padding-top: 0;
        @media all and (min-width: 450px){
            padding: 0;
            width: auto;
            justify-content: flex-start;
        }
    }
    &_text {
        font-size: 12px;
        line-height: 15px;
        color: $theme-color-grey;
        display: none;
        @media all and (min-width: 860px){
            display: block;
            margin-right: 10px;
        }
    }
    &_phone {
        font-size: 12px;
        line-height: 15px;
        color: $theme-color-grey;
        padding-left: 18px;
        background: url('#{$img-path}/header-info/phone.png') no-repeat 0 50%;
        @media all and (min-width: 860px){
            margin-left: 24px;
        }
        @media all and (max-width: 859px) {
            margin-bottom: 10px;
        }
    }
    &_mail {
        font-size: 12px;
        line-height: 15px;
        color: $theme-color-grey;
        background: url('#{$img-path}/header-info/mail.png') no-repeat 0 50%;
        padding-left: 18px;
        margin-left: 18px;
        &:hover,
        &:focus {
            color: $theme-color-blue-hover;
            text-decoration: none;
        }
        @media all and (max-width: 450px) {
            margin-left: 0;
        }
        @media all and (max-width: 859px) {
            display: none;
        }
    }
    &_social-list {
        margin: 0;
        padding: 0 0 0 16px;
        list-style: none;
        display: flex;
        align-items: center;
        font: 0/0 a;
        @media all and (min-width: 860px){
            margin: 0;
        }
    }
}
.theme-header {
    background: #1f1d20;
}
.social-list_link.theme-header-info_mail {
    display: none;
    @media all and (max-width: 859px){
        display: block;
        height: 10px;
        width: 12px;
        margin-left: 0;
        padding: 0;
    }
}