.courses-container {
    .courses .course {
        box-shadow: none;
        border: none;
        border-radius: 16px;
        border-bottom: 5px solid #55a2fe;
        overflow: hidden;

        .course-info {
            .course-code {
                background: #55a1fd;
                color: #fff;
            }
            .course-title {
                font-size: 20px;
                color: #1d1d1d;
            }
            .course-date {
                color: #1d1d1d;
                font-size: 12px;
                line-height: 1.3;
            }
            .course-organization {
                display: none;
            }
        }
        .course-image .cover-image:before {
            border-radius: 15px 15px 0 0;
        }
    }
}
.course-info header.course-profile {
    margin-top: 0;
}