.gamburger {
    display: block;
    position: relative;
    width: 20px;
    height: 10px;
    border-bottom: 2px solid #000;
    border-top: 2px solid #000;
    float: right;
    margin: -41px 10px 0;
    @media screen and (min-width: 760px) {
        display: none;
    }

    &:after {
        content: '';
        width: 100%;
        height: 2px;
        position: absolute;
        top: 50%;
        left: 0;
        margin: -1px 0 0;
        background: #000;
    }
}