.home > header {
    position: relative;
    min-height: 420px;
    margin: -20px -20px 0 -20px;
    width: auto;

    @media screen and (max-width: 768px) {
        margin: -20px 0 0;
    }
}

.parallax-img {
    position: absolute;
    left: 0;
    top: -100px;
    width: 100%;
    height: calc(100% + 200px); /* картинка паралакса всегда больше нашего баннера, при скролинге не появится пустутота под баннером */
    background: #040404 url("#{$static-path}/images/background.jpg") no-repeat 50% 50%; /* высота картинки - желательно не меньше 600px по высоте */
    background-size: cover;
}
