.wrapper-course-material .course-material .course-tabs {
    padding: 0;

    .tab a {
        padding: 18px 15px 15px;

        @media screen and (max-width: 760px) {
            padding: 15px 10px 5px;
        }

        &.active,
        &:visited.active {
            color: $link-color;
            border-bottom-color: $link-color;
        }
    }
}

#main div.book-wrapper {
    display: flex;

    @media (max-width: 990px) {
        flex-direction: column;
    }

    section.book-sidebar {
        width: calc(100% - 76%);

        @media (max-width: 990px) {
            width: 100%;
            border-right: 1px solid #c8c8c8;
            border-bottom: none;
        }

        #booknav {
            @media (max-width: 990px) {
                display: flex;
                flex-wrap: wrap;
            }
        }
    }

    .book {
        background: #f6f6f6;
        border: 1px solid #c8c8c8;
        max-width: 100%;
        overflow-x: auto;

        @media (max-width: 990px) {
            width: 100%;
        }
    }
}
