## mako
<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>
<%! from datetime import datetime %>
<%! from pytz import UTC %>

<div class="wrapper wrapper-footer">
  <footer id="footer-openedx">
    <div class="colophon">
      <nav class="nav-colophon">
        <ol>
          <li><a href="${reverse('tos')}">Terms of Service</a></li>
          <li><a href="${reverse('privacy')}">Privacy Policy</a></li>
          <li><a href="${reverse('about')}">About us</a></li>
          ##<li><a href="${reverse('tos')}#honor">Honor Code</a></li>
          ##<li><a href="${reverse('tos')}#copyright">Copyright</a></li>
          ##<li><a href="${reverse('about_edx')}#careers">Careers</a></li>
          ##<li><a href="${reverse('about_edx')}#contact">Contact</a></li>
          ##<li><a href="${marketing_link('JOBS')}#careers">Careers</a></li>
          <li><a href="${marketing_link('CONTACT')}#contact">Contact</a></li>
          ##<li><a href="${marketing_link('FAQ')}">Help</a></li>
        </ol>
      </nav>
      <p class="copyright">
        <span style="color:#53abfd;">2015 All rights reserved BrainBasket Foundation </span><br>
        <a href="mailto:bbf@brainbasket.org">bbf@brainbasket.org</a>
      </p>
    </div>
    <div class="references">
      <img src="/static/themes/default/images/brainbasket_logo.png" alt="">
    </div>
  </footer>
</div>

