## mako
<%! from django.core.urlresolvers import reverse %>
<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='/static_content.html'/>
<%! from datetime import datetime %>
<%! from pytz import UTC %>

<div class="wrapper wrapper-footer">
  <footer id="footer-openedx">
    <div class="colophon">
       <nav class="nav-colophon">
         <ol>
             <li class="nav-colophon-00">
                <a id="education" href="https://www.microsoft.com/uk-ua/education/">${_(u'Образование')}</a>
             </li>
             <li class="nav-colophon-01">
                <a id="office" href="http://365.sumdu.edu.ua/">${_(u'Офис 365')}</a>
             </li>
             <li class="nav-colophon-02">
                <a id="products" href="https://products.office.com/uk-UA/student/office-in-education?omkt=uk-UA">${_(u'Продукты')}</a>
             </li>
##           <li><a href="${reverse('tos')}">Terms of Service</a></li>
##           <li><a href="${reverse('privacy')}">Privacy Policy</a></li>
         </ol>
       </nav>

    </div>
    <div class="references" style="margin:0;">

      <a href="http://code.edx.org" target="_blank">

        <span class="raccoongang">

    	  Built on <img src="${static.url('themes/default/images/open_edx.png')}" />
        </span>
      </a>
      <a href="http://raccoongang.com" target="_blank">

        <span class="raccoongang">

    	   by Raccoon Gang
##           <img src="${static.url('themes/default/images/RaccoonLogo.png')}" />
        </span>
      </a>
##       <a href="https://lms.o365edu.com.ua" class="no-underscore">
##         <img src="/static/themes/default/images/Univer.png" alt="" height="50">
##       </a>
##       <p class="copyright" style="margin-top:5px;">
## ##         <span style="color:#53abfd;">2016 All rights reserved BrainBasket Foundation </span><br>
## ##         <a href="mailto:bbf@brainbasket.org">bbf@brainbasket.org</a>
##       </p>
    </div>

  </footer>
</div>

