## mako
<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>
<%! from datetime import datetime %>
<%! from pytz import UTC %>

<div class="wrapper wrapper-footer">
  <footer id="footer-openedx">
    <div class="colophon">
      <nav class="nav-colophon">
        <ol>
          <li><a href="${reverse('tos')}">Terms of Service</a></li>
##           <li><a href="${reverse('privacy')}">Privacy Policy</a></li>
        </ol>
      </nav>
      <a href="http://code.edx.org" target="_blank">

        <span class="raccoongang">

    	  Built on <img src="${static.url('themes/default/images/open_edx.png')}" />
        </span>
      </a>
  <a href="http://raccoongang.com" target="_blank">

        <span class="raccoongang">

    	   by Raccoon Gang <img src="${static.url('themes/default/images/RaccoonLogo.png')}" />
        </span>
      </a>

    </div>
    <div class="references" style="margin:0;">
      <a href="http://brainbasket.org" class="no-underscore">
        <img src="/static/themes/default/images/brainbasket_logo.png" alt="">
      </a>
      <p class="copyright" style="margin-top:5px;">
        <span style="color:#53abfd;">2016 All rights reserved BrainBasket Foundation </span><br>
        <a href="mailto:bbf@brainbasket.org">bbf@brainbasket.org</a>
      </p>
    </div>

  </footer>
</div>

