h1 {
    color: $tourque-orange;
}

h2 {
    color: $tourque-orange;
    margin-top: 50px;
}

li {
    line-height: 20px;
}

p {
    line-height: 20px;
}

p+p {
    margin-top: 0;
}

#sign-up-link {
    color: #339fda;
    margin-top: 10px;
}

#edx-paragraph {
    margin-top: 40px;
}