//main stack of collors
$theme-colors: (
  "primary": #fcd905,
  "inverse": #fffefe,
);
$blue: #fcd905;
$base-color: $blue;
$btn-bg-hover: lighten($base-color, 20%);


$shadow-color: $base-color;
$button-color: $base-color;
$action-primary-focused-bg: $btn-bg-hover;
$courseware-border-bottom-color: $base-color;
$forum-color-primary: $base-color;
$forum-color-hover: $btn-bg-hover;
$staff-color: $base-color;
$pink: red;

$link-color: #1f1f1f;
$link-hover: lighten($base-color, 20%);

// blue primary button, for 
// :hover, :active - background and border-color; 
// &.current, &.active - background and border-color;
// &.current:hover, &.active:hover - background and border-color;
// &.current:active, &.active:active - background and border-color;
$uxpl-blue-hover-active: $btn-bg-hover;
// &.current, &.active - color;
$blue-l4: lighten($base-color, 80%);
//=//=//=//=//=//=//=//=//=//=//=//=//=//=//=//=//=//=//

// btn-pl-white-base (btn like on dashboard in course box "View Course")
// btn-pl-white-base - background
$action-primary-fg: #fff;
// btn-pl-white-base - color
$action-primary-bg: $base-color;
//=//=//=//=//=//=//=//=//=//=//=//=//=//=//=//=//=//=//

$m-blue-d3: $blue;
$m-blue-d5: $blue;
$m-blue-l1: lighten($blue, 10%); // hover on main page search btn
$m-blue-d1: darken($blue, 3%); // border on main page search btn

$m-blue-d6: darken($blue, 3%); // border on search page search btn
$facet-background-color-theme: $blue; // search page, for hover tag item


@import 'edx-bootstrap/sass/open-edx/theme';
