@import "cms/static/sass/studio-main-v2";

h3.title.menu-title > * {
    vertical-align: middle;
}

.dropdown-menu-container .menu-button {
    margin-top: 0;
}

.wrapper-header {
    .branding,
    .nav-dd .nav-item .title {
        margin-bottom: 0;
    }
}
