@import 'cms/static/sass/studio-main-v1';

.view-dashboard .course-item .course-link {
    word-break: break-word;
}

.group-settings select {
    max-width: 100%;
}

.add-xblock-component .new-component .new-component-type .add-xblock-component-button {
    min-width: 100px;
    width: auto;
    padding: 0 10px;
}
