@import 'cms/static/sass/studio-main-v1';

.wrapper-course-image {
    display: block;

    img {
        display: block;
        max-width: 100%;
        margin: 0 auto;
    }
}

#field-web-science-image .msg.msg-empty {
    display: none;
}