.not-found-holder {
    max-width: 1200px;
    text-align: center;
    padding: 20px;
    border: 1px solid #f2f2f2;
}

.not-found-title {
    color: #4b4e4e;
    font-size: 32px;
    margin: 0 0 22px;
}

.not-found-link {
    color: #29abe2 !important;
    transition: all .3s ease-in-out;
}

.not-found-link:hover {
    color: #7f7f7f !important;
}

.not-found-img {
    display: block;
    margin: 0 auto;
}
