.shopping-cart {
    .fa-times-circle{
        overflow: hidden;
        &:after {
            content: '';
            position: absolute;
            top: 3px;
            left: 3px;
            background: red;
            height: 11px;
            width: 10px;
            z-index: 1;
            border-radius: 50%;
        }
        &:before{
            z-index: 3;
            position: relative;
        }
    }
    &__text {
        @media screen and (max-width: 1090px) {
            display: none;
        }
    }
}