// blocks
@import "blocks/header-helper/header-helper";
@import "blocks/header-global/header-global";
@import "blocks/signin-box/signin-box";
@import "blocks/header-nav/header-nav";
@import "blocks/header-wrapper/header-wrapper";
@import "blocks/header-search/header-search";
@import "blocks/promo-box/promo-box";
@import "blocks/courses/courses";
@import "blocks/courses-box/courses-box";
@import "blocks/footer/footer";
@import "blocks/footer/footer-nav";
@import "blocks/find-courses/find-courses";
@import "blocks/dashboard/dashboard";
@import "blocks/dropdown-menu-container/dropdown-menu-container";
@import "blocks/header-nav-holder/header-nav-holder";

// components
$theme-img-url: "../images/" !default;
@import "components/buttons/btn-1";
@import "components/buttons/btn-2";
@import "components/buttons/btn-3";
@import "components/links/link-login";
@import "components/icons/ico-facebook";
@import "components/icons/ico-twitter";
@import "components/icons/ico-youtube";
@import "components/icons/ico-mail";
@import "components/icons/ico-clock";