.about-history {
    background: linear-gradient(to right, #072465 0%,#00c5bd 100%);
    margin-bottom: 50px;
    &__wrapper {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        padding: 30px 0;
        box-sizing: border-box;
        min-height: 410px;
        @media screen and (max-width: 768px) {
            padding: 0 10px;
            box-sizing: border-box;
            flex-direction: column-reverse;
        }
    }
    &__text-holder {
        flex: 0 0 50%;
        padding-right: 20px;
        box-sizing: border-box;
        color: #fff
    }
    &__image-holder {
        flex: 0 0 50%;
        position: relative;
        width: 100%;
        min-height: 100%;
        overflow: hidden;
        @media screen and (max-width: 768px) {
            flex: 1;
            min-height: 300px;
        }
    }
    &__image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
    }
    &__title {
        font-size: 24px;
        font-weight: 700;
        font-family: "Open Sans",Verdana,Geneva,sans-serif;
        color: #fff;
        margin-bottom: 16px;
    }
    &__paragraph {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 20px;
    }
    &__strong {
        font-weight: 700;
    }
}
.founders .inner-wrapper {
    @media screen and (max-width: 768px){
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}