.advantage {
    max-width: 845px;
    margin: 0 auto 90px;
}
.advantage__heading {
    color: $color1;
    font-size: 24px;
    line-height: 33px;
    margin: 0 0 50px;
    text-align: center;
    font-family: "Open Sans",Verdana,Geneva,sans-serif,sans-serif;
}
.advantage__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;

    &:last-child {
        margin-bottom: 0;
    }
}
.advantage__caption {
    display: block;
    font-size: 24px;
    line-height: 1.3;
    text-transform: uppercase;
    margin: 0 0 8px;
    font-weight: normal;
}
.advantage__img {
    order: 1;

    .advantage__row:nth-child(2n) & {
        order: 2;
    }
}
.advantage__caption_color1 {
    color: $color2;
}
.advantage__caption_color2 {
    color: $color1;
}
.advantage__caption_color3 {
    color: $color3;
}
.advantage__ico-holder {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    position: relative;
    box-shadow: 1px 2px 7px 0px rgba(0, 0, 0, 0.5);
    margin-bottom: 16px;
}
.advantage__ico {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.advantage__text {
    font-size: 14px;
    line-height: 23px;
    color: #000;
}
.advantage__description {
    max-width: 407px;
    order: 2;

    .advantage__row:nth-child(2n) & {
        order: 1;
    }
}
