.course-section {
    margin-left: 39px;
    width: 30%;
}
.course-section__item {
    display: flex;
    margin-bottom: 29px;
    border-radius: 6px;
    overflow: hidden;
    width: 100%;
    box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.5);

    &:last-child {
        margin-bottom: 0;
    }
}
.course-section__description {
    background: #fff;
    padding: 16px 16px 0;
    width: 100%;
    line-height: 1.3;
}
.course-section__stat {
    width: 100%;
    display: block;
    font-size: 10px;
    text-transform: uppercase;
    margin-bottom: 16px;
}
.course-section__stat_color1 {
    color: $color4;
}
.course-section__stat_color2 {
    color: $color1;
}
.course-section__stat_color3 {
    color: $color2;
}
.course-section__name {
    width: 100%;
    display: block;
    font-size: 24px;
    color: #000;
    margin-bottom: 24px;
    font-weight: normal;
}
.course-section__school {
    font-size: 14px;
    color: #9B9B9B;
}
