.course-box {
    width: 45%;
}
.course-box__header {
    width: 100%;
    font-size: 20px;
    line-height: 30px;
    padding: 15px 16px;
    margin: 0 0 50px;
    color: #fff;
    font-family: "Open Sans",Verdana,Geneva,sans-serif,sans-serif;
    box-sizing: border-box;
    max-width: 500px;
    position: relative;
    overflow: hidden;
    height: 67px;

    &:before {
        content: '';
        position: absolute;
        right: 20px;
        top: 0;
        box-shadow: 5px 2px 7px 0px rgba(0, 0, 0, 0.5);
        transform: skew(-20deg);
        width: 120%;
        height: 60px;
        background: $gradient3;
    }
}
.course-box__header-text {
    position: relative;
}
.course-box__holder {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}
.course-box__description {
    font-family: "Open Sans",Verdana,Geneva,sans-serif,sans-serif;
}
.course-box__heading {
    font-size: 20px;
    line-height: 30px;
    color: #000;
    margin-bottom: 16px;
    display: block;
    position: relative;
    left: -20px;
}
.course-box__list {
    padding: 0;
    margin: 0;
    list-style: none;
}
.course-box__list-item {
    position: relative;
    font-size: 18px;
    line-height: 22px;
    font-style: italic;
    margin-bottom: 8px;

    &:after {
        content: '';
        width: 10px;
        height: 10px;
        background: #57C4BD;
        border-radius: 50%;
        position: absolute;
        left: -20px;
        top: 6px;
    }
}
.course-box__img {
    margin-left: 15px;
}

//styles for about page
.course-box {
    &__title-holder {
        .course-box_about & {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 60px;
        }
    }
    &_about {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        @media screen and (max-width: 768px) {
            margin-bottom: 32px;
            width: 100%;
            padding: 0 10px;
        }
    }
    &__image {
        width: 100%;
        height: auto;
        margin-bottom: 16px;
    }
    strong {
        font-weight: 700;
    }
    &__header-text {
        position: relative;
        margin: -5px 0 0;
    }
    &__list-item {
        font-style: normal;
        margin-bottom: 16px;
    }
    &__quote {
        font-style: italic;
        font-size: 18px;
        line-height: 30px;

    }
    &__list {
        padding-left: 40px;
        margin-bottom: 50px;
    }
    &__header {
        margin: 0;
    }
}
//end of styles for about page