body main .error404 {
    width: 100%;
    max-width: 100%;
    background: #fff;
    position: relative;
    text-align: left;
    font: 20px/35px Verdana;
    color: #57C4BD;
    padding-top: 0;
    &__header-holder {
        height: 70px;
        font: 700 20px/35px Verdana !important;
        color: #fff;
        background: linear-gradient(to right, #072465 0%,#00c5bd 100%);
        display: flex;
        align-items: center;
        margin-bottom: 40px;
    }
    &__header,
    &__text {
        max-width: 1200px;
        margin: 0 auto;
        width: 100%;
        text-align: left;
        color: #fff;
        a {
            font-weight: 700;
            color: #57C4BD;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    &__text {
        color: #57C4BD;
        font: 20px/35px Verdana;
    }
}
