.footer-list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    justify-content: center;
    @media screen and (max-width: 576px) {
        flex-wrap: wrap;
    }
}
.footer-list_link {
    font-size: 16px;
    line-height: 1.3;
    color: $footer-nav-link-color !important;
    
    &:visited,
    &:active,
    &:focus {
        color: $footer-nav-link-color !important;
    }

    &:hover {
        color: $footer-nav-link-color-hover !important;
    }
}
.footer-list_item {
    margin: 5px 15px 5px 0;
    text-align: center;

    .footer-list_link{
        font-size: 14px;
        line-height: 21px;

        &:hover,
        &:focus{
            color: $footer-nav-link-color-hover !important;
        }
    }
}
.svg-footer {
    width: 35px;
    height: 35px;
}
.svg-edx {
    width: 90px;
    height: 55px;
    position: relative;
    top: -2px;
}
.svg-raccoon {
    width: 20px;
    height: 20px;
    margin-left: 5px;
}