.header-list {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
    position: static;
    transform: none;
    width: auto;
    box-sizing: border-box;

    @media (max-width: $build-header-menu-tablet) {
        position: static;
        transform: none;
        flex-wrap: wrap;
        justify-content: center;
        padding: 20px 15px 10px;
    }

    @media (max-width: $build-header-menu-mobile) {
        padding-bottom: 20px;
    }

    &.header-list_not-authenticated {
        @media (max-width: $build-header-menu-tablet) {
            .header-list_item {
                margin-bottom: 0;
            }
        }

        @media (max-width: $build-header-menu-mobile) {
            padding-bottom: 5px;
        }
    }
}

.header-list_item {
    margin: 0 5px;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;

    @media screen and (max-width: $build-header-menu-tablet) {
        margin-bottom: 10px;
        width: auto;
        text-align: center;
    }

    @media screen and (max-width: $build-header-menu-mobile) {
        width: 100%;
        margin: 0 0 10px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.header-list_link {
    border: none;
    padding: 5px;
    color: $white !important;
    display: inline-block;
    border-radius: 2px;
    line-height: 16px;
    font-weight: normal;

    @media screen and (max-width: $build-header-menu-mobile) {
        display: block;
    }

    &:hover {
        color: $header-nav-link-color-hover !important;
        border-color: $header-nav-link-color-hover;
    }
}
