.header-global {
    box-sizing: border-box;
    border: none;
    background: rgba(74, 74, 79, 0.8);
    border-bottom: 1px solid #454545;
    z-index: 103;
    .wrapper-header {
        padding: 0 10px 0 0;
        max-width: 1220px;
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &:after {
            display: none;
        }
    }
    .nav-global,
    h1.logo {
        margin: 0;
    }
    h1.logo {
        margin-left: 10px;
    }
    .menu-wrap__flex li {
        @media (max-width: $responsive-large) {
            display: block;
        }
    }
}
.header-global .nav-courseware li .btn {
    @include btn-empty ($active-color);
}
.home>header .outer-wrapper {
    animation: none;
    padding: 0;
}
.menu-open .header-global__black {
    background: rgba(74, 74, 79, 1);
}