.icon-list {
    display: flex;
    align-items: center;
    margin: 0 auto 15px;
    padding: 0;
    list-style: none;
    @media screen and (min-width: 800px) {
        margin-bottom: 0;
    }
    &_item {
        margin: 0 4px;
    }
    &_link {
        display: block;
        width: 35px;
        height: 35px;
    }
    &_icon {
        width: 35px;
        height: 35px;
        fill: $footer-social-link-bg;
        &:hover {
            fill: $footer-social-link-bg-hover;
        }
    }
}
