.program-course {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    justify-content: space-between;
    @media (max-width: $mobile-size) {
        flex-direction: column;
    }
}

.program-course__heading {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 24px;
    color: #000;
    margin-bottom: 30px;
    font-weight: bold;
}

.program-course__box {
    width: 48%;
    max-width: 48%;
    @media (max-width: $mobile-size) {
        width: 100%;
        max-width: 100%;
    }
}

.program-course__text {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 24px;
    color: #000;
    margin-bottom: 30px;
}

.program-course__mark {
    background: none;
    font-weight: normal;
    display: inline-block;
    border: 1px solid #000;
    border-radius: 3px;
    font-style: normal;
}
