.progress {
    &__holder {
        display: flex;
        width: 100%;
        position: relative;
        justify-content: flex-start;
        flex-wrap: wrap;
        max-width: 1200px;
        margin: 0 auto;
        @media screen and (max-width: 768px) {
            flex-direction: column;
            align-items: center;
        }
    }
    &__ol-block {
        display: flex;
        flex-direction: column;
    }
    &__inner-holder {
        display: flex;
        flex-direction: column-reverse;
        position: relative;
        width: 100%;
    }
    &__bar-holder {
        border: 1px solid #000;
        border-radius: 6px;
        background: #57C4BD;
        height: 30px;
        width: 150px;
        margin-bottom: 0;
        position: relative;
    }
    &__bar {
        background: #062860;
        color: #fff;
        text-align: center;
        overflow: hidden;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__item {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 20px;
        margin-bottom: 20px;
        box-sizing: border-box;
        @media screen and (max-width: 768px) {
            margin-bottom: 20px;
        }
    }
    &__title {
        font-size: 20px;
        margin-bottom: 33px;
        align-self: flex-start;
        margin: 0 auto;
        font-weight: bold;
        margin-bottom: 8px;
        @media (min-width: $tablet-size) {
            font-weight: normal;
            margin: 0;
        }
    }
    &__subtitle {
        font-size: 14px;
        font-style: italic;
        h4 {
            margin-bottom: 8px;
            text-align: center;
            @media (min-width: $tablet-size) {
                margin-bottom: 0;
                text-align: left;
            }
        }
    }
    &__image {
        width: 48px;
        height: 48px;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -24px 0 0 -24px;
    }
    &__image-holder {
        width: 90px;
        height: 90px;
        margin: 0 auto 16px;
        align-self: flex-start;
        border-radius: 50%;
        box-shadow: 0 0 20px 10px rgba(0,0,0,0.03);
        position: relative;
        @media (min-width: $tablet-size) {
            width: 48px;
            height: 48px;
            margin: 0 0 16px;
            border-radius: 0;
            box-shadow: none;
        }
    }
    &__total-result {
        margin-bottom: 0;
        padding-right: 0;
        flex: 0 0 50%;
        @media (min-width: $tablet-size) {
            padding-right: 10px;
        }

        h4 {
            font-size: 14px;
            line-height: 1;
            margin: 0 0 8px;
            @media (min-width: $tablet-size) {
                margin: 0;
            }
        }
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        order: 2;
        align-items: center;
        margin-bottom: 8px;
        flex-direction: column;
        @media (min-width: $tablet-size) {
            flex-direction: row;
        }

        &:last-child {
            order: 1;
            margin-bottom: 30px;
        }
    }
    &__in-wrapper {

    }
    &__item-wrapper {
        flex: 0 0 50%;
        @media screen and (max-width: 768px) {
            flex: 0 0 100%;
            width: 100%;
        }
    }
    &__score {
        font-size: 16px;
        line-height: 1.3;
        margin-right: auto;
        @media (min-width: $tablet-size) {
            font-size: 26px;
            margin-right: 0;
        }
    }
    &__score-holder {
        font-size: 24px;
        color: #57C4BD;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media screen and (max-width: 920px){
            flex-direction: column;
            align-items: flex-start;
            padding: 0 20px;
        }
    }
    &__main-progress {
        color: #3A3D3F;
        font-size: 16px;
        line-height: 1.3;
        @media (min-width: $tablet-size) {
            font-size: 24px;
        }
    }
    &__score-remaining {
        font-size: 10px;
        line-height: 1.3;
        font-style: italic;
        margin-top: 0;
        @media (min-width: $tablet-size) {
            font-size: 12px;
        }
    }
    &__score-wrapper {
        margin: 0 auto 16px;
        max-width: 1200px;
        width: 100%;
    }
    &__static-text-holder {
        width: 100%;
        position: relative;
        padding: 16px 0 50px;
    }
    &__gradient-line {
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(to right, #072465 0%, #00c5bd 100%);
        height: 3px;
        width: 100%;
    }
    &__static-text {
        margin: 16px auto 0;
        max-width: 1200px;
        width: 100%;
        font-size: 20px;
        line-height: 1.3;
        font-style: normal;
        @media screen and (max-width: 920px){
            padding: 0 20px;
            font-size: 14px;
            line-height: 1.3;
            font-style: italic;
        }
    }
    &__number {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: 0;
        color: #fff;
        font-weight: 700;
    }
    &__score-subholder {
        display: flex;
        align-items: center;
        flex-direction: column;
        @media (min-width: $tablet-size) {
            flex-direction: row;
        }
    }
    &__score-remaining {
        margin-right: auto;
        width: 228px;
        @media (min-width: $tablet-size) {
            margin: 0 0 0 16px;
        }
    }
}
