.program-course {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    justify-content: space-between;
    @media (max-width: $mobile-size) {
        flex-direction: column;
    }
}

.program-course__heading {
    font-size: 24px;
    line-height: 24px;
    color: #054E6F;
    margin-bottom: 20px;
    font-weight: bold;
}

.program-course__box {
    width: 48%;
    max-width: 48%;
    @media (max-width: $mobile-size) {
        width: 100%;
        max-width: 100%;
    }
}

.program-course__text {
    font-size: 20px;
    line-height: 24px;
    color: #054E6F;
    margin-bottom: 30px;
}

.program-course__mark {
    font-size: 16px;
    font-style: normal;
    line-height: 16px;
    color: #fff;
    background: #008707;
    font-weight: normal;
    display: inline-block;
    border-radius: 50%;
    padding: 0 3px 0;
    margin-right: 16px;
}

.teacher-box__text-holder {
    width: 100%;
}
