.promo-section {
    background: #040404 url('../images/background2.jpg') 50%;
    border-bottom: 9px solid $color1;
    background-size: cover;
    margin-bottom: 40px;
}

.promo-section__holder {
    max-width: 1200px;
    width: 100%;
    padding: 69px 15px 60px;
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center;
}

.promo-section__name {
    text-decoration: none;
    text-align: center;
    border: none !important;
    font-size: 140px;
    line-height: 1.3;
    margin-bottom: 30px;
    display: block;
    font-weight: bold;
    color: #fff;
}

.promo-section__title {
    font-size: 40px;
    line-height: 1.3;
    display: block;
    text-align: center;
    color: #fff;
    margin-bottom: 30px;
}

.promo-section__description {
    overflow: hidden;
    text-align: center;
    color: #fff;
    margin: 0 0 50px;
}

.promo-section__description-name {
    float: left;
    font-size: 26px;
    line-height: 1.3;
    font-weight: bold;
}

.promo-section__description-text {
    text-align: center;
    font-size: 26px;
    line-height: 1.3;
    margin: 0;
}

.promo-section__link {
    border-radius: 2px;
    color: #fff !important;
    background: #31a8e0;
    font-size: 16px;
    text-transform: uppercase;
    padding: 14px 25px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 254px;
    margin: 0 auto;

    svg {
        width: 18px;
        margin-right: 5px;
    }
}
