.progress {
    &__main-wrapper {
        max-width: 1230px;
        padding: 0 15px;
        box-sizing: border-box;
        margin: 0 auto;
    }
    &__container {
        display: flex;
        justify-content: space-between;

        .info-wrapper {
            flex: 0 0 353px;
            @media (max-width: $tablet-size) {
                flex: 0 0 100%;
                width: 100%;
            }
        }
        @media (max-width: $tablet-size) {
            flex-direction: column;
        }
    }
}

.progress-content {
    width: 100%;
    margin: 40px 0 40px 44px;

    @media (max-width: $laptop-size) {
        margin-left: 25px;
    }
    @media (max-width: $tablet-size) {
        margin: 40px 0;
    }
}

.progress-status {
    display: flex;
    justify-content: space-between;

    @media (max-width: $mobile-size) {
        flex-direction: column;
    }

    &__assessment {
        font: 400 24px/32px 'Open Sans', Arial, sans-serif !important;
        color: $color6;
        margin-right: 25px;

        span {
            font: 600 24px/32px 'Open Sans', Arial, sans-serif !important;
            display: block;
            color: $color8;
            margin-top: 7px;
        }

        @media (max-width: $tablet-size) {
            margin: 0 0 30px;
            text-align: center;
        }
    }
    
    &__rating {
        display: flex;
        flex-direction: column;
        flex: none;
    }

    &__score {
        font: 600 24px/32px 'Artegra Sans', Arial, sans-serif !important;
        color: $color7;
        @media (max-width: $tablet-size) {
            text-align: center;
        }
    }

    &__score-remaining {
        font: 400 12px/18px 'Artegra Sans', Arial, sans-serif !important;
        color: $theme-header-link-color;
        max-width: 220px;
        margin-left: auto;
        text-align: right;

        @media (max-width: $tablet-size) {
            margin: 0 auto;
            text-align: center;
        }
    }
}

.progress-sections {
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__number {
        font: 400 20px/24px 'Artegra Sans', Arial, sans-serif !important;
        color: #212121;
        margin: 0;
    }

    &__subtitle,
    &__total-result {
        font: 600 16px/24px 'Artegra Sans', Arial, sans-serif !important;
        color: $theme-header-link-color;

        h4 {
            font: 600 16px/24px 'Artegra Sans', Arial, sans-serif !important;
            color: $theme-header-link-color;
        }
    }

    &__total-result {
        margin-right: 10px;
    }

    &__title {
        font: 600 16px/24px 'Artegra Sans', Arial, sans-serif !important;
        color: $theme-header-link-color;
        position: relative;
        display: flex;
        align-items: center;
        margin-bottom: 30px;

        &:before {
            content: '';
            background-color: $theme-header-btn-color;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            margin: -3px 20px 0 0;

            @media (max-width: $tablet-size) {
                margin: -3px 10px 0 0;
            }
        }
    }

    &__inner-holder {
        margin-left: 30px;
        @media (max-width: $tablet-size) {
            margin-left: 20px;
        }
    }

    &__item-wrapper {
        margin-bottom: 60px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.progress-icon {
    font: 600 24px/32px 'Artegra Sans', Arial, sans-serif !important;
    text-align: right;
    color: $color6;
    margin: 25px 0;
}
