.promo-section {
    margin-bottom: 92px;
    position: relative;

    @media (max-width: $mobile-size) {
        margin-bottom: 60px;
    }
}

.promo-section__bg {
    display: block;
    width: 100%;
    margin: 0 auto;
    max-width: 1920px;

    @media (max-width: $mobile-size) {
        min-height: 380px;
        object-fit: cover;
    }
}

.promo-section__holder {
    max-width: 1230px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;

    @media (max-width: $mobile-size) {
        padding: 30px 15px;
        box-sizing: border-box;
    }
}

.promo-section__name {
    text-decoration: none;
    text-align: center;
    border: none !important;
    font-size: 140px;
    line-height: 1.3;
    margin-bottom: 30px;
    display: block;
    font-weight: bold;
    color: #fff;

    @media (max-width: $mobile-size) {
        font-size: 110px;
    }

    @media (max-width: 320px) {
        font-size: 80px;
    }
}

.promo-section__title {
    font-family: 'Artegra Sans', sans-serif !important;
    font-size: 60px;
    line-height: 72px;
    font-weight: 700;
    display: block;
    text-align: left;
    color: #fff;
    margin-bottom: 30px;

    @media (max-width: $laptop-size) {
        font-size: 36px;
        line-height: 42px;
        margin-bottom: 25px;
    }

    @media (max-width: $mobile-size) {
        font-size: 26px;
        line-height: 32px;
        margin-bottom: 22px;
    }
}

.promo-section__wrapper {
    max-width: 500px;
    position: absolute;
    left: 15px;
    top: 180px;

    .login-theme {
        text-transform: none;
        padding: 16px 37px;
    }

    @media (max-width: $laptop-size) {
        top: initial;
        bottom: 30px;
    }


    @media (max-width: $mobile-size) {
        width: 100%;
        padding-right: 30px;
        box-sizing: border-box;
    }
}

.promo-section__description {
    overflow: hidden;
    text-align: center;
    color: #fff;
    margin: 0 0 50px;
}

.promo-section__description-name {
    float: none;
    font-size: 0;
    line-height: 0;
}

.promo-section__description-text {
    text-align: center;
    font-size: 26px;
    line-height: 1.3;
    margin: 0;
}

.promo-section__link {
    border-radius: 2px;
    color: #fff !important;
    background: #31a8e0;
    font-size: 16px;
    text-transform: uppercase;
    padding: 14px 25px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 254px;
    margin: 0 auto;

    svg {
        width: 18px;
        margin-right: 5px;
    }
}
