.progress {
    &__holder {
        display: flex;
        width: 100%;
        position: relative;
        justify-content: flex-start;
        flex-wrap: wrap;
        max-width: 1200px;
        margin: 0 auto;
        @media screen and (max-width: 768px) {
            flex-direction: column;
            align-items: center;
        }
    }
    &__ol-block {
        display: flex;
        flex-direction: column;
    }
    &__inner-holder {
        display: flex;
        flex-direction: column-reverse;
        position: relative;
        width: 100%;
    }
    &__bar-holder {
        border: 1px solid #000;
        border-radius: 6px;
        background: #57C4BD;
        height: 30px;
        width: 150px;
        margin-bottom: 15px;
    }
    &__bar {
        background: #062860;
        color: #fff;
        text-align: center;
        overflow: hidden;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__item {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 20px;
        margin-bottom: 20px;
        box-sizing: border-box;
        @media screen and (max-width: 768px) {
            margin-bottom: 20px;
        }
    }
    &__title {
        font-size: 20px;
        margin-bottom: 20px;
        align-self: flex-start;
        @media screen and (max-width: 768px) {
            padding: 0;
        }
    }
    &__subtitle {
        font-size: 14px;
        font-style: italic;
    }
    &__image {
        width: 48px;
        height: 48px;
        margin-bottom: 10px;
        align-self: flex-start;
    }
    &__total-result {
        margin-bottom: 15px;
        flex: 0 0 50%;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        order: 2;
        &:last-child {
            order: 1;
            margin-bottom: 30px;
        }
    }
    &__in-wrapper {

    }
    &__item-wrapper {
        flex: 0 0 50%;
        @media screen and (max-width: 768px) {
            flex: 0 0 100%;
        }
    }
}
