.sprite-icons {
    background-image: url(#{$img-path}/icons.png);
    background-repeat: no-repeat;
    display: block;
    margin: auto;
}

.sprite-facebook {
    width: 10px;
    height: 19px;
    background-position: -1px -1px;
}

.sprite-linkedin {
    width: 18px;
    height: 18px;
    background-position: -13px -1px;
}

.sprite-twitter {
    width: 18px;
    height: 16px;
    background-position: -33px -1px;
}