.subject {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 20px;
}
.subject__item {
    width: 23%;
    min-height: 219px;
    border-radius: 6px;
    box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.5);;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    overflow: hidden;
}
.subject__img {
    position: absolute;
    top: 0;
    left: 0;
}
.subject__text {
    font-size: 24px;
    line-height: 1.3;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    position: relative;
}
