.subject {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px 20px;
    @media (min-width: $desktop-size) {
        justify-content: space-between;
        padding: 0 0 20px;
    }
}
.subject__item {
    width: 23%;
    min-height: 220px;
    min-width: 277px;
    border-radius: 4px;
    box-shadow: 0 0 20px 10px rgba(0,0,0,0.10);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 24px 30px;
    overflow: hidden;
    @media (min-width: $desktop-size) {
        box-shadow: 0 3px 3px 0 rgba(0,0,0,0.30);
        margin: 0 0 30px;
        border-radius: 6px;
    }
}
.subject__img {
    position: absolute;
    top: 0;
    left: 0;
}
.subject__text {
    font-size: 24px;
    line-height: 1.3;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    position: relative;
}
