.theme-header {
    background: $header-background;
    padding: 22px 0 23px;
    border-bottom: none;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.75);
    z-index: 2;
    position: relative;

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        overflow-x: hidden;
    }

    @media screen and (min-width: $breakpoint-tablet) {
        padding: 30px 0;
    }

    .course-header {
        display: block;
        text-align: center;
        width: 100%;
        clear: both;
        color: #fff;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 400;
        margin: 15px 0 5px !important;
        -webkit-font-smoothing: antialiased;
        line-height: 19px;
        word-break: break-word;
        max-width: 100%;
        box-sizing: border-box;
        padding: 0 10px;

        span {
            color: inherit !important;
            font: inherit !important;
        }
    }
}

.theme-header__holder {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    box-sizing: border-box;
    position: static;

    @media screen and (max-width: $build-header-menu-tablet) {
        flex-wrap: wrap;
    }
}

.theme-header__wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 0 0 40px;
    align-items: center;

    &.theme-header__wrapper__not-authenticated {
        justify-content: flex-end;
    }

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        display: block;
    }

    @media screen and (max-width: $build-header-menu-tablet) {
        width: 100%;
        padding: 0;
        flex-wrap: wrap;
        justify-content: center;
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 150;
        background: $header-background;
        border-top: 1px solid #3b3f44;

        .menu-open & {
            display: flex;
        }
    }

    .lang_ar & {
        padding: 0 40px 0 0;

        @media screen and (max-width: 760px) {
            padding: 0;
        }
    }

    .secondary {
        display: flex;
        align-items: center;
        z-index: 2;

        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
            float: right;
        }

        @media (max-width: $build-header-menu-tablet) {
            align-items: center;
            justify-content: center;
            order: 2;
            padding: 20px 15px;
            border-top: 1px solid #d4d4d4;
            width: 100%;
            box-sizing: border-box;

            .user {
                margin-right: 65px;
            }
        }

        @media (max-width: $build-header-menu-mobile) {
            justify-content: space-between;
        }

        .doc-link {
            svg {
                display: none;
                width: 18px;
                height: 18px;
                fill: $base-color2;
                vertical-align: middle;
                position: relative;
                top: -2px;
                margin-right: 2px;
            }
        }
    }
}

.theme-header__block {
    margin: 0;
    display: flex;
    align-items: center;
    z-index: 2;
    box-sizing: border-box;

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        position: relative;
        display: block;
        float: right;
    }

    @media screen and (max-width: $build-header-menu-tablet) {
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        padding: 15px 15px 20px;
    }

    .lang_ar & {
        margin: 0 auto 0 0;
    }
}

.theme-header .list-inline {
    margin-bottom: 0 !important;
}
