.title {
    transform: translate(38%, 0);
    padding: 23px 0 23px 100px;
    position: relative;
    margin-bottom: 50px;
}
.title_left {
    transform: translate(-38%, 0);
    padding: 23px 100px 23px 0;
    
}
.title__heading {
    margin: 0;
    font-size: 20px;
    color: #fff;
    line-height: 27px;
    position: relative;
    font-family: "Open Sans",Verdana,Geneva,sans-serif,sans-serif;

    .title_left & {
        text-align: right;
    }
}
.title__helper {
    width: 75%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    background: $gradient2;
    transform: skew(20deg);
    box-shadow: -1px 2px 7px 0px rgba(0,0,0,0.5);

    .title_left & {
        left: auto;
        right: 0;
        transform: skew(-20deg);
        box-shadow: 1px 2px 7px 0px rgba(0, 0, 0, 0.5);
    }
}
