.title {
    transform: translate(38%, 0);
    padding: 23px 0 23px 100px;
    position: relative;
    margin-bottom: 50px;
    box-shadow: 5px 2px 7px 0px rgba(0, 0, 0, 0.5);

    &:after {
        content: '';
        border-top: 65px solid transparent;
        border-right: 50px solid transparent;
        border-bottom: 65px solid #fff;
        border-left: 50px solid #fff;
        position: absolute;
        left: -1px;
        top: 0;
    }
}
.title_left {
    transform: translate(-38%, 0);
    padding: 23px 100px 23px 0;
    box-shadow: -5px 2px 7px 0px rgba(0, 0, 0, 0.5);

    &:after {
        border-top: 65px solid transparent;
        border-right: 50px solid #fff;
        border-bottom: 65px solid #fff;
        border-left: 50px solid transparent;
        left: auto;
        right: -1px;
    }
}
.title__heading {
    margin: 0;
    font-size: 20px;
    color: #fff;
    line-height: 27px;
    position: relative;
    font-family: "Open Sans",Verdana,Geneva,sans-serif,sans-serif;

    .title_left & {
        text-align: right;
    }
}
.title__helper {
    width: 62%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    background: $gradient2;

    .title_left & {
        left: auto;
        right: 0;
    }
}
