.tree-blocks {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1230px;
    padding: 0 15px;
    box-sizing: border-box;
    margin: 0 auto 40px;

    @media (max-width: $desktop-size) {
        justify-content: space-around;
    }

    @media (max-width: $mobile-size) {
        flex-direction: column;
    }
}

.tree-blocks__holder {
    width: 30%;
    padding: 0 0 30px 47px;
    box-sizing: border-box;

    @media (max-width: $laptop-size) {
        padding-left: 0;
    }

    @media (max-width: $tablet-size) {
        width: 100%;
        margin: 0 auto 30px;
    }

    @media (max-width: $mobile-size) {
        margin: 0 auto 20px;
    }
}

.tree-blocks__heading {
    padding: 20px 10px;
    font: 600 24px/32px 'Artegra Sans', sans-serif;
    color: $color6;
    text-transform: uppercase;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;

    @media (max-width: $desktop-size) {
        max-height: 79px;
    }

    @media (max-width: $laptop-size) {
        font: 600 20px/26px 'Artegra Sans', sans-serif;
    }

    @media (max-width: $mobile-size) {
        font: 600 16px/22px 'Artegra Sans', sans-serif;
    }
}

.tree-blocks__text {
    font: 16px/24px 'Artegra Sans', sans-serif;
    color: #000;
    width: 100%;
}

.tree-blocks__ico1 {
    width: 58px;
    height: 58px;
    background: url('../images/tree-bloks-ico-1.svg') no-repeat 50%;
    flex: none;
}

.tree-blocks__ico2 {
    width: 58px;
    height: 58px;
    background: url('../images/tree-bloks-ico-2.svg') no-repeat 50%;
    flex: none;
}

.tree-blocks__ico3 {
    width: 58px;
    height: 58px;
    background: url('../images/tree-bloks-ico-3.svg') no-repeat 50%;
    flex: none;
}

.tree-blocks__wrapper {
    display: flex;
    justify-content: space-between;

    @media (max-width: $desktop-size) {
        flex-direction: column;
        align-items: center;
    }
}

.tree-blocks__heading-text {
    margin-left: 14px;
}

