.video-box {
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.5);
    order: 1;

    .promo-block:nth-child(2n) & {
        order: 2;
    }
}
.video-box__text {
    position: absolute;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    top: 100px;
    left: 50px;
    line-height: 31px;
}
.video-box__holder {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 35%;
    box-sizing: border-box;
    padding: 50px 30px;
}
.video-box__blur {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    filter: blur(5px);
    background: rgba(96, 100, 100, 0.5);
    overflow: hidden;
}
.video-box_school-name {
    color: #fff;
    font-size: 24px;
    line-height: 29px;
    margin: 0 0 50px;
    position: relative;
}
.video-box__list {
    margin: 0;
    padding: 0 0 0 14px;
    list-style: none;
    position: relative;
}
.video-box__list-item {
    position: relative;
    color: #fff;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 16px;

    &:after {
        content: '';
        width: 10px;
        height: 10px;
        background: #fff;
        border-radius: 50%;
        position: absolute;
        left: -14px;
        top: 5px;
    }
}