.video-box {
    position: relative;
    overflow: hidden;
    box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.5);
    order: 1;
    background: #000;
    max-height: 448px;
    overflow: hidden;
    width: 100%;
    margin-bottom: 30px;
    .promo-block:nth-child(2n) & {
        order: 2;
    }
    .login-theme {
        z-index: 3;
    }

    @media (min-width: $desktop-size) {
        width: auto;
        margin: 0;
        border-radius: 6px;
    }
}
.video-box__wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    @media (min-width: 800px) {
        margin: 0 auto;
        width: 800px;
        height: 448px;
        padding: 0;
    }
    .login-theme {
        display: none;
        @media (min-width: $desktop-size) {
            display: block;
        }
    }
}
.video-box__text {
    position: absolute;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    top: 50px;
    left: 50px;
    line-height: 31px;
    z-index: 3;
    display: none;
    @media (min-width: $desktop-size) {
        display: block;
    }
}
.video-box__holder {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 35%;
    box-sizing: border-box;
    padding: 50px 30px;
}
.video-box__helper{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 96, 100, .5);
    overflow: hidden;
}
.video-box__blur {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    filter: blur(5px);
    overflow: hidden;
}
.video-box_school-name {
    color: #fff;
    font-size: 24px;
    line-height: 29px;
    margin: 0 0 50px;
    position: relative;
}
.video-box__list {
    margin: 0;
    padding: 0 0 0 14px;
    list-style: none;
    position: relative;
}
.video-box__list-item {
    position: relative;
    color: #fff;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 16px;

    &:after {
        content: '';
        width: 10px;
        height: 10px;
        background: #fff;
        border-radius: 50%;
        position: absolute;
        left: -18px;
        top: 5px;
    }
}
.video-box__cover {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
}
.video-box__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}