.week-structure {
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
}
.week-structure__name {
    font-size: 24px;
    line-height: 30px;
    color: #000;
    width: 241px;
    min-width: 241px;
    text-align: right;
    margin-left: 60px;
    font-weight: normal;
    order: 2;

    .week-structure:nth-child(2n) & {
        order: 1;
        text-align: left;
        margin-left: 0;
        margin-right: 60px;
    }
}
.week-structure__box {
    width: 100%;
    position: relative;
    padding: 16px 0 22px 0;
    min-height: 182px;
    order: 1;

    .week-structure:nth-child(2n) & {
        order: 2;
        padding-left: 106px;
    }
}
.week-structure__helper {
    position: absolute;
    top: 0;
    right: 41px;
    height: 100%;
    width: 140%;
    box-shadow: 3px 2px 7px 0px rgba(0, 0, 0, 0.5);
    transform: skew(20deg);
    background: $gradient4;

    .week-structure:nth-child(2n) & {
        right: auto;
        left: 41px;
        background: $gradient3;
    }
}
.week-structure__list {
    margin: 0;
    padding: 0 0 0 15px;
    list-style: none;
    column-count: 2;
    column-gap: 50px;
    max-width: 75%;
}
.week-structure__list-item {
    position: relative;
    color: #fff;
    font-size: 20px;
    font-style: italic;
    line-height: 30px;
    margin-bottom: 8px;

    &:after {
        content: '';
        position: absolute;
        left: -15px;
        top: 9px;
        width: 11px;
        height: 11px;
        background: #fff;
        border-radius: 50%
    }
}
