.week-structure {
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    @media (min-width: $tablet-size) {
        flex-direction: row;
    }
}
.week-structure__name {
    font-size: 16px;
    line-height: 30px;
    width: 241px;
    min-width: 241px;
    text-align: right;
    font-weight: normal;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto 16px;
    text-transform: uppercase;
    color: #082561;
    @media (min-width: $tablet-size) {
        color: #000;
        order: 2;
        margin: 0 0 0 60px;
        text-transform: none;
        flex-direction: row;
        padding-left: 24px;
    }
    @media (min-width: $tablet-size) {
        padding-left: 0;
    }

    .week-structure:nth-child(2n) & {
        @media (min-width: $tablet-size) {
            order: 1;
            text-align: left;
            margin-left: 0;
            margin-right: 60px;
            justify-content: flext-start;
        }
    }

    strong {
        font-weight: normal;
        word-break: break-all;
    }
}
.week-structure__ico {
    display: none;
    width: 90px;
    min-width: 90px;
    height: 90px;
    min-height: 90px;
    margin: 0 0 20px 0;
    background: url("../images/info-ico-1.png") no-repeat 50%;
    box-shadow: 0 0 20px 10px rgba(0,0,0,0.03);
    border-radius: 50%;
    @media (min-width: $tablet-size) {
        box-shadow: none;
        width: 48px;
        min-width: 48px;
        height: 48px;
        min-height: 48px;
        margin: 0 16px 0 0;
        border-radius: 0;
    }

    .week-structure:nth-child(2n) & {
        background: url("../images/info-ico-2.png") no-repeat 50%;
    }
}
.week-structure__box {
    border-radius: 4px;
    width: 272px;
    box-sizing: border-box;
    margin: 0 auto;
    position: relative;
    padding: 16px;
    min-height: 182px;
    box-shadow: 0 0 20px 10px rgba(0,0,0,0.07);
    @media (min-width: $tablet-size) {
        padding: 16px 0 22px 0;
        border-radius: 0;
        order: 1;
        box-shadow: none;
        width: 100%;
        margin: 0;
    }

    .week-structure:nth-child(2n) & {
        @media (min-width: $tablet-size) {
            order: 2;
            padding-left: 106px;
        }
    }
}
.week-structure__helper {
    position: absolute;
    top: 0;
    right: 41px;
    height: 100%;
    width: 140%;
    transform: skew(20deg);
    background: #f0f0f0;
    border-bottom: 3px solid $color1;
    display: none;
    @media (min-width: $tablet-size) {
        display: block;
    }

    .week-structure:nth-child(2n) & {
        right: auto;
        left: 41px;
        background: #f0f0f0;
        border-bottom: 3px solid $color1;
    }
}
.week-structure__list {
    margin: 0;
    padding: 0 0 0 15px;
    list-style: none;
    @media (min-width: $tablet-size) {
        padding-left: 39px;
        column-count: 2;
        column-gap: 50px;
        max-width: 75%;
    }
    @media (min-width: $desktop-size) {
        padding-left: 0;
    }
}
.week-structure__list-item {
    position: relative;
    color: #000;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 8px;
    @media (min-width: $tablet-size) {
        font-size: 20px;
        line-height: 30px;
        color: #fff;
    }

    &:after {
        content: '';
        position: absolute;
        left: -15px;
        top: 14px;
        width: 6px;
        height: 6px;
        background: #000;
        border-radius: 50%;
        @media (min-width: $tablet-size) {
            background: #000;
            width: 8px;
            height: 8px;
        }
    }

    a {
        font-size: 14px;
        line-height: 18px;
        color: #000;
        @media (min-width: $tablet-size) {
            color: #000;
        }
    }
}
