.week_holder {
    position: relative;
    z-index: 1;

    &:before,
    &:after {
        z-index: -1;
        position: absolute;
        content: "";
        bottom: 12px;
        left: 6px;
        width: 50%;
        top: 93%;
        max-width: 180px;
        background: rgba(178, 223, 219, .9);
        box-shadow: 0 15px 10px rgba(178, 223, 219, .9);
        transform: rotate(-3deg);
        border-radius: 46px;
    }

    &:after{
        transform: rotate(3deg);
        right: 6px;
        left: auto;
    }
    
    &__title {
        font: 400 16px/24px 'Artegra Sans', sans-serif !important;
        color: $theme-header-link-color;
        margin-left: 30px;
    }
}

.week-structure-container {
    border: 0.2px solid $theme-header-btn-color;
    box-sizing: border-box;
    border-radius: 0 0 24px 24px;
    box-shadow: 0 2px 7px 0 rgba(178, 223, 219, .4);
    padding: 32px 16px;
    background-color: $theme-btn-text-color;
    box-sizing: border-box;
    transition: all 400ms ease-in-out;
}

.week-structure__name {
    font: 600 16px/24px 'Artegra Sans', sans-serif !important;
    color: $color6;
    position: relative;
    cursor: pointer;
    padding: 20px 30px 20px 30px;

    &:before {
        display: block;
        content: '';
        position: absolute;
        left: 0;
        top: 28px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: $theme-header-btn-color;
    }

    &:after {
        display: block;
        content: '';
        position: absolute;
        top: 25px;
        right: 0;
        background-image: url('../images/arrow-right.svg');
        background-size: contain;
        width: 16px;
        height: 16px;
        transition: all 200ms ease;
    }

    &.is-active {
        &:after {
            transform: rotate(90deg);
        }
    }
}
.week-structure__box {
    display: none;
    margin: 0 0 20px;
}

.week-structure {
    border-bottom: 1px solid #B2DFDB;

    &:last-child {
        border-bottom: 0;
    }
}
.week-structure__ico {
    display: none;
    width: 90px;
    min-width: 90px;
    height: 90px;
    min-height: 90px;
    margin: 0 0 20px 0;
    background: url("../images/info-ico-1.png") no-repeat 50%;
    box-shadow: 0 0 20px 10px rgba(0,0,0,0.03);
    border-radius: 50%;
    @media (min-width: $tablet-size) {
        box-shadow: none;
        width: 48px;
        min-width: 48px;
        height: 48px;
        min-height: 48px;
        margin: 0 16px 0 0;
        border-radius: 0;
    }

    .week-structure:nth-child(2n) & {
        background: url("../images/info-ico-2.png") no-repeat 50%;
    }
}

.week-structure__helper {
    border: 1px solid $theme-header-btn-color;
    border-radius: 6px;
    width: 16px;
    height: 16px;
    background-color: #E0F2F1;
    flex: none;
    position: absolute;
    top: 2px;
    left: 0;

    &.is-checked {
        background-color: $theme-header-btn-color;
    }
}

.week-structure__list {
    list-style: none;
    padding: 0;
    margin: 0;
    counter-reset: list-counter;
}
.week-structure__list-item {
    margin-bottom: 8px;
    counter-increment: list-counter;
    padding-left: 60px;
    position: relative;
    display: flex;

    &:before {
        content: counter(list-counter) ". ";
        position: absolute;
        left: 35px;
        top: 3px;
        color: #000000;
        font: 600 12px/18px 'Artegra Sans', sans-serif !important;
    }

    a {
        font: 400 16px/24px 'Artegra Sans', sans-serif !important;
        color: $color6;

        &:hover {
            color: lighten($color6, 15%);
        }
    }

    &:last-child {
        margin-bottom: 0;
    }
}
