<%def name="online_help_token()"><% return "course" %></%def>
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _, get_language
from django.core.urlresolvers import reverse
%>
<%page args="category" expression_filter="h"/>
<div class="category" id="${category.id}" role="region" aria-label="${category.name}">
    <div class="category-info" aria-hidden="true">
        <div class="category-image">
            <img src="${category.img.url if category.img else ''}" alt="${category.name}" />
        </div>
        <div class="category-info-body">
            <h2 class="category-title">
                ${category.name}
            </h2>
            <p class="category-description">
                ${category.description}
            </p>
        </div>
    </div>
    <div class="category-info-footer">
        <a class="category-details-btn" href="${reverse('courses_list_for_category', kwargs={'slug': category.slug})}">
            ${_("View details")}
            &ensp;
            <i class="fa fa-chevron-right"></i>
        </a>
    </div>
</div>
