<%page expression_filter="h"/>
<%namespace name='static' file='static_content.html'/>
<%! from django.utils.translation import ugettext as _ %>

<section class="courses-container">
  <section class="highlighted-courses">

    % if settings.FEATURES.get('COURSES_ARE_BROWSABLE'):
      <section class="courses">
        <ul class="courses-listing">
          ## limiting the course number by using HOMEPAGE_COURSE_MAX as the maximum number of courses
          %for course in courses[:settings.HOMEPAGE_COURSE_MAX]:
          <li class="courses-listing-item">
              <%include file="course.html" args="course=course" />
          </li>
        %endfor
        </ul>
      <div class="single-item slider">
        <div class="slide-item">
          <div class="slide">
            <header class="slide-header">
              <img src="/asset-v1:Opusplace+MA101.1+2017_09+type@asset+block@Rädda_Ekvationerna_-_del_2.jpg" alt="Rädda Ekvationerna - del 2" height="160">
              <div class="learn-more">
                <a class="learn-more_text">
                  LÄS MER
                </a>
                <a class="learn-more_date" href="https://content.opusplace.com/courses/course-v1:Opusplace+MA101.1+2017_08/about">28 aug, 2017</a>
                <div class="clear"></div>
                <a class="learn-more_date" href="https://content.opusplace.com/courses/course-v1:Opusplace+MA101.1+2017_09/about">25 sep, 2017</a>
              </div>
            </header>
            <div class="slider-container">
              <header>
                <span class="course-organization">Opusplace</span>
                <span class="course-title">Rädda Ekvationerna <br>del 2</span>
              </header>
              <footer>
                <span class="course-date">Startdatum:</span>
                <span class="course-date">
                  <a href="https://content.opusplace.com/courses/course-v1:Opusplace+MA101.1+2017_08/about">28 aug, 2017</a>
                  <a href="https://content.opusplace.com/courses/course-v1:Opusplace+MA101.1+2017_09/about">25 sep, 2017</a>
                </span>
              </footer>
            </div>
          </div>
        </div>

        <div class="slide-item">
          <div class="slide">
            <header class="slide-header">
              <img src="/asset-v1:Opusplace+MA102.1+2017_09+type@asset+block@Problemlösning_-_Att_väcka_intresse.jpg" alt="Problemlösning - Att väcka intresse" height="160">
              <div class="learn-more">
                <a class="learn-more_text">
                  LÄS MER
                </a>
                <a class="learn-more_date" href="https://content.opusplace.com/courses/course-v1:Opusplace+MA102.1+2017_09/about">25 sep, 2017</a>
                <div class="clear"></div>
                <a class="learn-more_date" href="https://content.opusplace.com/courses/course-v1:Opusplace+MA102.1+2017_11/about">6 nov, 2017</a>
              </div>
            </header>
            <div class="slider-container">
              <header>
                <span class="course-organization">Opusplace</span>
                <span class="course-title">Problemlösning<br>Att väcka intresse</span>
              </header>
              <footer>
                <span class="course-date">Startdatum:</span>
                <span class="course-date">
                  <a href="https://content.opusplace.com/courses/course-v1:Opusplace+MA102.1+2017_09/about">25 sep, 2017</a>
                  <a href="https://content.opusplace.com/courses/course-v1:Opusplace+MA102.1+2017_11/about">6 nov, 2017</a>
                </span>
              </footer>
            </div>
          </div>
        </div>

        <div class="slide-item">
          <div class="slide">
            <header class="slide-header">
              <img src="/asset-v1:Opusplace+SO100.1+2017_09+type@asset+block@Tolerans_och_Demokrati.jpg" alt="Tolerans och Demokrati" height="160">
              <div class="learn-more">
                <a class="learn-more_text">
                  LÄS MER
                </a>
                <a class="learn-more_date" href="https://content.opusplace.com/courses/course-v1:Opusplace+SO100.1+2017_09/about">25 sep, 2017</a>
                <div class="clear"></div>
                <a class="learn-more_date" href="https://content.opusplace.com/courses/course-v1:Opusplace+SO100.1+2017_11/about">20 nov, 2017</a>
              </div>
            </header>
            <div class="slider-container">
              <header>
                <span class="course-organization">Opusplace</span>
                <span class="course-title">Tolerans och Demokrati</span>
              </header>
              <footer>
                <span class="course-date">Startdatum:</span>
                <span class="course-date">
                  <a href="https://content.opusplace.com/courses/course-v1:Opusplace+SO100.1+2017_09/about">25 sep, 2017</a>
                  <a href="https://content.opusplace.com/courses/course-v1:Opusplace+SO100.1+2017_11/about">20 nov, 2017</a>
                </span>
              </footer>
            </div>
          </div>
        </div>

        <div class="slide-item">
          <div class="slide">
            <header class="slide-header">
              <img src="/asset-v1:Opusplace+SO101.1+2017_OPEN+type@asset+block@Projekt_CitizenZ.jpg" alt="Projekt CitizenZ" height="160">
              <div class="learn-more">
                <a class="learn-more_text">
                  LÄS MER
                </a>
                <a class="learn-more_date" href="https://content.opusplace.com/courses/course-v1:Opusplace+SO101.1+2017_OPEN/about">4 sep - 5 nov, 2017</a>
                <div class="clear"></div>
                <a class="learn-more_date" href="https://content.opusplace.com/courses/course-v1:Opusplace+SO101.1+2017_11/about">6 nov, 2017</a>
              </div>
            </header>
            <div class="slider-container">
              <header>
                <span class="course-organization">Opusplace</span>
                <span class="course-title">Projekt CitizenZ</span>
              </header>
              <footer>
                <span class="course-date">Startdatum:</span>
                <span class="course-date">
                  <a href="https://content.opusplace.com/courses/course-v1:Opusplace+SO101.1+2017_OPEN/about">4 sep - 5 nov, 2017 <br>öppen tillgång</a>
                  <a href="https://content.opusplace.com/courses/course-v1:Opusplace+SO101.1+2017_11/about">6 nov, 2017</a>
                </span>
              </footer>
            </div>
          </div>
        </div>

        <div class="slide-item">
          <div class="slide">
            <header class="slide-header">
              <img src="/asset-v1:Opusplace+MA100.1+2017_08+type@asset+block@Opusplace.png" alt="Rädda Ekvationerna - del 1" height="160">
              <div class="learn-more">
                <a class="learn-more_text">
                  LÄS MER
                </a>
                <a class="learn-more_date" href="https://content.opusplace.com/courses/course-v1:Opusplace+MA100.1+2017_08/about">28 aug, 2017</a>
                <div class="clear"></div>
                <a class="learn-more_date" href="https://content.opusplace.com/courses/course-v1:Opusplace+MA100.1+2017_09/about">25 sep, 2017</a>
              </div>
            </header>
            <div class="slider-container">
              <header>
                <span class="course-organization">Opusplace</span>
                <span class="course-title">Rädda Ekvationerna<br>del 1</span>
              </header>
              <footer>
                <span class="course-date">Startdatum:</span>
                <span class="course-date">
                  <a href="https://content.opusplace.com/courses/course-v1:Opusplace+MA100.1+2017_08/about">28 aug, 2017</a>
                  <a href="https://content.opusplace.com/courses/course-v1:Opusplace+MA100.1+2017_09/about">25 sep, 2017</a>
                </span>
              </footer>
            </div>
          </div>
        </div>

      </div>
      </section>
      <script src="/static/${settings.DEFAULT_SITE_THEME}/js/slick.min.js"></script>
      <script>
        var slider = $('.single-item')
          .slick({
            slidesToShow: 3,
            slidesToScroll: 1,
            speed: 600,
            autoplay: false,
            autoplaySpeed: 3000,
            pauseOnHover: true,
            responsive: [{
                    breakpoint: 980,
                    settings: {
                        slidesToShow: 2
                    }
                }, {
                    breakpoint: 650,
                    settings: {
                        slidesToShow: 1
                    }
                }]
          }
      );
      slider.slick('slickPlay');
      var myTimeout;
        $( '.slick-arrow' )
        .mouseenter(function() {
            slider.slick('slickPause');
        })
        .mouseleave(function() {
            slider.slick('slickPlay');
        })
        .click(function() {
            clearTimeout(myTimeout);
            myTimeout = setTimeout(function() {
                slider.slick('slickPlay');
            }, 6000);
        });

        $( '.slide' ).click(function() {
            clearTimeout(myTimeout);
            myTimeout = setTimeout(function() {
                slider.slick('slickPlay');
            }, 6000);
        });
      </script>
    ## in case there are courses that are not shown on the homepage, a 'View all Courses' link should appear
      % if settings.HOMEPAGE_COURSE_MAX and len(courses) > settings.HOMEPAGE_COURSE_MAX:
      <div class="courses-more">
        <a class="courses-more-cta" href="${marketing_link('COURSES')}"> ${_("View all Courses")} </a>
      </div>
    % endif
    % endif

  </section>
</section>