<%def name="online_help_token()"><% return "course" %></%def>
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse
from openedx.core.djangoapps.models.course_details import CourseDetails
%>
<%page args="course" expression_filter="h"/>
<% details = CourseDetails.fetch(course.id) %>


<div class="left-full-info">
    <a class="left-full-info__title" href="${reverse('about_course', args=[course.id.to_deprecated_string()])}">${course.display_name_with_default}</a>
    % if details.short_description:
    <p class="left-full-info__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores nostrum mollitia esse fugiat! Ab omnis voluptatum consequatur temporibus nostrum laboriosam, voluptatibus quidem iure iste doloremque doloribus, hic itaque magni quas.</p>
    % endif
    <a href="${reverse('about_course', args=[course.id.to_deprecated_string()])}" class="left-full-info__btn-more">view more</a>
</div>
<div class="right-short-info">
    <ol class="short-info-list">
        % if course.vendor:
        <li class="short-info-list__item">
            <img class="short-info-list__img" src="/static/${settings.DEFAULT_SITE_THEME}/images/vendor-icon.svg">
            <div class="short-info-list__text">
                <strong class="custom-param-name">${_("Vendor")}</strong>
                <span class="custom-param-value">${course.vendor}</span>
            </div>
        </li>
        % endif
        % if details.duration:
        <li class="short-info-list__item">
            <img class="short-info-list__img" src="/static/${settings.DEFAULT_SITE_THEME}/images/duration-icon.svg">
            <div class="short-info-list__text">
                <strong class="custom-param-name">${_("Duration")}</strong>
                <span class="custom-param-value">${details.duration}</span>
            </div>
        </li>
        % endif
        % if course.certified:
        <li class="short-info-list__item">
            <img class="short-info-list__img" src="/static/${settings.DEFAULT_SITE_THEME}/images/certificate-icon.svg">
            <div class="short-info-list__text">
                <strong class="custom-param-name">${_("Verified Certificate Available")}</strong>
                <span class="custom-param-value">${_("Yes") if course.certified else _("No")}</span>
            </div>
        </li>
        % endif
    </ol>
</div>



<%static:require_module_async module_name="js/dateutil_factory" class_name="DateUtilFactory">
    DateUtilFactory.transform(iterationKey=".localized_datetime");
</%static:require_module_async>
