<%page expression_filter="h"/>
<%namespace name='static' file='static_content.html'/>
<%! from django.utils.translation import ugettext as _ %>

<section class="courses-container">
  <section class="highlighted-courses">

    % if settings.FEATURES.get('COURSES_ARE_BROWSABLE'):
      <section class="courses course-page-section">
        <h2 class="h2">Курсы, которые скоро начнутся</h2>
        <ul class="courses-listing">
          <% course_max = settings.HOMEPAGE_COURSE_MAX %>
          ## limiting the course number by using HOMEPAGE_COURSE_MAX as the maximum number of courses
          %for course in courses[:course_max]:
          <li class="courses-listing-item">
              <%include file="course.html" args="course=course" />
          </li>
          %endfor
        </ul>
        ## in case there are courses that are not shown on the homepage, a 'View all Courses' link should appear
        % if course_max and len([c for c in courses if not c.has_ended()]) > course_max:
        <div class="courses-more">
          <a class="courses-more-cta" href="${marketing_link('COURSES')}"> ${_("View all Courses")} </a>
        </div>
        % endif
      </section>
      <section class="course-partners course-page-section">
        <h2 class="h2">Наши партнеры</h2>
        <ul class="course-partners-list">
          <li class="course-partners-list__item">
              <a href="http://kma.biz?utm_source=mama_edu&utm_medium=account_manager&utm_campaign=_sponsor" target="_blank">
                <img class="course-partners-list__image" src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/kmabiz_final.png" alt="kmabiz">
              </a>
          </li>
          <li class="course-partners-list__item">
              <a href="https://offerleader.com/" target="_blank">
                <img class="course-partners-list__image" src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/OfferLeader2.png" alt="OfferLeader">
              </a>
          </li>
          <li class="course-partners-list__item">
              <a href="http://alfaleads.net/" target="_blank">
                <img class="course-partners-list__image" src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/alfaleadsblack_final.png" alt="alfaleadsblack">
              </a>
          </li>
          <li class="course-partners-list__item">
            <a href="https://drop1.top/platform/register/?ref=bRBy0qUlNmO1jVs" target="_blank">
              <img class="course-partners-list__image" src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/Drop1top_final.png" alt="Drop1top">
            </a>
          </li>
          <li class="course-partners-list__item">
            <a href="https://kadam.net/?utm_source=mama" target="_blank">
              <img class="course-partners-list__image" src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/Kadam.png" alt="Kadam">
            </a>
          </li>
          <!-- 2 -->
          <li class="course-partners-list__item">
            <a href="https://pin-uppartners.com/home/" target="_blank">
              <img class="course-partners-list__image" src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/Pinup.png" alt="Pinup">
            </a>
          </li>
          <li class="course-partners-list__item">
            <a href="https://alpha-affiliates.com/" target="_blank">
              <img class="course-partners-list__image" src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/Alpha3.png" alt="Alpha">
            </a>
          </li>
          <li class="course-partners-list__item">
            <a href="https://www.marketcall.net/" target="_blank">
              <img class="course-partners-list__image" src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/marketcall.png" alt="marketcall">
            </a>
          </li>
          <li class="course-partners-list__item">
            <a href="https://t.me/mpulse_team" target="_blank">
              <img class="course-partners-list__image" src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/Mpulse.png" alt="Mpulse">
            </a>
          </li>
          <li class="course-partners-list__item">
            <a href="http://poshfriends.com" target="_blank">
              <img class="course-partners-list__image" src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/Posh_Friends3.png" alt="Posh_Friends">
            </a>
          </li>
          <!-- 3 -->
          <li class="course-partners-list__item">
            <a href="http://online24news.ru/" target="_blank">
              <img class="course-partners-list__image" src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/Online24Newsru3.png" alt="Online24Newsru">
            </a>
          </li>
          <li class="course-partners-list__item">
            <a href="https://neogara.com/" target="_blank">
              <img class="course-partners-list__image" src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/Neogara.png" alt="Neogara">
            </a>
          </li>
          <li class="course-partners-list__item">
            <a href="https://t.me/HR_PRO_HR" target="_blank">
              <img class="course-partners-list__image" src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/ITHRPro.png" alt="ITHRPro">
            </a>
          </li>
          <li class="course-partners-list__item">
            <a href="https://gorodrabot.ru/" target="_blank">
              <img class="course-partners-list__image" src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/Gorodrabot2.png" alt="Gorodrabot">
            </a>
          </li>
          <li class="course-partners-list__item">
            <a href="http://gagarin.partners/ru-ru/?utm_source=affschool&utm_medium=email&utm_campaign=affschool" target="_blank">
              <img class="course-partners-list__image" src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/Gagarin.png" alt="Gagarin">
            </a>
          </li>
          <!-- 4 -->
          <li class="course-partners-list__item">
            <a href="https://yryadom.ru/" target="_blank">
              <img class="course-partners-list__image" src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/Ya_ryadom2.png" alt="Ya_ryadom">
            </a>
          </li>
          <li class="course-partners-list__item">
            <a href="https://t.me/SlivHD" target="_blank">
              <img class="course-partners-list__image" src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/Vecherniysliv510x510.png" alt="Vecherniysliv">
            </a>
          </li>
          <li class="course-partners-list__item">
            <a href="https://envybox.io/" target="_blank">
              <img class="course-partners-list__image" src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/Envybox2.png" alt="Envybox">
            </a>
          </li>
          <li class="course-partners-list__item">
            <a href="https://t.me/arbitraj_chat" target="_blank">
              <img class="course-partners-list__image" src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/ArbitrajChat4.png" alt="ArbitrajChat">
            </a>
          </li>
          <li class="course-partners-list__item">
            <a href="https://edulid.com/program/" target="_blank">
              <img class="course-partners-list__image" src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/Edulid2.png" alt="Edulid">
            </a>
          </li>
        </ul>
      </section>
    % endif
  </section>
</section>
