<%page expression_filter="h"/>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
%>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="home">

    </section>
</main>

% if categories:
<div class="category-listing-holder">
    <ul class="category-listing">
        % for category in categories:
            % if category.courses.exists():
            <li class="category-listing-item">
                <%include file="category.html" args="category=category" />
            </li>
            % else:
            <h1>${_("There are no categories on the platform.")}</h1>
            % endif
        % endfor
    </ul>
</div>
% else:
<h1>${_("There are no categories on the platform.")}</h1>
% endif
