<%page expression_filter="h"/>
<%namespace name='static' file='static_content.html'/>
<%! from django.utils.translation import ugettext as _ %>

<section class="courses-container">
  <section class="highlighted-courses">

    % if settings.FEATURES.get('COURSES_ARE_BROWSABLE'):
      <section class="courses course-page-section">
        <h2 class="h2">Курсы, которые скоро начнутся</h2>
        <ul class="courses-listing">
          <% course_max = settings.HOMEPAGE_COURSE_MAX %>
          ## limiting the course number by using HOMEPAGE_COURSE_MAX as the maximum number of courses
          %for course in courses[:course_max]:
          <li class="courses-listing-item">
              <%include file="course.html" args="course=course" />
          </li>
          %endfor
        </ul>
        ## in case there are courses that are not shown on the homepage, a 'View all Courses' link should appear
        % if course_max and len([c for c in courses if not c.has_ended()]) > course_max:
        <div class="courses-more">
          <a class="courses-more-cta" href="${marketing_link('COURSES')}"> ${_("View all Courses")} </a>
        </div>
        % endif
      </section>
      <section class="course-partners course-page-section">
        <h2 class="h2">Наши партнеры</h2>
        <ul class="course-partners-list">
          <li class="course-partners-list__item">
            <a href="https://t.me/mpulse_team" target="_blank">
              <img class="course-partners-list__image" src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/mpulse_logo.png" alt="mpulse">
            </a>
          </li>
          <li class="course-partners-list__item">
            <a href="https://alpha-affiliates.com" target="_blank">
              <img class="course-partners-list__image" src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/alpha.png" alt="alpha">
            </a>
          </li>
          <li class="course-partners-list__item">
            <a href="https://pin-uppartners.com/mama" target="_blank">
              <img class="course-partners-list__image" src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/pinup_.png" alt="pinup">
            </a>
          </li>
          <li class="course-partners-list__item course-partners-list__item-increased">
            <a href="https://rocketprofit.com/?utm_source=post&utm_medium=site&utm_term=03_07_2020&utm_content=infopartners&utm_campaign=mama_edu" target="_blank">
              <img class="course-partners-list__image" src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/rocket.png" alt="rocket">
            </a>
          </li>
          <li class="course-partners-list__item">
            <a href="http://kma.biz?utm_source=mama_edu&utm_medium=account_manager&utm_campaign=_sponsor" target="_blank">
              <img class="course-partners-list__image" src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/kmabiz_final.png" alt="kmabiz">
            </a>
          </li>
          <li class="course-partners-list__item course-partners-list__item-decreased">
            <a href="https://terraleads.com/?lang=ru" target="_blank">
              <img class="course-partners-list__image" src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/tild3438-6433-4266-a163-616633663630__Logo_TL2.png" alt="terra leads">
            </a>
          </li>
          <li class="course-partners-list__item">
            <a href="https://c3pa.net" target="_blank">
              <img class="course-partners-list__image" src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/logo-black.svg" alt="5 years of success">
            </a>
          </li>
          <li class="course-partners-list__item">
            <a href="https://clicklead.ru/" target="_blank">
              <img class="course-partners-list__image" src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/clicklead.png" alt="clicklead">
            </a>
          </li>
          <li class="course-partners-list__item">
            <a href="http://netcraft.global/" target="_blank">
              <img class="course-partners-list__image" src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/cpa-rocks.png" alt="cpa-rocks">
            </a>
          </li>
          <li class="course-partners-list__item">
            <a href="https://8lab.com" target="_blank">
              <img class="course-partners-list__image" src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/8lab.png" alt="8lab">
            </a>
          </li>
          <li class="course-partners-list__item">
            <a href="http://Leadreaktor.com" target="_blank">
              <img class="course-partners-list__image" src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/leadreactor.png" alt="leadreactor">
            </a>
          </li>
          <li class="course-partners-list__item">
            <a href="http://cpagen.ru" target="_blank">
              <img class="course-partners-list__image" src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/cpagen.png" alt="cpagen">
            </a>
          </li>
          <li class="course-partners-list__item">
            <a href="https://hoqu.com/" target="_blank">
              <img class="course-partners-list__image" src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/hoqu.png" alt="hoqu">
            </a>
          </li>
          <li class="course-partners-list__item">
            <a href="https://adwise.agency/" target="_blank">
              <img class="course-partners-list__image" src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/advice-agency.png" alt="advice-agency">
            </a>
          </li>
          <li class="course-partners-list__item">
            <a href="https://monsterleads.pro/?utm_source=website&utm_medium=affiliate_marketing_start=sponsors" target="_blank">
              <img class="course-partners-list__image" src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/monsterleads.png" alt="monsterleads">
            </a>
          </li>
          <li class="course-partners-list__item">
            <a href="http://gdmgroup.com/uahiring" target="_blank">
              <img class="course-partners-list__image" src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/cdgroup.png" alt="cdgroup">
            </a>
          </li>
          <li class="course-partners-list__item course-partners-list__item-increased">
            <a href="http://zaleycash.com/?utm_source=mama&utm_medium=edu" target="_blank">
              <img class="course-partners-list__image" src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/zaleycash.png" alt="zaleycash">
            </a>
          </li>
          <li class="course-partners-list__item">
            <a href="https://vk.com/imgroupfb?w=product-157030407_2159899%2Fquery" target="_blank">
              <img class="course-partners-list__image" src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/imklo.png" alt="imklo">
            </a>
          </li>
          <li class="course-partners-list__item">
            <a href="https://indigobrowser.com" target="_blank">
              <img class="course-partners-list__image" src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/indigo.png" alt="indigo">
            </a>
          </li>
          <li class="course-partners-list__item">
            <a href="https://affise.com/referral/" target="_blank">
              <img class="course-partners-list__image" src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/Affise.png" alt="Affise">
            </a>
          </li>
          <li class="course-partners-list__item">
            <a href="https://binom.org/signup?from=MAMASCHOOL" target="_blank">
              <img class="course-partners-list__image" src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/binom.png" alt="binom">
            </a>
          </li>
          <li class="course-partners-list__item">
            <a href="https://app.redtrack.io/signup?ref=PyDvuX5wSTFF9jFwpuKDZxmyUnSszV" target="_blank">
              <img class="course-partners-list__image" src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/RedTrack.png" alt="RedTrack">
            </a>
          </li>
          <li class="course-partners-list__item">
            <a href="https://capitalist.net/?utm_source=academy" target="_blank">
              <img class="course-partners-list__image" src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/capitalist.png" alt="capitalist">
            </a>
          </li>
          <li class="course-partners-list__item">
            <a href="https://app.magicadz.co/amember/aff/go/Alex_Om" target="_blank">
              <img class="course-partners-list__image" src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/MagicAdz_Logo.png" alt="MagicAdz">
            </a>
          </li>
          <li class="course-partners-list__item">
            <a href="https://promo.adplexity.com/promo/common/MAMA2020/?utm_source=email&utm_medium=refferal&utm_campaign=mamatools&utm_term=generic" target="_blank">
              <img class="course-partners-list__image" src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/Logo-expanded.png" alt="adplexity">
            </a>
          </li>
          <li class="course-partners-list__item">
            <a href="https://special.landerlab.io/mama-edu?coupon=MAMA50OFF" target="_blank">
              <img class="course-partners-list__image" src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/landerlab.png" alt="landerlab">
            </a>
          </li>
          <li class="course-partners-list__item">
            <a href="https://joinaff.com/" target="_blank">
              <img class="course-partners-list__image" src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/joinaff.png" alt="joinaff">
            </a>
          </li>
          <li class="course-partners-list__item">
            <a href="https://t.me/HR_PRO_HR" target="_blank">
              <img class="course-partners-list__image" src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/hr2.png" alt="hr2">
            </a>
          </li>
          <li class="course-partners-list__item">
            <a href="https://seoinar.com.ua" target="_blank">
              <img class="course-partners-list__image" src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/seoinar-logo-n.png" alt="seoinar">
            </a>
          </li>
          <li class="course-partners-list__item">
            <a href="https://envybox.io/?r=3844&utm_source=infopartner&utm_medium=mamaedu&utm_campaign=logo&utm_term=158" target="_blank">
              <img class="course-partners-list__image" src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/logo-envybox-nospace.png" alt="envybox">
            </a>
          </li>
          <li class="course-partners-list__item">
            <a href="http://gagarin.partners/ru-ru/?utm_source=affschool&utm_medium=email&utm_campaign=affschool" target="_blank">
              <img class="course-partners-list__image" src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/gagarin_.png" alt="gagarin">
            </a>
          </li>
          <li class="course-partners-list__item">
            <a href="https://yryadom.ru" target="_blank">
              <img class="course-partners-list__image" src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/inear.png" alt="inear">
            </a>
          </li>
          <li class="course-partners-list__item">
            <a href="https://t.me/SlivHD" target="_blank">
              <img class="course-partners-list__image" src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/vechernii-sliv.png" alt="vechernii-sliv">
            </a>
          </li>
          <li class="course-partners-list__item">
            <a href="https://t.me/arbitraj_chat" target="_blank">
              <img class="course-partners-list__image" src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/arbitrazh.jpg" alt="arbitrazh">
            </a>
          </li>
          <li class="course-partners-list__item">
            <a href="https://dvoma.pro" target="_blank">
              <img class="course-partners-list__image" src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/logo-dvoma.png" alt="dvoma">
            </a>
          </li>
          <li class="course-partners-list__item">
            <a href="http://sempro.com.ua/?utm_source=mama&utm_medium=banner&utm_campaign=partners" target="_blank">
              <img class="course-partners-list__image" src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/sempro.png" alt="sempro">
            </a>
          </li>
          <li class="course-partners-list__item">
            <a href="https://www.camsads.com" target="_blank">
              <img class="course-partners-list__image" src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/cams.png" alt="cams">
            </a>
          </li>
          <li class="course-partners-list__item">
            <a href="http://pdl-profit.com/?utm_source=mama&utm_medium=banner&utm_campaign=partners" target="_blank">
              <img class="course-partners-list__image" src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/pdl_logo.png" alt="pdl">
            </a>
          </li>
          <li class="course-partners-list__item">
            <a href="https://gorodrabot.ru/" target="_blank">
              <img class="course-partners-list__image" src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/gorod-rabot.png" alt="gorod rabot">
            </a>
          </li>
          <li class="course-partners-list__item">
            <a href="https://t.me/zanosibablo" target="_blank">
              <img class="course-partners-list__image" src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/zanosibablo.jpg" alt="zanosibablo">
            </a>
          </li>
          <li class="course-partners-list__item">
            <a href="http://lstock.pro" target="_blank">
              <img class="course-partners-list__image" src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/lstock.png" alt="lstock">
            </a>
          </li>
          <li class="course-partners-list__item">
            <a href="https://affhub.com" target="_blank">
              <img class="course-partners-list__image" src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/affhub.png" alt="affhub">
            </a>
          </li>
          <li class="course-partners-list__item">
            <a href="https://clickfrog.ru/" target="_blank">
              <img class="course-partners-list__image" src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/click-frog.png" alt="click frog">
            </a>
          </li>
          <li class="course-partners-list__item">
            <a href="https://advertise.ru/" target="_blank">
              <img class="course-partners-list__image" src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/vert.png" alt="advertise">
            </a>
          </li>
          <li class="course-partners-list__item">
            <a href="https://revenuelab.biz/?utm_source=partners&utm_medium=infopartners&utm_campaign=mama__affiliate_marketing_course" target="_blank">
              <img class="course-partners-list__image" src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/RevLab.jpg" alt="RevLab">
            </a>
          </li>
          <li class="course-partners-list__item">
            <a href="https://edulid.com/" target="_blank">
              <img class="course-partners-list__image" src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/edulid.png" alt="edulid">
            </a>
          </li>
          <li class="course-partners-list__item">
              <a href="https://offerleader.com/" target="_blank">
                <img class="course-partners-list__image" src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/OfferLeader2.png" alt="OfferLeader">
              </a>
          </li>
          <li class="course-partners-list__item">
              <a href="https://alfaleads.net/?utm_source=media&utm_medium=course&utm_campaign=mama-edu" target="_blank">
                <img class="course-partners-list__image" src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/alfaleadsblack_final.png" alt="alfaleadsblack">
              </a>
          </li>
          <li class="course-partners-list__item">
            <a href="https://drop1.top/platform/register/?ref=bRBy0qUlNmO1jVs" target="_blank">
              <img class="course-partners-list__image" src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/Drop1top_final.png" alt="Drop1top">
            </a>
          </li>
          <li class="course-partners-list__item">
            <a href="https://kadam.net/?utm_source=mama" target="_blank">
              <img class="course-partners-list__image" src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/Kadam.png" alt="Kadam">
            </a>
          </li>
          <li class="course-partners-list__item course-partners-list__item-increased">
            <a href="https://www.marketcall.net/" target="_blank">
              <img class="course-partners-list__image" src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/marketcall.png" alt="marketcall">
            </a>
          </li>
          <li class="course-partners-list__item">
            <a href="http://poshfriends.com" target="_blank">
              <img class="course-partners-list__image" src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/Posh_Friends3.png" alt="Posh_Friends">
            </a>
          </li>
          <li class="course-partners-list__item course-partners-list__item-increased">
            <a href="http://online24news.ru/" target="_blank">
              <img class="course-partners-list__image" src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/Online24Newsru3.png" alt="Online24Newsru">
            </a>
          </li>
          <li class="course-partners-list__item course-partners-list__item-increased">
            <a href="https://neogara.com/" target="_blank">
              <img class="course-partners-list__image" src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/Neogara.png" alt="Neogara">
            </a>
          </li>
          <li class="course-partners-list__item">
            <a href="https://t.me/HR_PRO_HR" target="_blank">
              <img class="course-partners-list__image" src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/ITHRPro.png" alt="ITHRPro">
            </a>
          </li>
          <li class="course-partners-list__item">
            <a href="https://t.me/adstartmedia" target="_blank">
              <img class="course-partners-list__image" src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/tild3638-3035-4166-a632-393839393434__1.png" alt="adstartmedia">
            </a>
          </li>
          <li class="course-partners-list__item">
            <a href="https://rusaff.com" target="_blank">
              <img class="course-partners-list__image" src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/tild6263-3031-4262-a131-306635366433__photo_2020-07-24_12-.jpg" alt="russaffileit">
            </a>
          </li>  
          <li class="course-partners-list__item">
            <a href="https://everad.com/?utm_source=mama-edu-logo" target="_blank">
              <img class="course-partners-list__image" src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/everad.svg" alt="everad">
            </a>
          </li>
          <li class="course-partners-list__item">
            <a href="https://cpabro.vip" target="_blank">
              <img class="course-partners-list__image" src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/tild6336-6266-4639-b033-633164646430__cpa_bro_2.png" alt="cpabro">
            </a>
          </li>
          <li class="course-partners-list__item">
            <a href="https://mobytize.com/?r=promo-infopartner-site-mamaedu&utm_source=promo&utm_medium=infopartner&utm_campaign=site-mamaedu" target="_blank">
              <img class="course-partners-list__image" src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/Mobytize_logo_black.svg" alt="Mobytize">
            </a>
          </li>
          <li class="course-partners-list__item">
            <a href="https://tucha.ua/?affiliates=816" target="_blank">
              <img class="course-partners-list__image" src="/static/${settings.DEFAULT_SITE_THEME}/images/partners/tucha.png" alt="tucha">
            </a>
          </li>
        </ul>
      </section>
    % endif
  </section>
</section>
