<%page expression_filter="h"/>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
%>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="home">
        % if categories:
        <section class="courses-container">
          <section class="highlighted-courses">

            <section class="courses">
              <ul class="courses-listing">
                % for category in categories:
                  % if category.courses.exists():
                    <li class="courses-listing-item">
                      <%include file="category.html" args="category=category" />
                    </li>
                  % endif
                % endfor
              </ul>
            </section>
        % else:
          <h1>${_("There are no categories on the platform.")}</h1>
        % endif
    </section>
</main>
