## mako
<%page expression_filter="h"/>
<%!
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
  from branding.api import get_footer
%>
<% footer = get_footer(is_secure=is_secure) %>
<%namespace name='static' file='static_content.html'/>
<footer class="theme-footer">
  <div class="theme-footer_container">
    <div class="theme-footer_nav">
        <ul class="theme-footer_col">
          <li><a href="http://mehackit.org" target="_blank">About Mehackit</a></li>
          <li><a href="/faq">FAQ</a></li>
          <li><a href="/tos">Terms of Service and Privacy Policy</a></li>
        </ul>
        <div class="raccoon-block">
          <a href="http://code.edx.org" target="_blank">
          Built on <img src="/static/${settings.DEFAULT_SITE_THEME}/images/footer/openedx_logo.png" width="79">
          </a>
          <a href="http://raccoongang.com" target="_blank">
            by Raccoon Gang <img src="/static/${settings.DEFAULT_SITE_THEME}/images/footer/RaccoonLogo.png" width="20">
          </a>
      </div>
    </div>
    <a href="/">
        <img src="/static/${settings.DEFAULT_SITE_THEME}/images/header-info/logo.svg" alt="logo" width="218" height="40">
    </a>
  </div>
</footer>
% if include_dependencies:
  <%static:js group='base_vendor'/>
  <%static:css group='style-vendor'/>
  <%include file="widgets/segment-io.html" />
  <%include file="widgets/segment-io-footer.html" />
% endif
% if footer_css_urls:
  % for url in footer_css_urls:
    <link rel="stylesheet" type="text/css" href="${url}"></link>
  % endfor
% endif
