## mako
<%page expression_filter="h"/>
<%!
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
  from branding.api import get_footer
%>
<% footer = get_footer(is_secure=is_secure) %>
<%namespace name='static' file='static_content.html'/>

<div class="wrapper wrapper-footer">
  <footer id="footer-openedx" class="grid-container"
    ## When rendering the footer through the branding API,
    ## the direction may not be set on the parent element,
    ## so we set it here.
    % if bidi:
      dir=${bidi}
    % endif
  >
  <div class="footer-holder">
    <div class="footer-col footer-col_logo">
      <a href="/" class="footer-logo-holder">
        <img alt="organization logo" src="/static/${settings.DEFAULT_SITE_THEME}/images/footer-logo.png">
      </a>
    </div>
    <div class="footer-col footer-col_list">
      <div class="footer-col__item">
        <h3 class="footer-col__holder">${_("EDX")}</h3>
        <ul class="footer-list">
          <li class="footer-list__item">
            <a href="#">${_("About")}</a>
          </li>
          <li class="footer-list__item">
            <a href="#">${_("edx for Business")}</a>
          </li>
          <li class="footer-list__item">
            <a href="#">${_("Affiliates")}</a>
          </li>
          <li class="footer-list__item">
            <a href="#">${_("Open edX")}</a>
          </li>
          <li class="footer-list__item">
            <a href="#">${_("Carrers")}</a>
          </li>
          <li class="footer-list__item">
            <a href="#">${_("News")}</a>
          </li>
        </ul>
      </div>
      <div class="footer-col__item">
        <h3 class="footer-col__holder">${_("LEGAL")}</h3>
        <ul class="footer-list">
          <li class="footer-list__item">
            <a href="#">${_("Terms of Servise & Honor Code")}</a>
          </li>
          <li class="footer-list__item">
            <a href="#">${_("Privacy Policy")}</a>
          </li>
          <li class="footer-list__item">
            <a href="#">${_("Accessibility Policy")}</a>
          </li>
          <li class="footer-list__item">
            <a href="#">${_("Trademark Policy")}</a>
          </li>
          <li class="footer-list__item">
            <a href="#">${_("Sitemap")}</a>
          </li>
        </ul>
      </div>
      <div class="footer-col__item">
        <h3 class="footer-col__holder">${_("CONNECT")}</h3>
        <ul class="footer-list">
          <li class="footer-list__item">
            <a href="#">${_("Blog")}</a>
          </li>
          <li class="footer-list__item">
            <a href="#">${_("Contact Us")}</a>
          </li>
          <li class="footer-list__item">
            <a href="#">${_("Help Center")}</a>
          </li>
          <li class="footer-list__item">
            <a href="#">${_("Media Kit")}</a>
          </li>
          <li class="footer-list__item">
            <a href="#">${_("Donate")}</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-col footer-col_social">
      <ul class="icon-list">
        <li class="icon-list_item"><a href="#" target="_blank" class="icon-list_link">
          <svg class="icon-list_svg" viewBox="0 0 35 35">
            <use xlink:href="#ico-facebook" />
          </svg>
          </a>
        </li>
        <li class="icon-list_item"><a href="#" target="_blank" class="icon-list_link">
          <svg class="icon-list_svg" viewBox="0 0 35 35">
            <use xlink:href="#ico-twitter" />
          </svg></a>
        </li>
        <li class="icon-list_item"><a href="#" target="_blank" class="icon-list_link">
          <svg class="icon-list_svg" viewBox="0 0 35 35">
            <use xlink:href="#ico-linkedin" />
          </svg></a>
        </li>
        <li class="icon-list_item"><a href="#" target="_blank" class="icon-list_link">
          <svg class="icon-list_svg" viewBox="0 0 35 35">
            <use xlink:href="#ico-youtube" />
          </svg></a>
        </li>
      </ul>
    </div>
  </div>
  </footer>
</div>
% if include_dependencies:
  <%static:js group='base_vendor'/>
  <%static:css group='style-vendor'/>
  <%include file="widgets/segment-io.html" />
  <%include file="widgets/segment-io-footer.html" />
% endif
% if footer_css_urls:
  % for url in footer_css_urls:
    <link rel="stylesheet" type="text/css" href="${url}"></link>
  % endfor
% endif
