## mako
<%page expression_filter="h"/>
<%!
  from django.urls import reverse
  from django.utils.translation import ugettext as _
  from branding.api import get_footer
  from openedx.core.djangoapps.lang_pref.api import footer_language_selector_is_enabled
  from datetime import date
%>
<% footer = get_footer(is_secure=is_secure) %>
<%namespace name='static' file='static_content.html'/>


<div class="theme-footer">
  <footer id="footer-openedx" class="theme-footer_wrapper"
    ## When rendering the footer through the branding API,
    ## the direction may not be set on the parent element,
    ## so we set it here.
    % if bidi:
      dir=${bidi}
    % endif
  >
    <div class="main-wrapper">
      <div class="footer-main">
        <div class="footer-logo">
          <img class="logo" src="/static/${settings.DEFAULT_SITE_THEME}/images/logo-small.svg" alt="${_("{platform_name} Home Page").format(platform_name=static.get_platform_name())}"/>
        </div>
        <div class="footer-nav">
          <p>&copy; ${"{year}".format(year=date.today().year)} ${_("University of Washington")} | ${_("Seattle, WA. All rights reserved.")}</p>
          <ul class="footer-links">
            <li><a href="/help">${_("Help Center")}</a></li>
            <li><a href="/contact">${_("Contact Us")}</a></li>
            <li><a href="http://www.washington.edu/online/privacy">${_("Privacy")}</a></li>
            <li><a href="http://www.washington.edu/online/terms">${_("Terms")}</a></li>
          </ul>
        </div>
      </div>
      <div class="powered-by">
        <p class="footer-support">Built on
          <a target="_blank" href="https://open.edx.org/">
            <svg class="svg-edx"  viewBox="0 0 100 70">
              <use xlink:href="#logo-edx" />
            </svg>
          </a>
          by RACCOONGANG
          <a target="_blank" href="https://raccoongang.com/">
            <svg class="svg-raccoon"  viewBox="0 0 100 100">
              <use xlink:href="#logo-raccoon" />
            </svg>
          </a>
        </p>
      </div>
    </div>
    <div class="edx-disclaimer">
      <p>edX, Open edX and the edX and Open edX logos are trademarks or registered trademarks of edX Inc.</p>
    </div>
  </footer>
</div>
% if include_dependencies:
  <%static:js group='base_vendor'/>
  <%static:css group='style-vendor'/>
  <%include file="widgets/segment-io.html" />
  <%include file="widgets/segment-io-footer.html" />
% endif
% if footer_css_urls:
  % for url in footer_css_urls:
    <link rel="stylesheet" type="text/css" href="${url}"></link>
  % endfor
% endif
