<!-- select page -->
<div class="onboarding-holder">
    <div class="mascot mascot__left">
        <img class="mascot-image" src="/static/HERA-hawthorn-stage/images/hera_mascot.png" alt="HERA-mascot" />
    </div>
    <div class="onboarding-content">
        <h1>
            Choose a lesson")}!
        </h1>
        <div class="selection-holder">
            <a href="/" class="selection-item">
                <img src="/static/HERA-hawthorn-stage/images/selection/selection-1.png" alt="hookes-law-icon">
                <span>
                  hookes's law
                </span>
            </a>
            <a href="/" class="selection-item">
                <img src="/static/HERA-hawthorn-stage/images/selection/selection-2.png" alt="beers-law-icon">
                <span>
                  beer's law
                </span>
            </a>
        </div>
    </div>
</div>
