<%page expression_filter="h"/>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse

from openedx.core.djangolib.markup import HTML, Text
%>

<%
  available_courses = [c.id for c in courses]
%>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="home">

      <header>
        <div class="parallax-img"></div>
        <div class="outer-wrapper">
          <div class="title">
            <div class="heading-group">
              % if homepage_overlay_html:
                ${homepage_overlay_html | n, decode.utf8}
              % else:
                <h1>${_("Welcome to the Microsoft Tech Hub")}</h1>
              % endif
            </div>
            % if settings.FEATURES.get('ENABLE_COURSE_DISCOVERY'):
              <div class="course-search">
                <form method="get" action="/courses">
                  <label><span class="sr">${_("Search for a course")}</span>
                    <input class="search-input" name="search_query" type="text" placeholder="${_("Search")}..."></input>
                  </label>
                  <button class="search-button" type="submit">
                    <span class="icon fa fa-search" aria-hidden="true"></span><span class="sr">${_("Search")}</span>
                  </button>
                </form>
              </div>
            % endif

          </div>

          % if show_homepage_promo_video:
            <a href="#video-modal" class="media" rel="leanModal">
              <div class="hero">
                <div class="play-intro"></div>
              </div>
            </a>
          % endif
        </div>
      </header>
      <div class="promobox">
        <p class="promobox__text"><strong class="promobox__text-heading">${_("Finding your learning pathway and course direction is as easy as 1, 2, 3, 4, 5!")}</strong></p>
        <ol class="promobox__list">
          <li class="promobox__list-item">${_("Identify your professional role, one of the fundamentals courses, or a topic that supports your development goals.")}</li>
          <li class="promobox__list-item">${_("Explore two paths to learn:")}
            <ul class="promobox__list">
              <li class="promobox__list-item">${_("Learning pathways that lead to ")}<a class="promobox__link" href="https://www.microsoft.com/en-us/learning/certification-overview.aspx">${_("Microsoft professional certifications")}</a></li>
              <li class="promobox__list-item">${_("Courses that meet your current interests")}</li>
            </ul>
          </li>
          <li class="promobox__list-item">${_("Click on a category listed below to see all associated courses.")}</li>
          <li class="promobox__list-item">${_("Click to enroll in a course.")}</li>
          <li class="promobox__list-item">${_("Start learning today and enhance your professional credentials.")}</li>
        </ol>
        <p class="promobox__text">${_("Take the certification exam after completing all the classes in your pathway to begin to earn a Microsoft role-based certification.")} <strong>${_("Categories that lead to a certificate are marked with a double asterisk.")}</strong></p>
        <p class="promobox__text"><strong>${_("For more details, explore the ")}<a class="promobox__link" href="https://collaboration.merck.com/sites/support/Pages/Office-365-Tech-Hub.aspx#/">${_("Tech Hub FAQ.")}</a></strong></p>
        <p class="promobox__text promobox__text_small">${_("(NOTE: Courses subject to change based on Microsoft program updates)")}</p>
        <img class="promobox__image" src="/static/${settings.DEFAULT_SITE_THEME}/images/generic_pathway-no_white.png" alt="GENERIC PATHWAY Merck">
        <img class="promobox__image" src="/static/${settings.DEFAULT_SITE_THEME}/images/example_learning_pathway-no_white.png" alt="EXAMPLE PATHWAY Merck">
        <p class="promobox__text promobox__text_center">${_("Click on a category below to start learning today.")}</p>
      </div>

        % if not categories:
            <%include file="${courses_list}" />
        % else:
            % for category in categories:
              <%
                set_courses_sub_category = set()
                category_courses = filter(lambda x: x, category.get_descendants(include_self=True).values_list('courses', flat=True))
              %>
              % if category_courses:
                <section class="course-box">
                  <h2 class="course-box__heading">${category.name}</h2>
                  <div class="course-box__content">
                    % if category.img:
                      <img class="course-box__img" src="${category.img.url}" alt="${category.name}">
                    % endif
                    <p class="course-box__description">${category.description}</p>
                    % for sub_category in category.get_children():
                      <%
                        courses_sub_category = sub_category.courses.filter(id__in=available_courses)
                        set_courses_sub_category.update(courses_sub_category)
                      %>
                      % if courses_sub_category:
                        <%include file="${courses_list}" args="courses=courses_sub_category" />
                      % endif
                      % if sub_category.url:
                      <!-- place for external link -->
                      <div class="course-box__link-holder">
                          <a class="course-box__link" target="_blank" href="${sub_category.url}">${_("Link to exam")} >>></a>
                      </div>
                      <!--  -->
                      % endif
                    % endfor
                    <%
                      root_category_courses = set(category.courses.filter(id__in=available_courses)) - set_courses_sub_category
                    %>
                    % if root_category_courses:
                      <%include file="${courses_list}" args="courses=root_category_courses" />
                    % endif
                  </div>
                </section>
              % endif
            % endfor
        % endif
    </section>
</main>

<a class="arrow-up" onclick="$('html,body').animate({scrollTop:0},'slow');return false;"><i class="fa fa-chevron-up" aria-hidden="true"></i></a>

% if show_homepage_promo_video:
  <section id="video-modal" class="modal home-page-video-modal video-modal">
    <div class="inner-wrapper">
      <iframe title="YouTube Video" width="640" height="360" src="//www.youtube.com/embed/${homepage_promo_video_youtube_id}?showinfo=0" frameborder="0" allowfullscreen></iframe>
    </div>
  </section>
% endif

<%block name="js_extra">
   <script src="${static.url('js/jquery.lazyload.min.js')}"></script>
   <script type="text/javascript">
      $(window).load(function() {
         if(getParameterByName('next')) {
              $('#login').trigger("click");
         }
      });

      // js for parallax
      $(window).scroll(function () {
        var scrollTop = $(window).scrollTop();
        var imgPos = scrollTop / 2 + 'px';
        $('.parallax-img').css('transform', 'translate3d(0, '  + imgPos + ', 0)');

        if ($(window).scrollTop() > 100) {
          $('.arrow-up').addClass('active');
        } else if ($(window).scrollTop() <= 100) {
          $('.arrow-up').removeClass('active');
        }
      });

      // js for show more btn
      $('.show-more').click(function () {
        $('.fa-spinner').css('visibility', 'visible');
        setTimeout(function() {
          $('.fa-spinner').css('visibility', 'hidden');
          $('.courses-listing-item:visible:last').nextAll(':lt(8)').show().addClass('newElements');
          if ($('.courses-listing-item').is(':hidden')) {
            $('html, body').animate({ scrollTop: $('.newElements:first').offset().top - 20}, 1000);
            $('.courses-listing-item').removeClass('newElements');
          } else {
            $('html, body').animate({ scrollTop: $('.newElements:first').offset().top - 20}, 1000);
            $('.show-more').hide();
          }
        }, 300);
      });

      // js lazy loading images
      $('.courses-container img.lazy').lazyload({
        effect : "fadeIn"
      });

      // accordion for course block
      $('.course-box__heading').on('click', function () {
        $(this).toggleClass('open').next('.course-box__content').slideToggle(300);
      });

   </script>
</%block>

% if show_signup_immediately is not UNDEFINED:
  ## NOTE: This won't work in production, because anonymous views are cached, so it will
  ## show either with or without this extra js for 3 minutes at a time.
<script type="text/javascript">
  $(window).load(function() {$('#signup_action').trigger("click");});
</script>
% endif
