<%page expression_filter="h"/>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse

from openedx.core.djangolib.markup import HTML, Text
%>

<main id="main" aria-label="Content" tabindex="-1">
  <!-- START REVOLUTION SLIDER 5.0.7 -->
  <div id="rev_slider_home_wrapper" class="rev_slider_wrapper" data-alias="الجديدs-gallery34">
      <!-- START REVOLUTION SLIDER 5.0.7 fullwidth mode -->
      <div id="rev_slider_home" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.0.7">
          <ul>
              <!-- SLIDE 1 -->
              <li data-index="rs-1" data-transition="fade" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="/static/${settings.DEFAULT_SITE_THEME}/images/slide1.jpg" data-rotate="0"  data-fstransition="fade" data-saveperformance="off" data-title="عن المنصة" data-description="">
                  <!-- MAIN IMAGE -->
                  <img src="/static/${settings.DEFAULT_SITE_THEME}/images/slide1.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                  <!-- LAYERS -->
                  <!-- LAYER NR. 1 -->
                  <div class="tp-caption tp-shape tp-shapewrapper tp-resizeme rs-parallaxlevel-0 bg-theme-colored-transparent-4"
                       id="slide-1-layer-1"
                       data-x="['right','right','right','right']" data-hoffset="['0','0','0','0']"
                       data-y="['right','right','right','right']" data-voffset="['0','0','0','0']"
                       data-width="full"
                       data-height="full"
                       data-whitespace="normal"
                       data-transform_idle="o:0.5;"
                       data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;"
                       data-transform_out="opacity:0;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                       data-start="500"
                       data-basealign="slide"
                       data-responsive_offset="on"
                       style="z-index: 5;background-color:rgba(0, 0, 0, 0.35);border-color:rgba(0, 0, 0, 1.00);">
                  </div>
                  <!-- LAYER NR. 2 -->
                  <div class="tp-caption tp-resizeme rs-parallaxlevel-0 text-white text-uppercase font-roboto-slab font-weight-700"
                       id="slide-1-layer-2"
                       data-x="['right','right','right','right']" data-hoffset="['-50','0','0','0']"
                       data-y="['top','top','top','top']" data-voffset="['195','195','160','170']"
                       data-fontsize="['52','48','42','36']"
                       data-lineheight="['70','60','50','45']"
                       data-fontweight="['800','700','700','700']"
                       data-textalign="['center','center','center','center']"
                       data-width="['700','650','600','420']"
                       data-height="none"
                       data-whitespace="normal"
                       data-transform_idle="o:1;"
                       data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                       data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                       data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                       data-mask_out="x:0;y:0;s:inherit;e:inherit;"
                       data-start="600"
                       data-splitin="none"
                       data-splitout="none"
                       data-responsive_offset="on"
                      style="z-index: 5; white-space: nowrap; font-weight:700; text-alight:right!important;">منصة وزارة التعليم</span> 
                  </div>
                  <!-- LAYER NR. 3 -->
                  <div class="tp-caption tp-resizeme text-white rs-parallaxlevel-0"
                       id="slide-1-layer-3"
                       data-x="['right','right','right','right']" data-hoffset="['-70,'0','0','0']"
                       data-y="['top','top','top','top']" data-voffset="['275','260','220','220']"
                       data-fontsize="['18','18',20',18']"
                       data-lineheight="['24','24','24','24']"
                       data-fontweight="['400','400','400','400']"
                       data-textalign="['center','center','center','center']"
                       data-width="['800','650','600','460']"
                       data-height="none"
                       data-whitespace="nowrap"
                       data-transform_idle="o:1;"
                       data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                       data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                       data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                       data-mask_out="x:0;y:0;s:inherit;e:inherit;"
                       data-start="700"
                       data-splitin="none"
                       data-splitout="none"
                       data-responsive_offset="on"
                       style="z-index: 5; white-space: nowrap;">لتدريب الطلاب والطالبات وتعزيز الفكر الريادي في المجتمع السعودي <br>
                  </div>
                  <!-- LAYER NR. 4 -->
                  <div class="tp-caption rs-parallaxlevel-0"
                       id="slide-1-layer-4"
                       data-x="['right','right','right','right']" data-hoffset="['250','250','0','130']"
                       data-y="['top','top','top','top']" data-voffset="['350','330','290','290']"
                       data-width="none"
                       data-height="none"
                       data-whitespace="nowrap"
                       data-transform_idle="o:1;"
                       data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                       data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                       data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                       data-mask_in="x:0px;y:0px;"
                       data-mask_out="x:0;y:0;"
                       data-start="800"
                       data-splitin="none"
                       data-splitout="none"
                       data-responsive_offset="on"
                       data-responsive="off"
                       style="z-index: 5; white-space: nowrap; letter-spacing:1px;"><a class="btn btn-lg btn-flat font-weight-600 pl-30 pr-30 ml-15" href="about">عن المنصة</a>
                  </div>
              </li>

              <!-- SLIDE 2 -->
              <li data-index="rs-2" data-transition="fade" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="/static/${settings.DEFAULT_SITE_THEME}/images/slide2.png" data-rotate="0"  data-fstransition="fade" data-saveperformance="off" data-title="الدورات المتوفرة" data-description="">
                  <!-- MAIN IMAGE -->
                  <img src="/static/${settings.DEFAULT_SITE_THEME}/images/slide2.png" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="4" class="rev-slidebg" data-no-retina>
                  <!-- LAYERS -->
                  <!-- LAYER NR. 1 -->
                  <div class="tp-caption tp-shape tp-shapewrapper tp-resizeme rs-parallaxlevel-0 bg-theme-colored-transparent-3"
                       id="slide-2-layer-1"
                       data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                       data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                       data-width="full"
                       data-height="full"
                       data-whitespace="normal"
                       data-transform_idle="o:0.5;"
                       data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;"
                       data-transform_out="opacity:0;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                       data-start="500"
                       data-basealign="slide"
                       data-responsive_offset="on"
                       style="z-index: 5;background-color:rgba(0, 0, 0, 0.35);border-color:rgba(0, 0, 0, 1.00);">
                  </div>
                  <!-- LAYER NR. 2 -->
                  <div class="tp-caption tp-resizeme rs-parallaxlevel-0 text-white text-uppercase font-roboto-slab font-weight-700"
                       id="slide-2-layer-2"
                       data-x="['right','right','right','right']" data-hoffset="['-150','0','0','0']"
                       data-y="['top','top','top','top']" data-voffset="['195','195','160','170']"
                       data-fontsize="['52','48','42','36']"
                       data-lineheight="['70','60','50','45']"
                       data-fontweight="['800','700','700','700']"
                       data-textalign="['center','center','center','center']"
                       data-width="['700','650','600','420']"
                       data-height="none"
                       data-whitespace="normal"
                       data-transform_idle="o:1;"
                       data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                       data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                       data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                       data-mask_out="x:0;y:0;s:inherit;e:inherit;"
                       data-start="600"
                       data-splitin="none"
                       data-splitout="none"
                       data-responsive_offset="on"
                       style="z-index: 5; white-space: nowrap; font-weight:700;">تصفح<span class="text-theme-colored2"> الدورات</span>
                  </div>
                  <!-- LAYER NR. 3 -->
                  <div class="tp-caption tp-resizeme text-white rs-parallaxlevel-0"
                       id="slide-2-layer-3"
                       data-x="['right','right','right','right']" data-hoffset="['-200','0','0','0']"
                       data-y="['top','top','top','top']" data-voffset="['275','260','220','220']"
                       data-fontsize="['18','18',20',18']"
                       data-lineheight="['24','24','24','24']"
                       data-fontweight="['400','400','400','400']"
                       data-textalign="['center','center','center','center']"
                       data-width="['800','650','600','460']"
                       data-height="none"
                       data-whitespace="nowrap"
                       data-transform_idle="o:1;"
                       data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                       data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                       data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                       data-mask_out="x:0;y:0;s:inherit;e:inherit;"
                       data-start="700"
                       data-splitin="none"
                       data-splitout="none"
                       data-responsive_offset="on"
                       style="z-index: 5; white-space: nowrap;">الوصول إلى تعلم أفضل و أكثر فعالية
                  </div>
                  <!-- LAYER NR. 4 -->
                  <div class="tp-caption rs-parallaxlevel-0"
                       id="slide-1-layer-4"
                       data-x="['right','right','right','right']" data-hoffset="['100','250','220','130']"
                       data-y="['top','top','top','top']" data-voffset="['350','330','290','290']"
                       data-width="none"
                       data-height="none"
                       data-whitespace="nowrap"
                       data-transform_idle="o:1;"
                       data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                       data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                       data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                       data-mask_in="x:0px;y:0px;"
                       data-mask_out="x:0;y:0;"
                       data-start="800"
                       data-splitin="none"
                       data-splitout="none"
                       data-responsive_offset="on"
                       data-responsive="off"
                       style="z-index: 5; white-space: nowrap; letter-spacing:1px;"><a class="btn btn-lg btn-flat font-weight-600 pl-30 pr-30 ml-15" href="#gallery">تصفح الدورات</a>
                  </div>
              </li>

              <!-- SLIDE 3 -->
              <li data-index="rs-3" data-transition="fade" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="/static/${settings.DEFAULT_SITE_THEME}/images/slide3.png" data-rotate="0"  data-fstransition="fade" data-saveperformance="off" data-title="برنامج التحول الوطني 2020" data-description="">
                  <!-- MAIN IMAGE -->
                  <img src="/static/${settings.DEFAULT_SITE_THEME}/images/slide3.png" alt="" data-bgposition="center 20%" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                  <!-- LAYERS -->
                  <!-- LAYER NR. 1 -->
                  <div class="tp-caption tp-shape tp-shapewrapper tp-resizeme rs-parallaxlevel-0 bg-theme-colored-transparent-4"
                       id="slide-3-layer-1"
                       data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                       data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                       data-width="full"
                       data-height="full"
                       data-whitespace="normal"
                       data-transform_idle="o:1;"
                       data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;"
                       data-transform_out="opacity:0;s:1000;e:Power3.easeInOut;s:1000;e:Power3.easeInOut;"
                       data-start="500"
                       data-basealign="slide"
                       data-responsive_offset="on"
                       style="z-index: 5;background-color:rgba(0, 0, 0, 0.35);border-color:rgba(0, 0, 0, 1.00);">
                  </div>
                  <!-- LAYER NR. 2 -->
                  <div class="tp-caption tp-resizeme rs-parallaxlevel-0 text-white text-uppercase font-roboto-slab font-weight-700"
                       id="slide-3-layer-2"
                       data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                       data-y="['top','top','top','top']" data-voffset="['195','195','160','170']"
                       data-fontsize="['52','48','42','36']"
                       data-lineheight="['70','60','50','45']"
                       data-fontweight="['800','700','700','700']"
                       data-textalign="['center','center','center','center']"
                       data-width="['700','650','600','420']"
                       data-height="none"
                       data-whitespace="normal"
                       data-transform_idle="o:1;"
                       data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                       data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                       data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                       data-mask_out="x:0;y:0;s:inherit;e:inherit;"
                       data-start="600"
                       data-splitin="none"
                       data-splitout="none"
                       data-responsive_offset="on"
                       style="z-index: 5; white-space: nowrap; font-weight:700;">برنامج التحول الوطني <span class="text-theme-colored2"> 2020</span>
                  </div>
                  <!-- LAYER NR. 3 -->
                  <div class="tp-caption tp-resizeme text-white rs-parallaxlevel-0"
                       id="slide-3-layer-3"
                       data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                       data-y="['top','top','top','top']" data-voffset="['275','260','220','220']"
                       data-fontsize="['18','18',20',18']"
                       data-lineheight="['24','24','24','24']"
                       data-fontweight="['400','400','400','400']"
                       data-textalign="['center','center','center','center']"
                       data-width="['800','650','600','460']"
                       data-height="none"
                       data-whitespace="nowrap"
                       data-transform_idle="o:1;"
                       data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                       data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                       data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                       data-mask_out="x:0;y:0;s:inherit;e:inherit;"
                       data-start="700"
                       data-splitin="none"
                       data-splitout="none"
                       data-responsive_offset="on"
                       style="z-index: 5; white-space: nowrap;">تهدف المبادرة الى رفع المستوى المعرفي والمهاري للطلاب والطالبات في عدد من المجالات اللامنهجية
                  </div>
                  <!-- LAYER NR. 4 -->
                  <div class="tp-caption rs-parallaxlevel-0"
                       id="slide-3-layer-4"
                       data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                       data-y="['top','top','top','top']" data-voffset="['350','330','290','290']"
                       data-width="none"
                       data-height="none"
                       data-whitespace="nowrap"
                       data-transform_idle="o:1;"
                       data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                       data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                       data-transform_out="auto:auto;s:1000;e:Power3.easeInOut;"
                       data-mask_in="x:0px;y:0px;"
                       data-mask_out="x:0;y:0;"
                       data-start="800"
                       data-splitin="none"
                       data-splitout="none"
                       data-responsive_offset="on"
                       data-responsive="off"
                       style="z-index: 5; white-space: nowrap; letter-spacing:1px;"><a class="btn btn-lg btn-flat font-weight-600 pl-30 pr-30 ml-15" href="login">تسجيل الدخول</a><a class="btn btn-transparent btn-lg btn-flat font-weight-600 pl-30 pr-30" href="register">مستخدم جديد</a>
                  </div>
              </li>
          </ul>
          <div class="tp-bannertimer tp-bottom" style="height: 5px; background-color: rgba(255, 255, 255, 0.2);"></div>
      </div>
  </div>

  <!-- END REVOLUTION SLIDER -->
        
  <section class="layer-overlay">
    <div class="container section-wrap">
      <section class="platform-section">
        <div class="section-title">
          <h2 class="title">أهمية <span class="color3">المنصة</span></h2>
          <div class="separator separator-rouned">
              <i class="fa fa-cog fa-spin"></i>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="icon-box">
              <div href="#" class="icon icon-color1">
                <i class="pe-7s-study"></i>
              </div>
              <h4 class="icon-box-title">الدراسة عبر الانترنت</h4>
              <p class="">البرامج والمواد التعليمية متوفرة دائماً على الشبكة دون ساعات دوام محددة</p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="icon-box">
              <div href="#" class="icon icon-color2">
                <i class="pe-7s-notebook"></i>
              </div>
              <h4 class="icon-box-title">لغة التدريس</h4>
              <p class="">تقدم الدراسة والمحتوى التعليمي بلغة عربية فصيحة وجميلة وسهلة</p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="icon-box">
              <div href="#" class="icon icon-color3">
                <i class="pe-7s-diamond"></i>
              </div>
              <h4 class="icon-box-title">أفضل المعلمين</h4>
              <p class="">تم اختيار كفاءات عالية من خبراء التدريس في أرقى الجامعات العالمية </p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="icon-box">
              <div class="icon icon-color4">
                <i class="pe-7s-medal"></i>
              </div>
              <h4 class="icon-box-title">شهادات معتمدة</h4>
              <p class="">شهادات معتمدة دولياً ومعترف بها في معظم الدول العربية</p>
            </div>
          </div>
        </div>
      </section>
      <section id="gallery" class="home">
        <header>
          <div class="outer-wrapper">
            <div class="title">
              <div class="heading-group">
                % if homepage_overlay_html:
                  ${homepage_overlay_html | n, decode.utf8}
                % else:
                    ## Translators: 'Open edX' is a registered trademark, please keep this untranslated. See http://open.edx.org for more information.
                    <h1>${Text(_(u"Welcome to the Open edX{registered_trademark} platform!")).format(registered_trademark=HTML("<sup style='font-size: 65%'>&reg;</sup>"))}</h1>
                    ## Translators: 'Open edX' is a registered trademark, please keep this untranslated. See http://open.edx.org for more information.
                    <p>${_("It works! This is the default homepage for this Open edX instance.")}</p>
                % endif
              </div>
              % if settings.FEATURES.get('ENABLE_COURSE_DISCOVERY'):
                <div class="course-search">
                  <form method="get" action="/courses">
                    <label><span class="sr">${_("Search for a course")}</span>
                      <input class="search-input" name="search_query" type="text" placeholder="${_("Search for a course")}"></input>
                    </label>
                    <button class="search-button" type="submit">
                      <span class="icon fa fa-search" aria-hidden="true"></span><span class="sr">${_("Search")}</span>
                    </button>
                  </form>
                </div>
              % endif

            </div>

            % if show_homepage_promo_video:
              <a href="#video-modal" class="media" rel="leanModal">
                <div class="hero">
                  <div class="play-intro"></div>
                </div>
              </a>
            % endif
          </div>

        </header>
        <div class="section-title">
          <h2 class="title">الدورات التدريبية</span></h2>
          <div class="separator separator-rouned">
              <i class="fa fa-cog fa-spin"></i>
          </div>
        </div>

         <div class="portfolio-filter filters-button-group button-group">
            <button class="btn active" data-filter="*">الكل</button>
            % if categories:
            %   for category in categories:
            <button class="btn" data-filter=".category-${category.slug}">${category.name}</button>
            %   endfor
            % endif
          </div>
          <%include file="${courses_list}" />

      </section>
    </div>
  </section>
</main>

% if show_homepage_promo_video:
  <section id="video-modal" class="modal home-page-video-modal video-modal">
    <div class="inner-wrapper">
      <iframe title="YouTube Video" width="640" height="360" src="//www.youtube.com/embed/${homepage_promo_video_youtube_id}?showinfo=0" frameborder="0" allowfullscreen></iframe>
    </div>
  </section>
% endif

<%block name="js_extra">
   <script type="text/javascript">
      $(window).load(function() {
         if(getParameterByName('next')) {
              $('#login').trigger("click");
         }
      })
   </script>
    <!-- Revolution Slider 5.x SCRIPTS -->
    <script src="/static/${settings.DEFAULT_SITE_THEME}/js/revolution-slider/jquery.themepunch.tools.min.js"></script>
    <script src="/static/${settings.DEFAULT_SITE_THEME}/js/revolution-slider/jquery.themepunch.revolution.min.js"></script>
    <script src="/static/${settings.DEFAULT_SITE_THEME}/js/revolution-slider/extensions/revolution.extension.actions.min.js"></script>
    <script src="/static/${settings.DEFAULT_SITE_THEME}/js/revolution-slider/extensions/revolution.extension.carousel.min.js"></script>
    <script src="/static/${settings.DEFAULT_SITE_THEME}/js/revolution-slider/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="/static/${settings.DEFAULT_SITE_THEME}/js/revolution-slider/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="/static/${settings.DEFAULT_SITE_THEME}/js/revolution-slider/extensions/revolution.extension.migration.min.js"></script>
    <script src="/static/${settings.DEFAULT_SITE_THEME}/js/revolution-slider/extensions/revolution.extension.navigation.min.js"></script>
    <script src="/static/${settings.DEFAULT_SITE_THEME}/js/revolution-slider/extensions/revolution.extension.parallax.min.js"></script>
    <script src="/static/${settings.DEFAULT_SITE_THEME}/js/revolution-slider/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="/static/${settings.DEFAULT_SITE_THEME}/js/revolution-slider/extensions/revolution.extension.video.min.js"></script>
    <script type="text/javascript">
      var tpj=jQuery;
      var revapi34;
      tpj(document).ready(function() {
          if(tpj("#rev_slider_home").revolution == undefined){
              revslider_showDoubleJqueryError("#rev_slider_home");
          }else{
              revapi34 = tpj("#rev_slider_home").show().revolution({
                  sliderType:"standard",
                  jsFileLocation:"http://54.146.177.95/static/stanford-style/js/revolution-slider/js/",
                  sliderLayout:"fullwidth",
                  dottedOverlay:"none",
                  delay:5000,
                  navigation: {
                      keyboardNavigation:"on",
                      keyboard_direction: "horizontal",
                      mouseScrollNavigation:"off",
                      onHoverStop:"on",
                      touch:{
                          touchenabled:"on",
                          swipe_threshold: 75,
                          swipe_دقيقة_touches: 1,
                          swipe_direction: "horizontal",
                          drag_block_vertical: false
                      }
                      ,
                      arrows: {
                          style: "zeus",
                          enable: true,
                          hide_onmobile: false,
                          hide_onleave: false,
                          
                          left: {
                              h_align: "left",
                              v_align: "center",
                              h_offset: 0,
                              v_offset: 0
                          },
                          right: {
                              h_align: "right",
                              v_align: "center",
                              h_offset: 0,
                              v_offset: 0
                          }
                      },
                      bullets: {
                          enable:true,
                          hide_onmobile:true,
                          hide_under:600,
                          style:"hermes",
                          hide_onleave:true,
                          hide_delay:200,
                          hide_delay_mobile:1200,
                          direction:"horizontal",
                          h_align:"center",
                          v_align:"bottom",
                          h_offset:0,
                          v_offset:30,
                          space:5,
                          tmp:'<span class="tp-bullet-img-wrap"></span></span>'
                      }
                  },
                  viewPort: {
                      enable:true,
                      outof:"pause",
                      visible_area:"80%"
                  },
                  responsiveLevels:[1240,1024,778,480],
                  gridwidth:[1240,1024,778,480],
                  gridheight:[600,550,500,450],
                  lazyType:"none",
                  parallax: {
                      type:"scroll",
                      origo:"enterpoint",
                      speed:400,
                      levels:[5,10,15,20,25,30,35,40,45,50],
                  },
                  shadow:0,
                  spinner:"off",
                  stopLoop:"off",
                  stopAfterLoops:-1,
                  stopAtSlide:-1,
                  shuffle:"off",
                  autoHeight:"off",
                  hideThumbsOnMobile:"off",
                  hideSliderAtLimit:0,
                  hideCaptionAtLimit:0,
                  hideAllCaptionAtLilmit:0,
                  debugMode:false,
                  fallbacks: {
                      simplifyAll:"off",
                      nextSlideOnWindowFocus:"off",
                      disableFocusListener:false,
                  }
              });
          }
      }); /*ready*/
  </script>
  <!-- END REVOLUTION SLIDER -->
        <script src="/static/${settings.DEFAULT_SITE_THEME}/js/isotope.pkgd.js"></script>
</%block>

% if show_signup_immediately is not UNDEFINED:
  ## NOTE: This won't work in production, because anonymous views are cached, so it will
  ## show either with or without this extra js for 3 minutes at a time.
<script type="text/javascript">
  $(window).load(function() {$('#signup_action').trigger("click");});
</script>
% endif
