<%page expression_filter="h"/>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse

from openedx.core.djangolib.markup import HTML, Text
%>

<main id="main" aria-label="Content" tabindex="-1">
    <div class="promo-box">
      <div class="promo-box_left">
        <img class="promo-box_img" src="/static/${settings.DEFAULT_SITE_THEME}/images/img-2.png" alt="promo img">
        <div class="promo-box_text-holder promo-box_text-holder__other">
          <div class="promo-box_text-wrapper">
            <span class="promo-box_text">Online learning is arriving to World Scouting</span>
            <h2 class="promo-box_heading">Coming in 2017!</h2>
            <a class="btn-2" href="/courses">FIND COURSES</a>
          </div>
        </div>
      </div>
      <div class="promo-box_right">
        <img class="promo-box_img" src="/static/${settings.DEFAULT_SITE_THEME}/images/img-1.png" alt="promo img">
        <div class="promo-box_text-holder">
          <div class="promo-box_text-wrapper">
            <a class="promo-box_big-text btn-3">Register to receive updates</p>
          </div>
        </div>
      </div>
      <div class="promo-box_helper"></div>
    </div>
    <section class="home">
      <%include file="${courses_list}" />

      <%include file="${programs_list}" />

      <div class="courses-box">
        <div class="courses-box_img-holder">
          <img class="courses-box_img" src="/static/${settings.DEFAULT_SITE_THEME}/images/promo-box-img.jpg" alt="course img">
        </div>
      </div>

    </section>
</main>

% if show_homepage_promo_video:
  <section id="video-modal" class="modal home-page-video-modal video-modal">
    <div class="inner-wrapper">
      <iframe title="YouTube Video" width="640" height="360" src="//www.youtube.com/embed/${homepage_promo_video_youtube_id}?showinfo=0" frameborder="0" allowfullscreen></iframe>
    </div>
  </section>
% endif

<%block name="js_extra">
   <script type="text/javascript">
      $(window).load(function() {
         if(getParameterByName('next')) {
              $('#login').trigger("click");
         }
      })
   </script>
</%block>

% if show_signup_immediately is not UNDEFINED:
  ## NOTE: This won't work in production, because anonymous views are cached, so it will
  ## show either with or without this extra js for 3 minutes at a time.
<script type="text/javascript">
  $(window).load(function() {$('#signup_action').trigger("click");});
</script>
% endif
