## mako
<%page expression_filter="h" args="online_help_token"/>
<%namespace name='static' file='static_content.html'/>
<%namespace file='main.html' import="login_query"/>
<%!
from django.template.defaultfilters import truncatechars
from django.core.urlresolvers import reverse
from django.utils.translation import ugettext as _

from context_processors import doc_url
from lms.djangoapps.ccx.overrides import get_current_ccx
from openedx.core.djangolib.markup import HTML, Text

# App that handles subdomain specific branding
from branding import api as branding_api
# app that handles site status messages
from status.status import get_site_status_msg
%>

## Provide a hook for themes to inject branding on top.
<%block name="navigation_top" />

## Add UI Toolkit components if using the Pattern Library
% if uses_pattern_library:
    <%block name="js_extra">
    <%static:require_module module_name="js/header_factory" class_name="HeaderFactory">
    HeaderFactory();
    </%static:require_module>
    </%block>
% endif

<%block>
<%
try:
    course_id = course.id
except:
    # can't figure out a better way to get at a possibly-defined course var
    course_id = None
site_status_msg = get_site_status_msg(course_id)
%>
% if site_status_msg:
<div class="site-status">
  <div class="inner-wrapper">
    <span class="white-error-icon"></span>
    <p>${site_status_msg}</p>
  </div>
</div>
% endif
</%block>
<header id="global-navigation" class="header-global" >
    <div class="header-helper">
      <div class="header-helper_wrapper">
        <div class="header-helper_left-side">
          <span class="header-helper_link">Have any questions?</a>
          <a class="header-helper_mail" href="mailto:elearning@scout.org"><span class="header-helper_ico-holder"><span class="ico-mail">mail</span></span>elearning@scout.org</a>
        </div>
        <div class="header-helper_right-side">
          <span class="header-helper_caption">Find us in social network</span>
          <ul class="header-helper_list">
            <li class="header-helper_list-item">
              <a class="header-helper_list-link" target="_blank" href="https://twitter.com/worldscouting"><span class="ico-twitter">twitter</span></a>
            </li>
            <li class="header-helper_list-item">
              <a class="header-helper_list-link" target="_blank" href="https://www.facebook.com/WOSM.OMMS"><span class="ico-facebook">facebook</span></a>
            </li>
            <li class="header-helper_list-item">
              <a class="header-helper_list-link" target="_blank" href="https://www.youtube.com/user/WorldScouting"><span class="ico-youtube">youtube</span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="header-wrapper" aria-label="${_('Global')}">
        <h1 class="logo">
          <a href="${marketing_link('ROOT')}">
            <%block name="navigation_logo">
                <img src="/static/${settings.DEFAULT_SITE_THEME}/images/logo.svg" alt="${_("{platform_name} Home Page").format(platform_name=static.get_platform_name())}"/>
            </%block>
          </a>
        </h1>

      % if course:
        <h2 class="course-header">
          <span class="provider">${truncatechars(course.display_org_with_default, 20)}:</span>
          <span class="course-number">${truncatechars(course.display_number_with_default, 20)}</span>
          <%
          display_name = course.display_name_with_default
          if settings.FEATURES.get('CUSTOM_COURSES_EDX', False):
            ccx = get_current_ccx(course.id)
            if ccx:
              display_name = ccx.display_name
          %>
          <span class="course-name">${truncatechars(display_name,20)}</span>
        </h2>
      % endif
      <div class="header-nav-holder">

        <span class="header-nav-holder_btn"></span>

      <div class="header-nav-holder_wrapper">
      % if user.is_authenticated():
        <div class="header-nav">
          <%block name="navigation_global_links_authenticated">
            % if settings.FEATURES.get('COURSES_ARE_BROWSABLE_AND_SHOW_PROGRAM_LISTING_NAVIGATE'):
              <a class="header-nav_link" href="${marketing_link('COURSES')}">${_('Courses')}</a>
              <a class="header-nav_link" href="${reverse('dashboard')}">
                ${_("Dashboard")}
              </a>
              <a class="header-nav_link" href="${reverse('program_listing_view')}">
                ${_("Programs")}
              </a>
            % else:
              % if settings.FEATURES.get('COURSES_ARE_BROWSABLE') and not show_program_listing:
                <a class="header-nav_link" href="${marketing_link('COURSES')}">${_('Courses')}</a>
              % endif
              % if show_program_listing:
                <a class="header-nav_link" href="${reverse('dashboard')}">
                  ${_("Courses")}
                </a>
                <a class="header-nav_link" href="${reverse('program_listing_view')}">
                  ${_("Programs")}
                </a>
              % endif
            % endif

            %if settings.FEATURES.get('ENABLE_SYSADMIN_DASHBOARD','') and user.is_staff:
              ## Translators: This is short for "System administration".
              <a class="header-nav_link" href="${reverse('sysadmin')}">${_("Sysadmin")}</a>
            %endif
          </%block>
        </div>

      <%include file="user_dropdown.html"/>

      % if should_display_shopping_cart_func() and not (course and static.is_request_in_themed_site()): # see shoppingcart.context_processor.user_has_cart_context_processor
        <ol class="user">
          <li class="primary">
            <a class="shopping-cart" href="${reverse('shoppingcart.views.show_cart')}">
              <span class="icon fa fa-shopping-cart" aria-hidden="true"></span> ${_("Shopping Cart")}
            </a>
          </li>
        </ol>
      % endif
    % else:
        <div class="header-nav">
          <%block name="navigation_global_links">
            % if static.get_value('ENABLE_MKTG_SITE', settings.FEATURES.get('ENABLE_MKTG_SITE', False)):
                <a class="header-nav_link" href="${marketing_link('HOW_IT_WORKS')}">${_("How it Works")}</a>
              % if settings.FEATURES.get('COURSES_ARE_BROWSABLE'):
                <a class="header-nav_link" href="${marketing_link('COURSES')}">${_("Courses")}</a>
              % endif
                <a class="header-nav_link" href="${marketing_link('SCHOOLS')}">${_("Schools")}</a>
            % endif

          </%block>

          <%block name="navigation_other_global_links">
            % if not settings.FEATURES['DISABLE_LOGIN_BUTTON']:
              % if settings.FEATURES.get('ENABLE_COURSE_DISCOVERY'):
                  <a class="header-nav_link" href="/courses">${_("Courses")}</a>
                  <a class="header-nav_link" href="/about">About</a>
              %endif
            % endif
          </%block>
        </div>
        <div class="header-wrapper_holder">
          <div class="header-search ${"header-search__hide" if request.path == "xseries" or "courses" in request.path else ""}" >
            <form class="header-search_form" method="get" action="/courses">
              <label><span class="header-search_label">${_("Search for a course")}</span>
                <input class="header-search_input" name="search_query" type="text" placeholder="${_("Search")}"></input>
              </label>
              <button class="header-search_button" type="submit">
                <span class="icon fa fa-search" aria-hidden="true"></span><span class="sr">${_("Search")}</span>
              </button>
            </form>
          </div>
        </div>
        <div class="signin-box">
          % if not settings.FEATURES['DISABLE_LOGIN_BUTTON']:
            % if course and settings.FEATURES.get('RESTRICT_ENROLL_BY_REG_METHOD') and course.enrollment_domain:
              <a class="link-login" href="${reverse('course-specific-login', args=[course.id.to_deprecated_string()])}${login_query()}">${_("Sign in")}</a>
            % else:
              <a class="link-login" href="/login${login_query()}">${_("Sign in")}</a>
            % endif
          % endif
<!--
          % if not settings.FEATURES['DISABLE_LOGIN_BUTTON']:
            % if course and settings.FEATURES.get('RESTRICT_ENROLL_BY_REG_METHOD') and course.enrollment_domain:
                <a class="btn-1" href="${reverse('course-specific-register', args=[course.id.to_deprecated_string()])}">${_("Register")}</a>
            % else:
                <a class="btn-1" href="/register${login_query()}">${_("Register")}</a>
            % endif
          % endif
-->
        </div>
    % endif
    % if static.show_language_selector():
     <% languages = static.get_released_languages() %>
      % if len(languages) > 1:
        <ol class="user">
          <li class="primary">
            <form action="/i18n/setlang/" method="post" class="settings-language-form" id="language-settings-form">
              <input type="hidden" id="csrf_token" name="csrfmiddlewaretoken" value="${csrf_token}">
              % if user.is_authenticated():
              <input title="preference api" type="hidden" class="url-endpoint" value="${reverse('preferences_api', kwargs={'username': user.username})}" data-user-is-authenticated="true">
              % else:
              <input title="session update url" type="hidden" class="url-endpoint" value="${reverse('session_language')}" data-user-is-authenticated="false">
              % endif
              <label><span class="sr">${_("Choose Language")}</span>
                  <select class="input select language-selector" id="settings-language-value" name="language">
                    % for language in languages:
                      % if language[0] == LANGUAGE_CODE:
                        <option value="${language[0]}" selected="selected">${language[1]}</option>
                      % else:
                        <option value="${language[0]}" >${language[1]}</option>
                      % endif
                    % endfor
                  </select>
              </label>
            </form>
          </li>
        </ol>
      % endif
      % endif
      </div>
      </div>
    </div>
  </div>
</header>
% if course:
<!--[if lte IE 9]>
<div class="ie-banner" aria-hidden="true">${Text(_('{begin_strong}Warning:{end_strong} Your browser is not fully supported. We strongly recommend using {chrome_link} or {ff_link}.')).format(
    begin_strong=HTML('<strong>'),
    end_strong=HTML('</strong>'),
    chrome_link=HTML('<a href="https://www.google.com/chrome" target="_blank">Chrome</a>'),
    ff_link=HTML('<a href="http://www.mozilla.org/firefox" target="_blank">Firefox</a>'),
)}</div>
<![endif]-->
% endif

<%include file="help_modal.html"/>
<script type="text/javascript">
  var expanders = document.querySelectorAll('.header-nav-holder_btn');

if (expanders) {
    [].slice.call(expanders).forEach(function(exp) {
        exp.addEventListener('click', function() {
            exp.parentNode.classList.toggle('show');
        });
    });
}
</script>
