.promo-block {
    position: relative;
    max-width: 1200px;
    margin: 0 auto 51px;
}
.promo-block__holder {
    display: flex;
    margin-bottom: 30px;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (min-width: $desktop-size) {
        flex-wrap: nowrap;
        margin-bottom: 50px;
    }
}
