.theme-course {

    &_holder {
        display: flex;
        border-radius: 4px;
        background-color: #fefefe;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
        min-height: 206px;
        @media screen and (max-width: 640px) {
            flex-direction: column;
            width: 309px;
            margin: 0 auto;
        }
    }
    &_image-holder {
        width: 309px;
        min-width: 309px;
        border-right: 1px solid #d5d5d5;
        position: relative;
        overflow: hidden;
        @media screen and (max-width: 640px) {
            height: 246px;
            margin: 0 auto;
            border-right: none;
            border-bottom: 1px solid #d5d5d5;
        }
    }
    &_image {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 100%;
    }
    &_info {
        display: flex;
        width: 100%;
        padding: 0 0 1px;
    }
    &_info-holder {
        padding: 19px 20px 65px 29px;
        position: relative;
    }
    &_text {
        font: 18px/1.3 $font-bold;
        color: #a3a3a3;
        padding-right: 4px;
    }
    &_title {
        font: 30px $font-light;
        color: #666;
    }
    &_btn-holder {
        position: absolute;
        bottom: 29px;
    }
}