.header-global.theme-header {
    border-bottom: none;
    box-shadow: none;
    background: #fff;
    position: relative;
    height: auto;

    .theme-header {
        
        &_wrapper {
            max-width: $base-width;
            margin: 0 auto;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            padding: 10px 0;
            height: auto;
        }

        &_home-link {
            font-size: 14px;
            text-transform: uppercase;
            position: relative;
            color: #9c9c9c;
            margin-left: 150px;

            &:after {
                content: '';
                border: 8px solid transparent;
                border-left-color: #9c9c9c;
                position: absolute;
                right: -15%;
                top: 0;
            }
        }
    }
    .nav-global {
        margin: 0 0 0 auto;
        display: flex;

        a {
            color: #0d81c1;
            font-size: 14px;
            text-transform: uppercase;
            
            &:hover {
                text-decoration: underline;
                color: #0d81c1;
            }
        }
        li {
            margin-right: 30px;
        }
    }
    .logo {
        width: 127px;
        margin: 0;

        img {
            width: 100%;
        }
    }
    .course-header {
        display: none;
    }
    .nav-courseware,
    .nav-global {
        margin-top: 0;
    }
}
