a.login-theme,
.login-theme {
    background: #57C4BD;
    box-shadow: 0 0 6px 2px rgba(0,0,0,0.10);
    border-radius: 4px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    color: #fff;
    letter-spacing: 0;
    padding: 11px 42px 12px;
    text-transform: uppercase;
    transition: background .3s linear .3s;
    display: none;
    text-align: center;

    &:hover {
        background: #CE3BC8;
        color: #fff;
    }

    @media (min-width: $tablet-size) {
        display: inline-block;
    }

    .video-box & {
        position: absolute;
        top: 218px;
        left: 50px;
    }
    .course-actions & {
        padding-left: 10px;
        padding-right: 10px;
    }
}