a.login-theme,
.login-theme {
    background: $theme-header-btn-color;
    box-shadow: none;
    font: 600 16px/24px 'Artegra Sans', sans-serif;
    border-radius: 46px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    color: #fff;
    letter-spacing: 0;
    padding: 12px 25px;
    text-transform: uppercase;
    transition: background .3s linear;
    text-align: center;

    &:hover {
        background: $color6;
        color: #fff;
    }

    @media (min-width: $tablet-size) {
        display: inline-block;
    }

    .video-box & {
        position: absolute;
        top: 315px;
        left: 50px;
    }

    .course-actions & {
        padding-left: 10px;
        padding-right: 10px;
    }

    &_other {
        display: none;
        @media (min-width: $tablet-size) {
            display: inline-block;
        }
    }

    &_margin {
        margin-right: 10px;
        margin-left: auto;
    }

    &_login {
        color: $color6;
        background: none;

        &:hover {
            background: none;
            color: $color6;
        }
    }
}
