a.login-theme,
.login-theme {
    background: #f39b08;
    box-shadow: 0 0 6px 2px rgba(0,0,0,0.10);
    border-radius: 4px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    color: #fff;
    letter-spacing: 0;
    padding: 11px 42px 12px;
    text-transform: uppercase;
    transition: background color .3s linear .3s;
    text-align: center;

    &:hover {
        background: #fff;
        color: #000;
    }

    @media (min-width: $tablet-size) {
        display: inline-block;
    }

    .video-box & {
        position: absolute;
        top: 315px;
        left: 50px;
    }
    .course-actions & {
        padding-left: 10px;
        padding-right: 10px;
    }
    &_other {
        display: none;
        @media (min-width: $tablet-size) {
            display: inline-block;
        }
    }
    &_register {
        margin-right: 10px;
        margin-left: auto;
    }
}