{% extends "emails/main.html" %}

{% load i18n %}{% load url from future %}{% autoescape off %}
{% block message %}
-->
  <p>Um Ihren Online-Training-Account zu nutzen, folgen Sie bitte dem untenstehenden Link und vergeben Sie ein individuelles Passwort:</p>
  <p>
  {% block reset_link %}
  {{ protocol }}://{{ site_name }}{% url 'student.views.password_reset_confirm_wrapper' uidb36=uid token=token %}
  {% endblock %}
  </p>
  <p>Falls Sie Fragen haben, stehen wir Ihnen sehr gerne zur Verfügung!</p>
  <p>Beste Grüße,</p>
  <p>Ihr Learning Service Team</p>
  <p>
  ETC - Enterprise Training Center <br>
  1030 Wien, Modecenterstrasse 22/Office 4 <br>
  T: +43 1 533 1 777 - 0 <br>
  mailto: LSS@etc.at <br>
  http://www.etc.at
  </p>
  <p>
  Kennzeichnung gem. § 14 UGB: <br>
  ETC - Enterprise Training Center GmbH, Modecenterstrasse 22/Office 4, 1030 Vienna | Commercial Court Vienna, FN 430941m
  </p>
<!--
{% endblock %}
{% endautoescape %}
