{% if web_science.color %}
    #web_science_{{ web_science.course_hash }} .course-title {
        color: {{ web_science.color }};
    }

    #web_science_{{ web_science.course_hash }} article.course {
        border-bottom: 3px solid {{ web_science.color }};
    }
{% endif %}

{% if web_science.image %}
    #web_science_{{ web_science.course_hash }} .cover-image {
        background-image: url({{ web_science.image }});
        background-size: cover;
    }

    #web_science_{{ web_science.course_hash }} .hero {
        background-image: url({{ web_science.image }});
        background-size: cover;
        height: 200px;
        border: solid 15px {{ web_science.color }};
        border-radius: 15px;
    }

    #web_science_{{ web_science.course_hash }} .hero img {
        display: none;
    }

    #web_science_{{ web_science.course_hash }} .cover-image img {
        display: none;
    }
{% endif %}
