a.theme-btn-1, 
.theme-btn-1 {
    font: 18px $font-bold;
    color: #000 !important;
    background: #ffe100;
    /*border-radius: 2px;*/
    border: 2px solid #000;
    padding: 6px 20px 7px;
    white-space: nowrap;
    display: inline-block;

    &:focus,
    &:hover {
        color: #ffe100 !important;
        /*background-color: darken(#dd4628, 10%);*/
        background: #000;
        /*border-radius: 2px;*/
        border: 2px solid #ffe100;
        text-decoration: none;
    }
}
