.nav-holder {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    display: none;
    padding-right: 10px;
    .menu-open & {
        @media (max-width: 760px) {
            display: flex;
            justify-content: center;
            position: absolute;
            top: 79px;
            margin: 0;
            left: 0;
            right: 0;
            padding: 10px 0;
            background: darken($header-color, 5%);
        }
    }
    @media screen and (min-width:760px ) {
        width: 100%;
        display: block;
    }

}