.nav-holder {
    width: auto;
    padding: 0;
    flex-wrap: wrap;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .menu-open & {
        display: flex;
        justify-content: center;
    }

    @media (max-width: 840px) {
        display: none;
        width: 100%;
        padding-top: 10px;
        
        .menu-open & {
            display: block;
        }
    }

    &:after {
        content: '';
        clear: both;
        display: table;
    }
}
