.nav-holder {
    width: auto;
    display: block;
    padding: 0;
    flex-wrap: wrap;
    flex-grow: 1;

    .menu-open & {
        display: flex;
        justify-content: center;
    }

    @media (max-width: $build-header-menu-tablet) {
        display: none;
        width: 100%;
        padding-top: 10px;
    }

    &:after {
        content: '';
        clear: both;
        display: table;
    }
}
