.nav-holder {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    display: none;

    .menu-open & {
        @media screen and (max-width: 759px ) {
            display: flex;
            justify-content: center;
        }
    }
    @media screen and (min-width:760px ) {
        width: 100%;
        display: flex;
        position: relative;
        top: -4px;
        justify-content: space-between;
        align-items: center;
    }

    &:after {
        content: '';
        clear: both;
        display: table;
    }
}