$component-border-radius: 0;
$btn-neutral-border-color: #ff6634;
$btn-neutral-background: #ff6634;
$btn-neutral-color: #fff;
$link-color: #149a9a;
$link-focus-color: lighten($link-color, 10%);
$link-visited-color: darken($link-color, 10%);

$btn-neutral-focus-background: #149a9a;
$btn-neutral-focus-color: #fff;

$font-family-sans-serif: bahij_thesansarabicplain;
$btn-font-weight: normal;

// Import the original styles from edx-platform.
@import "lms/static/sass/discussion/lms-discussion-main-rtl";

@import "../fonts";
@import "../header-global-new";
@import "../layout";
@import "../footer";
@import "../content-wrapper";
@import "../dashboard";
@import "../page-title";
@import "../login-register";
@import "../theme-button";
@import "../search-bar";
@import "../header-nav";
@import "../wrapper-course-material";
@import "../xmodule_display";
@import "../wrapper-course-modes";
@import "../course-index";
@import "../course-info";
@import "../icons";
@import "../home";
@import "../raccoon-block";
@import "../student-profile";
@import "discussion-body";
@import "forum-nav-browse-title";