.main-title {
    font: 42px/1.2 "museosans500",Arial, sans-serif;
    color: #fff;
    position: relative;
    margin: 0 auto;
    margin-top: -30px;
    letter-spacing: 2px;
    text-transform: none;
    &_color {
        color: $active-color;
    }
    &_line {
        position: relative;
        &:after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -5px;
            height: 5px;
            width: 100%;
            background-color: $active-color;
        }
    }
}