.highlighted-courses .courses,
.find-courses .courses {
    padding: 13px 0 15px;
}
.highlighted-courses .courses .course, 
.find-courses .courses .course {
    box-shadow: none;
    border: none;
    border-radius: 0;
    background: #fff;

    &:hover {
        box-shadow: none;
        background: #fff;
        cursor: pointer;
    }
}
.course_heading {
    display: none;
    background: #007db8;
    text-align: right;
    color: #fff;
    font: 13px/17px $font-default;
    padding: 7px;

    &__other {
        background: #622599;
    }
}
.courses-container .courses .course .course-info {
    min-height: 166px;
    height: auto;
    position: relative;
    padding-top: 20px;
    box-sizing: border-box;

    .course-organization {
        padding: 0;
        text-transform: uppercase;
        font: 13px/1.2 Helvetica, Arial, sans-serif;
        color: rgb(46, 46, 46);
        margin: 0 0 7px 0;
    }
    .course-code {
        padding: 0;
        text-transform: uppercase;
        font: 13px/1.2 Helvetica, Arial, sans-serif;
        color: rgb(46, 46, 46);
    }
    .course-title {
        font: 17px/1.2  Helvetica, Arial, sans-serif;
        color: rgb(145, 145, 145);
        text-transform: uppercase;
        margin: 5px 0 0;
        padding: 0;
    }
    .course-date {
        font: 13px/1.2 Helvetica, Arial, sans-serif;
        color: rgb(46, 46, 46);
        padding: 5px 15px 17px 15px;
    }
}
.home .courses-container {
    @extend %wrapper;

    &_heading {
        font: 28px/36px $font-regular;
        color: #007db8;
        display: block;
        padding: 54px 0 0;
    }
    &_btn-holder {
        text-align: right;
        @media screen and (min-width: $media-desktop){
            margin-top: -35px;
        }
    }
}
.content-wrapper {
    background: #e6e6e6;
}
.home .highlighted-courses {
    overflow: hidden;
    margin-bottom: 0;
}
.course-info header.course-profile {
    min-height: 280px;
    height: auto;
}
.course {
    &-name {
        padding: 0 0 0 15px;
        margin-bottom: 20px;
    }
    &-image {
        &__title {
            box-sizing: border-box;
            background-color: #007db8;
            color: #fff;
            position: absolute;
            top: -25px;
            width: 100%;
            text-align: right;
            min-height: 30px;
            padding-right: 10px;
            font: 13px/30px Helvetica,Arial, sans-serif;
            font-weight: 300;
            text-transform: uppercase;
            display: none;
        }
    }
}
.courses-container .courses .course .course-image .cover-image img {
    min-height: 160px;
}