.header-global {
    border-bottom: none;
    box-shadow: none;
    background: #fff;
    position: relative;
    width: 100%;
    height: auto;

    h1.logo {
        margin: 0;
        position: relative;
        font-size: 2em;
    }
    .user {
        margin: 0 0 0 auto;

        .rtl & {
            margin: 0 auto 0 0;
        }

        &>.primary>a {
            background: transparent;
            box-shadow: none;

            &:hover {
                background: transparent;
                box-shadow: none;
                color: #3394c9;
            }
        }
    }
}