.header-global {
    border-bottom: none;
    box-shadow: none;
    background: transparent;
    position: relative;
    width: 100%;
    height: auto;

    h1.logo {
        margin: 0;
    }
    .user {
        margin: 0 0 0 auto;

        &>.primary>a {
            background: transparent;
            box-shadow: none;

            &:hover {
                background: transparent;
                box-shadow: none;
                color: #3394c9;
            }
        }
    }
}